@import 'src/app/shared/scss/data-table-dialog';

:host {
  .paragraph__text {
    color: $gray-dark;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin: $spacing-s 0 $spacing-xs 0;
    padding-bottom: $spacing-s;
  }
}
