<bspl-list-view
  [title]="title"
  [customLabels]="customLabels"
  [hasFiltering]="true"
  [hasCreating]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (create)="openAddReportDialog()"
>
  <ng-container bsplListViewTitle>
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-button
        design="tertiary"
        [label]="'LIST.MASTER_DATA.globalReportsSettings.buttons.deleteRepots' | translate"
        (click)="onDeleteGlobalReportsClick($event)"
      ></bspl-button>
    </bspl-table-selection-toolbar>
  </ng-container>

  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="reportDescription"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.reportDescription' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.reportDescription' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="fileType"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.fileType' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.fileType' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="format"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.format' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.format' | translate"
          [options]="formatFilterOptionList"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="userType"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.userType' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.userType' | translate"
          [options]="userTypeOptionList"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="frequency"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.frequency' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.frequency' | translate"
          [options]="frequencyOptionList"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="channel"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.channel' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.channel' | translate"
          [options]="channelOptionList"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="threshold"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.threshold' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.threshold' | translate"
          [options]="thresholdOptionList"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="subscribeLomus"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.subscribeLomus' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.subscribeLomus' | translate"
          [options]="subscribeLomusOptionList"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="status"
          [label]="'LIST.MASTER_DATA.globalReportsSettings.filters.labels.status' | translate"
          [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.filters.placeholders.status' | translate"
          [options]="statusOptionList"
        >
        </bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rowClassesModifier]="rowClassesModifier"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    (checkboxChange)="onRowsSelectionChange($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
