@import 'components/section/section';

:host {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-xl 0;

    .header-title {
      font-size: $font-size-xxl;
      color: $blue-primary;
      display: flex;
      align-items: center;
      font-weight: normal;
    }
  }

  .airline-properties {
    margin-top: $spacing-xl;
    padding: $spacing-xl $spacing-xxxxl 0 $spacing-xxxxl;
    background-color: $gray-subtle;

    .airline-logo-container {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacing-m;
      border: 1px solid $gray-middle;

      img {
        max-height: 6rem;
        margin: $spacing-m 0;
      }
    }
  }
}
