<bspl-list-view
  [title]="header + ' / ' + (userBsps$ | async)"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [hasAdvancedSearchFilter]="true"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (download)="download()"
  (showAdvancedSearch)="toggleAdvancedSearch()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          [options]="airlineCodeOptions$ | async"
          [virtualScroll]="true"
          formControlName="airlines"
          [label]="'MASTER_DATA.airline.airlineCodeName' | translate"
          [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="active"
          [options]="activeOptions"
          [label]="'MASTER_DATA.airline.status' | translate"
          [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'MASTER_DATA.airline.registerDate' | translate"
          formControlName="registerDate"
          [selectionMode]="'range'"
          [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'MASTER_DATA.airline.expiryDate' | translate"
          formControlName="expiryDate"
          [selectionMode]="'range'"
          [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
        ></bspl-datepicker>
      </div>
    </div>
    <div *ngIf="showAdvancedSearch">
      <div class="row">
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-6">
              <bspl-select
                [multiple]="true"
                formControlName="designator"
                [options]="designatorOptions$ | async"
                [label]="'MASTER_DATA.airline.designator' | translate"
                [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
              ></bspl-select>
            </div>
            <div class="col-lg-6">
              <bspl-input
                formControlName="vatNumber"
                [label]="'MASTER_DATA.airline.vatNumber' | translate"
                [placeholder]="'MASTER_DATA.airline.placeholders.vatNumber' | translate"
              >
              </bspl-input>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-6">
              <bspl-select
                formControlName="easyPayStatus"
                [options]="easyPayStatusOptions"
                [label]="'MASTER_DATA.airline.easyPayStatus' | translate"
                [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
              >
              </bspl-select>
            </div>
            <div class="col-lg-6">
              <bspl-datepicker
                [label]="'MASTER_DATA.airline.easyPayEffectiveFrom' | translate"
                formControlName="easyPayEffectiveFrom"
                [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
              ></bspl-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="locality"
            [label]="'MASTER_DATA.airline.locality' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.locality' | translate"
          >
          </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="city"
            [label]="'MASTER_DATA.airline.city' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.city' | translate"
          >
          </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="state"
            [label]="'MASTER_DATA.airline.state' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.state' | translate"
          >
          </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="addressCountriesList"
            [virtualScroll]="true"
            [label]="'MASTER_DATA.airline.addressCountry' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.choose' | translate"
            formControlName="addressCountry"
          ></bspl-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="postalCode"
            [label]="'MASTER_DATA.airline.postalCode' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.postalCode' | translate"
          >
          </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="email"
            [label]="'MASTER_DATA.airline.email' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.email' | translate"
          >
          </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="telephone"
            [label]="'MASTER_DATA.airline.telephone' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.telephone' | translate"
          >
          </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input
            formControlName="name"
            [label]="'MASTER_DATA.airline.contactName' | translate"
            [placeholder]="'MASTER_DATA.airline.placeholders.contactName' | translate"
          >
          </bspl-input>
        </div>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="actions"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowLinkClick)="onViewAirline($event)"
    (actionClick)="onActionClick($event)"
  ></bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="MASTER_DATA.airline.address" [value]="row.address?.address1"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.locality" [value]="row.address?.address2"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.city" [value]="row.address?.city"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.state" [value]="row.address?.state"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.postalCode" [value]="row.address?.postalCode"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.country" [value]="row.address?.country"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="MASTER_DATA.airline.email" [value]="row.contact?.email"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.telephone" [value]="row.contact?.telephone"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.contactName">
        {{ row.contact?.firstName }} {{ row.contact?.lastName }}
      </bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="MASTER_DATA.airline.vatNumber" [value]="row.vatNumber"></bspl-property>
      <bspl-property label="MASTER_DATA.airline.easyPayStatus" [value]="row.easyPayStatus"></bspl-property>
      <bspl-property
        label="MASTER_DATA.airline.easyPayEffectiveFrom"
        [value]="row.easyPayEffectiveFrom | date : 'dd/MM/yyyy'"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
