<bspl-list-view
  [title]="'SFTP_ACCOUNTS.viewTitle'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  [hasDownloading]="true"
  [hasCreating]="false"
  (queryChange)="loadData($event)"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage$ | async }}</span>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="login"
          [label]="'SFTP_ACCOUNTS.filters.login' | translate"
          [placeholder]="'SFTP_ACCOUNTS.filters.placeholders.login' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          [label]="'SFTP_ACCOUNTS.filters.creationDate' | translate"
          formControlName="creationDate"
          [placeholder]="'SFTP_ACCOUNTS.filters.placeholders.creationDate' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="dataSource.loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>
