@import 'theme/variables/index';

.back-to-top {
  background-color: $gray-deep;
  border-radius: $border-radius-large;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
