<div class="list-view-action-bar" #actionBar>
  <div class="list-view-action-bar-content">
    <span class="view-title h3">{{ filterTitle }}</span>
  </div>
  <div class="view-actions">
    <bspl-button
      *ngIf="isFilterEnabled"
      l10nTranslate
      label="common.filter"
      [design]="buttonDesign.Tertiary"
      [icon]="filterButtonIcon"
      (onClick)="toggleFilter()"
    ></bspl-button>
  </div>
</div>

<div class="list-view-filter">
  <div class="list-view-filter-editable" *ngIf="isFilterExpanded">
    <div class="row">
      <div class="col-md-12" (keydown.enter)="handleFilterPanelEnterKey($event)">
        <ng-content select="[filterSearchForm]"></ng-content>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right action-button-container">
          <bspl-button
            *ngIf="isResetEnabled"
            class="action-button"
            l10nTranslate
            [design]="buttonDesign.Tertiary"
            [label]="predefinedFilters ? labels.reset : labels.clear"
            (onClick)="resetToPredefined($event)"
          >
          </bspl-button>
          <bspl-button
            class="action-button"
            l10nTranslate
            [isDisabled]="!isFilterValid"
            [label]="labels.search"
            (click)="search($event)"
          ></bspl-button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-view-filter-summary" *ngIf="!isFilterExpanded && appliedFilters?.length">
    <div>
      <span class="filter-label">{{ labels.filterBy | translate }}</span>
      <div class="tags-container">
        <bspl-tag
          *ngFor="let filter of appliedFilters"
          class="filter-tag"
          [closeable]="filter.closable"
          [value]="filter.label"
          (remove)="removeTag(filter)"
          (click)="viewFilters()"
        ></bspl-tag>
      </div>
    </div>
    <span *ngIf="isResetEnabled" class="clear-filter" (click)="resetToPredefined()" l10nTranslate>
      {{ predefinedFilters ? labels.resetFilters : labels.clearFilters }}
    </span>
  </div>
</div>
