@import '~node_modules/@angular/cdk/overlay';
@import 'theme/variables/index';

$main-nav-submenu-link-color: $blue-primary;
$main-nav-submenu-padding: $spacing-s;
$main-nav-submenu-item-height: 5rem;
$main-nav-submenu-item-padding-right: 7rem;

bspl-sub-menu {
  display: flex;
  justify-content: stretch;
  // Make sure that sub-menus have their height calculated properly.
  // Otherwise overflow is not properly triggered.
  min-height: 1px;
}

.cdk-overlay-pane.main-nav-submenu-pane {
  // Make sure that sub-menus have their height calculated properly.
  // Otherwise overflow is not properly triggered.
  justify-content: stretch;
}

bspl-sub-menu .main-nav-submenu {
  overflow: auto;
  margin: 0;
  padding: $main-nav-submenu-padding 0;
  list-style: none;
  transition: all 0.2s;
  background-color: $white;
  box-shadow: $shadow-z-3;
  cursor: default;

  .main-nav-submenu-item {
    display: block;
    margin: 0;
    padding: 0;
    height: $main-nav-submenu-item-height;
    position: relative;
    cursor: pointer;
  }

  // We make the selector more specific to override default anchor styles
  a.main-nav-submenu-link {
    max-width: 40rem;
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: $main-nav-submenu-item-padding-right;
    padding-left: $spacing-xl;
    color: $main-nav-submenu-link-color;
    font-size: $font-size-m;

    & > span {
      position: relative;
      display: inline-block;
      line-height: $main-nav-submenu-item-height;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.has-children {
      background: url('/assets/images/header/icon-arrow-idle.svg') no-repeat right 10px center;

      &.hover {
        background-image: url('/assets/images/header/icon-arrow-active.svg');
        // The trigger should appear above the overlay backdrop
        z-index: $cdk-z-index-overlay-backdrop + 1;
      }
    }

    &:hover {
      background-color: hover-color($white);
    }
  }

  &.menu-position-left {
    a.main-nav-submenu-link {
      &.has-children {
        padding-left: $main-nav-submenu-item-padding-right;
        padding-right: $spacing-xxxxl;
        justify-content: flex-end;
        transform: rotate(180deg);

        & > span {
          position: relative;
          transform: rotate(-180deg);
        }
      }
    }
  }
}
