<ul cdkScrollable class="main-nav-submenu" [class.menu-position-left]="menuPosition === MenuPosition.Left">
  <ng-container *ngFor="let menuItem of menuItems">
    <li class="main-nav-submenu-item" *ngIf="menuItem.enabled && menuItem.showMenu && menuItem.label">
      <a
        #menu="bsplMenuTrigger"
        class="main-nav-submenu-link"
        [class.has-children]="menuItem.children?.length > 0"
        [class.hover]="menu === openedMenu"
        bsplMenuTrigger
        [menuTriggerEvent]="'hover'"
        [menuTemplate]="subMenuTemplate"
        [menuPosition]="menuPosition === MenuPosition.Left ? 'before' : 'after'"
        (menuOpened)="onOpen(menu, menuItem)"
        (menuClosed)="onClose()"
        (click)="navigateTo(menuItem)"
      >
        <span>{{ menuItem.label | translate }}</span>
      </a>

      <ng-template #subMenuTemplate>
        <bspl-sub-menu [menuItems]="menuItem.children" [menuPosition]="menuPosition"></bspl-sub-menu>
      </ng-template>
    </li>
  </ng-container>
</ul>
