@import 'theme/variables/index';

.view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;

  .user-bsp-select {
    line-height: $line-height-xl;

    &::before {
      content: '/';
      font-size: $font-size-xxl;
      color: $gray-middle;
    }

    bspl-select {
      display: inline-flex;
    }
  }
}

bspl-floating-panel.opened {
  margin-top: $spacing-xl;
}
