@import 'theme/variables/index';

label {
  margin: 0;
}

.expand-toggle {
  display: flex;
  align-items: center;
  color: $blue-primary;
  cursor: pointer;

  .material-icons {
    font-size: $font-size-xl;
    padding: 0 $spacing-xxs;
  }
}

:host {
  display: block;
  margin: 0 $spacing-xl;

  &::ng-deep .totals-table {
    .simple-table-header-cell {
      padding-top: $spacing-m;
      line-height: $line-height-s;
      width: 15rem;
    }

    .simple-table-cell {
      color: $blue-primary;
    }

    .simple-table-row {
      .expand-toggle .material-icons {
        color: transparent;

        &.active-icon {
          color: $blue-primary;
        }
      }

      &:hover .expand-toggle .material-icons:not(.active-icon) {
        color: $gray-deep-middle;
      }
    }

    .simple-table-row:last-child {
      .simple-table-cell {
        padding-bottom: $spacing-s;
      }
    }

    .actions-column-cell {
      width: 26rem;

      label {
        color: $gray-dark;
      }

      &.simple-table-cell {
        padding-left: 0;
      }
    }

    .summary-column-cell {
      width: 10rem;
    }

    .last-regular-cell {
      border-right: 1px solid $blue-primary;
      padding-right: $spacing-xxxl;
    }

    &.expanded {
      .simple-table-row {
        &:nth-last-child(2) {
          border-color: $blue-primary;
        }

        &:last-child {
          .simple-table-cell {
            font-weight: bold;
          }
        }
      }
    }

    &.collapsed {
      .simple-table-header-cell {
        padding-top: $spacing-s;
        padding-bottom: $spacing-xxs;
      }

      .simple-table-row,
      .simple-table-header {
        border-color: transparent;
      }

      .simple-table-cell {
        padding-top: 0;
        padding-bottom: $spacing-s;

        &:not(.actions-column-cell) {
          font-size: $font-size-l;
          line-height: $line-height-l;
        }
      }
    }

    th.tooltip-header-cell {
      color: $gray-deep;
      font-size: $font-size-s;
      line-height: $line-height-s;
      font-weight: bold;
    }
  }
}
