@import 'theme/variables/index';

$height: 76px;
$defaultTitlePadding: 0 4.5rem 0 $spacing-xxxxl;
$defaultContentPadding: $spacing-xxxxl;
$box-shadow-color: rgba(0, 47, 91, 0.1);
$box-shadow-below: 0 2px 8px 0 $box-shadow-color;

.accordionItem {
  border-radius: 2px;
  background-color: $gray-subtle;

  .accordionItem__title {
    position: relative;
    padding: $defaultTitlePadding;
    cursor: pointer;
    box-shadow: $box-shadow-below;

    .accordionItem__title--template,
    .accordionItem__title--default {
      line-height: $height;
      padding-right: $spacing-xxxl;
      font-size: $font-size-xl;

      & ::ng-deep > * {
        display: inline-block;
      }
    }

    .accordionItem__title--default,
    .iconTemplate {
      color: $blue-primary;
    }

    .accordionItem__title__arrow {
      position: absolute;
      top: calc(50% - 0.55em);
      right: 0;
      transition: transform 0.5s;
      transform-origin: center 0.6em;
      padding: inherit;
      user-select: none;

      &.accordionItem__title__arrow--up {
        transform: rotate(180deg);
      }

      i {
        font-size: 2rem;
      }
    }

    .iconTemplate {
      span {
        vertical-align: middle;
      }

      .material-icons {
        font-size: 2rem;
        vertical-align: middle;
        padding: 0 $spacing-xs;

        &.error {
          color: $red;
        }

        &.warning {
          color: $orange;
        }

        &.info {
          color: $blue-ocean;
        }
      }
    }
  }

  .accordionItem__content {
    padding: $spacing-xl $defaultContentPadding;
    // Required by the @slideInOut animation
    // Includes the padding when animating the height
    box-sizing: content-box;
  }
}
