<div class="accordionItem pdf-no-margin" [ngClass]="{ 'accordionItem--active': open }">
  <div (click)="onClick()" class="accordionItem__title">
    <div
      class="accordionItem__title--template"
      [hidden]="!titleTemplate"
      [ngClass]="{
        iconTemplate: titleTemplate === iconTemplate
      }"
    >
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </div>
    <div [hidden]="titleTemplate" class="accordionItem__title--default pdf-hide-in">
      {{ title | translate }}
    </div>

    <div class="pdf-hide-in" [ngClass]="{ accordionItem__title__arrow: true, 'accordionItem__title__arrow--up': open }">
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
  <div class="accordionItem__content pdf-padding" *ngIf="open" [@slideInOut]>
    <ng-content></ng-content>
  </div>
</div>

<span #openListener *ngIf="open" hidden></span>

<ng-template #iconTempl>
  <span>{{ title | translate }}</span>
  <i class="material-icons info" [hidden]="!showInfoIcon">info</i>
  <i class="material-icons warning" [hidden]="!showWarningIcon">warning</i>
  <i class="material-icons error" [hidden]="!showErrorIcon">error</i>
</ng-template>
