<bspl-list-view
  [title]="titleLabel"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="hasData$ | async"
  [isInTab]="true"
  [filterFormatter]="displayFormatter"
  [query]="query$ | async"
  [noticeMessage]="infoMessage"
  (download)="onDownload()"
  (queryChange)="onQueryChanged($event)"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="highlighted-filter" *ngIf="hasLeanPermission || this.isIataUser">
      <bspl-select
        formControlName="bsps"
        [options]="bspList$ | async"
        [label]="'TIP.products.filters.labels.bsps' | translate"
        [placeholder]="'TIP.products.filters.placeholders.bsps' | translate"
        [multiple]="true"
      >
      </bspl-select>
      <span>{{ 'TIP.products.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3" *ngIf="!isIataUser">
        <bspl-select
          [options]="statusList"
          formControlName="status"
          [label]="'TIP.products.filters.labels.status' | translate"
          [placeholder]="'TIP.products.filters.placeholders.status' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="providerList$ | async"
          formControlName="providers"
          [label]="'TIP.products.filters.labels.providers' | translate"
          [placeholder]="'TIP.products.filters.placeholders.providers' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="productList$ | async"
          formControlName="products"
          [label]="'TIP.products.filters.labels.products' | translate"
          [placeholder]="'TIP.products.filters.placeholders.products' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isAirlineUser || isIataUser">
        <bspl-select
          formControlName="category"
          [options]="categoriesList"
          [label]="'TIP.products.filters.labels.category' | translate"
          [placeholder]="'TIP.products.filters.placeholders.category' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isAgentUser">
        <bspl-input
          formControlName="issuerName"
          [label]="'TIP.products.filters.labels.issuerName' | translate"
          [placeholder]="'TIP.products.filters.placeholders.issuerName' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" *ngIf="!isIataUser">
        <bspl-input
          formControlName="formOfPayment"
          [label]="'TIP.products.filters.labels.formOfPayment' | translate"
          [placeholder]="'TIP.products.filters.placeholders.formOfPayment' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" *ngIf="isIataUser">
        <bspl-select
          formControlName="formOfPayment"
          [options]="formOfPaymentsList"
          [label]="'TIP.products.filters.labels.formOfPayment' | translate"
          [placeholder]="'TIP.products.filters.placeholders.selectFormOfPayment' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isAirlineUser">
        <bspl-select
          [multiple]="true"
          [options]="countryLevelConsentTypeList"
          formControlName="countryLevelConsentType"
          [label]="'TIP.products.filters.labels.bspConsent' | translate"
          [placeholder]="'TIP.products.filters.placeholders.bspConsent' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isAirlineUser">
        <bspl-select
          formControlName="countryLevelConsentCostRecoveryType"
          [options]="costRecoveryTypeList"
          [label]="'TIP.products.filters.labels.bspConsentCostRecoveryType' | translate"
          [placeholder]="'TIP.products.filters.placeholders.bspConsentCostRecoveryType' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isAirlineUser">
        <bspl-select
          formControlName="countryLevelConsentCostRecoveryCurrency"
          [multiple]="true"
          [virtualScroll]="true"
          [options]="currencyList$ | async"
          [label]="'TIP.products.filters.labels.bspConsentCostRecoveryCurrency' | translate"
          [placeholder]="'TIP.products.filters.placeholders.bspConsentCostRecoveryCurrency' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isAirlineUser || isIataUser">
        <bspl-datepicker
          formControlName="effectiveFrom"
          selectionMode="range"
          [label]="'TIP.products.filters.labels.effectiveFrom' | translate"
          [placeholder]="'TIP.products.filters.placeholders.effectiveFrom' | translate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3" *ngIf="isAirlineUser || isIataUser">
        <bspl-datepicker
          formControlName="effectiveTo"
          selectionMode="range"
          [label]="'TIP.products.filters.labels.effectiveTo' | translate"
          [placeholder]="'TIP.products.filters.placeholders.effectiveTo' | translate"
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="data$ | async"
    [primaryActions]="actions"
    [isLoading]="loading$ | async"
    (actionClick)="onActionClick($event)"
    [rowDetailTemplate]="isAirlineUser ? rowAirlineDetailTemplate : isAgentUser ? rowAgentDetailTemplate : null"
    (rowLinkClick)="onRowLinkClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowAirlineDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="TIP.products.rowDetails.providerCode" [value]="row.provider.code"></bspl-property>
      <bspl-property label="TIP.products.rowDetails.productCode" [value]="row.code"></bspl-property>
    </bspl-property-list>
    <bspl-property-list
      class="col-md-4 col-sm-4 property-list-compact"
      header="TIP.products.rowDetails.sectionTitle.bspLevelConsents"
    >
      <bspl-property label="TIP.products.rowDetails.costRecoveryType">
        {{
          row.countryLevelConsent?.costRecovery?.type
            ? ('TIP.products.costRecoveryType.' + row.countryLevelConsent.costRecovery.type | translate)
            : ('' | bsplEmpty)
        }}
      </bspl-property>
      <bspl-property
        label="TIP.products.rowDetails.costRecoveryAmount"
        [value]="row.countryLevelConsent?.costRecovery?.amount"
      >
      </bspl-property>
      <bspl-property
        label="TIP.products.rowDetails.costRecoveryCurrency"
        [value]="row.countryLevelConsent?.costRecovery?.currency.code"
      ></bspl-property>
      <bspl-property
        label="TIP.products.rowDetails.effectiveFrom"
        [value]="row.countryLevelConsent?.effectiveFrom | dateTimeFormat : 'date'"
      ></bspl-property>
      <bspl-property
        label="TIP.products.rowDetails.effectiveTo"
        [value]="row.countryLevelConsent?.effectiveTo | dateTimeFormat : 'date'"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list
      class="col-md-4 col-sm-4 property-list-compact"
      header="TIP.products.rowDetails.sectionTitle.agentLevelConsents"
    >
      <bspl-property label="TIP.products.rowDetails.no" [value]="row.agentLevelConsentsInfo.no"></bspl-property>
      <bspl-property
        label="TIP.products.rowDetails.yesWithRecovery"
        [value]="row.agentLevelConsentsInfo.costRecovery"
      ></bspl-property>
      <bspl-property
        label="TIP.products.rowDetails.yesWithoutRecovery"
        [value]="row.agentLevelConsentsInfo.yes"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
<ng-template #rowAgentDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-center">
      <bspl-property label="TIP.products.rowDetails.providerCode" [value]="row.provider.code"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-center">
      <bspl-property label="TIP.products.rowDetails.productCode" [value]="row.code"></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
