@import 'theme/variables/index';

:host ::ng-deep {
  .ngx-datatable .datatable-row-detail {
    padding: 0;
  }

  &::ng-deep {
    .alertMessage .material-icons {
      align-self: flex-start;
    }
  }
}

.button-download-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.7rem;
  padding-bottom: $spacing-xxxl;
}
