<bspl-list-view
  [title]="header"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [hasAdvancedSearchFilter]="true"
  [filterFormatter]="filterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  [noticeMessage]="noticeMessage | translate"
  (queryChange)="loadData($event)"
  (download)="download()"
  (showAdvancedSearch)="toggleAdvancedSearch()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBsps"
        formControlName="bspId"
        [label]="'MASTER_DATA.agent.bspFilter' | translate"
        [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
        [isDisabled]="!userBsps?.length"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'MASTER_DATA.agent.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="agentCodesList$ | async"
          [virtualScroll]="true"
          formControlName="agentCodeName"
          [label]="'MASTER_DATA.agent.agentCodeName' | translate"
          [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="parentIataCode"
          [placeholder]="'MASTER_DATA.agent.placeholders.enterParentIataCode' | translate"
          [label]="'MASTER_DATA.agent.parentIataCode' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="active"
          [options]="activeOptions"
          [label]="'MASTER_DATA.agent.status' | translate"
          [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'MASTER_DATA.agent.registerDate' | translate"
          formControlName="registerDate"
          [selectionMode]="'range'"
          [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'MASTER_DATA.agent.expiryDate' | translate"
          formControlName="expiryDate"
          [selectionMode]="'range'"
          [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
        ></bspl-datepicker>
      </div>
    </div>
    <div *ngIf="showAdvancedSearch">
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="locationClassList"
            [label]="'MASTER_DATA.agent.locationClass' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
            formControlName="locationClass"
          ></bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="locationTypeList"
            [label]="'MASTER_DATA.agent.locationType' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
            formControlName="locationType"
          ></bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="remittanceFrequencyList"
            [label]="'MASTER_DATA.agent.remittanceFrequency' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
            formControlName="remittanceFrequency"
          ></bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-input formControlName="vatNumber" [label]="'MASTER_DATA.agent.vatNumber' | translate"> </bspl-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-input formControlName="locality" [label]="'MASTER_DATA.agent.locality' | translate"> </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input formControlName="city" [label]="'MASTER_DATA.agent.city' | translate"> </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input formControlName="state" [label]="'MASTER_DATA.agent.state' | translate"> </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="addressCountriesList$ | async"
            [virtualScroll]="true"
            [label]="'MASTER_DATA.agent.addressCountry' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
            formControlName="addressCountry"
          ></bspl-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-input formControlName="postalCode" [label]="'MASTER_DATA.agent.postalCode' | translate"> </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input formControlName="email" [label]="'MASTER_DATA.agent.email' | translate"> </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input formControlName="telephone" [label]="'MASTER_DATA.agent.telephone' | translate"> </bspl-input>
        </div>
        <div class="form-group col-md-3">
          <bspl-input formControlName="fax" [label]="'MASTER_DATA.agent.fax' | translate"> </bspl-input>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="cashFormStatuses$ | async"
            formControlName="cash"
            [label]="'MASTER_DATA.agent.cashFormOfPayment' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="easyPayStatuses$ | async"
            formControlName="easyPay"
            [label]="'MASTER_DATA.agent.easyPayFormOfPayment' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="paymentCardStatuses$ | async"
            formControlName="paymentCard"
            [label]="'MASTER_DATA.agent.paymentCardFormOfPayment' | translate"
            [placeholder]="'MASTER_DATA.agent.placeholders.choose' | translate"
          >
          </bspl-select>
        </div>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowLinkClick)="onViewAgent($event)"
    (actionClick)="onActionClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-large-gutters row-with-separators m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="MASTER_DATA.agent.address" [value]="row.address?.street"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.locality" [value]="row.address?.locality"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.city" [value]="row.address?.city"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.state" [value]="row.address?.state"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.addressCountry" [value]="row.address?.country"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="MASTER_DATA.agent.postcode" [value]="row.address?.postalCode"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.email" [value]="row.contact?.email"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.telephone" [value]="row.contact?.telephone"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.fax" [value]="row.contact?.fax"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="MASTER_DATA.agent.vatNumber" [value]="row.vatNumber"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.remittanceFrequency" [value]="row.remittanceFrequency"></bspl-property>
      <bspl-property label="MASTER_DATA.agent.locationClass" [value]="row.locationClass"></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
