<div class="text-collapsable-container">
  <div class="collapsable-title">
    {{ data.title }}
  </div>
  <div class="collapsable-subtitle">
    {{ data.subtitle }}
  </div>
  <div #collapsableContent class="collapsable-content" [ngClass]="{ 'collapsable-content__expanded': open }">
    {{ data.content }}
  </div>
  <div class="collapse-link" [ngClass]="{ 'collapse-link__arrow--up': open }" [hidden]="!showLink">
    <a (click)="onClick()"
      ><i class="material-icons">keyboard_arrow_down</i
      ><span class="link-text">{{ !open ? ('see_more' | translate) : ('see_less' | translate) }}</span></a
    >
  </div>
</div>
