@import 'theme/variables/index';

.text-collapsable-container {
  .collapsable-title {
    color: $blue-primary;
    font-size: $font-size-xxl;
    font-weight: normal;
    line-height: $line-height-xl;
    margin-bottom: $spacing-xxs;
  }

  .collapsable-subtitle {
    color: $gray-deep;
    font-size: $font-size-m;
    font-weight: 500;
    line-height: $line-height-m;
    text-transform: uppercase;
  }

  .collapsable-content {
    color: $gray-deep;
    font-size: $font-size-m;
    font-weight: normal;
    line-height: $line-height-m;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;

    &.collapsable-content__expanded {
      overflow: visible;
      white-space: pre-line;
      text-overflow: initial;
    }
  }

  .collapse-link {
    a {
      color: $blue-light;
      display: flex;
      align-items: center;
      cursor: pointer;
      width: fit-content;

      .material-icons {
        font-size: 2rem;
      }

      .link-text {
        font-size: $font-size-m;
      }
    }

    &.collapse-link__arrow--up {
      a {
        .material-icons {
          transform: rotate(180deg);
        }
      }
    }
  }
}
