@import 'theme/variables/index';

.header {
  &::after {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  h3 {
    margin-bottom: $spacing-xl;
    float: left;
  }

  .actions-container {
    float: right;

    bspl-button:first-child {
      margin-right: $spacing-s;
    }
  }
}

.section-container {
  padding: $spacing-l 0;
  background-color: $gray-subtle;
}

.reg-info-header {
  margin-top: $spacing-l;
}

.reg-info-container {
  bspl-property-list ::ng-deep label.property-label {
    display: none;

    & + span.property-value {
      padding-left: 0;
    }
  }
}
