<div class="header">
  <h3>{{ 'MENU.WECHAT.settings.menu.registration.titles.summary.pageTitle' | translate }}</h3>

  <div class="actions-container">
    <ng-container *ngIf="isPending">
      <bspl-button
        [label]="'BUTTON.DEFAULT.APPROVE'"
        [design]="buttonDesign.Secondary"
        (onClick)="approveButtonClicked()"
      ></bspl-button>

      <bspl-button
        [label]="'BUTTON.DEFAULT.REJECT'"
        [design]="buttonDesign.Primary"
        (onClick)="rejectButtonClicked()"
      ></bspl-button>
    </ng-container>

    <ng-container *ngIf="isRegistered">
      <bspl-button
        [label]="'BUTTON.DEFAULT.DEACTIVATE'"
        [design]="buttonDesign.Secondary"
        (onClick)="deactivateClicked()"
      ></bspl-button>

      <bspl-button
        [hidden]="isIata"
        [label]="'BUTTON.DEFAULT.APPLYCHANGES'"
        [design]="buttonDesign.Primary"
        (onClick)="applyChangesClicked()"
        [isDisabled]="!(isApplyChangesButtonEnabled$ | async)"
      ></bspl-button>
    </ng-container>
  </div>
</div>

<div class="section-container">
  <bspl-spinner [isLoading]="isLoading$ | async">
    <div class="row">
      <bspl-property-list class="list col-8 offset-2">
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.regId' | translate"
          [value]="regSummary?.id"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.accountType' | translate"
          [value]="regSummary?.accountType"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.registrant' | translate"
          [value]="regSummary?.name"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.mobile' | translate"
          [value]="regSummary?.phone"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.email' | translate"
          [value]="regSummary?.email"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.status' | translate"
          [value]="regSummary?.status"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.reason' | translate"
          [value]="regSummary?.cancellationReason || regSummary?.registrationReason"
        ></bspl-property>
        <bspl-property
          [label]="'MENU.WECHAT.settings.menu.registration.titles.summary.labels.appDate' | translate"
          [value]="regSummary?.applicationDate"
        ></bspl-property>
      </bspl-property-list>
    </div>
  </bspl-spinner>
</div>

<ng-container *ngIf="isRegistered && !isIata">
  <div class="header reg-info-header">
    <h3>{{ 'MENU.WECHAT.settings.menu.registration.titles.regAccessInfo.pageTitle' | translate }}</h3>
  </div>

  <div class="section-container reg-info-container" [formGroup]="regAccessInfoForm">
    <bspl-spinner [isLoading]="isLoading$ | async">
      <ng-container>
        <div class="row">
          <bspl-property-list class="list col-8 offset-2">
            <bspl-property *ngIf="isAgent">
              <bspl-checkbox
                formControlName="billingReport"
                [label]="'MENU.WECHAT.settings.menu.registration.titles.regAccessInfo.labels.billingReport' | translate"
              ></bspl-checkbox>
            </bspl-property>
            <bspl-property>
              <bspl-checkbox
                formControlName="businessNotification"
                [label]="
                  'MENU.WECHAT.settings.menu.registration.titles.regAccessInfo.labels.businessNotification' | translate
                "
              ></bspl-checkbox>
            </bspl-property>
            <bspl-property *ngIf="isAirline">
              <bspl-checkbox
                formControlName="dpcFileReport"
                [label]="'MENU.WECHAT.settings.menu.registration.titles.regAccessInfo.labels.dpcFileReport' | translate"
              ></bspl-checkbox>
            </bspl-property>
            <bspl-property>
              <bspl-checkbox
                formControlName="ticketingAuthority"
                [label]="
                  'MENU.WECHAT.settings.menu.registration.titles.regAccessInfo.labels.ticketingAuthority' | translate
                "
              ></bspl-checkbox>
            </bspl-property>
          </bspl-property-list>
        </div>
      </ng-container>
    </bspl-spinner>
  </div>
</ng-container>
