<div [formGroup]="form">
  <section class="default-filters">
    <bspl-datepicker
      [label]="'MENU.ACDMS.QUERY.forwardDates' | translate"
      formControlName="date"
      [placeholder]="'ADM_ACM.query.filters.placeholders.dateRange' | translate"
      [selectionMode]="'range'"
    ></bspl-datepicker>
    <bspl-select
      formControlName="airline"
      [options]="airlineDropdownOptions$ | async"
      [label]="'USERS.types_of_users.AIRLINE' | translate"
      [placeholder]="'sales.billingAnalysisDialog.airlineCode.placeholder' | translate"
      [appendToBody]="true"
    >
    </bspl-select>
  </section>
</div>
