@import 'theme/variables/index';

.default-filters {
  margin: $spacing-m 0 $spacing-m 0;
}

.text-content p {
  color: $gray-dark;
  font-family: inherit;
  font-size: $font-size-m;
  line-height: $line-height-m;
}
