<bspl-training-page-layout [title]="'trainingSite.login.title.lbl'">
  <bspl-login-form (submitted)="onLoginFormSubmitted($event)" [warningMessage]="warningMessage$ | async">
  </bspl-login-form>
</bspl-training-page-layout>
