<bspl-property-list class="property-list-compact">
  <bspl-property
    label="MASTER_DATA.agentGroupMembers.memberInfo.name"
    [value]="member?.user?.userTypeDetails?.name"
  ></bspl-property>
  <bspl-property
    label="MASTER_DATA.agentGroupMembers.memberInfo.email"
    [value]="member?.user?.contactInfo?.email"
  ></bspl-property>
  <bspl-property label="MASTER_DATA.agentGroupMembers.memberInfo.mainUserOf">
    {{ member?.user?.userTypeDetails?.iataCode }} / {{ member?.agentName }}
  </bspl-property>
</bspl-property-list>
