<bspl-list-view
  [title]="'LIST.searchList.title' | translate"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="documentNumber"
          [label]="'LIST.searchList.filters.labels.documentNumber' | translate"
          [placeholder]="'LIST.searchList.filters.placeholders.documentNumber' | translate"
          [locked]="true"
        >
        </bspl-input>
      </div>

      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="docTypesList"
          formControlName="documentType"
          [label]="'LIST.searchList.filters.labels.documentType' | translate"
          [placeholder]="'LIST.searchList.filters.placeholders.documentType' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>

      <div class="form-group col-md-3">
        <bspl-input
          formControlName="status"
          [label]="'LIST.searchList.filters.labels.status' | translate"
          [placeholder]="'LIST.searchList.filters.placeholders.status' | translate"
        >
        </bspl-input>
      </div>

      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="currencyList$ | async"
          formControlName="currencyCode"
          [label]="'LIST.searchList.filters.labels.currencyCode' | translate"
          [placeholder]="'LIST.searchList.filters.placeholders.currencyCode' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>

      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="dateOfIssue"
          [label]="'LIST.searchList.filters.labels.dateOfIssue' | translate"
          [placeholder]="'LIST.searchList.filters.placeholders.dateOfIssue' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [columnMode]="'flex'"
    [isPaginationSupported]="false"
    (rowLinkClick)="onViewDocument($event)"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
