<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Advanced Payment option allows agents to issue and submit advanced payment requests on the ASD website (BSP CN
    market). ASD Agents with Basic and Enhanced versions are able to query the Advance Payment Request from the query
    screen and can filter and download the information displayed.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >By selecting de Sales option and Advance Payment (from the drop-down menu), a new tab for Advance Payment will
    appear on the screen and a table showing the Advance Payment Query parameters breakdown. Advance Payment Query
    results can be sorted by clicking on the column header
    <img border="0" height="30" src="iata/images/image020.jpg" /> of any of the fields available.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Advance Payment Query elements displayed are:</span>
</p>

<img border="0" width="100%" src="iata/images/advance-payment-1.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Advance Payment Request Query</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>BSP</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span
    ><b>Request Number:</b> it has 19 digits and contains a link. When an IATA moves the mouse over the link, the cursor
    changes indicating that the user is able to click on the hyperlink, which displays the details about the requested
    Advance Payment (see below)* in a new tab.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Status</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Approved</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Submitted</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Rejected</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Amount</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Issue Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Comment</b></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >(*) As indicated previously, when a user selects a Request Number a new tab is displayed showing the following
    information:</span
  >
</p>

<img border="0" width="100%" src="iata/images/advance-payment-2.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Request Number Information</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Users can also select the empty space next to the Request Number row and an expandable menu will appear showing the
    following information:</span
  >
</p>

<img border="0" width="100%" src="iata/images/advance-payment-3.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Advance Payment expandable menu</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Agent Code / Name Number</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Subject</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Description</b></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If an IATA user needs to narrow down the query, it is possible to click on the
    <img border="0" height="30" src="iata/images/image037.jpg" /> button. Results can be narrowed based on the following
    parameters:</span
  >
</p>

<img border="0" width="100%" src="iata/images/advance-payment-4.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Advance Payment filter</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Request Number</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span
    ><b>Agent Code:</b> can be selected from the drop-down menu or search through the search option that opens when the
    user selects this field.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Status:</b> can be selected from the drop-down menu</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Amount</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Issue Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Comment</b></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >To perform the query according to the applied filter, it is necessary to click on
    <img border="0" height="30" src="iata/images/image039.jpg" />. To clear all the selected fields or selections, users
    can click on the <img border="0" height="30" src="iata/images/image040.jpg" /> button.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is also possible to download the query results in TXT or CSV format by clicking the
    <img border="0" height="30" src="iata/images/image041" /> icon. When the user selects the Download button, a pop-up
    message will inform that the system will prepare a ZIP file containing the search results and will ask the user to
    select the download format.</span
  >
</p>
