<p class="MsoNormal">
  <span lang="EN-GB"
    >The Billing Analysis option allows IATA users to query specific sales details between an Agent and a particular
    Airline. It displays the information from each of the rows in Billing Statement option in detail. In order to view
    such specific sales details, it is necessary to set up the filter in the modal box which gets displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="482" id="Imagen 61" src="iata/images/image233.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451485"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Billing Analysis Setup modal box.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The following fields must be completed:</span></p>

<p
  class="MsoListParagraphCxSpFirst"
  style="margin-top: 12pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Default Airline Code/Name: </span></b
  ><span lang="EN-GB"
    >It is necessary to select the involved Airline from a drop-down list. To facilitate this query, it is possible to
    write down the Airline Code or Airline Name for the system to discriminate results:</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Default Agent Code/Name: </span></b
  ><span lang="EN-GB"
    >Similarly, an Agent must be selected to perform the Billing Analysis query. The drop-down list can also be reduced
    by writing down the Agent Code or Agent Name.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB">
    The Billing Analysis must be performed with concerns to a specific billing period. It is possible to combine more
    than one period in the query as long as both periods belong to the same month.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >After completing the modal box, the results will be displayed once the
    <img border="0" width="74" height="30" id="Imagen 681" src="iata/images/image234.jpg" /> button.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Results display each transaction between the selected Agent and Airline by offering the following details:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type: </span></b><span lang="EN-GB">“TKTT”, “ACDM” or “EMD”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number:</span></b
  ><span lang="EN-GB">
    It is possible to click on the Document Number to display its full details (please refer to </span
  ><span lang="EN-GB">6.4.1.1 Ticket facsimile</span><span lang="EN-GB"> for more information).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> Either “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date:</span></b
  ><span lang="EN-GB">
    The exact date in which the transaction was issued, which must be within the period(s) selected before.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be paid</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Besides, the ticket details are summarized on a table which gets displayed by simply clicking on the document row
    (except the Document Number).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This summarized view of the ticket data includes the following fields:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Basic Details: </span></b
  ><span lang="EN-GB"
    >The BSP in which the ticket was acquired, the Void Coupons (“V”, if any), the flight Destination and other possible
    Comments.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Additional Information: </span></b
  ><span lang="EN-GB"
    >The Form of Payment (Cash, Credit or EasyPay) and its corresponding amount, the listed information on taxes grouped
    on form of payment (“CA”, Cash; “CR”, Credit; “EP”, EasyPay), Commission, Fare Adjustment and Cancellation
    fees.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to hide this summarized information, it is necessary to simply click again on the transaction row.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >At the top right view of the Billing Analysis, the
    <img border="0" width="86" height="30" id="Imagen 185" src="iata/images/image235.jpg" /> button displays the total
    figures of the Billing Analysis according to the filter applied on the Set-up modal box. It includes the following
    data:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> The sum of all fares minus the total amount of taxes and cancellations.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Taxes</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare Adjustment:</span></b
  ><span lang="EN-GB"> Only applicable for Cash.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">VAT</span></b
  ><span lang="EN-GB">/<b>Commission</b>: Tax on commission amounts, only applicable for Cash.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cancellation Fees</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be Paid:</span></b
  ><span lang="EN-GB">
    The sum of all the Amounts minus the sum of the amount reflected on the “Commissions” and “VAT/Commission” fields.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If more than one currency exists in the BSP the IATA User operates in, Totals can be explored in each currency by
    clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 687" src="iata/images/image236.jpg" /> icon next to the Currency.
  <span lang="EN-GB">Also, it is possible to view such figures per Form of Payment by clicking on </span
  ><img border="0" width="22" height="22" id="Imagen 688" src="iata/images/image236.jpg" /><span lang="EN-GB">
    icon next to it As a result, each row is reserved to each Form of Payment (Cash, Credit and EasyPay):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="94" id="Imagen 689" src="iata/images/image237.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451491"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Form of Payment deployed in Billing Analysis.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If IATA users need to narrow down the query, it is possible to click on the
    <img border="0" width="82" height="30" id="Imagen 187" src="iata/images/image238.jpg" /> button at the top right
    corner. Results can be narrowed based on the following parameters:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img
      border="0"
      width="646"
      height="151"
      id="Imagen 188"
      src="iata/images/image239.jpg"
      alt="Captura de pantalla de un celular&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451492"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Billing Analysis filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b
  ><span lang="EN-GB"
    >Airlines operating in the selected BSP are included in a drop-down list. It is possible to select just one.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name: </span></b
  ><span lang="EN-GB"
    >Accredited agents in the selected BSP are included in a drop-down list. It is possible to select just one.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Billing Period (“from” and “to”):</span></b
  ><span lang="EN-GB"> Periods must belong to the same month.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type:</span></b
  ><span lang="EN-GB"> “TKTT”, “ACDM” or “EMD”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> The available currencies in the selected BSP.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To perform the query according to the applied filter, it is necessary to click on
    <img border="0" width="74" height="30" id="Imagen 692" src="iata/images/image240.jpg" />. To clear all the selected
    fields or selections, click on
    <img border="0" width="60" height="30" id="Imagen 190" src="iata/images/image241.jpg" />.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It should be noted that these filter options are applied to the BSP which was selected on the Set-up modal box. If
    the IATA User wishes to perform a new query related to a different BSP, it is necessary to display the Set-up modal
    box again by clicking on “Billing Analysis” under the “Sales” option from the menu bar.
  </span>
</p>
