<p class="MsoNormal">
  <span lang="EN-GB"
    >Non-Comparatives allow IATA Users to query the gross sales between one Airline and one or more Agents without
    comparing such sales to the sales from previous years or to the industry.  It should be noted that gross sales are
    equal to sales from issues minus amounts from Refunds, where:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">“Issues” contains Tickets and ADMs.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">“Refunds” contains Refunds and ACMs.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Taxes are included in gross sales.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">This option displays the following table:</span></p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="145" id="Imagen 192" src="iata/images/image242.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451493"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Non-comparatives.</span>
</p>

<p class="MsoNormal">The information on the table includes the following fields:</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Airline Code: </b>The Airline’s three-digit code.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Airline Name</b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Agent Group Code</b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Agent Group Name</b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Agent Code: </b>numeric IATA Code.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Agent Name</b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Sales Type: </b> International or Domestic.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Currency</b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Cash:</b> The total amount of gross sales paid in Cash.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Payment Card: </b>The total amount of gross sales paid in Credit.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>EasyPay: </b>The total amount of gross sales paid in EasyPay.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Exchange: </span></b><span lang="EN-GB">The corresponding amount to exchanges.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Void: </span></b
  ><span lang="EN-GB">The total amount of non-used documents (“void documents”).<b> </b></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Credit turned cash: </span></b
  ><span lang="EN-GB">The credit amount which eventually is to be remitted in cash.<b> </b></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <a name="_Hlk20381494"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Exchange: </span></b><span lang="EN-GB">The corresponding amount to exchanges.</span></a
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Void: </span></b
  ><span lang="EN-GB">The total amount of non-used documents (“void documents”).<b> </b></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Credit turned cash: </span></b
  ><span lang="EN-GB">The credit amount which eventually is to be remitted in cash.<b> </b></span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Total (Gross Sales): </b>The amount resulting from Cash + Credit + EasyPay
</p>

<p class="MsoNormal">The information contained in this option is preserved for a maximum of 24 months.</p>

<p class="MsoNormal">
  It is possible to filter the results from the table by clicking on
  <span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 193" src="iata/images/image243.jpg" /></span
  ><span lang="EN-GB">. The query can then be narrowed according to the following fields:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="136" id="Imagen 33" src="iata/images/image244.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451494"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Non-Comparatives Filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b
  ><span lang="EN-GB">It is possible to select one or more operating airlines from drop-down list.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name: </span></b
  ><span lang="EN-GB"
    >It is also possible to select one or more agents enjoying ticketing authority with the selected airline.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group Code/Name: </span></b
  ><span lang="EN-GB"
    >this drop-down menu shows a list of the available Agent Grups in the BSP the user is connected to. It is possible
    to leave this field unselected or pick some or all the Agent Groups in the list.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB">
    Selected periods must belong to the same month, considering that data are preserved for 24 months. Please note that
    more than one period can be selected. In case IATA users wish to query multiple periods, it is necessary to click on
    the two peripheric ones (e.g. four periods in the same month can be queried by clicking on the first and the fourth
    ones):
  </span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="304" height="330" id="Imagen 205" src="iata/images/image245.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Selection of multiple periods in SCU.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB">
    IATA users can display results corresponding to “Domestic”, International” or “All Types” of sales. If nothing is
    selected, each Agent will be assigned one row for Domestic sales and another one for International sales on the
    table. Please note that “All Types” shows the sum of “Domestic” and “International sales.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB">
    if the BSP has more than one currency, results can be displayed according to the chosen one.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >To perform the query, it is necessary to click the
    <img border="0" width="74" height="30" id="Imagen 698" src="iata/images/image228.jpg" /> button.
  </span>
</p>

<p class="MsoNormal">
  Total figures per currency are displayed by clicking the
  <span lang="EN-GB"><img border="0" width="86" height="30" id="Imagen 199" src="iata/images/image246.jpg" /></span
  ><span lang="EN-GB">
    button. Results are based upon the preselected criteria for the query, either filtered or not:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="38" id="Imagen 201" src="iata/images/image247.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451495"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Total Non-Comparative figures per currency.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >These total figures do also display the corresponding amounts per form of payment: Cash, Payment Card or EasyPay.
    They do also show the amounts correspondent to Exchange, Void and Credit turned cash.</span
  >
</p>
