<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >This module includes the information concerning the transactions performed by any accredited agent or airline. </span
  >The options included under this module are “Billing Statement”, “Billing Analysis”, “Non-Comparatives”, “SCU Summary”
  and “Advance Payment”.
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="25%" src="iata/images/image224.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Sales option.</span>
</p>
