<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays the SCU (Standard Charge Unit) Summary of Sales. Please note that a Standard Charging Unit
    equates to one transaction passing through the Data Processing Centre (DPC) and included on the BSP Agent and
    Airline Billing Reports. This Summary of Sales include all documents, namely Tickets, VOID/Cancel Tickets, EMDs,
    Refunds, ADMs, ACMs, etc. The following fields are detailed for a selected period:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="173" id="Imagen 9" src="iata/images/image248.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451496"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: SCU Summary.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type: </span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM: </span></b><span lang="EN-GB">Agent Credit Memo.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMD: </span></b><span lang="EN-GB">Agency Credit Memo Default.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACNT: </span></b><span lang="EN-GB">Agent Credit Non-Document.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM: </span></b><span lang="EN-GB">Agent Debit Memo.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMD: </span></b><span lang="EN-GB">Agent Debit Memo Default.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">CANX: </span></b><span lang="EN-GB">Cancelled Document.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EMDA: </span></b><span lang="EN-GB">Electronic Miscellaneous Document Associated.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EMDS: </span></b><span lang="EN-GB">Electronic Miscellaneous Document Standard.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RFNC: </span></b><span lang="EN-GB">Refund of Cancellation with reversal.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RFND: </span></b><span lang="EN-GB">Refund.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SPCR: </span></b><span lang="EN-GB">Settlement Plan Credit.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SPDR: </span></b><span lang="EN-GB">Settlement Plan Debit.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SSAC: </span></b
  ><span lang="EN-GB">Sales Summary Adjustment Credit Note (Minor Adjustment Notice – due to Agent).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SSAD: </span></b
  ><span lang="EN-GB">Sales Summary Adjustment Debit Note (Minor Adjustment Notice – due to Airline).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TASF: </span></b><span lang="EN-GB">Travel Agent Service Fees.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TKTT: </span></b><span lang="EN-GB">Electronic Ticket Sale.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">International</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Domestic</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cash (CA)</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Credit (CC)</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EasyPay (EP)</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Exchange (EX)</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Void (VD)</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Credit turned cash (CM)</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Quantity</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to narrow the results by means of the
    <img border="0" width="82" height="30" id="Imagen 240" src="iata/images/image249.jpg" /> button. It allows IATA
    Users to apply the filter on the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="139" id="Imagen 55" src="iata/images/image250.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451497"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: SCU Filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b
  ><span lang="EN-GB">One or more Airline can be selected from a drop-down list.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name: </span></b
  ><span lang="EN-GB">One or more Agents can be selected from a drop-down list.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period (From/To): </span></b
  ><span lang="EN-GB"
    >Selected periods must belong to the same month, considering that data are preserved for 24 months. Please note that
    more than one period can be selected. In case the user wishes to query multiple periods, it is necessary to click on
    the two peripheric ones (e.g. four periods in the same month can be queried by clicking on the first and the fourth
    ones):
  </span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="304" height="330" id="Imagen 202" src="iata/images/image251.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451498"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Selection of multiple periods in SCU.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in"><span lang="EN-GB">&nbsp;</span></p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type: </span></b
  ><span lang="EN-GB">To view results reduced to one or more document types, as stated above.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment: </span></b
  ><span lang="EN-GB"
    >Results can be narrowed per form of payment, as explained above. No Form of Payment is selected by default, meaning
    that, if filtered is not applied, all Forms of Payment will be displayed according to other possible filtering
    criteria.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB">
    Similarly, results can be displayed according to Sales Type. If “All Types” option is selected, the result
    correspondent to each Agent is the sum of the amounts from Domestic and International Sales.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <a name="_Hlk22115587"
    ><span lang="EN-GB"
      >In order to view the filtered query, it is necessary to click on
      <img border="0" width="74" height="30" id="Imagen 705" src="iata/images/image228.jpg" />.
    </span></a
  >To clear all the selected fields or selections, click on
  <span lang="EN-GB"><img border="0" width="60" height="30" id="Imagen 252" src="iata/images/image252.jpg" /></span>

  or to press “Esc” from the keyboard.
</p>

<p class="MsoNormal" style="margin: 0in">
  It is possible to view a summary of the result by means of the
  <span lang="EN-GB"><img border="0" width="86" height="30" id="Imagen 8" src="iata/images/image235.jpg" /></span
  ><span lang="EN-GB">
    button. Once clicked, a new floating row displays the summarized results, either filtered or not:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="41" id="Imagen 1" src="iata/images/image253.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451499"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: SCU Summary Totals.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is also possible to display Totals based on Document Type (thus, by selecting “Breakdown by Document Type” at
    the left side of the table) or by Form of Payment (“Breakdown by Form of Payment”):</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="63" id="Imagen 6" src="iata/images/image254.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451500"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: SCU Breakdown selection.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The second possibility allows IATA users to review results either based on the total of SCU or by separating
    Tickets and ADMs from Refunds and ACMs:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="639" height="85" id="Imagen 709" src="iata/images/image255.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451501"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: SCU Totals by Form of Payment.</span>
</p>
