@import 'theme/variables/index';

$row-details-height: 36px;

.wrapper {
  padding-bottom: $spacing-xl;

  .confirmation {
    color: $dark;
    font-size: $font-size-m;
    padding: $spacing-xl 0;
  }

  .row.details {
    border-top: 1px solid $gray-light;
    line-height: $row-details-height;
    min-height: $row-details-height;

    &:last-child {
      border-bottom: 1px solid $gray-light;
    }

    .label,
    .value {
      line-height: $row-details-height;
      font-size: $font-size-m;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .label {
      color: $gray-deep;
    }
  }
}
