@import 'theme/variables/index';

.training-page-container {
  display: block;
  min-height: 100%;
  background-color: $gray-light;

  .app-loading {
    min-height: calc(100vh - 70px);
  }
}

.training-page-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
