<div class="hosu-permissions-dialog-container">
  <div [formGroup]="form">
    <bspl-select
      formControlName="selectedBsps"
      [options]="bspsFromHosuSelection"
      [label]="'subUsers.hosuPermissions.bspSelectDialog.label' | translate"
      [placeholder]="'subUsers.hosuPermissions.bspSelectDialog.placeholder' | translate"
      [isDisabled]="!bspsFromHosuSelection?.length"
      [multiple]="true"
      [clearable]="true"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
</div>
