<bspl-list-view
  [title]="'document.creditCard.title'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [predefinedFilters]="predefinedFilters"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        formControlName="bsp"
        [options]="userBspOptions"
        [label]="'document.creditCard.filters.bsp.label' | translate"
        [placeholder]="'document.creditCard.filters.bsp.placeholder' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'document.creditCard.filters.bsp.highlightedText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="creditCardNumber"
          [label]="'document.creditCard.filters.creditCardNumber.label' | translate"
          [placeholder]="'document.creditCard.filters.creditCardNumber.placeholder' | translate"
          [maxLength]="19"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="periodRange"
          [label]="'document.creditCard.filters.periodRange.label'"
          [options]="periodOptions"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'document.netRemit.filters.monthPeriod.label'"
          [options]="periodOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="currencyDropdownOptions"
          formControlName="currency"
          [label]="'document.creditCard.filters.currency.label' | translate"
          [placeholder]="'document.creditCard.filters.currency.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isAgentLoggedUser">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'document.creditCard.filters.airline.label' | translate"
          [placeholder]="'document.creditCard.filters.airline.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isAirlineLoggedUser">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'document.creditCard.filters.agent.label' | translate"
          [placeholder]="'document.creditCard.filters.agent.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowLinkClick)="onViewDocument($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact property-list-align-right">
      <bspl-property
        *ngIf="isAirlineLoggedUser"
        label="document.creditCard.rowDetails.agentName"
        [value]="row.agent.name"
      ></bspl-property>
      <bspl-property
        *ngIf="isAgentLoggedUser"
        label="document.creditCard.rowDetails.airlineName"
        [value]="row.airline.localName"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact property-list-align-right">
      <bspl-property
        label="document.creditCard.rowDetails.extendedPaymentCode"
        [value]="row.formOfPayment.extendedPaymentCode"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact property-list-align-right">
      <bspl-property
        label="document.creditCard.rowDetails.expiryDate"
        [value]="row.formOfPayment.expiryDate"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
