<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'">
  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item
      class="main-user-access-section"
      [title]="'mainUsers.userProperties.labels.accordionProperties' | translate"
      [open]="true"
    >
      <div class="main-user-properties-container">
        <div class="row row-with-separators m-0" [formGroup]="form">
          <div class="col-md-4 main-section">
            <h3 class="main-section-title">{{ 'mainUsers.userProperties.labels.general' | translate }}</h3>
            <bspl-property-list class="border-bottom">
              <bspl-property label="mainUsers.userProperties.labels.userType" [value]="user?.userType"></bspl-property>
              <bspl-property label="mainUsers.userProperties.labels.userCode" [value]="user?.userCode"></bspl-property>
              <bspl-property
                label="mainUsers.userProperties.labels.status"
                [value]="'common.' + user?.status | translate"
              ></bspl-property>
              <bspl-property
                label="mainUsers.userProperties.labels.registerDate"
                [value]="user?.registerDate | dateTimeFormat : 'date'"
              ></bspl-property>
              <bspl-property
                label="mainUsers.userProperties.labels.expiryDate"
                [value]="user?.expiryDate | dateTimeFormat : 'date'"
              ></bspl-property>
            </bspl-property-list>
            <div class="row details-item details-info" *ngIf="hasUpdatePermission">
              <div class="col-md-12 details-link">
                <span class="link" (click)="deactivateUser()" *ngIf="isUserActive; else deactivateTemplate">
                  {{ 'mainUsers.userProperties.labels.deactivateUser' | translate }}
                </span>
              </div>
            </div>
            <ng-template #deactivateTemplate>
              <span class="link" (click)="reactivateUser()">
                {{ 'mainUsers.userProperties.labels.reactivateUser' | translate }}
              </span>
            </ng-template>
          </div>
          <div class="col-md-4 main-section">
            <div class="row">
              <div class="col-md-12">
                <h3 class="main-section-title">
                  {{ 'mainUsers.userProperties.labels.contactDetails' | translate }}
                </h3>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="portalEmail"
                  [label]="'mainUsers.userProperties.labels.portalEmail' | translate"
                  [locked]="inactiveOrHasNoPermission"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="name"
                  [label]="'mainUsers.userProperties.labels.name' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="organization"
                  [label]="'mainUsers.userProperties.labels.organization' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="telephone"
                  [label]="'mainUsers.userProperties.labels.telephone' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
          </div>
          <div class="col-md-4 main-section">
            <div class="row">
              <div class="col-md-12">
                <h3 class="main-section-title">
                  {{ 'mainUsers.userProperties.labels.addressDetails' | translate }}
                </h3>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="country"
                  [label]="'mainUsers.userProperties.labels.country' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="city"
                  [label]="'mainUsers.userProperties.labels.city' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="address"
                  [label]="'mainUsers.userProperties.labels.address' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="postCode"
                  [label]="'mainUsers.userProperties.labels.postCode' | translate"
                  [locked]="inactiveOrNoPermissionOrAgentGroup"
                ></bspl-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </bspl-accordion-item>
  </bspl-accordion>
</bspl-spinner>
