<p class="BodyText" style="margin-bottom: 0.25in; line-height: normal">
  <a name="_Hlk52347250"
    >It is necessary to access New BSPlink through the IATA CS Portal. In order to access New BSPlink, please follow
    these steps:</a
  >
</p>

<p class="MsoBodyText" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="color: #1e32fa">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
  ><span lang="EN-GB"
    >The access through BSPlink.iata.org will be decommissioned. All access should be through the IATA customer portal.
  </span>
</p>

<p class="MsoBodyText" align="center" style="margin-left: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img
      width="642"
      height="413"
      id="Imagen 158"
      src="iata/images/image002.jpg"
      alt="Imagen que contiene Forma&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Classic welcome page.</span>
</p>

<p class="MsoBodyText" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="color: #1e32fa"> 2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
  <span lang="EN-GB">Access is now through </span>
  <a href="https://portal.iata.org" target="_blank">
    <span lang="EN-GB" style="font-size: 9pt; line-height: 105%"> portal.iata.org </span>
  </a>
</p>

<p class="MsoBodyText" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="color: #1e32fa">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
  ><span lang="EN-GB">On the login page, enter your IATA Customer Portal username (email address):</span>
</p>

<p class="MsoBodyText" align="center" style="page-break-after: avoid; text-align: center">
  <a name="_Hlk57356490"
    ><span lang="EN-GB"><img border="0" width="645" height="283" id="Picture 5" src="iata/images/image003.jpg" /></span
  ></a>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Access to IATA Customer Portal.</span>
</p>

<p
  class="MsoBodyText"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 8pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 107%;
  "
>
  <span lang="EN-GB" style="line-height: 107%; color: #1e32fa">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
  ><span lang="EN-GB">Go to “<b>Favorite Services</b>” and click on “<b>BSPlink</b>”:</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 8pt;
    margin-left: 0.25in;
    line-height: 107%;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><br />
    <img border="0" width="646" height="328" id="Picture 2" src="iata/images/image004.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Hlk57356568"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: IATA Customer Portal.</span>
</p>

<p class="MsoBodyText" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="color: #1e32fa">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
  <span lang="EN-GB"> You will directly access your account without entering additional access details:2 </span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    text-align: center;
    text-align: center;
  "
>
  <a name="_Hlk57356598"
    ><span lang="EN-GB"><img border="0" width="642" height="298" id="Imagen 166" src="iata/images/image005.jpg" /></span
  ></a>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; line-height: normal; text-align: center">
  <span lang="EN-GB"> <a name="_Toc26451904"></a><a name="_Toc34375429">Figure </a></span><span lang="EN-GB">4</span
  ><span lang="EN-GB">: BSPlink main page.</span>
</p>

<p class="MsoBodyText" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="color: #1e32fa">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
  <span lang="EN-GB">
    If your BSP is already in Go-live phase the New BSPlink page will be shown as default, as below. If you are in the
    Beta phase, you can access the New BSPlink page by clicking on the “New BSPlink Beta Version”.
  </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/accessing-the-application-5.jpg" /></span>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB"> <a name="_Toc8220494"></a><a name="_Toc20479905"></a><a name="_Toc26451394">Figure </a></span
  ><span lang="EN-GB">5</span><span lang="EN-GB">: Dashboard.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to display the Classic BSPlink version at any time by clicking the option at the right side of the </span
  >New BSPlink <span lang="EN-GB">menu bar:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="58" id="Imagen 172" src="iata/images/image007.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Classic BSPlink option.</span>
</p>
