<bspl-simple-table class="totals-table collapsed" [columns]="columns" [data]="[data]"></bspl-simple-table>

<ng-template #actionHeaderTemplate>
  <label>{{ 'sales.comparatives.totals.currency' | translate }}: &nbsp;</label>
  <span *ngIf="currencyOptions && currencyOptions.length === 1; else currencyDropdown">
    {{ currencyOptions[0].label }}
  </span>
</ng-template>

<ng-template #industryCellTemplate let-value="value">
  {{ value / 100 | percent : '1.2-2' }}
</ng-template>

<ng-template #emptyCellTemplate></ng-template>

<ng-template #currencyDropdown>
  <bspl-select
    class="action-dropdown"
    [options]="currencyOptions"
    [clearable]="false"
    [appendToBody]="true"
    [value]="selectedCurrency"
    [modes]="[SelectMode.Small]"
    (change)="selectCurrency($event.value)"
  ></bspl-select>
</ng-template>

<ng-template #amountTemplate let-value="value">
  {{ value | number : getAmountFormat(selectedCurrency?.decimals) }}
</ng-template>
