<div class="hide-bottom-border">
  <div
    class="section-container pdf-page-break-inside-avoid customize"
    [class.no-section-bottom-border]="!hasPaymentCardInformation && !hasAdditionalPaymentInformation"
  >
    <bspl-property-list header="document.tasf.transactionInformation.sectionTitle" class="section one-third">
      <bspl-property
        label="document.tasf.transactionInformation.bspName"
        [value]="tasf.bsp?.name || tasf.isoCountryCode"
      ></bspl-property>
      <bspl-property
        label="document.tasf.transactionInformation.gdsSystem"
        [value]="tasf.gds?.name || tasf.transaction.reportingSystemIdentifier"
      ></bspl-property>
      <bspl-property label="document.tasf.transactionInformation.agent" [value]="tasf.agent.iataCode"></bspl-property>
      <bspl-property label="document.tasf.transactionInformation.currency" [value]="tasf.currencyType"></bspl-property>
    </bspl-property-list>
    <bspl-property-list
      header="document.tasf.accountInformation.sectionTitle"
      class="property-list-align-right section one-third"
    >
      <bspl-property
        label="document.tasf.accountInformation.vatGstAmount"
        [value]="tasf.accountInformation.vatGstAmount | number : tasf.decimalPrecision"
      ></bspl-property>
      <bspl-property label="document.tasf.accountInformation.agentCommission">
        ( {{ tasf.accountInformation.agentCommissionPercent }}% )
        {{ tasf.accountInformation.agentCommissionAmount | absoluteDecimal : tasf.decimalPrecision }}
      </bspl-property>
      <bspl-property
        label="document.tasf.accountInformation.fareAdjustmentAmount"
        [value]="tasf.accountInformation.fareAdjustmentAmount | absoluteDecimal : tasf.decimalPrecision"
      ></bspl-property>
      <bspl-property
        label="document.tasf.accountInformation.cancellationFees"
        [value]="tasf.accountInformation.cancellationFees | absoluteDecimal : tasf.decimalPrecision"
      ></bspl-property>
      <bspl-property
        label="document.tasf.accountInformation.cancellationFeesCommission"
        [value]="tasf.accountInformation.cancellationFeesCommission | absoluteDecimal : tasf.decimalPrecision"
      ></bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.tasf.accountInformation.onlineBillingStatementAgent"
        [value]="tasf.accountInformation.onlineBillingStatementForAgent | absoluteDecimal : tasf.decimalPrecision"
      ></bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.tasf.accountInformation.balancePayableToAirline"
        [value]="tasf.accountInformation.balancePayableAirline | absoluteDecimal : tasf.decimalPrecision"
      ></bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.tasf.accountInformation.netFareAmount"
        [value]="tasf.accountInformation.netFareAmount | absoluteDecimal : tasf.decimalPrecision"
      ></bspl-property>
    </bspl-property-list>
    <section class="section one-third">
      <bspl-tax
        [taxes]="tasf.stdAmounts.taxes"
        [decimalPrecision]="tasf.decimalPrecision"
        [totalTaxes]="tasf.stdAmounts.totalTaxes"
      ></bspl-tax>
    </section>
  </div>
  <div
    class="section-container pdf-page-break-inside-avoid"
    *ngIf="hasPaymentCardInformation"
    [class.no-section-bottom-border]="hasNoPaymentCardSectionBorder"
  >
    <section *ngIf="tasf?.paymentCardInformation?.length > 0" class="section full">
      <bspl-payment-card-info
        [data]="tasf.paymentCardInformation"
        [decimalPrecision]="tasf.decimalPrecision"
      ></bspl-payment-card-info>
    </section>
  </div>
  <div
    class="section-container no-section-bottom-border pdf-page-break-inside-avoid"
    *ngIf="hasAdditionalPaymentInformation"
  >
    <section *ngIf="tasf?.easyPayInformation?.length > 0" class="section half">
      <bspl-easy-pay-info
        [data]="tasf.easyPayInformation"
        [decimalPrecision]="tasf.decimalPrecision"
      ></bspl-easy-pay-info>
    </section>
    <section *ngIf="tasf?.netRemit?.length > 0" class="section half">
      <bspl-net-remit-info [data]="tasf.netRemit" [decimalPrecision]="tasf.decimalPrecision"></bspl-net-remit-info>
    </section>
    <section *ngIf="tasf?.exchangeInformation?.length > 0" class="section half">
      <bspl-exchange-info [data]="tasf.exchangeInformation" (openDocument)="openDocument($event)"></bspl-exchange-info>
    </section>
  </div>

  <ng-template #paymentCardAmountTemplate let-column="column" let-dataItem="dataItem" let-table="table">
    {{ dataItem[column.field] | absoluteDecimal : tasf.decimalPrecision }}
  </ng-template>
</div>
