<bspl-floating-panel>
  <bspl-document-header
    class="page-section"
    [hasIssueBtn]="!isCNJTicket"
    [document]="ticket"
    [issueActions]="issueActions"
  >
    <bspl-accordion-item-selection [accordion]="accordion"></bspl-accordion-item-selection>
  </bspl-document-header>
</bspl-floating-panel>
<bspl-accordion #accordion [multipleItemsOpen]="true">
  <bspl-accordion-item
    [title]="'document.ticket.ticketDetailsTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-ticket-details [ticket]="ticket" [isCNJTicket]="isCNJTicket"> </bspl-ticket-details>
  </bspl-accordion-item>
  <bspl-accordion-item
    *ngIf="!isCNJTicket"
    [title]="'document.ticket.additionalInformationTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-additional-information [ticket]="ticket" (documentOpened)="open.emit($event)"></bspl-additional-information>
  </bspl-accordion-item>
  <bspl-accordion-item
    [title]="'document.relatedDocumentsTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-spinner [isLoading]="isLoadingRelatedDocuments" relativeTo="parent"> </bspl-spinner>
    <bspl-related-documents [hidden]="isLoadingRelatedDocuments" [documents]="relatedDocuments">
    </bspl-related-documents>
  </bspl-accordion-item>
</bspl-accordion>
