<div class="dialog-container" [formGroup]="form">
  <div class="text-content">
    <span>{{ 'ADM_ACM.files.massload.dialogs.stopProcessing.description' | translate }}</span>
  </div>
  <ul class="list">
    <li *ngFor="let line of form.controls; let i = index">
      <div class="row" [formGroup]="line">
        <div class="col-11 item">
          <bspl-input
            formControlName="filename"
            [label]="'ADM_ACM.files.massload.dialogs.stopProcessing.field.label' | translate"
            [placeholder]="'ADM_ACM.files.massload.dialogs.stopProcessing.field.placeholder' | translate"
          ></bspl-input>
        </div>
        <div class="col-1 align-self-top actions">
          <i
            class="material-icons icon-delete"
            title="{{ 'common.delete' | translate }}"
            (click)="removeFilenameControlLine(i)"
          >
            delete
          </i>
        </div>
      </div>
    </li>
    <li class="row add-file-btn">
      <bspl-button
        icon="mi md-18 add"
        [isDisabled]="form.invalid"
        [design]="buttonDesign.Tertiary"
        [label]="'ADM_ACM.files.massload.dialogs.stopProcessing.button.addFilename.label' | translate"
        [bsplTooltip]="
          form.invalid ? ('ADM_ACM.files.massload.dialogs.stopProcessing.button.addFilename.tooltip' | translate) : ''
        "
        (onClick)="addFilenameControlLine()"
      ></bspl-button>
    </li>
  </ul>
</div>
