<bspl-file-upload-overlay
  (droppedFilesEvent)="addFiles($event)"
  [isDragAndDropActive]="canAddFiles"
></bspl-file-upload-overlay>
<div class="file-upload-wrapper">
  <span>{{ secondaryTittle }}</span>
  <bspl-upload
    (uploadFinished)="onUploadFinished()"
    (uploadStarted)="onUploadStarted()"
    (resetInitialMode)="onResetInitialMode()"
    (filesChange)="onFilesChange($event)"
    (uploadFinishedResult)="onUploadFinishedResult($event)"
    (modeChange)="mode = $event"
    [isDragAndDropActive]="false"
    [files]="files"
    [uploadPath]="config.data.uploadPath"
    [validationRules]="validationRules"
  ></bspl-upload>
</div>
