<bspl-card-page [title]="'trainingSite.logout.title.lbl'" [loading]="loading$ | async">
  <bspl-user-feedback-form (formSubmit)="onFeedbackFormSubmit($event)" [userDataId]="userDataId$ | async">
  </bspl-user-feedback-form>
</bspl-card-page>
