@import 'theme/variables/index';

$sections-border: 1px solid $gray-neutral;

ul.listFields {
  list-style: none;
  margin: 0;
  padding: 0;

  .listLine {
    border-bottom: $sections-border;
    margin-bottom: $spacing-l;

    .listText {
      font-size: $font-size-m;

      .listFieldTextEmpty {
        color: $gray-middle;
      }

      .listFieldTextValue {
        color: $blue-primary;
      }

      .listLabelText {
        color: $gray-deep;
      }
    }
  }
}
