<div class="text-content" [formGroup]="form">
  <div class="row details-section pb-4">
    <div class="col-md-12" *ngIf="isDeactivateMode; else reactivateText">
      {{ 'head-office-sub-users.deactivateText' | translate }}
    </div>
    <ng-template #reactivateText>
      <div class="col-md-12">
        {{ 'head-office-sub-users.reactivateText' | translate }}
      </div>
    </ng-template>
  </div>
  <div *ngIf="isDeactivateMode; else portalEmailInput">
    <div class="row">
      <div class="col-6">
        {{ 'head-office-sub-users.columns.email' | translate }}
      </div>
      <div class="col-6 input-value">
        {{ item.portalEmail }}
      </div>
    </div>
    <hr />
  </div>
  <ng-template #portalEmailInput>
    <div class="row">
      <bspl-input
        class="col-12"
        formControlName="portalEmail"
        [label]="'head-office-sub-users.columns.email' | translate"
        [locked]="false"
      ></bspl-input>
    </div>
  </ng-template>
  <div class="row">
    <div class="col-6">
      {{ 'head-office-sub-users.filters.name.label' | translate }}
    </div>
    <div class="col-6 input-value">
      {{ item.name }}
    </div>
  </div>
  <hr *ngIf="!isDeactivateMode" />
  <div class="row pt-4">
    <bspl-datepicker
      *ngIf="isDeactivateMode"
      class="col-12"
      formControlName="expiryDate"
      [label]="'head-office-sub-users.filters.expiryDate.label' | translate"
      [isReadOnly]="true"
    ></bspl-datepicker>
  </div>
</div>
