.welcome-dialog {
  font-size: 1.4rem;
  line-height: 1.5;

  ul {
    margin-bottom: 2rem;

    li {
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }

    & + p {
      margin-bottom: 2rem;
    }
  }
}
