<div class="welcome-dialog">
  <p l10nTranslate>{{ 'DASHBOARD.DIALOGS.WELCOME.TXT.LEAD' }}</p>
  <ul>
    <li *ngIf="usersType.AIRLINE === userType" [innerHTML]="textLine"></li>
    <li *ngIf="usersType.AGENT === userType" [innerHTML]="textLine"></li>
    <li *ngIf="usersType.IATA === userType" [innerHTML]="textLine"></li>
    <li l10nTranslate [innerHTML]="period"></li>
    <li>{{ 'DASHBOARD.DIALOGS.WELCOME.TXT.LIST.LINE_3' | translate }}</li>
  </ul>
  <p l10nTranslate innerHTML="DASHBOARD.DIALOGS.WELCOME.TXT.INFO"></p>
</div>
