@import 'theme/variables/index';

.property-list-container {
  padding-bottom: $spacing-xxl;
}

.public-keys-list-container {
  margin-bottom: $spacing-xl;
}

.keys-to-be-deleted-label {
  display: block;
  color: $gray-deep;
  font-size: $font-size-m;
  line-height: $line-height-m;
}

.keys-to-be-deleted-value {
  display: block;
}
