<div class="public-keys-list-container">
  <label class="keys-to-be-deleted-label">{{
    'menu.masterData.configuration.sftpConfigurations.deletePublicKeysConfirmationDialog.labels.keysToBeDeleted'
      | translate
  }}</label>
  <label class="keys-to-be-deleted-value">{{ keysToBeDeletedFileNames }}</label>
</div>
<div class="property-list-container">
  <bspl-property-list class="property-list-compact">
    <bspl-property
      label="menu.masterData.configuration.sftpConfigurations.labels.sftpAccountType"
      [value]="sftpAccount?.sftpAccountTypeText"
    ></bspl-property>
    <bspl-property
      label="menu.masterData.configuration.sftpConfigurations.labels.login"
      [value]="sftpAccount?.login"
    ></bspl-property>
  </bspl-property-list>
</div>
