<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Airline users to query and manage Agent Own Cards and the Consents associated to them. This
    information is displayed under two main tabs: “Agent Own Cards” and “Consents”.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Agent Own Cards
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This tab displays the registered Agent Own Cards on a table which contains the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Registered Agent Own Cards.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Number:</span></b>
  <span lang="EN-GB">the number appears tokenized.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issuer Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Payment Network</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Type:</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Corporate</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Consumer</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Company Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Consent: </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Yes</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;No</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Cost Recovery</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Active</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Inactive</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><img border="0" height="30" src="airline/images/3dots.jpg" /> this icon allows checking the consents of the
    correspondent Agent Own Card.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to display more detailed information concerning each card by clicking on its corresponding row,
    other than Provider Name and Product Name. The Agent Name, Register Date and Termination Date are shown:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Card extra information.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Results may be narrowed down by clicking on <img border="0" height="30" src="airline/images/image061.jpg" />:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Filter of Enrolled Products.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b>depending on the value selected, the Agent Code field will then be updated with
  the corresponding codes within the selected country or countries.
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code: </span></b
  ><span lang="EN-GB">one option must be selected from a dropdown list. Multiple choice is allowed.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">one option must be selected from a dropdown list.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card range (“From Card Number” – “To Card Number”): </span></b
  ><span lang="EN-GB">one value must be introduced in these options.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry date: </span></b><span lang="EN-GB">one value must be introduced in this option.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issuer Name: </span></b><span lang="EN-GB">one value must be introduced in this option.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Payment Network: </span></b
  ><span lang="EN-GB">one value must be introduced in this option.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Type: </span></b
  ><span lang="EN-GB">one option must be selected from a dropdown list. Multiple choice is allowed.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Company Name: </span></b><span lang="EN-GB">one value must be introduced in this option.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Level Consent Type: </span></b
  ><span lang="EN-GB">one option must be selected from a dropdown list. Multiple choice is allowed</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Effective from / To: </span></b
  ><span lang="EN-GB">dates may be framed on the displayed calendars.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In addition, it is possible to download queries by clicking on
    <img border="0" height="30" src="airline/images/image064.jpg" />.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Consents
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The information under this tab shows the existing Consents for the Agent Own Credit Cards:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Agent Own Card Consents.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This information may be displayed at an BSP or Card Level:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: Agent Own Card Consents.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The following fields are included per Card:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code (only at Card Level)</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Number (only at Card Level): </span></b><span lang="EN-GB">partially tokenized.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date (only at Card Level): </span></b>in format mm/yy.
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Payment Network (only at Card Level)</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Consent Type: </span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;FIxed Amount</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Percentage</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cost Recovery Type: </span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Yes</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;No</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Cost Recovery</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cost Recovery Amount</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cost Recovery Currency</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Active</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Inactive</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><img border="0" height="30" src="airline/images/image090.jpg" /> this icon allows checking the consents of the
    correspondent Agent Own Card.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It is possible to display extra information by click on its corresponding row:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Card extra information.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Queries may be narrowed down by clicking on <img border="0" height="30" src="airline/images/image061.jpg" />.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Filter of Agent Own Cards Consent..</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code (only at Card Level)</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Number range (From Card Number / To Card Number)</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issuer Name</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Payment Network</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Type: </span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Consumer</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Corporate</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Company Name</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Card Level Consent Type</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Effective From / To</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In addition, it is possible to download queries by clicking on
    <img border="0" height="30" src="airline/images/image064.jpg" />.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Modify Consent
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Airline users may modify Agent Own Card Consent by clicking on the
    <img border="0" height="30" src="airline/images/image060.jpg" /> icon (on the left side) or by clicking (on the
    <img border="0" height="30" src="airline/images/image090.jpg" /> on the right side).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Firstly, it is possible to select one or more cards by means of the
    <img border="0" height="30" src="airline/images/image060.jpg" /> icon on the left. Once selected, the following
    option is displayed at the top of the table:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/tip-agent-own-cards-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: Card selection.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is then possible to click on the arrow on
    <img border="0" height="30" src="airline/images/icon-modify-consent.jpg" /> to terminate the consent of the selected
    cards. The following dialogue gets displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="570" src="airline/images/tip-agent-own-cards-9.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">9</span><span lang="EN-GB">: Terminal Card Consent.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Click on <img border="0" height="30" src="airline/images/icon-terminate.jpg" /> to confirm the termination.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Secondly, the <img border="0" height="30" src="airline/images/image090.jpg" /> icon displays the following
    options:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Add / Modify Card Level Consent or BSP Level Consent: depending on the displayed level, Airlines may add or modify
    consents. The following dialogue boxes are displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="500" src="airline/images/tip-agent-own-cards-10.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">10</span><span lang="EN-GB">: Add / Modify Consents.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The following fields must be indicated:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Consent: “Yes”, “No” or “Cost
    Recovery”.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Cost Recovery Type (when selected above):
    “Fixed Amount” or “Percentage”.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Cost Recovery Currency: once option must
    be selected from a dropdown list.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Cost Recovery Amount: / Cost Recovery
    Percentage: the availability of one field or another depends on the selected Cost Recovery Type:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;&nbsp;Cost
    Recovery Amount: please note that a maximum of two decimals may be introduced (e.g. “1.52”). If no decimal is
    indicated, the system does automatically indicate it (e.g. “52” turns into “52.00”).</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;&nbsp;Cost
    Recovery Percentage: please note that a value between 0 and 100 must be introduced (e.g. for 12%, it is necessary to
    introduce “12”). A maximum of two decimals may be introduced (e.g. “1.52”). If no decimal is indicated, the system
    does automatically indicate it (e.g. “52” turns into “52.00”).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To add or modify the Card Consent, it is necessary to click on
    <img border="0" height="30" src="airline/images/icon-modify.jpg" />.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Terminate Card Level Consent: The following dialogue gets displayed: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="500" src="airline/images/tip-agent-own-cards-11.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">11</span><span lang="EN-GB">: Terminal Card Consent..</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Click on <img border="0" height="30" src="airline/images/icon-terminate.jpg" /> to confirm the termination.</span
  >
</p>
