<p class="MsoNormal">
  <span lang="EN-GB"
    >The options present in this module allow the airline to query the details of the available providers and enrolled
    products, configure the Transparency in Payments (TIP) reports to receive, as well as to query and configure the
    consents of available enrolled products.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="290" src="airline/images/image246.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: TIP</span>
</p>
