<div class="header-container">
  <h2>{{ 'help.tabLbl' | translate }}</h2>
  <div class="header-sub-title">IATA BSP<i>link</i> website</div>
</div>
<div class="bottom-shadow-container"></div>
<div class="content-container">
  <div class="side-menu-container">
    <bspl-help-side-menu
      [items]="helpConfig.menuItems"
      [initialItem]="initialItem"
      (select)="onMenuItemSelect($event)"
    ></bspl-help-side-menu>
    <div class="side-menu-action" *ngIf="helpConfig.pdfManualPath">
      <div>{{ 'help.downloadPdfLabel' | translate }}:</div>
      <bspl-button
        [label]="'help.downloadPdfBtnLabel'"
        [design]="ButtonDesign.Tertiary"
        [icon]="'get_app'"
        [isLoading]="isDownloading"
        (click)="downloadPdfManual()"
      ></bspl-button>
    </div>
  </div>
  <div class="main-content-container">
    <h2 class="content-title">{{ selectedMenuItem?.title }}</h2>
    <div class="main-content">
      <bspl-help-page [item]="selectedMenuItem" [userType]="(loggedUser$ | async).userType"></bspl-help-page>
    </div>
    <div class="topic-navigation-container">
      <div class="topic-nav" (click)="onNavigationItemClick(previousMenuItem, $event)">
        <i *ngIf="previousMenuItem" class="material-icons arrow_back left">arrow_back</i>{{ previousMenuItem?.title }}
      </div>
      <div class="topic-nav" (click)="onNavigationItemClick(nextMenuItem, $event)">
        {{ nextMenuItem?.title }}<i *ngIf="nextMenuItem" class="material-icons arrow_forward right">arrow_forward</i>
      </div>
    </div>
  </div>
</div>
