@import 'theme/variables/index';
@import 'components/tabs/tabs';

.header-container {
  position: relative;
  z-index: $z-index-layer-1;
  background-color: $white;
  padding: $spacing-xl 0;

  .header-sub-title {
    margin-top: $spacing-xxs;
    color: $gray-dark;
  }
}

.content-container {
  display: flex;
  margin: 0 (-$spacing-xl) (-$spacing-xl) (-$spacing-xl);

  .side-menu-container {
    width: 40rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid $gray-neutral;

    .side-menu-action {
      padding: $spacing-xl $spacing-xxxxl;
      color: $gray-dark;

      bspl-button {
        margin-top: $spacing-m;
      }
    }
  }

  .main-content-container {
    flex: 1;
    margin: $spacing-l $spacing-xl $spacing-xl $spacing-xl;

    .content-title {
      margin-bottom: $spacing-m;
    }

    .main-content {
      background-color: $gray-subtle;
      padding: $spacing-xl;
    }

    .topic-navigation-container {
      margin-top: $spacing-xl;
      display: flex;
      justify-content: space-between;

      .topic-nav {
        color: $gray-deeper;
        font-weight: $font-weight-medium;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;

        i {
          font-size: 2rem;

          &.left {
            margin-right: $spacing-s;
          }

          &.right {
            margin-left: $spacing-s;
          }
        }

        &:hover {
          color: $blue-light;
        }
      }
    }
  }
}

.bottom-shadow-container {
  @include bottom-shadow-container();

  margin-left: -$spacing-xl;
  margin-right: -$spacing-xl;
}
