<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'">
  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item
      [title]="'subUsers.profile.propertiesTab.labels.accordionProperties' | translate"
      [open]="true"
    >
      <ng-container *ngTemplateOutlet="propertiesTemplate"></ng-container>
    </bspl-accordion-item>
  </bspl-accordion>

  <ng-template #propertiesTemplate>
    <div class="sub-user-properties-container" *ngIf="subUserLomu">
      <div class="row row-with-separators m-0">
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.general' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.userType"
              [value]="userTypeLabel | translate"
            ></bspl-property>
            <bspl-property label="subUsers.profile.propertiesTab.labels.airlineCodeName" [value]="codeNameValue">
            </bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.status"
              [value]="statusLabel | translate"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.registerDate"
              [value]="subUserLomu?.registerDate | dateTimeFormat : 'date'"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.expiryDate"
              [value]="subUserLomu?.expiryDate | dateTimeFormat : 'date'"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.template"
              [value]="templateLabel | translate"
            ></bspl-property>
          </bspl-property-list>
        </div>
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.contactDetails' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.portalEmail"
              [value]="subUserLomu.portalEmail"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.name"
              [value]="subUserLomu.name"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.organization"
              [value]="subUserLomu.contactInfo.organization"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.telephone"
              [value]="subUserLomu.telephone"
            ></bspl-property>
          </bspl-property-list>
        </div>
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.addressDetails' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.country"
              [value]="subUserLomu.contactInfo.country"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.city"
              [value]="subUserLomu.contactInfo.city"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.address"
              [value]="subUserLomu.contactInfo.address"
            ></bspl-property>
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.postCode"
              [value]="subUserLomu.contactInfo.postCode"
            ></bspl-property>
          </bspl-property-list>
        </div>
      </div>
    </div>
    <bspl-locked-state
      *ngIf="!subUserLomu"
      [message]="'subUsers.profile.propertiesTab.bspNotPermissionPropertiesInfo' | translate"
    ></bspl-locked-state>
  </ng-template>
</bspl-spinner>
