@import 'theme/variables/index';
@import 'theme/app/changed-checkbox';

$border: 1px solid $gray-neutral;

.sub-user-properties-container {
  background-color: $gray-subtle;
  padding: $spacing-xl 0;
  font-size: $font-size-m;
  margin-top: $spacing-xl;

  .sub-section {
    padding: 0 $spacing-xxxxl;

    .sub-section-title {
      margin-bottom: $spacing-s;
    }
  }

  .border-bottom {
    border-bottom: $border;
  }
}
