@import 'theme/variables/index';

.simple-table {
  // TODO: The layout breaks under IE 11 when using table-layout: fixed.
  // Investigate how to fix that.
  // table-layout: fixed;
  width: 100%;

  &-title {
    caption-side: top;
    padding: $spacing-xs;
    color: $blue-primary;
    font-size: $font-size-l;
    line-height: $line-height-l;
    font-weight: $font-weight-medium;
  }

  &-cell {
    color: $blue-primary;
    padding: 1.3rem $spacing-xs;
  }

  &-row,
  &-header {
    border-bottom: 1px solid $gray-neutral;
  }

  &-row {
    &.clickable:hover {
      background-color: $gray-light;
      cursor: pointer;
    }
  }

  &-row:last-child {
    border: none;
  }

  &-header-cell {
    padding: $spacing-xs;
    vertical-align: top;

    &.header-title {
      color: $gray-deep;
      font-size: $font-size-s;
      line-height: $line-height-s;
      font-weight: $font-weight-bold;
    }

    &.header-template {
      font-weight: $font-weight-normal;
    }
  }
}
