<table class="simple-table">
  <caption class="simple-table-title" *ngIf="title != null">
    {{
      title | translate
    }}
  </caption>
  <thead>
    <tr class="simple-table-header">
      <th
        class="simple-table-header-cell"
        [class.header-template]="column.headerCellTemplate"
        [class.header-title]="!column.headerCellTemplate"
        [ngClass]="column.customStyle"
        *ngFor="let column of columns"
      >
        <ng-container
          [ngTemplateOutlet]="column.headerCellTemplate || defaultHeaderCellTemplate"
          [ngTemplateOutletContext]="{ column: column, table: this }"
        ></ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="simple-table-row"
      [class.clickable]="isRowClickable"
      (click)="onRowClick(dataItem)"
      *ngFor="let dataItem of data"
    >
      <td class="simple-table-cell" *ngFor="let column of columns" [ngClass]="column.customStyle">
        <ng-container
          [ngTemplateOutlet]="column.cellTemplate || defaultCellTemplate"
          [ngTemplateOutletContext]="{ column: column, dataItem: dataItem, table: this, value: dataItem[column.field] }"
        ></ng-container>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #defaultCellTemplate let-column="column" let-dataItem="dataItem">
  <span [bsplTooltip]="column.tooltip && column.tooltip(dataItem)">{{ getFormattedValue(dataItem, column) }}</span>
</ng-template>

<ng-template #defaultHeaderCellTemplate let-column="column">
  <span [bsplTooltip]="column.headerTooltip">{{ column.header | translate }}</span>
</ng-template>
