@import 'theme/variables/index';

.text-content {
  color: $gray-dark;
  padding-bottom: $spacing-m;
  border-bottom: 1px solid $gray-neutral;
  margin: $spacing-s 0;

  span {
    font-size: $font-size-m;
    font-family: inherit;
    line-height: $line-height-m;
  }
}

.type-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-xl 0;

  span {
    font-size: $font-size-m;
    color: $gray-dark;
  }

  .custom-radio-button {
    ::ng-deep p-radioButton {
      padding: $spacing-xxs $spacing-xs;
    }
  }
}
