<div [formGroup]="form">
  <bspl-alert-message
    [message]="'MENU.USERS_MAINTENANCE.DOWNLOAD_SUB_USERS.disclaimer' | translate"
    [type]="disclaimerType"
  ></bspl-alert-message>
  <div class="text-content">
    <span>{{ 'MENU.USERS_MAINTENANCE.DOWNLOAD_SUB_USERS.message' | translate }}</span>
  </div>
  <div class="type-selection">
    <span>{{ 'MENU.USERS_MAINTENANCE.DOWNLOAD_SUB_USERS.userType' | translate }}</span>
    <bspl-radio-button-group
      class="custom-radio-button"
      formControlName="queryByUsersType"
      [groupName]="'usersTypeRadioButtons'"
      [options]="queryByUsersTypeOptions"
    ></bspl-radio-button-group>
  </div>
  <div class="type-selection">
    <span>{{ 'MENU.USERS_MAINTENANCE.DOWNLOAD_SUB_USERS.fileType' | translate }}</span>
    <bspl-radio-button-group
      class="custom-radio-button"
      formControlName="exportAs"
      [groupName]="'downloaRadioButtons'"
      [options]="exportAsOptions"
    ></bspl-radio-button-group>
  </div>
  <div class="date-selection">
    <bspl-datepicker
      [label]="'MENU.USERS_MAINTENANCE.DOWNLOAD_SUB_USERS.requestDate' | translate"
      formControlName="requestDate"
      [placeholder]="'MENU.USERS_MAINTENANCE.DOWNLOAD_SUB_USERS.requestDatePlaceholder' | translate"
      [viewMode]="'month'"
      [showTodayButton]="false"
      [dateFormat]="'yy/mm'"
    ></bspl-datepicker>
  </div>
</div>
