@import '../variables/index';

// BOOTSTRAP VARIABLES

// GLOBALS

$grid-gutter-width: 40px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// ---------------------------

// TYPOGRAPHY

$font-family-sans-serif: $font-family;
$font-family-base: $font-family-sans-serif;

// ---------------------------

// COLORS

$light: $white;
$primary: #014e81;

$input-border: $gray-deep;
$input-color: $blue-primary;

// ---------------------------

// BUTTONS STRUCTURE CUSTOM

// $input-btn-padding-y: 1rem;
$btn-border-radius: $border-radius-small;

// ---------------------------

// FORM GROUPS

$form-group-margin-bottom: $spacing-xxs;

// INPUT
$input-font-size: $font-size-m;
$input-font-weight: $font-weight-normal;

// ---------------------------
