@import '../variables';

//
// Headings
//
%heading {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $blue-primary;
}

h1,
.h1 {
  @extend %heading;

  font-size: $font-size-xxxl;
  line-height: $line-height-xxl;
}

h2,
.h2 {
  @extend %heading;

  font-size: $font-size-xxl;
  line-height: $line-height-xl;
}

h3,
.h3 {
  @extend %heading;

  font-size: $font-size-xl;
  line-height: $line-height-l;
}

h4,
.h4 {
  @extend %heading;

  font-size: $font-size-l;
  font-weight: $font-weight-medium;
  line-height: $line-height-l;
}

h5,
.h5,
h6,
.h6 {
  @extend %heading;

  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

//
// Horizontal rules
//
hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

//
// Emphasis
//
small,
.small {
  @include font-size($small-font-size);

  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

//
// Lists
//
.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}
