@import 'theme/variables/index';

@mixin background-color-and-border-color-and-color-declarations($background-color, $color) {
  background-color: $background-color;
  border: none;
  color: $color;
}

:host {
  &.is-active {
    ::ng-deep {
      .pi {
        transform: rotate(180deg);
      }
    }
  }

  ::ng-deep {
    display: inline-block;

    // TODO: Refactor
    p-splitbutton {
      vertical-align: top;
      display: inline-block;

      %button-shared {
        .p-button {
          text-transform: uppercase;
          letter-spacing: normal;
          font-style: normal;
          font-stretch: normal;
          border-radius: $border-radius-small;
          padding: $spacing-xxs $spacing-m;
          font-size: $font-size-m;
          height: 36px;
          outline: none;
          margin: 0;

          &:enabled {
            &:focus {
              outline: none;
            }
          }

          &.p-button-text-only {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          &.p-button-icon-only {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      %btn-disable-shared-primary-secondary {
        @include background-color-and-border-color-and-color-declarations($gray-middle, $gray-neutral);

        opacity: 1;

        &.p-button-text-only {
          border-right: 1px solid $gray-neutral;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: hover-color($gray-middle);
          box-shadow: none;
          cursor: not-allowed !important;

          &.p-button-text-only {
            border-right: 1px solid $gray-neutral;
          }
        }
      }

      .button-primary {
        .p-button {
          @include background-color-and-border-color-and-color-declarations($blue-primary, $white);

          &:enabled {
            &.p-button-text-only {
              border-right: 1px solid $blue-tertiary;
            }

            &:hover {
              background-color: hover-color($blue-secondary);
            }

            &:hover,
            &:focus {
              border: none;

              &.p-button-text-only {
                border-right: 1px solid $blue-tertiary;
              }
            }
          }
        }
      }

      .button-secondary {
        .p-button {
          &:enabled {
            @include background-color-and-border-color-and-color-declarations($blue-light, $white);

            &.p-button-text-only {
              border-right: 1px solid $blue-ocean;
            }

            &:hover {
              background-color: hover-color($blue-tertiary);
            }

            &:hover,
            &:focus {
              border: none;

              &.p-button-text-only {
                border-right: 1px solid $blue-ocean;
              }
            }
          }
        }
      }

      .button-primary,
      .button-secondary,
      .button-tertiary {
        @extend %button-shared;

        .p-button {
          &:disabled {
            @extend %btn-disable-shared-primary-secondary;

            margin: 0;

            span {
              cursor: not-allowed !important;
            }
          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          padding: 0;
        }

        &.p-state-disabled {
          @include background-color-and-border-color-and-color-declarations($gray-middle, $gray-light);

          opacity: 1;
        }

        .p-menu {
          background-color: $white;
          box-shadow: $shadow-z-3;

          .p-menu-list {
            margin: $spacing-xs 0;

            .p-menuitem {
              text-transform: capitalize;
              text-align: left;
              margin: 0;
              line-height: $line-height-m;

              .p-menuitem-link {
                padding: (2 * $spacing-xxxs) $spacing-s;
                color: $gray-dark;

                &.p-corner-all {
                  border-radius: 0;
                }

                span.p-menuitem-text {
                  vertical-align: middle;
                }

                &:hover {
                  background-color: hover-color($gray-neutral);
                }
              }
            }
          }
        }
      }

      .button-tertiary {
        .p-corner-left {
          .p-button-icon-left {
            margin-top: -1.6rem;
          }

          .p-button-text {
            padding-left: $spacing-xs;
          }
        }

        .p-button {
          &:enabled {
            @include background-color-and-border-color-and-color-declarations($white, $blue-light);

            border: 1px solid $blue-light;

            &.p-button-text-only {
              border-right: 1px solid $blue-light;
            }

            &:hover {
              background-color: hover-color($white);
            }

            &:hover,
            &:focus {
              border-color: $blue-light;

              &.p-button-text-only {
                border-right: 1px solid $blue-light;
              }
            }
          }

          &:disabled {
            @include background-color-and-border-color-and-color-declarations($white, $gray-deep);

            border: 1px solid $gray-deep;
          }
        }
      }

      .p-menu {
        background: $white;
        border: none;
        width: 100%;
        padding: 0;
      }

      .style {
        &-standard {
          .p-button {
            padding: 0;

            &.p-corner-left {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            &.p-button-text-icon-left .p-button-text {
              padding: 0.6rem 0 0 $spacing-m;
            }

            &:enabled {
              &:hover {
                background-color: hover-color($blue-secondary);
                border: 1px solid $blue-secondary;
              }

              &:focus,
              &:active {
                outline-style: none;
                border-color: transparent;
              }
            }
          }

          .p-menu {
            width: 124%;
            // We need these importants,
            // beause we have to override primeNg component
            // which uses left and top that are initialized in style tag.

            left: -24px !important;
            top: $spacing-xxxl !important;

            .p-menu-list {
              padding: $spacing-xs 0;
              margin: $spacing-xs 0;

              .p-menuitem {
                text-transform: none;
                margin: 0;

                .p-menuitem-link {
                  color: $gray-dark;
                  font-size: $font-size-m;
                  padding: $spacing-xs $spacing-xs $spacing-xs 16px;

                  &:hover {
                    background-color: hover-color($gray-neutral);
                    color: $gray-dark;
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
