<div class="dialog-container">
  <div class="subtitle">
    {{ 'TIP.cards.dialogs.card.create.subtitle' | translate }}
  </div>

  <div class="form" [formGroup]="form">
    <bspl-input
      formControlName="cardNumber"
      [maxLength]="40"
      [label]="'TIP.cards.dialogs.card.create.fields.cardNumber.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.create.fields.cardNumber.placeholder' | translate"
    ></bspl-input>
    <bspl-input
      formControlName="expiryDate"
      [label]="'TIP.cards.dialogs.card.create.fields.expiryDate.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.create.fields.expiryDate.placeholder' | translate"
    ></bspl-input>
    <bspl-input
      class="uppercase-input"
      formControlName="issuerName"
      [maxLength]="50"
      [label]="'TIP.cards.dialogs.card.create.fields.issuerName.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.create.fields.issuerName.placeholder' | translate"
    ></bspl-input>
    <bspl-input
      formControlName="paymentNetwork"
      [maxLength]="2"
      [label]="'TIP.cards.dialogs.card.create.fields.paymentNetwork.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.create.fields.paymentNetwork.placeholder' | translate"
    ></bspl-input>
    <bspl-radio-button-group
      formControlName="cardType"
      [groupName]="'cardTypes'"
      [options]="cardTypeRadioButtons"
      [label]="'TIP.cards.dialogs.card.create.fields.cardType.label' | translate"
    ></bspl-radio-button-group>
    <bspl-input
      formControlName="companyName"
      [maxLength]="20"
      [label]="'TIP.cards.dialogs.card.create.fields.companyName.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.create.fields.companyName.placeholder' | translate"
      [bsplTooltip]="
        (isCompanyNameDisabled ? 'TIP.cards.dialogs.card.create.fields.companyName.tooltip' : '') | translate
      "
    ></bspl-input>
  </div>
</div>
