<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >This option displays all the ACM requests issued by Agents. The information is distributed as in </span
  ><span lang="EN-GB">6.3.2.1 ACM</span
  ><span lang="EN-GB"
    ><u>.</u> By clicking on the ACM number, it is possible to display it and approve or reject it.</span
  >
</p>
