<p class="BodyText" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >As the ADM Query, this option leads to the list of all the issued ACMs by the operating Airline in a given BSP. The
    following table is displayed when users click on this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="643" height="130" id="Imagen 214" src="airline/images/image167.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254095"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: ACM Query.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">ACMs are listed in a table which shows the following fields per document:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">Territory in which the ACM is issued.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Disputed</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Approved</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Rejected</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deactivated</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted (displayed under the “Deleted” tab)</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorized Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Rejected Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Billing Disputed</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending Authorization: it is possible to modify any data, if necessary.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 570" src="airline/images/image168.jpg" /></span
  ><b><span lang="EN-GB">: </span></b
  ><span lang="EN-GB">This icon allows Users to dispute the ACM and to view its details.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Some of these fields include the
    <img border="0" width="22" height="22" id="Imagen 233" src="airline/images/image169.jpg" /> icon, which allows
    ordering the ADM list according to that field, in a descending or ascending way.</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The
    <img border="0" width="82" height="30" id="Imagen 663" src="airline/images/image170.jpg" />
    button allows to display the information filtered according to different criteria. </span
  ><span lang="EN-GB">By default, no filter is applied. </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 665" src="airline/images/image171.jpg" /></span
  ><span lang="EN-GB">
    button allows users to download the results in CSV or TXT format. It is possible to perform a detailed download by
    clicking on the <img border="0" width="82" height="30" src="airline/images/icon-arrow-down-blue.jpg" /> icon.</span
  ><span lang="EN-GB" style="color: #172b4d"> </span>
</p>

<h5><span lang="EN-GB" style="font-size: 12pt; line-height: 97%">ACM detailed view</span></h5>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to check a given ACM detailed view, it is necessary to click on the Document Number or the
    <b><img border="0" width="22" height="22" id="Imagen 238" src="airline/images/image172.jpg" /></b>
    icon on the row of that ADM from the ACM view, and then on “Details”.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Once clicked, the ADM detailed view gets displayed on a new tab:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="216" id="Imagen 80" src="airline/images/image173.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254096"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: ACM detailed view.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The ACM detailed view is divided into four main sections: “ACM Header”, “Basic information”, “Details” and “Amount
    and Tax”.</span
  >
</p>

<h6><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">ACM Header</span></h6>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">The table at the top of the ACM detailed view contains its most relevant data:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="47" id="Imagen 742" src="airline/images/image174.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254097"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: ACM Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="MsoNormal" style="margin-bottom: 0in; line-height: 150%">
  <span lang="EN-GB"
    >Users may similarly disregard the queried ACM through the
    <img border="0" width="61" height="30" id="Imagen 743" src="airline/images/image175.jpg" />
    button. Also, it is possible to expand or collapse the whole form at once, or simply jump to one of the other
    sections (Basic Information”, “Details” or “Amount and Tax”):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: 150%;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="46" id="Imagen 744" src="airline/images/image176.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254098"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Expand other ACM sections.</span>
</p>

<h6><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">ACM Basic Information</span></h6>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The ACM Basic Information contains the relevant data concerning the operating Airline and the Agent involved in the
    ACM.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="445" id="Imagen 745" src="airline/images/image177.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254099"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: ACM Basic Information.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The Basic Information is divided into the following sections:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM General Data: </span></b><span lang="EN-GB">As stated on ACM data above:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Information: </span></b
  ><span lang="EN-GB">The following information concerning the Airline issuing the ACM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline phone number and address: </span></b
  ><span lang="EN-GB"
    >These details expanded when clicking on “Show Details” collapsed by clicking on “Hide Details”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Information: </span></b
  ><span lang="EN-GB">The following information concerning the Agent receiving the ACM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent phone number and address: </span></b
  ><span lang="EN-GB"
    >These details expanded when clicking on “Show Details” collapsed by clicking on “Hide Details”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Contact: </span></b
  ><span lang="EN-GB">the following details concerning Users in charge of the ACM are displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Telephone/Fax</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">E-mail address</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM Properties: </span></b
  ><span lang="EN-GB">the following ACM properties are indicated in under the ACM Basic Information:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for: </span></b><span lang="EN-GB">“Issue”, “Refund”, “Exchange” or “EMD”</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b><span lang="EN-GB">“D”</span><b><span lang="EN-GB"> (</span></b
  ><span lang="EN-GB">domestic) or “I” (international).</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net Reporting option</span></b>
</p>

<h6><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">Details</span></h6>

<p class="MsoNormal">
  <span lang="EN-GB">The Details section includes the motivation for the ACM and is presented in two parts: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="189" id="Imagen 746" src="airline/images/image178.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254100"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">:  ACM Details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Details: </span></b
  ><span lang="EN-GB">The information concerning the ACM Reason is indicated in two fields:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason: </span></b
  ><span lang="EN-GB"
    >The information concerning the different ADM actions are indicated under this subsection. These include “Reason for
    Issue”, “Reason for Dispute”, “Reason for Deactivation” or “Forward to GDS”. Besides, the RMIC (Reason of Memo
    Issuance Code) is also indicated, if any.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RMIC (Reason for memo Issuance Code)</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Documents: </span></b
  ><span lang="EN-GB">The information from the document due to which the ACM is issued is indicated as follows:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Document Number: </span></b
  ><span lang="EN-GB">There is a maximum of 490 related documents within each ACM.</span>
</p>

<h6><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">Amount and Tax </span></h6>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, it is possible to check all the information concerning the ticket amount and the tax related to it. This
    information is indicated in two sections:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="218" id="Imagen 747" src="airline/images/image179.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254101"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: ACM Amount and Tax.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount: </span></b
  ><span lang="EN-GB"
    >The data related to Amount is presented in three columns, each of them corresponding to the Agent Input, the
    Airline Input and the Difference of them:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax, Fees and Charges</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Total</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax</span></b
  ><span lang="EN-GB">: Finally, there is a relation of taxes presented by their ISO codes and their amounts.</span>
</p>

<h5><span lang="EN-GB" style="font-size: 12pt; line-height: 97%">ACM Issue</span></h5>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The </span
  ><span lang="EN-GB"><img border="0" width="122" height="30" id="Imagen 284" src="airline/images/image180.jpg" /></span
  ><span lang="EN-GB"> button allows </span
  ><span lang="EN-GB"
    >Users to issue an ACM about one or more tickets issued by any Agent in the same BSP. This makes the amount due to
    be deducted from such agent’s remittance, or to remit the funds through a SPDR. Please note that it is necessary
    that the Agent is active in such BSP in order to issue an ACM. If there are no active agents in the BSP, then it is
    not possible to issue ACMs.
  </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >If necessary, it is possible to issue an ACM by means of the “Issue Under Supervision” option by clicking on the
    arrow.</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >Alternatively, it is possible to issue an ACM on a given ticket through the “Document Enquiry” option (please refer
    to </span
  >6.5.1 Document Enquiry<span lang="EN-GB"
    >). Once the ticket number on which the ACM is to be applied is introduced and displayed, the Ticket Title includes
    the
    <img border="0" width="79" height="30" id="Imagen 139" src="airline/images/image181.jpg" />
    button:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="57" id="Imagen 236" src="airline/images/image182.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254102"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: ACM issuance from &quot;Document Enquiry&quot; option.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The following options are dropped down once this button is clicked:</span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="191" height="228" id="Imagen 142" src="airline/images/image183.png"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254103"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: Issue button from “Document Enquiry” option.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >It is then necessary to click “Issue ACM”. Regardless of the option selected, Users get to the following
    screen:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="216" id="Imagen 16" src="airline/images/image184.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254104"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: ACM Issue screen.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >This screen includes the ACM form, divided into four main parts: the ACM Header, the ACM Basic Information, the
    Details and the Amount and Tax.
  </span>
</p>

<h5><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">ACM Header</span></h5>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The table at the very top of the screen includes the following fields, which are automatically completed as Users
    complete the ACM issue form:
  </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date (automatically indicated)</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >It is precisely on this table where the ACM will be issued by means of the
    <img border="0" width="61" height="30" id="Imagen 14" src="airline/images/image185.jpg" />
    button, once the whole form is complete. Users may similarly disregard the ACM issuance through the
    <img border="0" width="61" height="30" id="Imagen 255" src="airline/images/image112.jpg" />
    button. Besides, users may expand the whole form at once, or simply jump to one of the other sections (Basic
    Information”, “Details” or “Amount and Tax”):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="47" id="Imagen 18" src="airline/images/image186.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254105"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: ACM Issue Header.</span>
</p>

<h5><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">ACM Basic Information</span></h5>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The ACM Basic Information contains the relevant data concerning the operating Airline and the Agent involved in the
    ACM.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="447" id="Imagen 30" src="airline/images/image187.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254106"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: ACM Issue Basic Information.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >The following fields appear at the top of the ACM Basic Information, which are automatically completed as users
    complete the rest of the form:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date: </span></b
  ><span lang="EN-GB">the date in which the ACM is to be reported to the involved Agent.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >The Airline information is populated from the database, and it is possible to edit the VAT number, with maximum 30
    characters. Also, even though the Contact fields are also populated, it is possible for Users to edit them:</span
  >
</p>

<p
  class="BulletLevel1"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name: </span></b><span lang="EN-GB">This field accepts a maximum of 126 characters.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Telephone / Fax:</span></b
  ><span lang="EN-GB"> Of 126 characters maximum.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">E-mail: </span></b><span lang="EN-GB">Users must indicate a valid e-mail address.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >Similarly, the Agent information is populated once the involved Agent is picked from the list. The VAT number can
    be edited, accepting a maximum of 30 characters. Please note that both the Airline and the Agent details can be
    expanded or hidden.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">Once the Agent has been indicated, the system allows Users to complete the ADM Properties:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMA for: </span></b
  ><span lang="EN-GB"
    >Users must indicate if the ACM is related to an Issue, an “Exchange”, a “Refund” or an “EMD”.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB"
    >the BSP Default Currency is automatically shown, but it is possible to indicate another operating one in that BSP.
    A list with the existing Currencies in that BSP can be displayed. The selected currency affects the behaviour of all
    monetary amount fields in the ACM form, such as the decimal amount to be shown. Please note that if the Currency is
    changed after Users have completed all the monetary values in the ACM form, these get reset to zero.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b><span lang="EN-GB">the ACM can be either “Domestic” or “International”.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >Besides, Users may choose the Net-Reporting indicator. If it is marked, the system displays the SPAM fields.</span
  >
</p>

<h5><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">ACM Details</span></h5>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The ACM Issue Details information is divided into the Reason Details and the Related Documents information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="638" height="185" id="Imagen 42" src="airline/images/image188.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254107"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: ACM Issue Details.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">The Reason Details information includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason: </span></b
  ><span lang="EN-GB"
    >Users may indicate a Reason for each ACM-related action (Issue, Dispute, Deactivation) of maximum 20 lines of 45
    characters each, similarly as in ACM Issue Configuration (please see </span
  ><span lang="EN-GB">6.2.2 Configuration</span><span lang="EN-GB">).</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for Memo Issuance Code (RMIC): </span></b
  ><span lang="EN-GB"
    >The RMIC must consist of a 0-5 alphanumerical character code of uppercase from “A” to “Z” and digits from “0” to
    “9”, and may include the following special characters: full stop (.), slash (/), minus sign (-) and embedded blank (
    ). Please note that if a RMIC is entered but there is no RTDN (Related Ticket / Document Number), the system warns
    that the RMIC is not reported to the DPC.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">The Related Document information includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger: </span></b
  ><span lang="EN-GB"
    >The name of the passenger of the first related document can be indicated. This field accepts up to 49
    alphanumerical characters.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date: </span></b
  ><span lang="EN-GB"
    >The date of issue of the first related document can be indicated, which must be before or equal to the ACM date of
    issue. Please note that if a RTDN issue date is entered but there is no RTDN (Related Ticket / Document Number), the
    system warns that the RMIC is not reported to the DPC.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Document Number: </span></b
  ><span lang="EN-GB"
    >It is possible to insert up to 490 related document number. Each number consists of a numerical code of 13
    characters: the Airline IATA Code in the BSP in which the ACM is to be issued and 10 digits. Please note that each
    related document number is unique by ACM. In order to introduce a Related Document Number, it is necessary to click
    on <img border="0" width="46" height="30" id="Imagen 245" src="airline/images/image189.jpg" />, which turns blue
    once a valid RTDN is entered. Once done, the list of RTDN is displayed below.</span
  >
</p>

<h5><span lang="EN-GB" style="font-size: 9pt; line-height: 97%">Amount and Tax</span></h5>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">Lastly, users must complete the Amount and Tax information:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="218" id="Imagen 45" src="airline/images/image190.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254108"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">14</span
  ><span lang="EN-GB">: ACM Issue Amount and Tax.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >It is necessary to insert the Agent and Airline input amounts on “Fare”, “Tax, Fees and Charges” and “Commission”.
    These amounts concern those of the related documents as issued by the Agent and the expected ones by the Airline.
    The system calculates the totals for both the Agent and Airline input amounts as well as the differences to obtain
    the due amount expected to be remitted by the Agent. Please note that all the amounts must show the same number of
    decimals, as defined by the BSP Currency chosen.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >When no amount is inserted in a given field, the value is 0 with the corresponding currency decimals (e.g. since
    EUR accepts two decimals, the amount is “EUR 0.00”). Similarly, when a field shows an amount with less decimals than
    the permitted ones by the Currency, then 0 will be added (e.g. “EUR 1,3” turns into “EUR 1.30”).</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >Finally, Users may insert an unlimited number of taxes. Once the ISO Tax Code and its corresponding amount have
    been inserted, the tax can be added to the ACM by means of the
    <img border="0" width="65" height="30" id="Imagen 63" src="airline/images/image191.jpg" />
    button. Added taxes can be deleted by means of the
    <img border="0" width="22" height="22" id="Imagen 27" src="airline/images/image192.jpg" />
    icon.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >After completing the ACM Basic Information, the ACM Details and the ACM Amount and Tax, the information in the ACM
    Header is displayed and it is possible to issue the ACM.</span
  >
</p>

<h5><span lang="EN-GB" style="font-size: 12pt; line-height: 97%">ACM Deactivation</span></h5>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >Similarly to ADMs, it is possible to deactivate ACMs which have previously been issued. Please refer to </span
  ><span lang="EN-GB">6.3.1.1 ADMA</span><span lang="EN-GB"> to review the process to deactivate an ACM.</span>
</p>

<h5><span lang="EN-GB" style="font-size: 12pt; line-height: 97%">ACM Dispute</span></h5>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is also possible to dispute an ACM from the “ACM Query option”. Once the list of ACMs is displayed, Users may
    dispute any of them by clicking on the
    <b><img border="0" width="22" height="22" id="Imagen 31" src="airline/images/image193.jpg" /></b>
    icon. This icon includes the following options:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="191" height="130" id="Imagen 227" src="airline/images/image194.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254109"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: Dispute option from ACM list.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to start a dispute, it is necessary to click on “Dispute”. Otherwise, Users may display the ACM detailed
    view to do so. At the top, the ACM Header of any ACM having “Pending” status includes this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="44" id="Imagen 750" src="airline/images/image195.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254110"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">16</span
  ><span lang="EN-GB">: Dispute ACM on ACM Header.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >At this point, it is possible to click on either “Dispute” from
    <img border="0" width="123" height="30" id="Imagen 246" src="airline/images/image196.jpg" />
    button to directly get the Dispute modal box, or on the arrow. This arrow provides the following options, out of
    which it is necessary to click on “Dispute”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="194" height="130" id="Imagen 751" src="airline/images/image197.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254111"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">17</span
  ><span lang="EN-GB">: Dispute arrow options.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">All the different options to dispute an ACM lead to the following modal box:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="402" id="Imagen 752" src="airline/images/image198.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254112"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">18</span
  ><span lang="EN-GB">: Dispute ACM modal box.</span>
</p>

<p class="MsoNormal" style="margin-top: 0.25in">
  <span lang="EN-GB">In order to confirm a dispute, it is necessary to complete the following fields:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Reason: </span></b
  ><span lang="EN-GB"
    >If the Airline has predefined Dispute Reasons or the BSP includes any under its configuration (please refer to </span
  ><span lang="EN-GB">6.2.2 Configuration</span
  ><span lang="EN-GB"
    >), it will be possible to select one from a list. A predefined reason can be edited after being selected.
    Otherwise, the user may introduce a new reason of a maximum of ten lines of 45 characters each.
  </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact for Dispute correspondence:</span></b
  ><span lang="EN-GB">
    This contact can be an e-mail address or a phone number. The maximum length is 70 characters.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Once completed, the User may confirm the Dispute by clicking on
    <img border="0" width="74" height="30" id="Imagen 52" src="airline/images/image199.jpg" />. </span
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 754" src="airline/images/image200.jpg" /></span>
  or to press “Esc” from the keyboard<span lang="EN-GB"
    >. The system confirms that the ADM has been successfully disputed. Besides, the status section of such ADM turns
    into “Disputed”. Besides, depending on the Airline response, the Status can be “Dispute Rejected” or “Dispute
    Approved”.</span
  >
</p>

<h5 style="margin-top: 0.25in">
  <span lang="EN-GB" style="font-size: 12pt; line-height: 97%">Disputed ACM</span>
</h5>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once an ACM has been disputed, its status changes consequently from “Pending” into “Disputed”. Furthermore, the ACM
    detailed view includes the information concerning the dispute under “Details”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="278" id="Imagen 755" src="airline/images/image201.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451445"></a><a name="_Toc40254113"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">19</span
  ><span lang="EN-GB">: Disputed ACM detailed view.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Under the ACM Issue Reason, the Dispute Reason that was indicated in the ACM Dispute modal box is displayed. The
    involved Airline finds all disputed ACMs under the ACMA section (filtering by “Disputed” status is possible) and
    must review each dispute details to accept or reject it.
  </span>
</p>
