<p class="TableText">
  <span lang="EN-GB"
    >This option allows Airline user to query and manage ACNTs (non-ticket related credit memos). The information
    displayed in this option is the same as for ADMs. Please refer to </span
  ><span lang="EN-GB">6.3.2.1 ACM</span><span lang="EN-GB"> to know how to query and issue ACNTs.</span>
</p>
