<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Airline users to upload a file with the contents of ADMs and ACMs via this option instead of
    filling in the forms manually. Once accessed, this option displays the following table:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/adm-acm-files-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADM/ACM Files.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">Please consider that this table contains two tabs: </span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Massload Files: </span></b
  ><span lang="EN-GB"
    >massload files are listed on a table which may contain Active or Not Processed files. For each Active file, the
    following fields are indicated:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">File Name</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Upload Date</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">User name</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Email</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">ADMA Total</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">ACMA Total</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Status</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">For each Not Processed file, the following fields are indicated:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">File Name</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Cancellation Date</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Cancel By</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Email</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Status</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Attachments to Massload Files: </span></b
  ><span lang="EN-GB">Attachments are listed on a table which contains the following fields:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">File Name</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Document Number</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Upload date</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">User Name</span>
  <br />
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Email</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In all cases above, users may narrow down queries by means of the
    <img border="0" height="33" src="airline/images/image061.jpg" /> button. In addition, the following options are
    available:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >From the Massload Files tab, users may stop the processing of specific files by clicking on
    <img border="0" height="33" src="airline/images/stop-processing-icon.jpg" />. The following dialogue is then
    displayed:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/adm-acm-files-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Stop processing by File Name.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users may then indicate the file which should not be processed. If the processing of more than one file must be
    stopped, it is possible to add extra rows by clicking on
    <img border="0" height="33" src="airline/images/icons+file-name.jpg" />. Any added row may be removed by clicking on
    <img border="0" height="33" src="airline/images/image192.jpg" />. When the wished fields have been indicated, it is
    necessary to click on <img border="0" height="33" src="airline/images/stop-processing-dark-icon.jpg" />.
  </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Also from the Massload Files tab, it is possible to check the totals of Active files by clicking on
    <img border="0" height="33" src="airline/images/image312.jpg" />.
  </span>
</p>
