<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >This option displays all the ADM requests issued by Agents. The information is distributed as in </span
  ><span lang="EN-GB">6.3.1.1 ADM</span
  ><span lang="EN-GB"
    >A. By clicking on the Document Number, it is possible to display it and approve or reject it.</span
  >
</p>
