<p class="MsoNormal" style="margin-top: 6pt">
  <a name="_Hlk8045994"
    ><span lang="EN-GB"
      >This option leads to the list of all the issued ADMs by the operating Airline in the accessed BSP. ADMs are
      stored under three tabs:
    </span></a
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Active</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Archive</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Deleted</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">In each tab, ADMs are listed in a table which shows the following fields per document:: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="171" id="Imagen 209" src="airline/images/adma-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADMA view.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">Territory in which the ADM is issued.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b
  ><span lang="EN-GB"
    >The document number can be accompanied by an icon which indicates that there is an Internal Comment (<img
      border="0"
      height="33"
      src="airline/images/icon-bubbles.jpg"
    />) added by the user as personal note. The comment is only visible for the user who added it.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >The status of the ADM is accompanied by an icon showing whether it has been sent to the DPC (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 38" src="airline/images/image100.jpg" /></span
  ><span lang="EN-GB">), not sent yet (</span
  ><span lang="EN-GB"><img border="0" width="46" height="15" id="Imagen 58" src="airline/images/image101.jpg" /></span
  ><span lang="EN-GB">), or will not be sent (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 60" src="airline/images/image102.jpg" /></span
  ><span lang="EN-GB">). Possible statuses are:</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Disputed</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Approved</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Rejected</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deactivated</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted (under the “Deleted” tab)</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorized Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Rejected Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Billing Disputed</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Pending Authorization: it is possible to display an ADM which has been sent for Authorization and modify any data,
    if necessary.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <a name="_Hlk9428442"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><span lang="EN-GB"
      ><img border="0" width="22" height="22" id="Imagen 719" src="airline/images/image103.jpg" /></span
    ><b><span lang="EN-GB">: </span></b
    ><span lang="EN-GB">This icon deploys different options related to the ADM.</span></a
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The
    <img border="0" width="82" height="30" id="Imagen 711" src="airline/images/image104.jpg" />
    button allows displaying the information filtered according to the following criteria:
  </span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/adma-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254068"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: ADM Filter.</span>
</p>

<p
  class="MsoListParagraphCxSpFirst"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 150%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP:</span></b
  >&nbsp;&nbsp;options must be selected from a dropdown list. Multiple selection is possible. For multi-country users,
  if no BSP is selected the period field will be disabled.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b
  >&nbsp;&nbsp;it must be manually introduced.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name:</span></b
  >&nbsp;&nbsp;options must be selected from a dropdown list. Multiple selection is possible.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  >&nbsp;&nbsp; ><span lang="EN-GB">
    options must be selected from a dropdown list. Multiple selection is possible.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS or Forward</span></b
  >&nbsp;&nbsp;it is possible to select multiple GDSs.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b
  >&nbsp;&nbsp;options must be selected from a dropdown list. Multiple selection is possible.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount Range</span></b
  >&nbsp;&nbsp;the query can be filtered by a minimum value, a maximum value or both.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Type:</span></b
  >&nbsp;&nbsp;<span lang="EN-GB">Issue, Refund, Exchange or EMD. Multiple selection is possible.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date:</span></b
  >&nbsp;&nbsp;dates must be selected from the displayed calendar.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">
    ●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Date:</span></b
  >&nbsp;&nbsp; dates must be selected from the displayed calendar.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">
    ●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  >&nbsp;&nbsp; it is possible to select multiple periods within the same month.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">
    ●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date:</span></b
  >&nbsp;&nbsp; dates must be selected from the displayed calendar.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to DPC: </span></b
  ><span lang="EN-GB"
    >possible values are “Sent”, when the ADM was already sent to the Data Processing Centre; “Pending”, if the ADM has
    not been sent yet; or “N/A”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Internal Comment: </span></b><span lang="EN-GB">“Yes” / ”No”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Primary Reasons: </span></b
  ><span lang="EN-GB">options must be selected from a dropdown list. Multiple selection is possible.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sub-Reasons: </span></b
  ><span lang="EN-GB"
    >options are populated on a dropdown list depending on the value introduced under “Primary Reasons”. Multiple
    selection is possible.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Read/Unread</span></b>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">To perform a filtered query, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 66" src="airline/images/image106.jpg" /></span
  ><span lang="EN-GB">. The </span
  ><span lang="EN-GB"><img border="0" width="62" height="30" id="Imagen 713" src="airline/images/image107.jpg" /></span
  ><span lang="EN-GB"> button removes the filters previously selected. By default, no filter is applied. </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 714" src="airline/images/image108.jpg" /></span
  ><span lang="EN-GB">
    button allows users to download the results in CSV or TXT format. Downloaded files include the “issue reason” field.
    It is possible to perform a detailed download by clicking on the
    <img border="0" width="106" height="30" id="Imagen 714" src="airline/images/image108.jpg" /> icon. </span
  ><span lang="EN-GB" style="color: #172b4d"> </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  ADM detailed view
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to check the detailed view of a given ADM, it is necessary to click on the <b>Document Number</b> or the
    <img border="0" height="23" src="airline/images/icon-arrow-down-blue.jpg.jpg" /> icon on the row of that ADM from
    the ADM view and select “Details”.</span
  >
</p>

<p class="MsoNormal">
  <a name="_Hlk9428604"><span lang="EN-GB">Once clicked, the ADM detailed view is displayed on a new tab:</span></a>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/adma-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254069"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: ADM detailed view.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >The ADM detailed view is divided into four main sections: “ADM Header”, “Basic information”, “Details” and “Amount
    and Tax”.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Header
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">The ADM Header, which is always visible, contains its most relevant data:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="62" id="Imagen 218" src="airline/images/image111.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254070"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: ADM Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >Users may also leave the queried ADM through the
    <img border="0" width="61" height="30" id="Imagen 11" src="airline/images/image112.jpg" />
    button. Besides, it is possible to expand or collapse the whole form at once, or simply jump to one of the other
    sections (Basic Information”, “Details” or “Amount and Tax”):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: 150%;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="62" id="Imagen 221" src="airline/images/image113.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254071"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Moving to other ADM sections.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Basic Information
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The ADM Basic Information section contains the relevant data concerning the operating Airline and the Agent
    involved in the ADM.
  </span>
</p>

<p
  class="MsoListParagraph"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="367" id="Imagen 220" src="airline/images/image115.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254072"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: ADM Basic Information.</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk9506917"><span lang="EN-GB">The Basic Information is divided in the following sections:</span></a>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM General Data: </span></b><span lang="EN-GB">As stated on ADM data above:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <a name="_Hlk9506937"
    ><span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
      >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Document number</span></b></a
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">limited to Users’ permissions.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB">Type<a name="_Hlk9507390"></a></span
  ></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Information: </span></b
  ><span lang="EN-GB">The following information concerning the Airline which issued the ADM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline phone number and address: </span></b
  ><span lang="EN-GB"
    >These details expanded when clicking on “Show Details” collapsed by clicking on “Hide Details”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Information: </span></b
  ><span lang="EN-GB">The following information concerning the Agent receiving the ADM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent phone number and address: </span></b
  ><span lang="EN-GB"
    >These details expanded when clicking on “Show Details” collapsed by clicking on “Hide Details”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Contact: </span></b
  ><span lang="EN-GB">The following details concerning Users in charge of the ADM are displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Telephone/Fax</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">E-mail address</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM Properties: </span></b
  ><span lang="EN-GB">The following ADM properties are indicated in under the ADM Basic Information:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for: </span></b><span lang="EN-GB">“Issue”, “Exchange” or “EMD”</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TOCA Type: </span></b><span lang="EN-GB">The Tax on Commission Amount type.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b><span lang="EN-GB">Domestic or International.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net Reporting option</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Details section contains the relevant information which motivates the ADM and is presented in two parts:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="230" id="Imagen 725" src="airline/images/image116.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254073"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: ADM Details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <a name="_Hlk9507871"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Reason Details: </span></b
    ><span lang="EN-GB"
      >The information concerning the different ADM actions are indicated under this subsection. These include “Reason
      for Issue”, “Reason for Dispute” and “Reason for Deactivation”. Besides, the RMIC (Reason of Memo Issuance Code)
      is also indicated, if any.</span
    ></a
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Documents: </span></b
  ><span lang="EN-GB">The information from the document due to which the ADM is issued is indicated as follows:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Document Number: </span></b
  ><span lang="EN-GB">There is a maximum of 490 related documents within each ADM.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, it is possible to check all the information concerning the ticket amount and the taxes related to it. This
    information is indicated in two sections:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="288" id="Imagen 726" src="airline/images/image117.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254074"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: ADM Amount and Tax.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <a name="_Hlk9508614"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Amount: </span></b
    ><span lang="EN-GB"
      >The data related to Amount is presented in three columns, each of them corresponding to the Agent Input, the
      Airline Input and the Difference of them:</span
    ></a
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax, Fees and Charges</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax on Commission</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Total</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax</span></b
  ><span lang="EN-GB">: Finally, there is a relation of taxes presented by their ISO codes and their amounts.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Issue
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The “ADM Issue” button allows </span
  ><span lang="EN-GB">Users to issue an ADM against one or more tickets issued by any Agent in the same BSP. </span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB">
    <img border="0" width="646" height="171" id="Imagen 237" src="airline/images/image119.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">9</span><span lang="EN-GB">: &quot;ADM Issue&quot; button.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >This makes the amount due to be included in such agent’s billing. Please note that it is necessary that the Agent
    is active in such BSP in order to issue an ADM.
  </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >If ADMs must be authorized, users may issue them under authorization by clicking on the arrow of this button:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="295" height="158" id="Imagen 247" src="airline/images/image120.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">10</span><span lang="EN-GB">: Issue ADMs under supervision.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk31878712"><span lang="EN-GB">In both cases, users get to the following screen:</span></a>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="212" id="Imagen 258" src="airline/images/image121.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254075"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: ADM Issue screen.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >This screen includes the ADM form, divided into four main parts: ADM Header, ADM Basic Information, Details and
    Amount and Tax.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Header
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The table at the very top of the screen includes the following fields, which are automatically completed as Users
    fill in the ADM issue form:
  </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date (automatically indicated)</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >It is precisely on this table where the ADM will be issued by means of the “Issue” button (or “Issue Under
    Supervision” if that is the case), once the whole form is complete:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB">
    <img border="0" width="634" height="63" id="Imagen 265" src="airline/images/image122.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">12</span><span lang="EN-GB">: Issue button.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <a name="_Hlk9506199"
    ><span lang="EN-GB"
      >Users may expand the whole form at once, or simply jump to one of the other sections (Basic Information”,
      “Details” or “Amount and Tax”):</span
    ></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB">
    <img border="0" width="634" height="63" id="Imagen 275" src="airline/images/image126.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254076"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: ADM Issue header.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Basic Information
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <a name="_Hlk9506578"
    ><span lang="EN-GB"
      >The ADM Basic Information contains the relevant data concerning the operating Airline and the Agent involved in
      the ADM.
    </span></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="364" id="Imagen 256" src="airline/images/image127.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254077"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">14</span
  ><span lang="EN-GB">: ADM Issue Basic Information.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <a name="_Hlk9506854"
    ><span lang="EN-GB"
      >The following fields appear at the top of the ADM Basic Information, which are automatically completed as Users
      complete the rest of the form:</span
    ></a
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date: </span></b
  ><span lang="EN-GB">The date in which the ADM is to be reported to the involved Agent.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >The Airline information is populated from the database, and it is possible to edit the VAT number, with maximum 30
    characters. Also, even though the Contact fields are also populated, it is possible for Users to edit them:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name: </span></b
  ><span lang="EN-GB"
    >This field accepts a maximum of 126 characters. The contact details of the Airline user who is logged in will be
    automatically populated, although these will be editable.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Telephone / Fax:</span></b
  ><span lang="EN-GB"> This field allows accepts a maximum of 126 characters.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">E-mail: </span></b><span lang="EN-GB">Users must indicate a valid e-mail address.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >Similarly, the Agent information is populated once the involved Agent is picked from the list. The VAT number can
    be edited, accepting a maximum of 30 characters. Please note that both the Airline and the Agent details can be
    expanded or hidden.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">Once the Agent has been indicated, the system allows Users to complete the ADM Properties:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for: </span></b
  ><span lang="EN-GB"
    >Users must indicate if the ADM is related to an “Issue”, an “Exchange”, a “Refund”
    <a name="_Hlk23842780">(which accepts the introduction of penalties and the handling of fees) </a>or an “EMD”.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB"
    >the BSP Default Currency is automatically shown, but it is possible to indicate another operating one in that BSP.
    A list with the existing Currencies in that BSP can be displayed. The selected currency affects the behaviour of all
    monetary amount fields in the ADM form, such as the decimal amount to be shown. Please note that if the Currency is
    changed after Users have completed all the monetary values in the ADM form, these get reset to zero.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b
  ><span lang="EN-GB"
    >the ADM can be either “D” (Domestic) or “I” (International). This configuration varies according to each BSP
    features.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">Besides, Users may choose the Net-Reporting indicator. </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Details
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The ADM Issue Details information is divided into the Reason Details and the Related Documents information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="206" id="Imagen 732" src="airline/images/image128.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254078"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: ADM Issue Details.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">The Reason Details information includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason: </span></b
  ><span lang="EN-GB"
    >Users may indicate a Reason for each ADM-related action (Issue, Dispute, Deactivation, Forward to GDS) of maximum
    20 lines of 45 characters each, similarly as in ADM Issue Configuration. If configured, users may simply choose one
    reason from a dropdown list, which is editable when needed.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for Memo Issuance Code (RMIC): </span></b
  ><span lang="EN-GB"
    >The RMIC must consist of a 0-5 alphanumerical character code of uppercase from “A” to “Z” and digits from “0” to
    “9”, and may include the following special characters: full stop (.), slash (/), minus sign (-) and embedded blank (
    ). Please note that if a RMIC is entered but there is no RTDN (Related Document / Ticket Number), the system warns
    that the RMIC is not reported to the DPC.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">The Related Document information includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger: </span></b
  ><span lang="EN-GB"
    >The name of the passenger of the first related document can be indicated. This field accepts up to 49
    alphanumerical characters.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date: </span></b
  ><a name="_Hlk9508272"><span lang="EN-GB">The date of issue of the first related document can be indicated</span></a
  ><span lang="EN-GB"
    >, which must be before or equal to the ADM date of issue. Please note that if a RTDN issue date is entered but
    there is no RTDN (Related Document / Ticket Number), the system warns that the RMIC is not reported to the
    DPC.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <a name="_Hlk7174551"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Related Document Number: </span></b
    ><span lang="EN-GB">It is possible to insert up to 490</span></a
  ><span lang="EN-GB">
    related document number. Each number consists of a numerical code of 13 characters: the Airline IATA Code in the BSP
    in which the ADM is to be issued and 10 digits. Please note that each related document number is unique by ADM. In
    order to introduce a Related Document Number, it is necessary to click on
    <img border="0" width="46" height="30" id="Imagen 736" src="airline/images/image129.jpg" />, which turns blue once a
    valid RTDN is entered. Once done, the list of RTDN is displayed below.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">Lastly, users must complete the Monetary Amount and Tax information:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="272" id="Imagen 733" src="airline/images/image130.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254079"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">16</span
  ><span lang="EN-GB">: ADM Issue Amount and Tax.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >It is possible to insert the Agent and Airline input amounts on “Fare”, “Tax, Fees and Charges”, “Commission” and
    “Tax on Commission” (this last one depends on the BSP configuration).
  </span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >These amounts concern those of the related documents as issued by the Agent and the expected ones by the Airline.
    The system calculates the totals for both the Agent and Airline input amounts as well as the differences to obtain
    the due amount expected to be remitted by the Agent. Please note that all the amounts must show the same number of
    decimals, as defined by the BSP Currency selected.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >When no amount is inserted in each field, the value is 0 with the corresponding currency decimals (e.g. since EUR
    accepts two decimals, the amount is “EUR 0.00”). Similarly, when a field shows an amount with less decimals than the
    permitted ones by the Currency, then 0 will be added (e.g. “EUR 1,3” turns into “EUR 1.30”).</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >Finally, users can insert an unlimited number of taxes. Once the ISO Tax Code and its corresponding amount have
    been inserted, the tax can be added to the ADM by means of the “Tax” button (1). Added taxes can be deleted if
    necessary (2):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; page-break-after: avoid"
>
  <span style="position: relative; z-index: 251682816"
    ><span style="position: absolute; left: 684px; top: -3437px; width: 114px; height: 1px"
      ><img width="91" height="1" src="airline/images/image131.png" alt="2" /></span></span
  ><span style="position: relative; z-index: 251680768"
    ><span style="position: absolute; left: 629px; top: -3437px; width: 126px; height: 1px"
      ><img width="101" height="1" src="airline/images/image132.png" alt="1" /></span></span
  ><span lang="EN-GB"
    ><img border="0" width="646" height="345" id="Imagen 292" src="airline/images/image133.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">17</span><span lang="EN-GB">: Management of taxes.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >After completing the ADM Basic Information, the ADM Details and the ADM Amount and Tax, the information in the ADM
    header is displayed and it is possible to issue the ADM:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB">
    <img border="0" width="634" height="63" id="Imagen 286" src="airline/images/image123.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254080"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">18</span
  ><span lang="EN-GB">: ADM can be issued.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is now necessary to click on “Issue” for the ADM to be officially issued.
    <a name="_Hlk17278808">The system will confirm that the ADM was successfully issued.</a></span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Deactivation
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It should be noted that, once issued, users may deactivate a given ADM to modify its data or suspend it.  Once the
    list of ADMs is displayed, Users may do so by clicking on the
    <img border="0" width="22" height="22" id="Imagen 738" src="airline/images/image135.jpg" /> icon. Once clicked, the
    following options are given:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="191" height="279" id="Imagen 739" src="airline/images/image136.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254081"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">19</span
  ><span lang="EN-GB">:  Deactivate option from ADM list.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to deactivate an ADM, it is necessary to click on “Deactivate”. Besides, Users may display the ADM
    detailed view to do so. At the top, the ADM Header of any ADM having “Pending” status includes this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="55" id="Imagen 740" src="airline/images/image137.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254082"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">20</span
  ><span lang="EN-GB">: Dispute option from ADM Header.</span>
</p>

<p class="MsoNormal" style="margin-top: 0.25in">
  <span lang="EN-GB"
    >At this point, it is necessary to click the arrow, which provides the following options, out of which it is
    necessary to click on “Deactivate”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 150%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="170" height="131" id="Imagen 544" src="airline/images/image138.png"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254083"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">21</span
  ><span lang="EN-GB">: Deactivate option from ADM detailed view.</span>
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >The following modal box appears once “Deactivate” is clicked, in which there is the option to indicate a remark of
    a maximum of five lines of 45 characters each concerning the deactivation:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 150%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="293" id="Imagen 545" src="airline/images/image139.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254084"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">22</span
  ><span lang="EN-GB">: Deactivate ADM modal box.</span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >In order to confirm the deactivation, Users must click the
    <img border="0" width="93" height="30" id="Imagen 474" src="airline/images/image140.jpg" />
    button. When deactivated, ADMs show no reporting date and the correspondent reason will be displayed under the
    “Details” section.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Also, any deactivated ADM may get reactivated following the same process as above but clicking on the
    <img border="0" width="142" height="30" id="Imagen 484" src="airline/images/image141.jpg" />
    option. In that case, the following modal box pursues to obtain the confirmation of the reactivation:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 150%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="375" height="219" id="Imagen 547" src="airline/images/image142.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254085"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">23</span
  ><span lang="EN-GB">: Reactivate ADM.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0in">
  <span lang="EN-GB"
    >To confirm the reactivation of the ADM, it is just necessary to click on
    <img border="0" width="94" height="30" id="Imagen 476" src="airline/images/image143.jpg" />.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Dispute
</p>

<p class="MsoNormal">
  <a name="_Hlk9859152"
    ><span lang="EN-GB"
      >It is also possible to dispute an ADM from the “ADM Query option”. Once the list of ADMs is displayed, the
      <b><img border="0" width="22" height="22" id="Imagen 6" src="airline/images/image144.jpg" /></b>
      icon leads to the possibility of disputing it. Once clicked, the following options are displayed:</span
    ></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="183" height="305" id="Imagen 543" src="airline/images/image145.png"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254086"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">24</span
  ><span lang="EN-GB">: Dispute option from ADM list.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to start a dispute, it is necessary to click on “Dispute”. Otherwise, users may display the ADM detailed
    view to do so. At the top right, the ADM Header of any ADM having “Pending” status includes this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="642" height="62" id="Imagen 550" src="airline/images/image146.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254087"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">25</span
  ><span lang="EN-GB">: Dispute option from ADM Header.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >At this point, it is possible to click on either “Dispute” from
    <img border="0" width="123" height="30" id="Imagen 2" src="airline/images/image147.jpg" /> button to directly get
    the Dispute modal box, or on the arrow. This arrow provides the following options,
    <a name="_Hlk9853647">out of which it is necessary to click on “Dispute”:</a></span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="191" height="154" id="Imagen 551" src="airline/images/image148.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254088"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">26</span
  ><span lang="EN-GB">: Dispute arrow options.</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk9853688"
    ><span lang="EN-GB">All the different options to dispute an ADM lead to the following modal box:</span></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="404" id="Imagen 552" src="airline/images/image149.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254089"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">27</span
  ><span lang="EN-GB">: ADM dispute modal box.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">In order to confirm a dispute, it is necessary for Users to complete the following fields:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Reason: </span></b
  ><span lang="EN-GB"
    >If the Airline has predefined Dispute Reasons or the BSP includes any under its configuration (please refer to </span
  ><span lang="EN-GB">6.2.2 Configuration</span
  ><span lang="EN-GB"
    >), it will be possible to select one from a list. A predefined reason can be edited after being selected.
    Otherwise, the user may introduce a new reason of a maximum of ten lines of 45 characters each.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact for Dispute correspondence:</span></b
  ><span lang="EN-GB">
    This contact can be an e-mail address or a phone number. The maximum length is 70 characters.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="margin-top: 12pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0.25in"
>
  <span lang="EN-GB"
    >Since both fields are mandatory, the system warns the user about the necessity of completing them:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="402" id="Imagen 553" src="airline/images/image150.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254090"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">28</span
  ><span lang="EN-GB">; ADM Dispute modal box requirements.</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk9853820"
    ><span lang="EN-GB"
      >Once completed, users may confirm the Dispute by clicking on
      <img border="0" width="74" height="30" id="Imagen 3" src="airline/images/image151.jpg" />.
    </span></a
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 554" src="airline/images/image152.jpg" /></span>
  or to press “Esc” from the keyboard<span lang="EN-GB"
    >.  The system confirms that the ADM has been successfully disputed.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Disputed ADM
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once an ADM has been disputed, its status changes consequently from “Pending” into “Disputed”. Also, the ADM
    detailed view includes the information concerning the dispute under “Details”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="278" id="Imagen 555" src="airline/images/image153.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254091"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">29</span
  ><span lang="EN-GB">: Disputed ADM detailed view.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >Under the ADM Issue Reason, both the Dispute Reason and the Contact Information that were indicated in the ADM
    Dispute modal box are displayed. The involved Airline finds all disputed ADMs under the Query ADM section (filtering
    by “Disputed” status is possible), and must review each dispute details to accept or reject it.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Approve or Reject a dispute
</p>

<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">All disputed ADMs can be easily checked through the filter option:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="374" height="274" id="Imagen 556" src="airline/images/image154.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254092"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">30</span
  ><span lang="EN-GB">: Filter by Disputed ADMs.</span>
</p>

<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >All disputed ADMs are then displayed on a table. Users may examine each disputed ADM from the detailed view
    (accessible through the Document Number or the
    <img border="0" width="22" height="22" id="Imagen 558" src="airline/images/image155.jpg" />
    icon).</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The “ADM Header” section, at the top of the ADM detailed view, includes the option to either accept or reject the
    dispute:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">
    <img border="0" width="643" height="50" id="Imagen 561" src="airline/images/image156.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254093"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">31</span
  ><span lang="EN-GB">: Reject dispute.</span>
</p>

<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >Under the “Details” section, the disputing Agent will have explained the reason to dispute the ADM:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="278" id="Imagen 560" src="airline/images/image157.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254093"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">32</span
  ><span lang="EN-GB">: Disputed ADM: reason.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >The reason shared by the Agent may motivate the approval or rejection of the ADM by the Airline. In order to either
    approve or reject it, it is necessary to click on the required option from the “ADM Header” section:</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Approve dispute
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >By clicking on <img border="0" width="126" height="30" id="Imagen 83" src="airline/images/image158.jpg" />, the
    following modal box is displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="306" id="Imagen 72" src="airline/images/image159.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Toc40254094"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">33</span
  ><span lang="EN-GB">: Approve dispute.</span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >It must be noted that this modal box can be directly displayed by clicking the
    <img border="0" width="22" height="22" id="Imagen 563" src="airline/images/image160.jpg" /> icon from the ADM query
    table and then choosing the corresponding option. Users may add a reason for approving the dispute or not
    <a name="_Hlk14865560">in a maximum of five lines of 45 characters each</a>. In order to confirm its approval, it is
    necessary to click on
    <img border="0" width="78" height="30" id="Imagen 73" src="airline/images/image161.jpg" />. </span
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 562" src="airline/images/image162.jpg" /></span>
  or to press “Esc” on the keyboard.<span lang="EN-GB">
    <a name="_Hlk14863913"
      >The system confirms that the dispute has been successfully approved and the ADM Reporting Date turns to blank to
      update the disputing Agent’s remittance</a
    >.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Reject dispute
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Also, by clicking on <img border="0" width="118" height="30" id="Imagen 77" src="airline/images/image163.jpg" />,
    the corresponding modal box is displayed.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >It must be noted that this modal box can be directly displayed by clicking the
    <img border="0" width="22" height="22" id="Imagen 566" src="airline/images/image135.jpg" /> icon from the ADM query
    table and then choosing the corresponding option. Again, Users may indicate the reason for the dispute rejection in
    a maximum of five lines of 45 characters each. In order to confirm the rejection of the dispute, it is necessary to
    click on <img border="0" width="69" height="30" id="Imagen 87" src="airline/images/image164.jpg" />. </span
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 564" src="airline/images/image165.jpg" /></span>
  or to press “Esc” from the keyboard.
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >Once the approval or rejection of a dispute is completed, the ADM status changes consequently into “Dispute
    Rejected” or “Dispute Approved”.
  </span>
</p>
