<p class="TableText">
  <span lang="EN-GB"
    >This option allows users to query and issue ADNTs (non-ticket related debit memos). The information displayed in
    this option is the same as for ADMs. Please refer to </span
  ><span lang="EN-GB">6.3.1.1 ADM</span
  ><span lang="EN-GB">A to know how to query and manage the information under this option.</span>
</p>
