<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Airline users with the corresponding permissions to search ADM/ACM Family documents by number so
    they can get the necessary details</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >When the user clicks on ADM/ACM – Search ADM/ACM by number, a modal window opens , the user can enter the document
    number (which can be up to 10 digits), then it would be able to click on
    <img border="0" height="33" src="buttons/search-darkblue.jpg" /> and the result will show.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/search-adm-acm-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Search ADM/ACM by Number.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the document is not found a message warns (inside the modal window) that no document was found with that
    number.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >When the ADM/ACM Family document is found (and the user has the relevant permission to see the data of that
    document) the following details will show:</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;BSP</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Document Number</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Agent Code</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Status</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Currency</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Amount</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Issue Date</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Dispute Date</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Period</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Reporting Date</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >When the ADM/ACM Family document is found, the user is able to download the information of the document by clicking
    on the <img border="0" height="33" src="airline/images/icon-white-download.jpg" /> button or on the arrow
    <img border="0" height="33" src="airline/images/icon-arrow-down-blue.jpg" /> to perform a detailed download. After
    selecting one of those buttons, a modal window informs the user that the details can be downloaded into a CSV or a
    TXT zipped file. The user just needs to choose the format and click on
    <img border="0" height="33" src="airline/images/icon-darkblue-download.jpg" />.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/search-adm-acm-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: ADM/ACM search results download.</span>
</p>
