@import 'theme/variables/index';
@import 'components/inline-list/inline-list';
@import 'components/form-page/form-page';
@import 'components/form-page/form-page-view';
@import 'components/form-list/form-list';

$box-shadow-color: rgba(0, 47, 91, 0.1);
$box-shadow-below: 0 2px 8px 0 $box-shadow-color;

:host {
  .wrapper {
    .listForm {
      .listForm__header > div:not(:last-child) {
        padding-right: 0;
      }

      .listForm__line .listForm__label--numeric {
        text-align: right;

        &.listForm__label--numeric--left {
          text-align: left;
        }
      }

      .listForm__footer .listForm__label--numeric {
        font-weight: bold;
      }
    }

    .net-reporting {
      margin-top: $spacing-xl;
    }

    .related-documents {
      display: block;
      margin-top: $spacing-xl;
    }

    .detail-section {
      .hide-pdf-related-doc {
        display: none;
      }

      .acdm-reason {
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow-z-1;
        padding: $spacing-xl;

        .reason {
          color: $blue-primary;
          white-space: pre-wrap;
        }

        .reasonText--empty {
          color: $gray-deep;
        }

        .stepperData--row {
          margin-top: 1.2rem;
          padding-top: 1.2rem;
          border-top: 1px solid $gray-neutral;

          span:first-child {
            color: $gray-deep;
          }

          span:last-child {
            color: $blue-primary;
            padding-left: $spacing-xxs;
          }
        }
      }
    }

    .tax-section {
      margin-top: $spacing-l;

      .listForm {
        .listForm__header > div:first-child .listForm__label {
          float: left;
        }

        .listForm__line.listForm__footer {
          border-bottom: none;
        }
      }
    }

    .reasonSection {
      margin-top: $spacing-l;

      .listForm {
        .listForm__header .listForm__label {
          float: left;
        }

        .listForm__line {
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    .admAcm__sideMenu .internal-comment-container {
      padding-bottom: $spacing-xl;
      border-bottom: 0.1rem solid #747580;
      margin-bottom: $spacing-m;

      bspl-button {
        display: block;

        ::ng-deep button {
          width: 100%;
        }
      }
    }
  }
}
