<div class="wrapper">
  <!-- HEADER STATUS AND ACTIONS BUTTONS-->

  <bspl-adm-acm-header-status
    id="statusHeader"
    [form]="headerFormGroup"
    [admAcmService]="admAcmService"
    [formData]="formData"
    [formConfig]="formConfig"
    [currency]="itemRetrieved.currency"
    [accordion]="accordion"
    (downloadClick)="onDownloadClick()"
    (heightChange)="onHeaderHeightChange($event)"
  ></bspl-adm-acm-header-status>

  <div class="row">
    <!-- MAIN FORM CONTENT-->
    <div class="col-9 admAcm__content pdf-expand">
      <bspl-accordion #accordion [multipleItemsOpen]="true" [scrollOffset]="headerHeight">
        <bspl-accordion-item [title]="'ADM_ACM.basicInfo.title'" [open]="true">
          <ng-container *ngTemplateOutlet="basicInfoTemplate"></ng-container>
        </bspl-accordion-item>

        <bspl-accordion-item [title]="'ADM_ACM.details.title'" [open]="true" class="pdf-page-break-inside-avoid">
          <ng-container *ngTemplateOutlet="detailsTemplate"></ng-container>
        </bspl-accordion-item>

        <bspl-accordion-item
          [title]="'ADM_ACM.amounts.title'"
          [showInfoIcon]="amountHasInfoAlerts()"
          [open]="true"
          class="pdf-page-break-inside-avoid"
        >
          <ng-container *ngTemplateOutlet="amountsTemplate"></ng-container>
        </bspl-accordion-item>
      </bspl-accordion>
    </div>
    <div class="col-3 admAcm__sideMenu pdf-expand">
      <ng-container *ngTemplateOutlet="internalCommentTemplate"></ng-container>
      <bspl-activity-panel
        [activities]="activities"
        [isCommentingVisible]="true"
        [commentAdded$]="commentAdded$"
        [fileUploadPath]="fileUploadPath"
        (sendComment)="onSendComment($event)"
        (downloadFile)="onDownloadFile($event)"
      >
      </bspl-activity-panel>
    </div>
  </div>
</div>

<!-- BASIC INFO -->
<ng-template #basicInfoTemplate>
  <div class="row separator-bottom">
    <div class="col-12">
      <div class="originalIssue listHorizontal">
        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'ADM_ACM.basicInfo.resume.label.docNum' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.ticketDocumentNumber }}</div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'ADM_ACM.basicInfo.resume.label.repDate' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container *ngIf="itemRetrieved.reportingPeriod">
              {{ itemRetrieved.reportingPeriod }}
              <span>-</span>
              {{ itemRetrieved.reportingDate | dateTimeFormat : 'date' }}
            </ng-container>
            <!-- If reportingPeriod is null, reportingDate is null as well -->
            <ng-container *ngIf="!itemRetrieved.reportingPeriod">
              {{ '' | bsplEmpty }}
            </ng-container>
          </div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'ADM_ACM.basicInfo.resume.label.bsp' | translate }}
          </div>
          <div class="listHorizontal__value">{{ getBspNameFromAgent(itemRetrieved.agent) }}</div>
        </div>

        <div class="listHorizontal__item" *ngIf="!isAcdmd">
          <div class="listHorizontal__label">
            {{ 'ADM_ACM.basicInfo.resume.label.type' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.transactionCode }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Airline/Agent Info-->
  <div class="row pdf-page-break-inside-avoid">
    <!-- Airline information -->
    <div class="col-6 separator-right">
      <h4 class="section-title">{{ 'ADM_ACM.basicInfo.airlInfo.title' | translate }}</h4>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.basicInfo.airlInfo.label.codeName',
              value: itemRetrieved.airline.iataCode + ' / ' + itemRetrieved.airline.localName
            }
          "
        ></ng-container>

        <ng-container *ngIf="isAirlineVatFieldVisible$ | async">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'ADM_ACM.basicInfo.airlInfo.label.vatNumber',
                value: itemRetrieved.airlineVatNumber
              }
            "
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="airlineDetailsVisible">
          <ng-container *ngTemplateOutlet="userDetails; context: { $implicit: airlineDetails }"></ng-container>
        </ng-container>
      </ul>
      <div class="link details-link pdf-hide-in" (click)="toggleAirlineDetails()">
        {{
          (airlineDetailsVisible ? 'ADM_ACM.basicInfo.detailsLabel.hide' : 'ADM_ACM.basicInfo.detailsLabel.show')
            | translate
        }}
      </div>

      <!-- Airline Contact -->
      <div class="separator-top">
        <h4 class="section-title">{{ 'ADM_ACM.basicInfo.airlContact.' + admAcmType + '.title' | translate }}</h4>
        <ul class="listFields">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'ADM_ACM.basicInfo.airlContact.' + admAcmType + '.label.name',
                value: itemRetrieved.airlineContact?.contactName
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'ADM_ACM.basicInfo.airlContact.' + admAcmType + '.label.phoneFax',
                value: itemRetrieved.airlineContact?.phoneFaxNumber
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'ADM_ACM.basicInfo.airlContact.' + admAcmType + '.label.email',
                value: itemRetrieved.airlineContact?.email
              }
            "
          ></ng-container>
        </ul>
      </div>
    </div>

    <!-- Agent Information -->
    <div class="col-6">
      <h4 class="section-title">{{ 'ADM_ACM.basicInfo.agentInfo.title' | translate }}</h4>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.basicInfo.agentInfo.label.codeName',
              value: itemRetrieved.agent.iataCode + ' / ' + itemRetrieved.agent.name
            }
          "
        ></ng-container>

        <ng-container *ngIf="isAgentVatFieldVisible$ | async">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: { label: 'ADM_ACM.basicInfo.agentInfo.label.vatNumber', value: itemRetrieved.agentVatNumber }
            "
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="agentDetailsVisible">
          <ng-container *ngTemplateOutlet="userDetails; context: { $implicit: agentDetails }"></ng-container>
        </ng-container>
      </ul>
      <div class="link details-link pdf-hide-in" (click)="toggleAgentDetails()">
        {{
          (agentDetailsVisible ? 'ADM_ACM.basicInfo.detailsLabel.hide' : 'ADM_ACM.basicInfo.detailsLabel.show')
            | translate
        }}
      </div>
    </div>
  </div>

  <div class="row separator-top pdf-page-break-inside-avoid">
    <div class="col-12">
      <h4 class="section-title">
        {{
          'ADM_ACM.basicInfo.acdmProp.title'
            | translate : locale.language : { admAcmType: 'ADM_ACM.type.' + admAcmType | translate }
        }}
      </h4>
    </div>
    <div class="col-12 listHorizontal">
      <div class="listHorizontal__item" *ngIf="!isAcdmd">
        <div class="listHorizontal__label">
          {{
            'ADM_ACM.basicInfo.acdmProp.label.acdmaFor'
              | translate : locale.language : { transactionCode: transactionCode?.toUpperCase() }
          }}
        </div>
        <div class="listHorizontal__value">{{ itemRetrieved.concernsIndicator }}</div>
      </div>

      <div class="listHorizontal__item" *ngIf="!isAcdmd">
        <div class="listHorizontal__label">
          {{ 'ADM_ACM.basicInfo.acdmProp.label.toca' | translate }}
        </div>
        <div class="listHorizontal__value">
          <ng-container
            *ngTemplateOutlet="fieldsDetails; context: { value: itemRetrieved.taxOnCommissionType }"
          ></ng-container>
        </div>
      </div>

      <div class="listHorizontal__item">
        <div class="listHorizontal__label">
          {{ 'ADM_ACM.basicInfo.acdmProp.label.currency' | translate }}
        </div>
        <div class="listHorizontal__value">{{ itemRetrieved.currency.code }}</div>
      </div>

      <div class="listHorizontal__item">
        <div class="listHorizontal__label">
          {{ 'ADM_ACM.basicInfo.acdmProp.label.stat' | translate }}
        </div>
        <div class="listHorizontal__value">{{ this.statisticalCodeLabel }}</div>
      </div>
    </div>

    <div class="col-12 net-reporting" *ngIf="!isAcdmd">
      <bspl-checkbox
        [label]="'ADM_ACM.basicInfo.acdmProp.label.netRep' | translate"
        [checked]="itemRetrieved.netReporting"
        [isDisabled]="true"
      ></bspl-checkbox>
    </div>
  </div>

  <ng-template #userDetails let-details>
    <ng-container *ngFor="let lineKey of objectKeys(details)">
      <ng-container *ngIf="details[lineKey]">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: { label: 'ADM_ACM.basicInfo.detailInfo.label.' + lineKey, value: details[lineKey] }
          "
        ></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</ng-template>

<!-- DETAILS -->
<ng-template #detailsTemplate>
  <div class="row detail-section">
    <div class="col-6 separator-right pdf-margin-bottom-xs">
      <bspl-vertical-stepper-item [title]="'ADM_ACM.details.reasonDetails.reason.' + issueReason.action | translate">
        <div class="acdm-reason">
          <span class="reason">{{ issueReason.reason }}</span>
          <span class="reasonText--empty" [hidden]="issueReason.reason">{{ 'N/A' }}</span>
          <div class="stepperData--row" [hidden]="!isRMICVisible">
            <span>{{ 'ADM_ACM.details.reasonDetails.label.issuanceCode' | translate }}:</span>
            <span>{{ itemRetrieved.reasonForMemoIssuanceCode }}</span>
          </div>
        </div>
      </bspl-vertical-stepper-item>

      <bspl-vertical-stepper-item
        *ngFor="let reason of reasonsAndGdsForwardReasons"
        [title]="
          reason.action
            ? ('ADM_ACM.details.reasonDetails.reason.' + reason.action | translate)
            : ('ADM_ACM.details.reasonDetails.reason.GDS_FORWARD' | translate)
        "
      >
        <div class="acdm-reason">
          <span class="reason">{{ reason.reason ? reason.reason : reason.forwardReason }}</span>
          <span class="reasonText--empty" [hidden]="reason.reason || reason.forwardReason">{{ 'N/A' }}</span>
          <div class="stepperData--row" [hidden]="reason.action !== reasonActions.dispute">
            <span>{{ 'ADM_ACM.details.reasonDetails.label.contact' | translate }}:</span>
            <span>{{ itemRetrieved.disputeContact || 'N/A' }}</span>
          </div>
          <div class="stepperData--row" [hidden]="!reason.gds">
            <span>{{ 'ADM_ACM.details.reasonDetails.label.gds' | translate }}:</span>
            <span>{{ reason.gds?.name || 'N/A' }}</span>
          </div>
        </div>
      </bspl-vertical-stepper-item>
    </div>

    <div class="col-6 pdf-list-content">
      <ng-container *ngIf="!isAcdnt">
        <h4 class="section-title pdf-padding-left-xxs">{{ 'ADM_ACM.details.relatedDocuments.title' | translate }}</h4>
        <ul class="listFields pdf-padding-left-xxs">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'ADM_ACM.details.relatedDocuments.label.issueDate',
                value: itemRetrieved.dateOfIssueRelatedDocument | dateTimeFormat : 'date'
              }
            "
          ></ng-container>

          <bspl-user-input-list
            class="related-documents pdf-hide-in"
            [formArray]="relatedTicketDocumentsControl"
            [label]="'ADM_ACM.details.relatedDocuments.label.relDocNumber' | translate"
            [isReadOnly]="true"
          ></bspl-user-input-list>
        </ul>
        <div class="pdf-show-in hide-pdf-related-doc">
          <span class="pdf-padding-left-xxs">{{
            'ADM_ACM.details.relatedDocuments.label.relDocNumber' | translate
          }}</span>
          <div class="pdf-list">
            {{ pdfRelatedDocumentString }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isAcdnt">
        <h4 class="section-title">{{ 'ADM_ACM.details.relatedInformation.title' | translate }}</h4>
        <ul class="listFields">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'ADM_ACM.details.reasonDetails.label.issuanceCode',
                value: itemRetrieved.reasonForMemoIssuanceCode
              }
            "
          ></ng-container>
        </ul>
      </ng-container>
    </div>
    <div *ngIf="itemRetrieved.categories?.length" class="col-12 separator-top">
      <ng-container *ngTemplateOutlet="categoriesTemplate"></ng-container>
    </div>
  </div>
</ng-template>

<!-- AMOUNTS -->
<ng-template #amountsTemplate>
  <div class="amount-section">
    <div *ngFor="let msg of amountAlertMessages">
      <bspl-alert-message [hidden]="msg.hidden" [message]="msg.message" [type]="msg.type"></bspl-alert-message>
    </div>
    <ng-container *ngIf="!isAcdmd">
      <h4 class="section-title">{{ 'ADM_ACM.amounts.amount.title' | translate }}</h4>

      <ul class="listForm">
        <li class="row listForm__header">
          <div class="col-3 offset-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.header.agentInput' | translate }}</span>
          </div>
          <div class="col-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.header.airlineInput' | translate }}</span>
          </div>
          <div class="col-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.header.difference' | translate }}</span>
          </div>
        </li>

        <li
          class="row listForm__line"
          *ngFor="let field of calculationFields"
          [hidden]="!(calculationFieldsVisibility[field] | async)"
        >
          <ng-container *ngTemplateOutlet="amountLine; context: { $implicit: field }"></ng-container>
        </li>

        <li class="row listForm__line listForm__footer">
          <div class="col-3">
            <span class="listForm__label">
              <span class="listForm__label">
                <span>{{ 'ADM_ACM.amounts.total' | translate }}, {{ itemRetrieved.currency.code }}</span>
              </span>
            </span>
          </div>
          <div class="col-3 listForm__label--numeric">
            {{ round(itemRetrieved.agentTotal) }}
          </div>
          <div class="col-3 listForm__label--numeric">
            {{ round(itemRetrieved.airlineTotal) }}
          </div>
          <div class="col-3 listForm__label--numeric">
            {{ round(itemRetrieved.totalAmount) }}
          </div>
        </li>

        <ng-template #amountLine let-property>
          <div class="col-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.section.' + property | translate }}</span>
          </div>
          <div class="col-3 listForm__label--numeric">
            {{ round(itemRetrieved.agentCalculations[property]) }}
          </div>
          <div class="col-3 listForm__label--numeric">
            {{ round(itemRetrieved.airlineCalculations[property]) }}
          </div>
          <div class="col-3 listForm__label--numeric">
            {{ round(itemRetrieved.differenceCalculations[property]) }}
          </div>
        </ng-template>
      </ul>
    </ng-container>

    <ng-container *ngIf="isAcdmd">
      <ul class="listForm">
        <li class="row listForm__line listForm__footer">
          <div class="col-4">
            <span class="listForm__label">
              <span class="listForm__label">
                <span>{{ 'ADM_ACM.amounts.amount.section.fare' | translate }}, {{ itemRetrieved.currency.code }}</span>
              </span>
            </span>
          </div>
          <div class="col-8 listForm__label--numeric listForm__label--numeric--left">
            {{ round(itemRetrieved.differenceCalculations.fare) }}
          </div>
        </li>
      </ul>
    </ng-container>
  </div>

  <div class="tax-section" *ngIf="!isAcdmd">
    <h4 class="section-title">{{ 'ADM_ACM.amounts.taxAmount.title' | translate }}</h4>
    <div class="row justify-content-center">
      <ul class="col-lg-7 col-12 listForm">
        <li class="row listForm__header">
          <div class="col-6">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.taxAmount.section.type' | translate }}</span>
          </div>
          <div class="col-6">
            <span class="listForm__label">{{
              'ADM_ACM.amounts.taxAmount.section.taxDifferenceAmount' | translate
            }}</span>
          </div>
        </li>

        <li class="row listForm__line" *ngFor="let line of itemRetrieved.taxMiscellaneousFees">
          <div class="col-6">
            <span class="listForm__label--numeric">{{ line.type }}</span>
          </div>
          <div class="col-6">
            <span class="listForm__label--numeric">{{ round(line.taxDifferenceAmount) }}</span>
          </div>
        </li>
        <li class="row listForm__line listForm__footer">
          <div class="col-6">
            <span class="listForm__label">
              <span class="listForm__label">
                <span>{{ 'ADM_ACM.amounts.total' | translate }}, {{ itemRetrieved.currency.code }}</span>
              </span>
            </span>
          </div>
          <div class="col-6">
            <span class="listForm__label--numeric">{{ taxTotal }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #listLine let-label="label" let-value="value">
  <li class="listLine">
    <div class="row listText">
      <div class="col-4 listLabelText">
        <span>{{ label | translate }}</span>
      </div>
      <div class="col-8">
        <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: value }"></ng-container>
      </div>
    </div>
  </li>
</ng-template>

<ng-template #fieldsDetails let-value="value">
  <span [ngClass]="{ listFieldTextEmpty: !value, listFieldTextValue: value }">
    {{ value ? value : 'N/A' }}
  </span>
</ng-template>

<ng-template #categoriesTemplate>
  <h4 class="section-title">{{ 'ADM_ACM.categories.title' | translate }}</h4>
  <div class="col-12 reasonSection">
    <div class="row justify-content-center">
      <ul class="col-12 listForm">
        <li class="row listForm__header">
          <div class="col-6">
            <span class="listForm__label">{{ 'ADM_ACM.categories.primaryReason' | translate }}</span>
          </div>
          <div class="col-6">
            <span class="listForm__label">{{ 'ADM_ACM.categories.subReason' | translate }}</span>
          </div>
        </li>

        <li class="row listForm__line" *ngFor="let line of itemRetrieved.categories">
          <div class="col-6">
            <span class="listForm__label">{{ line.primaryReason }}</span>
          </div>
          <div class="col-6 listForm__label--numeric listForm__label--numeric--left">
            <span>{{ line.subReason }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<!-- INTERNAL COMMENT -->
<ng-template #internalCommentTemplate>
  <div *ngIf="isInternalCommentButtonVisible" class="internal-comment-container pdf-hide-in">
    <bspl-button
      class="internal-comment-button"
      [label]="'activityPanel.buttonLabels.INTERNAL_COMMENT' | translate"
      [design]="buttonDesign.Tertiary"
      [image]="itemRetrieved.internalComment ? '/assets/images/utils/discuss.svg' : null"
      (onClick)="onInternalComment()"
    ></bspl-button>
  </div>
</ng-template>
