<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB">This section describes several interface features that are common to most </span>New BSPlink
  <span lang="EN-GB">screens.<a name="_Ref4742479"></a></span>
</p>
