<p class="BodyText" style="line-height: normal">
  <a name="_Hlk40261988">The user icon displays the following options:</a><a name="_Hlk7082804"></a>
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="267" height="383" id="Imagen 64" src="iata/images/image008.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: User icon.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Profile properties: </b>a table is then displayed, which includes all the user details divided into “General”,
  “Contact Details” (editable) and “Address details” (editable):”:
</p>

<p class="BodyText" align="center" style="margin-left: 0.25in; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="646" height="190" id="Imagen 68" src="iata/images/image009.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Profile Properties.</span>
</p>

<p class="BodyText" style="line-height: normal">
  When any field is edited, it is necessary to click on
  <img border="0" height="33" src="iata/images/icon-apply-changes.jpg" />.
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Language:</b> a modal box is displayed, in which a dropdown list with all the available languages allows Users to
  change the language after the next login:
</p>

<p
  class="BodyText"
  align="center"
  style="margin-left: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="383" height="321" id="Imagen 65" src="iata/images/image010.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Language.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Log Out:</b> <span lang="EN-GB">this will log out the user from the current New BSPlink session.</span>
</p>
