<div class="container">
  <h3>All controls should be invalid initially</h3>
  <hr />
  <div class="row" [formGroup]="form">
    <bspl-input
      class="col-4"
      formControlName="alphanumericNoWithSpace"
      [label]="'Alphanumeric with no whitespace'"
    ></bspl-input>
    <bspl-input class="col-4" formControlName="nonAlphanumeric" [label]="'Non Alphanumeric'"></bspl-input>
    <bspl-input
      class="col-4"
      formControlName="alphanumericMinLetters"
      [label]="'Alphanumeric with min letters'"
    ></bspl-input>
    <bspl-input
      class="col-4"
      formControlName="alphanumericMinDigits"
      [label]="'Alphanumeric with min digits'"
    ></bspl-input>
  </div>
</div>
