<div class="hide-bottom-border">
  <div class="section-container no-section-bottom-border">
    <bspl-property-list class="section one-third" header="document.canx.transactionInformation.sectionTitle">
      <bspl-property
        label="document.canx.transactionInformation.bspName"
        [value]="canx.bsp?.name || canx.isoCountryCode"
      >
      </bspl-property>
      <bspl-property
        label="document.canx.transactionInformation.gdsSystem"
        [value]="canx.gds.name || canx.gds.gdsCode"
      ></bspl-property>
      <bspl-property label="document.canx.transactionInformation.agent" [value]="canx.agent.iataCode"> </bspl-property>
      <bspl-property label="document.canx.transactionInformation.formOfPayment">
        {{ canx.formOfPaymentSummary?.type }} {{ canx.formOfPaymentSummary?.description }}
      </bspl-property>
      <bspl-property label="document.canx.transactionInformation.currency" [value]="canx.currencyType"> </bspl-property>
      <bspl-property
        label="document.canx.transactionInformation.issueDate"
        [value]="canx.documentIdentification.dateOfIssue | date : 'dd/MM/yyyy'"
      >
      </bspl-property>
      <bspl-property
        label="document.canx.transactionInformation.captureDate"
        [value]="canx.captureDate | date : 'dd/MM/yyyy'"
      >
      </bspl-property>
      <bspl-property label="document.canx.transactionInformation.settlementPeriod" [value]="canx.settlementPeriod">
      </bspl-property>
      <bspl-property
        label="document.canx.transactionInformation.couponUseIndicator"
        [value]="canx.documentIdentification.couponUseIndicator"
      >
      </bspl-property>
      <bspl-property label="document.canx.transactionInformation.netRemit" [value]="netRemit"> </bspl-property>
      <bspl-property
        label="document.canx.transactionInformation.tourCode"
        [value]="canx.documentIdentification.tourCode"
      >
      </bspl-property>
    </bspl-property-list>
    <section class="section one-third">
      <bspl-property-list header="document.canx.transactionAmount.sectionTitle" class="property-list-align-right">
        <bspl-property
          label="document.canx.transactionAmount.cashAmount"
          [value]="canx.cashAmount | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          label="document.canx.transactionAmount.paymentCardAmount"
          [value]="canx.creditAmount | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          label="document.canx.transactionAmount.easyPayAmount"
          [value]="canx.easyPayAmount | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
      </bspl-property-list>
      <bspl-property-list header="document.canx.accountInformation.sectionTitle" class="property-list-align-right mt-5">
        <bspl-property
          label="document.canx.accountInformation.vatGstAmount"
          [value]="canx.accountInformation.vatGstAmount | number : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property label="document.canx.accountInformation.agentCommission">
          ( {{ canx.accountInformation.agentCommissionPercent }}% )
          {{ canx.accountInformation.agentCommissionAmount | absoluteDecimal : canx.decimalPrecision }}
        </bspl-property>
        <bspl-property
          label="document.canx.accountInformation.fareAdjustmentAmount"
          [value]="canx.accountInformation.fareAdjustmentAmount | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          label="document.canx.accountInformation.cancellationFees"
          [value]="canx.accountInformation.cancellationFees | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          label="document.canx.accountInformation.cancellationFeesCommission"
          [value]="canx.accountInformation.cancellationFeesCommission | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.canx.accountInformation.onlineBillingStatementAgent"
          [value]="canx.accountInformation.onlineBillingStatementForAgent | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.canx.accountInformation.balancePayableByAirline"
          [value]="canx.accountInformation.balancePayableAirline | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.canx.accountInformation.netFareAmount"
          [value]="canx.accountInformation.netFareAmount | absoluteDecimal : canx.decimalPrecision"
        >
        </bspl-property>
      </bspl-property-list>
    </section>
    <section class="section one-third">
      <bspl-tax
        [taxes]="canx.stdAmounts.taxes"
        [decimalPrecision]="canx.decimalPrecision"
        [totalTaxes]="canx.stdAmounts.totalTaxes"
      ></bspl-tax>
    </section>
  </div>
</div>
