@import 'theme/variables/index';

.status-header {
  background: $white;
  border: 0;
  margin-bottom: $spacing-xl;
  padding-top: $spacing-m;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: $z-index-layer-2;

  & > div {
    border: 1px solid $gray-dark;
    border-radius: $border-radius-large;
    box-shadow: $shadow-z-3;

    &.sticky {
      box-shadow: none;
    }
  }

  .watching {
    float: right;
    margin-left: $spacing-xs;
  }
}

@media print {
  .status-header {
    position: static;
  }
}
