<div class="container">
  <div class="row">
    <div class="col-md-12">
      <bspl-tab-group [type]="'secondary'">
        <bspl-tab title="Properties">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet nec lectus sit amet semper. Nullam mi
          tellus, congue vitae efficitur eget, condimentum sollicitudin augue. Vivamus ut libero quis mauris tempor
          molestie eu in nibh. Integer dolor tellus, efficitur nec arcu vitae, ultricies facilisis risus. Morbi auctor
          vel tellus eu sagittis. Vivamus tincidunt nisi elementum mi interdum, sed rhoncus magna sodales. Pellentesque
          volutpat, mi sit amet sagittis mollis, elit purus rutrum dolor, in consequat leo tortor sed lectus. Aliquam
          rhoncus sollicitudin augue vel porta. Vivamus nec dui ut augue dictum blandit et in nisi. Fusce tincidunt diam
          leo, in vehicula lorem condimentum in. Quisque sit amet iaculis massa, a ultrices nulla. Nam quis tristique
          nisl, in convallis sem. Vivamus lacinia pellentesque risus eget consectetur. Cras tincidunt ligula mollis,
          blandit enim in, lacinia massa.
        </bspl-tab>
        <bspl-tab title="Ticketing Authority">
          Duis eget neque et lorem consequat dignissim. Aliquam commodo mauris eget metus tempus vestibulum. Nullam
          porttitor purus ex, vel fermentum nisi tempus ac. Nam vel turpis eget tellus vulputate porta. Morbi venenatis
          fringilla rhoncus. Morbi consequat tortor sed pharetra pretium. Duis congue luctus nibh, vitae aliquet massa
          cursus ut. In vel augue neque. Ut ultricies diam id erat lobortis, vitae accumsan felis rhoncus. Aenean sit
          amet rhoncus orci, non placerat augue. Donec gravida, velit a iaculis consequat, sem tortor rutrum massa,
          vitae suscipit metus eros id lacus. Sed velit orci, egestas ac dolor vel, porttitor dictum ex.
        </bspl-tab>
      </bspl-tab-group>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-12">
      <bspl-tab-menu type="secondary" [tabs]="tabs" (activated)="activeTab = $event"></bspl-tab-menu>
      <span>Selected tab: {{ activeTab?.title }}</span>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-12">
      <bspl-tab-navbar>
        <bspl-tab-link label="Property List" routerLink="property-list"></bspl-tab-link>
        <bspl-tab-link label="Alert Messages" routerLink="alert-message"></bspl-tab-link>
        <bspl-tab-link label="Disabled" [disabled]="true" routerLink="property-list"></bspl-tab-link>
      </bspl-tab-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
