@import 'theme/variables/index';

.reason-container {
  padding: $spacing-s 0;
  color: $blue-primary;
  font-weight: $font-weight-medium;

  .question {
    color: $gray-deep;
    font-weight: $font-weight-normal;
  }

  .reason {
    color: $gray-deep;
    font-weight: normal;
  }

  .pills {
    margin-top: $spacing-xs;

    bspl-pill-information.unique-pill {
      max-width: 100%;
    }
  }
}
