<!-- ToDo Review for refactoring -->
<div class="reason-container">
  <!-- Question -->
  <ng-container *ngIf="config.data.question; else default">
    <div class="question">{{ config.data.question | translate }}</div>
  </ng-container>
  <!-- Pills -->
  <div *ngIf="config.data.pills as pills" class="pills">
    <bspl-pill-information
      *ngFor="let pill of pills"
      [ngClass]="{ 'unique-pill': pills.length === 1 }"
      [value]="pill.value"
      [bsplTooltip]="pill.tooltip"
    ></bspl-pill-information>
  </div>
</div>

<ng-template #default>
  <div class="reason">{{ config.data.reason | translate }}</div>
</ng-template>
