<div class="dialog-container">
  <div class="text-content">
    <span>{{ 'ADM_ACM.documentEnquiry.dialog.textContent' | translate }}</span>
  </div>

  <div id="input-section" [formGroup]="form">
    <bspl-input
      formControlName="documentNumber"
      [label]="'ADM_ACM.documentEnquiry.dialog.documentNumber.label' | translate"
      [locked]="isSearching"
      [value]=""
      [maxLength]="requiredLength"
      [autofocus]="true"
    >
    </bspl-input>
    <p class="input-notice" [class.invalid]="form.invalid && (form.dirty || form.touched)">
      {{ 'ADM_ACM.documentEnquiry.dialog.documentNumber.notice' | translate }}
    </p>
  </div>

  <bspl-alert-message
    class="inline-notification"
    *ngIf="!dialogData.isDocumentFound"
    [type]="inlineMessageType.info"
    [message]="messageKey.noResultsNotification"
  ></bspl-alert-message>
</div>
