@import 'theme/variables/index';

.text-content {
  margin-bottom: $spacing-m;
  color: $gray-deep;
  font-size: 1.4rem;
}

#input-section {
  ::ng-deep bspl-input {
    margin: 0;

    .control--showErrors {
      margin: 0;
    }

    .control__error {
      display: none;
    }
  }
}

.input-notice {
  margin: $spacing-xxs 0 0.6rem 0;
  color: $gray-deep;
  font-size: $font-size-s;

  &.invalid {
    color: $red;
  }
}

.dialog-container {
  padding-bottom: $spacing-xxl;

  &-expanded {
    padding-bottom: $spacing-s;
  }
}

.inline-notification {
  display: block;
  margin: $spacing-m 0 $spacing-xxs 0;
}
