<!-- Tab index is needed so the div can be focused -->
<div
  class="icon-button"
  tabindex="0"
  [ngClass]="'icon-button-' + type + ' icon-color-' + color"
  [class.icon-button-disabled]="isDisabled"
  [class.icon-button-loading]="isLoading"
  [class.highlighted]="highlighted"
  (click)="isDisabled ? $event.stopPropagation() : ''"
>
  <bspl-spinner
    class="spinner"
    [isLoading]="isLoading"
    size="mini"
    [color]="type === 'secondary' ? 'default' : 'primary'"
    [isTransparent]="true"
  >
    <i class="material-icons">
      {{ icon }}
    </i>
  </bspl-spinner>
</div>
