@import 'theme/variables/index';

:host {
  display: inline-block;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  cursor: pointer;
  padding: 0.7rem;
  outline: none;

  .spinner {
    width: 2rem;
    height: 2rem;
  }

  &.icon-button-disabled {
    cursor: not-allowed;
  }

  i {
    font-size: 2rem;
    user-select: none;
  }

  &.icon-button-default {
    padding: $spacing-xxs;
    color: $gray-middle;

    &.icon-color-default {
      color: $gray-middle;
    }

    &.icon-color-success {
      color: $green;
    }

    &.icon-color-danger {
      color: $red;
    }

    &.icon-color-dark {
      color: $dark;
    }

    &:not(.icon-button-disabled) {
      &:hover {
        background-color: hover-color(transparent);
        color: $blue-light;
      }

      &:focus,
      &.highlighted {
        color: $blue-light;
      }
    }

    &.icon-button-disabled {
      color: $gray-neutral;
    }
  }

  &.icon-button-secondary {
    color: $white;
    background-color: $blue-light;

    &:not(.icon-button-disabled) {
      &:hover {
        background-color: hover-color($blue-light);
      }
    }

    &.icon-button-disabled {
      background-color: $gray-middle;
    }
  }

  &.icon-button-tertiary {
    background-color: $white;
    border-color: $gray-middle;
    color: $gray-middle;

    &:not(.icon-button-disabled) {
      &:hover {
        background-color: hover-color($white);
      }

      &:focus,
      &.highlighted {
        background-color: $white;
        color: $blue-light;
        border-color: $blue-light;
      }
    }

    &.icon-button-disabled {
      color: $gray-neutral;
      border-color: $gray-neutral;
    }
  }

  &.icon-button-loading {
    i {
      visibility: hidden;
    }
  }
}
