<bspl-list-view
  [title]="title$ | async"
  [query]="query$ | async"
  [hasDownloading]="false"
  [canDownload]="hasData$ | async"
  [filterFormatter]="monitoringHotDetailsFilterFormatterService"
  [hasFiltering]="true"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'monitoring-hot-details.filters.documentNumber.label' | translate"
          formControlName="documentNumber"
          [placeholder]="'monitoring-hot-details.filters.documentNumber.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-hot-details.filters.airlineCode.label' | translate"
          formControlName="airlineCode"
          [placeholder]="'monitoring-hot-details.filters.airlineCode.placeholder' | translate"
          [options]="airlineCodesList$ | async"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-hot-details.filters.agentCode.label' | translate"
          formControlName="agentCode"
          [placeholder]="'monitoring-hot-details.filters.agentCode.placeholder' | translate"
          [options]="agentCodesList$ | async"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-hot-details.filters.transactionCode.label' | translate"
          formControlName="transactionCode"
          [placeholder]="'monitoring-hot-details.filters.transactionCode.placeholder' | translate"
          [options]="transactionCodeOptions"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-hot-details.filters.status.label' | translate"
          formControlName="status"
          [placeholder]="'monitoring-hot-details.filters.status.placeholder' | translate"
          [options]="statusOptions"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'monitoring-hot-details.filters.fieldElement.label' | translate"
          formControlName="fieldElement"
          [placeholder]="'monitoring-hot-details.filters.fieldElement.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'monitoring-hot-details.filters.fieldContent.label' | translate"
          formControlName="fieldContent"
          [placeholder]="'monitoring-hot-details.filters.fieldContent.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'monitoring-hot-details.filters.message.label' | translate"
          formControlName="message"
          [placeholder]="'monitoring-hot-details.filters.message.placeholder' | translate"
        >
        </bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
