<p class="MsoNormal">
  <span lang="EN-GB"
    >New member users may be added to the Agent Group by means of the
    <img border="0" width="74" height="30" id="Imagen 43" src="agent_group/images/image277.jpg" />
    button at the top right corner. A modal window is then displayed aimed at indicating the new user’s data:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="530" id="Imagen 45" src="agent_group/images/image278.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">151</span><span lang="EN-GB">: New user creation window.</span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >The data concerning the new user are divided into two major sections: Contact Details and Address Details. It is
    necessary to complete all the fields before creating the new user by means of the </span
  ><span lang="EN-GB"
    ><img border="0" width="70" height="30" id="Imagen 152" src="agent_group/images/image279.jpg" /></span
  ><span lang="EN-GB">
    button. Once created, the system confirms that the new Agent Group member user has been successfully created to the
    list.</span
  >
</p>
