<p class="MsoNormal">
  <span lang="EN-GB">Lastly, </span
  ><span lang="EN-GB"
    >Agent Group users with the necessary permissions may deactivate existing Group Members by clicking on the
    <img border="0" width="22" height="22" id="Imagen 154" src="agent_group/images/image283.jpg" />
    icon and then selecting “Deactivate User”. Alternatively, it is possible to click on “Deactivate User” when the
    detailed view is displayed:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid">
  <span lang="EN-GB">
    <img border="0" width="646" height="214" id="Imagen 185" src="agent_group/images/image285.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Deactivate User from User Properties.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB"> The following modal window is then displayed:</span></p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="380" height="379" id="Imagen 178" src="agent_group/images/image286.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Deactivate Agent Group Member User.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It should be noted that it is possible to select an expiry Date from the calendar:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="370" height="428" id="Imagen 179" src="agent_group/images/image287.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Select expiry date.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once done, it is necessary to click on
    <img border="0" width="88" height="29" id="Imagen 286" src="agent_group/images/image288.jpg" />, and the system
    confirms deactivation on the date indicated.</span
  >
</p>
