<p class="MsoNormal">
  <span lang="EN-GB"
    >Agent Group users with the necessary permissions may modify existing Group Members by clicking on the
    <img border="0" width="22" height="22" id="Imagen 68" src="agent_group/images/image280.jpg" /> icon and then
    selecting “User Properties”. The member user’s details turn then displayed on a new tab:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; page-break-after: avoid"
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="214" id="Imagen 89" src="agent_group/images/image281.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">152</span
  ><span lang="EN-GB">: Agent Group Member User Details.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is then possible to modify any of the fields under “Contact Details” or “Address Details”. To register any
    change, it is necessary to click on
    <img border="0" width="114" height="30" id="Imagen 97" src="agent_group/images/image282.jpg" /> at the top
    right.</span
  >
</p>
