<bspl-list-view
  [title]="'MENU.files.agentReports.title'"
  [hasFiltering]="true"
  [filterFormatter]="formatFilter"
  [predefinedFilters]="predefinedFilters$ | async"
  [query]="query$ | async"
  (queryChange)="loadData($event)"
>
  <ng-container bsplListViewTitle>
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      class="selection-toolbar"
      singleSelectedItemTranslationKey="MENU.files.agentReports.fileSelected"
      multipleSelectedItemsTranslationKey="MENU.files.agentReports.filesSelected"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-button
        design="tertiary"
        [label]="'Download'"
        [isLoading]="isLoading$ | async"
        (click)="onBulkDownloadClick()"
      ></bspl-button>
    </bspl-table-selection-toolbar>
  </ng-container>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="name"
          [label]="'MENU.files.reports.fileName' | translate"
          [placeholder]="'MENU.files.reports.placeholders.fileName' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="fileTypeOptions$ | async"
          formControlName="type"
          [label]="'MENU.files.reports.fileType' | translate"
          [placeholder]="'MENU.files.reports.placeholders.choose' | translate"
          [clearable]="false"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="uploadDate"
          [label]="'MENU.files.reports.uploadDate' | translate"
          [placeholder]="'MENU.files.reports.placeholders.choose' | translate"
          [selectionMode]="'range'"
          [maxDate]="maxDate"
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="data$ | async"
    [columns]="columns"
    [isLoading]="isLoading$ | async"
    [primaryActions]="tableActions"
    (actionClick)="executeAction($event)"
    (checkboxChange)="onCheckboxChange($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<ng-template #filesLinkCellTmpl let-file="row" let-value="value" let-expanded="expanded" let-column="column">
  <a class="link" (click)="saveFile(file)"> {{ value }}</a>
</ng-template>
