<ng-container *ngIf="advancedPayment$ | async as advancedPayment">
  <header class="header-container">
    <div>
      <h2 class="header-title">
        {{ 'sales.advancedPayment.detail.title' | translate }} ({{ advancedPayment.requestNumber }})
      </h2>
      <span>{{ 'sales.advancedPayment.detail.subTitle' | translate }}</span>
    </div>

    <aside>
      <bspl-button
        [hidden]="isIATAUser$ | async"
        (onClick)="handleUploadAttachment(advancedPayment.id)"
        bsplListViewButton
        icon="mi md-18 add"
        [label]="'sales.advancedPayment.detail.upload.label' | translate"
        [design]="'tertiary'"
        [isDisabled]="isUploadButtonDisabled$ | async"
      ></bspl-button>
    </aside>
  </header>
  <div class="payment-properties">
    <div class="row">
      <div class="col-lg-4">
        <bspl-property-list header="sales.advancedPayment.detail.sectionTitle.requestInfo">
          <bspl-property
            label="sales.advancedPayment.detail.properties.requestNumber"
            [value]="advancedPayment.requestNumber"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.requestDate"
            [value]="advancedPayment.requestDate"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.type"
            [value]="advancedPayment.type"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.status"
            [value]="advancedPayment.status"
          ></bspl-property>
        </bspl-property-list>
      </div>
      <div class="col-lg-3">
        <bspl-property-list class="bspl-property-list-no-header">
          <bspl-property
            label="sales.advancedPayment.detail.properties.agentCode"
            [value]="advancedPayment.agent?.iataCode"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.amount"
            [value]="advancedPayment.amount"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.subject"
            [value]="advancedPayment.subject"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.description"
            [value]="advancedPayment.description"
          ></bspl-property>
        </bspl-property-list>
      </div>

      <div class="col-lg-5">
        <h5>
          {{ 'sales.advancedPayment.detail.attachments.header' | translate }}
        </h5>

        <section>
          <ul>
            <li>{{ 'sales.advancedPayment.detail.attachments.filename' | translate }}</li>
            <li>{{ 'sales.advancedPayment.detail.attachments.size' | translate }}</li>
            <li>{{ 'sales.advancedPayment.detail.attachments.actions' | translate }}</li>
          </ul>
          <ul *ngFor="let file of advancedPayment.attachments">
            <li>{{ file.name }}</li>
            <li>{{ file.size | bytesFormat }}</li>
            <li class="attachment-actions-container">
              <button (click)="handleDownloadAttachment(file.id)" [disabled]="isActionsDisabled$ | async">
                {{ 'sales.advancedPayment.detail.attachments.download' | translate }}
              </button>
              <button
                (click)="handleDeleteAttachment(advancedPayment.id, file.id)"
                [disabled]="isActionsDisabled$ | async"
              >
                {{ 'sales.advancedPayment.detail.attachments.delete' | translate }}
              </button>
            </li>
          </ul>
        </section>
        <bspl-property-list header="sales.advancedPayment.detail.sectionTitle.reviewInfo">
          <bspl-property
            label="sales.advancedPayment.detail.properties.reviewDate"
            [value]="advancedPayment.reviewDate"
          ></bspl-property>
          <bspl-property
            label="sales.advancedPayment.detail.properties.reviewComment"
            [value]="advancedPayment.reviewComment"
          ></bspl-property>
        </bspl-property-list>
      </div>
    </div>
  </div>
</ng-container>
