@import 'components/section/section';

$padding-regular: 1.3rem;

:host {
  header {
    display: flex;
    flex-direction: row;
    margin: $spacing-xl 0;
    justify-content: space-between;

    .header-title {
      color: $blue-primary;
      display: flex;
      align-items: center;
      font-weight: normal;
      margin-bottom: $spacing-m;
    }

    aside {
      display: flex;
      align-items: flex-end;
    }
  }

  div {
    h5 {
      margin-bottom: 3rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    ul:first-of-type {
      color: #747580;
    }

    ul:not(:first-of-type) {
      border-bottom: 1px solid #e4e5eb;
      color: #0f154d;
      padding: 1.3rem 0;

      li {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    ul:last-of-type {
      border-bottom: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        &.attachment-actions-container {
          display: flex;
          gap: 10px;

          button {
            background: none;
            color: rgba(30, 50, 250, 0.7);
            padding: 0;

            &:hover {
              color: rgba(30, 50, 250, 1);
            }
          }
        }
      }
    }
  }

  .bspl-property-list-no-header {
    margin-top: 4.5rem;
  }

  .payment-properties {
    padding: $spacing-xl $spacing-xxxxl $spacing-xl $spacing-xxxxl;
    background-color: $gray-subtle;

    .row {
      & > div {
        border-right: 1px solid #e4e5eb;
      }

      & > div:last-of-type {
        border-right: none;
      }
    }
  }

  .contact-container:not(:last-child) {
    border-bottom: 1px solid $gray-deep;
  }

  .attachment-btn {
    margin: 0;
    background: none;
    padding: $padding-regular 0;
    text-align: left;
    color: $gray-deep;
    width: 100%;
  }

  .attachment-btn + .attachment-btn {
    border-top: $border-gray;
  }
}
