<bspl-spinner [isLoading]="isLoading$ | async" relativeTo="parent">
  <div class="adm-policy-header">
    <h3>{{ this.configuration.title | translate }}</h3>
  </div>

  <div class="adm-policy-container" *ngIf="policySettings$ | async">
    <div *ngFor="let category of policySettings$ | async" class="list-container">
      <div *ngFor="let setting of category?.settings" [formGroup]="form" class="item">
        <div *ngIf="isCheckboxType(setting.displayType)">
          <label class="item-container">
            <span class="item-label" [bsplTooltip]="setting.description | translate">{{
              setting.label | translate
            }}</span>
            <bspl-checkbox [formControlName]="setting.field" [checked]="setting.value"></bspl-checkbox>
          </label>
        </div>

        <div *ngIf="isInputType(setting.displayType)">
          <bspl-input
            [formControlName]="setting.field"
            [label]="setting.label | translate"
            [placeholder]="setting.placeholder | translate"
          ></bspl-input>
        </div>
        <div *ngIf="isTextareaType(setting.displayType)">
          <bspl-textarea
            [formControlName]="setting.field"
            [placeholder]="setting.placeholder | translate"
            [label]="setting.label | translate"
            [showNote]="false"
          ></bspl-textarea>
        </div>
      </div>
    </div>
  </div>
</bspl-spinner>
