@import 'theme/variables/index';

.adm-policy-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-xl;
}

.adm-policy-container {
  background-color: $gray-subtle;
  padding: $spacing-l 20rem;

  .list-container {
    padding-top: $spacing-l;
    border-bottom: 1px solid $gray-neutral;

    &:last-child {
      border-bottom: none;
    }

    .item {
      .item-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 $spacing-xs 0;

        .item-label {
          font-size: $font-size-m;
          line-height: 2rem;
          color: $gray-dark;
        }
      }
    }
  }
}
