<div class="container">
  <div class="row">
    <div class="col-md-12">
      <bspl-radio-button name="radio" label="Radio Button"></bspl-radio-button>
      <bspl-radio-button name="radio" label="Radio Button1"></bspl-radio-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <bspl-radio-button-group
        [groupName]="'radioButtons'"
        [options]="radioButtonOptions"
        [formControl]="radioButtonGroup"
        [label]="'TA Status - vertical'"
        [isVertical]="true"
      ></bspl-radio-button-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <bspl-radio-button-group
        [groupName]="'radioButtonsVertical'"
        [options]="radioButtonOptions"
        [label]="'TA status - horizontal'"
        [isVertical]="false"
      ></bspl-radio-button-group>
    </div>
  </div>
</div>
