<bspl-spinner [isLoading]="!(isFormReady$ | async)" relativeTo="parent">
  <div class="dialog-container" [formGroup]="form">
    <div class="form-section">
      <span class="subtitle">{{ descriptionLabel | translate }}</span>
      <bspl-select
        [formControl]="fieldControl"
        [options]="dropdownOptions$ | async"
        [appendToBody]="true"
        [clearable]="false"
        [label]="fieldLabel | translate"
        [placeholder]="placeholderLabel | translate"
        [virtualScroll]="true"
      >
      </bspl-select>
    </div>
  </div>
</bspl-spinner>
