<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Advanced Payment option allows agents to submit advanced payment requests on the ASD website (BSP CN market).
    ASD Agents with Basic and Enhanced versions are able to query the Advance Payment Request from the query screen, can
    filter and download the information displayed and issue an Advance Payment Request.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >IMPORTANT: please note if a User has sub-users, the main user is able can restrict access to Query Advance Payment
    to sub-users. So it could be the case that a user does is unable to see the Advance Payment Query and request.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >By selecting de Sales option and Advance Payment (from the drop-down menu), a new tab for Advance Payment will
    appear on the screen and a table showing the Advance Payment Query parameters breakdown. Advance Payment Query
    results can be sorted by clicking on the column header
    <img border="0" height="30" src="agent/images/image055.jpg" /> of any of the fields available.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Advance Payment Query elements displayed are:</span>
</p>

<img border="0" width="100%" src="agent/images/advance-payment-1.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Advance Payment Request Query</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>BSP</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Request Number:</b> it has 19 digits and contains a link.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span
    >When an IATA moves the mouse over the link, the cursor changes indicating that the user is able to click on the
    hyperlink, which displays the details about the requested Advance Payment (see below)* in a new tab</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Agent Code</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Status</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Approved</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Submitted</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Rejected</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Amount</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Issue Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Comment</b></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >(*) As indicated previously, when a user selects a Request Number a new tab is displayed showing the following
    information:</span
  >
</p>

<img border="0" width="100%" src="agent/images/advance-payment-2.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Request Number Information</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Request Number</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Request Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Type</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Status</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Agent Code</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Amount</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Subject</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Description</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Attachments:</b> there can be one or several</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Information</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Review Date</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">&nbsp;&nbsp;</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span>&mdash;&nbsp;&nbsp;Review Comment</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If a user needs to narrow down the query, it is possible to click on the
    <img border="0" width="70" height="30" src="agent/images/image144.jpg" /> button. Results can be narrowed based on
    the following parameters:</span
  >
</p>

<img border="0" width="100%" src="agent/images/advance-payment-3.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Advance Payment Filter</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Request Number</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Status:</b> can be selected from the drop-down menu</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Amount</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Issue Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Date</b></span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Review Comment</b></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >To perform the query according to the applied filter, it is necessary to click on
    <img border="0" height="30" src="agent/images/image027.jpg" />. To clear all the selected fields or selections,
    users can click on the <img border="0" height="30" src="agent/images/image035.jpg" /> button.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is also possible to download the query results in TXT or CSV format by clicking the
    <img border="0" height="30" src="agent/images/image029.jpg" /> icon. When the user selects the Download button, a
    pop-up message will inform that the system will prepare a ZIP file containing the search results and will ask the
    user to select the download format.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >A BSP CN agent can issue an Advance Payment request through the Sales module, entering the Advance Payment section,
    selecting the <img border="0" height="30" src="agent/images/advance-payment-button.jpg" /> button. Then the Agent
    would see the form that appears on the screen:</span
  >
</p>

<img border="0" width="100%" src="agent/images/advance-payment-4.jpg" />

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Advance Payment Request form</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The Advance Payment Form includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Agent Code:</b> (grey out and non-editable)</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Amount:</b> mandatory field, only numbers accepted</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Subject:</b> mandatory field</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Description:</b> mandatory field and free text box. </span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span>
  <span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>Attachment:</b> mandatory field. Formats accepted are BMP, GIF, JPG, JPE, JPEG, PNG, PDF and ZIP</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Users have the option to select the <img border="0" height="30" src="agent/images/discard-button.jpg" /> button to
    exit the Advance Payment Request form without. If a user decides to exit the form, the request won’t be saved.</span
  >
</p>
