<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Billing Statement option provides the Agent’s summarized information of sales per Airline. A table containing
    the following fields is displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="163" id="Imagen 132" src="agent/images/image293.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26452010"></a><a name="_Toc34375547"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Agent Billing Statement.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">Country or territory the Agent belongs to.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code: </span></b><span lang="EN-GB">Airline IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type: </span></b
  ><span lang="EN-GB">Domestic or International, shown in different rows.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be paid: </span></b
  ><span lang="EN-GB">the total amount to be remitted to each Airline and corresponding to each Sales Type.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0in; line-height: normal">
  <span lang="EN-GB"
    >Please note that sales are displayed separated by Type. In order to find out how to check the
    <b>total amount per Airline</b> and period, please refer to the filtering options hereinbelow.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0in; line-height: normal">
  <span lang="EN-GB"
    >In order to delimit the query to a specific period or Agent, it is possible to click the
    <img border="0" width="82" height="30" id="Imagen 243" src="agent/images/image294.jpg" /> button. Once clicked, the
    following filters can be applied:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"> <img border="0" width="646" height="120" id="Imagen 133" src="agent/images/image295.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452011"></a><a name="_Toc34375548"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Agent Billing Statement Filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code / Name: </span></b
  ><span lang="EN-GB">the Airline can be selected from a drop-down list. Multiple choice is possible.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b
  ><span lang="EN-GB">if framed, both periods must belong to the same month.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> Domestic, International or All Types.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to confirm the filter, it is necessary to click on
    <img border="0" width="74" height="30" id="Imagen 316" src="agent/images/image296.jpg" />.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This filter allows Agent Users to query separated Sales by type (Domestic or International) of a maximum of two
    years back from the date of query. Each line corresponds to a specific Airline and Sales Type:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="178" id="Imagen 180" src="agent/images/image297.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452012"></a><a name="_Toc34375549"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Billing Statement Sales Type.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >However, it is also possible to query the <b>total amount of sales per Airline</b> by means of the “All Types”
    option: the result shown corresponds to that of Domestic and International sales together.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="137" id="Imagen 187" src="agent/images/image298.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452013"></a><a name="_Toc34375550"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Billing Statement All Types.</span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >Again, this information is offered within the scope of the transactions between the Agent and a specific Airline.
    This option does not provide with global remittance amounts per period. In order to check the total amount to be
    remitted in a specific period, please click the
    <img border="0" width="86" height="30" id="Imagen 247" src="agent/images/image299.jpg" /> button at the top right.
    This option presents a table showing the amount resulting from the sum of all “Net to be paid” values according to
    the filter previously applied (if any). Therefore, the total amount to be remitted will be reflected after selecting
    a corresponding period and “All Types” sales.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >If different currencies are used in the BSP in which the IATA user is performing the query, all of them are offered
    in this table:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="72" id="Imagen 452" src="agent/images/image300.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452014"></a><a name="_Toc34375551"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Billing Statement Total Amount.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Alternatively, please refer to your billings or to ICE (IATA Customer E-Statement) in your Customer portal.</span
  >
</p>
