<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Billing Analysis option allows Agent Users to query specific sales details regarding a particular Airline in a
    given billing period.
    <a name="_Hlk13569318">It displays the information from each of the rows in Billing Statement option.</a> In order
    to view such specific sales details, it is necessary to set up the filter in the modal box which gets
    displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="445" id="Imagen 396" src="agent/images/image301.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452015"></a><a name="_Toc34375552"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Billing Analysis Setup modal box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The field corresponding to the BSP selection is completed by default and cannot be edited. However, it is necessary
    to complete the following fields:</span
  >
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
    text-align: center;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Default Airline Code/Name: </span></b
  ><span lang="EN-GB"
    >it is necessary to select the involved Airline from a drop-down list. To facilitate this query, it is possible to
    write down the Airline Code or Airline Name for the system to discriminate results:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="194" id="Imagen 397" src="agent/images/image302.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452016"></a><a name="_Toc34375553"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: dropdown list.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Default Period:</span></b
  ><span lang="EN-GB">
    the Billing Analysis must be performed with concerns to a specific billing period. It is possible to combine more
    than one period on the query as long as both periods belong to the same month.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >After completing the modal box, the results will be displayed once the
    <img border="0" width="74" height="30" id="Imagen 163" src="agent/images/image303.jpg" />
    button. </span
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 398" src="agent/images/image290.jpg" /></span>
  or to press “Esc” from the keyboard.
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk13563278"><span lang="EN-GB">The queried results are listed as follows:</span></a>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="226" id="Imagen 134" src="agent/images/image304.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452017"></a><a name="_Toc34375554"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Billing Analysis view.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Each transaction between the selected Agent and Airline </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type: </span></b
  ><span lang="EN-GB">“TKTT” (Ticket), “RFND” (Refund), “ACDM” (ADM or ACM) or “EMD”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number:</span></b
  ><span lang="EN-GB">
    it is possible to click on the Document Number to display its full details (please refer to section </span
  ><span lang="EN-GB">"Ticket facsimile"</span><span lang="EN-GB"> for more information).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> either “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date:</span></b
  ><span lang="EN-GB">
    the exact date in which the transaction was issued, which must be within the period(s) selected before.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be paid: </span></b
  ><span lang="EN-GB">total amount corresponding to each document.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Besides, the ticket details are summarized on a table which gets displayed by simply clicking on the document row
    (except the Document Number):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="133" id="Imagen 400" src="agent/images/image305.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452018"></a><a name="_Toc34375555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Ticket details summarized.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">This summarized view of the ticket data includes the following parameters:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Basic Details: </span></b
  ><span lang="EN-GB"
    >the BSP in which the ticket was acquired, the Void Coupons (“V”, if any), the flight Destination and other possible
    Comments.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Additional Information: </span></b
  ><span lang="EN-GB"
    >the Form of Payment (Cash, Credit or EasyPay) and its corresponding amount, the listed information on taxes grouped
    on form of payment (“CA”, Cash; “CR”, Credit; “EP”, EasyPay), Commission, Fare Adjustment and Cancellation
    fees.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to hide this summarized information, it is necessary to simply click again on the transaction row.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >At the top right view of the Billing Analysis, the
    <img border="0" width="86" height="30" id="Imagen 82" src="agent/images/image306.jpg" /> button displays the total
    figures of the Billing Analysis according to the filter applied on the Set-up modal box:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="180" id="Imagen 401" src="agent/images/image307.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452019"></a><a name="_Toc34375556"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Total figures in Billing Analysis.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">This option shows the following figures: </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> the sum of all fares minus the total amount of taxes and cancellations.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Taxes</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare Adjustment:</span></b
  ><span lang="EN-GB"> only applicable for Cash.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">VAT</span></b
  ><span lang="EN-GB">/<b>Commission</b>: tax on commission amounts, only applicable for Cash.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cancellation Fees</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be Paid:</span></b
  ><span lang="EN-GB">
    the sum of all the Amounts minus the sum of the amount reflected on the “Commissions” and “VAT/Commission” fields.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If more than one currency exists in the BSP the Agent User operates in, Totals can be explored in a given currency
    by clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 447" src="agent/images/image308.jpg" /> icon next to the Currency.
  <span lang="EN-GB">Furthermore, it is possible to view such figures per Form of Payment by clicking on </span
  ><img border="0" width="22" height="22" id="Imagen 112" src="agent/images/image308.jpg" /><span lang="EN-GB">
    icon next to it. As a result, each row is reserved to each Form of Payment (Cash, Credit and EasyPay):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="88" id="Imagen 402" src="agent/images/image309.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452020"></a><a name="_Toc34375557"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Form of Payment deployed in Billing Analysis.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If the Agent User requires a refinement of the query, it is possible to click on the
    <img border="0" width="82" height="30" id="Imagen 403" src="agent/images/image232.jpg" /> at the top right corner.
    Results can be narrowed based on the following parameters:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="148" id="Imagen 404" src="agent/images/image310.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452021"></a><a name="_Toc34375558"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Billing Analysis filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b
  ><span lang="EN-GB"
    >operating Airlines in the selected BSP are included in a drop-down list. It is possible to select just one.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Billing Period (“from” and “to”):</span></b
  ><span lang="EN-GB"> periods must belong to the same month.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type:</span></b
  ><span lang="EN-GB"> “TKTT”, “ACDM” or “EMD”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> the available currencies in the BSP.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >To perform the query according to the applied filter, it is necessary to click on
    <img border="0" width="74" height="30" id="Imagen 196" src="agent/images/image311.jpg" />. To clear all the selected
    fields, click on <img border="0" width="60" height="30" id="Imagen 405" src="agent/images/image312.jpg" />.</span
  >
</p>
