<p class="BodyText" style="line-height: normal">
  <a name="_Hlk54775179"
    ><span lang="EN-GB"
      >This module includes the information concerning the transactions performed by the Agent in New BSPlink.
    </span></a
  >It allows Agent Users to examine their billing in detail by means of the “Billing Statement”, “Billing Analysis” and
  "Advance Payment" options.
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="25%" src="agent/images/image292.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Sales.</span>
</p>
