<div class="row admAcmDetails" [formGroup]="form">
  <div class="col-6 admAcmDetails--section" formGroupName="reasonsDetails">
    <h4 class="section-title">{{ 'ADM_ACM.details.reasonDetails.title' | translate }}</h4>
    <div [hidden]="reasonOptions?.length === 0">
      <bspl-select
        formControlName="reasonForIssue"
        [label]="'ADM_ACM.details.reasonDetails.label.reasonForIssue' | translate"
        [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.reasonForIssue' | translate"
        [options]="reasonOptions"
      ></bspl-select>
    </div>
    <div class="admAcmDetails__reasonArea">
      <bspl-textarea
        class="reasonTextarea"
        formControlName="reasonForMemo"
        [label]="'ADM_ACM.details.reasonDetails.label.reasonForMemo'"
        [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.reasonForMemo'"
        [showNote]="true"
        [rowsLimit]="linesLimit"
        [linesLimit]="lineCharacterLimit"
      ></bspl-textarea>
    </div>
    <div class="rmicSection" *ngIf="isRMICVisible">
      <bspl-input
        #reasonForMemoIssuanceCode
        formControlName="reasonForMemoIssuanceCode"
        class="uppercase-input"
        [label]="'ADM_ACM.details.reasonDetails.label.issuanceCode' | translate"
        [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.issuanceCode' | translate"
        [maxLength]="5"
      ></bspl-input>
    </div>
  </div>
  <div class="col-6 admAcmDetails--section" formGroupName="relatedDocuments">
    <h4 class="section-title">{{ 'ADM_ACM.details.relatedDocuments.title' | translate }}</h4>
    <div>
      <bspl-datepicker
        [label]="'ADM_ACM.details.relatedDocuments.label.issueDate' | translate"
        [maxDate]="maxDateOfIssue"
        [clearable]="false"
        formControlName="dateOfIssueRelatedDocument"
        [placeholder]="'ADM_ACM.details.relatedDocuments.placeholder.issueDate' | translate"
      ></bspl-datepicker>
    </div>
    <div class="admAcmDetails__relatedDocs">
      <bspl-user-input-list
        [formArray]="relatedTicketDocumentsControlUserInput"
        [validators]="relatedTicketDocumentsValidators"
        [maxLength]="13"
        [label]="'ADM_ACM.details.relatedDocuments.label.relDocNumber' | translate"
        [placeholder]="'ADM_ACM.details.relatedDocuments.placeholder.relDocNumber' | translate"
        [placeholderInput]="'ADM_ACM.details.relatedDocuments.placeholder.relDocNumberInput' | translate"
      ></bspl-user-input-list>

      <div class="admAcmDetails__relatedDocs--error" *ngIf="relatedTicketDocumentsControl.invalid">
        {{ getControlErrorStringFromBE() }}
      </div>
      <bspl-alert-message
        [hidden]="!showWarningMsg"
        [message]="'ADM_ACM.details.relatedDocuments.warningMessage'"
        [type]="docsMessageType"
      ></bspl-alert-message>
    </div>
  </div>
</div>
