@import 'theme/variables/index';
@import 'components/form-page/form-page';

.admAcmDetails {
  & > .admAcmDetails--section {
    margin: $spacing-xl 0;

    &:first-child {
      padding-right: $spacing-xxxxl;
    }

    &:nth-child(2) {
      padding-left: 4.9rem;
      border-left: 1px solid $gray-neutral;
    }
  }

  .admAcmDetails__reasonArea {
    .reasonTextarea {
      &.ng-invalid {
        border-color: $red;
      }
    }
  }

  .admAcmDetails__relatedDocs {
    margin-top: $spacing-m;
    padding-top: $spacing-s;
    border-top: 1px solid $gray-neutral;

    .admAcmDetails__relatedDocs--error {
      border-radius: 2px;
      padding: $spacing-xxs $spacing-xs;
      color: $red;
      font-size: $font-size-s;
      margin-top: $spacing-xxs;
    }

    bspl-alert-message {
      display: block;
      margin-top: $spacing-l;
    }
  }
}
