<bspl-spinner [isLoading]="isLoading" relativeTo="parent"></bspl-spinner>
<div class="rule-detail-header">
  <h2 class="rule-title">{{ title | translate }}</h2>
  <div class="rule-actions">
    <ng-container *ngIf="!isEditMode">
      <bspl-button
        [label]="'BUTTON.DEFAULT.DISCARD'"
        [design]="buttonDesign.Tertiary"
        (onClick)="discard()"
      ></bspl-button>
      <bspl-button [label]="'ADM_ACM.categorizationRuleDetail.addRuleButton'" (onClick)="addItem()"> </bspl-button>
    </ng-container>
    <ng-container *ngIf="isEditMode">
      <bspl-button
        [label]="'BUTTON.DEFAULT.APPLYCHANGES'"
        [isDisabled]="isApplyChangesDisabled"
        (onClick)="applyChanges()"
      ></bspl-button>
    </ng-container>
  </div>
</div>
<div class="rule-detail-sub-header" [innerHTML]="subTitle | translate"></div>

<div class="wrapper col-12">
  <ng-container *ngTemplateOutlet="ruleDetailsTemplateForm"></ng-container>
</div>

<ng-template #ruleDetailsTemplateForm>
  <ng-container [formGroup]="form">
    <div class="row">
      <div class="col-4 separator-right container-column">
        <h3>{{ characteristicsTitle | translate }}</h3>
        <div>
          <bspl-select
            [label]="'ADM_ACM.categorizationRuleDetail.form.airline' | translate"
            [options]="airlineOptions"
            [clearable]="false"
            formControlName="airlineCode"
            [locked]="isAirlineLocked"
          ></bspl-select>
        </div>
        <div>
          <span>{{ 'ADM_ACM.categorizationRuleDetail.form.status' | translate }}</span>
          <bspl-checkbox
            [checked]="statusCheckBox"
            [label]="'ADM_ACM.categorizationRules.filters.status.options.ACTIVE' | translate"
            (stateChange)="onStatusCheckBoxChange($event)"
          ></bspl-checkbox>
        </div>
      </div>
      <div class="col-4 separator-right container-column">
        <h3>{{ conditionsTitle | translate }}</h3>

        <div>
          <bspl-select
            [label]="'ADM_ACM.categorizationRuleDetail.form.bsp' | translate"
            formControlName="isoCountryCodes"
            [anyOption]="allBspFilteringOption"
            [multiple]="true"
            [options]="bspOptions"
            [locked]="isBspOptionsLocked"
          ></bspl-select>
        </div>
        <div>
          <bspl-select
            [label]="'ADM_ACM.categorizationRuleDetail.form.transaction' | translate"
            [options]="transactionOptions"
            [clearable]="false"
            formControlName="concernsIndicator"
          ></bspl-select>
        </div>
        <div>
          <bspl-select
            [label]="'ADM_ACM.categorizationRuleDetail.form.reason' | translate"
            [options]="reasonForMemoFieldOptions"
            [clearable]="false"
            formControlName="reasonForMemoField"
          ></bspl-select>
        </div>
        <div>
          <bspl-select
            [label]="'ADM_ACM.categorizationRuleDetail.form.position' | translate"
            [options]="positionOptions"
            [clearable]="false"
            formControlName="position"
          ></bspl-select>
        </div>
        <div>
          <bspl-textarea
            [label]="'ADM_ACM.categorizationRuleDetail.form.pattern' | translate"
            formControlName="pattern"
          ></bspl-textarea>
        </div>
      </div>
      <div class="col-4 dark-background container-column">
        <h3>{{ categoryTitle | translate }}</h3>
        <div>
          <bspl-select
            #primaryReason
            [label]="'ADM_ACM.categorizationRuleDetail.form.primaryReason' | translate"
            [options]="primaryReasonOptions"
            [clearable]="false"
            formControlName="primaryReasonId"
          ></bspl-select>
        </div>
        <div>
          <bspl-select
            [label]="'ADM_ACM.categorizationRuleDetail.form.subReason' | translate"
            [options]="subReasonOptions"
            [clearable]="false"
            formControlName="subReasonId"
            [locked]="!primaryReason.value"
          ></bspl-select>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
