<div class="comment-item-container" *ngIf="commentItem">
  <div class="row primary-row">
    <div class="col-md-9 main-title">{{ header }}</div>
    <div class="col-md-3 item-time text-right">{{ time }}</div>
  </div>
  <div class="row secondary-row">
    <div class="col-md-12">
      {{ 'postBillingDisputes.activityPanel.labels.by' | translate }}
      <bspl-pbd-entity-link [pbdEntity]="commentItem.author | toPbdEntity"></bspl-pbd-entity-link>
    </div>
  </div>
  <div class="row details-container" *ngIf="commentItem.reason">
    <div class="col-md-12">
      <div class="details-content">
        <span class="reason-value">{{ commentItem.reason }}</span>
      </div>
    </div>
  </div>
  <div class="row attachment-list">
    <div *ngFor="let attachment of commentItem.attachments" class="col-md-12">
      <a class="attachment-item">
        <div class="attachment-info">
          <div class="attachment-name" *ngIf="attachment.fileName">{{ attachment.fileName }}</div>
          <div class="attachment-name" *ngIf="attachment.name">{{ attachment.name }}</div>
          <div class="attachment-size">
            {{ attachment.size }}
          </div>
        </div>

        <div class="attachment-action">
          <a (click)="downloadAttachment(attachment)"><i class="material-icons">get_app</i></a>
        </div>
      </a>
    </div>
  </div>
</div>
