@import 'src/app/shared/scss/index';

.attachment-list {
  margin-top: 1rem;

  .attachment-item {
    background-color: $gray-subtle;
    border-radius: $border-radius-large;
    margin-bottom: $spacing-xs;
    padding: $spacing-s $spacing-m;
    display: flex;

    &:hover {
      background: $white;
      box-shadow: 0 2px 4px 0 rgba(0, 47, 91, 0.06), 0 4px 8px 0 rgba(42, 51, 140, 0.12);
    }

    .attachment-info {
      flex: 6;

      .attachment-name,
      .attachment-size {
        color: $gray-deep;
      }

      .attachment-name {
        line-height: $line-height-m;
        word-break: break-word;
      }

      .attachment-size {
        line-height: $line-height-s;
        font-size: $font-size-s;
      }
    }

    .attachment-action {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 3rem;
        height: 3rem;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $gray-subtle;
        }

        i {
          color: $gray-middle;
          font-size: 2rem;
        }
      }
    }
  }
}
