<div>
  <div class="message">
    <p>{{ 'REFUNDS.rejectDialog.' + refundType + '.message' | translate }}</p>
  </div>
  <!-- RFND Information section -->
  <div class="info__section data__table">
    <div class="row line__data">
      <div class="col-6">{{ 'REFUNDS.rejectDialog.' + refundType + '.information.numberLbl' | translate }}</div>
      <div class="col-6">{{ docNumber }}</div>
    </div>
    <div class="row line__data">
      <div class="col-6">{{ 'REFUNDS.rejectDialog.' + refundType + '.information.appDateLbl' | translate }}</div>
      <div class="col-6">{{ appDate }}</div>
    </div>
    <div class="row line__data">
      <div class="col-6">
        {{
          'REFUNDS.rejectDialog.' + refundType + '.information.amountLbl'
            | translate : locale.language : { currencyCode: currency?.code }
        }}
      </div>
      <div class="col-6">{{ amount }}</div>
    </div>
  </div>
  <!-- Reject form section -->
  <div class="form__section" [formGroup]="form">
    <div class="message">
      <p>{{ 'REFUNDS.rejectDialog.' + refundType + '.reason.message' | translate }}</p>
    </div>
    <bspl-select
      formControlName="reason"
      [label]="'REFUNDS.rejectDialog.' + refundType + '.reason.label' | translate"
      [placeholder]="'REFUNDS.rejectDialog.' + refundType + '.reason.selectPlaceholder' | translate"
      [options]="reasonOptions"
      [autofocus]="true"
    ></bspl-select>
    <bspl-textarea
      formControlName="rejectionReason"
      [placeholder]="'REFUNDS.rejectDialog.' + refundType + '.reason.textPlaceholder'"
      [showNote]="false"
    ></bspl-textarea>
    <bspl-upload
      [isDragAndDropActive]="true"
      [mode]="uploadMode"
      [resetMode]="uploadMode"
      [files]="filesToUp"
      [uploadPath]="uploadPath"
      (filesChange)="onFilesChange($event)"
      (uploadStarted)="onUploadStarted($event)"
      (uploadFinished)="onUploadFinished($event)"
    ></bspl-upload>
    <bspl-textarea
      formControlName="airlineRemark"
      class="remarks"
      [label]="'REFUNDS.rejectDialog.' + refundType + '.remark.label'"
      [placeholder]="'REFUNDS.rejectDialog.' + refundType + '.remark.placeholder'"
      [showNote]="false"
    ></bspl-textarea>
  </div>
</div>
