@import 'src/app/shared/scss/data-table-dialog';

:host {
  div.message {
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin: $spacing-s 0;
  }

  div.info__section {
    &.data__table {
      div.row.line__data {
        &:last-child {
          border-bottom: none;
        }
      }

      border-bottom: 1px solid $gray-deep;
      padding: 0 $spacing-m $spacing-m;
    }
  }

  div.form__section {
    padding-top: $spacing-m;

    bspl-select {
      margin-bottom: $spacing-s;
    }

    bspl-textarea.remarks {
      margin-top: $spacing-m;
    }
  }
}
