@import 'theme/variables/index';

.bspl-card {
  border-radius: 5px;
  box-shadow: 0 1px 9px 0 rgba(0, 47, 91, 0.05), 0 2px 8px 0 rgba(0, 47, 91, 0.1);
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 450px;

  .header {
    display: flex;
    align-items: center;
    margin: $spacing-xxxl $spacing-xxxxl $spacing-xs;
  }

  .title {
    font-size: 2.4rem;
  }

  .card-content {
    font-size: $font-size-m;
    padding: $spacing-xs $spacing-xxxxl $spacing-xxl;
  }
}
