<div class="deactivate-user-container">
  <p class="text-content">
    {{ messageDescription }}
  </p>
  <bspl-property-list class="property-list-compact info__section">
    <bspl-property
      *ngIf="isHosuView"
      [label]="'subUsers.toggleStatusDialogs.labels.ilogin' | translate"
      [value]="subUser.ilogin"
    ></bspl-property>
    <bspl-property
      [label]="'subUsers.toggleStatusDialogs.labels.email' | translate"
      [value]="subUser.portalEmail"
    ></bspl-property>
    <bspl-property
      [label]="'subUsers.toggleStatusDialogs.labels.name' | translate"
      [value]="subUser.name"
    ></bspl-property>
    <bspl-property
      *ngIf="isUserAirline && !isHosuView"
      [label]="'subUsers.toggleStatusDialogs.labels.template' | translate"
      [value]="templateTranslation"
    ></bspl-property>
  </bspl-property-list>
  <ng-container *ngIf="!isHosuView">
    <div class="expiry-date-container" [formGroup]="formData">
      <bspl-datepicker
        [label]="'subUsers.toggleStatusDialogs.labels.expiryDate' | translate"
        formControlName="expiryDate"
        [clearable]="false"
        [minDate]="minimumExpiryDate"
        [autofocus]="true"
      ></bspl-datepicker>
    </div>
  </ng-container>
</div>
