@import 'theme/variables/index';

.add-currency {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.currency-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
