<div class="add-currency">
  <div class="row currency-content" [formGroup]="form">
    <div class="col-lg-6">
      <bspl-input [label]="'Currency Code'" formControlName="code"></bspl-input>
    </div>
    <div class="col-lg-6">
      <bspl-input [label]="'Decimals'" formControlName="decimals"></bspl-input>
    </div>
  </div>
</div>
