<ng-container>
  <div class="permissions-container" *ngIf="canReadLomuPermissions">
    <bspl-selection-list
      [canEdit]="canEditPermissions"
      [listData]="permissions$ | async"
      (selectionChange)="onPermissionChange($event)"
    ></bspl-selection-list>
  </div>
  <bspl-locked-state
    *ngIf="!canReadLomuPermissions"
    [message]="'subUsers.profile.propertiesTab.bspNotPermissionPropertiesInfo' | translate"
  ></bspl-locked-state>
</ng-container>
<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'"> </bspl-spinner>
