%base-card-design {
  background: $white;
  border-radius: 4px;
  box-shadow: $shadow-z-1;
  padding: $spacing-xl;
  margin-bottom: $spacing-xs;
}

.custom-container {
  .status-header.dashboard-header,
  .status-header.dashboard-insights-section {
    border: none;

    .status-figures {
      &.charts-area {
        .figure {
          flex: 33.33%;
          // TODO remove this !important;
          padding: 0 !important;

          .figure-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: $spacing-xxxl;

            .figure-value {
              // TODO remove this !important;
              margin-bottom: 0 !important;
              flex-grow: 2;
            }
          }

          .section-figure-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .figure:first-of-type {
          .figure-content {
            padding-left: 0;
            padding-right: $spacing-xxxl;
          }
        }
      }

      .no-data {
        font-size: $font-size-l;
        font-weight: $font-weight-medium;
        line-height: $line-height-l;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 100%;
      }

      .figure {
        height: auto;

        .section-figure-title {
          margin-top: $spacing-s;
        }

        .figure-value {
          color: $blue-light;
          font-size: 4rem;
          line-height: 5.4rem;
          font-weight: $font-weight-medium;

          span {
            padding-left: $spacing-xxxs;
          }
        }

        .figure-description {
          font-size: $font-size-s;
          line-height: $line-height-s;
        }

        .figure-expand {
          margin-top: $spacing-m;
        }
      }
    }
  }

  .status-header.dashboard-header {
    .status-header-main {
      padding: 0;
      margin: 0;

      @extend %base-card-design;
    }

    .status-figures {
      align-items: stretch;

      .figure {
        margin: $spacing-l 0;
        padding: 0 $spacing-xxxxl;
        border-right: none;
        border-left: 1px solid $gray-neutral;
        flex-grow: 1;

        &:first-child {
          border-left: none;
        }

        &.airline-logo {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .figure-value {
          display: flex;
          align-items: center;

          img.icon-images {
            height: $spacing-xl;
            width: 3.2rem;
          }
        }

        .dashboard-figure-brand {
          text-align: center;

          img.logo-images {
            max-width: 30rem;
            margin: 0 auto $spacing-xs;
          }
        }
      }
    }
  }
}
