<label class="checkbox-container">
  <input
    #checkboxInput
    type="checkbox"
    class="default-checkbox"
    [checked]="checked"
    [disabled]="disabled"
    (click)="onCheckboxClick($event)"
  />
  <span [ngClass]="getCurrentCheckboxDesign()" class="custom-checkbox"></span>
  <span class="checkbox-label">{{ label }}</span>
</label>
