<div class="text-content">
  <span>{{ 'downloadDialog.textContent' | translate }}</span>
</div>

<div class="type-selection">
  <span>{{ 'downloadDialog.typeOfDocument' | translate }}</span>

  <bspl-radio-button-group
    [groupName]="'radioButtons'"
    [options]="radioButtonOptions"
    [formControl]="radioButtonGroup"
  ></bspl-radio-button-group>
</div>
