@import 'theme/variables/index';

.text-content {
  color: $gray-dark;
  padding-bottom: $spacing-m;
  border-bottom: 1px solid $gray-neutral;
  margin-bottom: $spacing-m;

  span {
    font-size: $font-size-m;
    font-family: inherit;
    line-height: $line-height-m;
  }
}

.type-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-xxxl;

  span {
    font-size: $font-size-m;
    color: $gray-dark;
  }
}
