<p class="description">
  {{ 'MASTER_DATA.agentGroupMembers.modifyIndividualAccessDialog.description' | translate }}
</p>
<bspl-agent-group-member-info class="member-info" [member]="member"></bspl-agent-group-member-info>
<bspl-select
  [options]="individualAccessOptions"
  [(ngModel)]="member.individualAccess"
  [isDisabled]="modifyButton?.isLoading"
  [label]="'MASTER_DATA.agentGroupMembers.modifyIndividualAccessDialog.individualAccess' | translate"
  [clearable]="false"
  [appendToBody]="true"
  [autofocus]="true"
  (ngModelChange)="handleIndividualAccessChange($event)"
></bspl-select>
