@import 'theme/variables/index';

.reason-container {
  padding: $spacing-s 0;
  color: $blue-primary;
  font-weight: 500;

  .reason {
    font-style: italic;
    margin: $spacing-xs 0;
    padding: 0 $spacing-xs;
  }
}
