<p class="MsoNormal" style="line-height: normal">
  The GDS user can request an image of the table which stores the TA information, for their related agents, within the
  BSPlink environment the user is logged in.
</p>

<p class="MsoNormal" style="line-height: normal">
  This option also allows the GDS user to select a specific agent or airline and receive their corresponding ticketing
  authority information in the next scheduled Global Ticketing Authority file.
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="gds/images/global-TA-files-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Global TA Files.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  Click on the type of file you want the image to be included in: Adhoc File or the next scheduled Global TA file.
</p>

<p class="MsoNormal" style="line-height: normal">
  Select whether you want to have included in the file DEL actions for every related agent, before the ADD actions.
</p>

Detailed Description

<p class="MsoNormal" style="line-height: normal">
  The GDS user is able to request an image of the table containing the TA information for its related agents by clicking
  on the <img border="0" height="30" src="gds/images/icon-TA-image.jpg" /> button. This image will map each record of
  the TA information, translated into an ADD action. The following modal box is displayed:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="450" src="gds/images/global-TA-files-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: TA Image Request modal box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  The information will be included, according to the option selected by the user, either in the Next Global TA file
  scheduled or in an Adhoc File generated at that moment which can then be downloaded through the GDS’s Global SFTP
  account. Also, the user can opt for the image file to include a DEL action for every related agent, before the ADD
  actions reflecting the TA information.
</p>

<p class="MsoNormal" style="line-height: normal">
  The name of the adhoc files generated will follow this naming convention:
  &lt;GDS_USER_ID&gt;_YYYYMMDD_adhoc_SEQ.&lt;extension&gt;, where SEQ will be 01, 02, …, 99 and extension is the file
  extension (.txt or .xml).
</p>

<p class="MsoNormal" style="line-height: normal">
  Kindly consider that it is not possible to request a second file to be generated for the same environment, as long as
  a request is still being processed. Therefore, if the user has selected to include an image in the next scheduled
  Global TA file, until the corresponding file is generated the user will not be able to request a new image within the
  Global TA file.
</p>

<p class="MsoNormal" style="line-height: normal">
  Please note that the files will be generated depending on the format that the GDS is receiving the Global TA files in
  either XML or TXT.
</p>

<p class="MsoNormal" style="line-height: normal">
  Moreover, via this option, GDS users subscribed to the Global Ticketing Authority files service are able to request
  the ticketing authority information of a specific agent or airline by selecting in one of the options displayed when
  clicking on the arrow of the <img border="0" height="30" src="gds/images/icon-TA-image.jpg" /> button. This data will
  be included in the next scheduled global Ticketing Authority file.
</p>

<p class="MsoNormal" style="line-height: normal">
  If the ticketing authority information is requested for a specific airline code, the data will be reported in the
  hourly file first with a DEL and then an ADD tag for each corresponding active agent code. This means that for agents
  with no ticketing authority granted at the moment of the request, only the DEL tag will be included, allowing the GDS
  to synchronize their records.
</p>

<p class="MsoNormal" style="line-height: normal">
  If the ticketing authority information is requested for a specific agent code, the data will be reported first with a
  DELALL tag and then an ADD tag corresponding to each airline code the agency has ticketing authority with.
</p>

<p class="MsoNormal" style="line-height: normal">
  Please note that you cannot select both an airline and an agency code.
</p>

<p class="MsoNormal" style="line-height: normal">
  Likewise, the GDS user can request the TA file called "Delete File for Non-TA records", which contains DEL/DELALL
  actions for all possible combinations of agents and active airlines which have no TA correspondence in BSPlink:
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;DEL actions are included for every active agent and airline users which have no TA
    relationship present in BSPlink.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;a DELALL action is included for every expired agent which has no TA relationship present in
    BSPlink.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  The user has the possibility of choosing between receiving the Non-TA records in a separate file called Delete File,
  or including them in the next scheduled Global TA GDS file. If the user chooses the option Global TA GDS file, the
  information corresponding to the Non-TA records will be included in the Global TA file which is scheduled to be
  generated after the moment of this request.
</p>

<p class="MsoNormal" style="line-height: normal">
  If the user chooses the Delete file option, the requested file will be generated right after the next scheduled Global
  TA GDS file.
</p>

<p class="MsoNormal" style="line-height: normal">
  The format of the Delete file will be either .txt or .xml, corresponding to the format configured for the GDS's Global
  TA file. The Non-TA records can only be requested once a day, by any GDS user which has the Global TA File service
  activated. If the information has already been requested, a warning message will be displayed by the system and the
  user will not have the request options available.
</p>

<p class="MsoNormal" style="line-height: normal">
  The agents which are expired in the given Country but active in another Country will not be reported in the file.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  <b>Request Agent’s FOP status in the next FOP file</b>
</p>

<p class="MsoNormal" style="line-height: normal">
  Option that allows requesting a file to include one agent or all the agents from the BSP, to know which FOPs the agent
  is authorized to use. The requested data will be included in the next FOP file.
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="gds/images/global-TA-files-3.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: FOP File Request</span>
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>All Agents in this BSP:</b> the forms of payment values for each active agent for the
    environment where the user is logged, and without considering the relation between the GDS and the agent in TSP
    master file, will be included in the next scheduled GDS FOP file. In other words, the corresponding ADDFOP/DELFOP
    action will be included for each FOP: CA, CC, EP, for all active agents of the BSPlink environment where the user is
    logged.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Single Agent:</b> the forms of payment status for the corresponding agent will be
    included in the next scheduled GDS FOP file, i.e., the corresponding ADDFOP/DELFOP action will be included for each
    FOP: CA, CC, EP, for the agent requested by the user.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  Note that these actions will not generate email notifications for BSP, Agents or GDS users.
</p>

<p class="MsoNormal" style="line-height: normal">
  Also note that, so far, there is no specific option to query the FOP file. Therefore, once the file is generated, the
  user can query it via the Files &gt; Reports & Communications > Reports & Communications.
</p>
