<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">If GDS Users need to upload any file, it is necessary to click on this option. </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Upload files
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The following window is then displayed:</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="505" id="Imagen 69" src="gds/images/upload-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Upload files dialogue.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This dialogue does allow users to drag files in or browse files stored in the PC to upload them. In both cases, the
    following window is browsed one the file is selected:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="380" height="365" id="Imagen 70" src="gds/images/upload-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to complete the file upload, it is necessary to click on the
    <img border="0" width="70" height="30" id="Imagen 71" src="third_party/images/image026.jpg" />
    button. Otherwise, the user may click on
    <img border="0" width="70" height="30" id="Imagen 73" src="third_party/images/image027.jpg" />. The system will
    confirm the correct upload or will inform about the error occurred instead:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="380" height="287" id="Imagen 75" src="gds/images/upload-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc34375546"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Completion of file upload.</span>
</p>
