<bspl-list-view
  [title]="'sales.nonComparatives.viewTitle'"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
  [noticeMessage]="noticeDisclaimer$ | async | translate"
>
  <div class="view-header statement-header" bsplListViewTitle>
    <bspl-button
      [label]="'Totals'"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(dataSource.hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'sales.nonComparatives.bsp' | translate"
        [placeholder]="'sales.nonComparatives.selectBsp' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="hasLeanPermission"
        [clearable]="hasLeanPermission"
      >
      </bspl-select>
      <span>{{ 'sales.nonComparatives.highlightedBspText' | translate }}</span>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-6" *ngIf="isUserAgent">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'sales.nonComparatives.airlineCodeName' | translate"
          [placeholder]="'sales.nonComparatives.selectAirline' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isUserAirline">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'sales.nonComparatives.agentCodeName' | translate"
          [placeholder]="'sales.nonComparatives.selectAgent' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isUserAirline">
        <bspl-select
          formControlName="agentGroup"
          [options]="agentGroupDropdownOptions$ | async"
          [label]="'sales.nonComparatives.agentGroupCodeName' | translate"
          [placeholder]="'sales.nonComparatives.agentGroupCodeNamePlaceHolder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="periodRange"
          [label]="'sales.nonComparatives.period'"
          [options]="periodDropdownOptions"
          [yearsBack]="periodPickerYearsBack"
        >
        </bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'sales.nonComparatives.monthPeriod'"
          [options]="periodDropdownOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statisticalCodeDropdownOptions"
          formControlName="statisticalCode"
          [label]="'sales.nonComparatives.salesType' | translate"
          [placeholder]="'sales.nonComparatives.selectSalesType' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="currency"
          [options]="currencyOptions"
          [label]="'sales.nonComparatives.currency' | translate"
          [placeholder]="'sales.nonComparatives.allCurrencies' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns$ | async"
    [columnMode]="'flex'"
    [isLoading]="dataSource.loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>

<bspl-floating-panel [closable]="true" (opened)="onTotalsPanelOpened()" (closed)="onTotalsPanelClosed()">
  <bspl-spinner [isLoading]="isTotalsLoading" [relativeTo]="'parent'">
    <bspl-non-comparative-totals [totals]="totalsData"></bspl-non-comparative-totals>
  </bspl-spinner>
</bspl-floating-panel>

<ng-template #amountTemplate let-row="row" let-value="value">
  {{ value | number : getAmountFormat(row?.currency?.decimals) }}
</ng-template>
