<div>{{ 'document.stockRequest.request.resultViewSubtitle' | translate }}</div>

<div class="request-container">
  <div class="row">
    <div class="col-4 separator-right">
      <bspl-property-list header="document.stockRequest.request.requestInfo">
        <bspl-property
          label="document.stockRequest.request.labels.applicationDate"
          [value]="data.applicationDate"
        ></bspl-property>
        <bspl-property
          label="document.stockRequest.request.labels.agentCodeName"
          value="{{ data.agent?.iataCode }} / {{ data.agent?.name }}"
        ></bspl-property>
        <bspl-property label="document.stockRequest.request.labels.gds" [value]="data.gds?.name"></bspl-property>
      </bspl-property-list>
    </div>
    <div class="col-4 separator-right">
      <bspl-property-list>
        <bspl-property
          label="document.stockRequest.request.labels.documentType"
          [value]="data.documentType"
        ></bspl-property>
        <bspl-property
          label="document.stockRequest.request.labels.statisticalCode"
          [value]="data.statisticalCode"
        ></bspl-property>
        <bspl-property
          label="document.stockRequest.request.labels.applicationQuantity"
          [value]="data.applicationQuantity"
        ></bspl-property>
      </bspl-property-list>
    </div>
    <div class="col-4">
      <bspl-property-list header="document.stockRequest.request.reviewInfo">
        <bspl-property
          label="document.stockRequest.request.labels.reviewDate"
          [value]="data.reviewDate"
        ></bspl-property>
        <bspl-property
          label="document.stockRequest.request.labels.approvedQty"
          [value]="data.approvedQuantity"
          labelTooltip="document.stockRequest.request.tooltips.approvedQuantity"
        ></bspl-property>
        <bspl-property
          label="document.stockRequest.request.labels.reviewComment"
          [value]="data.reviewComment"
        ></bspl-property>
      </bspl-property-list>
    </div>
  </div>
</div>
