<div [formGroup]="form">
  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'LIST.MASTER_DATA.creditCards.dialog.edit.creditCardDetails' | translate }}</h4>
    </div>
  </div>

  <div class="pb-4">
    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="abbreviation"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.abbreviation.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.abbreviation.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>
    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="name"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.name.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.name.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>
    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="prefix"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.prefix.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.prefix.placeholder' | translate"
        [locked]="isDeleteMode || isEditMode"
      ></bspl-input>
    </div>
    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="longcode"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.longcode.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.longcode.placeholder' | translate"
        [locked]="isDeleteMode || isEditMode"
      ></bspl-input>
    </div>
  </div>
  <hr />

  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'LIST.MASTER_DATA.creditCards.dialog.edit.addressDetails' | translate }}</h4>
    </div>
  </div>

  <div class="pb-4">
    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="address"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.address.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.address.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>

    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="locality"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.locality.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.locality.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>

    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="city"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.city.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.city.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>

    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="zip"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.zip.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.zip.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>

    <div class="row">
      <bspl-input
        class="col-md-12"
        formControlName="country"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.country.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.country.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-input>
    </div>
  </div>
  <hr />

  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'LIST.MASTER_DATA.creditCards.dialog.edit.luhnExceptionDetails' | translate }}</h4>
    </div>
  </div>

  <div class="pb-4">
    <div class="row">
      <bspl-select
        class="col-md-12"
        formControlName="luhnException"
        dropdownPosition="top"
        [options]="luhnExceptionOptions"
        [clearable]="false"
        [label]="'LIST.MASTER_DATA.creditCards.dialog.edit.luhnException.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.creditCards.dialog.edit.luhnException.placeholder' | translate"
        [locked]="isDeleteMode"
      ></bspl-select>
    </div>
  </div>
</div>
