<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >At the bottom of the box which arises before issuing a Refund Application, Agent users may flag it as
    “Final”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="560" src="agent/images/final-refund-applications-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451945"></a><a name="_Toc34375480"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Flag RA as Final.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >When Refund Applications are flagged as “Final”, it is not possible to modify its information once issued:
  </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="570" src="agent/images/final-refund-applications-2.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Flagging RAs as Final warning.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once issued, Refund Applications are subject to an automatic processing of 60 days. Please refer to "6.4.1.4
    "Automatic processing of Refund Applications"" for more information.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Any Final Refund Application may have the following status types:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Final: </span></b
  ><span lang="EN-GB"
    >The Refund Application has been flagged s “Final” and is subject to the Automatic processing.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Exception:</span></b
  ><span lang="EN-GB">
    The Refund Application has been marked as “Exception” by the Airline. It is no longer subject to the Automatic
    processing.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-3.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Final RA.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please note:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund Applications which were issued between 30 and 45 days ago are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-1.jpg" /> icon.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund Applications which were issued more than 45 days ago are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-2.jpg" /> icon.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund which have been automatically authorized after 60 days are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-3.jpg" /> icon.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Also, the header of the detailed view of a Refund Application which was flagged as “Final” indicates this
    information:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-4.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Final RA detailed view.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Please note that it is not possible to modify Final Refund Applications. However, comments and attachments may be
    added in the Activity panel.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please find a comparative view of the process affecting Refund Applications below:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-7.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: Final RA detailed view.</span>
</p>
