<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If an Agent purchased a ticket and wishes the refund of it based on its terms and conditions, please click on
    “Refund Application” under the “Refunds” option from the menu bar.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="126" id="Imagen 346" src="agent/images/image159.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451945"></a><a name="_Toc34375480"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Refund Application option.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The following screen will be displayed, which includes all the Refund Applications previously issued:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="168" id="Imagen 212" src="agent/images/image160.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451946"></a><a name="_Toc34375481"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Refund Application view.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once displayed, it is necessary to click on the
    <img border="0" width="94" height="30" id="Imagen 347" src="agent/images/image161.jpg" /> button at the top right.
    The form to request a refund will then appear in a new tab.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is also possible to issue a RA Under Supervision by clicking on the arrow next to this button. If so, the RA
    will not be completely issued until the Supervisor of the Agency authorizes it (it can be modified before
    authorizing it by clicking on “Supervise”):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="98" id="Imagen 210" src="agent/images/image162.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Refund Application Under Supervision.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Please note that Refund Applications can be equally issued from the Ticket facsimile: the
    <img border="0" width="78" height="30" id="Imagen 17" src="agent/images/image163.jpg" /> button allows issuing RA or
    RN (please refer to </span
  ><span lang="EN-GB">6.5.1.1 Ticket facsimile</span><span lang="EN-GB"> for more information).</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="258" id="Imagen 106" src="agent/images/image164.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451947"></a><a name="_Toc34375482"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Refund Application form.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The Refund Application form is divided into five main parts:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refund Application Header: </span></b
  ><span lang="EN-GB"
    >the information on this part, always visible, cannot be edited. It includes the following fields:
  </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Refund Number: this number is assigned once the application is completed.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Refund Status: it reflects if the Refund is Pending, Approved, Rejected, Sent to Airline or Pending Supervision. It
    also reflects if the RA was sent to the DPC or not.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">BSP the Agent belongs to. </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Airline Code.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Agent Code.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Application Date: the date in which the Agent completes the form.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Refund to Passenger and currency: the amount of the Refund which, if approved, will be included in the Agent
    billing.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Basic Information: </span></b
  ><span lang="EN-GB">it reflects the information concerning the Airline, the Agent and the Refund.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Details:</span></b
  ><span lang="EN-GB">
    this section consists of the reason why the Refund is to be applied and the ticket involved.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment:</span></b
  ><span lang="EN-GB"> the method used to pay the ticket.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount and Tax:</span></b
  ><span lang="EN-GB"> this last part is focused on the fare and taxes of the ticket.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk13832175"
    ><span lang="EN-GB"
      >For the form completion purposes, the Agent User will find, on the RA Header, the option either collapse or
      expand the rest of the parts of the form. If the Agent User prefers to collapse just one of the sections, it is
      possible to do so through the options after “Jump to”:</span
    ></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="62" id="Imagen 108" src="agent/images/image165.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451948"></a><a name="_Toc34375483"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Refund Application expand/collapse option.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This is also possible by clicking the
    <img border="0" width="22" height="22" id="Imagen 72" src="agent/images/image166.jpg" /> icon at the right part of
    each section:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="54" id="Imagen 353" src="agent/images/image167.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451950"></a><a name="_Toc34375485"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: expand icon on each Refund Application section.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Agent must complete the form explained above in order to successfully complete the application. If any
    mandatory field is not completed, the system warns the Agent User with a message:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="67" id="Imagen 65" src="agent/images/image168.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451951"></a><a name="_Toc34375486"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Required field message.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If any mandatory field is empty, the application cannot be issued. Besides, it is very important to include
    accurate information, exactly as reflected on the ticket: even if the Application is issued, the system cannot
    process it if any details are not correct. The following steps must be followed in order to complete the form:</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  1.&nbsp;&nbsp;Basic Information
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; line-height: normal">
  <span lang="EN-GB">Once this section is expanded, the following fields must be completed:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; line-height: normal">
  <b><span lang="EN-GB">&nbsp;</span></b>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="426" id="Imagen 354" src="agent/images/image169.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451952"></a><a name="_Toc34375487"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: Refund Application Basic Information.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <b
    ><span lang="EN-GB" style="color: #1e32fa"
      >1.1<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp; </span></span
    ></b
  ><b><span lang="EN-GB">Airline Code/Name (mandatory): </span></b
  ><span lang="EN-GB"
    >it is necessary to select the Airline which is involved in the ticket purchase. A list with all the Airlines the
    Agent has Ticketing Authority with is deployed. It is also possible to write down the Airline Code or Name to narrow
    the list:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.5in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="179" id="Imagen 355" src="agent/images/image170.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451953"></a><a name="_Toc34375488"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: Airline information on Refund Application Basic Information.</span>
</p>

<p class="MsoListParagraph" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa"
      >1.2<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp; </span></span
    ></b
  ><span lang="EN-GB">The Airline VAT information cannot be edited, neither can be the rest of Airline details:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.5in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="382" height="443" id="Imagen 356" src="agent/images/image171.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451954"></a><a name="_Toc34375489"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: Airline information on Refund Application Basic Information.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa"
      >1.3<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp; </span></span
    ></b
  ><span lang="EN-GB"
    >Under the Airline VAT Number and the Airline Details, the Airline contact information will be automatically shown
    once the Airline is selected in step 1.1. This is the contact person or team assigned by the Airline for Refund
    purposes. If the Agent needs to contact the airline regarding the refund, this is the specific contact to use.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa"
      >1.4<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp; </span></span
    ></b
  ><span lang="EN-GB"
    >Even though the Agent Code and Code Number are automatically indicated, the Agent User may introduce an alternative
    <b>VAT number (non-mandatory)</b>.
  </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa"
      >1.5<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp; </span></span
    ></b
  ><span lang="EN-GB"
    >The Agent user may edit the <b>Agent Contact Information (non-mandatory)</b>: if the Airline needs to contact the
    Agent for this specific Refund, this contact information will be used. The details belonging to the user who is
    logged in will be automatically populated, although they will be editable.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  2.&nbsp;&nbsp;Details
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">After completing the Basic Information section, the Agent may deploy the Refund Details:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="399" id="Imagen 357" src="agent/images/image172.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451955"></a><a name="_Toc34375490"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: Refund Application Details.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">2.1</span><span lang="EN-GB"> </span></b
  ><span lang="EN-GB"
    >Under <b>Reason Details (mandatory)</b>, it is necessary to explain why the Refund is being requested (e.g.
    “Passenger missed connection”, “flight cancelled due to strike”). This is a free text of maximum ten lines with 45
    characters each.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">2.2 </span></b
  ><span lang="EN-GB"
    >The <b>Related Documents </b>comprise the<b> </b>information on the ticket which is intended to be refunded. In
    order to complete the fields under this section, enhanced New BSPlink Agent users may check the information
    available in Document Enquiry (please refer to </span
  ><span lang="EN-GB">6.5.1.1 Ticket facsimile)</span
  ><span lang="EN-GB"
    >. Non-enhanced users may check the corresponding information in the ticket PNR, available in the GDS system. Once
    the information is gathered, the following fields must be populated:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <a name="_Hlk17209499"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Statistical Code: </span></b
    ><span lang="EN-GB">RA can be issued for a “Domestic” or “International” document.</span></a
  ><span lang="EN-GB"> Alternative values can be available depending on the BSP.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger (mandatory): </span></b
  ><span lang="EN-GB">the passenger’s full name exactly as reflected on the original document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Issue Date (mandatory):</span></b
  ><span lang="EN-GB"> the date in which the ticket was purchased.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Waiver Code (non-mandatory):</span></b
  ><span lang="EN-GB">
    sometimes, Airlines assign a code, thereby reducing or removing completely penalties when refunds are requested. If
    this is the case, this code needs to be included for the system to report it accordingly.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline (mandatory):</span></b
  ><span lang="EN-GB"> this is the Airline IATA Code. Each participant Airline is granted a three-digit code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number (mandatory):</span></b
  ><span lang="EN-GB">
    the ticket number. This is usually indicated at the top left of the PNR. It is also available in the ticket
    facsimile (please refer to </span
  ><span lang="EN-GB">6.5.1.1 Ticket facsimile)</span><span lang="EN-GB">)</span><span lang="EN-GB">.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Coupons (mandatory):</span></b
  ><span lang="EN-GB">
    it is necessary to indicate the coupons used in the original ticket, that is, the itineraries included in the ticket
    (e.g. “MAD-LIS”, coupon 1, “LIS-MAD”, coupon 2). Used coupons must be ticked (<img
      border="0"
      width="22"
      height="22"
      id="Imagen 358"
      src="agent/images/image173.jpg"
    />), whereas unused ones must not (<img
      border="0"
      width="22"
      height="22"
      id="Imagen 80"
      src="agent/images/image174.jpg"
    />).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Since each e<b>-</b>ticket includes a maximum of four coupons, when the ticket includes further itineraries, a
    Conjunction Ticket is issued. If this is the case of the ticket to be refunded, it is necessary to click on
    <img border="0" width="168" height="30" id="Imagen 359" src="agent/images/image175.jpg" /> to indicate the
    corresponding <b>Conjunction Tickets</b> <b>(mandatory, if any)</b> subject to the refund. Once clicked, a new row
    is displayed for the conjunction ticket (CNJ): Ticket Number and Coupons:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 1in; line-height: normal">
  <span lang="EN-GB">&nbsp;</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 1in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="162" id="Imagen 360" src="agent/images/image176.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451956"></a><a name="_Toc34375491"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: Conjunction Tickets in Refund Application.</span>
</p>

<p class="MsoNormal" style="text-indent: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Unused rows can be deleted by means of the
    <img border="0" width="22" height="22" id="Imagen 81" src="agent/images/image177.jpg" />
    icon.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the ticket which the Agent User wishes to be refunded is a result of an Exchange, it is necessary to click on
    <b>Exchange (Original Issue Details) (mandatory, if this is the case)</b>. The relevant information concerning the
    original ticket is displayed for the Agent User to complete it:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="109" id="Imagen 361" src="agent/images/image178.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451957"></a><a name="_Toc34375492"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: Exchange Ticket original information.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  3.&nbsp;&nbsp;Form of Payment
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The form of Payment section consists of the payment data of the original document and contains the following
    fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="181" id="Imagen 340" src="agent/images/image179.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451958"></a><a name="_Toc34375493"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">14</span
  ><span lang="EN-GB">: Form of Payment section.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">3.1 </span></b
  ><span lang="EN-GB"
    >The<b> Tour Code (non-mandatory): </b>this code is used when a published tour or a special negotiated fare is sold
    together with a ticket.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">3.2 </span></b
  ><span lang="EN-GB"
    >The <b>Customer Reference (non-mandatory): </b>any reference assigned to the Customer throughout the payment
    process.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">3.3. </span
    ><span lang="EN-GB">E-Ticket Auth Code (non-mandatory): </span></b
  ><span lang="EN-GB">a</span
  ><span lang="EN-GB" style="font-size: 10pt; font-family: 'Arial', sans-serif; color: #545454; background: white">
    unique number generated by the Airline to authorize or approve a transaction (including refunds).</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">3.4 </span><span lang="EN-GB">Currency (mandatory): </span></b
  ><span lang="EN-GB">the currency in which the original transaction was performed.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">3.5 </span></b
  ><span lang="EN-GB"
    >The <img border="0" width="174" height="30" id="Imagen 341" src="agent/images/image180.jpg" /> allows the Agent
    User to indicate the <b>Form of Payment (mandatory)</b> used at the moment of purchasing the ticket. The possible
    Form of Payments in BSP are <b>Payment Card, Easy Pay</b> (dependent on EP Account activation by the agent),
    <b>Miscellaneous Credit, Cash</b> and <b>Miscellaneous Cash</b>. BSP issues reports warning of any non-processed CC
    sales. Please ensure you review the reports and contact IATA if your payment settings are not correct The amount
    indicated in this section must be equal to the total, that is, considering the fare, taxes, commissions, etc, unless
    a partial refund is requested (please see next section).</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If the ticket was paid in <b>Cash</b>, it is necessary to simply indicate the amount:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="125" id="Imagen 348" src="agent/images/image181.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451959"></a><a name="_Toc34375494"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: Form of Payment Cash.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the ticket was paid with <b>Credit Card (Payment Card), </b>it is necessary to<b> </b>include the Card Type and
    Number along with the amount. It is possible to add more than one Card:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="153" id="Imagen 362" src="agent/images/image182.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451960"></a><a name="_Toc34375495"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">16</span
  ><span lang="EN-GB">: Form of Payment Card.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the ticket was paid by means of the Agent’s <b>Easy Pay</b> account, the Card Scheme and the EP Number are to be
    indicated with the EP amount.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >When the ticket was paid both by means of Cash and Credit, it is necessary to include the <b>MSCA</b> and
    <b>MSCC</b> Forms of Payment and enter the corresponding details of each transaction.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="222" id="Imagen 363" src="agent/images/image183.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451961"></a><a name="_Toc34375496"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">17</span
  ><span lang="EN-GB">: Form of Payment MSCC and MSCA.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  4.&nbsp;&nbsp;Amount and Tax
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In the last section, it is necessary to indicate the different figures related to the amount. The Agent User must
    indicate the amounts corresponding to the Ticket Fare, Taxes, Commissions or Penalties.
  </span>
</p>

<p class="MsoNormal" align="center" style="line-height: normal; text-align: center">
  <span lang="EN-GB">
    <img border="0" width="645" height="433" id="Imagen 364" src="agent/images/image184.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451962"></a><a name="_Toc34375497"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">18</span
  ><span lang="EN-GB">: Application Form Amount and Tax.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.1 </span
    ><span lang="EN-GB">Partial Refund / Net remit (non-mandatory): </span></b
  ><span lang="EN-GB"
    >the first step is to indicate if the requested refund is a Total Refund (by leaving blank both boxes:
    <img border="0" width="22" height="22" id="Imagen 99" src="agent/images/image185.jpg" />) or a Partial Refund (the
    box must be ticked: <img border="0" width="22" height="22" id="Imagen 366" src="agent/images/image186.jpg" />). If
    the ticket was a result of a Net Remit deal, its box must be ticked.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">4.2 </span><span lang="EN-GB">Gross Fare (mandatory): </span></b
  ><span lang="EN-GB">this amount corresponds to the Ticket fare, taxes excluded.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.3 </span
    ><span lang="EN-GB"
      >Less Gross Fare Used (only available if the Partial refund option is chosen, mandatory):
    </span></b
  ><span lang="EN-GB"
    >if the Refund requested is partial, it is necessary to indicate the amount which is <b>not</b> refundable in this
    field.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">4.4 </span><span lang="EN-GB">Commission (non-mandatory): </span></b
  ><span lang="EN-GB"
    >If the Airline agreed a commission with the Agent, this needs to be indicated in this field. Commissions can be
    reported in Amount (currency) or Rate (percentage):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="114" id="Imagen 369" src="agent/images/image187.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451963"></a><a name="_Toc34375498"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">19</span
  ><span lang="EN-GB">: Reporting Commission.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">4.5 </span><span lang="EN-GB">Discount Amount (non-mandatory): </span></b
  ><span lang="EN-GB"
    >if the ticket is resulted from a Net Remit agreement, the discount has to be indicated.<b> </b
  ></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.5 </span
    ><span lang="EN-GB">Cancellation Penalty (non-mandatory): </span></b
  ><span lang="EN-GB"
    >if the ticket terms and conditions provide a Penalty on Cancellations (Refunds), this needs to be indicated.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.6 </span
    ><span lang="EN-GB">Tax on CP (Commission Penalty) (non-mandatory): </span></b
  ><span lang="EN-GB">similarly, the Cancellation can be subject to any tax, depending on the country or BSP.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.7 </span
    ><span lang="EN-GB">Miscellaneous Fee (non-mandatory): </span></b
  ><span lang="EN-GB">the ticket may contemplate any other fee, which needs to be reported.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.8 </span
    ><span lang="EN-GB">Tax on MF (Miscellaneous Fee) (non-mandatory): </span></b
  ><span lang="EN-GB">similarly, the Cancellation can be subject to any tax, depending on the country or BSP.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b
    ><span lang="EN-GB" style="color: #1e32fa">4.9 </span
    ><span lang="EN-GB">Commission on CP (Commission Penalty) or MF (Miscellaneous Fee) (non-mandatory): </span></b
  ><span lang="EN-GB"
    >if the agreed commission affects the Cancellation Penalty or Miscellaneous Fee, it can be indicated either in
    Amount or Rate.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">4.10 </span><span lang="EN-GB">Tax (mandatory, if any): </span></b
  ><span lang="EN-GB"
    >Taxes must be reported in two different columns, the first corresponding to the Tax ISO Code<b>, </b>the second
    corresponding to the amount of each Tax:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="112" id="Imagen 370" src="agent/images/image188.jpg" /></span>
</p>

<p
  class="MsoCaption"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
  "
>
  <a name="_Toc26451964"></a><a name="_Toc34375499"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">20</span
  ><span lang="EN-GB">: Reporting taxes on Refund Applications.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once the first tax is introduced, the
    <img border="0" width="65" height="30" id="Imagen 371" src="agent/images/image189.jpg" /> button becomes available,
    allowing Agent Users to add new Taxes. Unused rows can be deleted by means of the
    <img border="0" width="22" height="22" id="Imagen 107" src="agent/images/image190.jpg" /> icon. The following
    specificities must be observed when reporting Taxes:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">XT Taxes: </span></b
  ><span lang="EN-GB"
    >the XT Tax format is not permitted in Refund Applications. Please note that you will find the group of Taxes under
    this format in the Ticket PNR. They all must be reported in the Refund Application, unless otherwise indicated by
    the Airline.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">XF Taxes:</span></b
  ><span lang="EN-GB">
    XF taxes are generally reported by indicating the Airport code under the Tax ISO Code column by means of the
    following format: <i>XFAAANNN </i>(where AAA corresponds to the Airport code and NNN to the collected
    <b>amount in the currency of the country</b> where the Airport is located). The Tax Amount is reported in the
    currency of the BSP the Agent belongs to:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; line-height: normal">
  <b><span lang="EN-GB">&nbsp;</span></b>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="142" id="Imagen 372" src="agent/images/image191.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451965"></a><a name="_Toc34375500"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">21</span
  ><span lang="EN-GB">: Reporting XF Taxes.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please note that the system will notify the introduction of duplicated taxes, if any.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <b><span lang="EN-GB" style="color: #1e32fa">4.11 </span><span lang="EN-GB">Refund to Passenger: </span></b
  ><span lang="EN-GB"
    >this is the total amount to be refunded, automatically calculated by the system The Refund to passenger = amount of
    the Gross Fare – amount of the Gross Fare Used + Taxes – the CP – the Tax on CP – the MF – the tax on MF.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >After the refund Application form is completed, the Agent User must click on the
    <img border="0" width="59" height="30" id="Imagen 111" src="agent/images/image192.jpg" />, at the top right of the
    form. The following box is then displayed:</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="450" src="agent/images/issue-ra-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">22</span><span lang="EN-GB">: Issue RA.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >At this moment, it is possible to review all the RA details, modify the RA reason, attach any related file or
    indicate that this RA is Final. Please note that Final RAs cannot be modified (availability depends on
    configuration).</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The system will confirm that the Refund has been successfully issued and will be visible on the table with all the
    Refund Applications.</span
  >
</p>
