<p class="MsoNormal">
  <span lang="EN-GB"
    >Before approving or rejecting any Refund Application, Airlines may request Agents for further information. This
    exchange of information can be reviewed by accessing to each Refund Application Individually.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Activity Panel on the right side of the Refund Application displays all the comments included by each part and
    reflects the workflow of the RA.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="370" height="254" id="Imagen 114" src="agent/images/image200.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: RA Activity Panel.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >The Activity Panel allows Agent and Airline Users include any comment. This panel is intended to facilitate a
    communication channel between both parts.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB">The activities in the panel can be filtered by clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 119" src="agent/images/image201.jpg" /><span lang="EN-GB">
    icon at the top right corner:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="371" height="286" id="Imagen 120" src="agent/images/image202.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Filter of RA Activity Panel.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">It is possible to add a new comment by clicking at the top box of the Activity Panel:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="370" height="248" id="Imagen 121" src="agent/images/image203.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Comment box at Activity Panel.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once clicked, the box gives the option to type a comment addressed to the Airline User in charge of the PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="370" height="288" id="Imagen 122" src="agent/images/image204.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Adding a comment in the PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to add the comment in the panel, it is necessary to click on
    <img border="0" width="76" height="30" id="Imagen 123" src="agent/images/image205.jpg" />. Otherwise, the comment
    can be disregarded by means of the
    <img border="0" width="89" height="30" id="Imagen 124" src="agent/images/image206.jpg" /> button. Besides, for any
    comment, it is possible to add attachments or to download them (by clicking
    <img border="0" width="22" height="22" id="Imagen 125" src="agent/images/image207.jpg" />).</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >For Resubmitted RAs the original document is included as a link on the Activity Panel, and the user can click on
    the document number. So the system will take the user to that document detailed view.
  </span>
</p>
