<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Enhanced Agents may issue Refund Notices (direct refunds). In order to query the existing Refund Notices (RN)
    issued by the Agent, or to issue a new one, it is necessary to click on “Refund Notices” under the “Refund” option
    form the menu bar:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="109" id="Imagen 388" src="agent/images/image208.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451971"></a><a name="_Toc34375504"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Refund Notice option.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >A list of all existing Refund Notices is presented on a table corresponding to the tags “Active” or “Deleted” which
    includes the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="198" id="Imagen 42" src="agent/images/image209.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451972"></a><a name="_Toc34375505"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Refund Notice table.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">the BSP the Agent belongs to.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number:</span></b
  ><span lang="EN-GB">
    the Refund Notice number which is generated once the Refund is issued. By clicking on it, the Refund Application
    details are displayed on a new tab. The document number can be accompanied by an icon which indicates that there is
    an Internal Comment (<img border="0" height="33" src="agent/images/icon-bubbles.jpg" />) added by the user as
    personal note. The comment is only visible for the user who added it.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code:</span></b
  ><span lang="EN-GB"> the involved Airline IATA three-digit code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code:</span></b
  ><span lang="EN-GB"> the issuer Agent IATA code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB"> This column reflects the status of a Refund Notice. RN Status can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PENDING SUPERVISION: </span></b
  ><span lang="EN-GB"
    >the Agent has issued the Refund Notice, but it must be examined by the Supervisor before being issued.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ISSUED:</span></b
  ><span lang="EN-GB"> the Refund Notice has been issued after being examined by the Supervisor. </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; line-height: normal">
  <span lang="EN-GB"
    >The status of the RN is accompanied by an icon showing whether it has been sent to the DPC (<img
      border="0"
      width="46"
      height="16"
      id="Imagen 22"
      src="agent/images/image116.jpg"
    />), not sent yet (<img border="0" width="46" height="15" id="Imagen 149" src="agent/images/image117.jpg" />), or
    will not be sent (<img border="0" width="46" height="16" id="Imagen 150" src="agent/images/image118.jpg" />).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">the employed currency on the Refund Notice.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> the total amount requested to be refunded.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b
  ><span lang="EN-GB">the date in which the Refund Notice was issued.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b
  ><span lang="EN-GB">the date in which the Refund Notice was reported to DPC.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" width="82" height="30" id="Imagen 390" src="agent/images/image210.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="agent/images/refund-notices-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451973"></a><a name="_Toc34375506"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Refund Notice filter.</span>
</p>

<p
  class="MsoNormal"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk19005350"
    ><span lang="EN-GB">It is therefore possible to filter queries based upon the following fields:</span></a
  >
</p>

<p
  class="MsoListParagraphCxSpFirst"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code / Name: </span></b><span lang="EN-GB">selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >To obtain the Refund Notices by one or more possible statuses (“Issued” or “Pending Supervision”).</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount Range:</span></b
  ><span lang="EN-GB"> the query can be filtered by a minimum value, a maximum value or both.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b><span lang="EN-GB">it can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Latest Action Date: </span></b><span lang="EN-GB">it can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b><span lang="EN-GB">the involved billing period.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to DPC: </span></b><span lang="EN-GB">“Sent”, “Pending” or “N/A”.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment: </span></b
  ><span lang="EN-GB">the method used to pay the related document.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Internal Comment: </span></b><span lang="EN-GB">"Yes"/"No".</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Read/Unread: </span></b><span lang="EN-GB">"Read"/"Unread".</span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >In order to view filtered results, it is necessary to click the
    <img border="0" width="74" height="30" id="Imagen 172" src="agent/images/image212.jpg" /> button. Otherwise, users
    may click the
    <img border="0" width="62" height="30" id="Imagen 391" src="agent/images/image213.jpg" />
    button.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >Besides, results, either filtered or not, can be downloaded in a CSV or TXT zipped file through the
    <img border="0" width="106" height="30" id="Imagen 392" src="agent/images/image123.jpg" /> button.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refund Notice details
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >It is possible to query the details from an already issued Refund Notice by clicking on the “Document Number” or
    the <img border="0" width="22" height="22" id="Imagen 35" src="agent/images/image214.jpg" /> icon the on the main
    table. Since the Refund Notice Issuance form contains the same fields as that corresponding to Refund Applications,
    please refer to section “</span
  ><span lang="EN-GB">How can an Agent User request a Refund to an Airline?</span
  ><span lang="EN-GB"
    >”. It should be noted that any issued Refund Notice cannot be edited, meaning that none of the fields offer the
    possibility of including any information. Also, those fields in which options can be selected appear as follows:
    <img border="0" width="23" height="22" id="Imagen 139" src="agent/images/image215.jpg" /> for those fields which had
    been selected and <img border="0" width="22" height="22" id="Imagen 138" src="agent/images/image216.jpg" /> for
    those which had not.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Issue a Refund Notice
</p>

<p class="MsoNormal" style="margin-top: 0in; line-height: normal">
  <span lang="EN-GB"
    >In order to issue a new Refund Notice, it is necessary to click the
    <img border="0" width="95" height="30" id="Imagen 428" src="agent/images/image217.jpg" /> button. Alternatively, a
    new Refund Notice can be issued directly from the “Document Enquiry” option, and details will be populated
    automatically. A new tab is then displayed, showing the following details:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="262" id="Imagen 128" src="agent/images/image218.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451974"></a><a name="_Toc34375507"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Refund Notice Issuance.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Since the Refund Notice Issuance form contains the same fields as that corresponding to Refund Applications, please
    refer to section </span
  ><span lang="EN-GB">"How can an Agent User request a Refund to an Airline?"</span> for more details.<span lang="EN-GB"
    >. A step-by-step description serves as a guide to complete the form accurately.
  </span>
</p>
