<div class="dialog-container">
  <bspl-alert-message
    [message]="keysRoot + '.alertMessage'"
    [type]="actionAlertMessageTypeMapper[actionType]"
  ></bspl-alert-message>

  <p *ngIf="isModifyParagraphDisplayed" class="paragraph">{{ keysRoot + '.paragraph' | translate }}</p>

  <ng-container *ngIf="isDialogFormDisplayed" [formGroup]="dialogForm">
    <!-- Username field -->
    <bspl-checkbox
      *ngIf="usernameCheckboxControl"
      [formControl]="usernameCheckboxControl"
      [label]="keysRoot + '.fields.username.label' | translate"
    ></bspl-checkbox>
    <bspl-input
      formControlName="username"
      [prefix]="userAirlineCode$ | async"
      [label]="usernameCheckboxControl ? null : (keysRoot + '.fields.username.label' | translate)"
      [placeholder]="keysRoot + '.fields.username.placeholder' | translate"
    ></bspl-input>

    <!-- Password field -->
    <bspl-checkbox
      *ngIf="passwordCheckboxControl"
      [formControl]="passwordCheckboxControl"
      [label]="keysRoot + '.fields.password.label' | translate"
    ></bspl-checkbox>
    <bspl-input
      type="password"
      formControlName="password"
      [label]="passwordCheckboxControl ? null : (keysRoot + '.fields.password.label' | translate)"
      [placeholder]="keysRoot + '.fields.password.placeholder' | translate"
    ></bspl-input>

    <!-- Confirm password field -->
    <bspl-input
      type="password"
      formControlName="confirmPassword"
      [label]="keysRoot + '.fields.confirmPassword.label' | translate"
      [placeholder]="keysRoot + '.fields.confirmPassword.placeholder' | translate"
    ></bspl-input>
  </ng-container>

  <!-- Confirm checkbox -->
  <ng-container *ngIf="confirmCheckboxControl" class="confirm-container">
    <bspl-checkbox
      *ngIf="confirmCheckboxControl"
      [formControl]="confirmCheckboxControl"
      [label]="keysRoot + '.confirmMessage' | translate"
    ></bspl-checkbox>
  </ng-container>
</div>
