@import 'theme/variables/index';

.dialog-container {
  margin-bottom: $spacing-xxl;

  bspl-alert-message {
    display: block;
    margin-bottom: $spacing-m;
  }

  .paragraph {
    color: $gray-deep;
    margin-bottom: $spacing-s;
  }
}
