<bspl-spinner [isLoading]="isLoading$ | async" relativeTo="parent">
  <div class="configuration-header">
    <h3>{{ (configurationDescriptor$ | async).displayName }}</h3>
  </div>

  <bspl-setting-list
    [disableAllActions]="disableAllActions"
    [categoryDescriptors]="(configurationDescriptor$ | async).categories"
    [configurationParameters]="(configurationParameters$ | async).parameters"
    (valueChange)="changeBasicSettingValue($event)"
  ></bspl-setting-list>
</bspl-spinner>
