<bspl-list-view
  [title]="title"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  [predefinedFilters]="predefinedFilters"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <span class="list-total-items" bsplListViewTitle>{{
    'MENU.files.totalItemMessage' | translate : locale.language : { total: totalItems$ | async }
  }}</span>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        formControlName="bspId"
        [options]="bspCountriesList"
        [label]="'MENU.files.reports.bsp' | translate"
        [clearable]="false"
        [locked]="isBspFilterLocked"
      >
      </bspl-select>
      <span>{{ 'MENU.files.reports.highlightedBspText' | translate }}</span>
    </div>
    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="name"
          [label]="'MENU.files.reports.fileName' | translate"
          [placeholder]="'MENU.files.reports.placeholders.fileName' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="fileTypeOptions$ | async"
          formControlName="type"
          [label]="'MENU.files.reports.fileType' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="uploadDate"
          [label]="'MENU.files.reports.uploadDate' | translate"
          [placeholder]="'MENU.files.reports.placeholders.choose' | translate"
          [selectionMode]="'range'"
          [maxDate]="maxDate"
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="isLoading$ | async"
    [primaryActions]="tableActions"
    [showIconEmptyActions]="true"
    (actionClick)="onActionClick($event)"
    (rowLinkClick)="onRowLinkClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
