<bspl-spinner [isLoading]="false" relativeTo="parent">
  <div [formGroup]="form">
    <div class="configuration-header">
      <h3>{{ 'menu.masterData.configuration.ipSettings.title.ipAddressConfig' | translate }}</h3>
    </div>

    <div class="settings-container">
      <div class="settings-subcontainer">
        <h4>{{ 'Select one option' }}</h4>
        <bspl-radio-button-group
          formControlName="ipType"
          groupName="ipType"
          [options]="ipOptions"
          class="settings-tabs"
        ></bspl-radio-button-group>

        <ng-container [ngSwitch]="ipType$ | async">
          <ng-container *ngSwitchCase="ipType.Permanent">
            <h4>{{ 'menu.masterData.configuration.ipSettings.title.ipPermanentList' | translate }}</h4>

            <div *ngFor="let ipControl of permanentIpsFormArray.controls; let i = index; trackBy: i" class="list-item">
              <span class="item-label"
                >{{ 'menu.masterData.configuration.ipSettings.labels.ipAddress' | translate }} {{ ' ' + (i + 1) }}</span
              >

              <bspl-input
                [formControl]="ipControl"
                [customErrorMessages]="{ pattern: 'menu.masterData.configuration.ipSettings.errors.notValidIp' }"
                [placeholder]="'menu.masterData.configuration.ipSettings.placeholders.introduceIpAddress' | translate"
              ></bspl-input>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="ipType.Range">
            <h4>{{ 'menu.masterData.configuration.ipSettings.title.ipAddressRange' | translate }}</h4>

            <div class="range-container">
              <div class="range-item">
                <span class="item-label"
                  >{{ 'menu.masterData.configuration.ipSettings.labels.from' | translate }}
                </span>
                <bspl-input
                  [formControl]="rangeFormGroup.get('beginIp')"
                  [customErrorMessages]="{
                    pattern: 'menu.masterData.configuration.ipSettings.errors.notValidIp',
                    required: 'menu.masterData.configuration.ipSettings.errors.required'
                  }"
                  [placeholder]="'menu.masterData.configuration.ipSettings.placeholders.introduceIpAddress' | translate"
                ></bspl-input>
              </div>

              <div class="range-item">
                <span class="item-label">{{ 'menu.masterData.configuration.ipSettings.labels.to' | translate }} </span>
                <bspl-input
                  [formControl]="rangeFormGroup.get('endIp')"
                  [customErrorMessages]="{
                    pattern: 'menu.masterData.configuration.ipSettings.errors.notValidIp',
                    required: 'menu.masterData.configuration.ipSettings.errors.required'
                  }"
                  [placeholder]="'menu.masterData.configuration.ipSettings.placeholders.introduceIpAddress' | translate"
                ></bspl-input>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      </div>

      <div *ngIf="canDelete" class="delete-btn-container">
        <bspl-button
          [label]="'common.delete' | translate"
          [isDisabled]="isNotExisting$ | async"
          (onClick)="deleteConfig()"
        ></bspl-button>
      </div>
    </div>
  </div>
</bspl-spinner>
