@import 'theme/variables/index';

:host {
  .configuration-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-xl;
  }

  .settings-container {
    background-color: $gray-subtle;
    padding: 4.1rem;
  }

  .settings-subcontainer {
    width: 40rem;
    margin: 0 auto;
  }

  h4 {
    color: $blue-primary;
    font-family: inherit;
    font-size: $font-size-l;
    margin: 0 0 1.2rem $spacing-xs;
  }

  .settings-tabs {
    display: inline-block;
    margin-bottom: 3rem;

    ::ng-deep p-radioButton {
      width: 18rem;
    }
  }

  .item-label {
    font-size: $font-size-m;
    line-height: 20px;
    color: $gray-dark;
    padding-right: $spacing-xl;
  }

  .list-item {
    padding: 0.7rem $spacing-xs;
    border-top: 0.1rem solid $gray-neutral;
    display: flex;
    align-items: center;

    &:last-child {
      border-bottom: 0.1rem solid $gray-neutral;
    }

    bspl-input {
      display: inline-block;
      margin-left: $spacing-xxxxl;
      margin-bottom: 0;
      width: 17rem;
    }
  }

  .range-container {
    border-top: 0.1rem solid $gray-neutral;
    border-bottom: 0.1rem solid $gray-neutral;
    padding: 0.7rem $spacing-xs;
    display: flex;

    .range-item + .range-item {
      margin-left: $spacing-xs;
    }

    bspl-input {
      width: 17rem;
    }
  }

  .delete-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
