<div class="deactivate-group-container mb-5" [formGroup]="form">
  <div class="row">
    <div class="col-md-12">
      <p class="description" [innerHTML]="'headerUserInfo.deactivateGroupDialog.description' | translate"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>{{ 'headerUserInfo.deactivateGroupDialog.confirmCheckboxMessage' | translate }}</strong>
      </p>
      <bspl-checkbox
        [formControl]="confirmCheckboxControl"
        [label]="'headerUserInfo.deactivateGroupDialog.confirmCheckboxLabel' | translate"
      >
      </bspl-checkbox>
    </div>
  </div>
</div>
