<div class="dialog-container">
  <div class="subtitle">
    {{ 'REFUNDS.bspSelectionDialog.subtitle' | translate }}
  </div>
  <div [formGroup]="form">
    <bspl-select
      formControlName="bsp"
      [options]="bspDropdownOptions"
      [clearable]="false"
      [appendToBody]="true"
      [label]="'REFUNDS.bspSelectionDialog.bspLabel' | translate"
      [placeholder]="'REFUNDS.bspSelectionDialog.bspPlaceholder' | translate"
    ></bspl-select>
  </div>
</div>
