<bspl-list-view
  [title]="'MENU.files.deletedFiles.title' | translate"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
>
  <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage }}</span>
  <div bsplListViewButton *ngIf="hasCreateDeletedFilesPermission">
    <bspl-button
      [label]="'MENU.files.deletedFiles.button.label' | translate"
      [design]="ButtonDesign.Tertiary"
      [icon]="'delete'"
      (onClick)="openDeleteFileDialog()"
    ></bspl-button>
    <bspl-button
      [label]="'MENU.files.deletedFiles.massDelete.buttonLabel' | translate"
      [design]="ButtonDesign.Secondary"
      [icon]="'delete'"
      (onClick)="openMassDeleteFileDialog()"
    ></bspl-button>
  </div>

  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="form-group col-lg-3 col-md-6">
      <bspl-input
        formControlName="name"
        [label]="'MENU.files.deletedFiles.filters.name' | translate"
        [placeholder]="'MENU.files.deletedFiles.filters.name' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <bspl-datepicker
        formControlName="actionDate"
        [label]="'MENU.files.deletedFiles.filters.actionDate' | translate"
        [placeholder]="'MENU.files.deletedFiles.filters.datePlaceholder' | translate"
        [selectionMode]="'range'"
      ></bspl-datepicker>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <bspl-input
        formControlName="user"
        [placeholder]="'MENU.files.deletedFiles.filters.user' | translate"
        [label]="'MENU.files.deletedFiles.filters.user' | translate"
      ></bspl-input>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <bspl-input
        formControlName="email"
        [placeholder]="'MENU.files.deletedFiles.filters.email' | translate"
        [label]="'MENU.files.deletedFiles.filters.email' | translate"
      ></bspl-input>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <bspl-select
        formControlName="status"
        [options]="statusOptions"
        [label]="'MENU.files.deletedFiles.filters.status' | translate"
        [multiple]="true"
      >
      </bspl-select>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
