@import 'theme/variables/index';

:host {
  .list-total-items {
    color: $gray-deep;
    font-size: $font-size-l;
    margin-left: $spacing-xxs;
  }

  & ::ng-deep .view-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;

    & bspl-button {
      margin-left: $spacing-m;
      vertical-align: middle;
    }
  }
}
