<label [hidden]="!label" [for]="id">{{ label }}</label>

<div class="control__wrapper">
  <p-calendar
    [(ngModel)]="value"
    [inputId]="id"
    [tabindex]="tabindex"
    [name]="name"
    [appendTo]="'body'"
    [placeholder]="placeholder"
    [dateFormat]="dateFormat"
    [readonlyInput]="!isTypingEnabled || isReadOnly || locked"
    [disabled]="isDisabled"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [showButtonBar]="false"
    [selectionMode]="selectionMode"
    [numberOfMonths]="numberOfMonths"
    [showOtherMonths]="false"
    [dataType]="dataType"
    [showTime]="showTime"
    [showOnFocus]="isEnabled"
    [view]="viewMode"
    (onClose)="closed.emit($event)"
    (onFocus)="onCalendarFocused($event)"
    (onBlur)="propagateTouched()"
    (onMonthChange)="updateDateOptionsState()"
    (onYearChange)="updateDateOptionsState()"
  >
    <p-header class="p-datepicker-custom-header">
      <bspl-icon-button
        [icon]="'keyboard_arrow_left'"
        [isDisabled]="!canNavigateToPrevious()"
        (click)="calendar?.navBackward($event)"
      ></bspl-icon-button>
      <bspl-select
        class="dropdown-date-navigator"
        [options]="monthOptions"
        [clearable]="false"
        [value]="calendar.currentMonth.toString()"
        [modes]="[selectMode.Small]"
        (change)="navigateToMonth($event.value)"
        (click)="$event.stopPropagation()"
      ></bspl-select>
      <bspl-select
        class="dropdown-date-navigator"
        [options]="yearOptions"
        [clearable]="false"
        [value]="calendar.currentYear.toString()"
        [modes]="[selectMode.Small]"
        (change)="navigateToYear($event.value)"
        (click)="$event.stopPropagation()"
      ></bspl-select>
      <bspl-icon-button
        [icon]="'keyboard_arrow_right'"
        [isDisabled]="!canNavigateToNext()"
        (click)="calendar?.navForward($event)"
      ></bspl-icon-button>
    </p-header>

    <p-footer class="p-datepicker-custom-footer" *ngIf="isTodayButtonShown()">
      <span class="link" (click)="onTodayButtonClicked($event)">{{ 'today' | translate }}</span>
    </p-footer>

    <ng-template pTemplate="date" let-date>
      <div [class]="getCellCssClass(date)" (mouseover)="hoveredDate = date" (mouseout)="hoveredDate = null">
        {{ date.day }}
      </div>
    </ng-template>
  </p-calendar>
  <div class="actions-container">
    <i class="material-icons locked-icon" *ngIf="locked">lock</i>
    <i class="material-icons clear-icon" *ngIf="canClear" (click)="clear($event)">close</i>
    <i class="material-icons calendar-icon" *ngIf="!locked" (click)="focusElement()">date_range</i>
  </div>
</div>

<div class="control__error">
  {{ getErrorMessage() }}
</div>
