@import 'theme/variables/index';
@import 'theme/app/custom-control';

bspl-datepicker {
  @include control-common();

  label {
    @include input-label();
  }

  div.control__wrapper {
    position: relative;

    p-calendar {
      span.p-calendar {
        display: block;

        input.p-component {
          @include input-common();

          padding-right: $input-padding-right-icon;

          &:disabled {
            opacity: 1;
          }
        }
      }
    }

    .actions-container {
      position: absolute;
      right: $input-side-padding;
      top: calc(50% - (#{$icon-size} / 2));

      i {
        @include input-icon();

        position: static;
        padding-left: 0.3rem;

        &.locked-icon + i {
          display: none;
        }

        &.calendar-icon {
          cursor: pointer;
        }

        &.clear-icon {
          cursor: pointer;
          font-weight: bold;
          font-size: 1.3rem;
        }
      }
    }
  }

  &div.control__wrapper p-calendar.p-inputwrapper-focus span.p-calendar input.p-component {
    @include input-focus();
  }

  &.control--disabled,
  &.control--readonly {
    div.control__wrapper p-calendar + i.calendar-icon {
      cursor: default;
    }
  }

  &.control--empty div.control__wrapper p-calendar span.p-calendar input.p-component {
    cursor: pointer;
  }

  &.control--readonly div.control__wrapper p-calendar span.p-calendar input.p-component {
    cursor: $cursor-readonly;
  }

  &.control--readonly {
    span.date__value {
      font-size: $font-size-m;
      line-height: $line-height-m;
      color: $blue-primary;
    }
  }

  &.control--locked div.control__wrapper p-calendar span.p-calendar input.p-component {
    @include input-locked();
  }

  @include control-error();
}

// Custom styling for datepicker monthpicker
div.p-datepicker.p-datepicker-monthpicker {
  width: 35rem;

  p-header bspl-select:first-of-type {
    display: none !important;
  }
}

// Custom styling for datepicker
div.p-datepicker.p-component:not(.p-datepicker-touch-p) {
  background-color: $white;
  padding: $spacing-m $spacing-xl;
  min-width: initial;
  min-height: 21em;
  font-size: $font-size-m;
  border-radius: $border-radius-small;
  border: none;
  box-shadow: $shadow-z-3;

  .p-component-content {
    background-color: $white;
  }

  .p-datepicker-group {
    border: none;
  }

  .p-datepicker-header {
    background: transparent;
    border: none;
    padding: 0;

    .p-datepicker-title {
      display: none; // We are handling it with custom bspl-selects solution.
    }
  }

  .p-datepicker-custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    bspl-select.dropdown-date-navigator {
      ng-select {
        .ng-select-container {
          height: 3rem;
        }

        .ng-select-container:hover {
          background-color: hover-color($white);
        }

        .ng-value-label {
          font-size: $font-size-l;
          line-height: $line-height-l;
          font-weight: $font-weight-medium;
        }

        &:not(.ng-select-opened) .ng-arrow {
          border-color: $blue-primary transparent transparent !important;
        }

        &.ng-select-opened .ng-arrow {
          border-color: transparent transparent $blue-primary !important;
        }

        .ng-dropdown-panel-items {
          .ng-option {
            text-overflow: clip;
          }
        }
      }
    }
  }

  .p-datepicker-calendar-container {
    margin-top: $spacing-xs;

    td {
      .p-state-disabled {
        opacity: 1;
        color: $gray-middle;
      }
    }
  }

  .p-datepicker-prev,
  .p-datepicker-next {
    display: none; // We are using custom nav buttons because we need to disable them.
  }

  .p-datepicker-calendar thead {
    border-bottom: 1px solid $gray-neutral;

    th {
      background: transparent;
      font-weight: normal;
      font-size: $font-size-m;
      color: $gray-deep;
      width: 3.6rem;
      height: 3.6rem;
      padding: 0;
    }
  }

  .p-datepicker-calendar tbody {
    tr {
      &:nth-child(odd) td {
        padding: 1px 0;
      }

      &:last-child td {
        padding-bottom: 0;
      }
    }

    td {
      border: none;

      & > span,
      & > span > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6rem;
        height: 3.6rem;
        border: 1px solid transparent;
      }

      & > span {
        border: none;
        padding: 0;
        background: none;
        font-weight: normal;

        & > div {
          color: $blue-primary;
          border-radius: $border-radius-small;
          background-color: transparent;

          &:hover {
            background-color: hover-color(transparent);
            cursor: pointer;
          }

          &.p-datepicker-in-range-highlight {
            background-color: $yellow-active;
            border-radius: 0;
          }
        }
      }

      &.p-datepicker-today {
        border: 1px solid $blue-primary;

        & > span.p-state-disabled.p-state-highlight {
          background-color: $white;
          opacity: 0.6;
          font-weight: 700;
        }
      }

      & > span.p-highlight > div {
        background-color: $yellow;

        &.p-datepicker-start-range {
          border-radius: $border-radius-small 0 0 $border-radius-small;
          background-color: $yellow;
        }

        &.p-datepicker-in-range {
          background-color: $yellow-active;
          color: $blue-primary;
          border-radius: 0;

          &:hover {
            background-color: hover-color($yellow-active);
          }
        }

        &.p-datepicker-end-range {
          border-radius: 0 $border-radius-small $border-radius-small 0;
          background-color: $yellow;
        }

        &.p-datepicker-start-range.p-datepicker-end-range {
          border-radius: $border-radius-small;
        }
      }
    }
  }

  .p-timepicker {
    &.p-component-header {
      background: transparent;

      .p-hour-picker,
      .p-minute-picker {
        a {
          color: $gray-middle;
        }
      }
    }
  }
}

.p-datepicker-custom-footer {
  margin-top: $spacing-s;
  display: block;
}
