<bspl-list-view
  [title]="'MENU.files.downloadedFiles.title' | translate"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="downloadDate"
          [label]="'MENU.files.downloadedFiles.filters.downloadDate' | translate"
          selectionMode="range"
          [maxDate]="maxDate"
          [minDate]="minDate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="fileTypes"
          [label]="'MENU.files.downloadedFiles.filters.fileTypes' | translate"
          [options]="fileTypesOptions$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="receiverTypes"
          [label]="'MENU.files.downloadedFiles.filters.receiverTypes' | translate"
          [options]="receiverTypesOptions"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
