<div class="row row-with-separators m-0" *ngIf="pbd">
  <div class="left-column col-md-6 right-separator">
    <bspl-property-list header="postBillingDisputes.pbdDetails.generalLabels.pbdDetailsTitle">
      <bspl-property label="postBillingDisputes.pbdDetails.generalLabels.agent">
        <bspl-pbd-entity-link
          [showCode]="true"
          [pbdEntity]="pbd.agent | toPbdEntity : UserType.AGENT"
        ></bspl-pbd-entity-link>
      </bspl-property>
      <bspl-property label="postBillingDisputes.pbdDetails.generalLabels.airline">
        <bspl-pbd-entity-link
          [showCode]="true"
          [pbdEntity]="pbd.airline | toPbdEntity : UserType.AIRLINE"
        ></bspl-pbd-entity-link>
      </bspl-property>
      <bspl-property label="postBillingDisputes.pbdDetails.generalLabels.pbdIssueDate">
        <div [class.empty]="!pbd?.pbdDate">
          {{ pbd?.pbdDate | dayMonthYear | emptyMessage }}
        </div>
      </bspl-property>
      <bspl-property label="postBillingDisputes.pbdDetails.generalLabels.pbdResolutionDate">
        <div [class.empty]="!pbd?.resolutionDate">
          {{ pbd?.resolutionDate | dayMonthYear | emptyMessage }}
        </div>
      </bspl-property>
    </bspl-property-list>
    <bspl-property-list class="amount-section" header="postBillingDisputes.pbdDetails.generalLabels.pbdAmountTitle">
      <div class="info-bubble-container" *ngIf="!pbd.status">
        <bspl-alert-message
          type="info"
          [message]="'postBillingDisputes.pbdDetails.messages.infoAmountMessage'"
        ></bspl-alert-message>
      </div>
      <bspl-property
        class="property-align-right"
        [label]="
          ('postBillingDisputes.pbdDetails.generalLabels.maxDisputableAmount' | translate) + ', ' + pbd?.currency.code
        "
        >{{ pbd?.maximumDisputableAmount | amountFormat : pbd?.currency?.decimals }}
      </bspl-property>
      <bspl-property
        *ngIf="pbd.id"
        class="property-align-right"
        [label]="pbdAmountLabel"
        [value]="pbd?.pbdAmount"
      ></bspl-property>
    </bspl-property-list>
    <div *ngIf="!pbd.id" [formGroup]="formData">
      <bspl-input
        class="pbd-amount-input"
        formControlName="amount"
        [label]="pbdAmountLabel"
        [placeholder]="pbd?.maximumDisputableAmount"
      ></bspl-input>
    </div>
  </div>

  <div class="right-column col-md-6">
    <bspl-property-list header="postBillingDisputes.pbdDetails.generalLabels.documentDetailsTitle">
      <bspl-property
        label="postBillingDisputes.pbdDetails.generalLabels.transactionCode"
        [value]="pbd?.transactionCode"
      ></bspl-property>
      <bspl-property label="postBillingDisputes.pbdDetails.generalLabels.documentNumber">
        <a class="link" [routerLink]="[ROUTES.DOCUMENT_ENQUIRY.url, pbd?.documentNumber]">{{ pbd?.documentNumber }}</a>
      </bspl-property>
      <bspl-property
        label="postBillingDisputes.pbdDetails.generalLabels.dateOfIssuing"
        [value]="pbd.dateOfIssue | dayMonthYear"
      ></bspl-property>
    </bspl-property-list>
  </div>
</div>
