@import 'theme/variables/index';

:host {
  .empty {
    color: $gray-middle;
  }

  .left-column {
    padding: 0 $spacing-xxxxl 0 0;
  }

  .right-column {
    padding: 0 0 0 $spacing-xxxxl;
  }

  .amount-section {
    margin-top: $spacing-xl;
  }

  .info-bubble-container {
    margin-bottom: $spacing-m;

    bspl-alert-message.infoMessage::ng-deep {
      div.alertMessage {
        box-shadow: none;
      }
    }
  }

  bspl-input.pbd-amount-input::ng-deep {
    padding-top: $spacing-m;
    border-top: 1px solid $gray-neutral;

    .control__wrapper input {
      text-align: right;
    }
  }
}
