<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [predefinedFilters]="predefinedFilters"
  [filterFormatter]="displayFormatter"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBsps"
        formControlName="isoCountryCode"
        [label]="'MENU.AUDIT.ADM/ACM.filter.label.bsp' | translate"
        [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.bsp' | translate"
        [isDisabled]="!userBsps?.length"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'MASTER_DATA.agent.highlightedBspText' | translate }}</span>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="transactionCode"
          [label]="'MENU.AUDIT.ADM/ACM.filter.label.trnc' | translate"
          [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.trnc' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="documentNumber"
          [label]="'MENU.AUDIT.ADM/ACM.filter.label.documentNumber' | translate"
          [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.documentNumber' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="time"
          [label]="'MENU.AUDIT.ADM/ACM.filter.label.time' | translate"
          [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.time' | translate"
          [showTodayButton]="false"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="attribute"
          [label]="'MENU.AUDIT.ADM/ACM.filter.label.attribute' | translate"
          [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.attribute' | translate"
          [options]="attributeOptionList"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="typeUser"
          [label]="'MENU.AUDIT.ADM/ACM.filter.label.userType' | translate"
          [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.userType' | translate"
          [options]="userTypeOptionList"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="codeUser"
          [label]="'MENU.AUDIT.ADM/ACM.filter.label.userCode' | translate"
          [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.userCode' | translate"
        ></bspl-input>
      </div>
      <ng-container *ngIf="!loggedUserIsOfType(GDP_USER_TYPE)">
        <div class="form-group col-lg-3 col-md-6">
          <bspl-input
            formControlName="emailUser"
            [label]="'MENU.AUDIT.ADM/ACM.filter.label.email' | translate"
            [placeholder]="'MENU.AUDIT.ADM/ACM.filter.placeholders.email' | translate"
          ></bspl-input>
        </div>
      </ng-container>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    (rowLinkClick)="onViewDocument($event)"
  ></bspl-grid-table>
</bspl-list-view>
