<section class="notification__section" *ngIf="hasDeletedPublicKeys$ | async">
  <bspl-alert-message
    type="success"
    [message]="'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.infoMessage.publicKeysDeleted'"
  ></bspl-alert-message>
</section>
<section class="notification__section" *ngIf="allFilesAreCompleted$ | async">
  <bspl-alert-message
    type="success"
    [message]="'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.infoMessage.publicKeysUploaded'"
  ></bspl-alert-message>
</section>
<section class="notification__section" *ngIf="failedFileNames$ | async as failedFileNames">
  <bspl-alert-message
    type="error"
    [message]="
      'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.infoMessage.publicKeysCouldNotBeUploaded'
        | translate : locale.language : { fileNames: failedFileNames }
    "
  ></bspl-alert-message>
</section>
<section class="notification__section" *ngIf="deletedPublicKeysErrorMessage$ | async as errorMessage">
  <bspl-alert-message type="error" [message]="errorMessage"></bspl-alert-message>
</section>
<section class="info__section">
  <bspl-property-list class="property-list-compact">
    <bspl-property
      label="menu.masterData.configuration.sftpConfigurations.labels.sftpAccountType"
      [value]="sftpAccount?.sftpAccountTypeText"
    ></bspl-property>
    <bspl-property
      class="property-with-separator"
      label="menu.masterData.configuration.sftpConfigurations.labels.login"
      [value]="sftpAccount?.login"
    ></bspl-property>
    <bspl-property
      label="menu.masterData.configuration.sftpConfigurations.labels.status"
      [value]="sftpAccount?.stateText"
    ></bspl-property>
  </bspl-property-list>
</section>
<ng-container *ngIf="publicKeys$ | async as publicKeys">
  <section class="public-keys-container" *ngIf="publicKeys.length > 0">
    <h4>
      {{ 'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.title.deletePublicKeys' | translate }}
    </h4>
    <div class="public-key-list">
      <label class="public-key-item" *ngFor="let publicKey of publicKeys">
        <div class="public-key-file-name">{{ publicKey.filename }}</div>
        <bspl-checkbox
          (stateChange)="onPublicKeyStateChange($event, publicKey)"
          [isDisabled]="hasFilesToUpload$ | async"
          [autofocus]="true"
        ></bspl-checkbox>
      </label>
    </div>
    <div class="delete-button-container">
      <bspl-button
        [label]="'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.labels.deleteSelectedKeys'"
        [isDisabled]="!(hasSelectedPublicKeys$ | async)"
        (onClick)="onDeleteClick()"
      ></bspl-button>
    </div>
  </section>
</ng-container>
<section class="upload-container">
  <h4>
    {{ 'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.title.uploadPublicKeys' | translate }}
  </h4>
  <bspl-upload
    [isDisabled]="hasSelectedPublicKeys$ | async"
    [isDragAndDropActive]="true"
    [mode]="UploadModes.Preview"
    [validationRules]="validationRules"
    [resetMode]="UploadModes.Preview"
    [uploadPath]="uploadPath"
    (filesChange)="onFilesChange()"
  ></bspl-upload>
  <div class="upload-button-container">
    <bspl-button
      [label]="'menu.masterData.configuration.sftpConfigurations.managePublicKeysDialog.labels.upload'"
      [isLoading]="isUploadInProgress$ | async"
      [isDisabled]="!(hasFilesToUpload$ | async)"
      (onClick)="onUploadClick()"
    ></bspl-button>
  </div>
</section>
