@import 'theme/variables/index';

$padding-compact: 0.6rem;

.notification__section {
  margin-bottom: $spacing-l;
}

.public-keys-container,
.upload-container {
  h4 {
    margin: $spacing-m 0 $spacing-s;
  }
}

.upload-container {
  margin-bottom: $spacing-xxl;
}

.delete-button-container,
.upload-button-container {
  margin: $spacing-s 0 0;
  text-align: right;
}

.public-key-item {
  display: flex;
  justify-content: space-between;
  padding: $padding-compact 0;
  margin: 0;

  .public-key-file-name {
    line-height: $line-height-m;
    color: $blue-primary;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $gray-neutral;
  }

  bspl-checkbox {
    margin-top: $spacing-xxs;
  }
}
