<bspl-list-view
  [title]="'REFUNDS.files.massloadAttachments.title'"
  [isInTab]="true"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
>
  <span class="title-items" bsplListViewTitle>{{ listItems }}</span>

  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="filename"
        [label]="'REFUNDS.files.massloadAttachments.filters.filename.label' | translate"
        [placeholder]="'REFUNDS.files.massloadAttachments.filters.filename.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="documentNumber"
        [label]="'REFUNDS.files.massloadAttachments.filters.documentNumber.label' | translate"
        [placeholder]="'REFUNDS.files.massloadAttachments.filters.documentNumber.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-datepicker
        formControlName="uploadDate"
        [selectionMode]="'range'"
        [label]="'REFUNDS.files.massloadAttachments.filters.uploadDate.label' | translate"
        [placeholder]="'REFUNDS.files.massloadAttachments.filters.uploadDate.placeholder' | translate"
      ></bspl-datepicker>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="userName"
        [label]="'REFUNDS.files.massloadAttachments.filters.userName.label' | translate"
        [placeholder]="'REFUNDS.files.massloadAttachments.filters.userName.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="email"
        [label]="'REFUNDS.files.massloadAttachments.filters.email.label' | translate"
        [placeholder]="'REFUNDS.files.massloadAttachments.filters.email.placeholder' | translate"
      >
      </bspl-input>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    (rowLinkClick)="onViewDocument($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
