<div class="container">
  <bspl-alert-message [type]="AlertMessageType.success" [message]="'Success message'"></bspl-alert-message>
  <br />
  <bspl-alert-message [type]="AlertMessageType.info" [message]="'Information message'"></bspl-alert-message>
  <br />
  <bspl-alert-message [type]="AlertMessageType.warning" [message]="'Warning message'"></bspl-alert-message>
  <br />
  <bspl-alert-message [type]="AlertMessageType.error" [message]="'Error message'"></bspl-alert-message>
  <br />
  <bspl-alert-message
    [type]="AlertMessageType.error"
    [errorCode]="777"
    [message]="'System error message'"
  ></bspl-alert-message>
</div>
