@import 'theme/variables/index';

:host,
.tab-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-xl 0;

  .header-title {
    font-size: $font-size-xxl;
    color: $blue-primary;
  }

  .header-actions {
    bspl-button {
      margin-left: $spacing-s;
    }
  }
}

// TODO: Tab content container has a defined padding that is used for all tabs.
// We need to move the padding it to a generic class instead and use it in each tab.
.profile-tabs {
  ::ng-deep {
    .tab-menu-container {
      margin-left: -$spacing-xl;
      margin-right: -$spacing-xl;
    }
  }
}
