<div class="header-container">
  <h3 class="header-title">{{ (bsp$ | async).name }}</h3>
  <div class="header-actions">
    <bspl-button
      [design]="btnDesign.Tertiary"
      [label]="'common.close' | translate"
      (onClick)="closeMainTab()"
    ></bspl-button>
    <bspl-button
      [label]="'common.applyChanges' | translate"
      [isDisabled]="!(isApplyChangesEnabled$ | async)"
      (onClick)="applyChanges()"
    ></bspl-button>
  </div>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
