<bspl-list-view
  [title]="'sales.annualAccumulated.viewTitle'"
  [hasCreating]="false"
  [hasFiltering]="true"
  [hasDownloading]="false"
  [filterFormatter]="displayFilterFormatter"
  [predefinedFilters]="predefinedFilters"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
>
  <div class="view-header annual-accumulated-header" bsplListViewTitle>
    <bspl-button
      [label]="'sales.annualAccumulated.totalsLabel' | translate"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(dataSource.hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'sales.annualAccumulated.bsp' | translate"
        [placeholder]="'sales.annualAccumulated.selectedBsp' | translate"
        [clearable]="false"
        [locked]="isBspFilterLocked"
        (change)="selectBsp($event.value)"
      >
      </bspl-select>
      <span>{{ 'sales.annualAccumulated.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'sales.annualAccumulated.month'"
          [options]="periodOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="currency"
          [options]="currencyDropdownOptions$ | async"
          [label]="'sales.annualAccumulated.currency' | translate"
          [placeholder]="'sales.annualAccumulated.allCurrencies' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [columnMode]="'flex'"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowToggle)="onRowToggle($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
<bspl-floating-panel [closable]="true" (opened)="onTotalPanelOpened()" [fullWidth]="false">
  <bspl-spinner [isLoading]="areTotalsLoading" [relativeTo]="'parent'">
    <bspl-annual-accumulated-totals [totalsByCurrency]="totals"></bspl-annual-accumulated-totals>
  </bspl-spinner>
</bspl-floating-panel>

<ng-template #rowDetailTemplate>
  <bspl-spinner [isLoading]="isLoadingRowDetails">
    <bspl-simple-table
      class="annual-detail-table collapsed"
      [columns]="rowDetailsColumns"
      [data]="rowDetails?.data"
    ></bspl-simple-table>
  </bspl-spinner>
</ng-template>

<ng-template #actionCellTemplate let-type="value">
  <span class="row-type" *ngIf="type">
    {{ 'sales.annualAccumulated.totalTypes.' + type | translate }}
  </span>
</ng-template>

<ng-template #emptyCellTemplate></ng-template>

<ng-template #amountTemplate let-row="row" let-value="value">
  {{ value | number : getAmountFormat(row?.currency?.decimals) }}
</ng-template>

<ng-template #amountRowDetailsTemplate let-value="value">
  {{ value | number : getAmountFormat(rowDetails?.record?.currency?.decimals) }}
</ng-template>
