@import 'src/app/sales/shared/sales-query';
@import 'theme/variables/index';

:host ::ng-deep {
  .annual-accumulated-header {
    justify-content: flex-end;
  }

  .ngx-datatable .datatable-row-detail {
    padding: 0;
  }

  bspl-simple-table.annual-detail-table {
    display: block;
    padding: $spacing-m $spacing-xxxxl $spacing-xxl $spacing-xxxxl;

    .simple-table-header-cell {
      line-height: $line-height-m;
      padding: $spacing-xxs $spacing-xs;
      width: 30%;
    }

    .simple-table-cell {
      padding: $spacing-xxs $spacing-xs;
      line-height: $line-height-m;
      color: $blue-primary;
    }

    .actions-column-cell {
      color: $gray-deep;
      width: 1%;
    }

    .simple-table-row {
      &:nth-last-child(2) {
        border-color: $blue-primary;
      }

      &:last-child {
        .simple-table-cell {
          font-weight: bold;
          color: $blue-primary;
        }
      }
    }

    .last-regular-cell {
      border-right: 1px solid $blue-primary;
      padding-right: $spacing-xxxl;
    }
  }
}
