@charset "UTF-8";
/*
* Deprecated: Use nova instead
*/
/*
* Deprecated: Use nova instead
*/
.p-component {
  font-family: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.p-component input,
.p-component select,
.p-component textarea,
.p-component button {
  font-family: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.p-component :active {
  outline: none;
}

.p-component-content {
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  color: #222222;
}
.p-component-content a {
  color: #222222;
}

.p-component-header {
  border: 1px solid #d9d9d9;
  background-color: #f6f7f9;
  color: #1b1d1f;
  font-weight: normal;
}
.p-component-header a {
  color: #1b1d1f;
}

.p-component-overlay {
  background-color: #666666;
  opacity: 0.5;
  filter: Alpha(Opacity=50);
}

.p-state-default {
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  color: #555555;
}
.p-state-default a {
  color: #555555;
}

.p-state-active {
  border-color: #bebebe;
  background-color: #d6d6d6;
  color: #212121;
}
.p-state-active a {
  color: #212121;
}

.p-state-highlight {
  border-color: #156090;
  background-color: #186ba0;
  color: #ffffff;
}
.p-state-highlight a {
  color: #ffffff;
}

.p-state-focus {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-state-focus a {
  color: #212121;
}

.p-state-error {
  border-color: #f44336;
  background-color: #f5554a;
  color: #cd0a0a;
}
.p-state-error a {
  color: #cd0a0a;
}

.p-state-disabled,
.p-component:disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
  cursor: default !important;
}
.p-state-disabled *,
.p-component:disabled * {
  cursor: default !important;
}

/* Forms */
.p-inputtext {
  background-color: #ffffff;
  color: #222222;
}

.p-inputtext:enabled:hover {
  border-color: #c0c0c0;
}

.p-inputtext.p-state-focus,
.p-inputtext:focus {
  outline: 0 none;
  border-color: #c0c0c0;
  -moz-box-shadow: 0px 0px 5px #c0c0c0;
  -webkit-box-shadow: 0px 0px 5px #c0c0c0;
  box-shadow: 0px 0px 5px #c0c0c0;
}

.p-inputgroup .p-inputgroup-addon {
  border-color: #d6d6d6;
  background-color: #f0f0f0;
  color: #222222;
}
.p-inputgroup .p-inputgroup-addon:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.p-inputgroup .p-inputgroup-addon:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.p-inputgroup .p-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.p-inputgroup .p-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-float-label input.ng-dirty.ng-invalid ~ label {
  color: #cd0a0a;
}

.p-autocomplete .p-autocomplete-multiple-container:not(.p-state-disabled):hover {
  border-color: #c0c0c0;
}
.p-autocomplete .p-autocomplete-multiple-container:not(.p-state-disabled).p-state-focus {
  border-color: #c0c0c0;
}

.p-chips > ul:not(.p-state-disabled):hover {
  border-color: #c0c0c0;
}
.p-chips > ul:not(.p-state-disabled).p-state-focus {
  border-color: #c0c0c0;
}

.p-button:focus,
.p-button:enabled:hover,
.p-fileupload-choose:not(.p-state-disabled):hover {
  outline: 0 none;
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-button:focus a,
.p-button:enabled:hover a,
.p-fileupload-choose:not(.p-state-disabled):hover a {
  color: #212121;
}

.p-button:enabled:active,
.p-fileupload-choose:not(.p-state-disabled):active {
  border-color: #bebebe;
  background-color: #d6d6d6;
  color: #212121;
}

.p-chkbox-box:not(.p-state-disabled):not(.p-state-active):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-chkbox-box:not(.p-state-disabled):not(.p-state-active):hover a {
  color: #212121;
}

.p-radiobutton-box:not(.p-state-disabled):not(.p-state-active):hover a {
  color: #212121;
}

.p-dropdown .p-dropdown-clear-icon {
  color: #888888;
}

.p-dropdown:not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-dropdown:not(.p-state-disabled):hover a {
  color: #212121;
}

.p-dropdown-panel .p-dropdown-item:not(.p-state-highlight):not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-dropdown-panel .p-dropdown-item:not(.p-state-highlight):not(.p-state-disabled):hover a {
  color: #212121;
}

.p-listbox .p-listbox-header .p-listbox-filter-container .fa {
  color: #222222;
}
.p-listbox:not(.p-state-disabled) .p-listbox-item:not(.p-state-highlight):not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-listbox:not(.p-state-disabled) .p-listbox-item:not(.p-state-highlight):not(.p-state-disabled):hover a {
  color: #212121;
}
.p-listbox:not(.p-state-disabled) .p-listbox-item.p-state-disabled .p-chkbox-box:hover {
  background-color: #ffffff;
  border-color: #d6d6d6;
}
.p-listbox.p-state-disabled .p-chkbox-box:not(.p-state-active):hover {
  border-color: #d6d6d6;
  background-color: #ffffff;
  color: #555555;
}

.p-multiselect:not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-multiselect:not(.p-state-disabled):hover a {
  color: #212121;
}

.p-multiselect-panel .p-multiselect-item:not(.p-state-highlight):not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-multiselect-panel .p-multiselect-item:not(.p-state-highlight):not(.p-state-disabled):hover a {
  color: #212121;
}

.p-multiselect-panel .p-multiselect-item.p-state-disabled:hover .p-chkbox-box {
  background-color: #ffffff;
  border-color: #d6d6d6;
}

.p-multiselect-panel .p-multiselect-close {
  color: #1b1d1f;
}

.p-multiselect-panel .p-multiselect-filter-container .fa {
  color: #222222;
}

.p-spinner:not(.p-state-disabled) .p-spinner-button:enabled:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-spinner:not(.p-state-disabled) .p-spinner-button:enabled:hover a {
  color: #212121;
}

.p-spinner:not(.p-state-disabled) .p-spinner-button:enabled:active {
  border-color: #bebebe;
  background-color: #d6d6d6;
  color: #212121;
}

.p-selectbutton .p-button:not(.p-state-disabled):not(.p-state-active):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-selectbutton .p-button:not(.p-state-disabled):not(.p-state-active):hover a {
  color: #212121;
}

.p-togglebutton:not(.p-state-disabled):not(.p-state-active):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-togglebutton:not(.p-state-disabled):not(.p-state-active):hover a {
  color: #212121;
}

.p-paginator a:not(.p-state-disabled):not(.p-state-active):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-paginator a:not(.p-state-disabled):not(.p-state-active):hover a {
  color: #212121;
}

.p-paginator a {
  color: #555555;
}

.p-datatable .p-rowgroup-header a {
  color: #1b1d1f;
}
.p-datatable .p-sortable-column:not(.p-state-active):hover {
  background-color: #eeeeee;
  color: #212121;
}
.p-datatable .p-row-toggler {
  color: #222222;
}
.p-datatable tbody.p-datatable-hoverable-rows > tr.p-component-content:not(.p-state-highlight):hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #212121;
}

.p-orderlist .p-orderlist-item:not(.p-state-highlight):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-orderlist .p-orderlist-item:not(.p-state-highlight):hover a {
  color: #212121;
}

.p-picklist .p-picklist-item:not(.p-state-disabled):not(.p-state-highlight):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-picklist .p-picklist-item:not(.p-state-disabled):not(.p-state-highlight):hover a {
  color: #212121;
}
.p-picklist .p-picklist-droppoint-highlight {
  border-color: #156090;
  background-color: #186ba0;
  color: #1f1f1f;
}
.p-picklist .p-picklist-droppoint-highlight a {
  color: #1f1f1f;
}
.p-picklist .p-picklist-highlight {
  border-color: #156090;
  color: #1f1f1f;
}
.p-picklist .p-picklist-highlight a {
  color: #1f1f1f;
}

.p-tree.p-treenode-dragover {
  border-color: #156090;
}
.p-tree .p-treenode-content.p-treenode-selectable .p-treenode-label:not(.p-state-highlight):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-tree .p-treenode-content.p-treenode-selectable .p-treenode-label:not(.p-state-highlight):hover a {
  color: #212121;
}
.p-tree .p-treenode-content.p-treenode-dragover {
  background-color: #d6d6d6;
  color: #212121;
}
.p-tree.p-tree-horizontal .p-treenode-content.p-treenode-selectable .p-treenode-label:not(.p-state-highlight):hover {
  background-color: inherit;
  color: inherit;
}
.p-tree.p-tree-horizontal .p-treenode-content.p-treenode-selectable:not(.p-state-highlight):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-tree.p-tree-horizontal .p-treenode-content.p-treenode-selectable:not(.p-state-highlight):hover a {
  color: #212121;
}

.p-organizationchart
  .p-organizationchart-node-content.p-organizationchart-selectable-node:not(.p-state-highlight):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-organizationchart
  .p-organizationchart-node-content.p-organizationchart-selectable-node:not(.p-state-highlight):hover
  a {
  color: #212121;
}

.p-accordion .p-accordion-header:not(.p-state-active):not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-accordion .p-accordion-header:not(.p-state-active):not(.p-state-disabled):hover a {
  color: #212121;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover a {
  color: #212121;
}

.p-panel .p-panel-titlebar .p-panel-titlebar-icon:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-panel .p-panel-titlebar .p-panel-titlebar-icon:hover a {
  color: #212121;
}

.p-tabview .p-tabview-nav li:not(.p-state-active):not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-tabview .p-tabview-nav li:not(.p-state-active):not(.p-state-disabled):hover a {
  color: #212121;
}

.p-dialog .p-dialog-titlebar-icon {
  color: #1b1d1f;
}
.p-dialog .p-dialog-titlebar-icon:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-dialog .p-dialog-titlebar-icon:hover a {
  color: #212121;
}

.p-sidebar .p-sidebar-close {
  color: #1b1d1f;
}
.p-sidebar .p-sidebar-close:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-sidebar .p-sidebar-close:hover a {
  color: #212121;
}

.p-overlaypanel .p-overlaypanel-close:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-overlaypanel .p-overlaypanel-close:hover a {
  color: #212121;
}

.p-inplace .p-inplace-display:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-inplace .p-inplace-display:hover a {
  color: #212121;
}

.p-breadcrumb a {
  color: #1b1d1f;
}

.p-menuitem .p-menuitem-link {
  color: #222222;
}
.p-menuitem .p-menuitem-link:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
  border-color: transparent;
}
.p-menuitem .p-menuitem-link:hover a {
  color: #212121;
}
.p-menuitem.p-menuitem-active > .p-menuitem-link {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
  border-color: transparent;
}
.p-menuitem.p-menuitem-active > .p-menuitem-link a {
  color: #212121;
}

.p-tabmenu .p-tabmenu-nav li:not(.p-state-active):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-tabmenu .p-tabmenu-nav li:not(.p-state-active):hover a {
  color: #212121;
}

.p-steps .p-steps-item:not(.p-state-highlight):not(.p-state-disabled):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-steps .p-steps-item:not(.p-state-highlight):not(.p-state-disabled):hover a {
  color: #212121;
}

.p-panelmenu .p-panelmenu-header:not(.p-state-active):hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
  border-color: #d6d6d6;
}
.p-panelmenu .p-panelmenu-header:not(.p-state-active):hover a {
  color: #212121;
}
.p-panelmenu .p-panelmenu-header:not(.p-state-active):hover a {
  color: #212121;
}
.p-panelmenu .p-panelmenu-header.p-state-active a {
  color: #212121;
}
.p-panelmenu .p-panelmenu-content .p-menuitem-link {
  color: #222222;
}
.p-panelmenu .p-panelmenu-content .p-menuitem-link:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
  border-color: transparent;
}
.p-panelmenu .p-panelmenu-content .p-menuitem-link:hover a {
  color: #212121;
}

.p-datepicker .p-datepicker-header a {
  color: #1b1d1f;
}
.p-datepicker .p-datepicker-header a:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-datepicker .p-datepicker-header a:hover a {
  color: #212121;
}
.p-datepicker .p-datepicker-calendar td:not(.p-state-disabled) a:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-datepicker .p-datepicker-calendar td:not(.p-state-disabled) a:hover a {
  color: #212121;
}
.p-monthpicker-month {
  padding: 0.5em;
}
.p-datepicker .p-monthpicker .p-monthpicker-month:hover {
  border-color: #c0c0c0;
  background-color: #eeeeee;
  color: #212121;
}
.p-datepicker .p-monthpicker .p-monthpicker-month:hover a {
  color: #212121;
}

.fc .fc-toolbar .fc-prev-button .p-icon-circle-triangle-w {
  margin-top: 0.3em;
  background: none !important;
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
}
.fc .fc-toolbar .fc-prev-button .p-icon-circle-triangle-w:before {
  content: '';
}
.fc .fc-toolbar .fc-next-button .p-icon-circle-triangle-e {
  margin-top: 0.3em;
  background: none !important;
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
}
.fc .fc-toolbar .fc-next-button .p-icon-circle-triangle-e:before {
  content: '';
}

.p-rating a {
  color: #222222;
}

.p-organizationchart .p-organizationchart-line-down {
  background-color: #bcbcbc;
}
.p-organizationchart .p-organizationchart-line-left {
  border-right: 1px solid #bcbcbc;
}
.p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid #bcbcbc;
}
.p-organizationchart .p-organizationchart-node-content {
  border-color: #bcbcbc;
}
.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  color: #bcbcbc;
}

/* TurboTable */
.p-table .p-table-thead > tr > th,
.p-table .p-table-tfoot > tr > td {
  background-color: #f6f7f9;
  border: 1px solid #d9d9d9;
  color: #1b1d1f;
}
.p-table .p-table-tbody > tr {
  background-color: #ffffff;
  color: #222222;
}
.p-table .p-table-tbody > tr > td {
  border: 1px solid #d5d5d5;
  background-color: inherit;
}
.p-table .p-table-tbody > tr.p-state-highlight {
  background-color: #186ba0;
  color: #ffffff;
}
.p-table .p-table-tbody > tr.p-contextmenu-selected {
  background-color: #3ca1e2;
  color: #ffffff;
}
.p-table .p-sortable-column .p-sortable-column-icon {
  color: #1b1d1f;
}
.p-table .p-sortable-column.p-state-highlight {
  background-color: #186ba0;
  color: #ffffff;
}
.p-table .p-sortable-column.p-state-highlight .p-sortable-column-icon {
  color: #ffffff;
}
.p-table .p-sortable-column:not(.p-state-highlight):hover {
  background-color: #eeeeee;
  color: #212121;
}
.p-table .p-sortable-column:not(.p-state-highlight):hover .p-sortable-column-icon {
  color: #212121;
}
.p-table.p-table-hoverable-rows .p-table-tbody > tr:not(.p-state-highlight):not(.p-contextmenu-selected):hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #212121;
}

@media (max-width: 35em) {
  .p-table-responsive .p-table-tbody > tr {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
  }
}
/* Row Reorder */
.p-table .p-table-tbody > tr.p-table-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 #186ba0;
}

.p-table .p-table-tbody > tr.p-table-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 #186ba0;
}

/* TurboTable */
.p-treetable .p-treetable-thead > tr > th,
.p-treetable .p-treetable-tfoot > tr > td {
  background-color: #f6f7f9;
  border: 1px solid #d9d9d9;
  color: #1b1d1f;
}
.p-treetable .p-treetable-tbody > tr {
  background-color: #ffffff;
  color: #222222;
}
.p-treetable .p-treetable-tbody > tr > td {
  border: 1px solid #d5d5d5;
  background-color: inherit;
}
.p-treetable .p-treetable-tbody > tr.p-state-highlight {
  background-color: #186ba0;
  color: #ffffff;
}
.p-treetable .p-treetable-tbody > tr.p-state-highlight .p-treetable-toggler {
  color: #ffffff;
}
.p-treetable .p-treetable-tbody > tr.p-contextmenu-selected {
  background-color: #3ca1e2;
  color: #ffffff;
}
.p-treetable .p-treetable-tbody > tr.p-contextmenu-selected .p-treetable-toggler {
  color: #ffffff;
}
.p-treetable .p-treetable-tbody > tr .p-treetable-toggler {
  color: #222222;
}
.p-treetable .p-sortable-column .p-sortable-column-icon {
  color: #1b1d1f;
}
.p-treetable .p-sortable-column.p-state-highlight {
  background-color: #186ba0;
  color: #ffffff;
}
.p-treetable .p-sortable-column.p-state-highlight .p-sortable-column-icon {
  color: #ffffff;
}
.p-treetable .p-sortable-column:not(.p-state-highlight):hover {
  background-color: #eeeeee;
  color: #212121;
}
.p-treetable .p-sortable-column:not(.p-state-highlight):hover .p-sortable-column-icon {
  color: #212121;
}
.p-treetable.p-treetable-hoverable-rows
  .p-treetable-tbody
  > tr:not(.p-state-highlight):not(.p-contextmenu-selected):hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #212121;
}

@media (max-width: 35em) {
  .p-treetable-responsive .p-treetable-tbody > tr {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
  }
}
/* Row Reorder */
.p-treetable .p-treetable-tbody > tr.p-treetable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 #186ba0;
}

.p-treetable .p-treetable-tbody > tr.p-treetable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 #186ba0;
}

/* InputSwitch */
.p-inputswitch .p-inputswitch-slider {
  -webkit-transition: background-color 0.3s, box-shadow 0.2s;
  transition: background-color 0.3s, box-shadow 0.2s;
  background: #cccccc;
}
.p-inputswitch .p-inputswitch-slider:before {
  background-color: #ffffff;
}
.p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  -moz-box-shadow: 0px 0px 5px #c0c0c0;
  -webkit-box-shadow: 0px 0px 5px #c0c0c0;
  box-shadow: 0px 0px 5px #c0c0c0;
}
.p-inputswitch:not(.p-state-disabled):hover .p-inputswitch-slider {
  background-color: #b7b7b7;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #186ba0;
}
.p-inputswitch.p-inputswitch-checked:not(.p-state-disabled):hover .p-inputswitch-slider {
  background-color: #114d74;
}

/* Validation */
.p-inputtext.ng-dirty.ng-invalid,
p-dropdown.ng-dirty.ng-invalid > .p-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .p-autocomplete > .p-inputtext,
p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext,
p-chips.ng-dirty.ng-invalid > .p-inputtext,
p-inputmask.ng-dirty.ng-invalid > .p-inputtext,
p-checkbox.ng-dirty.ng-invalid .p-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .p-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .p-inputswitch,
p-listbox.ng-dirty.ng-invalid .p-inputtext,
p-multiselect.ng-dirty.ng-invalid > .p-multiselect,
p-spinner.ng-dirty.ng-invalid > .p-inputtext,
p-selectbutton.ng-dirty.ng-invalid .p-button,
p-togglebutton.ng-dirty.ng-invalid .p-button {
  border-bottom-color: #f44336;
}

/* Cornering */
.p-corner-tl {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

.p-corner-tr {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.p-corner-bl {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.p-corner-br {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-corner-top {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.p-corner-bottom {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-corner-right {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-corner-left {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.p-corner-all {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.p-component-header {
  background: #f6f7f9 0 0 repeat-x;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  /* W3C */
}

.p-accordion .p-accordion-header {
  background: #f6f7f9;
  border-top: 1px solid #d9d9d9;
}
.p-accordion .p-accordion-header a {
  color: #1b1d1f;
}
.p-accordion .p-accordion-header:not(.p-state-active):not(.p-state-disabled):hover {
  background: #ededf0;
}
.p-accordion .p-accordion-header.p-state-active {
  background: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.p-accordion .p-accordion-content {
  border: 0 none;
}

/* Tabview */
.p-tabview.p-component-content {
  border: 0 none;
}
.p-tabview .p-tabview-nav {
  background: transparent;
}
.p-tabview .p-tabview-nav > li.p-state-default {
  background: #f6f7f9;
}
.p-tabview .p-tabview-nav > li.p-state-active {
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}
.p-tabview .p-tabview-nav > li:not(.p-state-active):not(.p-state-disabled):hover {
  background: #ededf0;
}

/* Spinner */
.p-spinner:not(.p-state-disabled) .p-spinner-button:enabled:hover {
  border: 1px solid #1f89ce;
  background: #1f89ce;
  outline: 0 none;
  color: #ffffff;
}

.p-spinner:not(.p-state-disabled) .p-spinner-button:enabled:active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #ffffff;
}

.p-slider {
  position: relative;
  text-align: left;
  background: #838688;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
}

.p-slider .p-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px !important;
  height: 21px !important;
  cursor: default;
  background: url('images/slider_handles.png') 0 0 no-repeat;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}

.p-slider .p-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background: #14a4ff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.p-slider .p-slider-handle.p-state-active {
  background-position: -17px 0;
}

.p-slider-horizontal {
  height: 6px;
}

.p-slider-horizontal .p-slider-handle {
  top: -2px !important;
  margin-left: -0.6em;
}

.p-slider-horizontal .p-slider-range {
  top: 0;
  height: 100%;
}

.p-slider-horizontal .p-slider-range-min {
  left: 0;
}

.p-slider-horizontal .p-slider-range-max {
  right: 0;
}

.p-slider-vertical {
  width: 0.8em;
  height: 100px;
}

.p-slider-vertical .p-slider-handle {
  left: -0.1em !important;
  margin-left: 0;
  margin-bottom: -0.6em;
}

.p-slider-vertical .p-slider-range {
  left: 0;
  width: 100%;
}

.p-slider-vertical .p-slider-range-min {
  bottom: 0;
}

.p-slider-vertical .p-slider-range-max {
  top: 0;
}

.p-progressbar.p-progressbar-determinate .p-progressbar-value {
  border: 0 none;
  background: #8ec5fc;
}
.p-progressbar.p-progressbar-determinate .p-progressbar .p-progressbar-label {
  color: #222222;
}
.p-progressbar.p-progressbar-indeterminate {
  background: #8ec5fc;
}
.p-progressbar.p-progressbar-indeterminate .p-progressbar-value {
  border: 0 none;
  background-color: #186ba0;
}

.p-component-header .p-button,
.p-component-content .p-button,
.p-component.p-button,
.p-button {
  border: 1px solid #2399e5;
  color: #ffffff;
  background: #2399e5;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.p-component-header .p-button:enabled:hover,
.p-component-header .p-button:focus,
.p-component-content .p-button:enabled:hover,
.p-component-content .p-button:focus,
.p-component.p-button:enabled:hover,
.p-component.p-button:focus,
.p-button:enabled:hover,
.p-button:focus {
  border: 1px solid #1f89ce;
  background: #1f89ce;
  outline: 0 none;
  color: #ffffff;
}
.p-component-header .p-button:enabled:active,
.p-component-content .p-button:enabled:active,
.p-component.p-button:enabled:active,
.p-button:enabled:active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #ffffff;
}

.p-fileupload-choose:not(.p-state-disabled):hover,
.p-fileupload-choose.p-state-focus {
  border: 1px solid #1f89ce;
  background: #1f89ce;
  outline: 0 none;
  color: #ffffff;
}

.p-fileupload-choose:not(.p-state-disabled):active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #ffffff;
}

/* Checkbox and Radio */
.p-chkbox-box.p-state-active,
.p-radiobutton-box.p-state-active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #ffffff;
}

.p-chkbox-box.p-state-focus,
.p-radiobutton-box.p-state-focus {
  -moz-box-shadow: 0px 0px 5px #1f89ce;
  -webkit-box-shadow: 0px 0px 5px #1f89ce;
  box-shadow: 0px 0px 5px #1f89ce;
}

.p-chkbox-box.p-state-focus.p-state-active {
  background: #186ba0;
}

.p-radiobutton .p-radiobutton-box {
  border: 1px solid #747580;
  background: #fff;
  width: 1.125em;
  height: 1.125em;
  line-height: 1.125em;
  border-radius: 100%;
  text-align: center;
  position: relative;
}

.p-radiobutton {
  margin-right: 0.25em;
}

span.p-radiobutton-icon {
  font-family: 'primeicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.active span.p-radiobutton-icon:before {
  content: '\e911';
}

.radio-button.active .p-radiobutton .p-radiobutton-box {
  border: 1px solid #1e32fa;
  background: #fff;
  color: #1e32fa;
}

/* Inputs */
.p-inputtext {
  background: #ffffff;
  color: #222222;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.p-inputtext.p-state-focus,
.p-inputtext:focus {
  -moz-box-shadow: 0px 0px 5px #1f89ce;
  -webkit-box-shadow: 0px 0px 5px #1f89ce;
  box-shadow: 0px 0px 5px #1f89ce;
}

/* InputSwitch */
/* InputSwitch */
.p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  -moz-box-shadow: 0px 0px 5px #1f89ce;
  -webkit-box-shadow: 0px 0px 5px #1f89ce;
  box-shadow: 0px 0px 5px #1f89ce;
}

.p-paginator .p-paginator-page.p-state-active {
  background: #186ba0;
  color: #ffffff;
  border-color: #156090;
}

/* DataTable  */
.p-datatable th.p-state-default {
  background: #ebedf0;
  border-color: #d9d9d9;
}
.p-datatable th.p-sortable-column:not(.p-state-active):hover {
  background: #d3d5d8;
  border-color: #d9d9d9;
}
.p-datatable th.p-state-active {
  background: #186ba0;
  color: #ffffff;
}
.p-datatable tbody > tr.p-component-content {
  border-color: #d9d9d9;
}
.p-datatable tbody > tr.p-component-content.p-datatable-odd {
  background-color: #fafafb;
}
.p-datatable tbody > tr.p-component-content.p-state-highlight {
  background-color: #186ba0;
  color: #ffffff;
}
.p-datatable tfoot td.p-state-default {
  background: #ebedf0;
  border-color: #d9d9d9;
}

/* TurboTable */
.p-table .p-table-thead > tr > th,
.p-table .p-table-tfoot > tr > td {
  background-color: #ebedf0;
  border-color: #d9d9d9;
}
.p-table .p-sortable-column:not(.p-state-highlight):hover {
  background-color: #d3d5d8;
  border-color: #d9d9d9;
}
.p-table .p-table-tbody > tr:nth-child(even) {
  background-color: #fafafb;
}
.p-table .p-table-tbody > tr:nth-child(even).p-state-highlight {
  background-color: #186ba0;
  color: #ffffff;
}
.p-table .p-table-tbody > tr:nth-child(even).p-contextmenu-selected {
  background-color: #3ca1e2;
  color: #ffffff;
}

/* TurboTable */
.p-treetable .p-treetable-thead > tr > th,
.p-treetable .p-treetable-tfoot > tr > td {
  background-color: #ebedf0;
  border-color: #d9d9d9;
}
.p-treetable .p-sortable-column:not(.p-state-highlight):hover {
  background-color: #d3d5d8;
  border-color: #d9d9d9;
}

/* Panel */
.p-panel.p-component {
  padding: 0;
}
.p-panel.p-component .p-panel-titlebar.p-corner-all {
  -moz-border-radius-bottom-left: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottom-right: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.p-panel.p-component .p-panel-titlebar {
  border-width: 0 0 1px 0;
}
.p-panel.p-component .p-panel-titlebar-icon span {
  position: relative;
  top: 1px;
}

/* TreeTable */
.p-treetable th.p-state-default {
  background: #ebedf0;
  border-color: #d9d9d9;
}

/* ButtonSet */
.p-togglebutton.p-button.p-state-default,
.p-selectbutton .p-button.p-state-default {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}

.p-togglebutton.p-button.p-state-hover,
.p-togglebutton.p-button.p-state-focus,
.p-selectbutton .p-button.p-state-hover,
.p-selectbutton .p-button.p-state-focus,
.p-selectbutton .p-button:focus {
  border: 1px solid #c0c0c0;
  background: #eeeeee;
  font-weight: normal;
  color: #212121;
}

.p-togglebutton.p-button.p-state-focus,
.p-selectbutton .p-button.p-state-focus.p-state-active,
.p-selectbutton .p-button.p-state-active:focus {
  -moz-box-shadow: 0px 0px 5px #1f89ce;
  -webkit-box-shadow: 0px 0px 5px #1f89ce;
  box-shadow: 0px 0px 5px #1f89ce;
}

.p-togglebutton.p-button.p-state-active,
.p-selectbutton .p-button.p-state-active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #ffffff;
}

.p-multiselect .p-multiselect-label {
  background-color: #ffffff;
}

.p-dropdown.p-state-focus,
.p-multiselect.p-state-focus {
  -moz-box-shadow: 0px 0px 5px #1f89ce;
  -webkit-box-shadow: 0px 0px 5px #1f89ce;
  box-shadow: 0px 0px 5px #1f89ce;
}

/* Growl */
.p-growl-item-container.p-state-highlight.p-growl-message-info {
  background-color: #2196f3;
  border-color: #2196f3;
}
.p-growl-item-container.p-state-highlight.p-growl-message-error {
  background-color: #f44336;
  border-color: #f44336;
}
.p-growl-item-container.p-state-highlight.p-growl-message-warn {
  background-color: #ffb300;
  border-color: #ffb300;
}
.p-growl-item-container.p-state-highlight.p-growl-message-success {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* TabMenu */
.p-tabmenu {
  border: 0 none;
}
.p-tabmenu .p-tabmenu-nav {
  background: none;
}
.p-tabmenu .p-tabmenu-nav > li.p-state-default {
  background: #f6f7f9;
}
.p-tabmenu .p-tabmenu-nav > li.p-state-active {
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}
.p-tabmenu .p-tabmenu-nav > li:not(.p-state-active):not(.p-state-disabled):hover {
  background: #ededf0;
}

/* Menus */
.p-menu,
.p-menubar,
.p-menubar .p-submenu-list,
.p-tieredmenu,
.p-tieredmenu .p-submenu-list,
.p-slidemenu,
.p-slidemenu .p-submenu-list,
.p-contextmenu,
.p-contextmenu .p-submenu-list,
.p-megamenu {
  color: #1b1d1f;
  background: #f6f7f9 0 0 repeat-x;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  /* W3C */
}

.p-menu .p-menuitem > .p-menuitem-link:hover,
.p-menubar .p-menuitem > .p-menuitem-link:hover,
.p-tieredmenu .p-menuitem > .p-menuitem-link:hover,
.p-slidemenu .p-menuitem > .p-menuitem-link:hover,
.p-contextmenu .p-menuitem > .p-menuitem-link:hover,
.p-megamenu .p-menuitem > .p-menuitem-link:hover {
  background-color: #a6a6a6;
  color: #ffffff;
}

.p-menu .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-slidemenu .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-megamenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background-color: #a6a6a6;
  color: #ffffff;
}

/* PanelMenu */
.p-panelmenu .p-panelmenu-header.p-state-active,
.p-panelmenu .p-panelmenu-header.p-state-active a {
  border-color: #156090;
  background: #186ba0;
  color: #ffffff;
}

/* DatePicker */
.p-datepicker.p-component {
  padding: 0;
}
.p-datepicker.p-component .p-datepicker-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}
.p-datepicker.p-component .p-datepicker-header a:hover {
  border-width: 1px;
}
.p-datepicker.p-component .p-datepicker-calendar {
  margin: 0;
}
.p-datepicker.p-component .p-datepicker-calendar thead th {
  background-color: #f6f8fa;
}
.p-datepicker.p-component .p-datepicker-calendar td {
  border-bottom: 1px solid rgba(213, 213, 213, 0.5);
}
.p-datepicker.p-component .p-datepicker-calendar td a.p-state-highlight {
  background-color: #d6d6d6;
  color: #212121;
}
.p-datepicker.p-component .p-datepicker-calendar td a.p-state-active {
  background-color: #186ba0;
  color: #ffffff;
}
.p-datepicker.p-component .p-datepicker-calendar tr:last-child td {
  border-bottom: 0 none;
}
.p-datepicker.p-component .p-monthpicker a.p-state-active {
  background-color: #186ba0;
  color: #ffffff;
}
.p-datepicker.p-component .p-timepicker {
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.p-datepicker.p-component.p-datepicker-timeonly .p-timepicker {
  border-top: 0 none;
}

/* Steps */
.p-steps .p-steps-item.p-state-highlight .p-menuitem-link {
  color: #ffffff;
}

/* Dialog */
.p-dialog.p-component .p-dialog-titlebar {
  padding: 1em 1.5em;
}

.p-dialog.p-component .p-dialog-titlebar .p-dialog-title {
  font-size: 1.25em;
}

.p-dialog.p-component .p-dialog-content {
  padding: 1em 1.5em;
}

/* Schedule */
.fc .fc-button-group .p-state-active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #ffffff;
}
