<bspl-list-view
  [title]="'REFUNDS.files.massload.title'"
  [isInTab]="true"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [noticeMessage]="noticeMessage"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
>
  <div class="list-view-title" bsplListViewTitle>
    <div class="list-select">
      <!-- List total items message -->
      <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage }}</span>
    </div>

    <!-- Totals list view title button -->
    <bspl-button
      [label]="'REFUNDS.files.massload.totalsButtonLabel' | translate"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>

  <!-- Upload Massload File list view button -->
  <bspl-button
    *ngIf="hasCreatePermission"
    bsplListViewButton
    icon="mi md-18 upload"
    [label]="'REFUNDS.files.massload.uploadMassFile.uploadMassFileButtonLabel'"
    [design]="buttonDesign.Secondary"
    (click)="onUploadMassFileClick()"
  ></bspl-button>

  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="originalFileName"
        [label]="'REFUNDS.files.massload.filters.originalFileName.label' | translate"
        [placeholder]="'REFUNDS.files.massload.filters.originalFileName.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="filename"
        [label]="'REFUNDS.files.massload.filters.filename.label' | translate"
        [placeholder]="'REFUNDS.files.massload.filters.filename.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-datepicker
        formControlName="uploadDate"
        [selectionMode]="'range'"
        [label]="'REFUNDS.files.massload.filters.uploadDate.label' | translate"
        [placeholder]="'REFUNDS.files.massload.filters.uploadDate.placeholder' | translate"
      ></bspl-datepicker>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="userName"
        [label]="'REFUNDS.files.massload.filters.userName.label' | translate"
        [placeholder]="'REFUNDS.files.massload.filters.userName.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="email"
        [label]="'REFUNDS.files.massload.filters.email.label' | translate"
        [placeholder]="'REFUNDS.files.massload.filters.email.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-select
        formControlName="status"
        [multiple]="true"
        [options]="statusDropdownOptions"
        [label]="'REFUNDS.files.massload.filters.status.label' | translate"
        [placeholder]="'REFUNDS.files.massload.filters.status.placeholder' | translate"
      ></bspl-select>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    [rowDetailTemplate]="rowDetailTemplate"
    (actionsMenuClick)="onActionMenuClick($event)"
    (actionClick)="onActionClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<bspl-floating-panel
  [fullWidth]="false"
  [closable]="true"
  (opened)="onTotalPanelOpened()"
  (closed)="onTotalPanelClosed()"
>
  <bspl-spinner [isLoading]="isTotalLoading" [relativeTo]="'parent'">
    <bspl-refund-massload-file-totals [totals]="totals"></bspl-refund-massload-file-totals>
  </bspl-spinner>
</bspl-floating-panel>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property label="REFUNDS.files.massload.columns.userName" [value]="row.userName"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property label="REFUNDS.files.massload.columns.email" [value]="row.email"></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
