<p-toast position="center" [baseZIndex]="5000" styleClass="custom-toast">
  <ng-template let-message pTemplate="message">
    <div class="notification-message">
      <div class="primary-message">
        <i class="material-icons"></i>
        <span [innerHtml]="message.detail" class="notification-content"></span>
      </div>
      <div class="secondary-message" *ngIf="message.data && message.data.errorCode">
        Error Code: {{ message.data.errorCode }}
      </div>
      <div class="secondary-message" *ngIf="message.data && message.data.errorId">
        Error ID: {{ message.data.errorId }}
      </div>
    </div>
  </ng-template>
</p-toast>
