@import 'theme/variables/index';

@mixin style-notification-content($content, $color) {
  .p-toast-message-content {
    border-color: $color;
  }

  .material-icons {
    margin-right: $spacing-xs;

    &::after {
      color: $color;
      content: $content;
      line-height: $line-height-m;
    }
  }
}

.p-toast-center {
  top: 27% !important;
  left: 80% !important;
}

.p-toast .p-toast-message {
  @media screen and (max-width: 760px) {
    width: 37.5vw; /* The width is 100%, when the viewport is 800px or smaller */
  }

  @media screen and (max-width: 500px) {
    width: 45.5vw; /* The width is 100%, when the viewport is 800px or smaller */
  }

  width: 28.5vw;
  overflow: unset;
  border-radius: $border-radius-large;
  margin-bottom: 0.75em;
  box-shadow: $shadow-z-3;
}

.p-toast .p-toast-message-content {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 0;
  background-color: $gray-light;
  border-radius: $border-radius-large;
  border: 1px solid $blue-primary;
  overflow: hidden;
}

.p-toast .p-toast-icon-close {
  outline: none;
  color: $gray-middle;
  top: 0;
  right: 0;
  order: 1;
  position: relative;
  padding: 1.2rem 1.3rem;

  &:hover {
    color: $gray-deep-middle;
    text-decoration: none;
  }

  .pi-times::before {
    content: '\e5cd';
    font-family: 'Material Icons';
    vertical-align: middle;
  }
}

.notification-message {
  display: flex;
  background-color: $white;
  flex-direction: column;
  width: 32.5vw;
  padding: $spacing-xs $spacing-s;
  border-radius: $border-radius-large 0 0 $border-radius-large;
}

.notification-content {
  display: inline-block;
  color: $blue-primary;
  font-size: $font-size-m;
  line-height: $line-height-m;

  /* Mozilla and IE11 fix */
  word-break: break-all;

  /* Chrome fix */
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.p-toast {
  .material-icons {
    font-size: 2rem;
    color: $orange;
  }
}

.p-shadow {
  box-shadow: $shadow-z-3;
}

.primary-message {
  display: flex;
  flex-direction: row;

  & + .secondary-message {
    margin-top: $spacing-xs;

    & ~ .secondary-message {
      margin-top: 0;
    }
  }
}

.secondary-message {
  color: $gray-deep;
  line-height: $line-height-m;
}

div.secondary-message {
  margin-left: $spacing-xl;
}

.p-toast-message-error {
  @include style-notification-content('\e88e', $red);
}

.p-toast-message-warn {
  @include style-notification-content('\e002', $orange);
}

.p-toast-message-success {
  @include style-notification-content('\e86c', $green);
}

.p-toast-message-info {
  @include style-notification-content('\e88e', $blue-ocean);
}
