@import 'theme/variables/index';

.options-list-container {
  background-color: $gray-subtle;

  h4 {
    color: $blue-primary;
    font-family: inherit;
    font-size: $font-size-l;
    margin: 0 0 1.2rem 1rem;
  }

  .options-list {
    padding: 0 19rem;
    margin-bottom: 3rem;

    &:first-child {
      padding-top: 4.1rem;
    }

    &:last-child {
      padding-bottom: 5rem;
      margin-bottom: 0;
    }

    .list-item {
      border-top: 1px solid $gray-neutral;

      &:last-child {
        border-bottom: 1px solid $gray-neutral;
      }
    }

    .item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: $spacing-s $spacing-xs;

      .item-label {
        font-size: $font-size-m;
        line-height: 20px;
        color: $gray-dark;
      }
    }
  }
}

$pop-position: 1rem;

.popover-permissions {
  width: 24rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: $gray-dark;

  .status {
    margin-bottom: 2rem;
    padding: 0 1rem;
    display: inline-block;
    border-radius: 1.4rem;
    background-color: $white;
    color: $gray-dark;
    line-height: 2.8rem;
  }

  hr {
    border-color: $gray-middle;
  }

  p {
    margin: 0;
    font-size: 1.4rem;
    color: $white;

    &.gray {
      color: $gray-middle;
    }
  }

  i {
    vertical-align: -$spacing-xxxs;
    display: inline-block;
    position: relative;
    color: $gray-middle;
  }

  &.bs-popover-left {
    margin-right: $pop-position;

    .arrow {
      &::after {
        border-left-color: $gray-dark;
      }
    }
  }

  &.bs-popover-right {
    margin-left: $pop-position;

    .arrow {
      &::after {
        border-right-color: $gray-dark;
      }
    }
  }

  &.bs-popover-top {
    margin-bottom: $pop-position;

    .arrow {
      &::after {
        border-top-color: $gray-dark;
      }
    }
  }

  &.bs-popover-bottom {
    margin-top: $pop-position;

    .arrow {
      &::after {
        border-bottom-color: $gray-dark;
      }
    }
  }
}
