<div class="options-list-container">
  <div class="options-list">
    <h4 *ngIf="title">{{ title }}</h4>
    <div class="list-item" *ngFor="let option of optionsListData">
      <div>
        <label class="item-container">
          <span class="item-label">{{ option.name | translate }}</span>
          <ng-template #popContent>
            <div class="status">
              {{
                (option.enabled
                  ? 'USER_MANAGEMENT.PERMISSIONS.STATUS.ENABLED'
                  : 'USER_MANAGEMENT.PERMISSIONS.STATUS.DISABLED'
                ) | translate
              }}
            </div>
            <p>
              <strong>{{ 'USER_MANAGEMENT.PERMISSIONS.OPTIONS_TXT' | translate }}</strong>
            </p>
            <hr />
            <ng-container *ngFor="let origin of option.origins">
              <p class="gray">{{ origin.hierarchyName }}</p>
              <p><i class="mi md-18 arrow_upward"></i> {{ origin.groupName }}</p>
              <hr />
            </ng-container>
          </ng-template>
          <div
            class="d-inline-block"
            [ngbPopover]="popContent"
            [disablePopover]="!option.origins"
            popoverClass="popover-permissions"
            triggers="mouseenter:mouseleave"
          >
            <bspl-checkbox
              [checked]="option.enabled"
              [disabled]="!option.editable"
              (stateChange)="changeOptionValue($event, option.id)"
            ></bspl-checkbox>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
