@import 'theme/variables/index';

.list-view-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;

  .list-select {
    &::before {
      content: '/';
      font-size: $font-size-xl;
      color: $gray-middle;
    }

    bspl-select {
      display: inline-flex;
    }

    .list-total-items {
      color: $gray-deep;
      font-size: $font-size-l;
      margin-left: $spacing-xxs;
    }
  }

  bspl-table-selection-toolbar {
    margin: 0 $spacing-xl;
  }
}

bspl-button[bsplListViewButton] {
  margin-left: $spacing-s;
  vertical-align: middle;
}

bspl-floating-panel.opened {
  margin-top: $spacing-xl;
}
