<bspl-list-view
  [title]="'ADM_ACM.files.massload.title'"
  [isInTab]="true"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [noticeMessage]="noticeMessage"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
>
  <div class="list-view-title" bsplListViewTitle>
    <div class="list-select">
      <!-- List select -->
      <bspl-select
        [modes]="[selectMode.SubHeading]"
        [options]="listOptions"
        [locked]="listOptions?.length === 1"
        [clearable]="false"
        [value]="selectedListOption"
        (change)="onListOptionSelected($event.value)"
      ></bspl-select>

      <!-- List total items message -->
      <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage }}</span>
    </div>

    <ng-container
      bsplListViewTitle
      *ngIf="!(loading$ | async) && hasCreatePermission && selectedListOption === admAcmMassloadFileListOption.Active"
    >
      <bspl-table-selection-toolbar
        *ngIf="selectedRowsCount$ | async as selectedRowsCount"
        [selectedRowsCount]="selectedRowsCount"
        (clearSelectedRows)="clearSelectedRows()"
      >
        <bspl-button
          [design]="buttonDesign.Tertiary"
          [label]="'ADM_ACM.files.massload.stopProcessingButtonLabel'"
          (click)="onBulkStopProcessing()"
        ></bspl-button>
      </bspl-table-selection-toolbar>
    </ng-container>

    <!-- Totals list view title button -->
    <bspl-button
      *ngIf="selectedListOption === admAcmMassloadFileListOption.Active"
      [label]="'ADM_ACM.files.massload.totalsButtonLabel' | translate"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>

  <!-- Stop processing list view button -->
  <bspl-button
    *ngIf="hasCreatePermission"
    bsplListViewButton
    icon="mi md-18 delete"
    [label]="'ADM_ACM.files.massload.stopProcessingButtonLabel'"
    [design]="buttonDesign.Secondary"
    (onClick)="onStopProcessing()"
  ></bspl-button>

  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="filename"
        [label]="'ADM_ACM.files.massload.filters.filename.label' | translate"
        [placeholder]="'ADM_ACM.files.massload.filters.filename.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3" *ngIf="selectedListOption === admAcmMassloadFileListOption.Active">
      <bspl-datepicker
        formControlName="uploadDate"
        [selectionMode]="'range'"
        [label]="'ADM_ACM.files.massload.filters.uploadDate.label' | translate"
        [placeholder]="'ADM_ACM.files.massload.filters.uploadDate.placeholder' | translate"
      ></bspl-datepicker>
    </div>
    <div class="form-group col-md-3" *ngIf="selectedListOption === admAcmMassloadFileListOption.NotProcessed">
      <bspl-datepicker
        formControlName="requestDate"
        [selectionMode]="'range'"
        [label]="'ADM_ACM.files.massload.filters.cancellationDate.label' | translate"
        [placeholder]="'ADM_ACM.files.massload.filters.cancellationDate.placeholder' | translate"
      ></bspl-datepicker>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="userName"
        [label]="'ADM_ACM.files.massload.filters.userName.label' | translate"
        [placeholder]="'ADM_ACM.files.massload.filters.userName.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-input
        formControlName="email"
        [label]="'ADM_ACM.files.massload.filters.email.label' | translate"
        [placeholder]="'ADM_ACM.files.massload.filters.email.placeholder' | translate"
      >
      </bspl-input>
    </div>
    <div class="form-group col-md-3">
      <bspl-select
        formControlName="status"
        [multiple]="true"
        [options]="statusDropdownOptions"
        [label]="'ADM_ACM.files.massload.filters.status.label' | translate"
        [placeholder]="'ADM_ACM.files.massload.filters.status.placeholder' | translate"
      ></bspl-select>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    [rowClassesModifier]="rowClassesModifier"
    (actionsMenuClick)="onActionMenuClick($event)"
    (actionClick)="onActionClick($event)"
    (checkboxChange)="onRowsSelectionChange($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<bspl-floating-panel
  [fullWidth]="false"
  [closable]="true"
  (opened)="onTotalPanelOpened()"
  (closed)="onTotalPanelClosed()"
>
  <bspl-spinner [isLoading]="isTotalLoading" [relativeTo]="'parent'">
    <bspl-adm-acm-massload-file-totals [totals]="totals"></bspl-adm-acm-massload-file-totals>
  </bspl-spinner>
</bspl-floating-panel>
