<div class="container">
  <div class="row">
    <div class="col-md-4">
      <strong>Enabled</strong>
      <bspl-datepicker [placeholder]="'Hint text'" [label]="'Label'"></bspl-datepicker>
      <bspl-datepicker [placeholder]="'Hint text'"></bspl-datepicker>
    </div>
    <div class="col-md-4">
      <strong>Filled</strong>
      <bspl-datepicker [label]="'Label'" [value]="datetimeValue"></bspl-datepicker>
      <bspl-datepicker [value]="datetimeValue"></bspl-datepicker>
    </div>

    <div class="col-md-4">
      <strong>Error</strong>
      <bspl-datepicker [label]="'Label'" [formControl]="requiredDatetimeControl" [placeholder]="'Hint text'">
      </bspl-datepicker>
      <bspl-datepicker [formControl]="requiredDatetimeControlWithValue" [placeholder]="'Hint text'"> </bspl-datepicker>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Readonly</strong>
      <bspl-datepicker [label]="'Label'" [isReadOnly]="true" [value]="datetimeValue"></bspl-datepicker>
      <bspl-datepicker [isReadOnly]="true" [placeholder]="'Hint text'"></bspl-datepicker>
    </div>

    <div class="col-md-4">
      <strong>Locked</strong>
      <bspl-datepicker [label]="'Label'" [locked]="true" [value]="datetimeValue"></bspl-datepicker>
      <bspl-datepicker [locked]="true" [placeholder]="'Hint text'"></bspl-datepicker>
    </div>

    <div class="col-md-4">
      <strong>Range</strong>
      <bspl-datepicker [label]="'Ranged picker'" [selectionMode]="'range'"></bspl-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Time</strong>
      <bspl-datepicker [label]="'Label'" [showTime]="true" [value]="datetimeValue"></bspl-datepicker>
      <bspl-datepicker [showTime]="true" [placeholder]="'Hint text'"></bspl-datepicker>
    </div>
    <div class="col-md-4">
      <strong>Range with time</strong>
      <bspl-datepicker [label]="'Label'" [showTime]="true" [selectionMode]="'range'"></bspl-datepicker>
    </div>
    <div class="col-md-4">
      <strong>With min/max</strong>
      <bspl-datepicker [label]="'Label'" [minDate]="range.min" [maxDate]="range.max"></bspl-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Current date based on BSP</strong>
      <bspl-datepicker [showTime]="true" [value]="bspCurrentDate"></bspl-datepicker>
      <div><strong>Local date</strong> - {{ localDate | date : 'medium' }}</div>
      <div><strong>BSP date</strong> - {{ bspCurrentDate | date : 'medium' }}</div>
    </div>
    <div class="col-md-4">
      <strong>Predefined date based on BSP</strong>
      <bspl-datepicker [showTime]="true" [value]="bspPredefinedDate"></bspl-datepicker>
      <div><strong>Local date</strong> - {{ localPredefinedDate | date : 'medium' }}</div>
      <div><strong>BSP date</strong> - {{ bspPredefinedDate | date : 'medium' }}</div>
    </div>
  </div>
</div>
