@import 'theme/variables/index';

.list-total-items {
  color: $gray-deep;
  font-size: $font-size-l;
  margin-left: $spacing-xxs;
}

bspl-button[bsplListViewButton] {
  margin-left: $spacing-s;
  vertical-align: middle;
}
