<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [filterFormatter]="filterFormatter"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (download)="onDownload()"
  (queryChange)="loadData($event)"
>
  <span class="list-total-items" bsplListViewTitle>{{
    'MENU.files.totalItemMessage' | translate : locale.language : { total: totalItems$ | async }
  }}</span>

  <!-- Create Rule -->
  <bspl-button
    *ngIf="hasCreatePermission"
    bsplListViewButton
    icon="mi md-18 add"
    [label]="'ADM_ACM.categorizationRules.createRuleButtonLabel'"
    [design]="buttonDesign.Secondary"
    (onClick)="onCreateRule()"
  ></bspl-button>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        formControlName="bsps"
        [multiple]="true"
        [anyOption]="allBspFilteringOption"
        [options]="bspOptions$ | async"
        [label]="'ADM_ACM.categorizationRules.filters.bsp.label' | translate"
        [placeholder]="'ADM_ACM.categorizationRules.filters.bsp.placeholder' | translate"
      ></bspl-select>
      <span>{{ 'ADM_ACM.categorizationRules.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="name"
          [label]="'ADM_ACM.categorizationRules.filters.name.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.name.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="airlineCode"
          [options]="airlineOptions"
          [label]="'ADM_ACM.categorizationRules.filters.airline.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.airline.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="concernsIndicator"
          [multiple]="true"
          [options]="transactionOptions"
          [label]="'ADM_ACM.categorizationRules.filters.transaction.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.transaction.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="reasonForMemoField"
          [options]="reasonForMemoFieldOptions"
          [label]="'ADM_ACM.categorizationRules.filters.reason.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.reason.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="position"
          [options]="positionOptions"
          [label]="'ADM_ACM.categorizationRules.filters.position.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.position.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="pattern"
          [label]="'ADM_ACM.categorizationRules.filters.pattern.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.pattern.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          #primaryReason
          formControlName="primaryReason"
          [options]="primaryReasonOptions$ | async"
          [label]="'ADM_ACM.categorizationRules.filters.primaryReason.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.primaryReason.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="subReason"
          [multiple]="true"
          [options]="subReasonOptions$ | async"
          [label]="'ADM_ACM.categorizationRules.filters.subReason.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.subReason.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="status"
          [options]="statusOptions"
          [label]="'ADM_ACM.categorizationRules.filters.status.label' | translate"
          [placeholder]="'ADM_ACM.categorizationRules.filters.status.placeholder' | translate"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="tableActions"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onActionMenuClick($event)"
    (actionClick)="onActionClick($event)"
    (rowLinkClick)="onRowLinkClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
