@import 'theme/variables/index';

.dialog-container {
  padding-bottom: $spacing-xxl;

  .text-content {
    color: $gray-deep;
    font-size: 1.4rem;
  }

  & bspl-radio-button-group {
    display: block;
    margin-top: $spacing-s;
    margin-bottom: $spacing-s;

    ::ng-deep bspl-radio-button {
      p-radiobutton {
        padding: 0.5rem 1rem 0.5rem 2rem;
      }
    }
  }
}
