<div class="dialog-container" [formGroup]="form">
  <div class="text-content">
    <span>{{ config.data.description | translate }}</span>
  </div>
  <bspl-radio-button-group
    [groupName]="'radioButtons'"
    [options]="radioButtonOptions"
    [formControlName]="'requestType'"
  ></bspl-radio-button-group>
  <bspl-checkbox
    *ngIf="!isUserTypeAirline && !isNonTaRequest"
    [formControl]="delActionCheckboxControl"
    [label]="'MENU.files.globalTa.dialog.delActionCheckbox' | translate"
  ></bspl-checkbox>
</div>
