@import 'theme/variables/index';

::ng-deep {
  width: 100%;

  form {
    margin-bottom: calc(#{$spacing-xxxxl} * 2);

    .form-row-separator {
      margin-top: -$spacing-xxs;
      margin-bottom: $spacing-s;
    }
  }
}
