<header>
  <p>{{ subTitle | translate }}</p>
</header>
<hr class="form-row-separator" />
<form [formGroup]="formGroup">
  <bspl-input
    formControlName="gdsCode"
    [label]="'MENU.MASTER_DATA.BSP_GDS_ASSIGNATION.CREATE.form.gdsCode' | translate"
  ></bspl-input>
  <bspl-input
    formControlName="name"
    [label]="'MENU.MASTER_DATA.BSP_GDS_ASSIGNATION.CREATE.form.gdsName' | translate"
  ></bspl-input>
  <ng-container *ngIf="!isDelete">
    <bspl-select
      [options]="refundsEnabledOptions"
      [clearable]="false"
      formControlName="refundEnabled"
      [label]="'MENU.MASTER_DATA.BSP_GDS_ASSIGNATION.CREATE.form.refundsEnabled' | translate"
    >
    </bspl-select>
  </ng-container>
</form>
