<div class="dialog-container" [formGroup]="form">
  <div class="text-content">
    <span>{{ 'MENU.files.deletedFiles.dialog.message' | translate }}</span>
  </div>
  <ul class="list">
    <li *ngFor="let line of form.controls; let i = index">
      <div class="row" [formGroup]="line">
        <div class="col-11 item">
          <bspl-input
            formControlName="name"
            [placeholder]="'MENU.files.deletedFiles.dialog.inputPlaceHolder' | translate"
            [label]="'MENU.files.deletedFiles.dialog.inputLabel' | translate"
            [locked]="isDeleting"
            [autofocus]="true"
          ></bspl-input>
        </div>
        <div class="col-1 align-self-top actions">
          <i class="material-icons icon-delete" title="{{ 'common.delete' | translate }}" (click)="removeTaxRows(i)">
            delete
          </i>
        </div>
      </div>
    </li>
    <li class="row add-file-btn">
      <bspl-button
        [design]="btnDesign.Tertiary"
        [label]="'MENU.files.deletedFiles.dialog.buttonFilename' | translate"
        (onClick)="addFileToDeleteLine()"
        [isDisabled]="form.invalid"
      ></bspl-button>
    </li>
  </ul>
</div>
