@import 'theme/variables/index';

.dialog-container {
  padding-bottom: $spacing-xxl;

  .text-content {
    color: $gray-deep;
    font-size: 1.4rem;
  }

  .list {
    list-style-type: none;
    padding: $spacing-xs $spacing-m;

    .item {
      padding: 0;
    }

    li.add-file-btn {
      display: flex;
      justify-content: flex-end;
      padding: $spacing-xxs 0;
    }

    div.actions {
      text-align: center;
      padding: $spacing-xxl 0 0 $spacing-s;

      i {
        font-size: 1.7rem;
        color: $gray-middle;
      }

      .icon-delete {
        cursor: default;
        color: $gray-middle;
      }

      .icon-delete:hover:not(.icon-disabled) {
        cursor: pointer;
        color: $red;
      }
    }
  }

  &-expanded {
    padding-bottom: $spacing-s;
  }
}
