<bspl-spinner [isLoading]="isLoading$ | async" relativeTo="parent">
  <div class="dialog-container">
    <bspl-activity-panel
      [activities]="activities$ | async"
      [isCommentingVisible]="false"
      (downloadFile)="onDownloadFile($event)"
    >
    </bspl-activity-panel>
  </div>
</bspl-spinner>
