@import 'theme/variables/index';

$border-gray: 1px solid $gray-neutral;

:host {
  display: block;
}

.related-documents-group {
  border-bottom: $border-gray;
  padding-bottom: $spacing-xl;
  margin-bottom: $spacing-xl;

  h4 {
    margin-bottom: $spacing-s;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .no-data {
    color: $gray-dark;
    margin: 0;
  }
}
