<div *ngFor="let category of documentsByCategory" class="related-documents-group pdf-page-break-inside-avoid">
  <h4 *ngIf="!category.titleTemplate; else category.titleTemplate">
    {{ category.title | translate }}
  </h4>
  <bspl-simple-table
    [columns]="category.columns"
    [data]="category.items"
    *ngIf="category.items && category.items.length"
  >
  </bspl-simple-table>
  <p *ngIf="!(category.items && category.items.length)" class="no-data">{{ category.noDataMessage | translate }}</p>
</div>

<ng-template #documentNumberTemplate let-column="column" let-dataItem="dataItem" let-table="table">
  <a class="link" (click)="openDocument(dataItem)">{{ table.getFormattedValue(dataItem, column) }}</a>
</ng-template>

<ng-template #bspLinkDocumentsTitleTemplate>
  <h4>BSP<em>link</em> ACM/ADM/RFND</h4>
</ng-template>

<ng-template #statusTemplate let-dataItem="dataItem" let-status="value">
  <span>{{ generateNfeStatusTranslationKey(dataItem, status) | translate }}</span>
</ng-template>

<ng-template #currencyTemplate let-currency="value">
  {{ currency?.code || currency | bsplEmpty }}
</ng-template>

<ng-template #amountTemplate let-dataItem="dataItem" let-row="row" let-amount="value">
  {{ amount | amountFormat : dataItem?.currency?.decimals }}
</ng-template>
