@import 'theme/variables/index';
@import 'components/inline-list/inline-list';
@import 'components/form-page/form-page';
@import 'components/form-page/form-page-view';

.wrapper {
  bspl-alert-message {
    display: block;
    margin-top: $spacing-xl;

    &.airline-info-message {
      margin-top: $spacing-l;
    }
  }

  bspl-accordion-item:first-child {
    display: block;
    margin-top: $spacing-xl;
  }

  .same-address-wrapper {
    padding: $spacing-m $spacing-xs;
    border: 1px solid $gray-neutral;
  }

  .listFields + .separator-bottom {
    padding: 0;
    margin-bottom: $spacing-s;
  }

  .airline-contact-title {
    margin-top: 0;
  }
}
