<div class="wrapper">
  <div class="row" *ngIf="infoMessage">
    <div class="col-6">
      <bspl-alert-message [message]="infoMessage.message" [type]="infoMessage.type"></bspl-alert-message>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <bspl-accordion [multipleItemsOpen]="true">
        <bspl-accordion-item
          [id]="sectionsMapper.generic"
          [title]="'LIST.MASTER_DATA.addressMaintenance.sections.generic'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.generic) && !isReadonlyMode"
        >
          <ng-container
            *ngTemplateOutlet="
              isReadonlyMode ? addressTemplateReadonly : addressTemplateForm;
              context: { name: genericSectionGroupName, isSameAddressVisible: true }
            "
          ></ng-container>
        </bspl-accordion-item>
        <bspl-accordion-item
          [id]="sectionsMapper.acdm"
          [title]="'LIST.MASTER_DATA.addressMaintenance.sections.acdms'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.acdm) && !isReadonlyMode"
        >
          <ng-container
            *ngTemplateOutlet="
              isReadonlyMode ? addressTemplateReadonly : addressTemplateForm;
              context: { name: acdmSectionGroupName }
            "
          ></ng-container>
        </bspl-accordion-item>
        <bspl-accordion-item
          [id]="sectionsMapper.refund"
          [title]="'LIST.MASTER_DATA.addressMaintenance.sections.refunds'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.refund) && !isReadonlyMode"
        >
          <ng-container
            *ngTemplateOutlet="
              isReadonlyMode ? addressTemplateReadonly : addressTemplateForm;
              context: { name: refundsSectionGroupName }
            "
          ></ng-container>
        </bspl-accordion-item>
      </bspl-accordion>
    </div>
  </div>
  <ng-container *ngIf="!isReadonlyMode">
    <div class="row">
      <div class="col-12">
        <h3 *ngIf="isAgentUser" class="airline-contact-title separator-top">
          {{ 'LIST.MASTER_DATA.addressMaintenance.sections.airlineContact' | translate }}
        </h3>
        <h3 *ngIf="isAirlineUser" class="airline-contact-title separator-top">
          {{ 'LIST.MASTER_DATA.addressMaintenance.sections.agentContact' | translate }}
        </h3>
      </div>
    </div>
    <div class="row" *ngIf="airlineInfoMessage">
      <div class="col-6">
        <bspl-alert-message
          *ngIf="isAgentUser"
          class="airline-info-message"
          [message]="airlineInfoMessage.message"
          [type]="airlineInfoMessage.type"
        ></bspl-alert-message>
        <bspl-alert-message
          *ngIf="isAirlineUser"
          class="airline-info-message"
          [message]="agentInfoMessage.message"
          [type]="agentInfoMessage.type"
        ></bspl-alert-message>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #addressTemplateForm let-name="name" let-isSameAddressVisible="isSameAddressVisible">
  <ng-container [formGroup]="form">
    <div class="row" [formGroupName]="name">
      <div class="col-4 separator-right">
        <div class="same-address-wrapper" *ngIf="isSameAddressVisible">
          <bspl-checkbox
            [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.sameAddress' | translate"
            [formControl]="sameAddressControl"
          ></bspl-checkbox>
        </div>
        <ul class="listFields">
          <li class="listLine">
            <div class="row listText">
              <div class="col-4 listLabelText">
                <span>{{ 'LIST.MASTER_DATA.addressMaintenance.sections.labels.iataCode' | translate }}</span>
              </div>
              <div class="col-8">
                <span>{{ iataCode }}</span>
              </div>
            </div>
          </li>
          <li class="listLine">
            <div class="row listText">
              <div class="col-4 listLabelText">
                <span>{{ resourceLabel | translate }}</span>
              </div>
              <div class="col-8">
                <span>{{ resourceName }}</span>
              </div>
            </div>
          </li>
        </ul>
        <div class="separator-bottom"></div>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.contactName' | translate"
          formControlName="contactName"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.email' | translate"
          formControlName="email"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.telephone' | translate"
          formControlName="telephone"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.phoneFaxNumber' | translate"
          formControlName="phoneFaxNumber"
        ></bspl-input>
      </div>
      <div class="col-4 separator-right">
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.address1' | translate"
          formControlName="address1"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.address2' | translate"
          formControlName="address2"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.locality' | translate"
          formControlName="locality"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.city' | translate"
          formControlName="city"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.state' | translate"
          formControlName="state"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.postCode' | translate"
          formControlName="postCode"
        ></bspl-input>
        <bspl-input
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.country' | translate"
          formControlName="country"
        ></bspl-input>
      </div>
      <div class="col-4">
        <bspl-textarea
          [label]="'LIST.MASTER_DATA.addressMaintenance.sections.labels.comment' | translate"
          formControlName="comment"
        ></bspl-textarea>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #addressTemplateReadonly let-name="name">
  <div class="row">
    <div class="col-4">
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.iataCode',
              value: iataCode
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="listLine; context: { label: resourceLabel, value: resourceName }"
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.contactName',
              value: contactInfoData[name].contactName
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.email',
              value: contactInfoData[name].email
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.telephone',
              value: contactInfoData[name].telephone
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.phoneFaxNumber',
              value: contactInfoData[name].phoneFaxNumber
            }
          "
        ></ng-container>
      </ul>
    </div>
    <div class="col-4">
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.address1',
              value: contactInfoData[name].address1
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.address2',
              value: contactInfoData[name].address2
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.locality',
              value: contactInfoData[name].locality
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.city',
              value: contactInfoData[name].city
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.state',
              value: contactInfoData[name].state
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.postCode',
              value: contactInfoData[name].postCode
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.country',
              value: contactInfoData[name].country
            }
          "
        ></ng-container>
      </ul>
    </div>
    <div class="col-4">
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'LIST.MASTER_DATA.addressMaintenance.sections.labels.comment',
              value: contactInfoData[name].comment
            }
          "
        ></ng-container>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #listLine let-label="label" let-value="value">
  <li class="listLine">
    <div class="row listText">
      <div class="col-4 listLabelText">
        <span>{{ label | translate }}</span>
      </div>
      <div class="col-8">
        <span>{{ value || '-' }}</span>
      </div>
    </div>
  </li>
</ng-template>
