<div class="container">
  <div class="row with-border">
    <div class="col-6">
      <bspl-property-list>
        <bspl-property label="Default" value="with a value"></bspl-property>
        <bspl-property label="No value"></bspl-property>
        <bspl-property label="Emphasis" value="Emphasised value" class="property-emphasis"> </bspl-property>
        <bspl-property label="Right-aligned" value="Right-aligned value" class="property-align-right"> </bspl-property>
        <bspl-property label="Links">
          <div><a [routerLink]="['/dashboard']">Dashboard</a></div>
          <div><a [routerLink]="['/files/reports']">Reports</a></div>
        </bspl-property>
      </bspl-property-list>
    </div>
    <div class="col-6">
      <bspl-property-list header="Right-aligned" class="property-list-align-right">
        <bspl-property label="Numeric value" [value]="45.789 | number : '1.2-2'"></bspl-property>
        <bspl-property label="Numeric value" [value]="25.128 | number : '1.2-2'"></bspl-property>
        <bspl-property
          label="Left-aligned numeric value"
          class="property-align-left"
          [value]="15.789 | number : '1.2-2'"
        ></bspl-property>
        <bspl-property label="Numeric value" [value]="5.789 | number : '1.2-4'"></bspl-property>
      </bspl-property-list>
    </div>
  </div>
  <div class="row with-border">
    <div class="col-6">
      <bspl-property-list header="Compact default" class="property-list-compact">
        <bspl-property label="Default" value="with a value"></bspl-property>
        <bspl-property label="No value"></bspl-property>
        <bspl-property label="Emphasis" value="Emphasised value" class="property-emphasis"> </bspl-property>
        <bspl-property label="Value on multiple lines">
          <div>Value 1</div>
          <div>Value 2</div>
          <div>Value 3</div>
          <div>Value 4</div>
          <div>Value 5</div>
        </bspl-property>
      </bspl-property-list>
    </div>
    <div class="col-6">
      <bspl-property-list header="Compact right-aligned" class="property-list-compact property-list-align-right">
        <bspl-property label="Right-aligned numeric value" [value]="45.789 | number : '1.2-2'"></bspl-property>
        <bspl-property label="Right-aligned numeric value" [value]="25.128 | number : '1.2-2'"></bspl-property>
        <bspl-property label="Right-aligned numeric value" [value]="15.789 | number : '1.2-2'"></bspl-property>
        <bspl-property
          label="Right-aligned emphasis"
          [value]="5.789 | number : '1.2-4'"
          class="property-emphasis property-with-separator"
        >
        </bspl-property>
      </bspl-property-list>
    </div>
  </div>
  <div class="row with-border">
    <div class="col-6">
      <bspl-property-list header="Single item" class="property-list-compact">
        <bspl-property
          label="Long text"
          value="The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog"
        ></bspl-property>
      </bspl-property-list>
    </div>
  </div>
</div>
