@import 'theme/variables/index';
$col-gutters: $spacing-xxxxl;

.row.with-border {
  border-bottom: 1px solid $gray-neutral;
  padding: $spacing-xl 0;
  margin: 0 (-$col-gutters);

  &:last-child {
    border: none;
  }

  [class*='col-'] {
    border-right: 1px solid $gray-neutral;
    padding: 0 $col-gutters;

    &:last-child {
      border: none;
    }
  }
}
