@import 'theme/variables/index';
@import 'theme/variables/color';

.view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;

  .user-bsp-select {
    &::before {
      content: '/';
      font-size: $font-size-xxl;
      line-height: 30px;
      color: $gray-middle;
    }

    bspl-select {
      display: inline-block;
    }
  }
}
