<bspl-list-view
  [title]="'MASTER_DATA.periods.title' | translate"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="periodListTagFilterFormatter"
  (queryChange)="search($event)"
  (download)="download()"
  [noticeMessage]="companyCalendarMsg | translate"
>
  <div class="view-header" bsplListViewTitle>
    <div class="user-bsp-select">
      <bspl-select
        [placeholder]="'MENU.MASTER_DATA.PERIODS.SELECT_BSP' | translate"
        [options]="userBspOptions"
        [isDisabled]="userBspOptions?.length === 1"
        [clearable]="false"
        [modes]="[selectMode.Heading]"
        [value]="selectedBsp"
        (change)="selectBsp($event.value)"
      ></bspl-select>
    </div>
  </div>

  <form bsplListViewFilter [formGroup]="filterForm">
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'MASTER_DATA.periods.list.period' | translate"
          [maxLength]="periodValidation.maxLength"
          [customErrorMessages]="{ pattern: 'MASTER_DATA.periods.errors.wrongPeriodFormat' }"
          formControlName="period"
        ></bspl-input>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-md-12">
            <label class="bspl-group-label">{{ 'MASTER_DATA.periods.list.dateFrom' | translate }}</label>
          </div>
          <div class="col-md-12">
            <bspl-datepicker
              [placeholder]="'MASTER_DATA.periods.list.placeholders.choose' | translate"
              [selectionMode]="'range'"
              formControlName="dateRangeFrom"
            ></bspl-datepicker>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-md-12">
            <label class="bspl-group-label">{{ 'MASTER_DATA.periods.list.dateTo' | translate }}</label>
          </div>
          <div class="col-md-12">
            <bspl-datepicker
              [placeholder]="'MASTER_DATA.periods.list.placeholders.choose' | translate"
              formControlName="dateRangeTo"
              [selectionMode]="'range'"
            ></bspl-datepicker>
          </div>
        </div>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>
