<aside class="side-menu">
  <section class="side-menu-section">
    <bspl-side-menu
      [title]="'menu.masterData.configuration.menuTitle'"
      [items]="menuItems$ | async"
      [activatedItem]="activeItem$ | async"
      (select)="selectMenuItem($event)"
    ></bspl-side-menu>
  </section>
</aside>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
