@import 'theme/variables/index';

.create-user-container {
  padding-bottom: $spacing-xxxl;

  .description {
    color: $gray-dark;
    font-size: $font-size-m;
    line-height: 24px;
    margin-bottom: 0;
  }

  h4 {
    margin: $spacing-m 0 $spacing-s;
  }
}
