<div class="create-user-container" [formGroup]="form">
  <div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <bspl-select
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userType.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userType.placeholder' | translate"
          [formControl]="userTypeControl"
          [options]="userTypeOptions"
          [clearable]="false"
        ></bspl-select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <bspl-select
          *ngIf="!isThirdPartyUser; else thirdPartyUserCode"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userCode.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.userCodeSelectPlaceholder' | translate"
          [formControl]="userCodeControl"
          [options]="userCodeOptions$ | async"
          [clearable]="false"
          [locked]="isUserTypeNotSelected"
          [virtualScroll]="true"
        ></bspl-select>

        <ng-template #thirdPartyUserCode>
          <bspl-input
            [formControl]="userCodeControl"
            [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userCode.label' | translate"
            [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userCode.placeholder' | translate"
            [locked]="isUserTypeNotSelected"
          ></bspl-input>
        </ng-template>
      </div>
    </div>
    <div class="row" *ngIf="isAgentUser">
      <div class="col-md-12 mb-2">
        <bspl-select
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userTemplate.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userTemplate.placeholder' | translate"
          formControlName="template"
          [options]="userTemplateOptions"
          [clearable]="false"
          [locked]="areFieldsLocked"
        ></bspl-select>
      </div>
    </div>
  </div>
  <hr />
  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.contactDetails' | translate }}</h4>
    </div>
  </div>
  <div class="pb-4">
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="portalEmail"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.portalAccessEmail.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.portalAccessEmail.placeholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="name"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.name.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.name.placeholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="organization"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.organization' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.organizationPlaceholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="telephone"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.phone' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.phonePlaceholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
  </div>
  <hr />
  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.addressDetails' | translate }}</h4>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="country"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.countryTerritory' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.countryPlaceholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="city"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.city' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.cityPlaceholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="address"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.address' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.addressPlaceholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="postCode"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.postCode' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.createDialog.postCodePlaceholder' | translate"
          [locked]="areFieldsLocked"
          [isLoading]="areFieldsLoading"
        ></bspl-input>
      </div>
    </div>
  </div>
</div>
