@import 'theme/variables/index';

.editable-description.edit-mode {
  background: $gray-light;
  padding-bottom: 1.8rem;

  div {
    padding-top: $spacing-xs;
  }

  div.controls {
    .edit {
      display: block;
    }

    .read {
      display: none;
    }
  }
}

.editable-description:hover {
  background-color: $gray-light;
}

.editable-description {
  padding-top: 1.8rem;
  background-color: transparent;
  border-bottom: 1px solid $gray-neutral;
  width: 100%;
  overflow: hidden;

  input {
    width: 100%;
  }

  input:disabled,
  textarea:disabled {
    border: none;
    background: transparent;
    padding: 0;
    overflow: hidden;
  }

  input,
  textarea {
    border: 1px solid $gray-middle;
    padding: $spacing-xs;
    color: $gray-dark;
  }

  textarea:focus,
  input[type='text']:focus {
    border: 1px solid $blue-light;
  }

  textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
  }

  div {
    color: $gray-dark;
    font-size: $font-size-m;
    padding: $spacing-xs;
    padding-top: 0;

    .counter,
    .notification {
      padding-top: $spacing-xxs;
      padding-left: $spacing-xs;
      font-size: $font-size-s;
      font-weight: normal;
    }
  }

  div.label {
    float: left;
    width: 38%;
  }

  div.description {
    float: left;
    width: 50%;

    textarea {
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray-middle;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray-middle;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $gray-middle;
      }
    }
  }

  div.controls {
    float: right;

    i {
      font-size: 1.7rem;
      cursor: pointer;
      color: $gray-middle;
    }

    .icon-delete,
    .icon-cancel {
      margin-left: $spacing-s;
    }

    .icon-edit:hover:not(.disabled-hover) {
      color: $green;
    }

    .icon-delete:hover:not(.disabled-hover) {
      color: $red;
    }

    .disabled-hover {
      cursor: not-allowed;
    }

    .edit {
      display: none;
      padding: 0;

      i {
        font-weight: bold;
      }

      i.can-save {
        color: $green;
      }

      i.icon-cancel {
        color: $red;
      }
    }

    .read {
      padding: 0;
      display: block;
    }
  }

  .readonly {
    display: block;
    width: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.empty {
      color: $gray-middle;
    }
  }

  .wrap {
    white-space: pre-wrap;
  }

  .preserve-whitespace {
    white-space: pre;
  }
}
