<div class="editable-description" [class.edit-mode]="editMode" [formGroup]="form">
  <div class="label">
    <input
      #label
      *ngIf="editMode"
      [maxlength]="labelMaxLenght"
      id="label"
      formControlName="label"
      type="text"
      (blur)="onItemChange()"
      (ngModelChange)="onNgModelChange()"
    />
    <span
      *ngIf="!editMode"
      class="readonly"
      [bsplTooltip]="descriptionItem.label"
      [tooltipDisabled]="!showLabelTooltip"
      (bsplHasOverflowChanged)="showLabelTooltip = $event"
    >
      {{ descriptionItem.label }}
    </span>
  </div>
  <!-- label -->
  <div class="description">
    <ng-container *ngIf="editMode">
      <bspl-textarea
        formControlName="description"
        [placeholder]="descriptionPlaceholder"
        [rows]="textareaRows"
        (onBlur)="onItemChange()"
        (ngModelChange)="onNgModelChange()"
      >
      </bspl-textarea>
      <p *ngIf="descriptionLineLimit && descriptionRowsLimit" class="notification">
        {{
          'editableDescription.notification'
            | translate : locale.language : { lines: descriptionRowsLimit, characters: descriptionLineLimit }
        }}
      </p>
    </ng-container>
    <span
      *ngIf="!editMode"
      class="readonly"
      [class.preserve-whitespace]="descriptionLineLimit"
      [class.wrap]="!descriptionLineLimit"
      [class.empty]="!descriptionItem.description"
      [innerText]="descriptionItem.description || ('editableDescription.noDescription' | translate)"
      [bsplTooltip]="descriptionItem.description"
      [tooltipDisabled]="!showDescriptionTooltip"
      (bsplHasOverflowChanged)="showDescriptionTooltip = $event"
    >
      <!-- We need to preserve the whitespaces, so we use innerText instead. -->
    </span>
  </div>
  <!-- description -->

  <div class="controls">
    <div class="read">
      <i
        *ngIf="canEdit"
        class="material-icons icon-edit"
        [ngClass]="applyCssClassesByConditions()"
        title="{{ 'common.edit' | translate }}"
        data-title="edit"
        (click)="onClick($event)"
        >edit</i
      >

      <i
        *ngIf="canDelete"
        class="material-icons icon-delete"
        [ngClass]="applyCssClassesByConditions()"
        title="{{ 'common.delete' | translate }}"
        data-title="delete"
        (click)="onClick($event)"
        >delete</i
      >
    </div>
    <!-- readMode -->

    <div class="edit">
      <i
        class="material-icons icon-save"
        [class.can-save]="canSave"
        title="{{ 'common.save' | translate }}"
        data-title="save"
        (click)="onClick($event)"
        >done</i
      >
      <i
        class="material-icons icon-cancel"
        title="{{ 'common.cancel' | translate }}"
        data-title="cancel"
        (click)="onClick($event)"
        >clear</i
      >
    </div>
    <!-- editMode -->
  </div>
  <!-- controls -->
</div>
