<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >This option allows the user to see the currencies assigned to a BSP that are used for document issuances in that
    BSP.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="airline/images/currency-bsp-assignements-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB"><i>Figure 1: Currency BSP Assignments.</i></span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 20pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >When this option is selected, the list of Currency BSP Assignations registered in the system is displayed. For each
    assignation, the following information is provided:</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Currency:</b> Currency ISO code.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Number of Decimals:</b> The number of decimals that each currency accepts.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Default Currency:</b> If the currency has been assigned as the default currency in the
    BSP or not.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Register Date / Expire Date:</b> The dates of the currency registration and
    expiry.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Status:</b> Whether the currency is Active (“true”) or not (“false”), depending on the
    Register and Expire Dates.</span
  >
</p>
