<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >This option allows the user to see the Ticketing Authority (TA) information changes by Date Range for the BSPs the
    user has permission to query.</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 20pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The query result will display the following information distributed in columns:</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>BSP</b></span>
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Agent Code</b></span>
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Agent Name</b></span>
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Date/Time: </b>Date range</span>
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Action: </b>Enable / Disable</span>
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Performed By: </b>The entity who made those changes in the TA (it might be the HOMU or
    LOMU user) or a subuser (HOSU or LOSU), IATA, the Airline or the System (for those changes performed
    automatically)</span
  >
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 20pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Email: </b>electronic address of the user who performed the change. However, if the
    previous column (“Performed by”) shows the change was performed by the System, the user would see a dash.</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 20pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The <img border="0" height="30" src="airline/images/icon-white-filter.jpg" /> button refines the query of the TA
    history:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="airline/images/ticketing-authority-history-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 1: Ticketing Authority History Filter.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 20pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >Depending on the number of BSPs the user has permission for, the selection of BSPs and the result of the query is
    different:</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;If the user has access to one single BSP:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;by default, the selected BSP will be the
    one the user has permission for.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 20pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;no other BSP operation can be
    selected.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;If a user with the Lean access permission:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;doesn’t have any BSP selected by default,
    a BSP from the list should be selected.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 20pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;can pick just one BSP at a time amongst
    those the user has permission to and in the result the user will see the settings of the selected BSP.</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">Note the following details:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;The BSP field is the only mandatory
    field</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Date Range: the user is able to select a
    date from a a calendar up to 1 year (starting from the day of the query).</span
  >
</p>
