@import 'theme/variables/index';

:host {
  display: block;
  margin: 0 $spacing-xl;

  &::ng-deep .billing-analysis-totals-table {
    flex: 1;

    .simple-table {
      height: 100%;
    }

    .simple-table-header {
      .simple-table-header-cell {
        padding-top: $spacing-m;
      }
    }

    .simple-table-header-cell,
    .simple-table-cell {
      width: 10%;

      &.actions-column-cell {
        width: 16%;
        white-space: nowrap;
      }

      &.net-fare-amount-cell {
        padding-right: $spacing-xxxl;
      }
    }

    .simple-table-row:last-child {
      .simple-table-cell {
        padding-bottom: $spacing-m;
      }
    }

    tr {
      th,
      td {
        &:last-child {
          border-left: 1px solid $blue-primary;
        }
      }
    }

    &.single-row {
      tr {
        border-color: transparent;

        .simple-table-header-cell {
          padding-top: $spacing-s;
          padding-bottom: $spacing-xxs;

          &:first-child {
            padding-left: 0;
          }
        }

        &.simple-table-row {
          .simple-table-cell {
            font-size: $font-size-l;
            line-height: $line-height-l;
            padding-top: 0;
            padding-bottom: $spacing-s;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              font-weight: $font-weight-medium;
            }
          }
        }
      }
    }
  }

  .currency-label {
    color: $gray-dark;
  }

  .total-container {
    display: flex;
    justify-content: space-between;

    .currency-container {
      padding: $spacing-s 0 $spacing-xxxl $spacing-xs;
    }
  }
}
