<div class="total-container">
  <div class="currency-container">
    <span class="currency-label">
      {{ ('sales.billingAnalysis.totalsTable.currency' | translate) + ': ' }}
    </span>
    <span class="currency-label" *ngIf="!(currencyOptions?.length > 1)">
      {{ selectedCurrency?.code | bsplEmpty }}
    </span>
    <bspl-select
      *ngIf="currencyOptions?.length > 1"
      [options]="currencyOptions"
      [clearable]="false"
      [appendToBody]="true"
      [modes]="[selectMode.Small]"
      [value]="selectedCurrency"
      (change)="changeCurrency($event.value)"
    ></bspl-select>
  </div>

  <bspl-simple-table
    class="billing-analysis-totals-table single-row"
    [columns]="totalPerCurrenciesColumns"
    [data]="[visibleItem]"
  ></bspl-simple-table>
</div>

<ng-template #amountTemplate let-value="value">
  {{ value | number : getAmountFormat(selectedCurrency?.decimals) | bsplEmpty }}
</ng-template>
