<bspl-property-list class="property-list-compact">
  <bspl-property
    label="MASTER_DATA.agentGroupInvitations.agentGroupUserId"
    [value]="invitation?.group?.user?.userTypeDetails?.iataCode"
  ></bspl-property>
  <bspl-property
    label="MASTER_DATA.agentGroupInvitations.individualAccess"
    [value]="'MASTER_DATA.agentGroupMembers.individualAccess.' + invitation.individualAccess | translate"
  ></bspl-property>
</bspl-property-list>
