@import 'theme/variables/index';

:host {
  display: block;

  .expand-section {
    margin-bottom: $spacing-m;
  }

  .not-found-details {
    display: flex;
    justify-content: center;
    gap: $spacing-m;

    img {
      margin-bottom: $spacing-xs;
    }

    .text-content {
      :not(:last-child) {
        margin-bottom: 0.4rem;
      }

      h3,
      p {
        color: $gray-deep;
      }

      .no-document-section {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .info-icon {
          color: $blue-ocean;
          font-size: $font-size-l;
        }

        h4 {
          display: inline-block;
        }
      }
    }
  }
}
