<!-- Expand section -->
<div class="expand-section">
  <bspl-accordion-item-selection [accordion]="accordion" [showNavSection]="false"></bspl-accordion-item-selection>
</div>

<!-- Accordion items section -->
<bspl-accordion #accordion [multipleItemsOpen]="true">
  <!-- Not found document details -->
  <bspl-accordion-item [title]="'document.notFound.title' | translate" class="page-section">
    <div class="not-found-details">
      <img src="assets/images/documents/not-found-loupe.svg" alt="Not found loupe" />
      <div class="text-content">
        <h3>{{ ('document.notFound.details.document' | translate) + documentNumber }}</h3>
        <div class="no-document-section">
          <i class="material-icons info-icon">{{ alertMessageType.info }}</i>
          <h4>{{ 'document.notFound.details.noDocument' | translate }}</h4>
        </div>
        <p>{{ 'document.notFound.details.checkRelatedDocuments' | translate }}</p>
      </div>
    </div>
  </bspl-accordion-item>

  <!-- Related documents -->
  <bspl-accordion-item [title]="'document.relatedDocumentsTitle' | translate" class="page-section">
    <bspl-spinner [isLoading]="isLoadingRelatedDocuments" relativeTo="parent"> </bspl-spinner>
    <bspl-related-documents [hidden]="isLoadingRelatedDocuments" [documents]="relatedDocuments">
    </bspl-related-documents>
  </bspl-accordion-item>
</bspl-accordion>
