<p class="MsoNormal">
  This option makes possible to perform document queries by document number and view their detailed information. Once
  this option is clicked on the menu bar, the following modal box is displayed:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="300" id="Imagen 337" src="iata/images/image182.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451458"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Document enquiry.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to type a document number for the
    <img border="0" width="73" height="30" id="Imagen 650" src="iata/images/image183.jpg" /> button to get available. In
    case an incomplete document number is being typed, the system displays a warning:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"> <img border="0" width="344" height="82" id="Imagen 651" src="iata/images/image184.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451459"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Incomplete document number message.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Similarly, a message is displayed if the document number introduced cannot be found:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="50%" src="iata/images/document-enquiry-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451460"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">3</span><span lang="EN-GB">: Incorrect number message.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Although a document can be not found, it may have <b>related documents</b>. In such a case, the user may be able
    check some documents on the sub-section “Related Documents’ (just below the “Document Not Found” message). A section
    named as “Rejected Documents” might be also visible (although it is only available for those users that have the
    relevant permission).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >There is a “Expand All” blue function at the right-hand side of the page that allows to expand (open) all the
    sub-sections. Once that is done, the user can see that blue option changes into “Collapse All” function, which
    allows the user to close all the sub-sections simultaneously.</span
  >
</p>

<p class="MsoNormal">
  <a name="_Hlk31958081"
    ><span lang="EN-GB"
      >Once a correct document number is introduced, that document is displayed in a new tab according to HOT
      specificities. It is possible to query any document type through this option, namely:</span
    ></a
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMD: </span></b><span lang="EN-GB">Agency Credit Memo Default.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMD: </span></b><span lang="EN-GB">Agent Debit Memo Default.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">CANX: </span></b><span lang="EN-GB">Cancelled Document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EMDA: </span></b><span lang="EN-GB">Electronic Miscellaneous Document Associated.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EMDS: </span></b><span lang="EN-GB">Electronic Miscellaneous Document Standard.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RFND: </span></b><span lang="EN-GB">Refund.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SPCR: </span></b><span lang="EN-GB">Settlement Plan Credit.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SPDR: </span></b><span lang="EN-GB">Settlement Plan Debit.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TASF: </span></b><span lang="EN-GB">Travel Agent Service Fees.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TKTT: </span></b><span lang="EN-GB">Electronic Ticket Sale.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >When any document number is introduced, the system displays a document facsimile. Considering that the TKTT
    facsimile contains all fields which are included in other document types, the following section offers and overview
    of it.
  </span>
</p>
