<p class="MsoNormal">This module allows IATA users to access all the available documents in BSP.</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="282" height="281" id="Imagen 15" src="iata/images/image181.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Documents option.</span>
</p>
