<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays the existing Post Billing Disputes (PBD) in the BSP the IATA User is logged in. The PBD
    details are shown on a table which contains the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/post-billing-disputes-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451471"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: PBD View.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR: </span></b><span lang="EN-GB">The</span
  ><span lang="EN-GB"> The document number related to the PBD.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b><span lang="EN-GB">The</span
  ><span lang="EN-GB"> Disputed transaction type (TKTT, EMD, etc.)</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code: </span></b><span lang="EN-GB">The involved Airline IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name: </span></b><span lang="EN-GB">The involved Airline name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code: </span></b><span lang="EN-GB">The involved Agent IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name: </span></b><span lang="EN-GB">The involved Agent name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">The Status of the PBD can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Airline: </span></b
  ><span lang="EN-GB">When some feedback by the Airline is required.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Agent: </span></b
  ><span lang="EN-GB">When some feedback by the Agent is required.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Agent: </span></b
  ><span lang="EN-GB">When the Airline agreed with the Agent’s dispute.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Airline: </span></b
  ><span lang="EN-GB"
    >When the Agent agreed with the Airline’s reason for rejecting the PBD, or when the Agent did not reply to the
    Airline’s disagreement.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agreement not reached – to Agent: </span></b
  ><span lang="EN-GB"
    >when the Airline did not take any action during the Maximum Resolution period or when the maximum of two
    disagreement actions allowed per user was reached.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b><span lang="EN-GB">the date in which the PBD is issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">The date in which the PBD is resolved, no longer than 30 days after its issuance.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB">The currency in which the original document was issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Maximum Disputable Amount: </span></b
  ><span lang="EN-GB"
    >The maximum amount to be post billing disputed, REMT for ADMs and TDAM for Tickets and Refunds.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b><span lang="EN-GB">Amount being disputed in the PBD.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The information contained on this table can be filtered by means of the
    <img border="0" width="82" height="30" id="Imagen 165" src="iata/images/image198.jpg" /> button. IATA Users may
    narrow the results based upon the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="iata/images/post-billing-disputes-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451472"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: PBD Filter option.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Number (TDNR): </span></b
  ><span lang="EN-GB">In case the query is to be performed based on the number of the original document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Code (TRNC): </span></b
  ><span lang="EN-GB">To reduce the results to the type of the original transaction (TKTT, EMDS, EMDA, ADMA).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b><span lang="EN-GB">To show results by Airline.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name: </span></b><span lang="EN-GB">To show results by Agent.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">To display results by PBD Status.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date:</span></b>
  <span lang="EN-GB">
    To frame by resolution date, or by a series of dates (“From” and “To”). Future dates may be selected up to one year.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">To frame by resolution date, or by a series of dates (“From” and “To”).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">To obtain PBDs by currency.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">In order to perform a filtered query, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 532" src="iata/images/image179.jpg" /></span
  ><span lang="EN-GB">. The </span
  ><span lang="EN-GB"><img border="0" width="62" height="30" id="Imagen 534" src="iata/images/image200.jpg" /></span
  ><span lang="EN-GB"> button disregards the filters previously selected. By default, no filter is applied. </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 535" src="iata/images/image196.jpg" /></span
  ><span lang="EN-GB"> button allows the user to download the results in CSV or TXT format.</span
  ><span lang="EN-GB" style="color: #172b4d"> </span>
</p>

<h4><span lang="EN-GB" style="font-size: 13pt; line-height: 97%">PBD Details</span></h4>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to check the status of an already issued Post-Billing Dispute (PBD), is necessary to click on the TDNR
    number:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img
      border="0"
      width="646"
      src="iata/images/post-billing-disputes-3.jpg"
      alt="Interfaz de usuario gráfica, Aplicación&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451473"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">:  TDNR Number on PBD table.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The PBD details get then displayed on a new tab which splits the information into the PBD Header, the PBD Details
    and Amount, the PBD Process and the PBD Activity Panel.
  </span>
</p>

<p class="MsoNormal"><span lang="EN-GB">Firstly, the PBD Header summarizes the PBD essential information: </span></p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="37" id="Imagen 537" src="iata/images/image202.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451474"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: PBD Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >The PBD Status determines the actions to be performed. Airlines should update the PBD when the status is “Pending
    Airline”.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> The end of the thirty-day period in which the PBD needs to be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR:</span></b
  ><span lang="EN-GB"> The disputed document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount (Currency):</span></b
  ><span lang="EN-GB"> The disputed amount.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Time Left for Agreement:</span></b
  ><span lang="EN-GB"> Days left until the Resolution Date.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Secondly, the PBD Details and Amount section offers the following information:</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="293" id="Imagen 538" src="iata/images/image203.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451475"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: View PBD details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Details: </span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent: </span></b><span lang="EN-GB">The issuing Agent’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline:</span></b
  ><span lang="EN-GB"> The involved Airline’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Issue Date:</span></b
  ><span lang="EN-GB"> The date in which the PBD is issued. </span>
</p>

<p
  class="BulletLevel2"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.75in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> The end of the thirty-day period within which the PBD must be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Details:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b
  ><span lang="EN-GB">The type of disputed transaction (“TKTT”, “EMD” or “ADM”).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRND: </span></b><span lang="EN-GB">The disputed document number.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">DAIS: </span></b
  ><span lang="EN-GB"
    >The date of issuance of the disputed document. The DAIS determines the validity of the period to issue a PBD, which
    cannot exceed 12 months.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b
  ><span lang="EN-GB">The disputed amount on the document indicated above.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >Thirdly, the Process section<b> </b>includes all the actions performed by each part. It indicates both the time
    left for agreement and the different reasons which motivated each position. Reasons may include attached
    files.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    text-align: center;
    line-height: 115%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="362" id="Imagen 539" src="iata/images/image204.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451476"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: PBD Process.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Lastly, the right side of the screen includes the option to upload files and the Activity Panel.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Files can be uploaded at any point by dragging them into the upload box or by browsing the required file:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="145" id="Imagen 3" src="iata/images/image205.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >As for the Activity Panel, it displays all the comments included by each part and reflects the workflow of the
    PBD:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 115%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="539" id="Imagen 540" src="iata/images/image206.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451477"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >The Activity Panel allows Agent and Airline Users to include any comment without considering who is expected to
    take the following action in the PBD. This panel is intended to facilitate a communication channel between both
    parts without employing the interventions granted to each of them. Similarly, the panel displays any interventions
    performed by the parts (“Workflow Events”, which also show the change of Status) and the attachments added.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB">The activities in the panel can be filtered by clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 541" src="iata/images/image207.jpg" /><span lang="EN-GB">
    icon at the top right corner:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 115%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="539" id="Imagen 542" src="iata/images/image208.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451478"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: Filter of PBD Activity Panel.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It is possible to filter the information on the panel by means of the following options:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">All: </span></b><span lang="EN-GB">to display all the information in the panel.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Workflow Events: </span></b
  ><span lang="EN-GB">to focus on each of the intervention by the involved parts (described below).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Comments: </span></b
  ><span lang="EN-GB">to check the different comments introduced by the parts.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Attachments: </span></b><span lang="EN-GB">to obtain the relation of attached files.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >It should be noted that the PBD process is subject to be solved within a period of 30 days. However, if any
    involved part in the PBD reacts during the thirtieth day of the process, seven extra days are granted for the PBD to
    be solved. Besides, each involved part is granted two interventions. Therefore, the process follows the steps
    below:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The Agent issues the PBD, which turns into “Pending Airline” until the Airline intervenes.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Airline intervenes to either express its agreement with the dispute (“Agree to Agent”, the PBD process
    finishes) or its disagreement (“Pending Agent”, the PBD process goes on).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Agent replies to the Airline by either expressing its agreement to the Airline’s remark (“Agree to Airline”,
    the PBD finishes) or its disagreement to the Airline’s observation (“Pending Airline”, the PBD process
    continues).</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Airline may then either agree with the Agent’s second intervention (“Agree to Agent”) or not (“Agreed not
    reached – to Agent”). No extra interventions are possible.</span
  >
</p>

<p class="MsoNormal"><span lang="EN-GB">Consequently, the PBD finishes in the following cases:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">When the maximum amount of interventions (two each part) is reached.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">When the maximum period of thirty days finishes. </span>New BSPlink
  <span lang="EN-GB"
    >does automatically update the PBD status when this period finishes. However, any part may intervene on the last day
    and an extra period of seven days is granted.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If the PBD results in the agreement to agent, an ACM will be issued in the subsequent billing period. No amounts
    should be deducted, as the total will contemplate the amount of such ACM.<a name="_Hlk56494907"></a
  ></span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, if changes are produced in a PBD but these are not saved, New BSPlink warns users before leaving the
    PBD:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="380" height="239" id="Imagen 103" src="iata/images/image209.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">10</span><span lang="EN-GB">: Unsaved changes in PBD.</span>
</p>
