<p class="MsoNormal">
  <a name="_Hlk37239950"
    ><span lang="EN-GB"
      >This option allows IATA users to view all documents which have been rejected by the DPC. Once this option is
      selected, a table showing all rejected documents is displayed. It should be noted that the ongoing billing period
      is selected by default.</span
    ></a
  >
</p>

<p class="MsoNormal"><span lang="EN-GB">The following fields are indicated per rejected document:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related document number: </span></b
  ><span lang="EN-GB">If the rejected document is a conjunction ticket, and ADM, Refund Application, etc.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type: </span></b><span lang="EN-GB">TKTT, ACDM, RFND, etc.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <a name="_Hlk37240098"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Airline: </span></b
    ><span lang="EN-GB">The IATA code and name of the involved Airline.</span></a
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent: </span></b><span lang="EN-GB">The IATA code and name of the involved Agent.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS: </span></b
  ><span lang="EN-GB">The code of the GDS in which the document was originally issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Error level: </span></b><span lang="EN-GB">There are three possible error levels:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Warning: </span></b
  ><span lang="EN-GB"
    >The document has not been rejected; it will be available as soon as it has been processed by the DPC.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Modify: </span></b
  ><span lang="EN-GB"
    >The document has not been rejected, but it has been modified at a DPC level. It will be available as soon as it has
    been processed.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection: </span></b
  ><span lang="EN-GB"
    >It is confirmed that the document has been rejected and, thus, it is not available in the system.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Error code</span></b
  ><span lang="EN-GB">: The error code which is assigned to each error type leading to Rejection.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for rejection: </span></b
  ><span lang="EN-GB">The explanation of why the document has been rejected.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to filter the query of rejected documents by clicking on
    <img border="0" width="82" height="30" id="Imagen 25" src="iata/images/image193.jpg" />. Queries can be narrowed by
    means of the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/rejected-documents-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Filter of rejected documents.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type:</span></b
  ><span lang="EN-GB">TKTT, ACDM, RFND, etc.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code / Name:</span></b
  ><span lang="EN-GB">
    A dropdown list of the existing Agents in the BSP the IATA User has access to is deployed. Multiple choice is
    possible.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code / Name: </span></b
  ><span lang="EN-GB"
    >A dropdown list of the existing Agents in the BSP the IATA User has access to is deployed. Multiple choice is
    possible (to contrast the information of Head Entities and Associated Entities).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS: </span></b><span lang="EN-GB">A dropdown list of the operating GDSs is deployed.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Error Level: </span></b><span lang="EN-GB">Warning, Modify or Rejection.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Date: </span></b
  ><span lang="EN-GB"
    >A calendar is deployed to select a date frame by clicking first on the date as of which the query should be
    performed, and then the date until which the query will comprehend:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in"><span lang="EN-GB">&nbsp;</span></p>

<p
  class="MsoListParagraphCxSpMiddle"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.25in; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="194" height="254" id="Imagen 339" src="iata/images/image195.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Calendar.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.25in"
>
  <span lang="EN-GB">&nbsp;</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Period: </span></b
  ><span lang="EN-GB">if more than one billing period is selected, they must belong to the same month.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">Results get then listed as follows:</span></p>

<p
  class="MsoListParagraphCxSpMiddle"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.25in; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/rejected-documents-3.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: List of Rejected Documents..</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk37249391"
    ><span lang="EN-GB"
      >Please note that the original document will get displayed in a new tab by clicking on the blue document number.
      Besides, it is possible to download the data concerning rejected documents, either filtered or not, by clicking
      the
      <img border="0" width="106" height="30" id="Imagen 107" src="iata/images/image196.jpg" />
      button.</span
    ></a
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Facsimiles of rejected documents
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to display the facsimile of the rejected document by clicking on the document type.s</span
  >
</p>
