<div class="pbd-start-dialog">
  <p class="text-content">{{ 'postBillingDisputes.dialogs.pbdStart.info' | translate }}</p>
  <hr />
  <div class="input-section" [formGroup]="form">
    <bspl-input
      formControlName="documentNumber"
      [label]="'postBillingDisputes.dialogs.pbdStart.form.label' | translate"
      [maxLength]="maxDocumentNumberLength"
      [autofocus]="true"
    >
    </bspl-input>
    <p class="text-help" [class.invalid]="form.invalid && (form.dirty || form.touched)">
      {{ 'postBillingDisputes.dialogs.pbdStart.form.msg.error.invalidNumber' | translate }}
    </p>
    <bspl-alert-message class="message" *ngIf="infoMsg" [message]="infoMsg" type="info"></bspl-alert-message>
  </div>
  <ng-template [ngIf]="documents$ | async" let-documents>
    <div class="card-container" *ngIf="documents && documents.length > 1">
      <p>{{ 'document.selectionDialog.description' | translate }}</p>
      <section #card class="card-selection" (click)="selectCard(document)" *ngFor="let document of documents">
        <bspl-property-list
          class="card-details property-list-compact"
          [class.selected]="selectedDocument?.id === document.id"
        >
          <bspl-property
            label="postBillingDisputes.dialogs.pbdStart.documentSelection.documentType"
            [value]="document.documentIdentification.transactionCode"
          ></bspl-property>
          <bspl-property
            label="postBillingDisputes.dialogs.pbdStart.documentSelection.airlineCode"
            [value]="document.airline.globalAirline.iataCode"
          ></bspl-property>
          <bspl-property
            label="postBillingDisputes.dialogs.pbdStart.documentSelection.agentCode"
            [value]="document.documentIdentification.agentCode"
          ></bspl-property>
          <bspl-property
            label="postBillingDisputes.dialogs.pbdStart.documentSelection.dateOfIssue"
            [value]="document.documentIdentification.dateOfIssue | dateTimeFormat : 'date'"
          ></bspl-property>
        </bspl-property-list>
      </section>
    </div>
  </ng-template>
</div>
