@import 'theme/variables/index';

$selectedBoxShadow: $shadow-z-1, $shadow-outline-c-1;

.pbd-start-dialog {
  padding-bottom: $spacing-xxxl;

  .text-content,
  .text-help {
    color: $gray-dark;
  }

  .text-content {
    margin-bottom: $spacing-s;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }

  .text-help {
    font-size: $font-size-s;
    line-height: $line-height-s;
    margin-top: $spacing-xxs;

    &.invalid {
      color: $red;
    }
  }

  .message {
    margin-top: $spacing-m;
    margin-bottom: 0;
  }

  bspl-input {
    margin: 0;

    &.control--showErrors {
      margin: 0 !important;
    }

    .control__error {
      display: none !important;
    }
  }

  .card-container {
    border-top: 1px solid $white-subtle;
    margin-bottom: $spacing-xxxl;

    p {
      margin: $spacing-xs 0;
      color: $gray-deep;
      font-size: $font-size-m;
      line-height: $line-height-m;
    }
  }

  .card-selection {
    .card-details {
      background-color: $gray-subtle;
      align-items: center;

      &.selected {
        background-color: $white;
        box-shadow: $selectedBoxShadow;

        &:hover {
          box-shadow: $selectedBoxShadow;
        }
      }

      &:hover {
        background-color: $white;
        box-shadow: $shadow-z-2;
      }

      margin-bottom: $spacing-m;
      border-radius: $border-radius-large;
      padding: $spacing-xs $spacing-m;
    }
  }
}
