<bspl-list-view
  [title]="'LIST.MASTER_DATA.safTypes.title' | translate"
  [customLabels]="customLabels"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasCreating]="canCreateSafType"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  [filterFormatter]="displayFormatter"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
  (create)="createSafType()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="type"
          [label]="'LIST.MASTER_DATA.safTypes.filters.type.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.safTypes.filters.type.placeholder' | translate"
          [options]="safTypesOptions"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="description"
          [label]="'LIST.MASTER_DATA.safSeries.filters.description.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.safSeries.filters.description.placeholder' | translate"
          (open)="getSafTypeDescriptions()"
          [options]="safTypeDescriptions"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="statisticalCode"
          [label]="'LIST.MASTER_DATA.safTypes.filters.statisticalCode.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.safTypes.filters.statisticalCode.placeholder' | translate"
          [options]="statisticalCodeOptions"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onActionMenuClick()"
    (actionClick)="onActionClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
