<div class="hide-bottom-border">
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="!hasRelatedDocumentInformation"
  >
    <bspl-property-list header="document.refund.transactionInformation.sectionTitle" class="section one-third">
      <bspl-property
        label="document.refund.transactionInformation.bspName"
        [value]="refund.bsp?.name || refund.isoCountryCode"
      ></bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.gdsSystem"
        [value]="refund.gds?.name || refund.gds?.gdsCode"
      ></bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.dataInputStatusIndicator"
        [value]="refund.transaction.dataInputStatusIndicator"
      ></bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.agent"
        [value]="refund.agent.iataCode"
      ></bspl-property>
      <bspl-property label="document.refund.transactionInformation.formOfPayment">
        {{ refund.formOfPaymentSummary?.type }} {{ refund.formOfPaymentSummary?.description }}
      </bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.currency"
        [value]="refund.currencyType"
      ></bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.issueDate"
        [value]="refund.documentIdentification.dateOfIssue | date : 'dd/MM/yyyy'"
      ></bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.captureDate"
        [value]="refund.captureDate | date : 'dd/MM/yyyy'"
      ></bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.settlementPeriod"
        [value]="refund.settlementPeriod"
      ></bspl-property>
      <bspl-property label="document.refund.transactionInformation.netRemit" [value]="netRemit"> </bspl-property>
      <bspl-property
        label="document.refund.transactionInformation.tourCode"
        [value]="refund.documentIdentification.tourCode"
      ></bspl-property>
    </bspl-property-list>
    <section class="section one-third">
      <bspl-property-list header="document.refund.transactionAmount.sectionTitle" class="property-list-align-right">
        <bspl-property
          label="document.refund.transactionAmount.cashAmount"
          [value]="refund.cashAmount | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.refund.transactionAmount.paymentCardAmount"
          [value]="refund.creditAmount | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.refund.transactionAmount.easyPayAmount"
          [value]="refund.easyPayAmount | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list
        header="document.refund.accountInformation.sectionTitle"
        class="property-list-align-right mt-5"
      >
        <bspl-property
          label="document.refund.accountInformation.vatGstAmount"
          [value]="refund.accountInformation.vatGstAmount | number : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property label="document.refund.accountInformation.agentCommission">
          ( {{ refund.accountInformation.agentCommissionPercent }}% )
          {{ refund.accountInformation.agentCommissionAmount | absoluteDecimal : refund.decimalPrecision }}
        </bspl-property>
        <bspl-property
          label="document.refund.accountInformation.fareAdjustmentAmount"
          [value]="refund.accountInformation.fareAdjustmentAmount | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.refund.accountInformation.cancellationFees"
          [value]="refund.accountInformation.cancellationFees | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.refund.accountInformation.cancellationFeesCommission"
          [value]="refund.accountInformation.cancellationFeesCommission | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.refund.accountInformation.onlineBillingStatementAgent"
          [value]="refund.accountInformation.onlineBillingStatementForAgent | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.refund.accountInformation.balancePayableByAirline"
          [value]="refund.accountInformation.balancePayableAirline | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.refund.accountInformation.netFareAmount"
          [value]="refund.stdAmounts.netFareAmount | absoluteDecimal : refund.decimalPrecision"
        ></bspl-property>
      </bspl-property-list>
    </section>
    <section class="section one-third">
      <bspl-tax
        [taxes]="refund.stdAmounts.taxes"
        [decimalPrecision]="refund.decimalPrecision"
        [totalTaxes]="refund.stdAmounts.totalTaxes"
      ></bspl-tax>
    </section>
  </div>
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="!hasPaymentCardInformation"
  >
    <section *ngIf="refund?.paymentCardInformation?.length > 0" class="section full">
      <bspl-payment-card-info
        [data]="refund.paymentCardInformation"
        [decimalPrecision]="refund.decimalPrecision"
      ></bspl-payment-card-info>
    </section>
  </div>
  <div class="section-container no-section-bottom-border pdf-page-break-inside-avoid">
    <section *ngIf="hasRelatedDocumentInformation" class="section half">
      <bspl-simple-table
        [title]="'document.refund.transactionRelatedDocumentNumbers.sectionTitle'"
        [columns]="transactionRelatedDocuments"
        [data]="refund.relatedDocumentInformation"
      ></bspl-simple-table>
    </section>
  </div>
</div>

<ng-template #relatedDocumentsTemplate let-column="column" let-dataItem="dataItem" let-table="table">
  <a class="link" (click)="documentOpened.emit(dataItem[column.field])"> {{ dataItem[column.field] }}</a>
</ng-template>

<ng-template #paymentCardAmountTemplate let-column="column" let-dataItem="dataItem" let-table="table">
  {{ dataItem[column.field] | absoluteDecimal : refund.decimalPrecision }}
</ng-template>
