<div class="card-container">
  <p>{{ 'document.selectionDialog.description' | translate }}</p>
  <section #card class="card-selection" (click)="selectCard(document)" *ngFor="let document of documents">
    <bspl-property-list
      class="property-list-compact card-details"
      [class.selected]="selectedDocument?.id === document.id"
    >
      <bspl-property label="document.selectionDialog.isoCountryCode" [value]="document.isoCountryCode"> </bspl-property>
      <bspl-property label="document.selectionDialog.documentType" [value]="document.transactionCode"> </bspl-property>
      <bspl-property label="document.selectionDialog.airlineCode" [value]="document.airlineCode"> </bspl-property>
      <bspl-property label="document.selectionDialog.agentCode" [value]="document.agentCode"> </bspl-property>
      <bspl-property
        label="document.selectionDialog.dateOfIssue"
        [value]="document.dateOfIssue | dateTimeFormat : 'date'"
      ></bspl-property>
    </bspl-property-list>
  </section>
</div>
