@import 'theme/variables/index';

$selectedBoxShadow: $shadow-z-1, $shadow-outline-c-1;

.card-container {
  border-top: 1px solid $white-subtle;
  margin-bottom: $spacing-xxxl;

  p {
    margin: $spacing-xs 0;
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
}

.card-selection {
  .card-details {
    background-color: $gray-subtle;
    align-items: center;

    &.selected {
      background-color: $white;
      box-shadow: $selectedBoxShadow;

      &:hover {
        box-shadow: $selectedBoxShadow;
      }
    }

    &:hover {
      background-color: $white;
      box-shadow: $shadow-z-2;
    }

    margin-bottom: $spacing-m;
    border-radius: $border-radius-large;
    padding: $spacing-xs $spacing-m;
  }
}
