<p
  class="BodyText"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk24096011">This module allows Users to manage BSP Reports, Communications and Files.</a>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="194" height="202" id="Imagen 92" src="airline/images/image294.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Files.</span>
</p>
