<p class="MsoNormal">
  <span lang="EN-GB">This option includes the possibility to upload files and to explore deleted files:</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.25in; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="572" src="airline/images/upload-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc24034509"></a><a name="_Toc40254159"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Upload.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Upload Files
</p>

<p class="MsoNormal">
  <span lang="EN-GB">To upload files, New BSPlink includes different options:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">By dragging the file in the New BSPlink window below.</span>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">By browsing the file.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="512" id="Imagen 244" src="airline/images/image304.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc24034510"></a><a name="_Toc40254160"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Upload files dialogue.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This dialogue does allow users to drag files in or browse files stores in the PC.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">In both cases, the following window is browsed one the file is selected:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="380" height="365" id="Imagen 285" src="airline/images/image305.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc24034511"></a><a name="_Toc40254161"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to complete the file upload, it is necessary to click on the
    <img border="0" width="70" height="30" id="Imagen 288" src="airline/images/image306.jpg" />
    button. The system will confirm the correct upload or will inform about the error occurred instead:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="287" id="Imagen 291" src="airline/images/image307.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc24034512"></a><a name="_Toc40254162"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Completion of file upload.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please note that all IATA Communications and Notifications will be included in the Dashboard, under the “IATA
    Messages and News” section.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Deleted Files
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Airline users to delete any uploaded file. Once clicked, a table with the relation of deleted
    files is displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="287" id="Imagen 291" src="airline/images/upload-5.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: Deleted Files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This table contains the following fields:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Deleted By</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Email</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Delete Date</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IN PROCESS</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DELETED</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NOT DELETED (Not found)</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Queries may be filtered by means of the <img border="0" height="30" src="airline/images/image083.jpg" /> button.
    The following parameters may be applied:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="287" id="Imagen 291" src="airline/images/upload-6.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Filter deleted files.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Deleted By</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Email</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Delete Date</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Delete files
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To delete a new file, click on <img border="0" height="30" src="airline/images/icon-delete-files.jpg" />. The
    following dialogue gets displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="500" src="airline/images/upload-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: Delete files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to indicate the filename. When more than one file must be deleted, click on
    <img border="0" height="30" src="airline/images/icons+file-name.jpg" /> yo add as many rows as necessary. Any added
    row may be removed by clicking on <img border="0" height="30" src="airline/images/image042.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once all files have been indicated, click on
    <img border="0" height="30" src="airline/images/icon-delete-files-white.jpg" />.
  </span>
</p>
