<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In accordance with IATA Resolutions, New BSPlink processes automatically Final Refund Applications.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Thanks to this process, a 60-day issuance period is applied in any Final Refund Application. If, within such
    period, the Airline has not carried out any action, it turns automatically into “AUTHORIZED”.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please find a detailed explanation of the Automatic processing below.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Non-Final RA Automatic Process
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >When Agent users issue a Refund Application which is not flagged as “Final”, the process described under this
    section does not apply.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Also, any Final RA which is marked as “Exception” by the Airline is not subject to this process.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Final RA Automatic Process
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Refund Applications may be flagged as “Final” before being issued:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="450" src="airline/images/final-refund-applications-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Flag RA as Final.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Agents cannot modify Final Refund Applications once issued. However, they can add comments or attachments in the
    Activity Panel.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once issued and flagged as “Final”, a 60-day countdown begins. During this period, the Airline may:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Modify the value of that RA.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Request further information to the involved Agent in the Activity Panel.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorize or Reject that RA.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Flag the RA as an Exception.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If no action is taken on the Airline’s side within 60 days, the Refund Application gets automatically
    Authorized.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please find a comparative view of the process affecting Refund Applications below:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/automatic-processing-of-RA-2.jpg" /></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >To check if RA are flagged as “Final” and the days left, please refer to the main RA query table. The countdown is
    reflected under the “Days Left” field:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/final-refund-applications-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Days left.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Also, the header of the detailed view of a Refund Application which was flagged as “Final” indicates this
    information:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/final-refund-applications-4.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Final RA detailed view.</span>
</p>
