<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Those Refund Applications having the status “Pending” should be handled by the involved Airline. There are
    different possibilities which Airlines may approach by clicking on the
    <img border="0" width="22" height="22" id="Imagen 120" src="airline/images/image238.jpg" /> icon on the right side
    of each RA:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"
    ><img border="0" width="194" height="207" id="Imagen 121" src="airline/images/image239.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254125"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: RA to be handled by the Airline.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Checking RA Details
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This option displays the Refund Application on a view mode (not editable). Please refer to </span
  ><u><span lang="EN-GB">6.4.1.1 RA detailed view</span></u
  ><span lang="EN-GB"> to check what information is contained in a Refund Application.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please note that this view mode is also displayed by clicking on the Document Number on the table comprising all
    Refund Applications.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Any Refund which is issued “Under Supervision” accepts changes: it is necessary to click on “Supervise” to review
    and modify details. Please refer to </span
  ><u><span lang="EN-GB">6.4.1.1 RA detailed view</span></u
  ><span lang="EN-GB"> to check what information is contained in each field.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once checked, it is possible to click the
    <img border="0" width="94" height="30" id="Imagen 122" src="airline/images/image240.jpg" />
    button on the RA header to Reject, Edit and Authorize or Edit and Investigate the Refund Application (please see
    below).</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Edit and Authorize a RA
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays the Refund Application on an editable view. Users may change any data from the original refund
    Application issued by the involved Agent.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once checked, it is possible to click on
    <img border="0" width="89" height="30" id="Imagen 123" src="airline/images/image241.jpg" />
    button to approve the RA. A modal window is then displayed, where it is possible to indicate a reason for
    authorization and to include any file to support this decision:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="506" id="Imagen 128" src="airline/images/image242.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254126"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Authorize RA</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Depending on the configuration of each Airline user, it may be possible to authorize multiple refund
    applications.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Reject a RA
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option does directly display a modal window, where a Reject Reason must be selected (from a dropdown list
    which includes all configured reasons in Configuration</span
  >
  <u><span lang="EN-GB">)</span></u
  ><span lang="EN-GB"
    >. Alternatively, Users may type a free-text Reason. Besides, it is possible to add attached files or additional
    remarks:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="630" id="Imagen 136" src="airline/images/image243.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254127"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Reject RA</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Depending on the configuration of each Airline user, it may be possible to reject multiple refund
    applications.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Edit and Investigate RA
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays the Refund Application on an editable view. Users may change any data from the original refund
    Application issued by the involved Agent.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once checked, it is possible that Users consider that the RA requires further internal investigation. By clicking
    the
    <img border="0" width="98" height="30" id="Imagen 138" src="airline/images/image244.jpg" />
    button, the RA status turns into “Under Investigation”.
  </span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="537" id="Imagen 140" src="airline/images/image245.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254128"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Investigate RA.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If there is a particular Airline user in charge of this task, it is possible to obtain all RA to be investigated by
    narrowing the RA into “Under Investigation” status.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Supervise
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays any Refund Application Issued Under Supervision in an editable view. Any information included
    may be modified by the Airline before being officially issued.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Final Refund Applications
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Agents may flag Refund Applications as “Final”. This means that they cannot modify the information included in the
    RA, although comments and attachments may be added by them in the Activity Panel.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Final Refund Applications are subject to an Automatic Processing which consists of a countdown period of 60 days
    (please refer to 6.4.1.2 Automatic processing of Refund Applications). If the Airline does not carry out any action
    in the Final Refund Application within 60 days, it gets automatically authorized.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Final Refund Applications include the “Final” indication under “Final” in the main RA table. The remaining days
    until the completion of the 60-day period is available under “Days Left”:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/management-of-issued-ra-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254128"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Final RAs.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It should be noted that Final RAs may include an icon showing the urgency of the 60-day period:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund Applications which were issued between 30 and 45 days ago are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-1.jpg" /> icon.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund Applications which were issued more than 45 days ago are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-2.jpg" /> icon.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund which have been automatically authorized after 60 days are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-3.jpg" /> icon.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This information is also available in the RA detailed view:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/management-of-issued-ra-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254128"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Final RA detailed view. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >During the following 60 days after a given Agent has issued a Final Refund Application, Airlines may:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Modify the value of that RA. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Request further information to the involved Agent in the Activity Panel. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorize or Reject that RA. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Flag the RA as an Exception. </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 12pt; color: blue; font-family: Arial; font-weight: 400">
  Management of Exceptions
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Marking Final RAs as Exceptions means that they are no longer subject to the Automatic Process of 60 days.
    Therefore:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The RA Status turns into “Under Investigation” </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The RA Final status turns into “Exception”. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The RA will be treated as a Standard one. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To mark Final RAs as Exceptions, click on <img border="0" height="22" src="airline/images/image090.jpg" /> and
    select “Mark RA as Exception”. This may be also done from the RA detailed view. The system confirms that it has been
    correctly marked:
  </span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="450" src="airline/images/management-of-issued-ra-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254128"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Marking RA as Exception. </span>
</p>
