<p class="MsoNormal">
  <span lang="EN-GB"
    >If users wish to query the Refund Application detailed view, it is possible to display it either by means of
    clicking on the Document Number on the Refund Application table, or through the
    <img border="0" width="22" height="22" id="Imagen 20" src="airline/images/image222.jpg" /> icon. A new tab is then
    displayed showing the selected RA information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/ra-detailed-view-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254115"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: RA detailed view.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The Refund Application is divided into five main parts:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refund Application Main Information: </span></b
  ><span lang="EN-GB">The information on this part, always visible, includes the following fields: </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Refund Number: This number is assigned once the application is issued.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Refund Status: It reflects if the Refund is Draft, Pending, Approved, Rejected, Sent to Airline, Under
    Investigation or Pending Supervision.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">BSP the Agent belongs to. </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Airline Code.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Agent Code.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Application Date: The date in which the Agent completes the form.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Refund to Passenger: The amount of the Refund to be included in the Agent billing.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Final Refund Applications indicate this status and the days left until it gets automatically authorized.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Basic Information: </span></b
  ><span lang="EN-GB">It reflects the information concerning the Airline, the Agent and the Refund.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Details:</span></b
  ><span lang="EN-GB">
    This section consists of the reason why the Refund is to be applied and the ticket involved.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment:</span></b
  ><span lang="EN-GB"> The method used to pay the ticket.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount and Tax:</span></b
  ><span lang="EN-GB"> This last part is focused on the fare and taxes of the ticket.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For the RA review purposes, Users will find, on the Refund Application Main Information part, the option to either
    collapse or expand the rest of the parts of the form:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="59" id="Imagen 573" src="airline/images/image224.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254116"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Refund Application expand/collapse option.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If users prefer to collapse just one of the sections, it is possible to do so through the options after “Jump
    to”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="58" id="Imagen 575" src="airline/images/image225.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254117"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Jump to other sections option.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This is also possible by clicking the
    <img border="0" width="22" height="22" id="Imagen 335" src="airline/images/image226.jpg" /> icon at the right part
    of each section:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="319" id="Imagen 68" src="airline/images/image227.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254118"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: expand icon on each Refund Application section.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Basic Information
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Basic Information sections contain those data belonging to the involved Airline and Agent in the RA
    process:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="437" id="Imagen 577" src="airline/images/image228.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254119"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: RA Basic Information.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Information: </span></b
  ><span lang="EN-GB">Including the IATA Code, VAT number and contact details as registered in the system.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Information: </span></b><span lang="EN-GB">Same as the Airline information.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The RA Details comprise the Reasons for the Agent to request the Refund, the information of document to be
    refunded, and whether such document was a result of an Exchange or not:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="638" height="340" id="Imagen 37" src="airline/images/image229.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254120"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: RA Details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Statistical Code: </span></b
  ><span lang="EN-GB">RA can be either “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason details: </span></b
  ><span lang="EN-GB">The Agent has to indicate on a free text why the refund was requested.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related documents: </span></b
  ><span lang="EN-GB"
    >The original ticket Passenger, RTDN issue date, Waiver code (if any). Number, Coupons and Conjunction tickets (CNJ,
    if any). Related documents must contain 10 digits. Used coupons are indicated with the
    <img border="0" width="23" height="22" id="Imagen 390" src="airline/images/image230.jpg" />
    icon.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Exchange (Original Issue Details): </span></b
  ><span lang="EN-GB"
    >If the ticket to be refunded was a result of an exchange (signalled by the
    <img border="0" width="23" height="22" id="Imagen 391" src="airline/images/image231.jpg" />
    icon), the exchanged ticket information must be completed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Form of Payment
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Form of Payment section includes the payment details of the original ticket and consists of two main
    parts:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tour Code, Customer Reference, E-Ticket Auth Code and Currency.</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">The Payment Method</span></b
  ><span lang="EN-GB">: Valid methods are the following ones:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Cash</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Payment Card (CC) (BSP issues reports warning of any non-processed CC sales)</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Easy pay (dependent on EP Account activation by the agent)</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Miscellaneous Cash (MSCA)</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Miscellaneous Credit (MSCC)</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The total is first offered split in Cash and Credit. At the bottom, the total amount of the original ticket is
    displayed.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="259" id="Imagen 40" src="airline/images/image232.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254121"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: RA Form of Payment.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The last section of the RA indicated in detail the amount corresponding to the original ticket and the refund.
    These coincide when the applied refund is total; but they are different when a partial refund is requested, or when
    commissions or penalties apply. The following fields are included:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Partial Refund option and Net Remit option: </span></b
  ><span lang="EN-GB"
    >When any of these apply, it is indicated by the
    <img border="0" width="23" height="22" id="Imagen 394" src="airline/images/image233.jpg" />
    icon.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Gross Fare and Less Gross Fare Used:</span></b
  ><span lang="EN-GB">
    The Gross fare corresponds to the amount paid for the original ticket excluding taxes. The Less Gross Fare Used
    indicated the amount which is not refundable when the Agent requested a partial refund.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cancellation Penalty, Miscellaneous Fee and their corresponding taxes.</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission:</span></b
  ><span lang="EN-GB"> These can be indicated by the agent either in monetary amounts or in percentage.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Taxes:</span></b
  ><span lang="EN-GB">
    The tax ISO Codes must be detailed together with each specific amount. The XT and XF specifications must be observed
    when Agents complete this part of the section. Please note that the system will notify the introduction of
    duplicated taxes, if any.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refund to Passenger:</span></b
  ><span lang="EN-GB">
    The refundable amount equals the amount of the Gross Fare – the amount of the Gross Fare Used + Taxes – the CP – the
    Tax on CP – the MF – the tax on MF.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="350" id="Imagen 62" src="airline/images/image234.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-left: 0.25in; text-align: center">
  <a name="_Toc40254122"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: RA Amount and Tax.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Activity
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Lastly, the right side of the screen includes the option to upload files and the Activity Panel.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Files can be uploaded at any point by dragging them into the upload box or by browsing the required file:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/image235.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254123"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">9</span><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >As for the Activity Panel, it displays all the comments included by each part and reflects the workflow of the
    RA:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 115%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/image236.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451477"></a
  ><a name="_Toc40254124"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">10</span><span lang="EN-GB">: PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >The Activity Panel allows Agent and Airline users to include any comment throughout the resolution of the RA. This
    panel is intended to facilitate a communication channel between both parts without employing the interventions
    granted to each of them. Also, the panel displays any interventions performed by the parts (“Workflow Events”, which
    also show the change of Status) and the attachments added.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB">The activities in the panel can be filtered by clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 114" src="airline/images/image237.jpg" /><span lang="EN-GB">
    icon at the top right corner. It is possible to filter by the following fields:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">All: </span></b><span lang="EN-GB">To display all the information in the panel.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Workflow Events: </span></b
  ><span lang="EN-GB">To focus on each of the intervention by the involved parts (described below).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Comments: </span></b
  ><span lang="EN-GB">To check the different comments introduced by the parts.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Attachments: </span></b><span lang="EN-GB">To obtain the relation of attached files.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >For Resubmitted RAs the original document is included, and the user can click on the document number, so the system
    will take the user to that document detailed view. Here you can see an example of the Activity panel of a
    resubmitted RA:</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >For Resubmitted RAs the original document is included, and the user can click on the document number, so the system
    will take the user to that document detailed view. Here you can see an example of the Activity panel of a
    resubmitted RA:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/ra-detailed-view-11.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 11: Global Airlines filter.</span>
</p>
