<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows the user to approve, reject or comment refund applications in a quick and massive way via a
    simplified file. Optionally, users can attach files to the updated refund applications.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The <b>RA Massload</b> File to be uploaded must be created by the user following the structure of fields here
    explained:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number of the refund application: </span></b
  ><span lang="EN-GB">Consider that this number is not the RTDN.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Action: </span></b
  ><span lang="EN-GB"
    >The possible values are ‘Authorize’, ‘Reject’ or ‘Comment’. The system checks whether the user uploading the files
    is allowed to execute each of the actions.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Comment: </span></b
  ><span lang="EN-GB"
    >Authorization or rejection reason if the RA is authorized or rejected or comment if the action to be done is this
    one.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Attachment: </span></b
  ><span lang="EN-GB"
    >To indicate the attachment filename related to the RA followed by its file format extension. This field is not
    mandatory. When filled in, the user will upload one or several attachment files (their names separated by a comma,
    if more than one is to be updated). If the system detects that the name of the attachment does not correspond to any
    of the files uploaded, the affected RA will not be updated. Also, one attachment file can be used for several Refund
    Applications.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Therefore, the RA Massload file content structure will be similar to the following row example:
    <i>‘BSP|RA Document Number|Action|Comment|Attachment|’</i>.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The file formats accepted by the system are .csv, .txt (pipe delimited as for the previous example), .xls, and
    .xlsx. Note that the system also checks that the user uploading the files owns the permissions to execute each of
    the actions.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users may upload RA Massload Files and Attachments by clicking on
    <img border="0" height="33" src="airline/images/upload_massload_file.jpg" />. A modal box is displayed where two
    different sections can be distinguished:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/ra-massload_files-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254129"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Upload RA Massload Files modal box.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Kindly consider that only one RA Massload File can be loaded at a time and the system will check that its extension
    is one of the file formats allowed. Once the file is updated, the system will process it as soon as possible. It is
    not mandatory to load an attachment file and there is no limitation of attachment files loaded at a time, but they
    must have different file names.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The system checks, before uploading the RA Massload File, that there are not duplicated RA Document Numbers and
    whether the fields are properly formatted (empty fields, wrong BSPs, etc.). The user is informed about the errors to
    be solved, if any. When the file is processed, the user is informed about the number of refunds successfully updated
    and the number of not updated due to errors.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >An evaluation file is generated once the file is processed in the system. This file is available for the user by
    means of the <img border="0" height="33" src="airline/images/image361.jpg" /> icon, ‘Download Evaluation File’
    option, placed on the right side of the RA line. The evaluation file contains some basic data as, for example, the
    name of the RA Massload file, the accepted/rejected transactions, error details, etc.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Apart from being able to upload the RA Massload Files and Attachment Files, the user, via the RA Massload Files
    option, can review the status of the uploaded files by means of the two tabs available: Massload Files and
    Attachments to RA Massload Files.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Massload Files
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Via this tab, the user will be able to review all RA Massload files uploaded to the system, upload new ones and
    download the corresponding evaluation files.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/ra-massloead-files-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254129"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: RA Massload Files.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Original File Name</span></b
  ><span lang="EN-GB">Name of the file as uploaded by the user.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name: </span></b
  ><span lang="EN-GB">Name assigned by the system to the file in order to process it. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date: </span></b><span lang="EN-GB">With format DD/MM/YYYY HH:mm:SS </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Authorized RA: </span></b><span lang="EN-GB">Amount of RA that were authorized. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejected RA: </span></b><span lang="EN-GB">Amount of RA that were rejected. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Accepted Transactions: </span></b
  ><span lang="EN-GB">Number of modifications accepted during processing of the file. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Total Transactions: </span></b
  ><span lang="EN-GB">Number of modifications that were originally included inside the file. </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">‘Pending’, ‘Processed’, ‘Rejected’.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >By clicking the RA Massload File row, information about the user who loaded the file and the user’s email is
    expanded, as shown in the screenshot above.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >By clicking on the <img border="0" height="33" src="airline/images/image340.jpg" /> icon, a pop-up where the total
    amount of authorized, rejected, and accepted transactions and the total of transactions of all RA Massload Files
    uploaded are displayed.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/ra-massloead-files-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254129"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Totals button pop-up.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" height="33" src="airline/images/image334.jpg" /> button.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/ra-massloead-files-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254129"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Totals button pop-up.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The RA Massload Files Query can be filtered by the following fields:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Original Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">User Name: </span></b><span lang="EN-GB">Name of the user who uploaded the file. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Email: </span></b><span lang="EN-GB">Email of the user who uploaded the file. </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Attachments to Massload Files
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Via this tab, the user will be able to see the list of attachments uploaded through RA Massload files.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/ra-massloead-files-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254129"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Attachments to Massload Files.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name</span></b
  ><span lang="EN-GB">Name of the attachment file. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number: </span></b
  ><span lang="EN-GB"
    >Number of the Refund Application. It is a link which displays the information of the RA in the same way as if the
    user checks it via the Refund – Refund Application section. Please refer to 6.4.1.1 RA detailed view.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date: </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">User Name: </span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Email: </span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" height="33" src="airline/images/image334.jpg" /> button. The query can be filtered by the different
    fields shown in the query: File Name, Document Number, Upload Date, User Name and Email.</span
  >
</p>
