<p class="MsoNormal">
  <span lang="EN-GB"
    >Airlines or Agents may issue Refund Notices. A list of all existing Refund Notices in the BSP Users have access to
    is presented on a table which includes the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/refund-notices-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254129"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Refund Notice table.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number:</span></b
  ><span lang="EN-GB">
    The Refund Notice number which is generated once the Refund is issued. By clicking on it, the Refund Application
    details are displayed on a new tab. The document number can be accompanied by an icon which indicates that there is
    an Internal Comment (<img border="0" height="33" src="airline/images/icon-bubbles.jpg" />) added by the user as
    personal note. The comment is only visible for the user who added it.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code:</span></b
  ><span lang="EN-GB"> The issuer Agent IATA code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b>This column reflects the status of a Refund Notice. RN Status can be:
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PENDING SUPERVISION: </span></b
  ><span lang="EN-GB"
    >the Agent has issued the Refund Notice, but it must be examined by the Supervisor before being issued.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ISSUED:</span></b
  ><span lang="EN-GB"> the Refund Notice has been issued after being examined by the Supervisor. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The status of the RN is accompanied by an icon showing whether it has been sent to the DPC (<img
      border="0"
      height="15"
      src="airline/images/image100.jpg"
    />), not sent yet (<img border="0" height="15" src="airline/images/image101.jpg" />), or will not be sent (<img
      border="0"
      height="15"
      src="airline/images/image102.jpg"
    />).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">The employed currency on the Refund Notice.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> The total amount requested to be refunded.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment:</span></b
  ><span lang="EN-GB"> the method used to pay the related document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b
  ><span lang="EN-GB">The date in which the Refund Notice was issued.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b
  ><span lang="EN-GB">The date in which the Refund Notice was issued.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b
  ><span lang="EN-GB"
    >the involved billing period. The Period filter is only available when there is one single BSP selected, so for
    multi-country users, if no BSP is selected the period field is disabled.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" width="82" height="30" id="Imagen 257" src="airline/images/image247.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/refund-notices-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254130"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Refund Notice filter.</span>
</p>

<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in">
  <span lang="EN-GB">Filtered queries are based upon the following fields:</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country / Territory: </span></b><span lang="EN-GB">Selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpFirst"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code / Name: </span></b
  ><span lang="EN-GB">Selectable from a drop-down list, where multiple choice is possible.</span>
</p>
<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >To obtain the Refund Notices by one or more possible statuses (“Issued” or “Pending Supervision”).</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> Selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount Range:</span></b
  ><span lang="EN-GB"> the query can be filtered by a minimum value, a maximum value or both.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number</span></b
  >span lang="EN-GB"> To get the Refund Application(s) concerning a given related document number.
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Latest Action Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b
  ><span lang="EN-GB">it is possible to select multiple periods within the same month.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to DPC: </span></b><span lang="EN-GB">Either “Sent” or “Pending”.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment: </span></b
  ><span lang="EN-GB">the method used to pay the related document.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Internal Comment: </span></b><span lang="EN-GB">“Yes”/”No”..</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Read/Unread: </span></b><span lang="EN-GB">“Read”/“Unread”..</span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >In order to view filtered results, it is necessary to click the
    <img border="0" width="74" height="30" id="Imagen 90" src="airline/images/image249.jpg" />
    button. Otherwise, users may click the
    <img border="0" width="62" height="30" id="Imagen 241" src="airline/images/image250.jpg" />
    button.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Users, who enjoy multi-country access permissions, can query RN’s details to an extended period up to
    <b>5 years</b> old. For further information about how to get this type of BSPlink access, please reach us through
    the <a href="https://portal.iata.org/" target="_blank">IATA Customer Portal</a>.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Besides, results, either filtered or not, can be downloaded in a CSV or TXT zipped file through the
    <img border="0" width="106" height="30" id="Imagen 242" src="airline/images/image251.jpg" />
    button.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refund Notice details
</p>

<p class="MsoNormal" style="margin: 0in">
  <a name="_Hlk17197532"
    ><span lang="EN-GB"
      >It is possible to query the details from an already issued Refund Notice by clicking on the “Document Number” or
      the <img border="0" width="22" height="22" id="Imagen 59" src="airline/images/image252.jpg" /> icon the on the
      main table. Since the Refund Notice Issuance form contains the same fields as that corresponding to Refund
      Applications, please refer to “</span
    ></a
  ><span lang="EN-GB">6.4.1.1 RA detailed view</span><span lang="EN-GB">”. </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refund Notice issuance
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Users may issue Refund Notices by clicking on the
    <img border="0" width="94" height="30" id="Imagen 283" src="airline/images/image253.jpg" />. In order to find out
    what information must be indicated under each field, please refer to </span
  ><span lang="EN-GB">6.4.1.1 RA detailed view</span><span lang="EN-GB">. </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >It is also possible to issue a RN Under Supervision by clicking on the arrow next to this button. If so, the RN
    will not be completely issued until the Supervisor of the Airline authorises it.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="94" id="Imagen 65" src="airline/images/image254.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Issue Refund Notice Under Supervision.</span>
</p>
