<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to query all the existing Refund Applications in the BSP users are granted access to by clicking on
    the “Refund Applications” option. All the existing Refund Applications in that BSP are listed on a table which
    contains the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/refund-applications-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451446"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Refund Applications view.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number:</span></b
  ><span lang="EN-GB">
    The Refund Application number which is generated once the Refund is issued. By clicking on it, the Refund
    Application details are displayed on a new tab. The document number can be accompanied by an icon which indicates
    that there is an Internal Comment (<img border="0" height="22" src="airline/images/icon-bubbles.jpg" />) added by
    the user as personal note. The comment is only visible for the user who added it.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code:</span></b
  ><span lang="EN-GB"> The Agent IATA code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB">
    This column reflects the status of a Refund Application and if it has been sent to the correspondent DPC (Data
    Processing Centre). RA Status can be:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PENDING: </span></b
  ><span lang="EN-GB"
    >The Agent has issued the Refund Application, but the Airline has not examined it yet. Standard RAs can still be
    edited by the Agent, but RAs which are flagged as “Final” cannot.
  </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">AUTHORIZED:</span></b
  ><span lang="EN-GB"> The Airline, upon examination, has approved the Refund. </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">REJECTED: </span></b
  ><span lang="EN-GB">The Airline has rejected the Refund Application. </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">UNDER INVESTIGATION: </span></b
  ><span lang="EN-GB"
    >The Airline needs to perform some research before a decision is made. Users may contact the Agent through the Agent
    dedicated contact, available under the Refund Application Basic Information.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PENDING SUPERVISION: </span></b
  ><span lang="EN-GB"
    >once a RA has been issued and sent for supervision, it is possible to display it and click on “Supervise” to modify
    any data, if necessary.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RESUBMITTED: </span></b
  ><span lang="EN-GB">The Agent issues a Refund Application which was previously rejected by the Airline.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The status of the RA is accompanied by an icon showing whether it has been sent to the DPC (<img
      border="0"
      height="22"
      src="airline/images/image100.jpg"
    />), not sent yet (<img border="0" height="22" src="airline/images/image101.jpg" />), or will not be sent (<img
      border="0"
      height="22"
      src="airline/images/image102.jpg"
    />). Besides, please note that, when New BSPlink users modify a Refund Application, this is indicated by the
    <img border="0" height="22" src="airline/images/icon-write.jpg" /> icon next to the RA Status.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">The employed currency on the refund Application.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Final: </span></b
  ><span lang="EN-GB">this field shows if the Refund Application was flagged as “Final” before being issued:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">FINAL: </span></b
  ><span lang="EN-GB"
    >The Refund Application has been flagged as “Final”. It is subject to the Automatic Processing of RAs if no action
    is taken within 60 days.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EXCEPTION: </span></b
  ><span lang="EN-GB"
    >The Final Refund Application has been flagged as an Exception by the Airline so that the Automatic Processing does
    not apply.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Days left:</span></b
  ><span lang="EN-GB">
    the span of the number of days left until the Automatic processing finishes. When approved automatically, the system
    informs that such Refund was Authorized Automatically when reached 0 days after being marked as Final.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> The total amount requested to be refunded.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of payment:</span></b
  ><span lang="EN-GB"> the method used to pay the related document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Application Date: </span></b
  ><span lang="EN-GB">The date in which the Refund Application was issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Authorization Date: </span></b
  ><span lang="EN-GB">The date in which the Airline approves the Refund Application.<b> </b></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Date: </span></b
  ><span lang="EN-GB">The date in which the Refund Application is rejected by the Airline.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b><span lang="EN-GB">the involved billing period.</span>
</p>
<p
  class="MsoListParagraphCxSpLast"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 243" src="airline/images/image214.jpg" /></span
  ><b><span lang="EN-GB">: </span></b><span lang="EN-GB">This icon deploys different options related to the RA.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 12pt">
  <span lang="EN-GB"
    >It is possible to expand the RA to check other fields by clicking on the RA itself (other than the Document
    Number):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/refund-applications-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254114"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Expanded RA fields.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 12pt">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" width="82" height="30" id="Imagen 757" src="airline/images/image217.jpg" />
    button. Results can be narrowed according to the following criteria:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/refund-applications-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254114"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Refund Application filter.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country/Territory:</span></b
  ><span lang="EN-GB">
    To reduce the results to a given BSP. For multi-country users, if no BSP is selected the period field will be
    disabled.</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number: </span></b><span lang="EN-GB">The Refund Application number.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name:</span></b
  ><span lang="EN-GB"> To query the Refund Applications involving a specific Agent. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB">
    To obtain the Refund Applications by one or more possible statuses (“Pending”, “Approved”, “Rejected”, “Under
    Investigation”, “Resubmitted”).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">To limit the results to a certain currency.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount Range: </span></b
  ><span lang="EN-GB">the query can be filtered by a minimum value, a maximum value or both.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number:</span></b
  ><span lang="EN-GB"> To get the Refund Application(s) concerning a given related document number.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger:</span></b
  ><span lang="EN-GB"> To view the results by passenger name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Application Date:</span></b
  ><span lang="EN-GB"> It can be framed (“from” and “to”).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Latest Action Date:</span></b
  ><span lang="EN-GB"> It can be framed (“from” and “to”).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Authorization Date:</span></b
  ><span lang="EN-GB"> it can be framed (“from” and “to”).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB">
    the involved billing period. Period filter is only available when there is one single BSP selected, so for
    multi-country users, if no BSP is selected the period field will be disabled.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to DPC:</span></b
  ><span lang="EN-GB"> “Sent”, “Pending” or “N/A”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment:</span></b
  ><span lang="EN-GB"> the method used to pay the related document.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to Airline:</span></b
  ><span lang="EN-GB"> “Yes”/”No”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Changed by Agent:</span></b
  ><span lang="EN-GB"> “Yes”/”No”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Internal Comment:</span></b
  ><span lang="EN-GB"> “Yes”/”No”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Read / Unread:</span></b
  ><span lang="EN-GB"> “Read”/”Unread”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Final:</span></b
  ><span lang="EN-GB">
    “Final”, “Exception”(for RAs which had been flagged as “Final” by Agents) or N/A (Standard RAs).</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Days Left:</span></b
  ><span lang="EN-GB">
    the span of the number of days left until the Automatic processing finishes. When approved automatically, the system
    informs that such Refund was Authorized Automatically when reached 0 days after being marked as Final.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Process Stopped:</span></b
  ><span lang="EN-GB"> the number of days that the airline took action.</span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >To perform the filtered query, it is necessary to click the
    <img border="0" width="74" height="30" id="Imagen 510" src="airline/images/image219.jpg" />
    button. Otherwise, the
    <img border="0" width="62" height="30" id="Imagen 759" src="airline/images/image220.jpg" />
    button removes the applied filters.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >For users, who enjoy multi-country access permissions, the system will display RA’s information back to 5 years.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Besides, results, either filtered or not, can be downloaded in a CSV or TXT zipped file through the
    <img border="0" width="106" height="30" id="Imagen 760" src="airline/images/image221.jpg" />
    button. Downloaded files include the “issue reason” field.<br /><br />
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >For users, who enjoy Lean access permissions, the system displays RA’s information back to
    <b>5 years</b>.<br /><br />
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >For further information about how Airlines can obtain New BSPlink Lean access permission, please reach us through
    the <a href="https://portal.iata.org/" target="_blank">IATA Customer Portal.</a>
  </span>
</p>
