<div class="header-content">
  <div class="status-figures">
    <div class="figure figure-image logo">
      <img *ngIf="logo != null" [src]="logo" alt="Logo" />
    </div>
    <div class="figure" *ngFor="let figure of statusFigures" [class.inactive]="figure.value == null">
      <div class="figure-title">{{ figure.label | translate }}</div>
      <div class="figure-value">{{ figure.value || 'N/A' }}</div>
    </div>
  </div>
  <ng-content select="[additional-content]"></ng-content>
  <div class="actions pdf-hide-in">
    <bspl-button
      *ngIf="permissions.generateEnquiryPdf | hasPermission"
      class="action"
      [label]="'common.download' | translate"
      [design]="buttonDesign.Tertiary"
      [isLoading]="isDownloading"
      (click)="download()"
    >
    </bspl-button>
    <bspl-button-menu
      *ngIf="issueActions.length && hasIssueBtn"
      class="action"
      [label]="issueButtonLabel"
      [options]="issueActions"
      (select)="redirectToIssue($event)"
    ></bspl-button-menu>
  </div>
</div>
<div class="pdf-hide-in">
  <ng-content></ng-content>
</div>
