@import 'theme/variables/index';

.header-content {
  justify-content: space-between;
  display: flex;
  align-items: center;
  box-shadow: $shadow-z-2;
}

.figure.figure-image.logo {
  padding: $spacing-xxxs $spacing-xxxl;
}

.actions {
  .action {
    margin-right: $spacing-m;
  }
}
