@import 'theme/variables/index';

.activity-header-container {
  border-bottom: 0.1rem solid $gray-deep;
  padding-bottom: $spacing-m;

  .main-title {
    font-size: $font-size-xl;
    line-height: $line-height-l;
  }

  .filter-container {
    text-align: right;

    .show-label {
      color: $gray-deep;
    }
  }
}
