<div class="activity-header-container">
  <div class="row">
    <div class="col-md-4 main-title">{{ 'postBillingDisputes.activityPanel.labels.activity' | translate }}</div>
    <div class="col-md-8 filter-container">
      <span class="show-label">{{ 'postBillingDisputes.activityPanel.labels.show' | translate }}:&nbsp;</span>
      <bspl-button-menu
        [displayTriggerAsText]="true"
        [label]="btnLabel"
        [options]="buttonMenuOptions"
        (select)="onFilterButtonSelect($event)"
      ></bspl-button-menu>
    </div>
  </div>
</div>
