<div class="hide-bottom-border">
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="!hasPaymentCardInformation && !hasAdditionalPaymentInformation"
  >
    <bspl-property-list class="section one-third" header="document.ticket.transactionDetails.sectionTitle">
      <bspl-property
        label="document.ticket.transactionDetails.transactionCode"
        [value]="ticket.documentIdentification.transactionCode"
      ></bspl-property>
      <bspl-property
        label="document.ticket.transactionDetails.gdsSystem"
        [value]="ticket.gds.name || ticket.transaction.reportingSystemIdentifier"
      ></bspl-property>
      <bspl-property label="document.ticket.transactionDetails.currency" [value]="ticket.currencyType"> </bspl-property>
    </bspl-property-list>
    <bspl-property-list
      class="section one-third property-list-align-right"
      header="document.ticket.accountInformation.sectionTitle"
    >
      <bspl-property
        label="document.ticket.accountInformation.vatGstAmount"
        [value]="ticket.accountInformation.vatGstAmount | number : ticket.decimalPrecision"
      ></bspl-property>
      <bspl-property label="document.ticket.accountInformation.agentCommission">
        ( {{ ticket.accountInformation.agentCommissionPercent }}% )
        {{ ticket.accountInformation.agentCommissionAmount | absoluteDecimal : ticket.decimalPrecision }}
      </bspl-property>
      <bspl-property
        label="document.ticket.accountInformation.fareAdjustmentAmount"
        [value]="ticket.accountInformation.fareAdjustmentAmount | absoluteDecimal : ticket.decimalPrecision"
      ></bspl-property>
      <bspl-property
        label="document.ticket.accountInformation.cancellationFees"
        [value]="ticket.accountInformation.cancellationFees | absoluteDecimal : ticket.decimalPrecision"
      ></bspl-property>
      <bspl-property
        label="document.ticket.accountInformation.cancellationFeesCommission"
        [value]="ticket.accountInformation.cancellationFeesCommission | absoluteDecimal : ticket.decimalPrecision"
      ></bspl-property>
      <bspl-property
        label="document.ticket.accountInformation.onlineBillingStatementAgent"
        [value]="ticket.accountInformation.onlineBillingStatementForAgent | absoluteDecimal : ticket.decimalPrecision"
      ></bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.ticket.accountInformation.balancePayableToAirline"
        [value]="ticket.accountInformation.balancePayableAirline | absoluteDecimal : ticket.decimalPrecision"
      ></bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.ticket.accountInformation.netFareAmount"
        [value]="ticket.accountInformation.netFareAmount | absoluteDecimal : ticket.decimalPrecision"
      ></bspl-property>
    </bspl-property-list>
    <section class="section one-third">
      <bspl-tax
        [taxes]="ticket.stdAmounts.taxes"
        [decimalPrecision]="ticket.decimalPrecision"
        [totalTaxes]="ticket.stdAmounts.totalTaxes"
      ></bspl-tax>
    </section>
  </div>
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="hasNoPaymentCardSectionBorder"
  >
    <section *ngIf="ticket?.paymentCardInformation?.length > 0" class="section full">
      <bspl-payment-card-info
        [data]="ticket.paymentCardInformation"
        [decimalPrecision]="ticket.decimalPrecision"
      ></bspl-payment-card-info>
    </section>
  </div>
  <div class="section-container no-section-bottom-border pdf-page-break-inside-avoid">
    <section *ngIf="ticket?.easyPayInformation?.length > 0" class="section half">
      <bspl-easy-pay-info
        [data]="ticket.easyPayInformation"
        [decimalPrecision]="ticket.decimalPrecision"
      ></bspl-easy-pay-info>
    </section>
    <section *ngIf="ticket?.netRemitInformation?.length > 0" class="section half">
      <bspl-net-remit-info
        [data]="ticket.netRemitInformation"
        [decimalPrecision]="ticket.decimalPrecision"
      ></bspl-net-remit-info>
    </section>
    <section *ngIf="ticket?.exchangeInformation?.length > 0" class="section half">
      <bspl-exchange-info
        [data]="ticket.exchangeInformation"
        (openDocument)="openDocument($event)"
      ></bspl-exchange-info>
    </section>
    <section *ngIf="conjunctions?.length > 0" class="section half">
      <bspl-conjunctions
        [data]="conjunctions"
        (openDocument)="openDocument($event)"
        [currentDocumentNumber]="ticket.documentIdentification.documentNumber"
      ></bspl-conjunctions>
    </section>
  </div>
</div>
