@import 'theme/variables/index';

.header-container {
  margin: $spacing-xl 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: $spacing-xxl $spacing-xxxl $spacing-l;
  background-color: $gray-subtle;
}

.no-invitation-container,
.no-invitation-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-invitation-text {
  margin: $spacing-l 0;

  p {
    margin: 0;
  }
}
