<div class="header-container">
  <h3>{{ 'MASTER_DATA.agentGroupInvitations.groupInvitationsTitle' | translate }}</h3>
  <bspl-button
    [label]="'MASTER_DATA.createAgentGroup.createBtn'"
    *ngIf="Permissions.createAgentGroup | hasPermission"
    [design]="ButtonDesign.Tertiary"
    (click)="createAgentGroup()"
  ></bspl-button>
</div>

<bspl-spinner [isLoading]="isLoading" [isTransparent]="true" [color]="'primary'">
  <div class="content" *ngIf="(data$ | async)?.length; else noInvitations">
    <div>
      <bspl-simple-table [columns]="columns" [data]="data$ | async"> </bspl-simple-table>
    </div>
  </div>
</bspl-spinner>

<ng-template #noInvitations>
  <div class="content" *ngIf="!isLoading">
    <div class="no-invitation-container">
      <img [src]="'./assets/images/No-Users.svg'" alt="" />
      <div class="no-invitation-text">
        <h3>{{ 'MASTER_DATA.agentGroupInvitations.noInvitations' | translate }}</h3>
        <p class="link" *ngIf="Permissions.createAgentGroup | hasPermission" (click)="createAgentGroup()">
          {{ 'MASTER_DATA.agentGroupInvitations.createGroup' | translate }}
        </p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #individualAccess let-value="value">
  <span>{{ 'MASTER_DATA.agentGroupMembers.individualAccess.' + value | translate }}</span>
</ng-template>

<ng-template #actions let-invitation="dataItem">
  <bspl-icon-button
    icon="done"
    color="success"
    [bsplTooltip]="'MASTER_DATA.agentGroupInvitations.accept.title' | translate"
    (click)="accept(invitation)"
  ></bspl-icon-button>
  <bspl-icon-button
    icon="close"
    color="danger"
    [bsplTooltip]="'MASTER_DATA.agentGroupInvitations.reject.title' | translate"
    (click)="reject(invitation)"
  ></bspl-icon-button>
</ng-template>
