<bspl-list-view
  [title]="tableTitle"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasCreating]="hasCreating"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="defaultDisplayFilterFormatter"
  (queryChange)="search($event)"
  (download)="download()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="airlineCodesList$ | async"
          formControlName="iataCode"
          [label]="'ADM_ACM.policyQuery.filters.labels.iataCode' | translate"
          [placeholder]="'ADM_ACM.policyQuery.filters.placeholders.iataCode' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="airlineDesignatorsList$ | async"
          formControlName="designator"
          [label]="'ADM_ACM.policyQuery.filters.labels.designator' | translate"
          [placeholder]="'ADM_ACM.policyQuery.filters.placeholders.designator' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="url"
          [label]="'ADM_ACM.policyQuery.filters.labels.url' | translate"
          [placeholder]="'ADM_ACM.policyQuery.filters.placeholders.url' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="comment"
          [label]="'ADM_ACM.policyQuery.filters.labels.comment' | translate"
          [placeholder]="'ADM_ACM.policyQuery.filters.placeholders.comment' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-md-3">
        <bspl-datepicker
          [label]="'ADM_ACM.policyQuery.filters.labels.lastUpdate' | translate"
          formControlName="lastUpdate"
          [placeholder]="'ADM_ACM.policyQuery.filters.placeholders.lastUpdate' | translate"
          [minDate]=""
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [linkTarget]="target"
  >
  </bspl-grid-table>
</bspl-list-view>
