<table>
  <tbody>
    <tr>
      <td colspan="20">
        <p class="label">Endorsement/Restrictions</p>
        <p>
          <span *ngFor="let issueInformation of emd.issueInformationForSales">
            {{ issueInformation.endorsementsRestrictions }}</span
          >
          &nbsp;
        </p>
        <p><span> &nbsp;</span></p>
      </td>
      <td colspan="8" rowspan="2" class="cell-align-top">
        <p class="label">Booking Ref.</p>
        <p>{{ emd.documentIdentification.pnrReference }}</p>
      </td>
      <td colspan="8" rowspan="3" class="audit-coupon">
        <p class="label">Audit coupon</p>
        <p>
          <img class="iata-logo" src="./assets/images/toplogo.png" alt="iata logo" />
        </p>
        <p>{{ emd.agent?.name }}</p>
        <p>{{ emd.auditCouponAgentCode }}</p>
        <p>{{ emd.documentAmounts?.fareCalculationModeIndicator }}</p>
      </td>
    </tr>

    <tr></tr>

    <tr>
      <td colspan="16">
        <p class="label">Passenger Name Not Transferable</p>
        <p>{{ emd.passengerInformation?.name }}</p>
        <p class="label passenger-spec-data">Passenger Specific Data</p>
        <p>{{ emd.passengerInformation?.specificData }} &nbsp;</p>
      </td>
      <td colspan="4" class="date cell-align-top">
        <p class="label">Date of Issue</p>
        <p>{{ emd.documentIdentification.dateOfIssue | date : 'ddMMMyy' }}</p>
      </td>
      <td colspan="8" class="cell-align-top">
        <p class="label">Orin</p>
        <div *ngIf="emd.formOfPaymentSummary?.type === formOfPaymentType.EX">
          {{ emd.issueInformationForSales[0]?.originalIssueDocumentNumber }}
          <p>
            <span>{{ emd.issueInformationForSales[0]?.originalIssueCityCode }}</span>
            <span>{{ emd.issueInformationForSales[0]?.originalIssueDateString }}</span>
            <span *ngIf="!emd.issueInformationForSales[0]?.originalIssueDateString">{{
              emd.issueInformationForSales[0]?.originalIssueDate | date : 'ddMMMyy' | uppercase
            }}</span>
            <span>{{ emd.issueInformationForSales[0]?.iataNumber }}</span>
          </p>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="emd.itineraryData.length">
      <tr class="flight-info">
        <td class="label itinerary-cell">X/O</td>
        <td class="label itinerary-cell" colspan="7">Not Good For Passage From</td>
        <td class="label itinerary-cell" colspan="2">Carrier</td>
        <td class="label itinerary-cell" colspan="2">Date</td>
        <td class="label itinerary-cell" colspan="4">N. Valid B</td>
        <td class="label itinerary-cell" colspan="4">N. Valid A</td>
        <td colspan="12" rowspan="5"></td>
      </tr>

      <tr class="flight-info" *ngFor="let flight of flights; let i = index">
        <td class="itinerary-cell">
          {{ flights[i - 1]?.stopoverCode }}
        </td>
        <td class="airport-name itinerary-cell" colspan="7">
          <span *ngIf="i !== 0" class="label">To: </span>
          {{ flight?.originAirportCode || flights[i - 1]?.destinationAirportCode }}
        </td>
        <td class="itinerary-cell" colspan="2">{{ flight?.carrier }}</td>
        <td class="date itinerary-cell" colspan="2">{{ flight?.flightDate }}</td>
        <td class="date itinerary-cell" colspan="4">{{ flight?.notValidBeforeDate }}</td>
        <td class="date itinerary-cell" colspan="4">{{ flight?.notValidAfterDate }}</td>
      </tr>

      <tr class="flight-info">
        <td class="itinerary-cell">{{ emd.itineraryData[lastAvailableFlightIndex]?.stopoverCode }}</td>
        <td class="airport-name itinerary-cell" colspan="7">
          <span class="label">To: </span>
          <span>{{ emd.itineraryData[lastAvailableFlightIndex]?.destinationAirportCode }}</span>
        </td>
        <td colspan="28"></td>
      </tr>
    </ng-container>
    <tr>
      <td colspan="8">
        <p class="label">EMD Coupon</p>
        <p *ngFor="let coupon of emd.emdCouponDetails">{{ coupon.couponNumber }}</p>
      </td>
      <td colspan="8">
        <p class="label">Reason for Issuance Sub Code</p>
        <p *ngFor="let reason of emd.emdCouponDetails">{{ reason.reasonForIssuanceCode }}</p>
      </td>
      <td colspan="20">
        <p class="label">Remarks</p>
        <p *ngFor="let remark of emd.emdCouponRemarks">{{ remark.remarks }}&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td class="taxes" colspan="8">
        <p class="label">Fare</p>
        <p>
          {{ emd.documentAmounts.fare?.currency }}
          {{ emd.documentAmounts.fare?.amount | absoluteDecimal : emd.decimalPrecision }}
        </p>
      </td>
      <td colspan="28">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="8">
        <p class="label">EQUIV</p>
        <p>
          {{ emd.documentAmounts.equivalentFarePaid?.currency }}
          {{ emd.documentAmounts.equivalentFarePaid?.amount | absoluteDecimal : emd.decimalPrecision }}
        </p>
      </td>
      <td colspan="28"></td>
    </tr>

    <tr>
      <td class="taxes" colspan="8">
        <p class="label no-margin">Tax</p>
        <p>
          <span *ngIf="emd.stdAmounts?.summarizedTaxes">
            {{ transformTax(emd.stdAmounts.summarizedTaxes[0]) }}
          </span>
        </p>
      </td>
      <td colspan="28"></td>
    </tr>

    <tr>
      <td class="taxes" colspan="8">
        <p class="label no-margin">Tax</p>
        <p>
          <span *ngIf="emd.stdAmounts?.summarizedTaxes"> {{ transformTax(emd.stdAmounts.summarizedTaxes[1]) }}</span>
        </p>
      </td>
      <td colspan="16">
        <p class="label">Form of Payment</p>
        {{ emd.formOfPaymentSummary?.type }}
        {{ emd.formOfPaymentSummary?.description }}
        {{ emd.formOfPaymentSummary?.entity }}
        {{ emd.formOfPaymentSummary?.maskedAccountNumber }}
        {{ emd.formOfPaymentSummary?.amount | number : numberPipePrecision }}
        {{ emd.formOfPaymentSummary?.addInfo }}
      </td>
      <td colspan="8">
        <p class="label">EMD Related Ticket Number</p>
        <p>{{ emd.emdCouponDetails[0].relatedDocument }}</p>
      </td>
      <td colspan="4">
        <p class="label">Tour Code</p>
        <p>{{ emd.documentIdentification.tourCode }}&nbsp;</p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="8">
        <p class="label no-margin">Tax</p>
        <p>
          <span *ngIf="emd.stdAmounts?.summarizedTaxes">
            {{ transformTax((emd.stdAmounts?.summarizedTaxes)[2]) }}
          </span>
        </p>
      </td>
      <td rowspan="2" colspan="4">
        <p class="label">CPN</p>
        <p>0</p>
      </td>
      <td rowspan="2" colspan="4">
        <p class="label">Airline Code</p>
        <p>{{ emd.transaction.airlineCode }}</p>
      </td>
      <td rowspan="2" colspan="4">
        <p class="label">From & Serial No.</p>
        <p>{{ emd.documentIdentification.documentNumber }}</p>
      </td>
      <td rowspan="2" colspan="4">
        <p class="label">CK.</p>
        <p>{{ emd.documentIdentification.checkDigit }}</p>
      </td>
      <td colspan="4" rowspan="2">
        <p class="label">TAX</p>
        <p>
          <span *ngIf="emd.stdAmounts?.summarizedTaxes && !emd.conjunctionDocumentNumber">{{
            transformTax(emd.stdAmounts.summarizedTaxes[0])
          }}</span>
          &nbsp;
        </p>
      </td>
      <td colspan="4" rowspan="2">
        <p class="label">TAX</p>
        <p>
          <span *ngIf="emd.stdAmounts?.summarizedTaxes && !emd.conjunctionDocumentNumber">{{
            transformTax(emd.stdAmounts.summarizedTaxes[1])
          }}</span>
          &nbsp;
        </p>
      </td>
      <td colspan="4" rowspan="2">
        <p class="label">TAX</p>
        <p>
          <span *ngIf="emd.stdAmounts?.summarizedTaxes && !emd.conjunctionDocumentNumber">
            {{ transformTax((emd.stdAmounts?.summarizedTaxes)[2]) }}
          </span>
          &nbsp;
        </p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="8">
        <p class="label no-margin">Total</p>
        <p class="no-margin">
          {{ emd.documentAmounts.total?.currency }}
          {{ emd.documentAmounts.total?.amount | absoluteDecimal : emd.decimalPrecision }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
