@import 'theme/variables/index';

$btn-blue-primary: $blue-primary;
$btn-blue-secondary: $blue-secondary;
$btn-blue-tertiary: $blue-tertiary;
$btn-blue-light: $blue-light;
$btn-gray-middle: $gray-middle;
$btn-gray-light: $gray-light;
$btn-gray-deep: $gray-deep;

.bspl-btn {
  // Display loading indication relative to the button
  position: relative;
  padding: 0 $spacing-s;
  height: 3.6rem;
  border-radius: $border-radius-small;
  border: 1px solid transparent;
  font-weight: $font-weight-medium;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  transition-property: background-color, border, color;
  transition-duration: 0.6s;
  cursor: pointer;

  &:focus {
    border: 1px solid;
    outline: none;

    &::before {
      $focus-border-offset: -0.3rem;

      content: '';
      position: absolute;
      top: $focus-border-offset;
      right: $focus-border-offset;
      bottom: $focus-border-offset;
      left: $focus-border-offset;
      border: 1px solid $blue-light;
      border-radius: $border-radius-small;
    }
  }

  &:disabled {
    opacity: 1;
  }

  span {
    display: inline-block;
    line-height: 3.4rem;
  }

  i {
    vertical-align: -$spacing-xxxs;

    &.icon-start {
      margin-right: $spacing-xxs;
    }

    &.icon-end {
      margin-left: $spacing-xxs;
    }
  }

  &-loading {
    cursor: wait !important;

    i,
    span {
      visibility: hidden;
    }
  }

  &-primary {
    background-color: $btn-blue-primary;
    border-color: $btn-blue-primary;
    color: $white;

    &:hover,
    &:focus {
      background-color: $btn-blue-secondary;
      border-color: $btn-blue-secondary;
    }
  }

  &-secondary {
    background-color: $btn-blue-light;
    border-color: $btn-blue-light;
    color: $white;

    &:hover,
    &:focus {
      background-color: $btn-blue-tertiary;
      border-color: $btn-blue-tertiary;
    }
  }

  &-primary,
  &-secondary {
    &:disabled {
      background-color: $btn-gray-middle;
      border-color: $btn-gray-middle;
      color: $btn-gray-light;
    }
  }

  &-tertiary {
    background-color: $white;
    border-color: $btn-blue-light;
    color: $btn-blue-light;

    &:hover {
      background-color: hover-color($white);
    }

    &:hover,
    &:focus {
      border-color: $btn-blue-light;
    }

    &:disabled {
      background-color: $white;
      border-color: $btn-gray-deep;
      color: $btn-gray-deep;
    }

    .spinner-ball {
      background-color: $btn-blue-light;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
    border-radius: $spacing-xxs;
    border: none;
    background-color: $white;

    &:hover {
      background-color: rgba(108, 118, 128, 0.07);
    }

    &:focus {
      border: none;
      background-color: rgba(108, 118, 128, 0.1);
    }

    &:disabled {
      i.icon-start {
        color: $btn-gray-middle;
      }
    }

    i.icon-start {
      margin: 0;
      color: $btn-blue-primary;
    }
  }
}
