@import 'theme/variables/index';

::ng-deep .checkbox-control {
  bspl-checkbox {
    border: 1px solid transparent;
    border-radius: $border-radius-small;
    margin-left: -$spacing-xs;
    position: absolute;

    .checkbox-container {
      margin: 0.7rem $spacing-xs;
    }
  }

  &.checkbox-control-changed {
    bspl-checkbox {
      border-color: $blue-light;
    }
  }
}
