@import 'theme/variables/index';

::ng-deep .dropdown-control {
  bspl-select {
    border: 1px solid transparent;
    border-radius: $border-radius-small;
  }

  &.dropdown-control-changed {
    bspl-select {
      border-color: $blue-light;
    }
  }
}
