// STYLES FOR CHECKBOX
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: $font-size-m;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 16px;
  color: $blue-primary;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid $blue-primary;
  border-radius: 3px;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: transparent;
  border: 1px solid $blue-primary;
  border-radius: 3px;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: $blue-primary;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.custom-checkbox .checkmark::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
}

/* STYLES FOR SWITCH */
.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner::before,
.onoffswitch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  color: $white;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner::before {
  content: '';
  padding-left: $spacing-xxs;
  background-color: $gray-deep-middle;
}

.onoffswitch-inner::after {
  content: '';
  padding-right: $spacing-xxs;
  background-color: $white;
  text-align: right;
  border: solid 1px $blue-primary;
  border-radius: 50px;
}

.onoffswitch-switch {
  display: block;
  width: 25px;
  margin: 0;
  background: $white;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid;
  right: 26px;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
  background-color: $blue-primary;
}

$checkbox-size: 15px;

/*
  This is used in bspl-checkbox component to style checkboxes
  and also in
  bspl-select to style checkboxes when multiselect is true
*/

.checkbox-container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;

  /* Hide default checkbox */
  .default-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Creation of custom checkbox */
  .custom-checkbox {
    background-color: $white;
    border: 1px solid $gray-deep;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    min-width: $checkbox-size;
    min-height: $checkbox-size;
    align-self: center;
  }

  /* Checked checkbox */
  input:checked ~ .custom-checkbox {
    border: 1px solid $blue-light;
    background-color: $blue-light;
  }

  input:disabled ~ .custom-checkbox {
    border: 1px solid $gray-middle;
    background-color: $gray-light;
    cursor: not-allowed;
  }

  input:disabled:checked ~ .custom-checkbox {
    border: 1px solid $gray-middle;
    background-color: $gray-middle;
  }

  /* Show the checkbox when is checked */
  input:checked ~ .custom-checkbox::after {
    display: block;
  }

  /* Hide checkbox indicator when is not checked */
  .custom-checkbox::after {
    content: '';
    position: absolute;
    display: none;
  }

  %base-checkbox-design {
    left: 4.1px;
    top: 1.5px;
    width: 4.8px;
    height: 8.4px;
    border: solid $white;
    border-radius: 0.1px;
  }

  /* Style the checkbox indicator */
  .custom-checkbox.normal::after {
    @extend %base-checkbox-design;

    border-width: 0 2.1px 2.1px 0;
    -webkit-transform: rotate(48.3deg);
    -ms-transform: rotate(48.3deg);
    transform: rotate(48.3deg);
  }

  .custom-checkbox.minus::after {
    @extend %base-checkbox-design;

    border-width: 0 2.1px 0 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .checkbox-label {
    align-self: center;
    letter-spacing: normal;
    color: $gray-deep;
    margin-left: $spacing-xxs;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:empty {
      margin-left: 0;
    }
  }
}
