@import 'theme/variables/index';

$icon-size: $font-size-l;
$input-height: 36px;
$input-font-size: $font-size-m;
$input-side-padding: $spacing-xs;
$input-padding-right-icon: calc(#{$input-side-padding} * 1.5 + #{$icon-size});
$default-border-color: $gray-middle;
$invalid-border-color: $red;
$border-radius: $border-radius-small;
$background-disabled-field: $gray-light;
$box-shadow-focused: $shadow-z-1;
$cursor-locked: text;
$cursor-readonly: text;
$cursor-disabled: default;

@mixin control-common() {
  display: block;
  margin-bottom: $spacing-s;
}

@mixin control-error() {
  .control__error {
    display: none;
    margin-top: $spacing-xxs;
    color: $red;
    font-size: $font-size-s;
    line-height: $line-height-s;
  }

  &.ng-invalid.control--showErrors:not(.control--open) {
    margin-bottom: $spacing-xxs;

    .control__wrapper input:not(.input--extra),
    .control__wrapper textarea,
    .control__wrapper .ng-select-container,
    .control__wrapper .p-inputnumber .p-inputnumber-button {
      border: 1px solid $invalid-border-color !important;
    }

    .radio-buttons-wrapper {
      .radio-button {
        border: 1px solid $invalid-border-color;

        & + .radio-button {
          border-left: 0;
        }
      }
    }

    .control__error {
      display: block;
    }
  }
}

@mixin input-common() {
  @include input-dimensions();

  color: $dark;
  text-align: inherit;
  font-size: $input-font-size;
  border-radius: $border-radius;

  &::placeholder {
    font-size: inherit;
    color: $gray-middle;
  }

  &:focus {
    @include input-focus();
  }

  &[disabled] {
    background-color: $background-disabled-field;
  }

  &[type='hidden'] ~ i {
    display: none;
  }
}

@mixin input-dimensions() {
  width: 100%;
  height: $input-height;
  padding: $spacing-xxs $input-side-padding;
  border: 1px solid $default-border-color;
}

@mixin input-focus() {
  border: 1px solid $blue-light;
  box-shadow: $box-shadow-focused;
  outline: none;
}

@mixin input-label() {
  color: $gray-deep;
  cursor: text;
  font-size: $input-font-size;
  line-height: $line-height-m;
  margin-bottom: $spacing-xxxs;
}

@mixin input-locked() {
  background-color: $background-disabled-field;
  color: $gray-dark;
  padding-right: $input-padding-right-icon;
  border: 1px solid $default-border-color;
  cursor: $cursor-locked;

  &:focus {
    box-shadow: none;
    border: 1px solid $default-border-color;
  }
}

@mixin input-icon {
  color: $gray-middle;
  font-size: $icon-size;
  position: absolute;
  right: $input-side-padding;
  top: calc(50% - (#{$icon-size} / 2));
  cursor: default;
}

@mixin input-prefix {
  color: $dark;
}
