@import 'theme/variables/index';

// TODO: we're going to remove all fonts type except `woff2` in order to increase the performance decreasing the app size.
// In addition, we're going to keep Roboto-Regular.base64 and delete the `woff2` related one due to a PDF font issue
// more information: https://nfe-bsplink.atlassian.net/browse/FCA-10072
@mixin font-face($font-name, $file-name, $weight: $font-weight-normal, $style: normal) {
  $path: '/assets/fonts/' + quote($font-name) + '/' + $file-name;

  @font-face {
    font-family: quote($font-name);
    src: url($path + '.woff2') format('woff2'), url($path + '.woff') format('woff'),
      url($path + '.ttf') format('truetype'), url($path + '.svg##{$font-name}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(Roboto, 'Roboto-Regular');
@include font-face(Roboto, 'Roboto-Italic', $font-weight-normal, $font-weight-italic);
@include font-face(Roboto, 'Roboto-Medium', $font-weight-medium);
@include font-face(Roboto, 'Roboto-MediumItalic', $font-weight-medium, $font-weight-italic);
@include font-face(Roboto, 'Roboto-Bold', $font-weight-bold);
@include font-face(Roboto, 'Roboto-BoldItalic', $font-weight-bold, $font-weight-italic);
