.bspl-group-label {
  display: block;
  color: $gray-deep;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 0.3rem;
}

.bspl-input-group {
  display: flex;
  // todo: should be refactoring with sibling elements
  .input-left,
  .input-right {
    flex: 1;

    .actions-container {
      z-index: 1;
    }
  }

  .input-left {
    input {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      position: relative;

      &:focus {
        z-index: 1;
      }
    }
  }

  .input-right {
    margin-left: -1px;

    input {
      position: relative;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
