html {
  font-size: 62.5%;
  position: relative;
  // Sticky footer in IE11 https://gist.github.com/palicko/26b327cd2198e52c25b13485b4dd02bc
  display: flex;
  min-height: 100%;

  body {
    font-family: $font-family;
    font-size: $font-size-m;
    line-height: $line-height-m / $font-size-m;
    font-weight: $font-weight-normal;
    color: $blue-primary;
    background-color: $white;
    display: flex;
    min-height: 100vh;
    width: 100%;
    min-width: 1280px; // Min supported width
    margin: 0;
    padding: 0;

    &.modal-opened {
      overflow: hidden;
    }

    .disabled {
      background: $gray-deep;
      border-color: $gray-deep;
    }

    .custom-container {
      padding: 2rem;
    }

    .ico-btn {
      width: 18px;
      height: 18px;
    }

    .error {
      border-color: $red !important;
    }

    bspl-root {
      width: 100%;
    }

    button {
      border: 0;

      &:focus {
        border: none;
        outline: none;
      }

      &[disabled] {
        cursor: not-allowed;
      }
    }

    td,
    th {
      padding: 0;
    }

    .link {
      // override bootstrap style
      color: $blue-light !important;
      cursor: pointer;
      text-decoration: none;
    }
  }

  *:focus {
    outline: none;
  }
}
