@import 'theme/variables/index';

.row {
  $large-gutters: $spacing-xxxxl;
  $border-gray: 1px solid $gray-neutral;

  &-with-large-gutters {
    margin: 0 (-$large-gutters);

    [class*='col-'] {
      padding: 0 $large-gutters;
    }
  }

  &-with-separators {
    [class*='col-'] {
      border-right: $border-gray;

      &:last-child {
        border: none;
      }
    }
  }
}
