.pdf-export {
  display: block;
  // Should override all other styles
  padding: 0 5rem !important;
  // Fix issue with overlapping text in jsPdf
  word-spacing: 0.4rem;

  .pdf-page-break {
    // Give the element after the page break a margin from the top of the new page
    margin-bottom: 3rem;
  }

  .pdf-hide-in {
    // Should have priority over other styles.
    display: none !important;
  }

  .pdf-show-in {
    // Should have priority over other styles.
    display: block !important;
  }

  .pdf-no-visible {
    visibility: hidden;
  }

  .pdf-expand {
    //Expand the item to the width of its container
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .pdf-img {
    display: block !important;
    padding: $spacing-m $spacing-xxxl;
  }

  .pdf-no-border {
    border: none !important;
  }

  .pdf-padding-left-xxs {
    padding-left: $spacing-xxs !important;
  }

  .pdf-padding {
    padding-bottom: 0 !important;
  }

  //PDF userInputList
  .pdf-list {
    background-color: $white !important;
    display: block !important;
    padding: $spacing-m $spacing-xxl !important;
    margin-left: $spacing-xxs !important;
    line-height: 30px !important;
  }
}
