.pdf-new-export {
  display: block;
  // Should override all other styles
  padding: 0 5rem !important;
  // Fix issue with overlapping text in jsPdf
  word-spacing: 0.4rem;

  .pdf-hide-in {
    // Should have priority over other styles.
    display: none !important;
  }

  .pdf-show-in {
    // Should have priority over other styles.
    display: block !important;
  }

  .pdf-img {
    // Should have priority over other styles.
    display: block !important;
    width: 9%;
    padding-left: $spacing-s;
  }

  .pdf-no-visible {
    visibility: hidden;
  }

  .pdf-page-break {
    // Give the element after the page break a margin from the top of the new page
    margin-bottom: $spacing-xxs !important;
  }

  .pdf-expand {
    //Expand the item to the width of its container
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .pdf-expand * {
    padding: 0 $spacing-xxs !important;
    margin: 0 !important;
  }

  .pdf-no-border {
    border: none !important;
  }

  .pdf-font-size {
    font-size: $font-size-s !important;
  }

  .pdf-font-size-xs {
    font-size: 1rem !important;
  }

  .pdf-no-margin {
    margin: 0 !important;
  }

  .pdf-margin-top-l {
    margin-top: $spacing-l !important;
  }

  .pdf-margin-bottom-xs {
    margin-bottom: $spacing-xs !important;
  }

  .pdf-padding-left-s {
    padding-left: $spacing-s !important;
  }

  .pdf-no-padding-left {
    padding-left: 0 !important;
  }

  .pdf-no-margin-left {
    margin-left: 0 !important;
  }

  .pdf-header-figure {
    padding: $figure-padding $spacing-xxs !important;
    min-width: 8rem !important;
  }

  h4.pdf-padding {
    padding-top: $spacing-xxxs !important;
  }

  div.reason.pdf-reason {
    margin: $spacing-xxs 0 !important;
    padding: $spacing-xxxs !important;
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
  }

  //PDF userInputList
  .pdf-list {
    background-color: $white !important;
    display: block !important;
    padding: $spacing-xs !important;
    margin-left: 0 0 $spacing-m $spacing-m !important;
    line-height: 20px !important;
  }

  .pdf-list-content {
    padding: 0 0 $spacing-xs $spacing-m !important;
  }
}
