.custom-radio {
  input[type='radio'] {
    display: none;
  }

  input[type='radio'] + label {
    color: $blue-primary;
  }

  input[type='radio'] + label span {
    background: url('/assets/images/radio.png');
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: -0.1rem $spacing-xs 0 0;
    vertical-align: middle;
    width: 16px;
  }

  input[type='radio']:checked + label span {
    background: url('/assets/images/radio-check.png');
  }
}
