@import 'theme/variables/index';

@mixin custom-scrollbar() {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($gray-dark, 0.1);
    border-radius: $border-radius-small;
  }
}
