$handle-size: 24px;

p-slider {
  display: block;
  margin: $spacing-s 0;

  &.focussed {
    .p-slider .p-slider-range {
      background: #1e32fa;
    }
  }

  .p-slider {
    background: $gray-middle;

    .p-slider-range {
      background: #667380;
    }

    .p-slider-handle {
      background: white;
      border-radius: 100%;
      box-shadow: 0 3px 6px rgba(0, 14, 67, 0.2);
      height: $handle-size !important;
      width: $handle-size !important;
      top: calc(-#{$handle-size} / 2) !important;
    }
  }

  .p-slider-horizontal {
    height: 4px;
  }
}
