@import 'theme/variables/index';

$box-shadow-color: rgba(0, 47, 91, 0.1);
$figure-title-height: $line-height-m;
$figure-value-height: $line-height-l;
$figure-padding: $spacing-xxxs;
$figure-height: ($figure-padding * 2) + $figure-value-height + $figure-title-height;

.status-header {
  border: 1px solid $gray-dark;
  border-radius: $border-radius-large;

  .status-header-main {
    display: flex;
    position: relative;
    box-shadow: 0 2px 8px 0 $box-shadow-color;
  }

  .actions {
    display: flex;
    flex: 0 0 auto;
    padding: $spacing-m;

    .action:not(:first-child) {
      margin-left: $spacing-s;
    }

    .action-menu-container {
      position: absolute;
      top: 60px;
      right: $spacing-m;
      z-index: $z-index-layer-5;

      .actions-menu {
        padding: $spacing-xs 0;
        min-width: 130px;
        margin: $spacing-xxs 0 0 0;
        text-transform: capitalize;
        background-color: $white;
        border-radius: $border-radius-large;
        text-align: left;
        box-shadow: 0 2px 8px 0 $box-shadow-color;

        &:hover {
          cursor: default;
        }

        li {
          list-style: none;
          line-height: 24px;
          font-size: $font-size-m;
          padding: $spacing-xxs $spacing-s;

          &:hover {
            cursor: pointer;
            background-color: $gray-neutral;
          }

          &.actions-menu-item-disabled {
            cursor: not-allowed;
            color: $gray-middle;
          }
        }
      }
    }

    bspl-icon-button {
      .icon-button {
        border: 1px solid $blue-light;
        width: 3.6rem;
        height: 3.6rem;

        i {
          padding: 1px 0 0 2px;
        }

        &.icon-button-default {
          color: $blue-light;
          margin: 0 0 0 $spacing-s;
        }

        &.icon-button-disabled {
          margin: 0 0 0 $spacing-s;
          border: 1px solid $gray-middle;
          color: $gray-middle;
        }

        &:not(.icon-button-disabled) {
          &:hover {
            color: $blue-light;
          }
        }
      }
    }
  }

  .jumpTo__links {
    // TODO: Should be moved to acordion-selector when we start using the status-header everywhere.
    padding: $spacing-s $spacing-m !important;
  }
}

.status-figures {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .figure {
    border-right: 1px solid $gray-neutral;
    margin: $spacing-xs 0;
    padding: $figure-padding $spacing-m;
    height: $figure-height;
    min-width: 15rem;

    .figure-title {
      color: $gray-deep;
      position: relative;

      bspl-badge-information {
        margin-left: $spacing-xxs;
        vertical-align: text-bottom;
      }
    }

    .figure-value {
      font-size: $font-size-xl;
      line-height: $figure-value-height;

      &.inactive {
        color: $gray-middle;
      }
    }

    &.figure-image {
      display: flex;
      align-items: center;

      img {
        height: 100%;
        width: auto;
      }
    }

    &.inactive {
      .figure-value {
        color: $gray-middle;
      }
    }

    &:last-child {
      border-right: none;
    }
  }
}
