.table-custom {
  thead {
    background-color: $gray-deep;
    border-bottom: 1px solid $gray-deep;

    tr {
      th:first-child {
        border-top-left-radius: 6px;
      }

      th:last-child {
        border-top-right-radius: 6px;
      }
    }

    th {
      padding: 27px 21px;
      color: $white;
      font-weight: bold;
      font-size: $font-size-m;
      width: 25%;
    }
  }

  tbody {
    tr {
      background-color: $white;

      &:nth-child(2n) {
        background-color: $gray-neutral;
      }

      th {
        padding: 17px 21px;
        vertical-align: middle;
        font-size: $font-size-m;
        line-height: 16px;
      }

      td:last-child {
        input {
          border-top-right-radius: 0.25rem !important;
          border-bottom-right-radius: 0.25rem !important;
        }
      }
    }

    td {
      padding: 5px 21px;
      font-weight: normal;

      input {
        padding-top: 12px;
        padding-bottom: 12px;
        color: $blue-primary;
        font-size: $font-size-m;
      }
    }

    td.title {
      color: $blue-primary;
      font-size: $font-size-m;
      line-height: 16px;
    }
  }

  tfoot {
    background-color: $gray-light;
    color: $blue-primary;
    font-size: $font-size-m;

    tr {
      td:first-child {
        border-bottom-left-radius: 6px;
      }

      td:last-child {
        border-bottom-right-radius: 6px;
      }
    }

    td {
      padding: 27px 21px;
    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    .isNumber {
      text-align: left;
      padding: 27px 33px;
    }
  }
}
