%textarea-custom {
  border-radius: 4px;
  background-color: $white;
  padding: 0 5px;
  border: 1px solid $gray-deep;
  outline: none;
  overflow: auto;
}

.textarea-custom {
  @extend %textarea-custom;

  resize: none !important;
}
