.tooltip-countries {
  position: relative;
  color: $blue-light;
  cursor: pointer;
}

.tooltip-countries .top {
  min-width: 400px;
  max-width: 600px;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: $spacing-xs;
  color: $blue-light;
  background-color: $white;
  font-weight: normal;
  font-size: $font-size-m;
  border-radius: 5px;
  border: 1px solid $blue-light;
  position: absolute;
  z-index: $z-index-layer-8;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba($dark, 0.5);
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.8s;
}

.tooltip-countries:hover .top {
  visibility: visible;
  opacity: 1;
}

.tooltip-countries .top i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1.2rem;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip-countries .top i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: $blue-light;
  box-shadow: 0 1px 8px rgba($dark, 0.5);
}

.bspl-tooltip {
  display: inline-block;
  cursor: pointer;

  .bspl-tooltip-text {
    position: absolute;
    background-color: $blue-light;
    border: 1px solid $blue-light;
    color: $white;
    width: auto;
    white-space: nowrap !important;
    font-weight: normal;
    text-align: left;
    border-radius: 2px;
    padding: 0.8em;
    font-size: $font-size-m;
    transition: opacity 0.2s;
    opacity: 0;
    display: none;
    z-index: $z-index-layer-8;
  }

  &:hover .bspl-tooltip-text {
    opacity: 1;
    display: block;
  }

  img {
    width: 12px;
    height: 12px;
  }

  &.top {
    .bspl-tooltip-text {
      bottom: 20px;
      left: 50%;

      &::after {
        content: ' ';
        position: absolute;
        top: 100%; /* At the top of the tooltip */
        left: 50%;
        margin-left: -$spacing-xxs;
        border-width: 5px;
        border-style: solid;
        border-color: $blue-light transparent transparent transparent;
      }
    }
  }

  &.right {
    .bspl-tooltip-text {
      top: -4px;
      left: 105%;

      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        right: 100%; /* To the right of the tooltip */
        margin-top: -$spacing-xxs;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $blue-light transparent transparent;
      }
    }
  }

  &.bottom {
    .bspl-tooltip-text {
      top: 20px;
      left: 50%;

      &::after {
        content: ' ';
        position: absolute;
        bottom: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -$spacing-xxs;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $blue-light transparent;
      }
    }
  }

  &.left {
    .bspl-tooltip-text {
      top: -10px;
      right: 15%;

      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 100%; /* To the left of the tooltip */
        margin-top: -$spacing-xxs;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent $blue-light;
      }
    }
  }
}

.ellipsis-parent {
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.open {
    &[aria-label]::after {
      display: none !important;
    }
  }

  &:hover {
    position: relative;
  }

  &[aria-label]::after {
    display: none;
    content: attr(aria-label);
    left: 0;
    top: 100%;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    background-color: $blue-light;
    border: 1px solid $blue-light;
    color: $white;
    width: auto;
    white-space: normal;
    font-weight: normal;
    text-align: left;
    border-radius: 2px;
    padding: 0.8em;
    font-size: $font-size-m;
    overflow-y: auto;
    z-index: $z-index-layer-8;
  }

  &[aria-label]:hover::after {
    display: block;
  }
}
