@import 'theme/variables/index';

@mixin large-screen() {
  @media screen and (min-width: 80rem) {
    @content;
  }
}

$border-width: 1px;
$border-gray: $border-width solid $gray-neutral;

:host {
  margin-top: $spacing-m;

  ::ng-deep {
    .no-margin {
      margin-bottom: 0 !important;
    }

    bspl-floating-panel {
      margin-bottom: $spacing-xl;
    }

    .page-section {
      display: block;
      margin-bottom: $spacing-xl;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .accordionItem .accordionItem__content {
      position: relative;
    }

    .section-container {
      display: block;
      border-bottom: $border-gray;
      padding-bottom: $spacing-xl;

      &.no-section-bottom-border {
        border-bottom: none;
        margin-bottom: -$spacing-m;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      @include large-screen() {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .section {
      display: block;
      border-right: 0;
      padding: $spacing-xl 0;
      margin-bottom: -1px;

      @include large-screen() {
        &.full {
          width: 100%;
          padding: $spacing-xl 0;
        }

        &.half,
        &.one-third {
          padding: 0 $spacing-xxxxl $spacing-xl $spacing-xxxxl;
        }

        &.half {
          width: 50%;
          border-bottom: $border-gray;
          margin-top: $spacing-xl;
          padding-bottom: $spacing-xl;
          position: relative;

          bspl-simple-table::before {
            position: absolute;
            content: '';
            width: 1px;
            left: 0;
            top: 0;
            bottom: $spacing-xl;
            border-right: $border-gray;
          }
        }

        &.one-third {
          width: 33.33%;
          border-right: $border-gray;
          padding-bottom: 0;
        }

        &.half:nth-child(2n + 1),
        &.one-third:first-child {
          padding-left: 0;
          margin-left: -1px;
        }

        &.half:nth-child(2n),
        &.one-third:last-child {
          border-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}
