<div *ngIf="document$ | async; else noDocumentFound">
  <div [ngSwitch]="documentType$ | async">
    <bspl-ticket
      *ngSwitchCase="facsimileType.TKTT"
      [ticket]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
      (open)="openDocument($event)"
    ></bspl-ticket>
    <bspl-acdm-document
      *ngSwitchCase="facsimileType.ADM"
      [facsimileType]="facsimileType.ADM"
      [acdm]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
      (open)="openDocument($event)"
    ></bspl-acdm-document>
    <bspl-acdm-document
      *ngSwitchCase="facsimileType.ACM"
      [facsimileType]="facsimileType.ACM"
      [acdm]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
      (open)="openDocument($event)"
    ></bspl-acdm-document>
    <bspl-refund-document
      *ngSwitchCase="facsimileType.RFND"
      [refund]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
      (open)="openDocument($event)"
    ></bspl-refund-document>
    <bspl-emd
      *ngSwitchCase="facsimileType.EMD"
      [emd]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
      (open)="openDocument($event)"
    ></bspl-emd>
    <bspl-tasf
      *ngSwitchCase="facsimileType.TASF"
      [tasf]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
      (open)="openDocument($event)"
    ></bspl-tasf>
    <bspl-canx
      *ngSwitchCase="facsimileType.VOID"
      [canx]="document$ | async"
      [relatedDocuments]="relatedDocuments$ | async"
      [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
    ></bspl-canx>
    <ng-container *ngSwitchDefault>
      <div *ngTemplateOutlet="unsupportedDocuments"></div>
    </ng-container>
  </div>
</div>

<ng-template #noDocumentFound>
  <bspl-document-not-found
    [documentNumber]="documentNumberNotFound$ | async"
    [relatedDocuments]="relatedDocuments$ | async"
    [isLoadingRelatedDocuments]="isLoadingRelatedDocuments"
  ></bspl-document-not-found>
</ng-template>

<ng-template #unsupportedDocuments>
  <pre>
  {{ document$ | async | json }}
  </pre>
</ng-template>
