@import 'theme/variables/index';

$steps-title-font: $font-size-l;
$steps-data-font: $font-size-m;
$steps-separation: 40px;
$circle-size: 9px;

:host {
  display: flex;
  margin: $steps-separation 0;
  flex-direction: row;
  justify-content: flex-start;

  .stepperItem--side {
    position: relative;
    font-size: $circle-size;

    .circle {
      background-color: $white;
      border: 1px solid $blue-primary;
      border-radius: 100%;
      width: 1em;
      height: 1em;
      display: inline-block;

      &.circle--active {
        background-color: $blue-primary;
      }
    }

    .line {
      position: absolute;
      top: 1em;
      left: calc(0.5em - 0.5px);
      height: calc(100% + #{$steps-separation});
      border-left: 1px solid $blue-primary;

      &--dashed {
        border-left-style: dashed;
      }
    }
  }

  &:first-child {
    margin-top: 0;
    padding-top: $spacing-xxs;
  }

  &:last-child {
    margin-bottom: 2.6rem;

    .stepperItem--side .line {
      display: none;
    }
  }

  .stepperItem--main {
    width: 100%;
    margin-left: 1em;
    margin-top: calc((#{-$steps-title-font} / 2) + (#{$circle-size} / 2) - 0.1em);

    .stepperItem--hgroup {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: -0.05em;
      padding-bottom: $spacing-s;
    }

    .stepperItem--title,
    .stepperItem--date {
      flex-grow: 1;
    }

    .stepperItem--title {
      font-size: $steps-title-font;
      line-height: $line-height-l;
      font-weight: $font-weight-medium;
    }

    .stepperItem--date {
      text-align: right;
      font-size: $steps-data-font;
      color: $gray-deep;
    }

    .stepperItem--content {
      font-size: $font-size-m;
      word-break: break-word;
    }
  }
}
