<!-- active -->
<div class="stepperItem--side pdf-hide-in">
  <div class="circle" [ngClass]="{ 'circle--active': isActive }"></div>
  <div class="line" [ngClass]="{ 'line--dashed': isDashedLine }"></div>
</div>

<div class="stepperItem--main">
  <div class="stepperItem--hgroup">
    <div class="stepperItem--title" [hidden]="!title">
      {{ title }}
    </div>
    <div class="stepperItem--date" [hidden]="!date">
      {{ date }}
    </div>
  </div>
  <div class="stepperItem--content">
    <ng-content></ng-content>
  </div>
</div>
