@import 'theme/variables/index';

$chart-margin: $spacing-xl;

:host {
  .bar-charts-container {
    background: $gray-subtle;
    border-radius: 4px;
    padding: $spacing-xl;
    margin: $spacing-xl 0;

    bspl-bar-chart {
      display: inline-block;
      width: calc(50% - (#{$chart-margin} / 2));

      &:first-child {
        margin-right: $chart-margin;
      }
    }
  }
}
