<div class="container-fluid custom-container">
  <div class="power-bi-wrapper">
    <bspl-power-bi [token]="powerbiToken$ | async"></bspl-power-bi>
  </div>

  <ng-container *ngIf="isOldDashboardVisible">
    <bspl-filter-template
      [filters]="form.value"
      [filterFormatter]="displayFormatter"
      [filterTitle]="subtabTitle | translate"
      [isFilterValid]="isFilterValid$ | async"
      [isFilterExpanded]="true"
      [predefinedFilters]="predefinedFilters"
      (searchEvent)="saveFilters()"
      (resetEvent)="resetFilters()"
      (removeTagEvent)="removeTag($event)"
    >
      <form filterSearchForm [formGroup]="form">
        <!-- Highlighted filter -->
        <div class="highlighted-filter">
          <bspl-select
            formControlName="currency"
            [options]="currencyList$ | async"
            [label]="'DASHBOARD.tabs.sales.filters.labels.currency' | translate"
            [placeholder]="'DASHBOARD.tabs.sales.filters.placeholders.currency' | translate"
            [locked]="isCurrencyFilterLocked"
            [clearable]="false"
          >
          </bspl-select>
          <span>{{ 'DASHBOARD.tabs.sales.filters.highlightedCurrencyText' | translate }}</span>
        </div>

        <!-- Other filters -->
        <div class="row">
          <div class="form-group col-md-3">
            <bspl-select
              formControlName="bsp"
              [options]="bspCountriesList$ | async"
              [label]="'DASHBOARD.tabs.sales.filters.labels.bsp' | translate"
              [placeholder]="'DASHBOARD.tabs.sales.filters.placeholders.bsp' | translate"
              [locked]="isBspFilterLocked"
              [multiple]="true"
            >
            </bspl-select>
          </div>
        </div>
      </form>
    </bspl-filter-template>

    <ng-container *ngIf="isDashboardVisible; else dashboardLocked">
      <bspl-spinner [isLoading]="barChartsLoading">
        <div
          *ngIf="grossSalesAirlineIndustryBarChartData || topGrossSalesAgentsBarChartData"
          class="bar-charts-container"
        >
          <bspl-bar-chart
            [data]="grossSalesAirlineIndustryBarChartData"
            [title]="grossSalesAirlineIndustryBarChartTitle | translate"
            [stacked]="true"
          ></bspl-bar-chart>
          <bspl-bar-chart
            type="horizontalBar"
            [data]="topGrossSalesAgentsBarChartData"
            [title]="topGrossSalesAgentsBarChartTitle | translate"
          ></bspl-bar-chart>
        </div>
      </bspl-spinner>
    </ng-container>
  </ng-container>
</div>

<ng-template #dashboardLocked>
  <bspl-locked-state [message]="'DASHBOARD.tabs.sales.dashboardLockedMessage' | translate"></bspl-locked-state>
</ng-template>
