<div class="tab-menu-container">
  <div class="tab-header-group" [ngClass]="type">
    <div
      class="tab-header"
      *ngFor="let tab of openedTabs; let i = index"
      [ngClass]="type"
      [class.active]="!tab.disabled && tab.active"
      [class.disabled]="tab.disabled"
      (click)="activateTab(tab)"
      (bsplMiddleClick)="tabMiddleBtnClicked(tab)"
    >
      <span>{{ tab.title | translate }}</span>
      <img class="icon" *ngIf="tab.iconSrc" [src]="tab.iconSrc" alt="" />
      <span class="close-btn" *ngIf="tab.closable">
        <i class="material-icons" (click)="closeTab(tab)">close</i>
      </span>
    </div>
  </div>
  <div class="bottom-shadow-container"></div>
</div>
