<p class="paragraph__text">
  {{ 'postBillingDisputes.dialogs.pbdIssue.info' | translate }}
</p>
<div class="data__table">
  <div class="row line__data">
    <div class="col">{{ 'postBillingDisputes.dialogs.pbdIssue.form.transactionCode' | translate }}</div>
    <div class="col">{{ pbd?.transactionCode }}</div>
  </div>
  <div class="row line__data">
    <div class="col">{{ 'postBillingDisputes.dialogs.pbdIssue.form.documentNumber' | translate }}</div>
    <div class="col">{{ pbd?.documentNumber }}</div>
  </div>
  <div class="row line__data">
    <div class="col">{{ 'postBillingDisputes.dialogs.pbdIssue.form.airline' | translate }}</div>
    <div class="col">{{ pbd?.airline.iataCode }} / {{ pbd?.airline.localName }}</div>
  </div>
  <div class="row line__data">
    <div class="col">{{ amountLbl }}</div>
    <div class="col">{{ pbd?.pbdAmount | number : '1.2-2' }}</div>
  </div>
</div>

<div class="row" [formGroup]="form">
  <div class="col">
    <bspl-textarea
      [label]="'postBillingDisputes.dialogs.pbdIssue.form.reason.lbl'"
      [placeholder]="'postBillingDisputes.dialogs.pbdIssue.form.reason.placeholder'"
      [isDisabled]="pbd && pbd.id != null"
      formControlName="reason"
      [autofocus]="true"
    ></bspl-textarea>
    <bspl-upload
      [isDragAndDropActive]="true"
      [validationRules]="validationRules"
      [mode]="uploadMode"
      [resetMode]="uploadMode"
      responseFieldName="id"
      formControlName="fileIds"
      [uploadPath]="uploadPath"
      (uploadStarted)="onUploadStarted()"
      (uploadFinished)="onUploadFinished()"
    ></bspl-upload>
  </div>
</div>
