@import 'components/form-list/form-list';
@import 'components/form-page/form-page';
@import 'components/inline-list/inline-list';
@import 'theme/app/custom-control';

$reduced-padding: 0.8rem;

:host {
  bspl-vertical-stepper-item {
    .reasonContainer {
      background-color: white;
      border-radius: 5px;
      box-shadow: $shadow-z-1;
      padding: $spacing-xl;

      .agentName {
        color: $blue-light;
        font-weight: 500;
        font-size: $font-size-l;
        margin-bottom: $spacing-xs;
      }

      .agentCode {
        color: $gray-deep;
        margin-bottom: $spacing-m;
      }

      .reasonText {
        color: $blue-primary;
        white-space: pre-wrap;
      }
    }
  }

  .document--section {
    margin-bottom: $spacing-xxl;

    .listFields {
      .listLine {
        margin: 0;

        &:last-child {
          border-bottom: none;
        }

        .row.listText {
          padding: $spacing-s 0;
        }
      }
    }
  }

  .tickets--section {
    .listForm {
      .listForm__header {
        padding: 0;

        .listForm__label {
          float: left;
        }
      }

      li {
        &.row {
          margin-left: -$spacing-xs;
          margin-right: -$spacing-xs;
          padding-left: 0;
          padding-right: 0;
        }

        & > div {
          padding-right: $reduced-padding;
          padding-left: $reduced-padding;
        }
      }

      .listForm__line {
        color: $gray-dark;

        &:last-child {
          border-bottom: none;
        }

        & > div > bspl-input {
          text-align: left;
        }

        .coupons {
          padding-right: 0;

          & > * {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.2rem;

            &.actions {
              float: right;
            }
          }

          @include control-error();

          .control__error {
            display: block;
          }
        }

        bspl-input.control--readonly::ng-deep {
          .control__wrapper div.row {
            :last-child {
              line-height: 3.6rem;
            }
          }
        }
      }
    }

    .add-conjunction {
      margin-top: 2.2rem;
    }
  }

  .exchange--section {
    bspl-checkbox {
      font-weight: 500;
    }

    bspl-input,
    bspl-datepicker {
      float: left;
      margin-right: $spacing-s;

      &:last-child {
        margin-right: 0;
      }
    }

    .originalIssue {
      padding-top: $spacing-xl;
    }
  }

  .issueDate {
    padding-right: $reduced-padding;

    & + div {
      padding-left: $reduced-padding;
    }
  }

  .separator- {
    &right {
      border-right: 1px solid $gray-neutral;
      padding-right: $spacing-xxxxl;

      & + div {
        padding-left: 4.9rem;
      }
    }

    &top {
      border-top: 1px solid $gray-neutral;
      padding-top: $spacing-xl;
      margin-top: $spacing-xl;
    }
  }

  .docs--section {
    padding-bottom: $spacing-m;
  }
}
