<bspl-spinner [isLoading]="isLoading$ | async" relativeTo="parent">
  <div class="configuration-header">
    <h3>
      {{ 'menu.masterData.configuration.sftpConfigurations.sectionTitle' | translateAsync }}
    </h3>
  </div>

  <div class="account-lists-container">
    <bspl-alert-message
      [message]="'menu.masterData.configuration.sftpConfigurations.information'"
      [type]="AlertMessageType.info"
    >
    </bspl-alert-message>
    <bspl-simple-table class="sftp-accounts-table" [columns]="columns" [data]="data$ | async"></bspl-simple-table>
  </div>
</bspl-spinner>

<ng-template #actionTemplate let-dataItem="dataItem" let-value="value">
  <a
    (click)="onActionClick($event, dataItem)"
    class="sftp-account-action"
    [class.sftp-account-action-disabled]="!dataItem.hasUpdatePermission"
  >
    {{ value }}
  </a>
</ng-template>

<ng-template
  #publicKeysTemplate
  let-dataItem="dataItem"
  let-value="value"
  let-isActive="dataItem.state === SftpAccountState.Active"
  let-isOwned="dataItem.owner === SftpAccountOwner.Yes"
>
  <ng-container *ngIf="!(isActive && isOwned)">—</ng-container>
  <ng-container *ngIf="isActive && isOwned">
    <span class="sftp-account-public-keys-label">[{{ value.length }}]</span
    ><a
      (click)="onManagePublicKeysClick($event, dataItem)"
      class="sftp-account-action"
      [class.sftp-account-action-disabled]="!dataItem.hasUpdatePermission"
    >
      {{ 'menu.masterData.configuration.sftpConfigurations.manage' | translateAsync }}
    </a>
  </ng-container>
</ng-template>
