@import 'theme/variables/index';

.configuration-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-xl;
}

.account-lists-container {
  background-color: $gray-subtle;
  padding: $spacing-xl 19rem;

  bspl-alert-message {
    display: block;
    margin: 0 0 $spacing-l;
  }

  ::ng-deep .simple-table-cell {
    color: $gray-dark;
  }

  .sftp-account {
    &-action {
      color: $blue-light;
      cursor: pointer;
    }

    &-action-disabled {
      color: $gray-middle;
      cursor: auto;
    }
  }

  .sftp-account-public-keys-label {
    display: inline-block;
    padding-right: $spacing-xxs;
  }
}
