@import 'theme/variables/index';

.dialog-container {
  margin-bottom: $spacing-xxl;

  p.paragraph {
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin: $spacing-s 0;

    .see-details {
      display: inline-block;
      color: $blue-light;
      cursor: default;
    }
  }

  .items {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-s;
  }

  bspl-textarea.reason {
    margin-bottom: $spacing-xs;
  }

  .confirm-container {
    border-top: 1px solid $gray-deeper;
    margin-top: $spacing-xl;

    bspl-checkbox ::ng-deep {
      label.checkbox-container {
        display: inline-block;

        .custom-checkbox {
          float: right;
          margin: $spacing-xxxs $spacing-xs;
        }

        .checkbox-label {
          float: left;
          margin-left: 0;
        }
      }
    }
  }
}
