<div class="dialog-container">
  <!-- Subtitle and form sections -->
  <ng-container *ngIf="!isResponseMode">
    <p class="paragraph">
      {{ getTranslationKey(refundType + '.subtitleParagraph') | translate }}
      <span class="see-details" [bsplTooltip]="itemsTooltip">
        {{ getTranslationKey(refundType + '.seeDetails') | translate }}
      </span>
    </p>

    <div class="items">
      <bspl-pill-information *ngFor="let pill of refundPills" [value]="pill.value"></bspl-pill-information>
      <bspl-pill-information *ngIf="remainingPill" [value]="remainingPill.value"></bspl-pill-information>
    </div>

    <div [formGroup]="dialogForm">
      <bspl-textarea
        class="reason"
        [formControl]="reasonControl"
        [label]="getTranslationKey('reasonLbl') | translate"
        [placeholder]="getTranslationKey('reasonPlaceholder') | translate"
        [rowsLimit]="reasonRows"
        [linesLimit]="reasonLines"
        [autofocus]="true"
      ></bspl-textarea>

      <ng-container *ngIf="dialogForm?.get('attachmentIds')">
        <bspl-upload
          responseFieldName="id"
          formControlName="attachmentIds"
          [mode]="uploadMode"
          [resetMode]="uploadMode"
          [uploadPath]="uploadPath"
          [isDragAndDropActive]="true"
          (uploadStarted)="onUploadIsInProgress(true)"
          (uploadFinished)="onUploadIsInProgress(false)"
        ></bspl-upload>
      </ng-container>

      <div *ngIf="confirmCheckboxControl" class="confirm-container">
        <p class="paragraph">
          {{ getTranslationKey(refundType + '.confirmParagraph') | translate }}
        </p>
        <bspl-checkbox
          [formControl]="confirmCheckboxControl"
          [label]="getTranslationKey('confirm') | translate"
        ></bspl-checkbox>
      </div>
    </div>
  </ng-container>

  <!-- Success and error sections -->
  <ng-container *ngIf="isResponseMode">
    <div *ngIf="refundSuccessPills?.length">
      <p class="paragraph">
        {{ getTranslationKey(refundType + '.successParagraph') | translate }}
        <span class="see-details" [bsplTooltip]="itemsSuccessTooltip">
          {{ getTranslationKey(refundType + '.seeDetails') | translate }}
        </span>
      </p>

      <div class="items">
        <bspl-pill-information *ngFor="let pill of refundSuccessPills" [value]="pill.value"></bspl-pill-information>
        <bspl-pill-information
          *ngIf="remainingSuccessPill"
          [value]="remainingSuccessPill.value"
        ></bspl-pill-information>
      </div>
    </div>

    <div *ngIf="refundErrorPills?.length">
      <p class="paragraph">
        {{ getTranslationKey(refundType + '.errorParagraph') | translate }}
        <span class="see-details" [bsplTooltip]="itemsErrorTooltip">
          {{ getTranslationKey(refundType + '.seeDetails') | translate }}
        </span>
      </p>

      <div class="items">
        <bspl-pill-information
          *ngFor="let pill of refundErrorPills"
          [value]="pill.value"
          [type]="pillInformationType.Error"
        ></bspl-pill-information>
        <bspl-pill-information
          *ngIf="remainingErrorPill"
          [value]="remainingErrorPill.value"
          [type]="pillInformationType.Error"
          [showIcon]="false"
        ></bspl-pill-information>
      </div>
    </div>
  </ng-container>
</div>
