<div class="reactivate-user-container">
  <ng-container *ngIf="!reactivateInfoType">
    <p class="text-content">
      {{ 'subUsers.toggleStatusDialogs.descriptionReactivate' | translate }}
    </p>
    <div class="portal-email-container" [formGroup]="formData">
      <bspl-input
        [label]="'subUsers.toggleStatusDialogs.labels.email' | translate"
        formControlName="portalEmail"
        [autofocus]="true"
      ></bspl-input>
    </div>
    <bspl-property-list class="property-list-compact">
      <bspl-property
        *ngIf="isHosuView"
        [label]="'subUsers.toggleStatusDialogs.labels.ilogin' | translate"
        [value]="subUser.ilogin"
      ></bspl-property>
      <bspl-property
        [label]="'subUsers.toggleStatusDialogs.labels.name' | translate"
        [value]="subUser.name"
      ></bspl-property>
      <bspl-property
        *ngIf="isUserAirline && !isHosuView"
        [label]="'subUsers.toggleStatusDialogs.labels.template' | translate"
        [value]="templateTranslation"
      ></bspl-property>
    </bspl-property-list>
  </ng-container>
  <ng-container *ngIf="reactivateInfoType">
    <p class="text-content">
      {{ 'subUsers.toggleStatusDialogs.descriptionReactivateHosuInfo' | translate }}
    </p>
  </ng-container>
</div>
