<div class="wrapper" [formGroup]="form">
  <div class="row">
    <div class="col-12">
      <div class="subtitle">
        {{ 'TIP.productConsents.dialogs.terminateConsent.subtitle' | translate }}
      </div>

      <div class="pills">
        <bspl-pill-information
          *ngFor="let pill of pillsInformation"
          [value]="pill.value"
          [tooltip]="pill.tooltip"
        ></bspl-pill-information>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <bspl-datepicker
        formControlName="effectiveTo"
        [label]="'TIP.productConsents.dialogs.terminateConsent.labels.effectiveTo' | translate"
        [placeholder]="'TIP.productConsents.dialogs.terminateConsent.placeholders.choose' | translate"
      ></bspl-datepicker>
    </div>
  </div>
</div>
