<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >This module includes the information concerning the transactions performed by the Agent in New BSPlink. </span
  >It allows <span lang="EN-GB">Agent Group users</span> to examine their billing in detail by means of the “Billing
  Statement” and “Billing Analysis” options.
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="266" height="235" id="Imagen 161" src="agent_group/images/image237.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Sales.</span>
</p>
