<label [hidden]="!label" [for]="id" (click)="focusElement()">{{ label | translate }}</label>

<div class="control__wrapper">
  <ng-select
    #select
    [labelForId]="id"
    [items]="options"
    [(ngModel)]="value"
    [searchable]="false"
    [bindValue]="'value'"
    [compareWith]="compareWith"
    [placeholder]="getPlaceholder()"
    [clearable]="clearable && !isDropdownDisabled"
    [multiple]="multiple"
    [dropdownPosition]="dropdownPosition"
    [closeOnSelect]="!multiple"
    [isOpen]="isDropdownDisabled ? false : null"
    [markFirst]="false"
    [virtualScroll]="virtualScroll"
    [loading]="!options"
    [notFoundText]="'select.notFoundText' | translate"
    [openOnEnter]="false"
    [keyDownFn]="keyDownFn"
    (close)="onClose($event)"
    (open)="open.emit($event)"
    (blur)="blur.emit()"
    (change)="change.emit($event)"
    (search)="onSearch()"
    [bsplTooltip]="tooltipText"
    [escape]="false"
  >
    <!-- Search input -->
    <ng-template ng-header-tmp *ngIf="searchable || multiple">
      <div class="ng-search" *ngIf="searchable">
        <input
          type="text"
          class="input--extra"
          bsplAutoFocus
          (input)="select.filter($event.target.value)"
          (keydown)="onSearchableInputKeyDown($event)"
        />
        <i class="material-icons">search</i>
      </div>
      <ng-container *ngIf="multiple">
        <div class="clearLabel">
          <span class="link" l10nTranslate (click)="select.clearModel()">dropdown.clearSelection</span>
        </div>
        <div class="headerLine"></div>
      </ng-container>
    </ng-template>

    <ng-template ng-multi-label-tmp let-items="items">
      <!-- Template for individual item selected -->
      <span class="ng-value-label" *ngIf="items.length === 1">
        {{ getOptionLabel(items[0]) }}
      </span>
      <!-- Template for multiselect -->
      <span class="ng-value-label" *ngIf="items.length > 1">
        {{ items.length | i18nPlural : multiplePlaceholder | translate : locale.language : { count: items.length } }}
      </span>
    </ng-template>
    <ng-template *ngIf="multiple" ng-option-tmp let-item$="item$">
      <span class="checkbox-container">
        <input type="checkbox" [ngModel]="item$.selected" class="default-checkbox" />
        <span class="custom-checkbox" [ngClass]="{ normal: item$.selected === true }"></span>
        <span class="checkbox-label" [bsplTooltip]="item$.label" [showOnEllipsis]="true">{{ item$.label }}</span>
      </span>
    </ng-template>
    <ng-template ng-loadingspinner-tmp>
      <!-- This is needed so we can hide the default loading indicator of ng-select -->
    </ng-template>

    <ng-template ng-loadingtext-tmp let-item="item" let-index="index" let-search="searchTerm">
      <div class="ng-option ng-option-disabled loading-container">
        <span l10nTranslate>dropdown.loadingText</span>
        <bspl-spinner
          class="loading-indicator"
          size="small"
          [isTransparent]="true"
          [color]="'primary'"
          [isLoading]="true"
        >
        </bspl-spinner>
      </div>
    </ng-template>
  </ng-select>
  <i class="material-icons" [hidden]="!locked">lock</i>
</div>

<div class="control__error">
  {{ getErrorMessage() }}
</div>
