@import 'theme/variables/index';
@import 'theme/app/custom-control';
@import 'theme/app/scroll-bar';

$icon-color: $gray-middle;
$icon-size: 2rem;

bspl-select {
  @include control-common();

  & > label {
    @include input-label();
  }

  @include control-error();

  div.control__wrapper {
    position: relative;

    ng-select.ng-select {
      &.ng-select-focused,
      &.ng-select-opened {
        .ng-select-container {
          @include input-focus();

          z-index: auto;
        }
      }

      .ng-select-container {
        @include input-common();

        cursor: pointer;

        .ng-value-container {
          padding-left: 0;
          flex-wrap: nowrap;
          white-space: nowrap;
          overflow: hidden;

          .ng-value {
            color: inherit;
          }

          .ng-value-label {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .ng-placeholder {
            color: $gray-middle;
          }
        }

        .ng-clear-wrapper {
          & + .ng-arrow-wrapper {
            display: none;
          }

          .ng-clear {
            font-size: $icon-size;
          }
        }

        .ng-clear-wrapper,
        .ng-arrow-wrapper {
          text-align: center;
          color: $icon-color;
          padding-right: 0;
          width: auto;
        }
      }

      .ng-dropdown-panel {
        z-index: $z-index-layer-3;
      }

      &.ng-select-multiple .ng-select-container {
        .ng-value-container {
          padding-top: 0;

          .ng-placeholder {
            color: $gray-middle;
            position: static;
            padding: 0;
          }
        }
      }

      &:not(.ng-select-opened):not(.ng-select-focused) .ng-select-container:hover {
        box-shadow: none;
      }

      &:not(.ng-select-opened) .ng-select-container .ng-arrow-wrapper .ng-arrow {
        border-color: $icon-color transparent transparent;
        top: 1px;
      }

      &.ng-select-opened .ng-select-container .ng-arrow-wrapper .ng-arrow {
        border-color: transparent transparent $icon-color;
      }
    }

    ng-select + i {
      @include input-icon();
    }
  }

  &.control--readonly div.control__wrapper {
    label {
      color: $gray-deep;
      font-size: $font-size-m;
    }

    span {
      color: $blue-primary;
      font-size: $font-size-m;
    }
  }

  &.control--readonly div.control__wrapper ng-select.ng-select {
    &.ng-select-focused .ng-select-container:hover {
      box-shadow: $box-shadow-focused;
    }

    .ng-select-container {
      cursor: $cursor-readonly;

      .ng-arrow-wrapper {
        cursor: default;
      }
    }
  }

  &.control--readonly div.control__wrapper div {
    font-size: $font-size-m;
    line-height: $line-height-m;

    div label {
      color: $gray-deep;
    }

    div span {
      color: $blue-primary;
    }
  }

  &.control--locked div.control__wrapper ng-select.ng-select .ng-select-container {
    @include input-locked();

    .ng-arrow-wrapper {
      display: none;
    }
  }

  &.control--disabled,
  &.control--locked {
    div.control__wrapper ng-select.ng-select .ng-select-container {
      background-color: $background-disabled-field;
      border-color: $default-border-color;
      box-shadow: none;
    }
  }

  &.control--disabled div.control__wrapper ng-select.ng-select .ng-select-container {
    &,
    .ng-arrow-wrapper {
      cursor: $cursor-disabled;
    }
  }

  /* Different modes of the dropdown. */
  &.select-heading,
  &.select-subheading {
    margin-bottom: 0;
    line-height: $line-height-xl;

    div.control__wrapper ng-select.ng-select {
      .ng-select-container {
        border: none;
        box-shadow: none;
        color: $blue-primary;
        padding: 0 0.8rem;

        .ng-value-container {
          font-size: 2.4rem;
          flex: none;
        }

        .ng-arrow-wrapper {
          margin-left: $spacing-xs;
        }
      }

      .ng-select-container .ng-arrow-wrapper .ng-arrow {
        border-color: $blue-primary transparent transparent;
      }

      &.ng-select-opened .ng-select-container .ng-arrow-wrapper .ng-arrow {
        border-color: transparent transparent $blue-primary;
      }
    }

    &.control--disabled,
    &.control--locked {
      div.control__wrapper ng-select.ng-select .ng-select-container {
        background-color: transparent;
        border-color: transparent;
      }

      .material-icons {
        display: none;
      }
    }
  }

  &.select-subheading {
    div.control__wrapper ng-select.ng-select {
      .ng-select-container {
        .ng-value-container {
          font-size: 1.8rem;
        }
      }
    }
  }

  &.select-small {
    display: inline-block;
    margin: 0;

    div.control__wrapper {
      ng-select {
        .ng-select-container.ng-has-value {
          border: none;
          box-shadow: none;
        }

        .ng-select-container {
          border: none;
          min-width: 7.2rem;
          padding: 0 $spacing-xxs;
          min-height: 2.4rem;
          height: 2.4rem;

          .ng-value-container {
            flex: none;

            .ng-value-label {
              color: $blue-primary;
            }
          }

          .ng-arrow-wrapper {
            margin-left: $spacing-xs;
          }
        }
      }
    }
  }

  &.select-any-option .ng-dropdown-panel .ng-dropdown-panel-items {
    .ng-option:first-child {
      position: relative;
      margin-bottom: $spacing-xs;
      overflow: visible;

      &.ng-option-selected span {
        font-weight: bold !important;
      }

      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid $gray-deep;
        position: absolute;
        bottom: -#{$spacing-xxs};
        left: 0;
        width: 100%;
      }
    }
  }

  // Fixes visibility of scroll when opening a select (appendedToBody) in dialogs (v2.20.0 problem)
  &.select-append-body {
    div.control__wrapper {
      ng-select.ng-select .ng-select-container ~ *:not(i) {
        // All siblings (except our icons) of select box will not be displayed preventing the initial rendering to affect scrolling
        position: fixed;
      }
    }
  }
}

/* Styles for Dropdown Panel (separated for appendTo Body compatibility */
body > .ng-dropdown-panel {
  z-index: $z-index-layer-6; // Needs to be above the dialog overlay.
}

bspl-select div.control__wrapper ng-select.ng-select .ng-dropdown-panel,
body > .ng-dropdown-panel {
  font-size: $input-font-size;
  border: none;
  box-shadow: $shadow-z-3;
  width: auto !important;
  max-width: 60vw;
  min-width: 100%;

  &.ng-select-top {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    margin-bottom: $spacing-xxs;
  }

  &.ng-select-bottom {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    margin-top: $spacing-xxs;
  }

  .ng-dropdown-header {
    border-bottom: none;
    padding: 0 $spacing-s;

    .ng-search {
      position: relative;
      margin-top: $spacing-xs;

      input {
        @include input-common();

        padding-right: $input-padding-right-icon;
        padding-left: 0;

        &,
        &:focus {
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 1px solid $gray-middle;
          box-shadow: none;
        }
      }

      i {
        @include input-icon();

        right: 0;
      }

      input:focus + i {
        color: $blue-light;
      }
    }

    .clearLabel {
      font-weight: $font-weight-medium;
      text-align: right;
      width: 100%;
      line-height: 36px;
      margin-top: $spacing-xs;
    }

    .headerLine {
      border-bottom: 1px solid $gray-middle;
      margin: 0 $spacing-s * -1;
    }
  }

  .ng-dropdown-panel-items {
    @include custom-scrollbar();
    $first-last-option-offset: $spacing-xs;

    .total-padding {
      // Fixes an issue with invalid calculation for the scroll height in case of virtual scrolling. FCA-5327
      margin: $first-last-option-offset 0;
    }

    .loading-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .loading-indicator {
        display: block;
        width: 6rem;
      }
    }

    .ng-option {
      line-height: $line-height-m;
      padding: 0.6rem $spacing-xl 0.6rem $spacing-s;

      &:first-child {
        border-radius: 0;
        margin-top: $first-last-option-offset;
      }

      &:last-child {
        border-radius: 0;
        margin-bottom: $first-last-option-offset;
      }

      &.ng-option-marked {
        background-color: hover-color($white);
      }

      &.ng-option-selected {
        background-color: $yellow;
      }

      &.ng-option-selected.ng-option-marked {
        background-color: hover-color($yellow);
      }

      &,
      &.ng-option-selected,
      &.ng-option-selected.ng-option-marked {
        .ng-option-label {
          color: $dark;
          font-weight: normal;
        }

        &.ng-option-disabled {
          cursor: default;

          .ng-option-label {
            color: $gray-middle;
          }
        }
      }
    }
  }
}

/*
  For checkbox style refer src\styles\theme\app\checkboxs.scss
*/
