@import 'theme/variables/index';

:host {
  display: block;
  padding-bottom: $spacing-xl;

  ::ng-deep {
    bspl-upload {
      bspl-file-card {
        .file-action {
          display: none !important;
        }
      }
    }
  }
}
