<bspl-list-view
  id="gds-by-agent-list"
  [filterFormatter]="displayFormatter"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [predefinedFilters]="predefinedFilters"
  [canDownload]="hasData$ | async"
  [title]="'LIST.MASTER_DATA.agentByGds.title' | translate"
  [isInTab]="true"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="col-lg-3">
      <bspl-select
        formControlName="agentId"
        [options]="agentOptions$ | async"
        [virtualScroll]="true"
        [multiple]="true"
        [label]="'LIST.MASTER_DATA.agentByGds.agentCodeFilterLabel' | translate"
        [placeholder]="'LIST.MASTER_DATA.agentByGds.agentCodeFilterPlaceholder' | translate"
      ></bspl-select>
    </div>
    <div class="col-lg-3">
      <bspl-select
        formControlName="gdsAssignment"
        [options]="gdsUseOptions"
        [virtualScroll]="true"
        [clearable]="false"
        [label]="'LIST.MASTER_DATA.agentByGds.agentGdsAssignmentFilterLabel' | translate"
        [placeholder]="'LIST.MASTER_DATA.agentByGds.agentGdsAssignmentFilterPlaceholder' | translate"
      ></bspl-select>
    </div>
    <div class="col-lg-3">
      <bspl-select
        formControlName="active"
        [options]="activeOptions"
        [virtualScroll]="true"
        [label]="'LIST.MASTER_DATA.agentByGds.agentGdsStatusFilterLabel' | translate"
        [placeholder]="'LIST.MASTER_DATA.agentByGds.agentGdsStatusFilterPlaceholder' | translate"
      ></bspl-select>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    columnMode="flex"
    [isLoading]="loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
