@import 'theme/variables/index';

.wrapper {
  .pills {
    margin: $spacing-xl auto;
    padding-bottom: $spacing-xl;
    border-bottom: 1px solid $gray-neutral;
  }

  bspl-radio-button-group {
    display: block;
    margin-bottom: $spacing-s;

    ::ng-deep bspl-radio-button {
      flex: 0 0 50%;
    }
  }
}
