<div class="wrapper" [formGroup]="form">
  <div class="row">
    <div class="col-12">
      <div class="subtitle">
        {{ 'TIP.productConsents.dialogs.modifyConsent.subtitle' | translate }}
      </div>

      <div class="pills">
        <bspl-pill-information
          *ngFor="let pill of pillsInformation"
          [value]="pill.value"
          [tooltip]="pill.tooltip"
        ></bspl-pill-information>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <bspl-select
        [label]="'TIP.productConsents.dialogs.modifyConsent.labels.consentType' | translate"
        formControlName="type"
        [options]="consentTypes"
        [virtualScroll]="true"
      >
      </bspl-select>
      <div [formGroup]="costRecoveryGroup">
        <bspl-radio-button-group
          formControlName="type"
          [groupName]="'costRecoveryType'"
          [options]="costRecoveryTypes"
          [label]="'TIP.productConsents.dialogs.modifyConsent.labels.costRecoveryType' | translate"
          [bsplTooltip]="
            (costRecoveryGroup.disabled ? 'TIP.productConsents.dialogs.modifyConsent.tooltips.costRecoveryType' : '')
              | translate
          "
        ></bspl-radio-button-group>
        <bspl-select
          #currency
          [label]="'TIP.productConsents.dialogs.modifyConsent.labels.costRecoveryCurrency' | translate"
          formControlName="currency"
          [options]="currencyList$ | async"
          [virtualScroll]="true"
          [appendToBody]="true"
          [bsplTooltip]="
            (costRecoveryGroup.disabled || currency.isDisabled
              ? 'TIP.productConsents.dialogs.modifyConsent.tooltips.currency'
              : ''
            ) | translate
          "
        >
        </bspl-select>
        <bspl-input
          formControlName="amount"
          [label]="amountLabel | translate"
          [placeholder]="amountPlaceholder | translate"
          [bsplTooltip]="
            (costRecoveryGroup.disabled ? 'TIP.productConsents.dialogs.modifyConsent.tooltips.amount' : '') | translate
          "
        ></bspl-input>
      </div>
    </div>
  </div>
</div>
