<bspl-spinner [isLoading]="isLoading">
  <div #resizeWorkaround class="resize-workaround"></div>
  <ngx-datatable
    #dataTable
    class="material"
    [rows]="rows"
    [columns]="columnsToDisplay"
    [rowClass]="applyRowClass()"
    [columnMode]="columnMode"
    [headerHeight]="'auto'"
    [footerHeight]="50"
    [rowHeight]="50"
    [externalPaging]="true"
    [count]="paging.totalElements"
    [scrollbarV]="false"
    [scrollbarH]="true"
    [selected]="selected"
    [selectAllRowsOnPage]="false"
    [selectionType]="'checkbox'"
    [messages]="defaultMessages"
    [sorts]="ownSorting"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
  >
    <ngx-datatable-row-detail [template]="rowDetailTemplate" [rowHeight]="100" (toggle)="onToggle($event)">
    </ngx-datatable-row-detail>

    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template>
        <div class="footer-paginator-container" *ngIf="isPaginationSupported">
          <bspl-pagination
            [currentPage]="paging.page + 1"
            [totalItems]="paging.totalElements || 0"
            [itemsPerPage]="paging.size"
            [maxSupportedItems]="maxSupportedItems"
            [beforePaginationChange$]="beforeQueryChange$"
            (pageChange)="onPageChange($event)"
            (maxSupportedPageExceeded)="maxSupportedPageExceeded.emit()"
          >
          </bspl-pagination>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</bspl-spinner>

<!-- DEFAULT TEMPLATES -->

<!-- Header Default Template -->
<ng-template #defaultHeaderTmpl let-column="column" let-value="value" let-row="row">
  <div class="row m-0 header-label">
    <span (click)="toggleFilter(column.prop)" class="header-text">{{ column.name | translate }}</span>
    <button class="sortBtn" *ngIf="column?.sortable && rows?.length" (click)="sort(column)">
      <i [class.up]="sortedColumn === column.prop && sortOrder === 'ASC'" class="material-icons">arrow_drop_up</i>
      <i [class.down]="sortedColumn === column.prop && sortOrder === 'DESC'" class="material-icons">arrow_drop_down</i>
    </button>
  </div>
  <!-- TODO: Enable it when we should display the filter below table header -->
  <div *ngIf="false && isFilterOpen" class="filter-input">
    <bspl-input [name]="column.prop" placeholder="Type to filter" (blur)="addFilterValue($event, column.prop)">
    </bspl-input>
  </div>
</ng-template>

<!-- Cell Default Template -->
<ng-template #defaultCellTmpl let-row="row" let-value="value" let-column="column">
  <!-- text -->
  <span [bsplTooltip]="value" [showOnEllipsis]="true">{{ value | bsplEmpty }}</span>
  <!-- icon -->
  <ng-container *ngIf="column.icon && column.icon(row) as icon">
    <i *ngIf="!icon.hidden" class="material-icons text-icon" [ngClass]="icon.type" [bsplTooltip]="icon.tooltip">
      {{ icon.name }}
    </i>
  </ng-container>
  <!-- image -->
  <span
    *ngIf="column.image && column.image(row) as image"
    class="link-image"
    [bsplTooltip]="image.tooltipLabel"
    (click)="onImageClick($event, row, column)"
  >
    <img [src]="image.src" alt="" />
  </span>
</ng-template>

<!-- Default boolean cell template  -->
<ng-template #defaultBooleanCellTmpl let-value="value">
  {{ (value ? 'GRID_TABLE.enabled' : 'GRID_TABLE.disabled') | translate }}
</ng-template>

<!-- Default checkbox cell template  -->
<ng-template #defaultCheckboxCellTmpl let-row="row" let-column="column" let-value="value">
  <bspl-checkbox
    [name]="column.prop"
    [(ngModel)]="row[column.prop]"
    (stateChange)="handleCheckboxChange()"
  ></bspl-checkbox>
</ng-template>

<!-- Default labeled checkbox cell template  -->
<ng-template #defaultLabeledCheckboxCellTmpl let-row="row" let-column="column" let-value="value">
  <bspl-checkbox
    [name]="column.prop"
    [label]="(value ? 'GRID_TABLE.enabled' : 'GRID_TABLE.disabled') | translate"
    [disabled]="row.editable === 'DISABLED'"
    [ngModel]="row[column.prop]"
    (ngModelChange)="handleCheckboxChange(row, column, $event)"
  >
  </bspl-checkbox>
</ng-template>

<!-- Checkbox with disabled checkboxes cell template -->
<ng-template #checkboxWithDisableRowCellTmpl let-row="row" let-column="column" let-value="value">
  <bspl-checkbox
    *ngIf="!row.disableSelection"
    [name]="column.prop"
    [ngModel]="row[column.prop]"
    (ngModelChange)="handleCheckboxChange(row, column, $event)"
  >
  </bspl-checkbox>
</ng-template>

<!-- COMMON TEMPLATES -->

<!-- Cell Common Template with Target Link -->
<ng-template #commonLinkTargetCellTmpl let-row="row" let-value="value" let-expanded="expanded">
  <a [class.link]="value" target="linkTarget" href="{{ value }}">{{ value | bsplEmpty }}</a>
</ng-template>

<!-- Cell Common Template with Link from ID -->
<ng-template #commonLinkCellTmpl let-row="row" let-value="value" let-column="column">
  <!-- link -->
  <a [class.link]="value" (click)="value ? handleCommonLinkTmplClick($event, row) : false">{{ value | bsplEmpty }}</a>
  <!-- image -->
  <span
    *ngIf="column.image && column.image(row) as image"
    class="link-image"
    [bsplTooltip]="image.tooltipLabel"
    (click)="onImageClick($event, row, column)"
  >
    <img [src]="image.src" alt="" />
  </span>

  <!-- other icon with no action -->
  <ng-container *ngIf="column.icon && column.icon(row) as icon">
    <span *ngIf="!icon.hidden" class="link-icon" [ngClass]="icon.class" [bsplTooltip]="icon.tooltip">
      {{ icon.name }}
    </span>
  </ng-container>
</ng-template>

<!-- Cell Multiple Template with Link -->
<ng-template #multipleLinkCellTmpl let-row="row" let-value="value" let-column="column" let-expanded="expanded">
  <a [class.link]="value" (click)="value ? handleMultipleLinkTmplClick($event, row, column, value) : false">{{
    value | bsplEmpty
  }}</a>
</ng-template>

<!-- Cell Common Template with Link from Object -->
<ng-template #commonLinkFromObjCellTmpl let-row="row" let-value="value">
  <a [class.link]="value" (click)="value ? handleCellTmplWithObjClick($event, row) : false">{{ value | bsplEmpty }}</a>
</ng-template>

<ng-template #commonPipeSeparatorCellTmpl let-value="value">
  {{ value | join : ' | ' | bsplEmpty }}
</ng-template>

<!-- Cell Template with Link From Object with Editable Rows -->
<ng-template #linkCellTmplWithObj let-row="row" let-value="value" let-expanded="expanded">
  <ng-container *ngIf="row.editable && row.editable === 'DISABLED'">{{ value | bsplEmpty }}</ng-container>
  <a
    *ngIf="row.editable && row.editable === 'ENABLED'"
    [class.link]="value"
    (click)="value ? handleCellTmplWithObjClick($event, row) : false"
    >{{ value | bsplEmpty }}</a
  >
  <a *ngIf="!row.editable" [class.link]="value" (click)="value ? handleCellTmplWithObjClick($event, row) : false">{{
    value | bsplEmpty
  }}</a>
</ng-template>

<!-- Cell Template with Link From Object with Disabled Rows -->
<ng-template #linkCellTmplWithObjDisabled let-row="row" let-value="value" let-expanded="expanded">
  <ng-container *ngIf="row.disabled">{{ value | bsplEmpty }}</ng-container>
  <a *ngIf="!row.disabled" [class.link]="value" (click)="value ? handleCellTmplWithObjClick($event, row) : false">{{
    value | bsplEmpty
  }}</a>
</ng-template>

<!-- Header Actions Template -->
<ng-template #actionsColumnHeaderTmpl let-column="column">
  <div class="row m-0 header-label actions"></div>
  <!-- TODO: Enable it when we should display the filter below table header -->
  <div *ngIf="false && isFilterOpen" class="filter-input">
    <bspl-button class="search-btn" label="SEARCH" [design]="buttonDesign.Tertiary" (onClick)="filterItems()">
    </bspl-button>
  </div>
</ng-template>
<!-- Cell Actions Template -->
<ng-template #actionsColumnCellTmpl let-row="row" let-expanded="expanded" let-rowIndex="rowIndex">
  <div *ngFor="let action of rowActions" class="action-container" (click)="onActionClick($event, row, action)">
    <bspl-icon-button title="{{ action.actionType }}" [icon]="action.ligatureName"></bspl-icon-button>
  </div>
</ng-template>

<!-- Header PrimaryActions Template -->
<ng-template #primaryActionsColumnHeaderTmpl>
  <div class="row m-0 header-label actions"></div>
  <!-- TODO: Enable it when we should display the filter below table header -->
  <div *ngIf="false && isFilterOpen" class="filter-input"></div>
</ng-template>

<!-- Cell PrimaryActions Template -->
<ng-template #primaryActionsColumnCellTmpl let-row="row" let-rowIndex="rowIndex">
  <bspl-icon-button
    *ngIf="primaryRowActions.length === 1 && !showIconEmptyActions && !row.editable"
    class="action-container"
    (click)="onActionClick($event, row, primaryRowActions[0])"
    [isDisabled]="isActionDisabled(row, primaryRowActions[0])"
    [icon]="primaryRowActions[0].ligatureName"
    title="{{ primaryRowActions[0].actionType }}"
  ></bspl-icon-button>
  <div
    *ngIf="(primaryRowActions.length > 1 || showIconEmptyActions) && !row.editable && hasVisibleAction(row)"
    class="action-container"
  >
    <bspl-icon-button (click)="toggleActionsMenu($event, rowIndex)" [icon]="'more_vert'"></bspl-icon-button>
    <div class="action-menu-container" #actionsMenuContainer>
      <div *ngIf="rowIndex === selectedRowIndex">
        <div
          *ngFor="let group of groupedOptionKeys; last as isLast"
          class="actions-menu"
          (click)="$event.stopPropagation()"
        >
          <ng-container *ngFor="let action of groupedActions[group]">
            <div
              class="action"
              *ngIf="!isActionHidden(row, action)"
              (click)="onActionClick($event, row, action); toggleActionsMenu($event, rowIndex)"
              [class.actions-menu-item-disabled]="isActionDisabled(row, action)"
            >
              {{ action.actionType | translate }}
            </div>
          </ng-container>
          <hr class="separator" *ngIf="!isLast" />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="row.editable && row.editable === 'ENABLED'" class="action-container">
    <bspl-icon-button (click)="toggleActionsMenu($event, rowIndex)" [icon]="'more_vert'"></bspl-icon-button>
    <div class="action-menu-container" #actionsMenuContainer>
      <div *ngIf="rowIndex === selectedRowIndex">
        <div
          *ngFor="let group of groupedOptionKeys; last as isLast"
          class="actions-menu"
          (click)="$event.stopPropagation()"
        >
          <ng-container *ngFor="let action of groupedActions[group]">
            <!-- TODO: *ngIf="isActionHiddenWrongImpl() should become *ngIf="!isActionHidden()". Revise placed where used -->
            <div
              class="action"
              *ngIf="isActionHiddenWrongImpl(row, action)"
              (click)="onActionClick($event, row, action); toggleActionsMenu($event, rowIndex)"
            >
              {{ action.actionType | translate }}
            </div>
          </ng-container>
          <hr class="separator" *ngIf="!isLast" />
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Dropdown Cell Template -->
<ng-template #dropdownCellTmpl let-row="row" let-column="column">
  <bspl-select
    class="dropdown-cell-container"
    [value]="row[column.prop]"
    [options]="column.dropdownOptions | async"
    [clearable]="false"
    [appendToBody]="true"
    (change)="handleSelection(row, column.prop, $event)"
  >
  </bspl-select>
</ng-template>

<!-- CUSTOM TEMPLATES -->

<!-- Header Checkbox Template - First Column -->
<ng-template #selectHeaderTmpl let-column="column">
  <!-- TODO: Enable it when we should display the filter below table header -->
  <div *ngIf="false && isFilterOpen" class="filter-input"></div>
</ng-template>

<!-- Cell Checkbox Template - First Column -->
<ng-template #selectCellTmpl let-row="row" let-expanded="expanded"></ng-template>

<ng-template #checkboxHeaderTmpl let-row="row" let-column="column">
  <div class="row m-0 header-label">
    <span class="checkbox-header">
      <bspl-checkbox
        class="checkbox-item"
        *ngIf="rows?.length"
        [design]="checkboxHeaders[column.prop].design"
        [disabled]="allRowsDisabled"
        [checked]="checkboxHeaders[column.prop].isChecked"
        (stateChange)="toggleCheckboxes(column.prop, $event)"
      >
      </bspl-checkbox>
      {{ column.name | translate }}
    </span>
    <button class="sortBtn" *ngIf="column?.sortable && rows?.length" (click)="sort(column)">
      <i [class.up]="sortedColumn === column.prop && sortOrder === 'ASC'" class="material-icons">arrow_drop_up</i>
      <i [class.down]="sortedColumn === column.prop && sortOrder === 'DESC'" class="material-icons">arrow_drop_down</i>
    </button>
  </div>
</ng-template>

<ng-template #checkboxHeaderWithoutLabelTmpl let-row="row" let-column="column">
  <div class="row m-0 header-label">
    <span class="checkbox-header">
      <bspl-checkbox
        *ngIf="rows?.length"
        [design]="checkboxHeaders[column.prop].design"
        [disabled]="allRowsDisabled"
        [checked]="checkboxHeaders[column.prop].isChecked"
        (stateChange)="toggleCheckboxes(column.prop, $event)"
      >
      </bspl-checkbox>
    </span>
  </div>
</ng-template>

<ng-template #multiValueByNameCellTmpl let-row="row" let-value="value" let-expanded="expanded">
  <p>
    <!-- TODO: Specific logic for '.name' should be moved in the specific component -->
    <span *ngFor="let val of value" class="option">{{ val.name }}</span>
  </p>
</ng-template>

<ng-template #badgeInfoCellTmpl let-column="column" let-row="row" let-value="value">
  <div class="badgeInfoContainer" *ngIf="!column.badgeInfo?.hidden(row)">
    <bspl-badge-information
      [value]="value"
      [type]="column.badgeInfo?.type(row)"
      [tooltipLabel]="column.badgeInfo?.tooltipLabel(row)"
      [showIconType]="column.badgeInfo?.showIconType"
    ></bspl-badge-information>
  </div>
</ng-template>

<ng-template #textWithBadgeInfoCellTmpl let-column="column" let-value="value" let-row="row">
  <div class="badgeInfoContainer">
    <span [bsplTooltip]="value" [showOnEllipsis]="true">{{ value | bsplEmpty }}</span>

    <ng-container *ngIf="!!column?.image">
      <ng-container *ngTemplateOutlet="imageTooltipTmpl; context: { image: column.image(row) }"></ng-container>
    </ng-container>
    <ng-container *ngIf="!column.badgeInfo?.hidden(row)">
      <div class="badgeInfoContent">
        <bspl-badge-information
          [value]="column.badgeInfo?.value"
          [type]="column.badgeInfo?.type(row)"
          [tooltipLabel]="column.badgeInfo?.tooltipLabel && column.badgeInfo?.tooltipLabel(row)"
          [showIconType]="column.badgeInfo?.showIconType"
        ></bspl-badge-information>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- Cell Tooltip Template -->
<ng-template #tooltipCellTmpl let-value="value" let-column="column">
  <span [bsplTooltip]="column.tooltip(value)">{{ value | bsplEmpty }}</span>
</ng-template>

<!-- Image  with tooltip -->
<ng-template #imageTooltipTmpl let-image="image">
  <span [bsplTooltip]="image?.tooltipLabel" class="tooltip-image">
    <img src="{{ image?.src }}" alt="" />
  </span>
</ng-template>

<!-- Cell New Line Title Template -->
<ng-template #newLineTitleCellTmpl let-row="row" let-value="value" let-expanded="expanded">
  <div [attr.title]="value.split(', ').join('&#013;')">{{ value }}</div>
</ng-template>

<!-- Cell DateTime Template -->
<ng-template #dateTimeCellTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ value | date : 'yyyy-MM-dd HH:mm' }}
</ng-template>

<!-- Cell Day Month Year Template -->
<ng-template #dayMonthYearCellTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ value | dateTimeFormat : 'date' | bsplEmpty }}
</ng-template>

<!-- Converts dates from MM/DD/YYYY format to DD/MM/YYYY format. -->
<ng-template #dayMonthYearFromMonthDayCellTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ moment(value, 'MM/DD/YYYY').format('DD/MM/YYYY') | bsplEmpty }}
</ng-template>

<!-- Status Template -->
<ng-template #statusTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ value ? 'Active' : 'Inactive' }}
</ng-template>

<!-- Status Template With String -->
<ng-template #statusStringTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ value === 'ACTIVE' ? 'Active' : 'Inactive' }}
</ng-template>

<!-- Template Template -->
<ng-template #templateTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ value | titlecase }}
</ng-template>

<!-- Yes/No Template -->
<ng-template #yesNoTmpl let-row="row" let-value="value" let-expanded="expanded">
  {{ value ? 'Yes' : 'No' }}
</ng-template>

<!-- Amount Template -->
<ng-template #amountCellTmpl let-row="row" let-value="value">
  {{ value | amountFormat : row?.currency?.decimals }}
</ng-template>

<!-- Read Write Template -->
<ng-template #readWriteTmpl let-row="row" let-value="value">
  <ng-container [ngSwitch]="value">
    <ng-container *ngSwitchCase="'R'">
      {{ 'GRID_TABLE.TEMPLATE.READ_WRITE_TEMPLATE.READ' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'RW'">
      {{ 'GRID_TABLE.TEMPLATE.READ_WRITE_TEMPLATE.READ_WRITE' | translate }}
    </ng-container>
  </ng-container>
</ng-template>

<!-- Status Extended Template -->
<ng-template #statusExtendedTmpl let-row="row" let-value="value">
  <ng-container [ngSwitch]="value">
    <ng-container *ngSwitchCase="extendedStatuses.COMPLETED">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_EXTENDED_TEMPLATE.COMPLETED' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="extendedStatuses.FAILED">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_EXTENDED_TEMPLATE.FAILED' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="extendedStatuses.PROCESSING">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_EXTENDED_TEMPLATE.PROCESSING' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="extendedStatuses.REJECTING">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_EXTENDED_TEMPLATE.REJECTING' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="extendedStatuses.REJECTED">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_EXTENDED_TEMPLATE.REJECTED' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="extendedStatuses.PENDING">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_EXTENDED_TEMPLATE.PENDING' | translate }}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #statusBasicTmpl let-row="row" let-value="value">
  <ng-container [ngSwitch]="value">
    <ng-container *ngSwitchCase="'Completed'">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_BASIC.Completed' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'Pending'">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_BASIC.Pending' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'Failed'">
      {{ 'GRID_TABLE.TEMPLATE.STATUS_BASIC.Failed' | translate }}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #inputOutputTmpl let-row="row" let-value="value">
  <ng-container [ngSwitch]="value">
    <ng-container *ngSwitchCase="'Input'">
      {{ 'GRID_TABLE.TEMPLATE.INPUT_OUTPUT.Input' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'Output'">
      {{ 'GRID_TABLE.TEMPLATE.INPUT_OUTPUT.Output' | translate }}
    </ng-container>
  </ng-container>
</ng-template>
