@import 'theme/variables/index';

.resize-workaround {
  width: 100%;
}

:host {
  display: block;
  position: relative;

  .badgeInfo {
    margin-left: $spacing-xs;
  }

  .badgeInfoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .badgeInfoContent {
      float: right;
    }

    .material-icons {
      font-size: $font-size-s;
      color: $blue-ocean;
    }

    .tooltip-image {
      padding-left: $spacing-xs;

      img {
        vertical-align: inherit;
      }
    }
  }
}

::ng-deep {
  .black-overlay {
    border-radius: $border-radius-large;
  }

  .text-right {
    justify-content: flex-end;

    .datatable-body-cell-label {
      justify-content: flex-end;
    }
  }

  .details-container {
    .details-row {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  div .ngx-datatable {
    border-radius: $border-radius-large;
    padding: 0;
    overflow: visible;

    // --- Horizontal scroll shadows ---
    $box-shadow-left: 6px 0 8px -6px $gray-deep-middle inset;
    $box-shadow-right: -6px 0 8px -6px $gray-deep-middle inset;

    .datatable-body::before,
    .datatable-body::after {
      content: '';
      position: fixed;
      width: 8px;
      height: 100%;
      top: 0;
    }

    &.shadow-right {
      .datatable-body::after {
        right: 0;
        box-shadow: $box-shadow-right;
      }
    }

    &.shadow-left {
      .datatable-body::before {
        left: 0;
        box-shadow: $box-shadow-left;
        // Fixes shadow not visible when columns are fixed on scroll
        z-index: 10;
      }
    }

    datatable-footer.datatable-footer {
      // TODO White background hides the overflowing box-shadow. Remove this and find an alternative approach
      background-color: white;
      position: relative;
      z-index: 10;
    }

    // --- End Horizontal scroll shadows ---
    .datatable-header-cell {
      line-height: inherit;
    }

    .datatable-row-center,
    .ngx-datatable .datatable-row-group,
    &.scroll-horz .datatable-body {
      position: static;
    }

    .draggable {
      background: none;
    }

    .datatable-checkbox input {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: $border-radius-small;
      border-color: $blue-primary;
    }

    .datatable-header {
      font-size: $font-size-s;
      line-height: $line-height-s;
      color: $white;
      font-weight: $font-weight-medium;
      height: 5rem;

      .datatable-row-left {
        display: flex;
        background-color: $gray-deep;
        border-top-left-radius: $border-radius-large;

        .datatable-header-cell {
          &:last-child {
            border-right: 1px solid $gray-deep-middle;
          }
        }
      }

      .datatable-row-center {
        background-color: $gray-deep;
        border-top-left-radius: $border-radius-large;
        border-top-right-radius: $border-radius-large;
        justify-content: space-between;
      }

      .datatable-header-cell {
        display: flex;
        flex: auto;

        &:not(:last-child) {
          border-right: 1px solid $gray-deep-middle;
        }

        .sort-btn {
          display: none;
        }

        .datatable-header-cell-template-wrap {
          width: 100%;
          display: flex;
          overflow: hidden;

          .datatable-checkbox {
            line-height: 5rem;
            margin: 0;
            width: 100%;
            background: $gray-deep;
            border-right: 1px solid $gray-deep-middle;
            text-align: center;
          }

          .checkbox-row-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
          }
        }

        .header-label {
          align-content: center;
          flex-flow: row nowrap;
          flex: 1;
          min-height: 5rem;

          .header-text {
            align-self: center;
            padding: $spacing-xs;
            // todo: for references
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // TODO: Reenable it when we should display the filter below table header
            // cursor: pointer;
          }

          .checkbox-header {
            display: flex;
            align-items: center;
            padding: 0 $spacing-xs;
            text-overflow: ellipsis;

            .checkbox-item {
              margin-right: $spacing-xs;
            }
          }

          &.cog i {
            width: 100%;
            line-height: 5rem;
          }

          &.actions {
            font-size: 2.5rem;
            padding: 0 $spacing-xs;
            justify-content: center;

            i {
              line-height: 5rem;
            }
          }

          .sortBtn {
            flex-grow: 0;
            flex-shrink: 0;
            background: transparent;
            color: $white;
            line-height: 0;
            width: 3.5rem;
            margin: 0 0 0 auto;
            padding: 0;

            i {
              line-height: $line-height-s;
              color: $gray-deep-middle;
              margin: -$spacing-xxxs 0;
              vertical-align: middle;

              &.up,
              &.down {
                color: $white;
              }
            }

            &:hover {
              background-color: $gray-dark;
            }
          }
        }
      }

      .filter-input {
        background-color: $gray-neutral;
        height: 5rem;
        line-height: 37.8px;
        text-align: center;
        padding: 0.7rem;

        input,
        .search-btn {
          height: 3.6rem;
          line-height: 3.6rem;
          padding: $spacing-xs;
        }

        input {
          color: $blue-primary;
          font-size: 1.3rem;
          font-weight: normal;

          &::placeholder {
            font-size: $font-size-m;
            font-weight: normal;
            color: $gray-middle;
          }
        }

        .search-btn {
          margin-left: -1.6rem;
        }
      }

      div input {
        margin: 0;
      }
    }

    .datatable-body {
      .disabled-row {
        .datatable-body-cell-label {
          color: $gray-deep-middle;
        }
      }

      .selected-row {
        background: $yellow !important;
      }

      .datatable-row-wrapper {
        .datatable-row-detail {
          border-width: 0 1px 1px 1px;
          border-style: solid;
          border-color: $blue-light;
        }
      }

      .empty-row {
        height: 6rem;
        font-size: $font-size-l;
        line-height: $line-height-l;
        font-weight: $font-weight-medium;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .datatable-body-row {
      &:hover {
        background-color: $gray-neutral;

        .datatable-row-left {
          background-color: $gray-neutral !important;
        }
      }

      &.datatable-body-row-with-details {
        &.expanded-row {
          background-color: $gray-neutral;

          .datatable-row-center {
            border-width: 1px 1px 0;
            border-style: solid;
            border-color: $blue-light;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      .action-menu-container {
        position: absolute;
        top: auto;
        right: 0.5rem;
        z-index: $z-index-layer-5;
        box-shadow: $shadow-z-3;
        background-color: $white;

        .actions-menu {
          min-width: 5rem;
          margin: $spacing-xs 0 $spacing-xxs 0;
          text-transform: capitalize;
          background-color: $white;
          border-radius: $border-radius-small;
          text-align: left;
          cursor: default;

          .action {
            line-height: $line-height-m;
            font-size: $font-size-m;
            cursor: pointer;
            background-color: $white;
            padding: $spacing-xxs $spacing-xxxxl $spacing-xxs $spacing-s;

            &:not(.actions-menu-item-disabled):hover {
              background-color: hover-color($white);
            }

            &.actions-menu-item-disabled {
              cursor: not-allowed;
              color: $gray-middle;
            }
          }

          .separator {
            margin: $spacing-xs 0 0 0;
          }
        }
      }

      &.datatable-row-odd {
        background-color: $gray-light;

        &:hover {
          background-color: $gray-neutral;
        }

        .datatable-row-left {
          background-color: $gray-light;
        }
      }

      &.datatable-row-even {
        .datatable-row-left {
          background-color: $white;
        }
      }

      &.expanded-row,
      &.expanded-row + .datatable-row-detail {
        border-radius: 0 0 $border-radius-small $border-radius-small;
        height: auto !important;
      }

      &.row-unread {
        .datatable-body-cell-label {
          font-weight: bold;
        }

        .action-menu-container {
          font-weight: normal;
        }
      }

      & > div {
        justify-content: space-between;
      }
    }

    .datatable-row-detail {
      padding-top: $spacing-m;
    }

    .datatable-body-cell {
      padding: 0 $spacing-xs;
      width: auto;
      line-height: inherit;

      a,
      p,
      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.checkbox {
        padding: 0;
        width: 100% !important;

        .datatable-body-cell-label {
          display: block;
          text-align: center;
          line-height: 5rem;
        }
      }

      .datatable-body-cell-label {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $gray-dark;
        overflow: hidden;
        text-overflow: ellipsis;

        .action-container {
          display: inline-block;
          background-color: transparent;
        }

        .checkbox-row-container,
        .checkbox-cell-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        .dropdown-cell-container {
          margin: auto;
          min-width: 10rem;
          width: 50%;
        }

        i.text-icon {
          font-size: $font-size-l;
          margin-left: $spacing-xs;

          &.info {
            color: $blue-ocean;
          }

          &.warning {
            color: $orange;
          }

          &.error {
            color: $red;
          }
        }

        .link-image {
          margin-left: $spacing-l;
        }

        .link-icon {
          margin-left: $spacing-l;
        }

        .link-image + .link-icon {
          margin-left: $spacing-xs;
        }
      }

      &.cell-expand-icons {
        text-align: center;
        text-overflow: clip !important;
        padding: 0;

        .datatable-body-cell-label {
          display: flex;
          align-content: center;
          justify-content: center;
        }
      }

      .checkbox-label::ng-deep {
        margin-left: $spacing-xs;
      }

      &.cell-multi {
        .option {
          &::after {
            content: ', ';
            white-space: pre;
          }

          &:last-child::after {
            content: '';
          }
        }
      }
    }

    .cell-action-icons div,
    .header-action-icon div {
      width: 100%;
      text-align: center;
      font-style: normal;
      font-size: $font-size-xl;
    }

    .datatable-scroll {
      max-width: 100%;
      display: grid !important;
    }

    .footer-paginator-container {
      width: 100%;
    }

    .datatable-footer {
      overflow: hidden;
    }
  }
}
