<div class="create-user-container" [formGroup]="form">
  <div class="row details-section">
    <div class="col-md-12 pr-0 description">
      <p>{{ 'subUsers.createUser.description' | translate }}</p>
      <p *ngIf="canShowCreationInfo">{{ 'subUsers.createUser.creationInfo' | translate }}</p>
    </div>
  </div>
  <div *ngIf="canEditTemplate">
    <div class="row">
      <div class="col-md-12">
        <h4>{{ 'subUsers.createUser.userTemplate' | translate }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <bspl-select
          [label]="'subUsers.createUser.template' | translate"
          formControlName="template"
          [options]="templatesDropdown"
          [clearable]="false"
          [locked]="isTemplateLocked"
        ></bspl-select>
      </div>
    </div>
  </div>
  <hr />
  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'subUsers.createUser.contactDetails' | translate }}</h4>
    </div>
  </div>
  <div class="pb-4">
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          formControlName="portalEmail"
          [maxLength]="200"
          [label]="'subUsers.createUser.portalEmail' | translate"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          [maxLength]="49"
          formControlName="name"
          [label]="'subUsers.createUser.name' | translate"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          [maxLength]="30"
          formControlName="organization"
          [label]="'subUsers.createUser.organization' | translate"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          [maxLength]="15"
          formControlName="telephone"
          [label]="'subUsers.createUser.telephone' | translate"
        ></bspl-input>
      </div>
    </div>
  </div>
  <hr />
  <div class="row details-section">
    <div class="col-md-12">
      <h4>{{ 'subUsers.createUser.addressDetails' | translate }}</h4>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          [maxLength]="26"
          formControlName="country"
          [label]="'subUsers.createUser.country' | translate"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          [maxLength]="30"
          formControlName="city"
          [label]="'subUsers.createUser.city' | translate"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <bspl-input
          [maxLength]="30"
          formControlName="address"
          [label]="'subUsers.createUser.address' | translate"
        ></bspl-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <bspl-input
          [maxLength]="10"
          formControlName="postCode"
          [label]="'subUsers.createUser.postCode' | translate"
        ></bspl-input>
      </div>
    </div>
  </div>
</div>
