@import 'theme/variables/index';

$box-shadow-color: rgba(0, 48, 91, 0.1);
$box-shadow-below: 0 3px 6px 0 $box-shadow-color;

.warningMessage {
  border: 1px solid $orange;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow-below;
  margin: $spacing-s 0;
  padding: $spacing-s 0;

  .warningMessageText {
    color: $blue-primary;
    font-size: $font-size-s;
    line-height: $line-height-s;
    padding-left: 0;
    padding-right: 0;
  }

  .material-icons {
    font-size: $font-size-m;

    &.warning {
      color: $orange;
      margin: 0 $spacing-s;
    }
  }
}
