<div class="header-container">
  <div class="selector-container">
    <h2>
      <span><img class="user-icon" src="assets/images/users/user-icon.svg" alt="User Icon" /></span>
      {{ userPortalEmail$ | async }}
    </h2>
    <div class="list-select">
      <bspl-select
        [modes]="[selectMode.SubHeading]"
        [options]="bspListOptions"
        [locked]="bspListOptions?.length === 1"
        [clearable]="false"
        [value]="bspSelected"
        (change)="onBspSelected($event.value)"
      ></bspl-select>
    </div>
  </div>
  <bspl-button
    *ngIf="isApplyChangesVisible"
    [label]="'common.applyChanges' | translate"
    [isDisabled]="!(isApplyChangesEnabled$ | async)"
    (onClick)="applyChanges()"
  ></bspl-button>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
