@import 'theme/variables/index';

:host,
.tab-content {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-xl 0;

  .user-icon {
    padding: 0 $spacing-xs 0.3rem 0;
  }

  .selector-container {
    display: flex;
    align-items: flex-start;

    .list-select {
      margin-left: $spacing-xs;

      &::before {
        content: '/';
        font-size: $font-size-xl;
        color: $gray-middle;
      }

      bspl-select {
        display: inline-flex;
      }
    }
  }
}

.profile-tabs {
  ::ng-deep {
    .tab-menu-container {
      margin-left: -$spacing-xl;
      margin-right: -$spacing-xl;
    }
  }
}
