<div class="pill-container" [ngClass]="type" [bsplTooltip]="tooltip">
  <span class="pill-text">{{ value }}</span>
  <i *ngIf="showIcon && iconTypeMapper[type]" class="material-icons pill-icon">{{ iconTypeMapper[type] }}</i>
</div>
