@import 'theme/variables/index';

:host {
  display: inline-block;
  padding: 0.2rem $spacing-xs;
  border-radius: 1rem;
  min-width: 1rem;
  max-width: 16rem;
  cursor: default;
  margin: 0 $spacing-xs $spacing-xs 0;

  .pill-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .pill-text {
      display: inline-block;
      font-size: $font-size-s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .pill-icon {
      font-size: $font-size-m;
      margin-left: $spacing-xxxs;
    }
  }

  &.regular {
    background-color: $gray-neutral;

    .pill-container .pill-text {
      color: $blue-primary;
    }
  }

  &.error {
    background-color: $red;

    .pill-container {
      .pill-text,
      .pill-icon {
        color: $white;
      }
    }
  }
}
