<bspl-floating-panel>
  <bspl-document-header
    class="page-section"
    [hasIssueBtn]="!emd.conjunctionDocumentNumber"
    [document]="emd"
    [issueActions]="issueActions"
  >
    <bspl-accordion-item-selection [accordion]="accordion"></bspl-accordion-item-selection>
  </bspl-document-header>
</bspl-floating-panel>
<bspl-accordion #accordion [multipleItemsOpen]="true">
  <bspl-accordion-item
    [title]="'document.emd.documentDetails' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-emd-details [emd]="emd"></bspl-emd-details>
  </bspl-accordion-item>
  <bspl-accordion-item
    *ngIf="!emd.conjunctionDocumentNumber"
    [title]="'document.emd.additionalInformation.sectionTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-emd-additional-information [emd]="emd" (documentOpened)="open.emit($event)"></bspl-emd-additional-information>
  </bspl-accordion-item>
  <bspl-accordion-item
    [title]="'document.relatedDocumentsTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-spinner [isLoading]="isLoadingRelatedDocuments" relativeTo="parent"></bspl-spinner>
    <bspl-related-documents [hidden]="isLoadingRelatedDocuments" [documents]="relatedDocuments">
    </bspl-related-documents>
  </bspl-accordion-item>
</bspl-accordion>
