<bspl-list-view
  [title]="'MENU.files.processedHots.title' | translate"
  [query]="query$ | async"
  [hasDownloading]="false"
  [canDownload]="hasData$ | async"
  [filterFormatter]="processedHotsFilterFormatterService"
  [hasFiltering]="true"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <div class="h3 header pb-4">{{ headerData$ | async }}</div>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-4">
        <bspl-input
          [label]="'MENU.files.processedHots.filters.fileName.label' | translate"
          formControlName="name"
          [placeholder]="'MENU.files.processedHots.filters.fileName.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-4">
        <bspl-datepicker
          [label]="'MENU.files.processedHots.filters.processDateTime.label' | translate"
          [placeholder]="'MENU.files.processedHots.filters.processDateTime.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="endProcessingTime"
        ></bspl-datepicker>
      </div>
    </div>
  </form>
  <bspl-grid-table bsplListViewGrid [columns]="columns" [rows]="data$ | async" [isLoading]="loading$ | async">
  </bspl-grid-table>
</bspl-list-view>
