<p class="BodyText" style="line-height: normal">
  The <b>menu bar</b> gives access to the New BSPlink options the user has been granted.
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  When hovering the mouse over an item of the menu bar, all options that belong to it are displayed.
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="174" id="Imagen 13" src="agent_group/images/image012.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc8220495"></a><a name="_Toc26451905"></a><a name="_Toc51222468"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Menu bar and general search.</span>
</p>

<p class="BodyText" style="margin-bottom: 0in; line-height: normal">
  Whenever an option is clicked, its content is opened in a new tab.
</p>

<p class="BodyText" style="margin-bottom: 0in; line-height: normal">
  Users can switch between tabs by clicking on the tab header. Tabs can also be closed at any time by clicking on the
  exit icon.
</p>

<p class="BodyText" style="margin-bottom: 0.25in; line-height: normal">
  Please note that the “Dashboard” is a fixed tab and cannot be closed.
</p>
