@import 'theme/variables/index';

:host {
  flex: 1;
  position: relative;

  .toolbar-container {
    align-items: center;
    border-radius: $border-radius-large;
    background: $yellow;
    display: flex;
    font-size: $font-size-m;
    padding: $spacing-xs $spacing-s;
    position: absolute;
    top: -2.8rem;
    width: 100%;
  }

  .link {
    margin-left: $spacing-s;
  }

  .btn-group {
    margin-left: auto;
  }

  ::ng-deep bspl-button:not(:last-child) {
    margin-right: $spacing-s;
  }
}
