<div class="toolbar-container">
  <strong *ngIf="selectedRowsCount === 1; else multipleSelectedItemsLabel">{{
    singleSelectedItemTranslationKey | translate
  }}</strong
  ><ng-template #multipleSelectedItemsLabel>
    <strong>{{
      multipleSelectedItemsTranslationKey | translate : locale.language : { selectedRows: selectedRowsCount || 0 }
    }}</strong>
  </ng-template>
  <a class="link" (click)="onClearSelectedRowsClick()">{{ 'tableSelectionToolbar.clearSelection' | translate }}</a>
  <div class="btn-group">
    <ng-content></ng-content>
  </div>
  <div></div>
</div>
