<div class="container">
  <h3>Simple Select</h3>
  <br />
  <div class="row">
    <div class="col-lg-4">
      <strong>Basic</strong>
      <p>Select without search feature, when items are less than 7.</p>
      <bspl-select
        [formControl]="basicSelect"
        [options]="shortCarsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Basic with auto display</strong>
      <p>Select that displays first option when no placeholder</p>
      <bspl-select
        [formControl]="basicSelect"
        [options]="carsList"
        [label]="'ACDM Status'"
        [autoDisplayFirst]="true"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Searchable</strong>
      <p>Select with search feature (default behavior) When items are 7 or more.</p>
      <bspl-select
        [formControl]="basicSelect"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Required</strong>
      <p>Empty required field with placeholder hint</p>
      <bspl-select
        [formControl]="basicSelectRequired"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
      >
      </bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Locked</strong>
      <p>Not available to be focused and changing anything</p>
      <bspl-select
        [formControl]="basicSelectFilled"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
        [locked]="true"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Disabled</strong>
      <p>Not available to be focused and changing anything</p>
      <bspl-select
        [formControl]="basicSelectDisabled"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Readonly</strong>
      <p>Not available to be modified</p>
      <bspl-select
        [formControl]="basicSelectFilled"
        [isReadOnly]="true"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Loading</strong>
      <p>Showing loading indicator within the panel</p>
      <bspl-select
        [formControl]="basicSelect"
        [options]="loadingStateOptions"
        [label]="'Cars'"
        [placeholder]="'Select car'"
        (open)="loadingStateDropdownOpened()"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Multiple</strong>
      <p>You can select several options (required)</p>
      <bspl-select
        [formControl]="multipleSelectRequired"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
        [multiple]="true"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Multiple Searchable</strong>
      <p>You can select several options and search</p>
      <bspl-select
        [formControl]="basicSelect"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
        [multiple]="true"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Multiple Locked</strong>
      <p>You cannot change the multiple selection</p>
      <bspl-select
        [formControl]="multipleSelectLocked"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
        [multiple]="true"
        [locked]="true"
      ></bspl-select>
    </div>
    <div class="col-lg-4">
      <strong>Multiple Select appended to body</strong>
      <p>Select's dropdown is appended to body</p>
      <bspl-select
        [formControl]="basicSelect"
        [options]="carsList"
        [label]="'ACDM Status'"
        [placeholder]="'Select status'"
        [appendToBody]="true"
        [multiple]="true"
      ></bspl-select>
    </div>
  </div>
</div>
