<div class="dialog-container">
  <div class="subtitle">
    {{ 'MENU.files.fopAgentStatusRequest.subtitle' | translate }}
  </div>
  <div class="form" [formGroup]="form">
    <bspl-radio-button-group
      formControlName="agentSelection"
      [groupName]="'agentSelection'"
      [options]="agentSelectionRadioButtons"
    ></bspl-radio-button-group>
    <bspl-select
      *ngIf="isSingleAgentSelection$ | async"
      formControlName="agent"
      [options]="agentDropdownOptions$ | async"
      [clearable]="false"
      [appendToBody]="true"
      [virtualScroll]="true"
      [label]="'MENU.files.fopAgentStatusRequest.fields.agent.label' | translate"
      [placeholder]="'MENU.files.fopAgentStatusRequest.fields.agent.placeholder' | translate"
    ></bspl-select>
  </div>
</div>
