@import 'theme/variables/index';

.dialog-container {
  margin-bottom: $spacing-xxl;

  .subtitle {
    font-size: $font-size-m;
    color: $gray-deep;
    line-height: $line-height-m;
    margin-bottom: $spacing-s;
  }

  .form {
    bspl-radio-button-group {
      display: block;
      margin-bottom: $spacing-s;
    }
  }
}
