<div #statusHeader class="status-header refund-header pdf-no-margin pdf-expand pdf-margin-top-l">
  <div [class.sticky]="!isHeaderOverlapped">
    <div class="status-header-main">
      <ng-container *ngTemplateOutlet="statusHeaderTmpl"></ng-container>
      <div class="actions pdf-hide-in">
        <ng-container *ngIf="headerDiscardBtn && !(headerDiscardBtn.hidden | async)">
          <bspl-button
            class="action"
            [label]="headerDiscardBtn.label | translate"
            (onClick)="onDiscardAction(headerDiscardBtn.actionType)"
            [design]="headerDiscardBtn.design"
            [isDisabled]="headerDiscardBtn.disabled | async"
          >
          </bspl-button>
        </ng-container>
        <bspl-button
          class="action"
          [label]="headerBtn?.label | translate"
          (onClick)="onApplyAction(headerBtn.actionType)"
          [design]="headerBtn?.design"
          [isDisabled]="headerBtn?.disabled | async"
          [hidden]="showDropdownBtn() || !headerBtn || (headerBtn.hidden | async)"
        >
        </bspl-button>
        <bspl-split-button
          class="ml-4"
          [options]="headerBtnOptions"
          [hidden]="!showDropdownBtn() || !showAgentDropdownBtn"
        ></bspl-split-button>
        <bspl-button-menu
          [hidden]="!showDropdownBtn() || !showAirlDropdownBtn"
          label="REFUNDS.statusHeader.actionsBtn.main"
          [disabled]="isBtnDisabled()"
          [btnDesign]="btnDesign.Primary"
          [options]="headerBtnOptions"
        >
        </bspl-button-menu>
        <bspl-icon-button
          (click)="toggleHeaderSecondaryActionsMenu($event)"
          [icon]="'more_vert'"
          [isDisabled]="isSecondaryActionsMenuDisabled"
          [isLoading]="isPdfLoading"
        ></bspl-icon-button>
        <div *ngIf="showHeaderSecondaryActions" class="action-menu-container" #actionsMenuContainer>
          <ul class="actions-menu" (click)="$event.stopPropagation()">
            <li *ngFor="let action of headerSecondaryActions" (click)="onActionClick(action)">
              {{ action.label | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <bspl-accordion-item-selection
      [accordion]="accordion"
      [showStatusIcons]="true"
      class="pdf-hide-in"
    ></bspl-accordion-item-selection>
  </div>
</div>

<ng-template #statusHeaderTmpl>
  <div class="status-figures">
    <img class="pdf-img" src="./assets/images/toplogo.png" alt="iata logo" [hidden]="true" />
    <div class="figure pdf-header-figure" *ngFor="let field of headerFields" [class.inactive]="isFieldInactive(field)">
      <div class="figure-title">
        <span>{{
          'REFUNDS.statusHeader.' + refundType + '.' + field
            | translate : locale.language : { currencyCode: currency ? currency?.code : '' }
        }}</span>
        <bspl-badge-information
          *ngIf="field === badgeInfoField"
          [value]="'REFUNDS.badgeInfo.label' | translate"
          [type]="badgeInfoType"
          [tooltipLabel]="badgeInfoLeyend"
        ></bspl-badge-information>
      </div>
      <div class="figure-value">
        <span>{{ getFormattedField(field) }}</span>
        <i
          *ngIf="field === iconField"
          class="material-icons figure-icon pdf-hide-in"
          [ngClass]="iconType"
          [bsplTooltip]="iconTooltip"
        >
          {{ iconType }}
        </i>
        <span
          *ngIf="field === docNumberField && watching"
          class="watching material-icons-outlined"
          [bsplTooltip]="'watching' | translate"
          >remove_red_eye</span
        >
      </div>
    </div>
    <ng-container *ngIf="showFinalSection">
      <div class="figure final-section">
        <div>
          <span class="figure-title">{{ 'REFUNDS.statusHeader.refund-application.flag' | translate }}: </span>
          <span class="figure-value">{{ 'REFUNDS.finalType.' + finalControl.value | translate }}</span>
        </div>

        <div
          *ngIf="finalDaysLeftControl.value !== null"
          class="days-left"
          [ngClass]="{ 'greyed-out': isDaysLeftGreyedOut }"
        >
          <span class="figure-title">{{ 'REFUNDS.statusHeader.refund-application.daysLeft' | translate }}: </span>

          <span class="figure-value">
            <span class="bracket">(</span>
            <span>{{ finalDaysLeftControl.value | bsplEmpty }}</span>
            <span class="bracket">)</span>
          </span>
        </div>

        <div *ngIf="finalDaysLeftControl.value === null" class="process-stopped">
          <span class="figure-title">{{ 'REFUNDS.statusHeader.refund-application.processStopped' | translate }}: </span>

          <span class="figure-value">
            <span>{{ finalProcessStoppedControl.value | bsplEmpty }}</span>
            <i
              *ngIf="finalProcessStoppedControl.value === 0"
              class="material-icons check_circle pdf-hide-in"
              [bsplTooltip]="'REFUNDS.query.refund-application.daysLeftIconTooltip' | translate"
              >check_circle</i
            >
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
