@import 'components/header-status/header-status';

.status-figures {
  .figure .figure-value i.figure-icon {
    font-size: $font-size-l;
    margin-left: $spacing-xxs;

    &.warning {
      color: $orange;
    }

    &.error {
      color: $red;
    }
  }

  .final-section {
    .figure-title {
      line-height: $line-height-l;
    }

    .figure-value {
      line-height: 0;
    }

    .days-left {
      .bracket {
        display: none;
      }

      &.greyed-out {
        .figure-value {
          color: $gray-middle;
        }

        .bracket {
          display: inline;
        }
      }
    }

    .process-stopped i.check_circle {
      font-size: $font-size-l;
      margin-left: $spacing-xxxs;
      color: $blue-ocean;
    }
  }
}
