@import 'theme/variables/index';

::ng-deep {
  bspl-gds-delete-dialog {
    height: 100%;
  }

  .dialog.ng-trigger.ng-trigger-animation {
    padding: 0;
  }

  .delete-gds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.gds {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.question {
  margin-bottom: $spacing-xxxl;
}
