<div class="gds">
  <div class="row gds-content">
    <div class="question col-lg-12">{{ question }}</div>
    <div class="col-lg-4">
      <bspl-input [label]="'Gds Code'" [locked]="true" [value]="code"> </bspl-input>
    </div>
    <div class="col-lg-8">
      <bspl-input [label]="'GdsName'" [locked]="true" [value]="name"> </bspl-input>
    </div>
  </div>
</div>
