@import 'theme/variables/index';

:host {
  display: inline-block;
  padding: 0 0.6rem;
  border-radius: 0.8rem;
  min-width: 1rem;
  max-width: 20rem;
  cursor: default;

  .badge-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .badge-text,
    .material-icons.badge-icon {
      display: inline-block;
      color: $white;
      line-height: 1.8rem;
      font-size: $font-size-s;
    }

    .badge-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .material-icons.badge-icon {
      align-self: center;
      margin-left: $spacing-xxxs;
      user-select: none;
    }
  }

  &.regularBadge {
    background-color: $gray-deep-middle;
  }

  &.successBadge {
    background-color: $green;
  }

  &.errorBadge {
    background-color: $red;
  }

  &.infoBadge {
    background-color: $blue-ocean;
  }

  &.warningBadge {
    background-color: $gray-middle;
  }
}

// FCA-6363 - fix an issue where badge text is not properly displayed in PDF.
:host-context(.pdf-export) {
  .badge-container {
    position: relative;
    z-index: 1;
  }
}

:host-context(.pdf-new-export) {
  .badge-container {
    position: relative;
    z-index: 1;
  }
}
