<div class="badge-container" [bsplTooltip]="tooltipLabel || ''">
  <span class="badge-text">{{ value }} </span>
  <i class="material-icons badge-icon pdf-hide-in" *ngIf="iconTypeMapper[type] && showIconType">{{
    iconTypeMapper[type]
  }}</i>
</div>
