<div class="list-view-action-bar" #actionBar>
  <div class="list-view-action-bar-content">
    <span class="view-title" [class.h2]="!isInTab" [class.h3]="isInTab" l10nTranslate>{{ title }}</span>
    <ng-content select="[bsplListViewTitle]"></ng-content>
  </div>
  <div class="view-actions">
    <!-- Predefined buttons -->
    <bspl-button
      *ngIf="hasFiltering"
      l10nTranslate
      [label]="labels.filter"
      [design]="ButtonDesign.Tertiary"
      [icon]="filterIcon"
      (onClick)="toggleFilter()"
    ></bspl-button>
    <bspl-button
      *ngIf="hasDownload"
      l10nTranslate
      [label]="labels.download"
      [design]="ButtonDesign.Tertiary"
      [isDisabled]="!canDownload"
      icon="mi md-18 get_app"
      (onClick)="triggerDownload()"
    ></bspl-button>
    <bspl-split-button
      *ngIf="hasDownloadOptions"
      l10nTranslate
      [mainOption]="detailDownloadingOptions.mainOption"
      [options]="detailDownloadingOptions.options"
      [design]="ButtonDesign.Tertiary"
      [isDisabled]="!canDownload"
      icon="mi md-18 get_app"
    ></bspl-split-button>
    <bspl-button
      *ngIf="hasCreating"
      l10nTranslate
      [label]="labels.create"
      [design]="ButtonDesign.Secondary"
      [isDisabled]="!canCreating"
      icon="mi md-18 add"
      (onClick)="triggerCreate()"
    ></bspl-button>
    <bspl-button
      *ngIf="hasApply"
      l10nTranslate
      [label]="labels.apply"
      [isDisabled]="!canApply"
      (onClick)="triggerApply()"
    ></bspl-button>
    <!-- Custom buttons -->
    <ng-content select="[bsplListViewButton]"></ng-content>
  </div>
</div>
<div class="notice-message-container" *ngIf="noticeMessage">
  <bspl-alert-message [type]="AlertMessageType.info" [message]="noticeMessage"></bspl-alert-message>
</div>
<div class="list-view-filter">
  <div class="list-view-filter-editable" *ngIf="isFilterExpanded">
    <div class="row">
      <div class="col-md-12" (keydown.enter)="handleFilterPanelEnterKey($event)">
        <ng-content select="[bsplListViewFilter]"></ng-content>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right action-button-container">
          <bspl-button
            class="action-button"
            [design]="ButtonDesign.Tertiary"
            l10nTranslate
            [label]="predefinedFilters ? labels.reset : labels.clear"
            (onClick)="resetToPredefined()"
          >
          </bspl-button>
          <bspl-button
            class="action-button"
            l10nTranslate
            [isDisabled]="!isFilterValid || isActionButtonDisabled"
            [label]="labels.search"
            (click)="search()"
          ></bspl-button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="hasAdvancedSearchFilter">
      <div class="col-lg-12 p-0">
        <button type="button" class="advanced-search-btn" (click)="toggleAdvancedSearch()">
          <span class="advanced-search-btn-text">{{ 'common.advancedSearch' | translate }}</span>
          <i class="material-icons advanced-search-btn-icon" *ngIf="!showAdvancedSearchFilter">arrow_drop_down</i>
          <i class="material-icons advanced-search-btn-icon" *ngIf="showAdvancedSearchFilter">arrow_drop_up</i>
        </button>
      </div>
    </div>
  </div>
  <div class="list-view-filter-summary" *ngIf="!isFilterExpanded && hasAppliedFilter">
    <div>
      <span class="filter-label">{{ labels.filterBy | translate }}</span>
      <div class="tags-container">
        <bspl-tag
          *ngFor="let filter of appliedFilters"
          class="filter-tag"
          [closeable]="filter.closable"
          [value]="filter.label"
          (remove)="removeTag(filter)"
          (click)="viewFilter(filter)"
        ></bspl-tag>
      </div>
    </div>
    <span class="clear-filter" (click)="resetToPredefined()" l10nTranslate>
      {{ predefinedFilters ? labels.resetFilters : labels.clearFilters }}</span
    >
  </div>
</div>
<div>
  <ng-content selector="[bsplListViewGrid]"></ng-content>
  <bspl-alert-message
    *ngIf="hasTooManyItems"
    class="too-many-results-warning"
    [type]="AlertMessageType.warning"
    [message]="labels.tooManyItems | translate : locale.language : { max: maxSupportedItems | absoluteDecimal }"
    (click)="handleTooManyItemsAction($event)"
  >
  </bspl-alert-message>
</div>
