@import 'theme/variables/index';
@import 'components/filter-template/filter-template';

.notice-message-container {
  max-width: 50%;
  margin-bottom: $spacing-xl;

  bspl-alert-message {
    display: inline-block;
  }
}

.advanced-search-btn {
  background-color: $gray-deep;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: $white;
  border-bottom-left-radius: $border-radius-large;
  border-bottom-right-radius: $border-radius-large;

  .advanced-search-btn-text,
  .advanced-search-btn-icon {
    height: 36px;
    line-height: 36px;
  }

  .advanced-search-btn-text {
    display: inline-block;
    vertical-align: top;
  }
}

.too-many-results-warning {
  display: inline-block;
  margin-top: $spacing-l;
}
