<div [formGroup]="dialogForm">
  <div class="data__table">
    <div class="row line__data">
      <div class="col-12">
        {{ 'MASTER_DATA.globalAirline.dialog.template.labels.airline' | translate }}
      </div>
      <div class="col-12">{{ globalAirline.globalName }}</div>
      <div class="col-12 templateWrapper">
        <bspl-select
          formControlName="template"
          [label]="'MASTER_DATA.globalAirline.dialog.template.labels.template' | translate"
          [placeholder]="'MASTER_DATA.globalAirline.placeholders.choose' | translate"
          [options]="templateOptions"
          [appendToBody]="true"
          [clearable]="false"
        ></bspl-select>
      </div>
    </div>
  </div>
  <div class="row confirmWrapper">
    <div class="col-12">
      {{ 'MASTER_DATA.globalAirline.dialog.template.labels.confirmText' | translate }}
    </div>
    <div class="col-12">
      <bspl-checkbox
        formControlName="confirm"
        [label]="'MASTER_DATA.globalAirline.dialog.template.labels.confirm' | translate"
      ></bspl-checkbox>
    </div>
  </div>
</div>
