@import 'theme/variables/index';
@import 'src/app/shared/scss/data-table-dialog';

.data__table {
  .line__data {
    padding-bottom: $spacing-xs;
  }

  .templateWrapper {
    margin-top: $spacing-xs;
  }
}

.confirmWrapper {
  padding: $spacing-s 0 $spacing-xxl;

  & > div:first-child {
    margin-bottom: $spacing-s;
  }

  bspl-checkbox ::ng-deep {
    label.checkbox-container {
      display: inline-block;

      .custom-checkbox {
        float: right;
        margin: 0.4rem $spacing-xs;
      }

      .checkbox-label {
        float: left;
        margin-left: 0;
      }
    }
  }
}
