<div class="container-fluid custom-container">
  <bspl-filter-template
    [filters]="form.value"
    [filterFormatter]="displayFormatter"
    [filterTitle]="subtabTitle | translate"
    [isFilterEnabled]="isFilterEnabled"
    [isFilterValid]="isFilterValid$ | async"
    (searchEvent)="saveFilters()"
    (resetEvent)="resetFilters()"
    (removeTagEvent)="removeTag($event)"
  >
    <form filterSearchForm [formGroup]="form">
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-select
            [options]="bspCountriesList"
            formControlName="bsps"
            [label]="'DASHBOARD.tabs.acdm.filters.labels.bsp' | translate"
            [placeholder]="'DASHBOARD.tabs.acdm.filters.placeholders.bsp' | translate"
            [multiple]="true"
            [clearable]="true"
          >
          </bspl-select>
        </div>
      </div>
    </form>
  </bspl-filter-template>

  <bspl-spinner [isLoading]="kpisLoading">
    <div class="status-header dashboard-header">
      <div class="status-header-main">
        <ng-container *ngTemplateOutlet="dashboardHeaderTmpl"></ng-container>
      </div>
    </div>
  </bspl-spinner>

  <bspl-spinner [isLoading]="barChartsLoading">
    <div class="bar-charts-container" *ngIf="admDisputedBarChartData || admTopDisputingAgentsBarChartData">
      <bspl-bar-chart
        [data]="admDisputedBarChartData"
        [title]="admDisputedBarChartTitle | translate"
        [stacked]="true"
      ></bspl-bar-chart>
      <bspl-bar-chart
        type="horizontalBar"
        [data]="admTopDisputingAgentsBarChartData"
        [title]="admTopDisputingAgentsBarChartTitle | translate"
      ></bspl-bar-chart>
    </div>
  </bspl-spinner>
</div>

<ng-template #dashboardHeaderTmpl>
  <div class="status-figures">
    <div class="no-data" *ngIf="!kpis?.length">
      {{ 'DASHBOARD.kpis.noData' | translate }}
    </div>
    <div class="figure" *ngFor="let kpi of kpis">
      <div class="figure-value">
        <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: kpi.value?.toString() }"></ng-container>
      </div>
      <h4 class="section-figure-title">{{ kpi.name | translate }}</h4>
      <div class="figure-description">
        <span>{{ kpi.description | translate }}</span>
      </div>
      <div class="figure-expand link" *ngIf="kpi.seeAllVisible">
        <a (click)="onKpiSeeAllClick($event, kpi)">{{ 'DASHBOARD.sections.link' | translate }}</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fieldsDetails let-value="value" let-image="image">
  <span>
    {{ value ? value : 'N/A' }}
  </span>
</ng-template>
