@import 'theme/variables/index';

:host {
  width: 100%;
}

::ng-deep .dialog-footer {
  display: flex;
  justify-content: space-between;
}

.content {
  font-size: $font-size-s;

  .message {
    margin-bottom: $spacing-s;
    word-break: break-word;
  }

  .editItem {
    a {
      color: $blue-light;
    }

    .material-icons {
      font-size: $font-size-s;
    }
  }
}
