@import 'theme/variables/index';

$sections-border: 1px solid $gray-neutral;

div.data__table {
  padding: 0 $spacing-m;

  div.row.line__data {
    border-bottom: $sections-border;
    font-size: $font-size-m;

    div:first-child {
      color: $gray-deep;
      padding: $spacing-xxs 0;
      line-height: $line-height-m;
    }

    div:not(:first-child) {
      color: $blue-primary;
      line-height: $line-height-m;
      padding: $spacing-xxs 0;
    }
  }
}
