@import 'theme/variables/index';

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-m;

  .header-title {
    font-size: $font-size-xxl;
    color: $blue-primary;
  }

  .download-button {
    margin: $spacing-xs;
  }
}

.actions-panel {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 $spacing-m;
}

.header-label {
  padding-bottom: $spacing-m;

  .details-container {
    .details-row {
      font-size: $font-size-m;
      padding: $spacing-xxs 0;
      margin: 0 $spacing-m;
      border-bottom: 1px solid $gray-neutral;
      align-items: center;

      &:last-of-type {
        border-bottom: none;
      }

      .details-label,
      .details-value {
        line-height: $line-height-m;
        font-size: $font-size-m;
        padding: 0;
      }

      .details-label {
        color: $gray-deep;
        margin: 0;
      }

      .details-value {
        color: $blue-primary;
      }
    }

    &:nth-child(2n) {
      border-right: 1px solid $gray-neutral;
      border-left: 1px solid $gray-neutral;
    }
  }
}
