<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >The New BSPlink application is a common tool for BSP stakeholders that allows them to carry out operational tasks
    required to assure the correct performance of any BSP. It allows the user to update and maintain important BSP
    information concerning the administration of the BSP.
  </span>
</p>

<p class="BodyText" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Some key features that can be found in the software include the possibility issue and manage Refunds, ADMs or ACMs.
    These important aspects also comprise the possibility to download operational reports and outputs that facilitate
    the management of the industry.
  </span>
</p>
