<bspl-file-upload-overlay
  (droppedFilesEvent)="addFiles($event)"
  [isDragAndDropActive]="canAddFiles"
></bspl-file-upload-overlay>
<div class="file-upload-wrapper">
  <bspl-alert-message
    *ngIf="mode === uploadModes.Initial"
    [type]="alertMessageType.info"
    [message]="helpText"
  ></bspl-alert-message>
  <form [formGroup]="additionalInfoForm" *ngIf="additionalInfoForm != null">
    <bspl-datepicker
      formControlName="expiryDate"
      [label]="'MENU.files.uploadCommunications.expiryDate.label' | translate"
      [placeholder]="'MENU.files.uploadCommunications.expiryDate.placeholder' | translate"
      [isDisabled]="!canAddFiles"
      [clearable]="false"
      [locked]="isExpiryDateLocked"
      [minDate]="(expiryDateRange$ | async)?.min"
      [maxDate]="(expiryDateRange$ | async)?.max"
      [autofocus]="true"
    ></bspl-datepicker>
  </form>
  <bspl-upload
    (uploadFinished)="onUploadFinished()"
    (uploadStarted)="onUploadStarted()"
    (resetInitialMode)="onResetInitialMode()"
    (filesChange)="onFilesChange($event)"
    (modeChange)="mode = $event"
    [isDragAndDropActive]="false"
    [files]="files"
    [uploadPath]="config.data.uploadPath"
    [validationRules]="validationRules"
    [requestData]="additionalInfo"
  ></bspl-upload>
</div>
