@import 'theme/variables/index';

.file-upload-wrapper {
  display: block;
  padding-bottom: 4.5rem;

  bspl-alert-message,
  bspl-datepicker {
    display: block;
    margin-bottom: $spacing-m;
  }
}
