@import 'theme/variables/index';

.configuration-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 0 (-$spacing-xl) (-$spacing-xl) (-$spacing-xl);
}

.side-menu {
  flex: 1 1 auto;
  max-width: 40rem;
  min-width: 40rem;
  background-color: $gray-subtle;
  border-right: 1px solid $white-subtle;
  border-top: 1px solid $white-subtle;
  padding-bottom: 10rem;

  .side-menu-section {
    position: relative;
  }
}

.main-content {
  flex: 3 3 auto;
  padding: $spacing-xl;
  // Use relative positioning to display ngx-spinner over the main content
  position: relative;
}
