<bspl-filter-template
  *ngIf="isBspFilterVisible"
  [filters]="filterForm.value"
  [filterFormatter]="displayFormatter"
  [filterTitle]="subtabTitle | translate"
  [isFilterValid]="isFilterValid$ | async"
  [isFilterEnabled]="isFilterEnabled"
  [isResetEnabled]="false"
  [predefinedFilters]="predefinedFilters"
  (searchEvent)="saveBspFilter()"
>
  <form filterSearchForm [formGroup]="filterForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="bsp"
          [options]="bspCountriesList$ | async"
          [clearable]="false"
          [label]="'menu.masterData.configuration.bspLabel' | translate"
          [placeholder]="'menu.masterData.configuration.bspPlaceHolder' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>
</bspl-filter-template>
<div class="configuration-container">
  <aside class="side-menu">
    <section class="side-menu-section">
      <bspl-side-menu
        [title]="'menu.masterData.configuration.menuTitle'"
        [items]="menuItems"
        [activatedItem]="activeItem$ | async"
        (select)="selectMenuItem($event)"
      ></bspl-side-menu>
    </section>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
