<bspl-list-view
  [title]="tableTitle"
  [isInTab]="true"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasDetailedDownloading]="true"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  [filterFormatter]="displayFormatter"
  [maxSupportedItems]="maxSupportedItems"
  [predefinedFilters]="predefinedFilters"
  (download)="onDownload()"
  (detailedDownload)="onDetailedDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (queryChange)="onQueryChanged($event)"
>
  <ng-container bsplListViewTitle *ngIf="hasViewPermission">
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-button-menu
        [options]="buttonMenuOptions$ | async"
        label="REFUNDS.query.tableSelectionToolbar.buttonMenuLabel"
        [btnDesign]="btnDesign.Tertiary"
      ></bspl-button-menu>
    </bspl-table-selection-toolbar>
  </ng-container>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" [hidden]="isUserAgent">
      <bspl-select
        formControlName="bsp"
        [options]="bspCountriesList"
        [label]="'REFUNDS.query.commons.filters.labels.bsp' | translate"
        [placeholder]="'REFUNDS.query.commons.filters.placeholders.bsp' | translate"
        [isDisabled]="!bspCountriesList?.length"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'REFUNDS.query.commons.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="ticketDocumentNumber"
          [label]="'REFUNDS.query.commons.filters.labels.docNumber' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.docNumber' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" [hidden]="isUserAirline">
        <bspl-select
          [options]="airlineCodesList$ | async"
          formControlName="airlineIataCode"
          [label]="'REFUNDS.query.commons.filters.labels.airlCode' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.airlCode' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="isUserAgent">
        <bspl-select
          [options]="agentCodesList$ | async"
          formControlName="agentId"
          [label]="'REFUNDS.query.commons.filters.labels.agentCode' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.agentCode' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="statusList.length < 2">
        <bspl-select
          [options]="statusList"
          formControlName="status"
          [label]="'REFUNDS.query.commons.filters.labels.status' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.status' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="currencyList"
          formControlName="currencyId"
          [label]="'REFUNDS.query.commons.filters.labels.currency' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.currency' | translate"
          [isDisabled]="isCurrencyControlDisabled"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-range-dropdown
          formControlName="amountRange"
          [label]="'REFUNDS.query.commons.filters.labels.amountRange' | translate"
          [heading]="'REFUNDS.query.commons.filters.misc.amountRangeHeading' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="relatedTicketDocument"
          [label]="'REFUNDS.query.commons.filters.labels.rtdnNumber' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.rtdnNumber' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="passenger"
          [label]="'REFUNDS.query.commons.filters.labels.passenger' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.passenger' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" *ngIf="isRa">
        <bspl-datepicker
          [label]="'REFUNDS.query.refund-application.filters.labels.appDate' | translate"
          formControlName="dateOfApplication"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3" *ngIf="isRn">
        <bspl-datepicker
          [label]="'REFUNDS.query.refund-notice.filters.labels.issueDate' | translate"
          formControlName="dateOfIssue"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3" *ngIf="isRa">
        <bspl-datepicker
          [label]="'REFUNDS.query.refund-application.filters.labels.rejAccDate' | translate"
          formControlName="dateOfRejection"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          [label]="'REFUNDS.query.refund-notice.filters.labels.latestActDate' | translate"
          formControlName="dateOfLatestAction"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          [label]="'REFUNDS.query.' + refundType + '.filters.labels.reportingDate' | translate"
          formControlName="reportingDate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-period-picker
          formControlName="period"
          [options]="periodOptions$ | async"
          [label]="'REFUNDS.query.commons.filters.labels.period' | translate"
          [isDisabled]="isPeriodDisabled"
          [bsplTooltip]="isPeriodDisabled ? ('REFUNDS.query.commons.filters.tooltip.period' | translate) : null"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="sentToDpcList"
          formControlName="sentToDpc"
          [label]="'REFUNDS.query.commons.filters.labels.sentToDpc' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.sentToDpc' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="formsOfPaymentList"
          formControlName="formsOfPayment"
          [label]="'REFUNDS.query.commons.filters.labels.formsOfPayment' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.formsOfPayment' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <ng-container *ngIf="isRa">
        <div class="form-group col-md-3">
          <bspl-select
            [options]="sentToAirlList"
            formControlName="sentToAirline"
            [label]="'REFUNDS.query.refund-application.filters.labels.sentToAirline' | translate"
            [placeholder]="'REFUNDS.query.refund-application.filters.placeholders.sentToAirline' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [options]="changedByAgentList"
            formControlName="changedByAgent"
            [label]="'REFUNDS.query.refund-application.filters.labels.changedByAgent' | translate"
            [placeholder]="'REFUNDS.query.refund-application.filters.placeholders.changedByAgent' | translate"
          >
          </bspl-select>
        </div>
      </ng-container>
      <div *ngIf="hasReadInternalCommentPermission" class="form-group col-md-3">
        <bspl-select
          formControlName="hasInternalComment"
          [options]="hasInternalCommentList"
          [label]="'REFUNDS.query.commons.filters.labels.internalComment' | translate"
          [placeholder]="'REFUNDS.query.commons.filters.placeholders.internalComment' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="!isArchivedSubTab">
        <bspl-select
          [options]="markStatusList"
          formControlName="markStatus"
          [label]="'REFUNDS.query.refund-application.filters.labels.markStatus' | translate"
          [placeholder]="'REFUNDS.query.refund-application.filters.placeholders.markStatus' | translate"
        >
        </bspl-select>
      </div>
      <ng-container *ngIf="isRa">
        <div class="form-group col-md-3">
          <bspl-select
            formControlName="finalType"
            [options]="finalTypeList"
            [multiple]="true"
            [label]="'REFUNDS.query.refund-application.filters.labels.final' | translate"
            [placeholder]="'REFUNDS.query.refund-application.filters.placeholders.final' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-range-dropdown
            formControlName="finalDaysLeftRange"
            [label]="'REFUNDS.query.refund-application.filters.labels.daysLeft' | translate"
            [heading]="'REFUNDS.query.refund-application.filters.misc.daysLeftRangeHeading' | translate"
            [unit]="rangeDropdownUnit.Day"
            [min]="0"
            [max]="60"
          ></bspl-range-dropdown>
        </div>
        <div class="form-group col-md-3">
          <bspl-range-dropdown
            formControlName="finalProcessStoppedRange"
            [label]="'REFUNDS.query.refund-application.filters.labels.processStopped' | translate"
            [heading]="'REFUNDS.query.refund-application.filters.misc.processStoppedRangeHeading' | translate"
            [unit]="rangeDropdownUnit.Day"
            [min]="0"
            [max]="60"
          ></bspl-range-dropdown>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            formControlName="statisticalCode"
            [options]="statisticalCodeList"
            [label]="'REFUNDS.query.refund-application.filters.labels.statisticalCode' | translate"
            [placeholder]="'REFUNDS.query.refund-application.filters.placeholders.statisticalCode' | translate"
            [clearable]="true"
          >
          </bspl-select>
        </div>
      </ng-container>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [rowClassesModifier]="rowClassesModifier"
    [isLoading]="loading$ | async"
    [primaryActions]="listActions$ | async"
    (rowLinkClick)="onViewRefund($event)"
    [rowDetailTemplate]="rowDetailTemplate"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onGetActionList($event)"
    (actionClick)="onActionClick($event)"
    (checkboxChange)="onRowsSelectionChange($event)"
    (imageClick)="onImageClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.airlineLbl'"
        [value]="row.airline.iataCode + ' / ' + row.airline.localName"
      ></bspl-property>
      <bspl-property
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.agentLbl'"
        [value]="row.agent.iataCode + ' / ' + row.agent.name"
      ></bspl-property>
      <bspl-property
        label="ADM_ACM.query.rowDetails.agentStatus"
        [value]="'ADM_ACM.query.rowDetails.agentStatusTypes.' + row.agent.active | translate"
      ></bspl-property>
      <bspl-property
        *ngIf="isRa && row.finalProcessStopped != null"
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.processStoppedLbl'"
        [value]="row.finalProcessStopped"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
      <bspl-property
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.countryLbl'"
        [value]="row.agent.bsp.name | titlecase"
      ></bspl-property>
      <bspl-property
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.passengerLbl'"
        [value]="row.passenger"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
      <bspl-property
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.latestActLbl'"
        [value]="row.dateOfLatestAction | dateTimeFormat : 'date'"
      ></bspl-property>
      <bspl-property
        [label]="'REFUNDS.query.' + refundType + '.rowDetails.sentToAirlineLbl'"
        [value]="row.sentToAirline ? ('REFUNDS.query.commons.yesNoShortValue.' + row.sentToAirline | translate) : ''"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
