<bspl-button label="Info" (click)="notificationService.showInformation(message)"></bspl-button>
<bspl-button label="Success" (click)="notificationService.showSuccess(message)"></bspl-button>
<bspl-button label="Error" (click)="notificationService.showError(message)"></bspl-button>
<bspl-button
  label="System Error"
  (click)="notificationService.showSystemError(message, { errorCode: '1234', errorId: '456' })"
></bspl-button>
<bspl-button label="Warning" (click)="notificationService.showWarning(message)"></bspl-button>
<bspl-notification></bspl-notification>
