<bspl-simple-table
  [title]="'document.sections.exchangeInfo.title'"
  [columns]="columns"
  [data]="data"
></bspl-simple-table>

<ng-template #exchangeTicketTemplate let-column="column" let-dataItem="dataItem" let-table="table">
  <a class="link" (click)="openDocument.emit(dataItem[column.field])">
    {{ dataItem[column.field] }}
  </a>
</ng-template>
