@import 'theme/variables/index';

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-xl;
}

.page-container {
  background-color: $gray-subtle;
  padding: $spacing-l 20rem;

  bspl-alert-message {
    display: block;
    margin: $spacing-m 0;
  }
}
