<bspl-spinner [isLoading]="isLoading$ | async" relativeTo="parent">
  <div class="page-header">
    <h3>{{ 'menu.masterData.configuration.globalTaFopFiles.pageTitle' | translate }}</h3>
  </div>

  <div class="page-container" [formGroup]="form">
    <h4 class="page-message">{{ 'menu.masterData.configuration.globalTaFopFiles.pageMessage' | translate }}</h4>
    <bspl-alert-message
      [message]="'menu.masterData.configuration.globalTaFopFiles.disclaimer' | translate"
      [type]="disclaimerType"
    ></bspl-alert-message>
    <bspl-select
      formControlName="bsp"
      [options]="bspIdOptions$ | async"
      [label]="'menu.masterData.configuration.globalTaFopFiles.bsp' | translate"
      [locked]="isBspLocked"
    ></bspl-select>
  </div>
</bspl-spinner>
