<div [class.active]="active" class="activity-comment-container" [formGroup]="form">
  <div class="row">
    <div class="col">
      <textarea
        [placeholder]="'postBillingDisputes.activityPanel.placeholders.startTypingComment' | translate"
        class="comment-textarea"
        (focus)="setTextAreaIsFocused(true)"
        (blur)="setTextAreaIsFocused(false)"
        formControlName="comment"
        [attr.disabled]="disabled || null"
      ></textarea>
      <bspl-upload
        [isDragAndDropActive]="true"
        [validationRules]="validationRules"
        [mode]="uploadMode"
        [resetMode]="uploadMode"
        [uploadPath]="uploadPath"
        responseFieldName="id"
        formControlName="fileIds"
        (uploadStarted)="setUploadIsInProgress(true)"
        (uploadFinished)="setUploadIsInProgress(false)"
      ></bspl-upload>
    </div>
  </div>
  <div class="row buttons-container">
    <div class="col text-right">
      <bspl-button
        [label]="'postBillingDisputes.activityPanel.buttonLabels.CANCEL'"
        [icon]="'cancel'"
        [design]="'tertiary'"
        class="cancel-button"
        (onClick)="onCancelClick()"
        [isDisabled]="isCancelBtnDisabled"
      ></bspl-button>
      <bspl-button
        [label]="'postBillingDisputes.activityPanel.buttonLabels.POST'"
        [design]="'secondary'"
        [icon]="'done'"
        (onClick)="onPostClick()"
        [isLoading]="isLoading"
        [isDisabled]="isPostBtnDisabled"
      ></bspl-button>
    </div>
  </div>
</div>
