@import 'theme/variables/index';
@import 'components/inline-list/inline-list';
@import 'components/form-page/form-page';
@import 'components/form-page/form-page-view';

.rule-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  padding: $spacing-xl 0;

  .rule-actions {
    display: flex;
    gap: $spacing-xs;
  }

  .rule-title {
    margin-right: $spacing-xs;
  }
}

.wrapper {
  margin-top: $spacing-xl;
  background-color: $gray-subtle;

  h3 {
    margin-bottom: $spacing-m;
  }

  .dark-background {
    background-color: $gray-dark;
    color: $white-subtle;

    h3 {
      color: $white-subtle;
    }

    ul.listFields .listLine .listText .listLabelText {
      color: $white-subtle;
    }
  }

  .container-column {
    padding: $spacing-xl $spacing-xxxxl $spacing-xl;

    ul.listFields .listLine .listText .listLabelValue > span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .statusItem {
      padding-top: 0.6rem;

      span {
        color: $gray-deep;
      }
    }
  }
}
