<div class="rule-detail-header">
  <h2 class="rule-title">{{ title | translate : locale.language : { ruleId: ruleSelected?.name || '' } }}</h2>
</div>
<div class="rule-detail-sub-header" [innerHTML]="subTitle | translate"></div>

<div class="wrapper col-12">
  <ng-container *ngTemplateOutlet="ruleDetailsReadOnly"></ng-container>
</div>

<ng-template #ruleDetailsReadOnly>
  <bspl-spinner [isLoading]="isLoading" relativeTo="parent"></bspl-spinner>
  <div class="row">
    <div class="col-4 separator-right container-column">
      <h3>{{ characteristicsTitle | translate }}</h3>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.airlines',
              value: ruleSelected?.airlineCode
            }
          "
        ></ng-container>
        <div class="statusItem">
          <span>{{ 'ADM_ACM.categorizationRuleDetail.view.properties.status' | translate }}</span>
          <bspl-checkbox
            [checked]="ruleSelected?.status === 'ACTIVE'"
            [label]="'ADM_ACM.categorizationRules.filters.status.options.ACTIVE' | translate"
            [disabled]="true"
          ></bspl-checkbox>
        </div>
      </ul>
    </div>
    <div class="col-4 separator-right container-column">
      <h3>{{ conditionsTitle | translate }}</h3>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.country',
              value: ruleSelected?.isoCountryCodes
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.transaction',
              value: ruleSelected?.concernsIndicator
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.reason',
              value: ruleSelected?.reasonForMemoField
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.position',
              value: ruleSelected?.position
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.pattern',
              value: ruleSelected?.pattern
            }
          "
        ></ng-container>
      </ul>
    </div>
    <div class="col-4 dark-background container-column">
      <h3>{{ categoryTitle | translate }}</h3>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.primaryReason',
              value: ruleSelected?.primaryReason
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'ADM_ACM.categorizationRuleDetail.view.properties.subReason',
              value: ruleSelected?.subReason
            }
          "
        ></ng-container>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #listLine let-label="label" let-value="value">
  <li class="listLine">
    <div class="row listText">
      <div class="col-4 listLabelText">
        <span>{{ label | translate }}</span>
      </div>
      <div class="col listLabelValue">
        <span [bsplTooltip]="value" [showOnEllipsis]="true">{{
          value || ('ADM_ACM.categorizationRuleDetail.view.all' | translate)
        }}</span>
      </div>
    </div>
  </li>
</ng-template>
