<bspl-list-view
  id="refund-authority-list"
  [filterFormatter]="displayFormatter"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasFilteringExpanded]="hasFilteringExpanded"
  [isActionButtonDisabled]="!isSearchEnabled"
  [canDownload]="hasData$ | async"
  [title]="'LIST.MASTER_DATA.refundAuthority.title' + viewAs"
  [isInTab]="true"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" *ngIf="hasLeanPermission">
      <bspl-select
        formControlName="bsp"
        [options]="userBspOptions"
        [label]="'LIST.MASTER_DATA.refundAuthority.filters.label.bsp' | translate"
        [placeholder]="'LIST.MASTER_DATA.refundAuthority.filters.placeholders.bsp' | translate"
        [locked]="isBspFilterLocked"
        [clearable]="false"
      >
      </bspl-select>
      <span>{{ 'LIST.MASTER_DATA.refundAuthority.filters.bsp.highlightedText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAirlineView">
        <bspl-select
          [multiple]="true"
          [options]="agents$ | async"
          [virtualScroll]="true"
          [locked]="isAgentFilterLocked"
          formControlName="agents"
          [label]="'LIST.MASTER_DATA.refundAuthority.filters.label.agent' | translate"
          [placeholder]="agentDropdownPlaceholder | translate"
        ></bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAgentView">
        <bspl-select
          [multiple]="true"
          [options]="airlines$ | async"
          [virtualScroll]="true"
          formControlName="airlines"
          [label]="'LIST.MASTER_DATA.refundAuthority.filters.label.airline' | translate"
          [placeholder]="'LIST.MASTER_DATA.refundAuthority.filters.placeholders.airline' | translate"
        ></bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAgentView">
        <bspl-select
          [multiple]="true"
          [options]="designators$ | async"
          [virtualScroll]="true"
          formControlName="designators"
          [label]="'LIST.MASTER_DATA.refundAuthority.filters.label.designator' | translate"
          [placeholder]="'LIST.MASTER_DATA.refundAuthority.filters.placeholders.designator' | translate"
        ></bspl-select>
      </div>

      <div class="col-lg-3" *ngIf="[permissions.readRAIssueAgent, permissions.readRefundIssueAirline] | hasPermission">
        <bspl-select
          formControlName="hasRA"
          [options]="statusOptions"
          [label]="'LIST.MASTER_DATA.refundAuthority.filters.label.raAuthorityStatus' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="[permissions.readRNIssueAgent, permissions.readRefundIssueAirline] | hasPermission">
        <bspl-select
          formControlName="hasRN"
          [options]="statusOptions"
          [label]="'LIST.MASTER_DATA.refundAuthority.filters.label.rnAuthorityStatus' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <div [hidden]="!canShowDataQuery">
    <bspl-grid-table
      bsplListViewGrid
      [columns]="columns"
      [rows]="data$ | async"
      columnMode="flex"
      [isLoading]="loading$ | async"
      (checkboxChange)="onModify($event)"
    ></bspl-grid-table>
  </div>
  <div [hidden]="canShowDataQuery">
    <bspl-locked-state
      [message]="'LIST.MASTER_DATA.refundAuthority.filters.bsp.lockedStateMessage' | translate"
    ></bspl-locked-state>
  </div>
</bspl-list-view>
