<bspl-list-view
  [title]="'document.netRemit.title'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [predefinedFilters]="predefinedFilters"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        formControlName="bsp"
        [options]="userBspOptions"
        [label]="'document.netRemit.filters.bsp.label' | translate"
        [placeholder]="'document.netRemit.filters.bsp.placeholder' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'document.netRemit.filters.bsp.highlightedText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="periodRange"
          [label]="'document.netRemit.filters.periodRange.label'"
          [options]="periodOptions"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'document.netRemit.filters.monthPeriod.label'"
          [options]="periodOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="loggedUserIsOfType(userTypes.AGENT)">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'document.netRemit.filters.airline.label' | translate"
          [placeholder]="'document.netRemit.filters.airline.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="loggedUserIsOfType(userTypes.AIRLINE)">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'document.netRemit.filters.agent.label' | translate"
          [placeholder]="'document.netRemit.filters.agent.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="currencyDropdownOptions"
          formControlName="currency"
          [label]="'document.netRemit.filters.currency.label' | translate"
          [placeholder]="'document.netRemit.filters.currency.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="tourCode"
          [label]="'document.netRemit.filters.tourCode.label' | translate"
          [placeholder]="'document.netRemit.filters.tourCode.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="fareTicketDesignator"
          [label]="'document.netRemit.filters.fareTicketDesignator.label' | translate"
          [placeholder]="'document.netRemit.filters.fareTicketDesignator.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="commercialAgreementReference"
          [label]="'document.netRemit.filters.commercialAgreementReference.label' | translate"
          [placeholder]="'document.netRemit.filters.commercialAgreementReference.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="netReportingMethodIndicatorDropdownsOptions"
          formControlName="netReportingMethodIndicator"
          [label]="'document.netRemit.filters.netReportingMethodIndicator.label' | translate"
          [placeholder]="'document.netRemit.filters.netReportingMethodIndicator.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="netReportingCalculationTypeDropdownOptions"
          formControlName="netReportingCalculationType"
          [label]="'document.netRemit.filters.netReportingCalculationType.label' | translate"
          [placeholder]="'document.netRemit.filters.netReportingCalculationType.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="transactionCodeDropdownOptions"
          formControlName="transactionCode"
          [label]="'document.netRemit.filters.transactionCode.label' | translate"
          [placeholder]="'document.netRemit.filters.transactionCode.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="originAirport"
          [label]="'document.netRemit.filters.originAirport.label' | translate"
          [placeholder]="'document.netRemit.filters.originAirport.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="destinationAirport"
          [label]="'document.netRemit.filters.destinationAirport.label' | translate"
          [placeholder]="'document.netRemit.filters.destinationAirport.placeholder' | translate"
        >
        </bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowLinkClick)="onOpenDocument($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact property-list-align-right">
      <bspl-property label="document.netRemit.rowDetails.currencyLbl" [value]="row.currency.code"></bspl-property>
      <bspl-property label="document.netRemit.rowDetails.totalAmountLbl" [value]="row.ticketAmount"></bspl-property>
      <bspl-property
        label="document.netRemit.rowDetails.netReportingMethodIndicatorLbl"
        [value]="row.netReportingMethodIndicator"
      ></bspl-property>
      <bspl-property
        label="document.netRemit.rowDetails.netReportingCalculationTypeLbl"
        [value]="row.netReportingCalculationType"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact property-list-align-right">
      <bspl-property
        label="document.netRemit.rowDetails.commissionableAmountLbl"
        [value]="row.commissionableAmount"
      ></bspl-property>
      <bspl-property
        label="document.netRemit.rowDetails.commissionAmountLbl"
        [value]="row.commissionAmount"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact property-list-align-right">
      <bspl-property
        label="document.netRemit.rowDetails.supplementaryAmountLbl"
        [value]="row.supplementaryAmount"
      ></bspl-property>
      <bspl-property
        label="document.netRemit.rowDetails.remittanceAmountLbl"
        [value]="row.remittanceAmount"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>

<ng-template #documentLinkTmpl let-document="value">
  <a class="link" (click)="onOpenDocument(document)">{{ document | bsplEmpty }}</a>
</ng-template>
