<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >The dashboard page contains different sections which are intended to facilitate Agent Group users the management of
    its activity. It contains four major sections: Dashboard highlights, Dashboard Insights, Quick Links and IATA
    Messages and Reports.</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent_group/images/dashboard-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Dashboard.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dashboard highlights
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The top part of the dashboard displays the most relevant actions performed in the previous 7 days: issued Refund
    Applications, disputed ADMs, issued PBDs and rejected of modified RET files. It is possible to display each of these
    options by clicking on “See all”.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"
    ><img
      border="0"
      width="75%"
      src="agent_group/images/image015.jpg"
      alt="Captura de pantalla de un celular&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222469"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Dashboard highlights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dashboard insights
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This dashboard section shows different charts which allow Airline users compare different details affecting ADMs,
    Refund Applications and Files:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="agent_group/images/dashboard-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Toc51222470"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Dashboard insights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Quick Links
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It is also possible to browse specific sub-options by means of a series of Quick Links:</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="agent_group/images/image017.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222471"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Quick Links.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  IATA Messages and News
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Finally, the right side of the dashboard includes an overview of the most recent news and messages from IATA.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="383" height="631" id="Imagen 8" src="agent_group/images/image018.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: IATA Messages and News.</span>
</p>
