@import 'theme/variables/index';
@import 'theme/app/custom-control';

:host {
  @include control-error();

  &.control--disabled {
    .radio-buttons-wrapper {
      background-color: $background-disabled-field;

      .radio-button {
        cursor: $cursor-disabled;

        & ::ng-deep {
          .p-radiobutton-label,
          .p-radiobutton {
            cursor: $cursor-disabled;
          }
        }
      }
    }
  }

  &.control--flex-basis-50 {
    .radio-button {
      flex-basis: 50%;
    }
  }

  .group-label {
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin-bottom: $spacing-xxxs;
  }

  .radio-buttons-wrapper {
    display: flex;
    background-color: white;

    :first-child {
      border-top-left-radius: $border-radius-small;
      border-bottom-left-radius: $border-radius-small;
    }

    :last-child {
      border-right: 1px solid $gray-middle;
      border-top-right-radius: $border-radius-small;
      border-bottom-right-radius: $border-radius-small;

      &.active {
        border-right-color: $blue-light;
      }
    }
  }

  .radio-button {
    border: 1px solid $gray-middle;
    border-right: none;
    cursor: pointer;

    &.active {
      border: 1px solid $blue-light;

      & + .radio-button {
        border-left: none;
      }
    }

    ::ng-deep p-radioButton {
      padding: $spacing-xxs $spacing-m;
    }
  }

  .vertical-radio-buttons-wrapper {
    margin-left: $spacing-xxl;

    .vertical-radio-buttons {
      ::ng-deep p-radioButton {
        margin-bottom: $spacing-s;
      }

      &:last-child {
        ::ng-deep p-radioButton {
          margin-bottom: $spacing-xxxs;
        }
      }
    }
  }
}
