<label [bsplTooltip]="tooltipText ? tooltipText : ''" class="group-label" *ngIf="label">{{ label }}</label>
<div [ngClass]="isVertical ? 'vertical-radio-buttons-wrapper' : 'radio-buttons-wrapper'">
  <bspl-radio-button
    *ngFor="let option of options"
    [ngClass]="isVertical ? 'vertical-radio-buttons' : 'radio-button'"
    [class.active]="isActive(option.value)"
    [name]="groupName"
    [label]="option.label | translate"
    [value]="option.value"
    [disabled]="isOptionDisabled(option.disabled)"
    (click)="radioButtonClicked(option)"
  ></bspl-radio-button>
</div>

<div *ngIf="areErrorsShown" class="control__error">
  {{ getErrorMessage() }}
</div>
