<div class="changes-dialog">
  <form [formGroup]="form">
    <div class="row details-section pb-4">
      <div class="col-md-12">
        <h4>{{ 'head-office-sub-users.contactDetails' | translate }}</h4>
      </div>
    </div>
    <div>
      <bspl-input
        formControlName="portalEmail"
        [label]="'head-office-sub-users.filters.portalEmail.label' | translate"
        [placeholder]="'head-office-sub-users.filters.portalEmail.placeholder' | translate"
      ></bspl-input>
    </div>
    <div>
      <bspl-input
        formControlName="name"
        [label]="'head-office-sub-users.filters.name.label' | translate"
        [placeholder]="'head-office-sub-users.filters.name.placeholder' | translate"
      ></bspl-input>
    </div>
    <div>
      <bspl-input
        formControlName="organization"
        [label]="'head-office-sub-users.details.organization.label' | translate"
        [placeholder]="'head-office-sub-users.details.organization.placeholder' | translate"
      ></bspl-input>
    </div>
    <div class="pb-2">
      <bspl-input
        formControlName="telephone"
        [label]="'head-office-sub-users.details.telephone.label' | translate"
        [placeholder]="'head-office-sub-users.details.telephone.placeholder' | translate"
      ></bspl-input>
    </div>
    <hr />
    <div class="row details-section py-4">
      <div class="col-md-12">
        <h4>{{ 'head-office-sub-users.addressDetails' | translate }}</h4>
      </div>
    </div>
    <div>
      <bspl-input
        formControlName="country"
        [label]="'head-office-sub-users.details.country.label' | translate"
        [placeholder]="'head-office-sub-users.details.country.placeholder' | translate"
      ></bspl-input>
    </div>
    <div>
      <bspl-input
        formControlName="city"
        [label]="'head-office-sub-users.details.city.label' | translate"
        [placeholder]="'head-office-sub-users.details.city.placeholder' | translate"
      ></bspl-input>
    </div>
    <div>
      <bspl-input
        formControlName="address"
        [label]="'head-office-sub-users.details.address.label' | translate"
        [placeholder]="'head-office-sub-users.details.address.placeholder' | translate"
      ></bspl-input>
    </div>
    <div class="pb-2">
      <bspl-input
        formControlName="postCode"
        [label]="'head-office-sub-users.details.postCode.label' | translate"
        [placeholder]="'head-office-sub-users.details.postCode.placeholder' | translate"
      ></bspl-input>
    </div>
    <hr />
    <div class="pt-2">
      <bspl-select
        formControlName="access"
        [label]="'head-office-sub-users.filters.access.label' | translate"
        [placeholder]="'head-office-sub-users.filters.access.label' | translate"
        [options]="accessOptions"
        [virtualScroll]="true"
        [appendToBody]="true"
        [clearable]="false"
      ></bspl-select>
    </div>
  </form>
</div>
