@import '~src/app/shared/scss/index';

.changes-dialog {
  padding-bottom: $spacing-l;

  .msg {
    margin-bottom: $spacing-m;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $gray-deep;
  }

  .title {
    margin: $spacing-xl 0 0;
  }

  .user-group {
    border-top: 1px solid $gray-deep;
  }

  .changes-group {
    .subtitle {
      font-size: $font-size-m;
      color: $gray-deep;
      line-height: $line-height-m;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .item {
        padding: $spacing-s 0;
        border-bottom: 1px solid $gray-neutral;
      }
    }

    &:last-child {
      .item {
        &:last-child {
          padding: $spacing-s 0 $spacing-xl;
          border-bottom: none;
        }
      }
    }
  }
}
