<div class="changes-dialog">
  <p class="msg">{{ config.data.description | translate }}</p>
  <section class="row details-section" *ngFor="let user of changedPermissions$ | async" class="user-group">
    <h4 class="title">
      {{ user.portalEmail }}
    </h4>
    <section *ngFor="let group of user.permissionGroups" class="changes-group">
      <h5 class="title">{{ group.name }}</h5>
      <ul class="list">
        <li class="item" *ngFor="let permission of group.permissions">
          <div class="subtitle" [bsplTooltip]="permission.name">
            {{ permission.name }}
          </div>
          <bspl-badge-information
            [value]="checkboxStatusTranslationNs + permission.user.permission.enabled | translate"
            [type]="permission.user.permission.enabled ? BadgeInfoType.success : BadgeInfoType.regular"
          ></bspl-badge-information>
        </li>
      </ul>
    </section>
  </section>
</div>
