@import 'src/app/sales/shared/sales-query';

:host {
  ::ng-deep .statement-header {
    justify-content: flex-end;
  }

  ::ng-deep {
    .alertMessage .material-icons {
      align-self: flex-start;
    }
  }
}
