<bspl-list-view
  [title]="'sales.scuSummary.viewTitle'"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
  [noticeMessage]="noticeDisclaimer$ | async | translate"
>
  <div class="view-header statement-header" bsplListViewTitle>
    <bspl-button
      [label]="'Totals'"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(dataSource.hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'sales.billingStatement.bsp' | translate"
        [placeholder]="'sales.billingStatement.selectBsp' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'sales.billingStatement.highlightedBspText' | translate }}</span>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isUserAirline">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'sales.scuSummary.airlineCodeName' | translate"
          [placeholder]="'sales.scuSummary.selectAirline' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isUserAgent">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'sales.scuSummary.agentCodeName' | translate"
          [placeholder]="'sales.scuSummary.selectAgent' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="periodRange"
          [label]="'sales.billingStatement.period'"
          [options]="periodDropdownOptions"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'sales.billingStatement.monthPeriod'"
          [options]="periodDropdownOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="documentTypeOptions"
          formControlName="documentType"
          [label]="'sales.scuSummary.documentType' | translate"
          [placeholder]="'sales.scuSummary.documentType' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="formOfPaymentOptions"
          formControlName="formOfPayment"
          [label]="'sales.scuSummary.formOfPayment' | translate"
          [placeholder]="'sales.scuSummary.formOfPayment' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statisticalCodeOptions"
          formControlName="statisticalCode"
          [label]="'sales.scuSummary.salesType' | translate"
          [placeholder]="'sales.scuSummary.salesType' | translate"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns$ | async"
    [columnMode]="'flex'"
    [isLoading]="dataSource.loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>
<bspl-floating-panel [closable]="true" (opened)="onTotalPanelOpened()" (closed)="onTotalPanelClosed()">
  <bspl-spinner [isLoading]="isTotalLoading" [relativeTo]="'parent'">
    <bspl-scu-totals [total]="total$ | async" (breakdownTypeChange)="onBreakdownTypeChanged($event)"></bspl-scu-totals>
  </bspl-spinner>
</bspl-floating-panel>
