@import 'theme/variables/index';

.user-properties-container {
  background-color: $gray-subtle;
  padding: $spacing-xl 0;
  margin-top: $spacing-xl;

  bspl-property-list {
    padding: 0 $spacing-xxxxl;

    &.contact-details {
      bspl-property:first-child {
        margin-bottom: 1.3rem;
      }
    }
  }

  .general-container bspl-property-list + bspl-property-list {
    margin-top: $spacing-m;
  }
}
