<div class="user-properties-container" *ngIf="user">
  <div class="row row-with-separators m-0" [formGroup]="form">
    <!-- General -->
    <div class="col-md-4 col-sm-4 general-container">
      <bspl-property-list header="headerUserInfo.propertiesTab.labels.general">
        <bspl-property
          label="headerUserInfo.propertiesTab.labels.userType"
          [value]="(user.userType | titlecase) + ' user'"
        ></bspl-property>
        <bspl-property
          label="headerUserInfo.propertiesTab.labels.code"
          [value]="(user.userTypeDetails?.iataCode | bsplEmpty) + ' / ' + (user.userTypeDetails?.name | bsplEmpty)"
        ></bspl-property>
        <bspl-property label="headerUserInfo.propertiesTab.labels.status">
          {{
            userIsActive
              ? ('headerUserInfo.propertiesTab.labels.statusActive' | translate)
              : ('headerUserInfo.propertiesTab.labels.statusInactive' | translate)
          }}
        </bspl-property>
        <bspl-property
          label="headerUserInfo.propertiesTab.labels.registerDate"
          [value]="user.registerDate | date : 'dd/MM/yyyy'"
        ></bspl-property>
        <bspl-property
          label="headerUserInfo.propertiesTab.labels.expiryDate"
          [value]="user.expiryDate | date : 'dd/MM/yyyy'"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list header="headerUserInfo.propertiesTab.labels.template" *ngIf="!isAirlineMulticountry">
        <bspl-property label="headerUserInfo.propertiesTab.labels.template" [value]="user.template"></bspl-property>
      </bspl-property-list>
    </div>
    <!-- Contact details -->
    <bspl-property-list
      class="col-md-4 col-sm-4 contact-details"
      header="headerUserInfo.propertiesTab.labels.contactDetails"
    >
      <bspl-property label="headerUserInfo.propertiesTab.labels.userEmail" [value]="user.portalEmail"></bspl-property>
      <bspl-input [label]="'headerUserInfo.propertiesTab.labels.name' | translate" formControlName="name"></bspl-input>
      <bspl-input
        [label]="'headerUserInfo.propertiesTab.labels.organization' | translate"
        formControlName="organization"
      ></bspl-input>
      <bspl-input
        [label]="'headerUserInfo.propertiesTab.labels.telephone' | translate"
        formControlName="telephone"
      ></bspl-input>
    </bspl-property-list>
    <!-- Address details -->
    <bspl-property-list class="col-md-4 col-sm-4" header="headerUserInfo.propertiesTab.labels.addressDetails">
      <bspl-input
        [label]="'headerUserInfo.propertiesTab.labels.country' | translate"
        formControlName="country"
      ></bspl-input>
      <bspl-input [label]="'headerUserInfo.propertiesTab.labels.city' | translate" formControlName="city"></bspl-input>
      <bspl-input
        [label]="'headerUserInfo.propertiesTab.labels.address' | translate"
        formControlName="address"
      ></bspl-input>
      <bspl-input
        [label]="'headerUserInfo.propertiesTab.labels.postCode' | translate"
        formControlName="postCode"
      ></bspl-input>
    </bspl-property-list>
  </div>
</div>
