<div class="non-comparative-container">
  <div class="currency-container">
    <span class="label">{{ 'sales.nonComparatives.currency' | translate }}: </span>
    <span *ngIf="currencyOptions.length === 1; else currencyDropdown">
      {{ currencyOptions[0].label }}
    </span>
  </div>
  <div class="payment-method-list">
    <div class="payment-method">
      <div class="label">{{ 'sales.nonComparatives.cash' | translate }}</div>
      <div class="amount">
        {{ data?.formOfPaymentAmountCa || 0 | number : getAmountFormat(data.currency?.decimals) }}
      </div>
    </div>
    <div class="payment-method">
      <div class="label">{{ 'sales.nonComparatives.creditTurnedCash' | translate }}</div>
      <div class="amount">
        {{ data?.formOfPaymentAmountCm || 0 | number : getAmountFormat(data.currency?.decimals) }}
      </div>
    </div>
    <div class="payment-method">
      <div class="label">{{ 'sales.nonComparatives.miscCash' | translate }}</div>
      <div class="amount">
        {{ data?.formOfPaymentAmountMsCa || 0 | number : getAmountFormat(data.currency?.decimals) }}
      </div>
    </div>
    <div class="payment-method">
      <div class="label">{{ 'sales.nonComparatives.credit' | translate }}</div>
      <div class="amount">
        {{ data?.formOfPaymentAmountCc || 0 | number : getAmountFormat(data.currency?.decimals) }}
      </div>
    </div>
    <div class="payment-method">
      <div class="label">{{ 'sales.nonComparatives.miscCredit' | translate }}</div>
      <div class="amount">
        {{ data?.formOfPaymentAmountMsCc || 0 | number : getAmountFormat(data.currency?.decimals) }}
      </div>
    </div>
    <div class="payment-method">
      <div class="label">{{ 'sales.nonComparatives.easyPay' | translate }}</div>
      <div class="amount">
        {{ data?.formOfPaymentAmountEp || 0 | number : getAmountFormat(data.currency?.decimals) }}
      </div>
    </div>
  </div>
  <div class="totals-container">
    <div class="label">{{ 'sales.nonComparatives.total' | translate }}</div>
    <div class="amount">{{ data?.ticketAmount || 0 | number : getAmountFormat(data.currency?.decimals) }}</div>
  </div>
</div>

<ng-template #currencyDropdown>
  <bspl-select
    [options]="currencyOptions"
    [clearable]="false"
    [appendToBody]="true"
    [modes]="[selectSmallMode]"
    [(ngModel)]="currency"
  ></bspl-select>
</ng-template>
