@import 'theme/variables/index';

$payment-method-spacing: 6rem;
$currency-container-spacing: 9rem;

.non-comparative-container {
  display: flex;
  margin: 0 $spacing-xl;

  .currency-container {
    padding: $spacing-s $currency-container-spacing 0 $spacing-xs;

    .label {
      color: $gray-deep;
    }
  }

  .payment-method-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: $spacing-s $spacing-xxxl;

    .payment-method {
      padding-right: $payment-method-spacing;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .totals-container {
    padding: $spacing-s $spacing-xs $spacing-s $spacing-xxxl;
    border-left: 1px solid $blue-primary;
  }

  .payment-method-list,
  .totals-container {
    .label {
      font-size: $font-size-s;
      line-height: $line-height-s;
      color: $gray-deep;
      font-weight: $font-weight-bold;
      margin-bottom: $spacing-xxs;
      float: right;
    }

    .amount {
      font-size: $font-size-l;
      line-height: $line-height-l;
    }
  }
}
