<bspl-spinner [isLoading]="loading$ | async" relativeTo="viewport"></bspl-spinner>
<header class="header-area">
  <section class="header-brand">
    <a [routerLink]="[ROUTES.DASHBOARD.url]" class="header-brand-link">
      <img class="header-brand-logo" src="../assets/images/ico_iata.svg" alt="IATA logo" />
    </a>
    <span class="header-brand-app">BSP<i>link</i></span>
    <span class="header-brand-app" *ngIf="isAirlineUserTemplateVisible">{{ airlineUserTemplate }}</span>
    <span class="header-brand-app" *ngIf="isTrainingSite">{{ 'appHeader.trainingPortalTitle' | translate }}</span>
    <span class="header-brand-app" *ngIf="environmentLabel">{{ environmentLabel }}</span>
    <span class="header-brand-app" *ngIf="bsp">{{ bsp.name }}&nbsp;({{ bsp.isoCountryCode }})</span>
    <span class="header-brand-app" *ngIf="isMultiCountryUser">
      {{ 'headerUserInfo.heading.multiCountry' | translate }}
    </span>
  </section>
  <nav class="header-nav">
    <ul class="header-nav-menu">
      <li class="header-nav-item">
        <a class="header-nav-link search">
          <bspl-input
            [formControl]="searchInput"
            [placeholder]="'headerUserInfo.search.placeholder' | translate"
            [type]="'number'"
            (keyup.enter)="onSearchClick()"
          ></bspl-input>
          <span class="search-icon" (click)="onSearchClick()"></span>
        </a>
      </li>
      <li
        class="header-nav-item"
        [bsplTooltip]="'headerUserInfo.switchAccountTooltip' | translate"
        *ngIf="userCanSwitchAccount"
      >
        <a class="header-nav-link switchAccount" (click)="onSwitchAccountClick()"></a>
      </li>
      <ng-container *ngIf="!isTrainingSite && showActions">
        <li
          class="header-nav-item"
          [bsplTooltip]="'headerUserInfo.onlineHelpTooltip' | translate"
          *ngIf="onlineHelpPermissions | hasPermission"
        >
          <a class="header-nav-link help" [routerLink]="[ROUTES.HELP.url]"></a>
        </li>
      </ng-container>
      <li class="header-nav-item user-menu-main-item" *ngIf="showProfile">
        <a class="header-nav-link user" (mouseenter)="openedUserMenu = true">
          <span class="name">{{ user?.firstName }} {{ user?.lastName }}</span>
          <span class="organization">{{ formatUserType(user?.userType) }}</span>
          <ul class="user-menu" *ngIf="openedUserMenu">
            <li
              class="user-menu-item"
              *ngIf="[Permissions.readProfile, Permissions.readProfileAirlineMulticountry] | hasPermission"
            >
              <a
                class="header-nav-link"
                [routerLink]="[ROUTES.USER_PROFILE.url]"
                [queryParams]="{ tab: 'user-properties' }"
              >
                {{ 'headerUserInfo.properties' | translate }}
              </a>
            </li>
            <li class="user-menu-item">
              <a class="header-nav-link" (click)="openChangeLanguageDialog()">
                {{ 'headerUserInfo.language' | translate }}
              </a>
            </li>
            <li class="user-menu-item" *ngIf="userCanDeactivateAccount">
              <a class="header-nav-link" (click)="onDeactivateAgentGroup()">
                {{ 'headerUserInfo.deactivateGroup' | translate }}
              </a>
            </li>
            <li
              class="user-menu-item login-as-any-user"
              (click)="openLoginAsAnyUserDialog(false)"
              *ngIf="userCanImpersonateMainUser"
            >
              <a class="header-nav-link">
                <span>{{ 'headerUserInfo.loginAsAnyUser' | translate }}</span>
              </a>
            </li>
            <li class="user-menu-item" (click)="openLoginAsAnyUserDialog(true)" *ngIf="userIataIsImpersonating">
              <a class="header-nav-link">
                <span>{{ 'headerUserInfo.returnToOriginalProfile' | translate }}</span>
              </a>
            </li>
            <li
              class="user-menu-item login-as-any-user"
              (click)="openLoginAsAnyGroupMemberDialog(false)"
              *ngIf="userCanImpersonateGroupMember"
            >
              <a class="header-nav-link">
                <span>{{ 'headerUserInfo.loginAsAnyGroupMember' | translate }}</span>
              </a>
            </li>
            <li
              class="user-menu-item"
              (click)="openLoginAsAnyGroupMemberDialog(true)"
              *ngIf="userAgentGroupIsImpersonating"
            >
              <a class="header-nav-link return-to-agent-group">
                <span>{{ 'headerUserInfo.returnToAgentGroupProfile' | translate }}</span>
              </a>
            </li>
            <li class="user-menu-item">
              <a class="header-nav-link exit" (click)="emitLogout()">
                <span>{{ 'headerUserInfo.logOut' | translate }}</span>
              </a>
            </li>
          </ul>
        </a>
      </li>
      <li #notificationsWrapper class="header-nav-item" *ngIf="showActions">
        <a class="header-nav-link notifications" (click)="toggleNotificationsMenu()">
          <span class="alerts">{{ notificationsCount }}</span>
        </a>
        <ul class="notifications-menu" *ngIf="openedNotificationsMenu">
          <li class="notifications-menu-item">
            <h3>
              {{ 'notificationsMenu.title' | translate : locale.language : { count: notificationsCount } }}
            </h3>
          </li>
          <li class="notifications-menu-item notifications-loading" *ngIf="notificationsLoading">
            <bspl-spinner [isLoading]="true" [relativeTo]="parent"></bspl-spinner>
          </li>
          <li
            class="notifications-menu-item notification"
            *ngFor="let notification of notifications$ | async"
            (click)="onNotificationClick(notification)"
          >
            <a>
              <div>
                <span class="notification-info link"
                  >{{ notification.sourceType | uppercase }} - {{ notification.sourceNumber }}
                </span>
                <span class="notification-action-type"
                  >{{ 'notificationsMenu.notificationAction.' + notification.action | translate }}
                  {{ notification.action === NotificationAction.OWN_CARD_ABOUT_TO_EXPIRE ? notification.sourceId : '' }}
                </span>
              </div>
              <div class="notification-date">
                <span class="notification-datetime">
                  {{
                    'notificationsMenu.date'
                      | translate : locale.language : { date: notification.createdAt | dateTimeFormat }
                  }}
                </span>
              </div>
            </a>
          </li>
          <li class="notifications-menu-item text-center">
            <bspl-button
              [design]="buttonDesign.Primary"
              [label]="'notificationsMenu.queryRedirectButton'"
              (click)="redirectToNotificationsQuery()"
            ></bspl-button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
