@import 'theme/variables/index';

.header {
  &-area {
    background: $white;
    height: 7rem;
    display: flex;
    flex-direction: row;
  }

  &-brand {
    margin: $spacing-s 0 $spacing-s $spacing-xl;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-link {
      display: inline-block;
      margin: 0;
    }

    &-logo {
      height: 4rem;
      width: auto;
    }

    &-app {
      margin-left: $spacing-s;
      font-size: 3rem;
      line-height: 3.6rem;
      font-weight: $font-weight-medium;
      color: $blue-light;

      // Show a dash separator between the first and second items
      &:first-of-type:not(:last-of-type)::after {
        white-space: pre;
        content: ' - ';
      }

      & + span {
        margin-left: 0;
        font-weight: 400;

        &:not(:last-of-type)::after {
          white-space: pre;
          content: ' | ';
        }
      }
    }
  }

  &-nav {
    margin-left: auto;

    &-menu {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: row;

      .user-menu-main-item {
        min-width: 28rem;
      }
    }

    &-item {
      border-left: 1px solid $gray-neutral;
      position: relative;

      .user-menu,
      .notifications-menu {
        position: absolute;
        padding: $spacing-s 0;
        z-index: 999;
        right: 0;
        top: 7rem;
        box-shadow: $shadow-z-3;
        background-color: $white;
        cursor: default;

        &-item {
          list-style: none;
          display: block;
        }
      }

      .user-menu {
        display: none;
        left: 0;

        &-item {
          a {
            width: 100%;
            padding: 1.5rem;
            height: 5rem;
            padding-left: $spacing-l;

            &:hover {
              background-color: hover-color($white);
            }

            &.return-to-agent-group {
              height: 6rem;
            }
          }

          &.login-as-any-user {
            border-top: 1px solid $gray-neutral;
          }

          &:last-child {
            padding-top: $spacing-s;
            border-top: 1px solid $gray-neutral;
          }

          &:nth-last-child(2) {
            padding-bottom: $spacing-s;
          }
        }
      }

      .notifications-menu {
        max-height: 500px;
        overflow-y: scroll;
        width: 450px;
        padding: 0;

        .notifications-loading {
          position: relative;
          padding: $spacing-xl $spacing-s;
        }

        &-item {
          padding: $spacing-m $spacing-s;
          border-top: 1px solid $gray-neutral;

          h3 span {
            font-size: $font-size-m;
          }

          &.notification {
            cursor: pointer;
            background-color: $blue-grayish;

            &:hover {
              background-color: $blue-sky;
            }

            .notification-info {
              font-weight: $font-weight-bold;
            }

            .notification-date {
              color: $gray-deeper;
              font-size: $font-size-s;
              margin-top: -$spacing-xxxs;
            }
          }

          &:last-child {
            border-bottom: 1px solid $gray-neutral;
          }
        }
      }
    }

    &-item:hover .user-menu,
    &-item:hover {
      display: block;
    }

    &-link {
      color: inherit;
      display: block;
      cursor: pointer;
      background-repeat: no-repeat;

      &.help,
      &.switchAccount,
      &.notifications {
        width: 7rem;
        height: 7rem;
        background-position: center;
      }

      &.help {
        background-image: url('/assets/images/header/icon-help-idle.svg');
      }

      &.switchAccount {
        background-image: url('/assets/images/header/icon-globe-idle.svg');
      }

      &.notifications {
        background-image: url('/assets/images/header/icon-bell-idle.svg');
        position: relative;

        .alerts {
          position: absolute;
          top: $spacing-m;
          right: $spacing-m;
          min-width: 1.5rem;
          background-color: $red;
          text-align: center;
          line-height: 1.5rem;
          font-size: $font-size-s;
          color: $white;
        }
      }

      &.search {
        padding: 1.6rem 2rem 1.6rem;

        bspl-input {
          display: inline-block;
          margin-right: $spacing-xxs;

          .control__error {
            display: none !important;
          }
        }

        .search-icon {
          background-image: url('/assets/images/header/icon-search-idle.svg');
          float: right;
          width: 3.6rem;
          height: 3.6rem;
          background-repeat: no-repeat;
          background-position: center;
        }

        .search-icon:hover {
          background-image: url('/assets/images/header/icon-search-active.svg');
        }
      }

      &.user {
        padding: 1.6rem 2rem 0 7rem;
        height: 7rem;
        background-position: $spacing-m center;
        background-image: url('/assets/images/header/icon-user-idle.svg');

        .name,
        .organization {
          display: block;
        }

        .name {
          color: $blue-primary;
          font-size: $font-size-m;
          line-height: $line-height-m;
        }

        .organization {
          color: $gray-deep;
          font-size: $font-size-s;
          line-height: $line-height-s;
        }
      }

      &.exit {
        background-image: url('/assets/images/header/icon-exit-idle.svg');
        background-position: right 2rem center;
      }

      &:hover {
        background-color: $gray-light;
        text-decoration: none;
        color: inherit;
      }

      &:active {
        background-color: $gray-neutral;
      }

      &:hover,
      &:active {
        &.switchAccount {
          background-image: url('/assets/images/header/icon-globe-active.svg');
        }

        &.help {
          background-image: url('/assets/images/header/icon-help-active.svg');
        }

        &.notifications {
          background-image: url('/assets/images/header/icon-bell-active.svg');
        }

        &.user {
          background-image: url('/assets/images/header/icon-user-active.svg');
        }

        &.language {
          background-image: url('/assets/images/header/language-icon-active.png');
        }

        &.exit {
          background-image: url('/assets/images/header/icon-exit-active.svg');
        }
      }
    }
  }
}
