<div class="dialog-container">
  <div class="subtitle">
    {{ 'ADM_ACM.categorizationRules.dialog.dialogSubtitle' | translate }}
  </div>

  <div class="items">
    <bspl-pill-information
      *ngFor="let pill of pills"
      [value]="pill.value"
      [tooltip]="pill.tooltip"
    ></bspl-pill-information>
  </div>

  <div class="type-selection" [hidden]="!isDeactivateMode" [formGroup]="form">
    <bspl-radio-button-group
      class="vertical-selection"
      formControlName="deactivationType"
      [isVertical]="true"
      [groupName]="'radioButtons'"
      [options]="radioButtonOptions"
      [label]="'ADM_ACM.categorizationReasons.dialog.deactivateRadioButtonsMessage' | translate"
    ></bspl-radio-button-group>
  </div>
</div>
