@import 'theme/variables/index';

.subtitle {
  margin-bottom: $spacing-m;
}

.items {
  margin-bottom: $spacing-m;
}

.type-selection {
  margin-bottom: $spacing-m;

  ::ng-deep bspl-radio-button {
    label {
      padding-left: $spacing-xs;
    }
  }

  .vertical-selection ::ng-deep {
    .vertical-radio-buttons-wrapper {
      margin: $spacing-xxs 0;

      .vertical-radio-buttons {
        ::ng-deep p-radioButton {
          padding: $spacing-xs;
          margin: 0;
          height: 5rem;
          border: 1px solid $gray-middle;
          font-size: $font-size-s;
          line-height: $line-height-s;
          border-radius: 0.2rem;
        }
      }
    }
  }
}
