<div class="reactivate-user-container">
  <p class="text-content">
    {{ 'MENU.USERS_MAINTENANCE.MAIN_USERS.activationDialogs.reactiveMessage' | translate }}
  </p>
  <bspl-property-list class="property-list-compact info__section">
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userType.label' | translate"
      [value]="user.userType"
    ></bspl-property>
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userCode.label' | translate"
      [value]="user.userCode"
    ></bspl-property>
  </bspl-property-list>

  <bspl-input
    [formControl]="emailControl"
    [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.activationDialogs.email' | translate"
    [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.activationDialogs.emailPlaceholder' | translate"
  ></bspl-input>

  <bspl-property-list class="property-list-compact info__section">
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.name.label' | translate"
      [value]="user.name"
    ></bspl-property>
  </bspl-property-list>
</div>
