<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The options present in this module allow the Agent to query the details of the available providers and enrolled
    products, and those of consents of available enrolled products.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">Please note that special permissions must be granted to access this option.</span>
</p>
