<ng-container *ngIf="{ isAirline: isAirlineUser$ | async, isAgent: isAgentUser$ | async } as obs">
  <bspl-list-view
    [title]="'TIP.productConsents.listTitle'"
    [hasFiltering]="true"
    [hasDownloading]="true"
    [canDownload]="hasData$ | async"
    [isInTab]="true"
    [filterFormatter]="displayFormatter"
    [query]="query$ | async"
    [predefinedFilters]="predefinedFilters"
    [noticeMessage]="noticeMessage$ | async"
    (download)="onDownload()"
    (queryChange)="onQueryChanged($event)"
    (filterButtonClicked)="onFilterButtonClicked($event)"
  >
    <div class="level-consent-select" bsplListViewTitle *ngIf="obs.isAirline">
      <bspl-select
        [modes]="[selectMode.SubHeading]"
        [options]="levelConsentOptions"
        [locked]="levelConsentOptions?.length === 1"
        [clearable]="false"
        [value]="selectedLevelConsent"
        (change)="onLevelConsentSelected($event.value)"
      ></bspl-select>
    </div>

    <ng-container bsplListViewTitle *ngIf="hasUpdatePermission && obs.isAirline">
      <bspl-table-selection-toolbar
        *ngIf="selectedRowsCount$ | async as selectedRowsCount"
        [selectedRowsCount]="selectedRowsCount"
        (clearSelectedRows)="clearSelectedRows()"
      >
        <bspl-split-button
          *ngIf="buttonMenuOptions?.length > 1"
          [mainOption]="buttonMenuOptions[0]"
          [options]="[buttonMenuOptions[1]]"
          [design]="btnDesign.Tertiary"
        ></bspl-split-button>

        <bspl-button
          [hidden]="buttonMenuOptions?.length > 1"
          [label]="buttonMenuOptions[0].label | translate"
          [design]="btnDesign.Tertiary"
          (click)="buttonMenuOptions[0].command()"
        ></bspl-button>
      </bspl-table-selection-toolbar>
    </ng-container>

    <form bsplListViewFilter [formGroup]="searchForm">
      <!-- Highlighted filter -->
      <div class="highlighted-filter" *ngIf="hasLeanPermission">
        <bspl-select
          formControlName="bsp"
          [options]="bspList$ | async"
          [label]="'TIP.productConsents.filters.labels.bsp' | translate"
          [placeholder]="'TIP.productConsents.filters.placeholders.bsp' | translate"
          [multiple]="true"
        >
        </bspl-select>
        <span>{{ 'TIP.productConsents.filters.highlightedBspText' | translate }}</span>
      </div>

      <!-- Other filters -->
      <div class="row">
        <div class="form-group col-md-3">
          <bspl-select
            [options]="statusList"
            formControlName="status"
            [label]="'TIP.productConsents.filters.labels.status' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3" *ngIf="obs.isAirline">
          <bspl-select
            [multiple]="true"
            [options]="agentList$ | async"
            formControlName="agent"
            [label]="'TIP.productConsents.filters.labels.agent' | translate"
            [virtualScroll]="true"
            [locked]="isCountryLevel"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3" *ngIf="obs.isAgent">
          <bspl-select
            [multiple]="true"
            [options]="airlineList$ | async"
            formControlName="airline"
            [label]="'TIP.productConsents.filters.labels.airline' | translate"
            [virtualScroll]="true"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="providerList$ | async"
            formControlName="provider"
            [label]="'TIP.productConsents.filters.labels.provider' | translate"
            [virtualScroll]="true"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="productList$ | async"
            formControlName="product"
            [label]="'TIP.productConsents.filters.labels.product' | translate"
            [virtualScroll]="true"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            [multiple]="true"
            [options]="typeList"
            formControlName="type"
            [label]="'TIP.productConsents.filters.labels.type' | translate"
            [virtualScroll]="true"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            formControlName="costRecoveryType"
            [options]="costRecoveryTypeList"
            [label]="'TIP.productConsents.filters.labels.costRecoveryType' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-select
            formControlName="costRecoveryCurrency"
            [multiple]="true"
            [virtualScroll]="true"
            [options]="currencyList$ | async"
            [label]="'TIP.productConsents.filters.labels.costRecoveryCurrency' | translate"
          >
          </bspl-select>
        </div>
        <div class="form-group col-md-3">
          <bspl-datepicker
            formControlName="effectiveFrom"
            selectionMode="range"
            [label]="'TIP.productConsents.filters.labels.effectiveFrom' | translate"
            [placeholder]="'TIP.productConsents.filters.placeholders.effectiveFrom' | translate"
          ></bspl-datepicker>
        </div>
        <div class="form-group col-md-3">
          <bspl-datepicker
            formControlName="effectiveTo"
            selectionMode="range"
            [label]="'TIP.productConsents.filters.labels.effectiveTo' | translate"
            [placeholder]="'TIP.productConsents.filters.placeholders.effectiveTo' | translate"
          ></bspl-datepicker>
        </div>
      </div>
    </form>
    <bspl-grid-table
      bsplListViewGrid
      columnMode="flex"
      [isLoading]="loading$ | async"
      [columns]="columns$ | async"
      [rows]="data$ | async"
      [primaryActions]="tableActions$ | async"
      [showIconEmptyActions]="areActionsVisible$ | async"
      (actionClick)="onActionClick($event)"
      [rowDetailTemplate]="rowDetailTemplate"
      (rowLinkClick)="onRowLinkClick($event)"
      [rowClassesModifier]="rowClassesModifier"
      (checkboxChange)="onRowsSelectionChange($event)"
    >
    </bspl-grid-table>
  </bspl-list-view>

  <!-- Details Row Template -->
  <ng-template #rowDetailTemplate let-row="row" let-column="column">
    <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
      <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
        <bspl-property
          *ngIf="isAgentLevel"
          label="TIP.productConsents.rowDetails.agentName"
          [value]="row.agent?.name"
        ></bspl-property>
        <bspl-property label="TIP.productConsents.rowDetails.providerCode" [value]="row.product.provider.code">
          <span class="link" (click)="navigateToProviderDetail(row.product.provider.id)">
            {{ row.product.provider.code | bsplEmpty }}</span
          >
        </bspl-property>
        <bspl-property
          *ngIf="obs.isAirline"
          label="TIP.productConsents.rowDetails.productCode"
          [value]="row.product.code"
        >
          <span class="link" (click)="navigateToProductDetail(row.product.id)">{{ row.product.code | bsplEmpty }}</span>
        </bspl-property>
        <bspl-property
          *ngIf="obs.isAgent"
          label="TIP.productConsents.rowDetails.productCode"
          [value]="row.product.code"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
        <bspl-property
          label="TIP.productConsents.rowDetails.effectiveFrom"
          [value]="row.effectiveFrom | dateTimeFormat : 'date'"
        ></bspl-property>
        <bspl-property
          label="TIP.productConsents.rowDetails.effectiveTo"
          [value]="row.effectiveTo | dateTimeFormat : 'date'"
        ></bspl-property>
      </bspl-property-list>
    </div>
  </ng-template>
</ng-container>
