@import 'components/form-list/form-list';
@import 'components/form-page/form-page';

$side-line-padding: $spacing-xs;

:host {
  ul.listForm li.listForm__line:last-child {
    border-bottom: none;
  }

  .options__section {
    bspl-checkbox {
      display: inline-block;
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: $spacing-l;
      }
    }
  }

  .gross__section {
    ul.listForm li.listForm__line {
      &:nth-last-child(2) {
        border-bottom: 1px solid $gray-dark;
      }

      &.totalGross__section {
        &:hover {
          background-color: initial;
        }

        .listForm__label {
          color: $gray-dark;
        }

        .totalGross {
          font-weight: 500;
          text-align: right;
          padding-right: 0.9rem;
        }
      }
    }
  }

  .taxes__section {
    ul.listForm {
      li.listForm__header > div:first-child .listForm__label {
        float: left;
      }

      li.listForm__line {
        position: relative;

        .taxCodeInput {
          text-align: left;

          & ::ng-deep input {
            text-transform: uppercase;
          }
        }

        .actions {
          position: absolute;
          right: -30px;
        }
      }
    }

    .addTax {
      padding: 0 $side-line-padding;
      margin-top: 22px;
    }
  }

  .refund__section {
    font-size: $font-size-l;
    line-height: $line-height-l;
    font-weight: $font-weight-medium;

    span:first-child {
      padding-left: $side-line-padding;

      & + span {
        float: right;
      }

      & ~ * {
        padding-right: $separator-padding;
      }
    }

    bspl-input {
      font-weight: normal;
      clear: both;

      & ::ng-deep .control__error {
        text-align: right;
      }
    }

    bspl-alert-message {
      display: block;
      font-weight: normal;
      padding: 0 $spacing-m 0 $spacing-xs;
      margin-top: $spacing-xs;
    }
  }

  ul.listForm li.listForm__line bspl-input-select ::ng-deep bspl-input input {
    text-align: right;
  }
}
