<ng-container [formGroup]="form">
  <div class="row options__section separator-bottom" *ngIf="partialRefundEnabled || (isNetReportingVisible$ | async)">
    <div class="col">
      <bspl-checkbox
        [label]="'REFUNDS.amountAndTax.optionsSection.partialRefund' | translate"
        formControlName="partialRefund"
        [hidden]="!partialRefundEnabled"
      ></bspl-checkbox>
      <bspl-checkbox
        [label]="'REFUNDS.amountAndTax.optionsSection.netReporting' | translate"
        formControlName="netReporting"
        [hidden]="!(isNetReportingVisible$ | async)"
      ></bspl-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="col-6 separator-right gross__section">
      <ul class="listForm listForm--reduced">
        <ng-container
          *ngTemplateOutlet="
            amountLine;
            context: { label: 'REFUNDS.amountAndTax.grossSection.grossFare', name: 'grossFare' }
          "
        ></ng-container>
        <ng-container *ngIf="partialRefundEnabled">
          <ng-container
            *ngTemplateOutlet="
              amountLine;
              context: { label: 'REFUNDS.amountAndTax.grossSection.lessGrossFareUsed', name: 'lessGrossFareUsed' }
            "
          ></ng-container>
        </ng-container>

        <li class="row listForm__line totalGross__section" *ngIf="partialRefundEnabled">
          <div class="col-8">
            <span class="listForm__label">{{
              'REFUNDS.amountAndTax.grossSection.totalGrossFare'
                | translate : locale.language : { currencyCode: currencyCodeLabel }
            }}</span>
          </div>
          <div class="col-4 totalGross">
            <span class="listForm__label">{{ totalGrossFare.value }}</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-6">
      <ul class="listForm listForm--reduced">
        <li class="row listForm__line">
          <div class="col">
            <span class="listForm__label">{{
              'REFUNDS.amountAndTax.commissionDiscountSection.commission' | translate
            }}</span>
          </div>
          <div class="col">
            <bspl-input-select [options]="commissionOptions"></bspl-input-select>
          </div>
        </li>
        <ng-container *ngIf="discountAmountEnabled">
          <ng-container
            *ngTemplateOutlet="
              amountLine;
              context: {
                label: 'REFUNDS.amountAndTax.commissionDiscountSection.discountAmount',
                name: 'supplementaryCommission'
              }
            "
          ></ng-container>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="row separator-top">
    <div class="col-6 separator-right">
      <ul class="listForm listForm--reduced">
        <ng-container
          *ngTemplateOutlet="
            amountLine;
            context: {
              label: 'REFUNDS.amountAndTax.cancelationMiscSection.cancelationPenalty',
              name: 'cancellationPenalty'
            }
          "
        ></ng-container>
        <ng-container *ngIf="refundAppType">
          <ng-container
            *ngTemplateOutlet="
              amountLine;
              context: {
                label: 'REFUNDS.amountAndTax.cancelationMiscSection.taxOnCP',
                name: 'taxOnCancellationPenalty'
              }
            "
          ></ng-container>
        </ng-container>
        <ng-container
          *ngTemplateOutlet="
            amountLine;
            context: { label: 'REFUNDS.amountAndTax.cancelationMiscSection.miscFee', name: 'miscellaneousFee' }
          "
        ></ng-container>
        <ng-container *ngIf="refundAppType">
          <ng-container
            *ngTemplateOutlet="
              amountLine;
              context: { label: 'REFUNDS.amountAndTax.cancelationMiscSection.taxOnMF', name: 'taxOnMiscellaneousFee' }
            "
          ></ng-container>
        </ng-container>
      </ul>
    </div>

    <div class="col-6" *ngIf="isCommissionForCpAndMfVisible$ | async">
      <ul class="listForm listForm--reduced">
        <li class="row listForm__line">
          <div class="col">
            <span class="listForm__label">{{ 'REFUNDS.amountAndTax.commissionCpMf' | translate }}</span>
          </div>
          <div class="col">
            <bspl-input-select [options]="commissionForCpAndMfOptions"></bspl-input-select>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row separator-top taxes__section">
    <div class="col-6 separator-right">
      <ul class="listForm listForm--reduced">
        <li class="row listForm__header">
          <div class="col">
            <span class="listForm__label">{{ 'REFUNDS.amountAndTax.taxSection.type' | translate }}</span>
          </div>
          <div class="col">
            <span class="listForm__label">{{ 'REFUNDS.amountAndTax.taxSection.amount' | translate }}</span>
          </div>
        </li>
        <li class="listForm__line" *ngFor="let taxLine of taxMiscellaneousFees.controls; let i = index">
          <div class="actions line--centered">
            <i class="mi icon-delete" (click)="onRemoveTaxClick(i)">delete</i>
          </div>
          <div class="row justify-content-between" [formGroup]="taxLine">
            <div class="col-4">
              <bspl-input class="taxCodeInput" formControlName="type" [maxLength]="8"></bspl-input>
            </div>
            <div class="col-8">
              <bspl-input formControlName="amount" [placeholder]="amountPlaceholder"></bspl-input>
            </div>
          </div>
        </li>
      </ul>
      <div class="addTax">
        <bspl-button
          [label]="'REFUNDS.amountAndTax.taxSection.taxBtnLbl' | translate"
          [design]="btnDesign.Secondary"
          [isDisabled]="disableAddBtn()"
          (onClick)="onAddTaxClick()"
          icon="mi add"
        ></bspl-button>
      </div>
    </div>
  </div>

  <div class="row separator-top refund__section">
    <div class="col-6">
      <span>{{
        'REFUNDS.amountAndTax.refundTopassenger' | translate : locale.language : { currencyCode: currencyCodeLabel }
      }}</span>
      <span>
        {{ totalAmount.value }}
      </span>
      <div class="row">
        <div class="col-8 offset-4">
          <bspl-input #totalAmount [type]="'hidden'" [formControlName]="'totalAmount'"></bspl-input>
        </div>
      </div>
      <bspl-alert-message
        [hidden]="!showTaxRepeatedMsg"
        [message]="'REFUNDS.amountAndTax.taxSection.warningRepeatMessage'"
        [type]="taxesRepeatedMessageType"
      ></bspl-alert-message>
    </div>
  </div>
</ng-container>

<ng-template #amountLine let-label="label" let-name="name">
  <li class="row listForm__line" [formGroup]="form" *ngIf="amountFieldsVisibility[name] | async">
    <div class="col">
      <span class="listForm__label">{{ label | translate }}</span>
    </div>
    <div class="col">
      <bspl-input [formControlName]="name" [placeholder]="amountPlaceholder"></bspl-input>
    </div>
  </li>
</ng-template>
