@import 'theme/variables/index';

::ng-deep {
  bspl-currency-add-dialog {
    height: 100%;
  }

  .currency {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.currency-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  margin-bottom: $spacing-m;
}
