<!-- TODO: Use translation after feractor -->
<div class="currency">
  <div class="row currency-content">
    <div class="col-lg-12">
      <div class="question">
        {{ question }}
      </div>
      <bspl-input [label]="'Currency Code'" [locked]="true" [value]="code"></bspl-input>
    </div>
  </div>
</div>
