<bspl-list-view
  [title]="'sales.comparatives.viewTitle'"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [filterFormatter]="filterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <div class="view-header comparatives-header" bsplListViewTitle>
    <bspl-button
      [label]="'sales.comparatives.totalsBtn' | translate"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(dataSource.hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'sales.comparatives.bsp' | translate"
        [placeholder]="'sales.comparatives.selectBsp' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="hasLeanPermission"
        [clearable]="hasLeanPermission"
      >
      </bspl-select>
      <span>{{ 'sales.comparatives.highlightedBspText' | translate }}</span>
    </div>
    <div class="row">
      <!-- Other filters -->
      <div class="form-group col-lg-3 col-md-6">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'sales.comparatives.monthPeriod'"
          [options]="periodDropdownOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodMonthPickerYearsBack"
        >
        </bspl-period-picker>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'sales.comparatives.agentCodeName' | translate"
          [placeholder]="'sales.comparatives.selectAgents' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="agentGroup"
          [options]="agentGroupDropdownOptions$ | async"
          [label]="'sales.comparatives.agentGroupCodeName' | translate"
          [placeholder]="'sales.comparatives.agentGroupCodeNamePlaceHolder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="statisticalCodeDropdownOptions"
          formControlName="statisticalCode"
          [label]="'sales.comparatives.salesType' | translate"
          [placeholder]="'sales.comparatives.selectSalesType' | translate"
        ></bspl-select>
      </div>

      <div class="form-group col-md-3">
        <bspl-select
          formControlName="currency"
          [options]="currencyOptions"
          [label]="'sales.comparatives.currency' | translate"
          [placeholder]="'sales.comparatives.selectCurrency' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [columnMode]="'flex'"
    [isLoading]="dataSource.loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>

<bspl-floating-panel
  [fullWidth]="false"
  [closable]="true"
  (opened)="onTotalPanelOpened()"
  (closed)="onTotalPanelClosed()"
>
  <bspl-spinner [isLoading]="isLoadingTotal$ | async" [relativeTo]="'parent'">
    <bspl-comparative-totals [totals]="totals$ | async"></bspl-comparative-totals>
  </bspl-spinner>
</bspl-floating-panel>

<ng-template #amountTemplate let-row="row" let-value="value">
  {{ value | number : getAmountFormat(row?.currency?.decimals) }}
</ng-template>
