@import 'theme/variables/index';

$thin-border: 0.1rem solid $gray-neutral;
$active-border: 0.1rem solid $blue-light;
$thick-border: 0.5rem solid $gray-middle;

.sub-user-permissions {
  .header-container {
    height: 10rem;
    display: flex;
    align-content: center;

    .actions-container {
      display: flex;
      justify-content: flex-end;
    }

    .title-heading {
      span {
        color: $gray-middle;
      }
    }
  }
}

.content-container {
  width: 100%;
  position: relative;

  .shadow-right {
    width: 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -0.5rem 0 0.6rem 0 rgba(0, 48, 91, 0.15);
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
    position: relative;

    .table-permissions {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;
      border-right: $thin-border;

      tr {
        height: 5rem;
      }

      .frozen-column {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: $white;
        min-width: 37.5rem;
        max-width: 37.5rem;
        border-right: $thin-border;
      }

      // reset check box wrapper height
      bspl-checkbox {
        display: inline-block;
        line-height: 0;
      }

      thead {
        .row-emails {
          th {
            border-top: $thin-border;
            min-width: 10rem;
            max-width: 20rem;
            padding: 0;
            width: auto;
            height: 5rem;
            text-align: center;
            font-size: $font-size-s;
            font-weight: 500;
            color: $blue-light;
            background-color: $white;

            .border-bottom-container {
              height: 100%;
              border-bottom: $thick-border;
              margin: 0 0.2rem;
              padding-top: 1.2rem;

              div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 1.2rem;
                height: 2.4rem;
                line-height: 2.4rem;
                border-right: $thin-border;
                margin-right: -0.2rem;
              }
            }

            &:first-child {
              border-top: $thin-border;
              font-size: $font-size-s;
              color: $gray-deep-middle;
              padding-left: 0.8rem;
              text-align: left;
              vertical-align: middle;

              div {
                height: 100%;
                line-height: 5rem;
                display: block;
                margin: 0 0.2rem 0 -1rem;
                border-bottom: $thick-border;
                padding-left: $spacing-xs;
              }
            }

            &:last-child {
              div {
                div {
                  border-right: none;
                }
              }
            }
          }
        }

        .row-actions {
          th {
            &:first-child {
              button {
                margin-left: 0.8rem;

                + button {
                  margin-right: 4rem;
                }
              }
            }

            font-size: $font-size-s;
            color: $gray-deep-middle;
            text-align: center;
            border-bottom: $thin-border;

            button {
              color: $blue-light;
              padding: 0;
              background: none;
            }
          }
        }
      }

      tbody {
        .changed {
          border-radius: 0.2rem;
          height: 3.6rem;
          width: 3.6rem;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;

          &.is-active {
            border: $active-border;
          }
        }

        &.active-group {
          + .active-group {
            tr {
              &:first-child {
                td {
                  border-top: none;
                }
              }
            }
          }

          tr {
            &:first-child {
              td {
                background-color: $gray-neutral;
                border-top: $active-border;
              }
            }

            &:last-child {
              td {
                border-bottom: $active-border;
              }
            }
          }

          td {
            &:first-child {
              border-left: $active-border;
            }

            &:last-child {
              border-right: $active-border;
            }
          }

          .row-subcategory {
            display: table-row;
          }
        }

        td {
          border-bottom: $thin-border;

          &:not(:first-child) {
            text-align: center;

            .checkbox-container {
              display: inline-block;
            }
          }
        }

        .row-category {
          cursor: pointer;

          td {
            .category-title {
              margin-left: 1rem;
              color: $blue-primary;
              font-weight: 500;
            }
          }
        }

        .row-subcategory {
          display: none;

          td {
            .category-title {
              margin-left: 3.8rem;
              margin-right: 1rem;
              color: $gray-deep;
              font-weight: normal;
              font-size: $font-size-m;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            background-color: $white;
          }
        }
      }

      .category-container {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .category-title-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0.8rem;

        .material-icons {
          font-size: 2rem;
        }

        .category-title {
          margin-left: 0.1rem;
        }
      }

      .category-action {
        margin: 0 4rem 0 auto;
      }
    }
  }
}
