<div class="sub-user-permissions">
  <div class="row header-container">
    <div class="col-md-6">
      <h2 class="title-heading">
        {{ 'subUsers.permissionsScreen.pageTitle' | translate }} <span>/</span> {{ getCurrentUserBsp$ | async }}
      </h2>
    </div>
    <div class="col-md-6 actions-container">
      <bspl-button
        *ngIf="canEdit"
        [isDisabled]="!(applyButtonEnabled$ | async)"
        [label]="'subUsers.permissionsScreen.btn.apply' | translate"
        (onClick)="saveChanges()"
      ></bspl-button>
    </div>
  </div>
  <div class="content-container">
    <div #tableContainer class="table-container">
      <table class="table-permissions" *ngIf="subUsersPermissionsViewModel$ | async as subUsersPermissionsViewModel">
        <thead>
          <tr class="row-emails">
            <th class="frozen-column">
              <div>{{ 'subUsers.permissionsScreen.th.title' | translate }}</div>
            </th>

            <th *ngFor="let user of subUsersPermissionsViewModel[0].categoryGroups; trackBy: getItemId">
              <div class="border-bottom-container" [bsplTooltip]="user.portalEmail">
                <div>{{ user.portalEmail }}</div>
              </div>
            </th>
          </tr>
          <tr class="row-actions">
            <th class="frozen-column">
              <button *ngIf="!(allPermissionCategoriesExpanded$ | async)" (click)="expandAll()" class="float-left">
                {{ 'subUsers.permissionsScreen.btn.expandAll' | translate }}
              </button>
              <button *ngIf="allPermissionCategoriesExpanded$ | async" (click)="collapseAll()" class="float-left">
                {{ 'subUsers.permissionsScreen.btn.collapseAll' | translate }}
              </button>
              <ng-container *ngIf="canEdit">
                <button class="float-right" (click)="selectAll()" *ngIf="!(allPermissionsSelected$ | async)">
                  {{ 'subUsers.permissionsScreen.btn.selectAll' | translate }}
                </button>
                <button class="float-right" (click)="deselectAll()" *ngIf="allPermissionsSelected$ | async">
                  {{ 'subUsers.permissionsScreen.btn.deselectAll' | translate }}
                </button>
              </ng-container>
            </th>
            <th *ngFor="let user of subUsersPermissionsViewModel[0].categoryGroups; trackBy: getItemId">
              <ng-container *ngIf="canEdit">
                <ng-container *ngIf="allSubUserPermissionsSelected$ | async as allSubUserPermissionsSelected">
                  <button (click)="toggleByUser(user.userId, true)" *ngIf="!allSubUserPermissionsSelected[user.userId]">
                    {{ 'subUsers.permissionsScreen.btn.selectAll' | translate }}
                  </button>
                  <button (click)="toggleByUser(user.userId, false)" *ngIf="allSubUserPermissionsSelected[user.userId]">
                    {{ 'subUsers.permissionsScreen.btn.deselectAll' | translate }}
                  </button>
                </ng-container>
              </ng-container>
            </th>
          </tr>
        </thead>

        <tbody
          *ngFor="let category of subUsersPermissionsViewModel; trackBy: getItemId"
          [class.active-group]="category.expanded"
        >
          <tr class="row-category" (click)="togglePanel(category.id)">
            <td class="frozen-column">
              <div class="category-container">
                <div class="category-title-group">
                  <i *ngIf="!category.expanded" class="material-icons no-select ng-star-inserted"
                    >keyboard_arrow_down</i
                  >
                  <i *ngIf="category.expanded" class="material-icons no-select ng-star-inserted">keyboard_arrow_up</i>
                  <div class="category-title">{{ category.name }}</div>
                </div>
                <div class="category-action">
                  <!-- permission category groups -->
                  <div class="changed" [class.is-active]="category.hasChanges">
                    <bspl-checkbox
                      [checked]="category.checked"
                      [design]="category.checkboxDesign"
                      [disabled]="category.disabled || !canEdit"
                      (stateChange)="toggleByCategory($event, category.id)"
                      (click)="$event.stopPropagation()"
                      [bsplTooltip]="getDisabledTooltip(category)"
                    ></bspl-checkbox>
                  </div>
                </div>
              </div>
            </td>
            <td *ngFor="let categoryGroup of category.categoryGroups; trackBy: getItemId">
              <!-- user permission category group -->
              <div class="changed" [class.is-active]="categoryGroup.hasChanges">
                <bspl-checkbox
                  [checked]="categoryGroup.checked"
                  [design]="categoryGroup.checkboxDesign"
                  [disabled]="categoryGroup.disabled || !canEdit"
                  (stateChange)="toggleByUserAndCategory($event, categoryGroup)"
                  (click)="$event.stopPropagation()"
                  [bsplTooltip]="getDisabledTooltip(categoryGroup)"
                ></bspl-checkbox>
              </div>
            </td>
          </tr>
          <tr
            class="row-subcategory"
            *ngFor="let permissionGroup of category.permissions; index as i; trackBy: getItemId"
          >
            <td class="frozen-column">
              <div class="category-container">
                <div class="category-title" [bsplTooltip]="permissionGroup.name">
                  {{ permissionGroup.name }}
                </div>
                <div class="category-action">
                  <!-- permission group -->
                  <div class="changed" [class.is-active]="permissionGroup.hasChanges">
                    <bspl-checkbox
                      [checked]="permissionGroup.checked"
                      [design]="permissionGroup.checkboxDesign"
                      [disabled]="permissionGroup.disabled || !canEdit"
                      (stateChange)="toggleByPermission($event, permissionGroup.id)"
                      (click)="$event.stopPropagation()"
                      [bsplTooltip]="getDisabledTooltip(permissionGroup)"
                    ></bspl-checkbox>
                  </div>
                </div>
              </div>
            </td>
            <td *ngFor="let user of permissionGroup.users; trackBy: getItemId">
              <!-- user permission -->
              <div class="changed" [class.is-active]="user.hasChanged">
                <bspl-checkbox
                  (stateChange)="togglePermission($event, user)"
                  [checked]="user.checked"
                  [disabled]="user.disabled || !canEdit"
                  (click)="$event.stopPropagation()"
                  [bsplTooltip]="getDisabledTooltip(user)"
                ></bspl-checkbox>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [class.shadow-right]="hasScrollbar"></div>
  </div>
</div>
