<div class="pagination-container row">
  <div class="col-md-6 options-container" *ngIf="showOptions">
    <span>{{ 'GRID_TABLE.FOOTER.RECORDS_PER_PAGE' | translate }}</span>
    <bspl-select
      class="items-select"
      [options]="itemsPerPageOptions"
      [formControl]="dropdownValue"
      [clearable]="false"
      (open)="recordsPerPageOpened()"
      (change)="onRecordsChange($event)"
      [appendToBody]="true"
    >
    </bspl-select>
    <span>{{ 'GRID_TABLE.FOOTER.SHOW_COUNT' | translate }}: {{ visibleItemsRange }} of {{ totalItems | number }}</span>
  </div>
  <div class="col-md-6 pages-container">
    <ul class="pager float-right">
      <li class="page-item page-left" (click)="goToPreviousPage()">
        <i class="material-icons"> keyboard_arrow_left </i>
      </li>
      <li
        class="page-item"
        *ngFor="let pageValue of pagesArray"
        [ngClass]="{ selected: isPageSelected(pageValue), empty: isItemEmpty(pageValue) }"
      >
        <span class="page-label" *ngIf="!isPageSelected(pageValue)" (click)="goToPage(pageValue, $event)">
          {{ isNumber(pageValue) ? (pageValue | number) : pageValue }}
        </span>
        <input
          *ngIf="isPageSelected(pageValue)"
          class="page-input form-control"
          (keyup.enter)="enterPage($event.target.value, $event)"
          (keypress)="changeInputSize($event)"
          (select)="$event.stopPropagation()"
          (blur)="enterPage($event.target.value, $event)"
          [value]="pageValue | number"
          type="text"
          size="{{ inputSize }}"
        />
      </li>
      <li class="page-item page-right" (click)="goToNextPage()">
        <i class="material-icons"> keyboard_arrow_right </i>
      </li>
    </ul>
  </div>
</div>
