@import 'theme/variables/index';

::ng-deep {
  .pagination-container {
    font-size: $font-size-m;
    color: $gray-dark;
    width: 100%;
    margin: $spacing-m 0 0 0;
    padding: 0;

    .options-container {
      padding: 0;

      .items-select {
        margin: 0 $spacing-xs;
        display: inline-block;
        min-width: 5rem;

        .ng-value-container {
          color: $blue-light;
          padding-right: $spacing-xxs;
        }
      }
    }

    .pages-container {
      padding: $spacing-xxs 0 0 0;
      text-align: right;

      .pager {
        list-style-type: none;
        display: inline-block;

        .page-left,
        .page-right {
          color: $gray-middle;

          i {
            width: 100%;
            height: 100%;
            line-height: 30px;
            font-size: 2rem;
          }
        }

        .page-item {
          margin-left: $spacing-xs;
          display: inline-block;
          min-width: 30px;
          height: 30px;
          font-size: $font-size-m;
          line-height: 30px;
          text-align: center;
          border: 1px solid $gray-middle;
          border-radius: 2px;
          vertical-align: top;
          user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          -webkit-touch-callout: none;
          -o-user-select: none;
          -moz-user-select: none;

          &:hover {
            cursor: pointer;
          }

          &.selected {
            border: 1px solid $blue-light;
            color: $blue-light;
          }

          &.empty {
            border: none;
            cursor: default;
          }

          .page-label {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0 $spacing-xxs;
          }

          .page-input {
            height: 100%;
            line-height: 30px;
            margin: 0;
            padding: 0;
            text-align: center;
            color: $blue-light;
            border: none;
            border-radius: 2px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
