<div class="deactivate-user-container">
  <p class="text-content">
    {{ 'MENU.USERS_MAINTENANCE.MAIN_USERS.activationDialogs.deactiveMessage' | translate }}
  </p>
  <bspl-property-list class="property-list-compact info__section">
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userType.label' | translate"
      [value]="user.userType"
    ></bspl-property>
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userCode.label' | translate"
      [value]="user.userCode"
    ></bspl-property>
  </bspl-property-list>

  <bspl-property-list class="property-list-compact info__section">
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.activationDialogs.email' | translate"
      [value]="user.portalEmail"
    ></bspl-property>
    <bspl-property
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.name.label' | translate"
      [value]="user.name"
    ></bspl-property>
  </bspl-property-list>
  <div class="expiry-date-container">
    <bspl-datepicker
      [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.expiryDate.label' | translate"
      [formControl]="expiryDateControl"
      [clearable]="false"
      [minDate]="minimumExpiryDate"
      [autofocus]="true"
    ></bspl-datepicker>
  </div>
</div>
