@import 'theme/variables/index';

.deactivate-user-container {
  padding-bottom: $spacing-xxxl;
}

.text-content,
.info__section {
  margin-bottom: $spacing-m;
}

.text-content {
  color: $gray-deep;
}
