<div class="dialog-container">
  <div class="subtitle">
    {{ 'ADM_ACM.bspSelection.dialog.subtitle' | translate }}
  </div>
  <div [formGroup]="form">
    <bspl-select
      formControlName="bsp"
      [options]="bspDropdownOptions"
      [clearable]="false"
      [appendToBody]="true"
      [label]="'ADM_ACM.bspSelection.dialog.bspLabel' | translate"
      [placeholder]="'ADM_ACM.bspSelection.dialog.bspPlaceholder' | translate"
    ></bspl-select>
  </div>
</div>
