@import 'theme/variables/index';

.selection-list-container {
  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .menu-container {
    font-size: $font-size-s;
    border-bottom: 0.1rem solid $blue-secondary;
    padding: 0 $spacing-s $spacing-xxs $spacing-s;

    .item-selection {
      text-align: right;
    }
  }

  .main-container {
    .category-container,
    .item-container {
      height: 5rem;
      border-bottom: 0.1rem solid $gray-neutral;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .item-changed {
      border: 0.1rem solid $blue-light;
      border-radius: 0.2rem;
    }

    .category-selection-container,
    .item-selection-container {
      height: 3.5rem;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      width: 3.5rem;
      justify-content: center;
    }

    .category-container {
      color: $blue-primary;
      font-size: $font-size-l;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }

      .icon-container {
        box-sizing: content-box; //required for animations

        i {
          padding-top: $spacing-xxs;
        }
      }

      .category-name-container {
        flex: 20;
        padding-left: 0.5rem;
      }
    }

    .item-container {
      color: $gray-deep;
      font-size: $font-size-m;

      .item-name-container {
        flex: 20;
        padding-left: 3.2rem;
      }
    }
  }

  .no-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
  }
}
