<div class="selection-list-container" *ngIf="listData">
  <div class="menu-container">
    <div class="row">
      <div class="col-md-6 no-select category-toggle" *ngIf="!allCategoriesExpanded">
        <a class="link" (click)="expandAll()">Expand All</a>
      </div>
      <div class="col-md-6 no-select category-toggle" *ngIf="allCategoriesExpanded">
        <a class="link" (click)="collapseAll()">Collapse All</a>
      </div>
      <ng-container *ngIf="canEdit">
        <div class="col-md-6 no-select item-selection" *ngIf="!allCategoriesSelected">
          <a class="link" (click)="selectAll()">Select All</a>
        </div>
        <div class="col-md-6 no-select item-selection" *ngIf="allCategoriesSelected">
          <a class="link" (click)="deselectAll()">Deselect All</a>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="main-container" *ngFor="let category of listData; let categoryIndex = index">
    <div class="row category-container" (click)="toggleCategoryExpand(categoryIndex)">
      <div class="icon-container">
        <i class="material-icons no-select" *ngIf="category.expanded"> keyboard_arrow_up </i>
        <i class="material-icons no-select" *ngIf="!category.expanded"> keyboard_arrow_down </i>
      </div>
      <div class="category-name-container">{{ category.name }}</div>
      <div class="category-selection-container" [ngClass]="{ 'item-changed': category.hasChanged }">
        <ng-container *ngIf="editCategoryTemplate; else defaultCategoryEdit">
          <ng-container [ngTemplateOutlet]="editCategoryTemplate" [ngTemplateOutletContext]="{ selection: category }">
          </ng-container>
        </ng-container>

        <ng-template #defaultCategoryEdit>
          <bspl-checkbox
            [checked]="category.checked"
            [design]="category.checkboxDesign"
            [disabled]="!canEdit || category.disabled"
            (click)="$event.stopPropagation()"
            (stateChange)="onCategoryToggle($event, categoryIndex)"
            [bsplTooltip]="canEdit && getTooltipForCategory(categoryIndex)"
          ></bspl-checkbox>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="category.expanded">
      <div class="row item-container" *ngFor="let item of category.items; let itemIndex = index">
        <div class="item-name-container">{{ item.name }}</div>
        <div class="item-selection-container" [ngClass]="{ 'item-changed': item.hasChanged }">
          <ng-container *ngIf="editItemTemplate; else defaultItemEdit">
            <ng-container [ngTemplateOutlet]="editItemTemplate" [ngTemplateOutletContext]="{ selection: item }">
            </ng-container>
          </ng-container>

          <ng-template #defaultItemEdit>
            <bspl-checkbox
              [checked]="item.checked"
              [disabled]="!canEdit || item.disabled"
              (stateChange)="onItemToggle($event, categoryIndex, itemIndex)"
              [bsplTooltip]="canEdit && getTooltipForItem(categoryIndex, itemIndex)"
            ></bspl-checkbox>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="no-data" *ngIf="!listData?.length">
    <h3>{{ 'GRID_TABLE.TABLE.NO_DATA_TO_DISPLAY' | translate }}</h3>
  </div>
</div>
