@import 'theme/variables/index';

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-xl 0;

  .header-title-container {
    display: flex;
    justify-content: space-between;

    .header-title {
      font-size: $font-size-xxl;
      font-weight: normal;
      line-height: 3rem;
      color: $blue-primary;
      display: flex;
      align-items: center;
      margin: 0;

      .entity-logo {
        width: 2rem;
        margin-right: $spacing-xs;
        vertical-align: none;
      }
    }
  }

  .header-actions {
    bspl-button {
      margin-left: $spacing-s;
    }
  }
}

// TODO: Tab content container has a defined padding that is used for all tabs.
// We need to move the padding it to a generic class instead and use it in each tab.
.profile-tabs {
  ::ng-deep {
    .tab-menu-container {
      margin-left: -$spacing-xl;
      margin-right: -$spacing-xl;
    }
  }
}
