<div class="header-container">
  <div class="header-title-container">
    <h3 class="header-title">
      <img class="entity-logo" src="../assets/entity-logos/Airline.svg" alt="Airline Logo" />
      {{ (globalAirline$ | async)?.globalName || 'Unknown Airline' }}
    </h3>
  </div>

  <div class="header-actions">
    <bspl-button
      *ngIf="isApplyChangesVisible"
      [label]="'common.applyChanges' | translate"
      [isDisabled]="!(isApplyChangesEnabled$ | async)"
      (onClick)="applyChanges()"
    ></bspl-button>
  </div>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
