@import 'theme/variables/index';
@import 'components/inline-list/inline-list';
@import 'components/form-page/form-page';
@import 'components/form-page/form-page-view';
@import 'components/form-list/form-list';

$box-shadow-color: rgba(0, 47, 91, 0.1);
$box-shadow-below: 0 2px 8px 0 $box-shadow-color;
$sections-border: 1px solid $gray-neutral;
$reduced-padding: 0.8rem;

:host {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    .refund__content {
      .refund__content__nav {
        font-size: $font-size-m;
        padding: $spacing-m 0;
      }
    }

    .exception-disclaimer {
      margin-bottom: $spacing-m;
    }

    bspl-vertical-stepper-item {
      .reasonForRefund {
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow-z-1;
        padding: $spacing-xl;

        .agentName {
          color: $blue-light;
          font-weight: 500;
          font-size: $font-size-l;
          margin-bottom: $spacing-xs;
        }

        .agentCode {
          color: $gray-deep;
          margin-bottom: $spacing-m;
        }

        .reason {
          color: $blue-primary;
          white-space: pre-wrap;
        }
      }
    }

    .tickets--section {
      margin-top: $spacing-xl;

      .listForm {
        .listForm__header {
          padding: 0;

          .listForm__label {
            float: left;
          }
        }

        li {
          &.row {
            margin-left: -$spacing-xs;
            margin-right: -$spacing-xs;
            padding-left: 0;
            padding-right: 0;
          }

          & > div {
            padding-right: $reduced-padding;
            padding-left: $reduced-padding;
          }
        }

        .listForm__line {
          color: $gray-dark;

          &:last-child {
            border-bottom: none;
          }

          & > div > bspl-input {
            text-align: left;
          }

          .coupons {
            padding-right: 0;
            text-align: left;

            & > * {
              display: inline-block;
              vertical-align: middle;
              margin-right: 1.2rem;

              &.actions {
                float: right;
              }
            }
          }
        }
      }
    }

    .exchange--section {
      .originalIssue {
        padding-top: $spacing-xl;
      }
    }

    .payments--section {
      .listForm {
        .listForm__header div:not(:last-child) {
          .listForm__label {
            float: left;
          }
        }

        .listForm__line {
          &:nth-last-child(2) {
            border-bottom: 1px solid $gray-deeper;
          }
        }

        .listForm__line--subtotal,
        .listForm__line--total {
          & > div:first-child {
            border-right: 1px solid $blue-primary;
            padding-right: $spacing-xs;
            text-align: right;
          }

          .listForm__label {
            padding-right: 0;
          }
        }

        .listForm__line--total {
          margin-top: $spacing-xs;
        }
      }
    }

    .amountTax--section {
      .options__section {
        bspl-checkbox {
          float: left;

          &:not(:first-child) {
            margin-left: 2rem;
          }
        }
      }

      .taxes__section {
        .listForm {
          .listForm__header {
            padding-left: 0;
            padding-right: 0;

            div:first-child .listForm__label {
              float: left;
            }

            div:last-child .listForm__label {
              float: right;
            }
          }

          .listForm__line .row div {
            &:first-child {
              padding-left: 0;
              text-align: left;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      .total-refund {
        font-weight: 500;
        font-size: $font-size-l;

        span:last-child {
          float: right;
          padding-right: 3rem;
        }
      }

      ul.listForm {
        .listForm__line {
          padding-right: 0;
          padding-left: 0;

          &:not(:first-child):last-child {
            border-bottom: none;
          }

          &.totalGross__section {
            border-bottom: none;
            border-top: 1px solid $blue-primary;

            .listForm__label {
              color: $blue-primary;

              &.listForm__label--numeric {
                font-weight: 500;
              }
            }
          }

          div:nth-child(2) {
            text-align: right;
          }

          .listForm__label--numeric {
            color: $blue-primary;
          }
        }
      }
    }

    .refund__sideMenu {
      padding-left: $spacing-xs;

      .internal-comment-container {
        padding-bottom: $spacing-xl;
        border-bottom: 0.1rem solid #747580;
        margin-bottom: $spacing-m;

        bspl-button {
          display: block;

          ::ng-deep button {
            width: 100%;
          }
        }
      }
    }
  }
}
