<div class="wrapper">
  <!-- HEADER STATUS AND ACTIONS BUTTONS-->
  <bspl-refund-header-status
    [form]="headerFormGroup"
    [accordion]="accordion"
    [formData]="formData"
    [formConfig]="formConfig"
    [refundService]="refundService"
    (actionClick)="onAccionClick($event)"
    (downloadClick)="onDownloadClick()"
    (heightChange)="onHeaderHeightChange($event)"
  ></bspl-refund-header-status>

  <div class="row">
    <!-- MAIN FORM CONTENT-->
    <div class="col-9 refund__content pdf-expand">
      <bspl-accordion #accordion [multipleItemsOpen]="true" [scrollOffset]="headerHeight">
        <bspl-accordion-item [title]="'REFUNDS.basicInfo.title'" [open]="true">
          <ng-container *ngTemplateOutlet="basicInfoTemplate"></ng-container>
        </bspl-accordion-item>

        <bspl-accordion-item
          [title]="'REFUNDS.details.title'"
          [open]="true"
          [ngClass]="{ 'pdf-page-break-inside-avoid': !useNewPDFStyle }"
        >
          <ng-container *ngTemplateOutlet="detailsTemplate"></ng-container>
        </bspl-accordion-item>

        <bspl-accordion-item
          [title]="'REFUNDS.formOfPayment.title'"
          [open]="true"
          [ngClass]="{ 'pdf-page-break-inside-avoid': !useNewPDFStyle }"
        >
          <ng-container *ngTemplateOutlet="formOfPaymentTemplate"></ng-container>
        </bspl-accordion-item>

        <bspl-accordion-item
          [title]="'REFUNDS.amountAndTax.title'"
          [open]="true"
          [ngClass]="{ 'pdf-page-break-inside-avoid': !useNewPDFStyle }"
        >
          <ng-container *ngTemplateOutlet="amountAndTaxTemplate"></ng-container>
        </bspl-accordion-item>
      </bspl-accordion>
    </div>
    <div class="col-3 refund__sideMenu pdf-expand">
      <ng-container *ngTemplateOutlet="internalCommentTemplate"></ng-container>
      <bspl-activity-panel
        [activities]="activities"
        [isCommentingVisible]="isActivityCommentVisible"
        [commentAdded$]="commentAdded$"
        [fileUploadPath]="fileUploadPath"
        (sendComment)="onSendCommentRefund($event)"
        (downloadFile)="onDownloadFile($event)"
      >
      </bspl-activity-panel>
    </div>
  </div>
</div>

<!-- BASIC INFO -->
<ng-template #basicInfoTemplate>
  <!-- Exception Disclaimer to show when RA is flagged as Exception -->
  <div class="row exception-disclaimer pdf-hide-in" *ngIf="showExceptionDisclaimer">
    <div class="col-6">
      <bspl-alert-message
        [message]="exceptionDisclaimer.message"
        [type]="exceptionDisclaimer.type"
      ></bspl-alert-message>
    </div>
  </div>

  <!-- Final Disclaimer to show when RA is flagged as Final and it's Pending/Resubmitted -->
  <div class="row exception-disclaimer" *ngIf="showFinalDisclaimer">
    <div class="col-6">
      <bspl-alert-message [message]="finalDisclaimer.message" [type]="finalDisclaimer.type"></bspl-alert-message>
    </div>
  </div>

  <!-- Detailed document section-->
  <div class="row" class="separator-bottom">
    <div class="col-12">
      <div class="additionalData-section listHorizontal">
        <div class="listHorizontal__item col-3">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.basicInfo.detailDocument.label.documentNumber' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container
              *ngTemplateOutlet="fieldsDetails; context: { value: itemRetrieved.ticketDocumentNumber }"
            ></ng-container>
          </div>
        </div>

        <div class="listHorizontal__item col-3" *ngIf="isTypeRefundApplication">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.basicInfo.detailDocument.label.periodAuthDate' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container>
              <span>{{ itemRetrieved.reportingPeriod }}</span>
              <span>&nbsp;-&nbsp;</span>
              <span *ngIf="itemRetrieved.reportingPeriod">{{
                itemRetrieved.dateOfAuthorization | dateTimeFormat : 'date'
              }}</span>
            </ng-container>
          </div>
        </div>

        <div class="listHorizontal__item col-3" *ngIf="!isTypeRefundApplication">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.basicInfo.detailDocument.label.periodReportDate' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container>
              {{ itemRetrieved.reportingPeriod }}
              <span>&nbsp;-&nbsp;</span>
              {{ itemRetrieved.reportingDate | dateTimeFormat : 'date' }}
            </ng-container>
          </div>
        </div>

        <div class="listHorizontal__item col-3">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.basicInfo.detailDocument.label.bsp' | translate }}
          </div>
          <div class="listHorizontal__value">{{ bspName }}</div>
        </div>

        <div class="listHorizontal__item col-3">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.basicInfo.detailDocument.label.type' | translate }}
          </div>
          <div class="listHorizontal__value">
            {{ 'REFUNDS.basicInfo.detailDocument.' + itemRetrieved.type | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Airline Information -->
  <div class="row basicInfo--section">
    <div class="col-6 separator-right">
      <h4 class="section-title pdf-padding pdf-padding-left-s">
        {{ 'REFUNDS.basicInfo.airlInfo.title' | translate }}
      </h4>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'REFUNDS.basicInfo.airlInfo.label.codeName',
              value: itemRetrieved.airline.iataCode + ' / ' + itemRetrieved.airline.localName
            }
          "
        ></ng-container>

        <ng-container *ngIf="isAirlineVatFieldVisible$ | async">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: { label: 'REFUNDS.basicInfo.airlInfo.label.vatNumber', value: itemRetrieved.airlineVatNumber }
            "
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="airlineDetailsVisible">
          <div class="pdf-hide-in">
            <ng-container *ngTemplateOutlet="userDetails; context: { $implicit: airlineDetails }"></ng-container>
          </div>
        </ng-container>
      </ul>
      <div class="link details-link pdf-hide-in" (click)="toggleAirlineDetails()">
        {{
          (airlineDetailsVisible ? 'REFUNDS.basicInfo.detailsLabel.hide' : 'REFUNDS.basicInfo.detailsLabel.show')
            | translate
        }}
      </div>
    </div>

    <!-- Agent Information -->
    <div class="col-6">
      <h4 class="section-title pdf-padding">{{ 'REFUNDS.basicInfo.agentInfo.title' | translate }}</h4>
      <ul class="listFields">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: {
              label: 'REFUNDS.basicInfo.agentInfo.label.codeName',
              value: itemRetrieved.agent.iataCode + ' / ' + itemRetrieved.agent.name
            }
          "
        ></ng-container>

        <ng-container *ngIf="isAgentVatFieldVisible$ | async">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: { label: 'REFUNDS.basicInfo.agentInfo.label.vatNumber', value: itemRetrieved.agentVatNumber }
            "
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="agentDetailsVisible">
          <div class="pdf-hide-in">
            <ng-container *ngTemplateOutlet="userDetails; context: { $implicit: agentDetails }"></ng-container>
          </div>
        </ng-container>
      </ul>
      <div class="link details-link pdf-hide-in" (click)="toggleAgentDetails()">
        {{
          (agentDetailsVisible ? 'REFUNDS.basicInfo.detailsLabel.hide' : 'REFUNDS.basicInfo.detailsLabel.show')
            | translate
        }}
      </div>
    </div>

    <div
      class="separator-top col-12 pdf-no-border"
      *ngIf="(isAgentContactFieldVisible$ | async) || (isAirlineContactFieldVisible$ | async)"
    >
      <div class="row">
        <!-- Airline Contact Information -->
        <div class="col-6 separator-right" *ngIf="isAirlineContactFieldVisible$ | async">
          <h4 class="section-title pdf-padding">{{ 'REFUNDS.basicInfo.airlContact.title' | translate }}</h4>
          <div>
            <ul class="listFields">
              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.airlContact.label.name',
                    value: itemRetrieved.airlineContact?.contactName
                  }
                "
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.airlContact.label.phoneFax',
                    value: itemRetrieved.airlineContact?.phoneFaxNumber
                  }
                "
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.airlContact.label.email',
                    value: itemRetrieved.airlineContact?.email
                  }
                "
              ></ng-container>
            </ul>
          </div>
        </div>

        <!-- Agent Contact Information -->
        <div class="col-6" *ngIf="isAgentContactFieldVisible$ | async">
          <h4 class="section-title pdf-padding">{{ 'REFUNDS.basicInfo.agentContact.title' | translate }}</h4>
          <div>
            <ul class="listFields">
              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.agentContact.label.name',
                    value: itemRetrieved.agentContact?.contactName
                  }
                "
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.agentContact.label.phoneFax',
                    value: itemRetrieved.agentContact?.phoneFaxNumber
                  }
                "
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.agentContact.label.email',
                    value: itemRetrieved.agentContact?.email
                  }
                "
              ></ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #userDetails let-details>
    <ng-container *ngFor="let lineKey of objectKeys(details)">
      <ng-container *ngIf="details[lineKey]">
        <ng-container
          *ngTemplateOutlet="
            listLine;
            context: { label: 'REFUNDS.basicInfo.detailInfo.label.' + lineKey, value: details[lineKey] }
          "
        ></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</ng-template>

<!-- DETAILS -->
<ng-template #detailsTemplate>
  <div class="row pdf-no-padding-left">
    <div class="col-6 separator-right pdf-no-padding-left">
      <div>
        <bspl-vertical-stepper-item [title]="'REFUNDS.details.detailsSection.reasonForRefund' | translate">
          <div class="reasonForRefund">
            <div class="reason pdf-reason">{{ itemRetrieved.reasonForRefund }}</div>
          </div>
        </bspl-vertical-stepper-item>

        <bspl-vertical-stepper-item
          *ngIf="isRemarksVisible"
          [title]="'REFUNDS.details.detailsSection.airlineRemarks' | translate"
        >
          <div class="reasonForRefund">
            <div class="reason pdf-reason">{{ itemRetrieved.airlineRemark }}</div>
          </div>
        </bspl-vertical-stepper-item>

        <bspl-vertical-stepper-item
          *ngIf="!!itemRetrieved.rejectionReason"
          [title]="'REFUNDS.details.detailsSection.reasonForRejection' | translate"
        >
          <div class="reasonForRefund">
            <div class="reason pdf-reason">{{ itemRetrieved.rejectionReason }}</div>
          </div>
        </bspl-vertical-stepper-item>

        <bspl-vertical-stepper-item
          *ngIf="!!itemRetrieved.resubmissionRemark"
          [title]="'REFUNDS.details.detailsSection.reasonForResubmission' | translate"
        >
          <div class="reasonForRefund">
            <div class="reason pdf-no-margin">{{ itemRetrieved.resubmissionRemark }}</div>
          </div>
        </bspl-vertical-stepper-item>
      </div>
    </div>

    <div class="col-6">
      <h4 class="section-title">
        {{ 'REFUNDS.details.documentsSection.headerDocuments' | translate }}
      </h4>

      <div class="docs--section">
        <ul class="listFields">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'REFUNDS.details.documentsSection.stat.label',
                value: statisticalCodeName
              }
            "
          ></ng-container>

          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: { label: 'REFUNDS.details.documentsSection.passenger', value: itemRetrieved.passenger }
            "
          ></ng-container>

          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'REFUNDS.details.documentsSection.issueDate',
                value: itemRetrieved.dateOfIssueRelatedDocument | dateTimeFormat : 'date'
              }
            "
          ></ng-container>

          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: { label: 'REFUNDS.details.documentsSection.waiver', value: itemRetrieved.waiverCode }
            "
          ></ng-container>
        </ul>
      </div>

      <div class="tickets--section">
        <ul class="listForm">
          <li class="row listForm__header">
            <div class="col-2">
              <span class="listForm__label">{{
                'REFUNDS.details.documentsSection.ticketsSection.airline' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label">{{
                'REFUNDS.details.documentsSection.ticketsSection.document' | translate
              }}</span>
            </div>
            <div class="col-6">
              <span class="listForm__label">{{
                'REFUNDS.details.documentsSection.ticketsSection.coupons' | translate
              }}</span>
            </div>
          </li>

          <li class="row listForm__line">
            <ng-container
              *ngTemplateOutlet="ticketLine; context: { line: itemRetrieved.relatedTicketDocument }"
            ></ng-container>
          </li>

          <li class="row listForm__line" *ngFor="let conjunction of itemRetrieved.relatedTicketConjunctions">
            <ng-container
              *ngTemplateOutlet="ticketLine; context: { line: conjunction, isConjunction: true }"
            ></ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row exchange--section separator-top" *ngIf="itemRetrieved.relatedTicketExchange">
    <div class="col">
      <div>
        <bspl-checkbox
          [label]="'REFUNDS.details.documentsSection.exchangeSection.exchange' | translate"
          [checked]="true"
          [isDisabled]="true"
        ></bspl-checkbox>
      </div>
      <div class="originalIssue listHorizontal">
        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.details.documentsSection.exchangeSection.airlineCode' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.originalIssue.airlineCode }}</div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.details.documentsSection.exchangeSection.originalDoc' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.originalIssue.documentNumber }}</div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.details.documentsSection.exchangeSection.agentCode' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.originalIssue.agentCode }}</div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.details.documentsSection.exchangeSection.issueDate' | translate }}
          </div>
          <div class="listHorizontal__value">
            {{ itemRetrieved.originalIssue.issueDate | dateTimeFormat : 'date' }}
          </div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.details.documentsSection.exchangeSection.location' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.originalIssue.locationCode }}</div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #ticketLine let-line="line" let-isConjunction="isConjunction">
    <div class="col-2 line--centered">
      <span *ngIf="!isConjunction">{{ itemRetrieved.airlineCodeRelatedDocument }}</span>
      <span *ngIf="isConjunction">{{ 'REFUNDS.details.documentsSection.ticketsSection.cnj' | translate }}</span>
    </div>
    <div class="col-4 line--centered">
      <span class="link">{{ line.documentNumber }}</span>
    </div>
    <div class="col-6 coupons line--centered">
      <bspl-checkbox [label]="1" [checked]="line.coupon1" [isDisabled]="true"></bspl-checkbox>
      <bspl-checkbox [label]="2" [checked]="line.coupon2" [isDisabled]="true"></bspl-checkbox>
      <bspl-checkbox [label]="3" [checked]="line.coupon3" [isDisabled]="true"></bspl-checkbox>
      <bspl-checkbox [label]="4" [checked]="line.coupon4" [isDisabled]="true"></bspl-checkbox>
    </div>
  </ng-template>
</ng-template>

<!-- FORM OF PAYMENT -->
<ng-template #formOfPaymentTemplate>
  <!-- Tour code / Customer Ref / E-ticket-->
  <div class="row" [ngClass]="{ 'separator-bottom': isPaymentsVisible }">
    <div class="col-12">
      <div class="additionalData-section listHorizontal">
        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.formOfPayment.tourCode.label' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: itemRetrieved.tourCode }"></ng-container>
          </div>
        </div>

        <div class="listHorizontal__item" *ngIf="isCustomerRefFieldVisible$ | async">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.formOfPayment.customerRef.label' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container
              *ngTemplateOutlet="fieldsDetails; context: { value: itemRetrieved.customerFileReference }"
            ></ng-container>
          </div>
        </div>

        <div class="listHorizontal__item" *ngIf="isETicketCodeFieldVisible$ | async">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.formOfPayment.eTicketAuth.label' | translate }}
          </div>
          <div class="listHorizontal__value">
            <ng-container
              *ngTemplateOutlet="fieldsDetails; context: { value: itemRetrieved.settlementAuthorisationCode }"
            ></ng-container>
          </div>
        </div>

        <div class="listHorizontal__item">
          <div class="listHorizontal__label">
            {{ 'REFUNDS.formOfPayment.currency.label' | translate }}
          </div>
          <div class="listHorizontal__value">{{ itemRetrieved.currency.code }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Payments-->
  <div class="payments--section" *ngIf="isPaymentsVisible">
    <ul class="listForm">
      <li class="row listForm__header">
        <div class="col-4">
          <span class="listForm__label">{{
            'REFUNDS.formOfPayment.cardPayments.headerColumns.payment' | translate
          }}</span>
        </div>
        <div class="col-2 cardType">
          <span class="listForm__label" *ngIf="areCardsVisible">{{
            'REFUNDS.formOfPayment.cardPayments.headerColumns.type' | translate
          }}</span>
        </div>
        <div class="col-3">
          <span class="listForm__label" *ngIf="areCardsVisible">{{
            'REFUNDS.formOfPayment.cardPayments.headerColumns.card' | translate
          }}</span>
        </div>
        <div class="col-3">
          <span class="listForm__label">{{
            'REFUNDS.formOfPayment.cardPayments.headerColumns.amount'
              | translate : locale.language : { currencyCode: ', ' + itemRetrieved.currency.code }
          }}</span>
        </div>
      </li>

      <li class="row listForm__line" *ngFor="let item of itemRetrieved.cardPayments">
        <div class="col-4 align-self-center">
          <span class="listForm__label--text">{{
            'REFUNDS.formOfPayment.cardPayments.' + item.payment.toLowerCase() | translate
          }}</span>
        </div>
        <div class="col-2 listForm__label--text">
          {{ item.type }}
        </div>
        <div class="col-3 listForm__label--text">
          {{ item.card }}
        </div>
        <div class="col-3 listForm__label--numeric">
          {{ item.amount }}
        </div>
      </li>

      <li class="row listForm__line listForm__line--subtotal" *ngIf="areCardsVisible">
        <div class="col-lg-10 col-md-9">
          <span class="listForm__label--text">{{
            'REFUNDS.formOfPayment.cardPayments.total'
              | translate : locale.language : { currencyCode: ', ' + itemRetrieved.currency.code }
          }}</span>
        </div>
        <div class="col-lg-2 col-md-3">
          <span class="listForm__label listForm__label--numeric"> {{ itemRetrieved.totalPaymentCardAmount }}</span>
        </div>
      </li>

      <li class="row listForm__line" *ngIf="isCashVisible">
        <div class="col-9">
          <span class="listForm__label--text">{{ 'REFUNDS.formOfPayment.cashPayments.cash' | translate }}</span>
        </div>
        <div class="col-3 listForm__label--numeric">
          {{ itemRetrieved.cashPaymentAmount }}
        </div>
      </li>

      <li class="row listForm__line" *ngIf="isMiscCashVisible">
        <div class="col-9">
          <span class="listForm__label--text">{{ 'REFUNDS.formOfPayment.cashPayments.miscCash' | translate }}</span>
        </div>
        <div class="col-3 listForm__label--numeric">
          {{ itemRetrieved.miscellaneousCashPaymentAmount }}
        </div>
      </li>

      <li class="row listForm__line listForm__line--subtotal" *ngIf="isCashVisible || isMiscCashVisible">
        <div class="col-lg-10 col-md-9">
          <span class="listForm__label--text">{{
            'REFUNDS.formOfPayment.cashPayments.total'
              | translate : locale.language : { currencyCode: ', ' + itemRetrieved.currency.code }
          }}</span>
        </div>
        <div class="col-lg-2 col-md-3">
          <span class="listForm__label listForm__label--numeric"> {{ itemRetrieved.totalCashAmount }}</span>
        </div>
      </li>

      <li class="row listForm__footer listForm__line--total">
        <div class="col-lg-10 col-md-9">
          <span class="listForm__label">{{
            'REFUNDS.formOfPayment.total'
              | translate : locale.language : { currencyCode: ', ' + itemRetrieved.currency.code }
          }}</span>
        </div>
        <div class="col-lg-2 col-md-3">
          <span class="listForm__label listForm__label--numeric"> {{ itemRetrieved.totalPaymentAmount }} </span>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<!-- AMOUNT AND TAX -->
<ng-template #amountAndTaxTemplate>
  <div class="amountTax--section">
    <div
      class="row options__section separator-bottom"
      *ngIf="partialRefundEnabled || itemRetrieved.netReporting || (isNetReportingVisible$ | async)"
    >
      <div class="col">
        <bspl-checkbox
          [label]="'REFUNDS.amountAndTax.optionsSection.partialRefund' | translate"
          [checked]="itemRetrieved.partialRefund"
          [isDisabled]="true"
          [hidden]="!partialRefundEnabled"
        ></bspl-checkbox>
        <bspl-checkbox
          [label]="'REFUNDS.amountAndTax.optionsSection.netReporting' | translate"
          [checked]="itemRetrieved.netReporting"
          [isDisabled]="true"
          [hidden]="!(itemRetrieved.netReporting || (isNetReportingVisible$ | async))"
        ></bspl-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-6 separator-right gross__section">
        <ul class="listForm listForm--reduced">
          <li class="row listForm__line">
            <div class="col-8">
              <span class="listForm__label">{{ 'REFUNDS.amountAndTax.grossSection.grossFare' | translate }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.grossFare }}</span>
            </div>
          </li>

          <li class="row listForm__line" *ngIf="partialRefundEnabled">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.grossSection.lessGrossFareUsed' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.lessGrossFareUsed }}</span>
            </div>
          </li>
        </ul>

        <ul class="listForm" *ngIf="partialRefundEnabled">
          <li class="row listForm__line totalGross__section">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.grossSection.totalGrossFare'
                  | translate : locale.language : { currencyCode: ', ' + itemRetrieved.currency.code }
              }}</span>
            </div>
            <div class="col-4 totalGross">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.totalGrossFare }}</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-6">
        <ul class="listForm listForm--reduced">
          <li class="row listForm__line" *ngIf="partialRefundEnabled">
            <div class="col-8">
              <span class="listForm__label">
                {{
                  getCommissionLabel(
                    'REFUNDS.amountAndTax.commissionDiscountSection.commission' | translate,
                    itemRetrieved.commission
                  )
                }}
              </span>
            </div>
            <div class="col-4">
              <span
                [ngClass]="{ listFieldTextEmpty: !commissionHasValue(itemRetrieved.commission) }"
                class="listForm__label listForm__label--numeric"
                >{{ getCommissionValue(itemRetrieved.commission) }}</span
              >
            </div>
          </li>

          <li class="row listForm__line" *ngIf="isDiscountAmountVisible$ | async">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.commissionDiscountSection.discountAmount' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.supplementaryCommission }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row separator-top">
      <div class="col-6 separator-right">
        <ul class="listForm listForm--reduced">
          <li class="row listForm__line" *ngIf="isCPVisible$ | async">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.cancelationMiscSection.cancelationPenalty' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.cancellationPenalty }}</span>
            </div>
          </li>

          <li class="row listForm__line" *ngIf="isTaxOnCPVisible$ | async">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.cancelationMiscSection.taxOnCP' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.taxOnCancellationPenalty }}</span>
            </div>
          </li>

          <li class="row listForm__line" *ngIf="isMiscFeeVisible$ | async">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.cancelationMiscSection.miscFee' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.miscellaneousFee }}</span>
            </div>
          </li>

          <li class="row listForm__line" *ngIf="isTaxOnMFVisible$ | async">
            <div class="col-8">
              <span class="listForm__label">{{
                'REFUNDS.amountAndTax.cancelationMiscSection.taxOnMF' | translate
              }}</span>
            </div>
            <div class="col-4">
              <span class="listForm__label listForm__label--numeric">{{ itemRetrieved.taxOnMiscellaneousFee }}</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-6">
        <ul class="listForm listForm--reduced" *ngIf="isCommissionForCpAndMfVisible$ | async">
          <li class="row listForm__line">
            <div class="col-8">
              <span class="listForm__label">
                {{
                  getCommissionLabel(
                    'REFUNDS.amountAndTax.commissionCpMf' | translate,
                    itemRetrieved.commissionForCpAndMf
                  )
                }}
              </span>
            </div>
            <div class="col-4">
              <span
                [ngClass]="{ listFieldTextEmpty: !commissionHasValue(itemRetrieved.commissionForCpAndMf) }"
                class="listForm__label listForm__label--numeric"
                >{{ getCommissionValue(itemRetrieved.commissionForCpAndMf) }}</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row separator-top taxes__section" *ngIf="isTaxesListVisible">
      <div class="col-6 separator-right">
        <ul class="listForm listForm--reduced">
          <li class="row listForm__header">
            <div class="col">
              <span class="listForm__label">{{ 'REFUNDS.amountAndTax.taxSection.type' | translate }}</span>
            </div>
            <div class="col">
              <span class="listForm__label">{{ 'REFUNDS.amountAndTax.taxSection.amount' | translate }}</span>
            </div>
          </li>
          <li class="listForm__line" *ngFor="let taxLine of itemRetrieved.taxMiscellaneousFees">
            <div class="row">
              <div class="col-4">
                <span class="listForm__label listForm__label--numeric">
                  {{ taxLine.type }}
                </span>
              </div>
              <div class="col-8">
                <span class="listForm__label listForm__label--numeric">
                  {{ taxLine.amount }}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row separator-top total-refund">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <span>{{
              'REFUNDS.amountAndTax.refundTopassenger'
                | translate : locale.language : { currencyCode: ', ' + itemRetrieved.currency.code }
            }}</span>
            <span>
              {{ itemRetrieved.totalAmount }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #listLine let-label="label" let-value="value">
  <li class="listLine">
    <div class="row listText pdf-font-size">
      <div class="col-4 listLabelText">
        <span>{{ label | translate }}</span>
      </div>
      <div class="col-8">
        <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: value }"></ng-container>
      </div>
    </div>
  </li>
</ng-template>

<ng-template #fieldsDetails let-value="value">
  <span [ngClass]="{ listFieldTextEmpty: !value, listFieldTextValue: value }">
    {{ value ? value : 'N/A' }}
  </span>
</ng-template>

<!-- INTERNAL COMMENT -->
<ng-template #internalCommentTemplate>
  <div *ngIf="isInternalCommentButtonVisible" class="internal-comment-container pdf-hide-in">
    <bspl-button
      class="internal-comment-button"
      [label]="'activityPanel.buttonLabels.INTERNAL_COMMENT' | translate"
      [design]="buttonDesign.Tertiary"
      [image]="itemRetrieved.internalComment ? '/assets/images/utils/discuss.svg' : null"
      (onClick)="onInternalComment()"
    ></bspl-button>
  </div>
</ng-template>
