@import 'theme/variables/index';

$border-width: 1px;
$border-gray: $border-width solid $gray-neutral;
$padding-regular: 1.3rem;

.property {
  display: flex;
  color: $gray-deep;
  padding: $padding-regular 0;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: $border-gray;

  &:last-child {
    border-bottom: none;
  }

  // When there is a single property we display a border
  &:first-child,
  &.property-with-separator {
    border-bottom: $border-gray;
  }

  .property-label {
    flex: 4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  .property-value {
    flex: 6;
    color: $blue-primary;
    padding-left: $spacing-m;
    // Avoid issue with detailed row in gridTable
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.property-emphasis {
    font-weight: $font-weight-medium;

    .property-label {
      color: $gray-deep;
      font-size: $font-size-l;
      line-height: $line-height-m;
    }

    .property-value {
      color: $blue-primary;
    }
  }

  &.property-align-right {
    .property-value {
      flex: none;
    }
  }

  &.property-align-left {
    .property-value {
      flex: 6;
    }
  }
}
