<label class="property-label" [bsplTooltip]="labelTooltip || label | translateAsync" [showOnEllipsis]="!labelTooltip">
  {{ label | translateAsync }}
</label>
<span class="property-value" [bsplTooltip]="value | bsplEmpty" [showOnEllipsis]="true">
  <span #contentRef>
    <ng-content></ng-content>
  </span>
  <span *ngIf="contentRef.childNodes.length === 0">
    {{ value | bsplEmpty }}
  </span>
</span>
