@import 'theme/variables/index';

.wrapper {
  display: flex;
  flex-direction: column;

  &.right-label {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    div {
      padding-left: $spacing-xs;
    }
  }
}
