<div class="wrapper" [ngClass]="{ 'right-label': labelPosition === 'right' }">
  <ng-container *ngIf="label">
    <div>
      <label>{{ label | translate }} </label>
      <ng-container *ngIf="showValueInLabel">
        <span>: {{ valueLabel | translate }}</span>
      </ng-container>
    </div>
  </ng-container>

  <p-inputSwitch
    [(ngModel)]="checked"
    [disabled]="disabled"
    [readonly]="readonly"
    (onChange)="handleChange($event)"
  ></p-inputSwitch>
</div>
