<bspl-header [showProfile]="false" [showActions]="false"></bspl-header>
<main>
  <img src="../assets/images/icon-home.svg" alt="Home Icon" />
  <h2>
    <i class="material-icons error-icon">error</i>
    <span [innerHtml]="'loginError.message' | translate"></span>
  </h2>
  <ng-container *ngIf="canGoToClassic">
    <span class="hint" [innerHtml]="'loginError.hint' | translate"></span>
    <bspl-button class="bspl-btn-big" label="loginError.action" (onClick)="goToClassic()"></bspl-button>
  </ng-container>
</main>
<bspl-footer [showLinks]="false"></bspl-footer>
