@import 'theme/variables/index';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

bspl-header {
  border-bottom: 1px solid $gray-neutral;
}

img {
  margin: 6rem 0;
}

main {
  display: flex;
  padding: $spacing-xl;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  display: flex;
  align-items: center;
}

.bspl-btn-big::ng-deep {
  .bspl-btn {
    height: 5.6rem;
    font-size: $font-size-xl;
    padding: 0 5.6rem;
  }
}

.hint {
  font-size: $font-size-l;
  line-height: $line-height-m;
  color: $gray-deep;
  margin: $spacing-xl 0;
}

.error-icon {
  position: relative;
  top: -1px;
  color: $red;
  padding: 0 $spacing-xs;
}
