@import 'theme/variables/index';

.reports-header-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 35px;
  flex: 1 1 auto;

  .reports-header-title {
    display: flex;
    align-items: center;

    .reports-title {
      font-size: $font-size-xxl;
      font-weight: normal;
      line-height: 30px;
      color: $blue-primary;
      margin: 0;
    }
  }
}

.reports-tabs {
  ::ng-deep {
    .tab-menu-container {
      margin-left: -$spacing-xl;
      margin-right: -$spacing-xl;
    }
  }
}
