<div class="reports-header-container">
  <div class="reports-header-title">
    <h3 class="reports-title">{{ 'MENU.files.reports.tabLabel' | translate }}</h3>
  </div>
</div>
<bspl-tab-navbar class="reports-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
