<div class="header-container">
  <h3 class="header-title">
    {{ title | translate }}
  </h3>
  <div class="header-actions">
    <bspl-button
      *ngIf="canUserIssueBspAdjustment()"
      [label]="createBtnLbl | translate"
      [design]="btnDesign.Secondary"
      icon="mi md-18 add"
      (onClick)="create()"
    ></bspl-button>
  </div>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
