<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [predefinedFilters]="predefinedFilters"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="false"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBsps"
        formControlName="isoCountryCode"
        [label]="'monitoring-variable-remittance.filter.isoCountryCode.label' | translate"
        [placeholder]="'monitoring-variable-remittance.filter.isoCountryCode.placeholder' | translate"
        [isDisabled]="!userBsps?.length"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'monitoring-variable-remittance.filter.isoCountryCode.highlightedBspText' | translate }}</span>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="filename"
          [label]="'monitoring-variable-remittance.filter.filename.label' | translate"
          [placeholder]="'monitoring-variable-remittance.filter.filename.placeholder' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="startDate"
          [label]="'monitoring-variable-remittance.filter.startDate.label' | translate"
          [placeholder]="'monitoring-variable-remittance.filter.startDate.placeholder' | translate"
          [showTodayButton]="false"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="endDate"
          [label]="'monitoring-variable-remittance.filter.endDate.label' | translate"
          [placeholder]="'monitoring-variable-remittance.filter.endDate.placeholder' | translate"
          [showTodayButton]="false"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="status"
          [label]="'monitoring-variable-remittance.filter.status.label' | translate"
          [placeholder]="'monitoring-variable-remittance.filter.status.placeholder' | translate"
          [options]="statusOptions"
          [multiple]="true"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
