<div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
  <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
    <bspl-property label="sales.billingAnalysis.tableRowDetails.bsp" [value]="row.isoCountryCode"></bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.voidCoupons"
      [value]="row.couponUseIndicator"
    ></bspl-property>
    <bspl-property label="sales.billingAnalysis.tableRowDetails.conjunctions">
      <div
        *ngFor="let conjunctionDocument of row.conjunctionTickets"
        (click)="canViewDocument && openDocument.emit(conjunctionDocument.id)"
      >
        <a [class.link]="canViewDocument">{{ conjunctionDocument.documentNumber }}</a>
      </div>
    </bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.destination"
      [value]="row.destinationAirportCodes?.join(', ')"
    ></bspl-property>
    <bspl-property label="sales.billingAnalysis.tableRowDetails.comments">
      <div *ngFor="let payment of mapFormOfPayments(row.formOfPayments)">
        {{ payment.type }} {{ payment.entity }} {{ payment.creditCardNumber }}
      </div>
      <div>
        {{ row.tourCode }}
      </div>
      <div *ngIf="row.transactionCode === documentType.RFND">
        <div *ngFor="let documentNumber of row.relatedDocumentNumbers">RF{{ documentNumber }}</div>
      </div>
    </bspl-property>
  </bspl-property-list>

  <bspl-property-list class="col-md-4 col-sm-4 property-list-align-right property-list-compact">
    <bspl-property label="sales.billingAnalysis.tableRowDetails.taxes" class="property-with-separator">
      <div *ngFor="let tax of row.taxes">
        {{ tax.amount | absoluteDecimal : getAmountFormat(currency?.decimals) }}
        {{ tax.type }}
      </div>
    </bspl-property>
  </bspl-property-list>

  <bspl-property-list class="col-md-4 col-sm-4 property-list-align-right property-list-compact">
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.commissionRate"
      [value]="row.commissionRatePercent | absoluteDecimal : '1.2-2'"
    ></bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.commissionAmount"
      [value]="row.commissionAmount | number : getAmountFormat(currency?.decimals)"
    ></bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.fareAdjustmentAmount"
      [value]="row.fareAdjustmentAmount | absoluteDecimal : getAmountFormat(currency?.decimals)"
    ></bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.vatCommission"
      [value]="row.vatAmount | absoluteDecimal : getAmountFormat(currency?.decimals)"
    ></bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.cancellationFees"
      [value]="row.cancellationFees | absoluteDecimal : getAmountFormat(currency?.decimals)"
    ></bspl-property>
    <bspl-property
      label="sales.billingAnalysis.tableRowDetails.netFareAmount"
      [value]="row.netFareAmount | absoluteDecimal : getAmountFormat(currency?.decimals)"
    ></bspl-property>
  </bspl-property-list>
</div>
