.list-view-action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: $spacing-xl 0;

  .list-view-action-bar-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 auto;

    .view-title {
      margin-right: $spacing-xs;
    }
  }

  .view-actions {
    bspl-button,
    bspl-split-button {
      margin-left: $spacing-s;
      vertical-align: middle;
    }
  }
}

.list-view-filter {
  background-color: $gray-subtle;
  border-radius: 5px;
  border: $gray-subtle;

  &-editable,
  &-summary {
    margin-bottom: $spacing-m;
  }

  &-editable {
    padding: $spacing-xl $spacing-xl 0;

    .action-button {
      margin-left: $spacing-s;
    }

    .action-button-container {
      margin-bottom: $spacing-xl;
    }

    ::ng-deep form .highlighted-filter {
      display: flex;
      align-items: flex-end;
      gap: $spacing-xs;
      border-bottom: 1px solid $gray-middle;
      margin-bottom: $spacing-m;
      padding-bottom: $spacing-xxs;

      > bspl-select {
        flex: 0 0 25%;
        padding-right: $spacing-xl;
      }

      > span {
        font-size: $font-size-m;
        color: $gray-deep;
        padding-bottom: $spacing-m;
      }
    }
  }

  &-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: -0.6px;
    padding: $spacing-xs $spacing-s;

    .filter-label {
      color: $gray-deep-middle;
    }

    .tags-container {
      display: inline-block;

      .filter-tag {
        cursor: pointer;
      }
    }

    .clear-filter {
      color: $blue-light;
      justify-content: flex-end;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}
