@import 'theme/variables/index';
@import 'theme/app/scroll-bar';
@import 'theme/app/custom-control';

$item-height: 40px;
$items-visible: 5;
$item-icon-size: 1.25em;
$item-icon-margin: 3px;

.userInputList__content {
  .userInputList__content--input {
    position: relative;

    bspl-button {
      position: absolute;
      right: 0;

      &::ng-deep {
        button {
          padding: 0;
          width: $input-height;
        }

        i {
          margin-right: 0;
        }
      }
    }
  }

  label {
    @include input-label();
  }

  .userInputList__content__list {
    background-color: $white;
    max-height: calc((#{$item-height} + 2px) * #{$items-visible});
    overflow-y: auto;

    @include custom-scrollbar();

    .userInputList__content__list--item {
      line-height: 40px;
      padding-left: $spacing-xs;
      padding-right: 0.8rem;
      border-bottom: 1px solid $gray-neutral;
      position: relative;

      &.userInputList__content__list--item--invalid span {
        color: $red;
      }

      &:hover {
        background-color: $gray-light;
      }

      &:last-child {
        border: none;
      }

      span {
        color: $gray-dark;
        font-size: $font-size-m;

        & + i {
          color: $gray-middle;
          cursor: pointer;
          font-size: $item-icon-size;
          height: calc(#{$item-height} - (#{$item-icon-margin} * 2));
          line-height: calc(#{$item-height} - (#{$item-icon-margin} * 2));
          position: absolute;
          right: $item-icon-margin;
          text-align: center;
          top: $item-icon-margin;
          width: calc(#{$item-height} - (#{$item-icon-margin} * 2));

          &:hover {
            background-color: $gray-neutral;
            color: $gray-dark;
          }
        }
      }
    }

    .userInputList__content__list--placeholder {
      border-radius: 2px;
      padding: 0 $spacing-xs;
      color: $gray-middle;
      font-size: $font-size-m;
      height: $input-height;

      span {
        line-height: $input-height;
      }
    }
  }
}
