<div class="userInputList__content">
  <div class="userInputList__content--input" *ngIf="!isReadOnly">
    <bspl-input
      [formControl]="input"
      [validateOnChange]="false"
      [maxLength]="maxLength"
      [label]="label"
      [placeholder]="placeholderInput"
      (keyup.enter)="onAddClick()"
    >
      <bspl-button
        [design]="btnDesign.Secondary"
        [icon]="iconButtonType.Add"
        [isDisabled]="!isAddingAllowed()"
        (onClick)="onAddClick()"
      ></bspl-button>
    </bspl-input>
  </div>

  <label *ngIf="isReadOnly">{{ label }}</label>

  <div class="userInputList__content__list">
    <div
      class="userInputList__content__list--placeholder"
      [hidden]="(!placeholder && !isReadOnly) || formArray.value.length"
    >
      <span> {{ placeholder || 'N/A' }} </span>
    </div>
    <div
      class="userInputList__content__list--item"
      [ngClass]="{ 'userInputList__content__list--item--invalid': control.invalid }"
      *ngFor="let control of formArray.controls; let i = index"
    >
      <span> {{ control.value }} </span>
      <i class="mi" (click)="onRemoveClick(i)" [hidden]="isReadOnly">close</i>
    </div>
  </div>
</div>
