<p class="MsoNormal">
  <span lang="EN-GB"
    >This tab eases the management of the authority granted to Third Parties to issue ACMs and ADMs on behalf of the
    Airline:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/acm-adm-issuing-authority-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254066"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: ADM / ACM Issuing Authority.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For each Third Party, users may grant the issuing authority for both ADM and ACM or to one of them separately.
    Possible values are “Enabled” (when granted) or “Disabled” (if not granted).
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to modify the ADM/ACM Authority Status by clicking the
    <img border="0" height="20" src="airline/images/box-marked.jpg" /> or
    <img border="0" height="20" src="airline/images/box-unmarked.jpg" /> boxes, similar to the modification of the
    Ticketing Authority.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If the user selects any of the boxes to perform a change in the issuing authority and then the user changes the
    selected BSP (before applying those changes), a modal window pops up informing that there are unsaved changes for
    the user’s airline in the selected BSP operation. The modal window would show the details of the non-applied changes
    and would request the user to cancel, apply or discard them before proceeding.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The
    <img border="0" width="82" height="30" id="Imagen 145" src="airline/images/image083.jpg" />
    button refines the query of ADM/ACM Issuing Authority by the BSP country/territory, the Third Party’s IATA Code or
    Name, the Third-Party Status or the ADM or ACM Authority Status:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/acm-adm-issuing-authority-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254067"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">2</span><span lang="EN-GB">: ACM/ADM Issuing Authority filter.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Take into consideration the following details for this option:</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><b>BSP:</b> Note that those users with permission to access one single BSP will logically see the BSP for which the
    user has access permission by default (and the user won’t be able to change it). While multi-country users with the
    Lean plan cannot see any BSP operation selected by default (the window shows the BSP field as empty) and the user
    should manually pick one BSP at a time from the dropdown list to be able to proceed.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><b>Third Party IATA Code / Name:</b> As mentioned above, if a Lean user doesn’t do any BSP selection, the BSP field
    shows as empty and the Third Party IATA Code/Name field shows as locked, until the user picks a BSP operation.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Active:</b> Enabled/Disabled.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>ADM Authority Status:</b> Enabled/Disabled.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>ACM Authority Status:</b> Enabled/Disabled.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to click on <img border="0" height="30" src="airline/images/icon-darkblue-search.jpg" /> to obtain
    the results.</span
  >
</p>
