<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <a name="_Hlk46990323">
    <span lang="EN-GB"
      >This tab allows Users to set different transaction parameters. You can navigate through the different
      configuration sections by clicking on each of the sections located in the left menu. It has the following
      appearance:
    </span>
  </a>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="295" id="Imagen 129" src="airline/images/image027.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254042"></a><a name="_Toc8220498"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: </span><span lang="EN-GB">Configuration</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal; text-autospace: none; vertical-align: middle">
  <span lang="EN-GB" style="color: black"
    >Please note that, for any configuration change to be definitive, it is necessary to click on
    <img border="0" height="30" src="airline/images/icon-apply-changes.jpg"
  /></span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  ACM / ADM
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >ACM / ADM parameters can be configured by means of the Basic Settings, Issue Reasons and Dispute Reasons
    options:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img
      border="0"
      width="645"
      height="290"
      id="Imagen 53"
      src="airline/images/image028.jpg"
      alt="Una captura de pantalla de una red social&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254043"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Airline Configuration: ACM / ADM Configuration.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Basic Settings
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt">
  <span lang="EN-GB"
    >It is possible for an Airline User to set the basic ACDM-like transaction parameters, which are grouped as
  </span>
</p>

<p class="BulletLevel1"><span lang="EN-GB">follows:</span></p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 18.7pt;
    text-align: center;
    text-indent: -18.7pt;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="377" id="Imagen 55" src="airline/images/image029.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254044"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: ACM / ADM Basic Settings.</span><span lang="EN-GB"> </span>
</p>

<p
  class="OrgChartBullet"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.5in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-size: 9pt; font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB" style="font-size: 9pt">ADM / ACM Settings</span></b>
</p>

<p
  class="OrgChartBullet"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.5in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-size: 9pt; font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB" style="font-size: 9pt">ADM / ACM Request</span></b>
</p>

<p
  class="OrgChartBullet"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.5in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-size: 9pt; font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB" style="font-size: 9pt">ADNT / ACNT Settings</span></b>
</p>

<p class="OrgChartBullet" style="margin-top: 6pt; line-height: normal"><span lang="EN-GB">&nbsp;</span></p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >When any change is performed, the
    <img border="0" width="114" height="30" id="Imagen 324" src="airline/images/image030.jpg" />
    button gets automatically enabled so that Users can save them. If Airline user leave the tab without saving possible
    changes, the following modal box gets displayed, giving the option to save them or not:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="342" id="Imagen 61" src="airline/images/image032.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254045"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Unsaved changes message.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  The <img border="0" height="30" src="airline/images/image075.jpg" /> button will close this modal and keep the working
  configuration unsaved.
</p>
<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  The <img border="0" height="30" src="airline/images/image074.jpg" /> button will revert all the changes and leave the
  original configuration.
</p>
<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  The <img border="0" height="30" src="airline/images/image073.jpg" /> button will apply the changes done.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Issue Reasons
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">This option allows Users to view, add, edit and delete ADM / ACM Issue Reasons. </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="645" height="166" id="Imagen 319" src="airline/images/image033.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254047"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: ADM/ACM Issue Reasons.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">The following information is available for each ADM/ACM Issue Reason:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Title:</span></b
  ><span lang="EN-GB">
    This is a mandatory and unique field which may contain a maximum of 45 characters. If Users try to add a new Issue
    Reason with the same Reason Title of an existing one, the system informs that it is not possible to add the new
    one.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Description:</span></b
  ><span lang="EN-GB">
    This is also a mandatory field which may contain a maximum of 20 lines with 45 characters each.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >It is possible to add a maximum of 10 Issue Reasons per BSP where the Airline is active. In order to add a new
    Issue Reason, please click on the
    <img border="0" width="91" height="30" id="Imagen 326" src="airline/images/image034.jpg" />
    button. Once done, the fields corresponding to the Reason Title and the Reason Description appear for the User to
    complete them accordingly:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="96" id="Imagen 320" src="airline/images/image035.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254048"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: ADM / ACM Issue Reason Creation.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Users must observe the rules applied to each field as explained above. To save the new Issue Reason, Users must
    click on <img border="0" width="22" height="22" id="Imagen 340" src="airline/images/image036.jpg" />. To leave it,
    users must click on <img border="0" width="22" height="22" id="Imagen 342" src="airline/images/image037.jpg" />. The
    <img border="0" width="91" height="30" id="Imagen 327" src="airline/images/image038.jpg" />
    button gets automatically disabled when 10 Issue Reasons are already registered:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="191" height="114" id="Imagen 115" src="airline/images/image039.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254049"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Maximum Issue Reasons achieved.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >The existing Issue Reasons can be edited by Users by clicking on the
    <img border="0" width="22" height="22" id="Imagen 347" src="airline/images/image040.jpg" /> icon. Once clicked, the
    same fields corresponding to the Reason Title and the Reason Description are displayed and editable. It is also
    necessary to observe the rules applicable to each field as explained above. To get the existing Issue Reason edited,
    Users must click on <img border="0" width="22" height="22" id="Imagen 341" src="airline/images/image036.jpg" />.
    Otherwise, Users must click on
    <img border="0" width="22" height="22" id="Imagen 343" src="airline/images/image041.jpg" />.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Also, the existing Issue Reasons can be deleted by clicking on the
    <img border="0" width="22" height="22" id="Imagen 346" src="airline/images/image042.jpg" /> icon. Once clicked, the
    following modal box is displayed to confirm the Issue Reason deletion:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in"><span lang="EN-GB">&nbsp;</span></p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="229" id="Imagen 321" src="airline/images/image043.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254050"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: Delete Reason message.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >If Users click on <img border="0" width="68" height="30" id="Imagen 100" src="airline/images/image044.jpg" />, the
    Issue Reason gets deleted and a confirmation message gets displayed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dispute Reasons
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">This option allows Users to view, add, edit and delete ADM / ACM Dispute Reasons. </span>
</p>

<p class="MsoNormal" align="center" style="margin-bottom: 12pt; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="646" height="151" id="Imagen 322" src="airline/images/image045.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254051"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: ADM / ACM Dispute reasons.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">The following information is available for each ADM/ACM Dispute Reason:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Title:</span></b
  ><span lang="EN-GB">
    This is a mandatory and unique field which may contain a maximum of 45 characters. If Users try to add a new Dispute
    Reason with the same Reason Title of an existing one, the system informs that it is not possible to add the new
    one.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Description:</span></b
  ><span lang="EN-GB">
    This is also a mandatory field which may contain a maximum of five lines with 45 characters each.</span
  >
</p>

<p
  class="BulletLevel1"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; text-indent: 0in"
>
  <span lang="EN-GB"
    >Each Airline user can add a maximum of 10 Dispute Reasons per BSP where the Airline is active. In order to add a
    new Dispute Reason, Users must click on the
    <img border="0" width="91" height="30" id="Imagen 328" src="airline/images/image046.jpg" />
    button. Once done, the fields corresponding to the Reason Title and the Reason Description appear for the user to
    complete them accordingly:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="96" id="Imagen 330" src="airline/images/image035.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254052"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: Dispute Reason Creation.</span>
</p>

<p
  class="BulletLevel1"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; text-indent: 0in"
>
  <span lang="EN-GB"
    >Users must observe the rules applied to each field as explained above. To save the new Issue Reason, Users must
    click on <img border="0" width="22" height="22" id="Imagen 348" src="airline/images/image036.jpg" />. Otherwise,
    userS must click on <img border="0" width="22" height="22" id="Imagen 351" src="airline/images/image037.jpg" />. The
    <img border="0" width="91" height="30" id="Imagen 329" src="airline/images/image047.jpg" />
    button gets automatically disabled when Users have already registered 10 Issue Reasons:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 18.7pt;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="191" height="114" id="Imagen 179" src="airline/images/image048.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254053"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: Maximum reason amount reached.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >The existing Dispute Reasons can be edited by Users by clicking on the
    <img border="0" width="22" height="22" id="Imagen 353" src="airline/images/image040.jpg" /> icon. Once clicked, the
    same fields corresponding to the Reason Title and the Reason description are displayed and editable. It is also
    necessary to observe the rules to each field as explained above. To get the existing Dispute Reason edited, Users
    must click on <img border="0" width="22" height="22" id="Imagen 349" src="airline/images/image036.jpg" />.
    Otherwise, Users must click on
    <img border="0" width="22" height="22" id="Imagen 352" src="airline/images/image037.jpg" />.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Also, the existing Dispute Reasons can be deleted by clicking on the
    <img border="0" width="22" height="22" id="Imagen 354" src="airline/images/image042.jpg" /> icon. Once clicked, the
    following modal box is displayed to confirm the Dispute Reason deletion:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="380" height="227" id="Imagen 331" src="airline/images/image049.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254054"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: Delete Dispute Reason.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >If Users click on <img border="0" width="68" height="30" id="Imagen 101" src="airline/images/image044.jpg" />, the
    Dispute Reason gets deleted and a confirmation message gets displayed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Policies
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users will be able to upload the ADM Policy for each BSP, configure the reminder email (which can be sent annually
    or not) and add whichever remarks for Agents:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-indent: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="284" id="Imagen 110" src="airline/images/image050.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254055"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: ADM Policy configuration.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the ADM policy link has been added, those agents with granted ADM Issuing Authority will receive the document
    on the email indicated. This process can be automatically performed on a year basis if needed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Email alerts
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Email Alerts Settings
</p>

<p class="MsoNormal" style="page-break-after: avoid">
  <span lang="EN-GB"
    >This section allows users to configure email alerts that will notify them with any change/update for the available
    processes or sub-processes.
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="286" id="Imagen 49" src="airline/images/image051.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">14</span><span lang="EN-GB">: Email alerts.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Email alerts can be set for TA, ADM/ACM, Refund, File, Variable remittance, Comments, Post-billing dispute, Payment
    or TIP reasons.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  PBD Settings
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Post-Billing Dispute Settings
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This option allows users to configure the `BD settings in the selected BSP</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/configuration-15.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254056"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: PBD settings..</span>
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  API Access
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lean users might have the corresponding permission to manage the Public API, so those users can query, create,
    update, activate/deactivate or delete a public API account.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For further information about how Airlines can obtain Lean New BSPlink access permission, please reach us through
    the IATA Customer Portal.
  </span>
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400">
  API Access Settings
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Under this section the user is able to see the API:</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">User Name</span>
</p>
<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Status</span>
</p>
<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Action: Create, update, enable, disable or delete</span>
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400">
  Create a Public API account
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To create a public API account, the airline user should select the New BSPlink menu <b>My Airline</b>, go to the
    <b>Configuration</b> tab and click on <b>API Access settings - Create</b>. The following modal window will
    show:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/api-access-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: Create a public API account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Details required to create an API account are the following ones:</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><b>User Name:</b> Unique, non-modifiable, autogenerated prefix (which matches the Airline’s 3 alphanumeric code)
    and a suffix, that should be entered by the user.
  </span>
</p>
<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Password:</b> minimum length of 7 characters (including numbers and letters).</span>
</p>
<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><b>Confirm password:</b> the value entered in this field must match what the user entered in password field
    above.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Then click on <img border="0" height="30" src="airline/images/icon-create.jpg" /> to proceed (the user can also
    select to click on <img border="0" height="30" src="airline/images/image075.jpg" />). Once this is done, the system
    will inform the account has been successfully created or not and the account’s information will show on screen.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/api-access-2.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: API account created pop-up message..</span>
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400">
  Modify a Public API account
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To edit an API account the user should click on the 3 buttons
    <img border="0" height="30" src="airline/images/icon-white-smallsquare-3dots.jpg" /> (located under the Actions
    column) and the system will allow to Enable/Disable, Modify or Delete the API account.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/api-access-3.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: Actions to modify an API account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If the user clicks on <b>Modify</b> a modal window, named a ‘<b>Modify Account</b>’, will pop up:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/api-access-4.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: Modify an API account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >That window allows the user to modify the suffix and/or the password. To finalize the modification, the user has to
    click on <img border="0" height="30" src="airline/images/icon-darkblue-modify.jpg" /> or
    <img border="0" height="30" src="airline/images/icon-white-cancel.jpg" />.
  </span>
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400">
  Enable/Disable a Public API account
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >As you can see on the previous section (please refer to Figure 53), in order to edit the API account, the user
    should click on the 3 dots button <img border="0" height="30" src="airline/images/square-3dots.jpg" /> and will see
    the option to Enable/Disable it. Once there, a pop-up window (containing an information message) will appear, and
    the user will have to proceed by clicking on the corresponding button to enable or disable it.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once done, a pop-up message will inform the user the API was successfully enabled or disabled.
  </span>
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400">
  Delete a Public API account
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >As seen on previous sections (please refer to Figure 53), in order to edit the API account, the user should click
    on the 3 dots button <img border="0" height="30" src="airline/images/square-3dots.jpg" /> and will see the option to
    delete it.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the user clicks on ‘Delete’, a modal window will appear and will inform the user about the consequences of
    deleting the API account.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/api-access-5.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: Delete API Account pop-up window.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To proceed the user will have to select the check box and click on
    <img border="0" height="30" src="airline/images/icon-darkblue-delete.jpg" />. Once done, a pop-up message will
    inform the user the API was successfully deleted.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; xfont-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  RA / RN Settings
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refund Settings
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows users to configure the Refund Application (RA) and Refund Notice (RN) settings in the selected
    BSP:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/image052.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254056"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">16</span><span lang="EN-GB">: RA / RN Settings.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Possible values might be “Enabled” (<img border="0" height="30" src="airline/images/image059.jpg" />) or “Disabled”
    (<img border="0" height="30" src="airline/images/image060.jpg" />).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Please note that: </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If the parameters below are selected:</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;“Are all agents allowed to issue Refund
    Notices via BSPlink?”</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;and “Are all agents allowed to issue
    online Refund Applications via BSPlink?”</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >then it wouldn’t be possible to manage RA and RN issuing authorities individually under the “RA/RN Issuing
    Authority” tab (that tab can be found above, on the same line as ‘Configuration’ and just next to the tab named
    ‘Ticketing Authority).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If only one of the parameters “Are all agents allowed to issue Refund Notices via BSPlink?” or “Are all agents
    allowed to issue online Refund Applications via BSPlink?” is selected, only the correspondent issuing authority
    might be managed individually under the “RA/RN Issuing Authority” tab.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If none of the parameters, neither “Are all agents allowed to issue Refund Notices via BSPlink?” nor “Are all
    agents to issue online Refund Applications via BSPlink”, are selected, it wouldn’t be possible to manage the RA and
    RN issuing authorities individually under the “RA/RN Issuing Authority” tab.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  SFTP Settings
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  SFTP Configurations
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows users to configure and manage any SFTP accounts. The information concerning SFTP accounts is
    displayed on a table which indicates the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/configuration-17.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">17</span><span lang="EN-GB">: SFTP Configurations.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SFTP Account Type: </span></b
  ><span lang="EN-GB"
    >SFTP Accounts can be intended for “Download”, “Upload”, “Additional Upload” and “Mass Download” purposes.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Login:</span></b
  ><span lang="EN-GB"> Login details.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB"> “Pending”, “Active”, “Non-existent” or “Existent”</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Action:</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      >&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;When the status is “Pending” or “Active”, the available action is
      “Modify”.</span
    ></b
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      >&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;When the status is “Expired”, the available action is “Reactive”</span
    ></b
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      >&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;When the status is “Non-existent”, the available action is
      “Create”</span
    ></b
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Public Keys:</span></b
  ><span lang="EN-GB">
    Public keys will be displayed under this field, if any. The public keys can only be managed by the owner of the SFTP
    accounts.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Owner:</span></b
  ><span lang="EN-GB"> This field informs about whether the user is the owner of the account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to create new SFTP Accounts by clicking on “Create” under the “Action” column. A modal box will be
    then displayed:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="318" height="380" id="Imagen 35" src="airline/images/image054.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">18</span><span lang="EN-GB">: Create SFTP Account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to create a password which meets the standard criteria (lower case, upper case and alphanumerical
    characters). Once done, it is necessary to click on “Create”, and the account will be available.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is also possible to modify any created SFTP account by clicking on “Modify” under the “Action” column. In this
    case, a new modal box is displayed to modify the account, where it is necessary to follow the same steps as in the
    creation of a new account:</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For any existing SFTP account, Users may organize Public Keys by clicking on “Manage” under “Public Keys”.</span
  >
</p>

<p class="MsoNormal"><span lang="EN-GB">Once clicked, a new modal box is displayed:</span></p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="380" height="403" id="Imagen 50" src="airline/images/image056.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">20</span><span lang="EN-GB">: Manage Public Keys.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is then possible to upload public keys by either browsing files or dragging them into the modal box. These files
    must be in “.pub” extension. Once done, it is necessary to click on “Upload”.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  TA Settings
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Ticketing Authority Settings
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Finally, users may determine if Ticketing Authority (TA) should be automatically assigned to all new agents or
    not:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="margin-left: 0in; text-indent: 0in; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="237" id="Imagen 133" src="airline/images/image057.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254057"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">21</span
  ><span lang="EN-GB">: Ticketing Authority Settings.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  TIPs
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Configurations
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This option makes possible to configure enrolled products:</span>
</p>

<p
  class="BulletLevel1"
  align="center"
  style="margin-left: 0in; text-indent: 0in; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/configuration-22.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254057"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">22</span
  ><span lang="EN-GB">: TIP configuration.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Airline users may decide how to manage automatic consents for enrolled products by means of a dropdown list,
    namely:</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  ●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To accept all consents without cost recovery.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  ●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To accept all consents with cost recovery. If selected, the following
  fields turn visible:
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">- &nbsp;&nbsp;&nbsp;Cost Recovery Type: “Fixed Amount” or “Percentage”. </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB"
    >- &nbsp;&nbsp;&nbsp;Cost Recovery Currency: one value must be selected from a dropdown list.
  </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">- &nbsp;&nbsp;&nbsp;Cost Recovery Amount / Cost recovery Percentage. </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  ●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To not accept any consents.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  ●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To manage this configuration manually.
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Please refer to Providers and Products to obtain more information about Consents</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Reports Configuration
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This section displays the existing TIP reports and makes possible to manage them.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To configure new TIP repots, it is necessary to click on . The following data must be indicated:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="margin-left: 0in; text-indent: 0in; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/configuration-23.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254057"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">23</span
  ><span lang="EN-GB">: Configuration of TIP reports.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Report description:</span></b
  ><span lang="EN-GB"> one element must be selected from a dropdown list.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Format:</span></b
  ><span lang="EN-GB"> PDF or CSV.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Frequency:</span></b
  ><span lang="EN-GB"> Daily or Monthly.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Channel:</span></b
  ><span lang="EN-GB"> BSPlink.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP:</span></b
  ><span lang="EN-GB"> if the Airline user has access to multiple BSPs, it is necessary to select one.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the wished values have been indicated, it is necessary to click on
    <img border="0" height="30" src="airline/images/image036.jpg" />.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To delete an existing TIP report, it is necessary to click on
    <img border="0" height="30" src="airline/images/image042.jpg" />.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 0pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Variable Remittance
</p>

<p style="margin-top: 0.25in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Variable Remittance Configurations
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option makes possible to assign a default value for the frequency of remittance in those BSPs with involved
    variable remittances:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="383" height="114" id="Imagen 13" src="airline/images/image064.2.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc59003760"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">24</span
  ><span lang="EN-GB">: Variable remittance configuration.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The possible values to be selected under “Frequency” do adjust to the given BSP settings. To configure variable
    remittances for each accredited Agent in the BSP the Airline user is logged in, please refer to Variable
    Remittance.</span
  >
</p>
