<p class="MsoNormal">
  <span lang="EN-GB">This section displays the Airline contact information divided into the following types:</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><b>Generic Address/Contact person: </b>the main contact for the Airline in the BSP Territory, which may be used for
    the remaining types.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>ADM/ACM: </b> the dedicated contact for ADM/ACM purposes.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Refunds: </b>the dedicated contact for RA purposes.</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="airline/images/variable-remittance-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB"><i>Figure 1: Contact Information.</i></span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In all cases, the existing fields may be modified. Once done, the
    <img border="0" height="30" src="airline/images/icon-darkblue-apply-changes.jpg" /> button at the top right corner
    turns available and must be clicked to complete the change. Please note that it is necessary to inform the IATA
    Local Office for any change.<br /><br />
    In order to check the contact details for any Agent, please refer to ¡Error! No se encuentra el origen de la
    referencia..
  </span>
</p>
