<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB"><b>My Airline</b> functionality also allows HOMUs (Head Office Main Users) to query, create, edit, deactivate and reactivate:</span>
</p>
	  
<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">LOMUs (Local Office Main Users)</span></p>
<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">HOSUs (Head Office Sub Users)</span></p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Airline HOMU users can manage LOMUs and HOSUs in the New BSPlink by accessing the option <b>My Airline</b>. Then the user selects the module <b>Users</b> andmust choose either <b>Head Office Sub User(HOSU)</b> or <b>Local Office Main User (LOMU)</b></span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">HOMU manages HOSUs and LOMUs.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400;">
  Create a new HOSU
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To create a HOSU user in BSPlink, the HOMU user should go to My Airline, select Users from the drop-down menu and then <b>Head Office Sub User (HOSU)</b>. Afterwards, click on <img border="0" height="30" src="airline/images/+user-icon.jpg" />. The following window is then displayed:
</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/homu-hosu-functionalities-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Create a HOSU.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">It is necessary to indicate the following information concerning the user to be created:
</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact Details :</span></b></p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Portal Access Email</span>
</p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Name</span>
</p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Organization</span>
</p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Telephone</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Address Details :</span></b></p>
  
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Country / Territory</span>
</p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;City</span>
</p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Address</span>
</p>

<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Postcode</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country-Territory :</span></b></p>
  
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Here the user can select either the box Access to all countries, or the box of the Countries of choice. After this action, the status of those BSP countries, located in column User Access, will change from <b>Disabled</b> to <b>Enabled</b>.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">All the fields above are mandatory. Once all these fields are complete, the <img border="0" height="30" src="airline/images/icon-create.jpg" /> turns available.
</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.5in; margin-left: 0in;">
  <span lang="EN-GB">To create the new user, click on <img border="0" height="30" src="airline/images/icon-create.jpg" />.  A pop-up window will show a summary all the information:
</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-9.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">HOSU creation details pop-up.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To create the new user, click on <img border="0" height="30" src="airline/images/icon-create.jpg" />. To leave this option, click on <img border="0" height="30" src="airline/images/image031.jpg" />. The system confirms that the new user has been successfully created: 
</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-10.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">New user created.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.5in; margin-left: 0in;">
  <span lang="EN-GB">Note that HOMUs can now create as many HOSUs as they need (in the past there was a limit of 20 HOSUs which does not apply any more).
</span>
</p>


<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400;">
  Query an existing HOSU / LOMU
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400;">
  a) Query a HOSU
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Once the HOMU selects <b>Head Office Sub User(HOSU)</b>, the List of HOSUs is displayed on a table which contains the following fields:</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Login</span></b>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Portal Access Email</span></b>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name</span></b>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Register Date</span></b>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date</span></b>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">If the HOMU clicks on the row showing the HOSU details an expandable menu will show:</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Phone</span></b>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Address</span></b>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/homu-hosu-functionalities-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">HOSU query and expandable menu.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Users are also able to look for HOSUs by clicking on the <img border="0" height="30" src="airline/images/image104.jpg" /> button and selecting any of the displayed fields.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">It is also possible to download queries by clicking on <img border="0" height="30" src="airline/images/image108.jpg" />.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400;">
  b) Query a LOMU
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Once the HOMU selects <b>Local Office Main User (LOMU)</b>, the screen displays the user’s email address, a drop-down to pick one of the active BSP countries/territories and 2 tabs: <b>Properties</b> and <b>Permissions</b>.</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-20.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Query a LOMU email and BSP drop-down menu.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">After the user changes from BSP to another, the displayed details of the LOMU are updated to the ones that correspond to this BSP country/territory.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">The <b>Properties</b> tab is displayed first by default and shows a table, which contains the following fields:</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">General:</span></b></p>
  
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>User Type</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Airline Code / Name</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Current Status</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Register Date</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Expiry Date</b>.</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact details:</span></b></p>
  
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Portal Access Email</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Name</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Organization</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Telephone</b>.</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom:3pt; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Access details:</span></b></p>
  
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Country / Territory</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>City</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Address</b>.</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Postcode</b>.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400;">
  Edit existing HOSUs / LOMUs
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400;">
  a) Edit a HOSU
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To edit existing HOSUs, HOMUs should refer to <b>My Airline – Users – Head Office Subuser (HOSU)</b> and go to the table displaying the list of existing users. To edit one specific HOSU, the user should click on the <img border="0" height="30" src="airline/images/image103.jpg" /> icon (right side).</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To edit the properties or permissions of a given user, click on the <img border="0" height="30" src="airline/images/image103.jpg" /> icon correspondent to each user. The following menu becomes displayed:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="30%" src="airline/images/homu-hosu-functionalities-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Menu to edit existing HOSUs.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 12pt; color: blue; font-family: Arial; font-weight: 400;">
  Edit HOSUs' Properties
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To edit the properties of an existing HOSU, the user should refer to the steps explained above (please refer to Query a HOSU) and then click on <b>User Properties</b>. The page will show the HOSU’s:</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact Details </span></b><span lang="EN-GB">(Portal Access Email, Name, Organization and Telephone).</span>
<br>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Portal Access Email </span></b><span lang="EN-GB">(Country, City, Address and Postcode).</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To confirm any changes, it is necessary to click on <img border="0" height="30" src="airline/images/image071.jpg" /> in the upper right-hand corner. If the HOMU user tries to leave this window without saving the changes done, the following dialogue is displayed:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Unsaved changes.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">HOMUs may then:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >Confirm HOSU’s changes by means of the <img border="0" height="30" src="airline/images/image073.jpg" /> button.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Disregard changes by means of the <img border="0" height="30" src="airline/images/image074.jpg" /> button.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Get back by means of the <img border="0" height="30" src="airline/images/image075.jpg" /> button.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 12pt; color: blue; font-family: Arial; font-weight: 400;">Edit HOSUs' Permissions</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To edit a HOSU’s permissions, the HOMU user shall go to <b>My Airline – Users – Head Office Subuser (HOSU)</b> and select User <b>Permissions</b> from the menu.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">The option to edit <b>Permissions</b> displays the BSP Countries/Territories that the HOSU has access to. To modify HOSU Permissions the user needs to select a BSP operation first from the drop-down menu and click on <img border="0" height="30" src="airline/images/image063.jpg" />. The window will display the following information: </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/homu-hosu-functionalities-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">9</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">HOSUs Permissions window.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">The list of possible permissions is available to assign them by clicking on the correspondent <img border="0" height="30" src="airline/images/image078.jpg" /> icon, or to remove an already assigned permission by clicking on the correspondent <img border="0" height="30" src="airline/images/image077.jpg" /> icon. To confirm any changes, it is necessary to click on <img border="0" height="30" src="airline/images/image071.jpg" />.
</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 14pt; color: blue; font-family: Arial; font-weight: 400;">b) Edit a LOMU</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">As mentioned above (please refer to section Query a LOMU), the user should select <b>My Airline – Users – Local Office Main User (LOMU).</b></span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Please note that the user can change from one BSP to another to check the different LOMUs.</b></span>
</p>

<p style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.3in; text-indent: -0.3in; line-height: normal;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The <b>Properties</b> tab is displayed first by default and shows a table, which contains the 3 areas:</span></p>
  
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;General (non-editable)</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 0pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Contact details (which can be edited)</span>
</p>
<p style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.55in; text-indent: -0.55in; line-height: normal;">
 <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Address details (which can be edited)</span>
</p>

<p style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.3in; text-indent: -0.3in; line-height: normal;">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa;"
    >●<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The Permission tab is displayed second. This tab allows to enable or disable the access to specific modules or options for the LOMU if a checkbox is chosen <img border="0" height="30" src="airline/images/image059.jpg" /> it will mean that the LOMU has access to that option. Otherwise (if the LOMU doesn’t have access to that option), it will be blank <img border="0" height="30" src="airline/images/image060.jpg" />. The user can tick it and then click on <img border="0" height="30" src="airline/images/icon-apply-changes.jpg" />. A modal window will ask ‘Apply changes?’ and will inform about the permissions that the user is about to change.</span></p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Then the user may click on <img border="0" height="30" src="airline/images/image031.jpg" /> or <img border="0" height="30" src="airline/images/image073.jpg" />.  If the user decides to apply the change, a pop-up notification will inform that the user was successfully modified. 
</span>
</p>




<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400;">Deactivate HOSUs</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">To deactivate HOSU users, it is necessary to click on the <img border="0" height="30" src="airline/images/image090.jpg" /> icon, as already explained above. To see the menu displayed please refer to Figure 90).
</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">It is necessary to click on “<b>Deactivate User</b>”. The following modal window is displayed:
</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">10</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">HOSU Deactivate User.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">The system confirms that the HOSU was successfully deactivated:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center; page-break-after: avoid;">
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/homu-hosu-functionalities-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">11</span><span lang="EN-GB">: </span
  ><span lang="EN-GB"> Deactivate HOSU.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400;">Reactivate HOSUs</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in;">
  <span lang="EN-GB">Users that were deactivated can be reactivated again through <b>My Airline – Users – Head Office Subuser (HOSU)</b> and go to the table displaying the list of existing users. To reactivate one specific HOSU, the user should click on the <img border="0" height="30" src="airline/images/image090.jpg" /> icon (right side) and reactivate it.</span>
</p>