<p class="BodyText" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >This option is aimed at querying and managing their Airline’s details and BSP processes. This module facilitates
    the Airline’s details in the following tabs: Properties, Configuration, Ticketing Activity, RA / RN Issuing
    Authority and ADM / ACM Issuing Authority.
  </span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="641" height="23" id="Imagen 105" src="airline/images/image024.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: My Airline.</span>
</p>
