<p class="BodyText" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >The Airline Properties table is displayed by default when the option “My Airline” is accessed. The Airline’s most
    relevant information for the selected BSP is therefore displayed:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB">
    <img border="0" width="646" height="308" id="Imagen 125" src="airline/images/image026.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254041"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Airline Properties.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Airline’s details are grouped in four categories: General, Contact Details, Payment Information and Address
    Details.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to filter the results by clicking on the button. Once done, the user can select the BSP
    Country/Territory.
  </span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If the user has access to one single BSP: </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;by default, the selected BSP will be the
    one the user has permission for.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;the user will see the settings/data of
    that single BSP.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If it is a user with the Lean access permission: </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;by default, the selected BSP will be the
    one the user chose to log into.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;just one BSP can be picked at a time,
    amongst those the user has permission to, and in the result the user will see the settings of the selected
    BSP.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;If the user changes the selected BSP,
    moves to another tab/subtab or closes the ‘Settings’ tab, before any changes are performed in the ‘Configuration’
    subtab, then an ‘Unsaved Changes’ modal window would pop up indicating the unsaved changes details that should be
    cancelled, discarded or applied.</span
  >
</p>
