<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >The fourth tab eases the query and management of the authority to issue Refund Applications (RA) or Refund Notices
    (RN). When clicking this tab, a table reflects the RA and RN statuses for all Agents in the selected BSP with
    TA:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/ra-rn-issuing-authority-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB"><i>Figure</i></span
  ><span lang="EN-GB">1</span><span lang="EN-GB">: RA/RN Issuing Authority.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Possible values are “Enabled” (<img
      border="0"
      width="22"
      height="22"
      id="Imagen 216"
      src="airline/images/image077.jpg"
    />) and “Disabled” (<img
      border="0"
      width="22"
      height="22"
      id="Imagen 219"
      src="airline/images/image078.jpg"
    />).</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >The <img border="0" width="82" height="30" id="Imagen 82" src="airline/images/icon-white-filter.jpg" /> button
    refines the query of RA/RN Issuing Authority by the Agent’s IATA Code or Name or by the RA and RN status:</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Depending on the number of BSPs the user has permission for, the selection of BSPs and the result of the query is
    different:</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If the user has access to one single BSP: </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;by default, the selected BSP will be the
    one the user has permission for;</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;no other BSP operation can be
    selected.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 3pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If a user with the Lean access permission:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;does not have any BSP selected by default,
    a BSP from the list should be selected.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;just one BSP can be picked at a time,
    amongst those the user has permission to and in the result the user will see the settings of the selected BSP.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to modify the RA/RN Issuing Authority by clicking the
    <img border="0" width="22" height="22" id="Imagen 43" src="airline/images/image077.jpg" /> or
    <img border="0" width="22" height="22" id="Imagen 44" src="airline/images/image081.jpg" /> boxes, similar to the
    modification of the Ticketing Authority.</span
  >
</p>
