<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >Any user can check and manage the Ticketing Authority (TA) assigned to any Agent belonging to a given BSP. When
    this tab is clicked, the following directory is displayed:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/ticketing-authority-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254058"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Airline Ticketing Authority Directory.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >A list with the existing Agents in the selected BSP is displayed, including the Agent’s Code, Name, Address, City
    and Ticketing Authority Status. For those Agents with enabled Ticketing Authority, the </span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 359" src="airline/images/image059.jpg" /></span
  ><span lang="EN-GB">
    icon appears under “Ticketing Authority Management”. On the contrary, if the Ticketing Authority is disabled, it is
    marked with the </span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 357" src="airline/images/image060.jpg" /></span
  ><span lang="EN-GB"> icon. </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >If the user selects any of the boxes to perform a change in the Ticketing Authority Management column and then the
    user tries to take any other action (before applying those changes), a modal window pops up informing that there are
    unsaved changes. The modal window would show the details of the non-applied changes and would request the user to
    cancel, apply or discard them before proceeding.</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">Similarly, it is possible to filter the results by clicking on the </span
  ><span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 360" src="airline/images/image061.jpg" /></span
  ><span lang="EN-GB"> button. Once done, the following fields allow Users to filter the query:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="airline/images/ticketing-authority-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254059"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Ticketing Authority Filter.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 20pt; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk36806188"
    ><span lang="EN-GB">This option allows querying the Ticketing Authority information by</span></a
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>BSP</b></span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    ><b>Agent Code or Name:</b> The user can pick the Agent from the drop-down list or by writing down any of
    them.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Ticketing Authority Status:</b> Enabled/Disabled</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Agent Status:</b> Active, Non-Active or In Process.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Agent Group:</b> List of Agent Groups of the selected BPS</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Agent Address</b></span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Agent City</b></span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">Once the selected fields have been populated, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 117" src="airline/images/image063.jpg" /></span
  ><span lang="EN-GB"> to obtain the results.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">Users can download the TA information, either filtered or not, by clicking on </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 367" src="airline/images/image064.jpg" /></span
  ><span lang="EN-GB">. </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Modify Ticketing Authority
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >Users
    <a name="_Hlk19021808"
      >may modify an Agent’s Ticketing Authority simply by clicking the icon under “Ticketing Authority Management”:</a
    ></span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB">
    <img border="0" width="646" src="airline/images/ticketing-authority-3.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254060"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Individual Edition of Ticketing Authority Status.</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk19022047"
    ><span lang="EN-GB">Once clicked, the status gets changed and highlighted before being confirmed:</span></a
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="141" height="52" id="Imagen 370" src="airline/images/image066.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254061"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Highlighted changed TA status.</span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >However, it is possible to modify the Ticketing Authority for all existing Agents in the selected BSP by clicking
    on the <img border="0" width="22" height="22" id="Imagen 178" src="airline/images/image060.jpg" /> icon next to the
    field name:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/ticketing-authority-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254062"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Massive Edition of Ticketing Authority.</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk19022154"
    ><span lang="EN-GB"
      >The
      <img border="0" width="117" height="30" id="Imagen 389" src="airline/images/image071.jpg" />
      button gets automatically available once the icon gets clicked and hence the TA status is changed.</span
    ></a
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Please note that changes are not saved unless users click the button at the top left. A new modal box which
    requests the confirmation by users is then displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="378" id="Imagen 373" src="airline/images/image072.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254063"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Confirmation to modify Ticketing Authority.</span>
</p>

<p class="MsoNormal" style="margin: 0in"><span lang="EN-GB">Users may then:</span></p>

<p
  class="MsoListParagraphCxSpFirst"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Confirm changes by means of the
    <img border="0" width="61" height="30" id="Imagen 5" src="airline/images/image073.jpg" />
    button.</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Disregard changes by means of the
    <img border="0" width="75" height="30" id="Imagen 381" src="airline/images/image074.jpg" />
    button.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Get back to the “Ticketing Authority” tab by means of the
    <img border="0" width="70" height="30" id="Imagen 377" src="airline/images/image075.jpg" />
    button.</span
  >
</p>
