<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >This module allows airline users to query and manage the users whose access to New BSPlink is granted:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="20%" src="airline/images/users-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Users</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">The list of users is then displayed on a table which contains the following fields:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">List of users.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Portal Access Email:</span></b>
  <span lang="EN-GB">the user’s email address which is used to log in IATA Customer Portal.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Level:</span></b>
  <span lang="EN-GB">user levels are:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Level 1</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Level 2</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Level 3</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name:</span></b>
  <span lang="EN-GB">user’s full name.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Parent:</span></b>
  <span lang="EN-GB">user’s parent user (if any).</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">User Template:</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Efficient</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Streamlined</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Register Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date:</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Portal Access Email:</span></b>
  <span lang="EN-GB">the user’s email address which is used to log in IATA Customer Portal.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b>
  <span lang="EN-GB">depending on the register and expiry dates, users may be:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Active</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Inactive</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >It is possible to narrow down queries by clicking on
    <img border="0" height="30" src="airline/images/image061.jpg" />. The following filters may be applied:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: </span
  ><span lang="EN-GB"> User's filter.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Login</span></b>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Portal Access Email:</span></b>
  <span lang="EN-GB">one value must be introduced in this option.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Level:</span></b>
  <span lang="EN-GB">options must be selected from a dropdown list. Multiple choice is allowed.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name:</span></b>
  <span lang="EN-GB">one value must be introduced in this option.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Parent:</span></b>
  <span lang="EN-GB">tone value must be introduced in this option.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">User Template:</span></b>
  <span lang="EN-GB">one option must be selected from a dropdown list.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Register / Expiry date:</span></b>
  <span lang="EN-GB">dates may be framed on the displayed calendars.</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b>
  <span lang="EN-GB">one option must be selected from a dropdown list.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >In addition, it is possible to download queries by clicking on .
    <img border="0" height="30" src="airline/images/image064.jpg" />.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Create new Users
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >To create new users, click on <img border="0" height="30" src="airline/images/icon+user-clear-blue.jpg" />. The
    following modal window is then displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="35%" src="airline/images/users-4.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 4: Creation of new Users</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"><b>IMPORTANT</b>. Please note the following:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >1.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Airlines’ LOMUs (Local Office Main Users) might create LOSUs (Local Office Sub Users).</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >2.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">However, Airline’s HOMUs (Head Office Main Users) might create</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;LOMUs.</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;and HOSUs (Head Office Sub Users).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For further info about HOMUs and HOSUs, please refer to section 6.2.3 HOMU (Head Office Main User) & HOSU (Head
    Office Sub Users) functionalities).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It is necessary to indicate the following information concerning the user to be created:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">User Template: </span></b>
  <span lang="EN-GB"
    >“Efficient” or “Streamlined”. Accessibility to different New BSPlink options varies. When an Airline user is
    creating a LOSU, it is not needed to select the Template for that user. The template of the new LOSU will be the
    same as the LOMU’s one.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact Details:</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Portal Access Email</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Name</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Organization</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Phone</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Address Details:</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Country / Territory</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">City</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Address</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
  <span lang="EN-GB">Post Code</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >All the fields above are mandatory. Once all these fields are complete, the
    <img border="0" height="30" src="airline/images/icon-create.jpg" /> turns available.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To create the new user, click on <img border="0" height="30" src="airline/images/icon-create.jpg" />. To leave this
    option, click on <img border="0" height="30" src="airline/images/image317.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The system confirms that the new user has been successfully created: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/users-5.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 5: New user created.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Edit existing Users
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To edit existing users, it is necessary to refer again to the main table displaying the list of existing users. To
    edit one specific user, the <img border="0" height="30" src="airline/images/image060.jpg" /> icon (left side) and
    <img border="0" height="30" src="airline/images/image090.jpg" /> icon (right side) must be considered.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Edit the user’s Properties or Permissions
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To edit the properties or permissions of a given user, click on the
    <img border="0" height="30" src="airline/images/image090.jpg" /> icon correspondent to each user. The following menu
    becomes displayed:
  </span>
</p>
c
<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="30%" src="airline/images/users-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Selection of all existing users.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The option to edit the <b>User Properties</b> displays the following tab: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Edit User's Properties.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To confirm any changes, it is necessary to click on
    <img border="0" height="30" src="airline/images/image030.jpg" />. If the Airline user tries to leave this window
    without saving the changes done, the following dialogue is displayed:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="450" src="airline/images/users-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Unsaved changes.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Users may then: </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Confirm changes by means of the <img border="0" height="30" src="airline/images/image073.jpg" /> button.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Disregard changes by means of the <img border="0" height="30" src="airline/images/image074.jpg" /> button.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Get back to the “Ticketing Authority” tab by means of the
    <img border="0" height="30" src="airline/images/image031.jpg" /> button.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The option to edit the <b>User Permissions</b> displays the following tab: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/users-9.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">9</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">User's Permissions.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The list of possible permissions is available to assign them by clicking on the correspondent
    <img border="0" height="30" src="airline/images/image060.jpg" /> icon, or to remove an already assigned permission
    by clicking on the correspondent <img border="0" height="30" src="airline/images/image059.jpg" /> icon.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please note that the assignment of new permissions may require to change the User’s Template first:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="290" src="airline/images/users-10.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">10</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Streamlined template needed.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Some permissions may be expanded by clicking on <img border="0" height="30" src="airline/images/image226.jpg" />.
    Users may then assign of remove the sub-permissions included under them:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-11.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">11</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Expansion of sub-permissions.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">When changes are applied, the icon of the affected permission appears squared: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-12.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">12</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Applied changes.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To confirm any changes, it is necessary to click on
    <img border="0" height="30" src="airline/images/icon-apply-changes.jpg" />. If the Airline user tries to leave this
    window without saving the changes done, the following dialogue is displayed:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/users-13.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">13</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Unsaved changes.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Users may then: </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Confirm changes by means of the <img border="0" height="30" src="airline/images/image073.jpg" /> button.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Disregard changes by means of the <img border="0" height="30" src="airline/images/image074.jpg" /> button.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Get back to the “Ticketing Authority” tab by means of the
    <img border="0" height="30" src="airline/images/image031.jpg" /> button.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Edit the user’s Template or Permissions
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To edit the template or permissions of a given user, click on the
    <img border="0" height="30" src="airline/images/image060.jpg" /> icon correspondent to each user. It turns then
    selected:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-14.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">14</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Selection on one existing user.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If the templates or permissions of all the existing users must be edited at once, it is possible to click on the
    top <img border="0" height="30" src="airline/images/image060.jpg" /> icon:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-15.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">15</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Selection of all existing users.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The following options become visible at the top once one or multiple users are selected: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-16.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">16</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Template and Permissions edit options.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To <b>edit the Template</b> of the selected user(s), click on
    <img border="0" height="30" src="airline/images/icon-template.jpg" />. The <b>Properties</b> tab gets displayed, and
    it is necessary to refer to the bottom left corner:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/users-17.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">17</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Management of User's Template.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    ><b>Users can only modify another users if their template is lower</b> (for example, a LOMU user who has the
    Streamlined version is able to edit a LOSU user who has the Efficient plan).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to select either “Efficient” or “Streamlined” Template from the dropdown list:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/users-18.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">18</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Edit user's Template.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To <b>edit Permissions</b> of the selected user(s), click on
    <img border="0" height="30" src="airline/images/icon-permissions.jpg" /> button. For more information, please refer
    to the previous section (Edit the user’s Properties or Permissions).
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Deactivate Users
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To deactivate users, it is necessary to click on the
    <img border="0" height="30" src="airline/images/image090.jpg" /> icon. The following menu becomes displayed:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="25%" src="airline/images/users-24.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">24</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Selection of all existing users.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to click on “<b>Deactivate User</b>”. The following modal window is displayed:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/users-25.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">25</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Deactivate user.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to select the specific date of deactivation on the calendar. Today’s date is selected by default. To
    confirm the deactivation of the user, click on <img border="0" height="30" src="airline/images/image140.jpg" />. To
    get back to Users screen, click on <img border="0" height="30" src="airline/images/image031.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The system confirms that a deactivation date is established: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="50%" src="airline/images/users-26.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">26</span><span lang="EN-GB">: </span
  ><span lang="EN-GB">Deactivation confirmed.</span>
</p>

<br /><br />
