<p class="MsoNormal">
  <span lang="EN-GB"
    >This option is available for BSPP NL exclusively. It shows variable remittance configuration per Airline. The
    information is displayed on a table which contains the following information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="airline/images/variable-remittance-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB"><i>Figure 1: Variable Remittance.</i></span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Agent Code</b></span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Agent Name</b></span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Frequency:</b> possible remittance frequencies are:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>1</b> (monthly)</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>2</b> (fortnightly)</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>3</b> (weekly)</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>4</b> (daily)</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The information may be narrowed down by clicking on
    <img border="0" height="30" src="agent/images/image025.jpg" />:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="airline/images/variable-remittance-2.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB"><i>Figure 2: Variable Remittance Filter.</i></span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is also possible to download results by clicking on
    <img border="0" height="30" src="agent/images/image029.jpg" />.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Depending on the number of BSPs the user has permission for, the selection of BSPs and the result of the query is
    different:</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If the user has access to one single BSP:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;by default, the selected BSP will be the
    one the user has permission for.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 15pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;no other BSP operation can be
    selected.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If a user with the Lean access permission:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;doesn’t have any BSP selected by default,
    a BSP from the list should be selected.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;can pick just one BSP at a time amongst
    those the user has permission to and in the result the user will see the settings of the selected BSP.</span
  >
</p>
