<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  General
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The top part of the dashboard displays the Airline logo and the most relevant actions performed in the previous 7
    days in the BSP Users accessed: issued Refund Applications, disputed ADMs, issued PBDs and rejected of modified RET
    files. It is possible to display each of these options by clicking on “See all”.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/dashboard-highlights-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254038"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Dashboard highlights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM/ACM Family
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/dashboard-highlights-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254038"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Dashboards - ADM/ACM Family sub-tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In addition to the previous <b>General</b> sub-tab (please refer to Figure 23) inside the <b>Dashboards</b> menu,
    the <b>ADM/ACM Family</b> sub-tab contains the specific information and charts related to ADMs and ACMs:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dashboards: </span></b
  ><span lang="EN-GB"
    >Total disputed ADMs and ADMAs Disputed more than 50 days ago. The user can click on ‘<b>See all</b>’ to retrieve
    specific information.
  </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="646"
      src="airline/images/dashboard-highlights-3.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: ADM/ACM Family types of dashboard and ‘See all’.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The ‘See all’ filter is different depending on the user permissions
    access:</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;If the user has access to one single BSP
    country/territory: the information shown will be related to that BSP.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;If the user has access to multiple BSPs: multiple
    selection is allowed. If the user doesn’t choose any specific BSP results show information related to all BSPs the
    user has access to.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Charts</span></b
  ><span lang="EN-GB"> show the following info:</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;<b>ADMA Disputes per month:</b> users can see the
    total number of ADMAs disputed during each month grouped by month and status.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;<b>ADM Top 10 disputing agents.</b></span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This sub-tab can only be accessed by the following type of users:</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline HOMUs / HOSUs (Head Office Main Users or
    Sub-users).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline LOMUs / LOSUs (Local Office Main Users or
    Sub-users) who enjoy the Streamlined BSPlink plan.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refunds
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="646"
      src="airline/images/dashboard-highlights-4.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Dashboards - Refunds sub-tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The <b>Refund</b> sub-tab contains the specific information and charts related to Refunds:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dashboards: </span></b
  ><span lang="EN-GB"
    >Pending and Resubmitted RAs details. The user can click on ‘See all’ to retrieve specific information.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Charts: </span></b
  ><span lang="EN-GB">RAs issued per month and RA Top 10 issuing Agents (charges).</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="646"
      src="airline/images/dashboard-highlights-5.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Dashboard - Refunds types of dashboard and ‘See all’.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The ‘See all’ filter is different depending on the user permissions access:</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;If the user has access to one single BSP
    country/territory: the information shown will be related to that BSP.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;If the user has access to multiple BSPs: multiple
    selection is allowed. If the user doesn’t choose any specific BSP results show information related to all BSPs the
    user has access to.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This ADM/ACM Family sub-tab can only be accessed by the following type of users:</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline HOMUs / HOSUs (Head Office Main Users or
    Sub-users).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline LOMUs / LOSUs (Local Office Main Users or
    Sub-users) who enjoy the Streamlined BSPlink plan.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Sales
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="646"
      src="airline/images/dashboard-highlights-6.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Sales dashboard sub-tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Sales sub-tab shows two drop-down menus that allow to pick the Currency and BSP operations, amongst the ones
    the user has access to. Then the user can click on
    <img border="0" width="82" height="30" id="Imagen 145" src="airline/images/icon-darkblue-search.jpg" /> and it will
    show the following charts:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Gross Sales Airline vs Industry amounts</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Top 10 Agents Gross Amount</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This sub-tab can only be accessed by the following type of users:</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline HOMUs / HOSUs (Head Office Main Users or
    Sub-users)</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline LOMUs / LOSUs (Local Office Main Users or
    Sub-users) who enjoy the Streamlined BSPlink plan.</span
  >
</p>
