<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >The dashboard page contains different sections which are intended to facilitate the management of the New BSPlink
    activity to Users:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB">
    <img border="0" width="642" src="airline/images/dashboard-1.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254037"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Airline dashboard view.</span>
</p>
