<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  General
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The top part of the dashboard displays the Airline logo and the most relevant actions performed in the previous 7
    days in the BSP Users accessed: issued Refund Applications, disputed ADMs, issued PBDs and rejected of modified RET
    files. It is possible to display each of these options by clicking on &quot;See all&quot;.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/dashboard-highlights-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254038"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Dashboard highlights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM/ACM Family
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/dashboard-highlights-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254038"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Dashboards - ADM/ACM Family sub-tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In addition to the previous <b>General</b> sub-tab (please refer to Figure 1) inside the <b>Dashboards</b> menu,
    the <b>ADM/ACM Family</b> sub-tab contains the specific information and charts related to ADMs and ACMs:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dashboards: </span></b
  ><span lang="EN-GB"
    >Total disputed ADMs and ADMAs Disputed more than 50 days ago. The user can click on ‘<b>See all</b>’ to retrieve
    specific information.
  </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="100%"
      src="airline/images/dashboard-highlights-3.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: ADM/ACM Family types of dashboards and ‘See all’.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The ‘See all’ filter is different depending on the user permissions
    access:</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;If the user has access to one single BSP
    country/territory: the information shown will be related to that BSP.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;If the user has access to multiple BSPs: multiple
    selection is allowed. If the user doesn’t choose any specific BSP result show information related to the default BSP
    (the BSP the user chose to be logged in).</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Charts</span></b
  ><span lang="EN-GB"> show the following info:</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>ADMA Disputes per month:</b> users can
    see the total number of ADMAs disputed during each month grouped by month and status.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;ADM Top 10 disputing agents (for the
    user’s airline). This horizontal bar chart shows the Top 10 agent codes and the numbers of disputed ADMs.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The time frame for the disputed ADMAs is 6 months backwards (including the current month). To be able to determine
    this period, it should be considered the current BSP in which the user is logged in.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Information shown depends on the number of BSPs the user has access to:</span>
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">For a user with access to one single BSP: there would be no other BSPs to be show</span>
</p>
<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >For a user with access to multiple BSPs, there is no default selection (the result would show the data for all
    BSPs, but the user is also allowed to do multiple selection).
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This ADM/ACM Family sub-tab can only be accessed by the following type of users</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;</span
  >Airline HOMUs / HOSUs (Head Office Main Users or Sub-users).
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;</span
  >Airline LOMUs / LOSUs (Local Office Main Users or Sub-users) who enjoy the Streamlined BSPlink plan.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refunds
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="100%"
      src="airline/images/dashboard-highlights-4.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Dashboards - Refunds sub-tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The <b>Refund</b> sub-tab contains the specific dashboards and charts related to Refunds:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dashboards: </span></b
  ><span lang="EN-GB"
    >Pending and Resubmitted RAs details. The user can click on ‘See all’ to retrieve specific information. Types of RA
    dashboards are:</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Total Pending Refund Applications: all
    pending RAs with status Pending and Resubmitted for my Airline.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Total Final Pending Refund Applications:
    all RAs marked as ‘Final’ with status Pending and Resubmitted for my Airline.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Final Pending RA for more than 50 days:
    all RAs with status Pending and Resubmitted marked as ‘Final’ longer than 50 days for my Airline.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Total Resubmitted Refund Applications: all
    resubmitted RAs for my Airline.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="100%"
      src="airline/images/dashboard-highlights-5.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Dashboard - Refund types of dashboard and ‘See all’.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Charts: </span></b
  ><span lang="EN-GB"
    >RAs issued per month and RA Top 10 issuing Agents (charges). Charts show the following info:
  </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>RA issued per month</b>: users can see
    the total number of RAs issued during each month grouped by status.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>RA Top 10 issuing agents</b> (for the
    user’s airline). This horizontal bar chart shows the Top 10 RA issuing agent codes and the total number of numbers
    of RAs issued</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The time frame of the RA issues data for the user’s airline is 6 months backwards (including the current month)
    according to the RAs application date. To be able to determine this period, it should be considered the current BSP
    in which the user is logged in.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Information shown depends on the number of BSPs the user has access to: </span>
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">For a user with access to one single BSP: there would be no other BSPs to be shown</span>
</p>
<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >For a user with access to multiple BSPs, there is no default selection (the result would show the data for all
    BSPs, but the user is also allowed to do multiple selection).</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The ‘See all’ filter is different depending on the user permissions access: </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;If the user has access to one single BSP
    country/territory: the information shown will be related to that BSP.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;If the user has access to multiple BSPs:
    multiple selection is allowed. If the user doesn’t choose any specific BSP results show information related to all
    BSPs the user has access to.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This Refund Family sub-tab can only be accessed by the following type of users: </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Airline HOMUs / HOSUs (Head Office Main
    Users or Sub-users).</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Airline LOMUs / LOSUs (Local Office Main
    Users or Sub-users) who enjoy the Streamlined BSPlink plan.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Sales
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
      border="0"
      width="100%"
      src="airline/images/dashboard-highlights-6.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Figure </span><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Sales dashboard sub-tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The <b>Sales</b> sub-tab shows two drop-down menus that allow to pick the Currency and BSP operations, amongst the
    ones the user has access to in the new BSPlink.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB">
    the system will show the currency/currencies available depending on how many BSPs the user has access to:</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;One currency: if there is only one choice,
    the currency is automatically selected by default and can’t be changed.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Multiple currencies: there isn’t any
    currency showing by default. The user should select just one currency at a time.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP:</span></b
  ><span lang="EN-GB">
    if the user doesn’t select any currency, this filter is disabled. The BSPs shown in this drop-down menu are the ones
    the user has access to and where the currency selected above is present and active.</span
  >
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;One BSP: if the user has access to one BSP
    only, this one is automatically selected by default and can’t be changed.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 0pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Multiple BSPs: there isn’t any
    country/territory showing by default and the user has the option to pick multiple BSPs amongst the ones he/she has
    access to.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Then the user can click on <img border="0" height="30" src="airline/images/icon-darkblue-search.jpg" /> and it will
    show the following charts:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Gross Sales Airline vs Industry amounts</b></span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><b>Top 10 Agents Gross Amount</b></span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This sub-tab can only be accessed by the following type of users:</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline HOMUs / HOSUs (Head Office Main Users or
    Sub-users)</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8212;&nbsp;&nbsp;Airline LOMUs / LOSUs (Local Office Main Users or
    Sub-users) who enjoy the Streamlined BSPlink plan.</span
  >
</p>
