<p class="MsoNormal">
  <span lang="EN-GB"
    >This dashboard section shows different charts which allow Users to compare different details affecting ADMs, Refund
    Applications and Files:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" src="airline/images/dashboard-insights-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Toc40254039"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Dashboard insights.</span>
</p>
