<p class="MsoNormal">
  <span lang="EN-GB"
    >On the right side of the dashboard, Airlines that have customized services would also have access to the
    <b>ADM insight</b> and <b>GNR5</b> third-party applications. When a user clicks on those links a new browser window
    opens.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center">
  <span lang="EN-GB">
    <img border="0" width="460" src="airline/images/external-applications-1.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: External applications.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  ADM insight
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Airline users that enjoy the New BSPlink access permission (but don’t have access to the ADM Insight application)
    can click on the ADM Insight menu. In such a case, the user will see a modal window informing the IATA Customer
    Service should be contacted for more information on this service. The modal window can be closed by clicking on the
    <img border="0" height="30" src="airline/images/dark-icons-close.jpg" /> button..
  </span>
</p>
