<p class="MsoNormal">
  <span lang="EN-GB"
    >Finally, the right side of the dashboard includes an overview of the most recent news and messages from IATA.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="383" height="639" id="Imagen 104" src="airline/images/image023.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: IATA Messages and News.</span>
</p>
