<p class="MsoNormal">
  <span lang="EN-GB"
    >The quick links available on the dashboard area will provide quick access to the related queries. Filter options
    are prepopulated and showing the associated data for the selected quick link:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center">
  <span lang="EN-GB">
    <img border="0" width="646" src="airline/images/quick-links-1.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254040"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Quick Links.</span>
</p>
