@import 'src/app/sales/shared/sales-query';

:host {
  ::ng-deep .advanced-payment-header {
    justify-content: flex-end;
  }

  .list-total-items {
    color: $gray-deep;
    font-size: $font-size-l;
    margin-left: $spacing-xxs;
  }
}
