<bspl-list-view
  [title]="'sales.advancedPayment.viewTitle'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [hasCreating]="canRequestPayment"
  [customLabels]="customLabels"
  (download)="onDownload()"
  (queryChange)="loadData($event)"
  (create)="createPaymentRequest()"
>
  <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage }}</span>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="requestNumber"
          [label]="'sales.advancedPayment.filters.requestNumber' | translate"
          [placeholder]="'sales.advancedPayment.filters.placeholders.requestNumber' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isAgentUser">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'sales.advancedPayment.filters.agentCode' | translate"
          [placeholder]="'sales.advancedPayment.filters.placeholders.agentCode' | translate"
          [multiple]="false"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statusOptions"
          formControlName="status"
          [label]="'sales.advancedPayment.filters.status' | translate"
          [placeholder]="'sales.advancedPayment.filters.placeholders.status' | translate"
          [multiple]="false"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-range-dropdown
          formControlName="amountRange"
          [label]="'sales.advancedPayment.filters.amount' | translate"
          [heading]="'sales.advancedPayment.filters.misc.amountRangeHeading' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          [label]="'sales.advancedPayment.filters.issueDate' | translate"
          formControlName="requestDateRange"
          [placeholder]="'sales.advancedPayment.filters.placeholders.issueDate' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          [label]="'sales.advancedPayment.filters.reviewDate' | translate"
          formControlName="reviewDateRange"
          [placeholder]="'sales.advancedPayment.filters.placeholders.reviewDate' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="reviewComment"
          [label]="'sales.advancedPayment.filters.reviewComment' | translate"
          [placeholder]="'sales.advancedPayment.filters.placeholders.reviewComment' | translate"
        >
        </bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [columnMode]="'flex'"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowLinkClick)="onRowLinkClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-right">
      <bspl-property
        label="sales.advancedPayment.rowDetails.agentCodeName"
        [value]="row.agent.iataCode + ' / ' + row.agent.name"
      ></bspl-property>
      <bspl-property label="sales.advancedPayment.rowDetails.subject" [value]="row.subject"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-right">
      <bspl-property label="sales.advancedPayment.rowDetails.description" [value]="row.description"></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
