@import 'theme/variables/index';

.main-title {
  font-size: $font-size-xl;
  line-height: $line-height-l;
  padding-bottom: 2rem;
}

.activity-comment-container {
  box-sizing: border-box;
  border: 1px solid $gray-middle;
  border-radius: $border-radius-large;
  margin-bottom: $spacing-m;
  padding: 1.3rem $spacing-m $spacing-m;
  min-width: 28rem;

  .comment-textarea {
    letter-spacing: 0;
    color: $dark;
    height: 3rem;
    width: 100%;
    resize: none;
    border: 0 solid transparent;
    padding: 0;
    margin-bottom: $spacing-m;

    &::placeholder {
      color: $gray-middle;
    }

    &:disabled {
      background-color: $white;
    }
  }

  .buttons-container {
    display: none;
    margin-top: $spacing-m;
  }

  &.active {
    padding-bottom: $spacing-m;
    border-color: $blue-light;

    .comment-textarea {
      height: 7.2rem;
      margin-bottom: $spacing-m;
    }

    .buttons-container {
      display: block;
    }
  }

  .cancel-button {
    margin-right: $spacing-s;
  }
}
