<div class="main-title">{{ 'activityPanel.labels.comments' | translate }}</div>
<div [class.active]="active" class="activity-comment-container" [formGroup]="form">
  <div class="row">
    <div class="col">
      <textarea
        #reason
        [placeholder]="'activityPanel.placeholders.startTypingComment' | translate"
        class="comment-textarea"
        (focus)="onTextareaFocus()"
        (blur)="onTextareaBlur()"
        formControlName="reason"
        [attr.disabled]="disabled || null"
      ></textarea>
      <bspl-upload
        #fileIds
        [isDragAndDropActive]="true"
        [mode]="uploadMode"
        [resetMode]="uploadMode"
        [uploadPath]="fileUploadPath"
        responseFieldName="id"
        formControlName="fileIds"
        (uploadStarted)="onUploadIsInProgress(true)"
        (uploadFinished)="onUploadIsInProgress(false)"
      ></bspl-upload>
    </div>
  </div>
  <div class="row buttons-container">
    <div class="col text-right">
      <bspl-button
        [label]="'activityPanel.buttonLabels.CANCEL' | translate"
        [icon]="'cancel'"
        [design]="'tertiary'"
        class="cancel-button"
        (onClick)="onCancel()"
        [isDisabled]="disabled"
      ></bspl-button>
      <bspl-button
        [label]="'activityPanel.buttonLabels.SEND' | translate"
        [design]="'secondary'"
        [icon]="'done'"
        (onClick)="onSendFiles()"
        [isDisabled]="isSendBtnDisabled"
      ></bspl-button>
    </div>
  </div>
</div>
