<bspl-list-view
  id="gds-by-agent-list"
  [filterFormatter]="displayFormatter"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [predefinedFilters]="predefinedFilters"
  [canDownload]="hasData$ | async"
  [title]="'LIST.MASTER_DATA.gdsByAgent.title' | translate"
  [isInTab]="true"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="col-lg-3" *ngIf="isAgentView">
      <bspl-select
        [multiple]="true"
        [options]="gdsCodeOptions$ | async"
        [virtualScroll]="true"
        formControlName="gds"
        [label]="'LIST.MASTER_DATA.gdsByAgent.gdsCodeFilterLabel' | translate"
        [placeholder]="'LIST.MASTER_DATA.gdsByAgent.gdsCodeFilterPlaceholder' | translate"
      ></bspl-select>
    </div>
    <div class="col-lg-3" *ngIf="isAgentView && isIataUser">
      <bspl-select
        formControlName="gdsAssignment"
        [options]="gdsUseOptions"
        [virtualScroll]="true"
        [clearable]="false"
        [label]="'LIST.MASTER_DATA.gdsByAgent.gdsAssignmentFilterLabel' | translate"
        [placeholder]="'LIST.MASTER_DATA.gdsByAgent.gdsAssignmentFilterPlaceholder' | translate"
      ></bspl-select>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns$ | async"
    [rows]="data$ | async"
    columnMode="flex"
    [isLoading]="loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
