<!-- Airline Information -->
<ng-container [formGroup]="form">
  <div class="row" *ngIf="showBspList">
    <div class="col-4">
      <bspl-select
        formControlName="bspName"
        [options]="bspOptions"
        [label]="'REFUNDS.basicInfo.bspInfo.label' | translate"
        [placeholder]="'REFUNDS.basicInfo.bspInfo.placeholder' | translate"
        [clearable]="false"
        [locked]="true"
      >
      </bspl-select>
    </div>
  </div>

  <div class="row" [ngClass]="{ 'separator-top mt-0': showBspList }">
    <div class="col-6 separator-right" formGroupName="airline">
      <h4 class="section-title">{{ 'REFUNDS.basicInfo.airlInfo.title' | translate }}</h4>

      <ng-container *ngIf="isAirlineDropdownVisible">
        <bspl-select
          formControlName="id"
          [options]="airlineOptions"
          [label]="'REFUNDS.basicInfo.airlInfo.label.codeName' | translate"
          [placeholder]="'REFUNDS.basicInfo.airlInfo.placeholder.codeName' | translate"
          [clearable]="false"
          [locked]="isAirlineDropdownLocked"
          [virtualScroll]="airlineOptions?.length > 1"
          (blur)="showAirlineControlError()"
        >
        </bspl-select>
        <bspl-input
          *ngIf="isAirlineVatFieldVisible$ | async"
          formControlName="rfndVatNumber"
          [placeholder]="isAirlineUser ? ('REFUNDS.basicInfo.airlInfo.placeholder.vatNumber' | translate) : ''"
          [label]="'REFUNDS.basicInfo.airlInfo.label.vatNumber' | translate"
          [locked]="!isAirlineUser"
          [maxLength]="15"
        ></bspl-input>

        <ng-container *ngIf="showAirlineDetails">
          <ng-container
            *ngTemplateOutlet="userDetails; context: { $implicit: getUserSelectedDetails(airlineSelected?.address) }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!isAirlineDropdownVisible">
        <ul class="listFields">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'REFUNDS.basicInfo.airlInfo.label.codeName',
                value: airlineSelected?.iataCode + ' / ' + airlineSelected?.localName
              }
            "
          ></ng-container>

          <ng-container *ngIf="isAirlineVatFieldVisible$ | async">
            <ng-container
              *ngTemplateOutlet="
                listLine;
                context: {
                  label: 'REFUNDS.basicInfo.airlInfo.label.vatNumber',
                  value: airlineSelected?.vatNumber
                }
              "
            ></ng-container>
          </ng-container>

          <ng-container *ngIf="showAirlineDetails">
            <ng-container
              *ngTemplateOutlet="userDetails; context: { $implicit: getUserSelectedDetails(airlineSelected?.address) }"
            ></ng-container>
          </ng-container>
        </ul>
      </ng-container>

      <div>
        <a (click)="toggleAirlineDetails()" class="link" [hidden]="!airlineSelected">{{
          !showAirlineDetails
            ? ('REFUNDS.basicInfo.detailsLabel.show' | translate)
            : ('REFUNDS.basicInfo.detailsLabel.hide' | translate)
        }}</a>
      </div>
    </div>

    <!-- Agent Information -->
    <div class="col-6" formGroupName="agent">
      <h4 class="section-title">{{ 'REFUNDS.basicInfo.agentInfo.title' | translate }}</h4>
      <ng-container *ngIf="isAgentDropdownVisible">
        <bspl-select
          formControlName="id"
          [options]="agentOptions"
          [label]="'REFUNDS.basicInfo.agentInfo.label.codeName' | translate"
          [placeholder]="'REFUNDS.basicInfo.agentInfo.placeholder.codeName' | translate"
          [clearable]="false"
          [locked]="isAgentDropdownLocked"
          [virtualScroll]="agentOptions?.length > 1"
          (blur)="showAgentControlError()"
        ></bspl-select>

        <bspl-input
          *ngIf="isAgentVatFieldVisible$ | async"
          formControlName="rfndVatNumber"
          [placeholder]="isAgentUser ? ('REFUNDS.basicInfo.agentInfo.placeholder.vatNumber' | translate) : ''"
          [label]="'REFUNDS.basicInfo.agentInfo.label.vatNumber' | translate"
          [locked]="!isAgentUser"
          [maxLength]="15"
        >
        </bspl-input>

        <ng-container *ngIf="showAgentDetails">
          <ng-container
            *ngTemplateOutlet="userDetails; context: { $implicit: getUserSelectedDetails(agentSelected?.address) }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!isAgentDropdownVisible">
        <ul class="listFields">
          <ng-container
            *ngTemplateOutlet="
              listLine;
              context: {
                label: 'REFUNDS.basicInfo.agentInfo.label.codeName',
                value: agentSelected?.iataCode + ' / ' + agentSelected?.name
              }
            "
          ></ng-container>

          <ng-container *ngIf="isAgentVatFieldVisible$ | async">
            <ng-container
              *ngTemplateOutlet="
                listLine;
                context: { label: 'REFUNDS.basicInfo.agentInfo.label.vatNumber', value: agentSelected?.vatNumber }
              "
            ></ng-container>
          </ng-container>

          <ng-container *ngIf="showAgentDetails">
            <ng-container
              *ngTemplateOutlet="userDetails; context: { $implicit: getUserSelectedDetails(agentSelected?.address) }"
            ></ng-container>
          </ng-container>
        </ul>
      </ng-container>

      <div>
        <a (click)="toggleAgentDetails()" class="link" [hidden]="!agentSelected">{{
          !showAgentDetails
            ? ('REFUNDS.basicInfo.detailsLabel.show' | translate)
            : ('REFUNDS.basicInfo.detailsLabel.hide' | translate)
        }}</a>
      </div>
    </div>

    <div class="separator-top col-12">
      <div class="row">
        <!-- Airline Contact Information -->
        <div class="col-6 separator-right" formGroupName="airlineContact" *ngIf="isAirlineContactFieldVisible$ | async">
          <h4 class="section-title">{{ 'REFUNDS.basicInfo.airlContact.title' | translate }}</h4>
          <div class="row">
            <bspl-input
              class="col-12"
              #contactName
              formControlName="contactName"
              [placeholder]="'REFUNDS.basicInfo.airlContact.placeholder.name' | translate"
              [label]="'REFUNDS.basicInfo.airlContact.label.name' | translate"
              [locked]="isAirlineContactFieldLocked"
              [maxLength]="49"
            ></bspl-input>
            <bspl-input
              class="col-12"
              #phoneFaxNumber
              formControlName="phoneFaxNumber"
              [placeholder]="'REFUNDS.basicInfo.airlContact.placeholder.phoneFax' | translate"
              [label]="'REFUNDS.basicInfo.airlContact.label.phoneFax' | translate"
              [locked]="isAirlineContactFieldLocked"
              [maxLength]="30"
            ></bspl-input>
            <bspl-input
              class="col-12"
              #email
              formControlName="email"
              [placeholder]="'REFUNDS.basicInfo.airlContact.placeholder.email' | translate"
              [label]="'REFUNDS.basicInfo.airlContact.label.email' | translate"
              [locked]="isAirlineContactFieldLocked"
            ></bspl-input>
          </div>
        </div>

        <!-- Agent Contact Information -->
        <div class="col-6" formGroupName="agentContact" *ngIf="isAgentContactFieldVisible$ | async">
          <h4 class="section-title">{{ 'REFUNDS.basicInfo.agentContact.title' | translate }}</h4>
          <ng-container *ngIf="!formConfig.isInvestigate">
            <bspl-input
              #agentContactName
              formControlName="contactName"
              [placeholder]="'REFUNDS.basicInfo.agentContact.placeholder.name' | translate"
              [label]="'REFUNDS.basicInfo.agentContact.label.name' | translate"
              [locked]="isAgentContactFieldLocked"
              [maxLength]="49"
            ></bspl-input>
            <bspl-input
              #agentphoneFaxNumber
              formControlName="phoneFaxNumber"
              [placeholder]="'REFUNDS.basicInfo.agentContact.placeholder.phoneFax' | translate"
              [label]="'REFUNDS.basicInfo.agentContact.label.phoneFax' | translate"
              [locked]="isAgentContactFieldLocked"
              [maxLength]="30"
            ></bspl-input>
            <bspl-input
              #agentEmail
              formControlName="email"
              [maxLength]="100"
              [placeholder]="'REFUNDS.basicInfo.agentContact.placeholder.email' | translate"
              [label]="'REFUNDS.basicInfo.agentContact.label.email' | translate"
              [locked]="isAgentContactFieldLocked"
            ></bspl-input>
          </ng-container>

          <ng-container *ngIf="formConfig.isInvestigate">
            <ul class="listFields">
              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.agentContact.label.name',
                    value: agentContactForm.value.contactName
                  }
                "
              ></ng-container>
              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.agentContact.label.phoneFax',
                    value: agentContactForm.value.phoneFaxNumber
                  }
                "
              ></ng-container>
              <ng-container
                *ngTemplateOutlet="
                  listLine;
                  context: {
                    label: 'REFUNDS.basicInfo.agentContact.label.email',
                    value: agentContactForm.value.email
                  }
                "
              ></ng-container>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #listLine let-label="label" let-value="value">
  <li class="listLine">
    <div class="row listText">
      <div class="col-4 listLabelText">
        <span>{{ label | translate }}</span>
      </div>
      <div class="col-8">
        <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: value }"></ng-container>
      </div>
    </div>
  </li>
</ng-template>

<ng-template #userDetails let-details>
  <ul class="listFields">
    <ng-container *ngFor="let lineKey of objectKeys(details)">
      <li class="listLine" *ngIf="details[lineKey]">
        <div class="row listText">
          <div class="col-4 listLabelText">
            <span>{{ 'REFUNDS.basicInfo.detailInfo.label.' + lineKey | translate }}</span>
          </div>
          <div class="col-8">
            <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: details[lineKey] }"></ng-container>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #fieldsDetails let-value="value">
  <span [ngClass]="{ listFieldTextEmpty: !value, listFieldTextValue: value }">
    {{ value ? value : 'N/A' }}
  </span>
</ng-template>
