@import 'components/inline-list/inline-list';
@import 'components/form-page/form-page';
@import 'components/form-list/form-list';

:host {
  h4.section-title {
    color: $blue-secondary;
    font-size: $font-size-m;
  }

  a.link {
    color: $blue-light;
    font-size: $font-size-m;
    cursor: pointer;
  }
}
