<bspl-list-view
  [title]="title$ | async"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  [filterFormatter]="monitoringPbdFilesFilterFormatterService"
  [hasFiltering]="true"
  [predefinedFilters]="predefinedFilters$ | async"
>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-12">
        <div class="highlighted-filter">
          <bspl-select
            [multiple]="true"
            [options]="userBspDropdownOptions$ | async"
            formControlName="isoCountryCode"
            [label]="'monitoring-pbd-files.filters.isoCountryCode.label' | translate"
            [placeholder]="'monitoring-pbd-files.filters.isoCountryCode.placeholder' | translate"
            [isDisabled]="isBspFilterDisabled$ | async"
            [locked]="!hasAllBspsPermission || (userBspDropdownOptions$ | async)?.length < 2"
          >
          </bspl-select>
          <span>{{ 'monitoring-pbd-files.filters.isoCountryCode.text' | translate }}</span>
        </div>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'monitoring-pbd-files.filters.filename.label' | translate"
          formControlName="filename"
          [placeholder]="'monitoring-pbd-files.filters.filename.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'monitoring-pbd-files.filters.startDate.label' | translate"
          [placeholder]="'monitoring-pbd-files.filters.startDate.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="startDate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'monitoring-pbd-files.filters.endDate.label' | translate"
          [placeholder]="'monitoring-pbd-files.filters.endDate.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="endDate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-pbd-files.filters.status.label' | translate"
          formControlName="status"
          [placeholder]="'monitoring-pbd-files.filters.status.placeholder' | translate"
          [options]="statusOptions"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
