<bspl-list-view
  id="ticketing-authority-list"
  [filterFormatter]="displayFormatter"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [predefinedFilters]="predefinedFilters"
  [hasFilteringExpanded]="hasFilteringExpanded"
  [isActionButtonDisabled]="!isSearchEnabled"
  [canDownload]="hasData$ | async"
  [title]="'LIST.MASTER_DATA.ticketingAuthority.title' + viewAs"
  [isInTab]="true"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <div class="view-header" bsplListViewTitle>
    <bspl-button
      *ngIf="isUpdateAllVisible"
      [label]="'LIST.MASTER_DATA.ticketingAuthority.buttonMassiveLabel.' + massiveLabel | translate"
      [design]="ButtonDesign.Secondary"
      (onClick)="onChangeAllFilteredClicked()"
    ></bspl-button>
  </div>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" *ngIf="hasLeanPermission">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.bsp' | translate"
        [placeholder]="'LIST.MASTER_DATA.ticketingAuthority.filters.placeholders.bsp' | translate"
        [clearable]="false"
        [locked]="isBspFilterLocked"
        (change)="selectBsp($event.value)"
      >
      </bspl-select>
      <span>{{ 'LIST.MASTER_DATA.ticketingAuthority.filters.bsp.highlightedText' | translate }}</span>
    </div>
    <div class="row">
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAgentView">
        <bspl-select
          [multiple]="true"
          [options]="airlines$ | async"
          [virtualScroll]="true"
          formControlName="airlines"
          [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.airline' | translate"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthority.filters.placeholders.airline' | translate"
        ></bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAgentView">
        <bspl-select
          [multiple]="true"
          [options]="designators$ | async"
          [virtualScroll]="true"
          formControlName="abrev"
          [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.designator' | translate"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthority.filters.placeholders.designator' | translate"
        ></bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAirlineView">
        <bspl-select
          [multiple]="true"
          [options]="agents$ | async"
          [virtualScroll]="true"
          formControlName="agents"
          [locked]="isAgentFilterLocked"
          [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.agent' | translate"
          [placeholder]="agentDropdownPlaceholder | translate"
        ></bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-select
          formControlName="ticketingAuthority"
          [options]="statusOptions"
          [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.taStatus' | translate"
          [clearable]="false"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="isAgentGroupView || isAirlineView">
        <bspl-select
          formControlName="agentStatus"
          [options]="agentStatusOptions"
          [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.taAgentStatus' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3" *ngIf="isAirlineView && !isAgentGroupUser">
        <bspl-select
          formControlName="agentGroup"
          [options]="agentGroupOptions$ | async"
          [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.taAgentGroup' | translate"
          [placeholder]="agentGroupDropdownPlaceholder | translate"
          [locked]="isAgentGroupFilterLocked"
        >
        </bspl-select>
      </div>
      <ng-container *ngIf="isAgentAddressColumnVisible$ | async">
        <div class="col-lg-3">
          <bspl-input
            formControlName="agentAddress"
            [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.agentAddress' | translate"
            [placeholder]="'LIST.MASTER_DATA.ticketingAuthority.filters.placeholders.agentAddress' | translate"
          >
          </bspl-input>
        </div>
        <div class="col-lg-3">
          <bspl-input
            formControlName="agentCity"
            [label]="'LIST.MASTER_DATA.ticketingAuthority.filters.label.agentCity' | translate"
            [placeholder]="'LIST.MASTER_DATA.ticketingAuthority.filters.placeholders.agentCity' | translate"
          >
          </bspl-input>
        </div>
      </ng-container>
    </div>
  </form>
  <div [hidden]="!canShowDataQuery">
    <bspl-grid-table
      bsplListViewGrid
      [columns]="columns$ | async"
      [rows]="data$ | async"
      columnMode="flex"
      [isLoading]="loading$ | async"
      (checkboxChange)="onModify($event)"
    ></bspl-grid-table>
  </div>
  <div [hidden]="canShowDataQuery">
    <bspl-locked-state
      [message]="'LIST.MASTER_DATA.ticketingAuthority.filters.bsp.lockedStateMessage' | translate"
    ></bspl-locked-state>
  </div>
</bspl-list-view>
