<bspl-spinner [isLoading]="isProcessing$ | async" relativeTo="viewport"></bspl-spinner>
<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [filterFormatter]="subUsersListTagFilterFormatter"
  [query]="query$ | async"
  [isInTab]="true"
  [hasDownloading]="isHosuView"
  [canDownload]="hasData$ | async"
  [hasCreating]="[Permissions.createSubuser, Permissions.createHosuSubuser] | hasPermission"
  [customLabels]="customLabels"
  (queryChange)="onQueryChanged($event)"
  (create)="create()"
  (download)="onDownload()"
>
  <ng-container bsplListViewTitle>
    <span class="list-total-items" *ngIf="isHosuView">{{
      'MENU.files.totalItemMessage' | translate : locale.language : { total: totalItems$ | async }
    }}</span>
    <span class="title-separator" *ngIf="!isHosuView">/</span>
    <bspl-select
      *ngIf="!isHosuView && bspOptions$ | async as bspOptions"
      class="bsp-dropdown bspl-breadcrumb-item -selectable"
      [placeholder]="'SUB_USERS.LIST.SELECT_BSP_PLACEHOLDER' | translate"
      [options]="bspOptions"
      [isDisabled]="bspOptions.length === 1"
      [clearable]="false"
      [modes]="[SelectMode.Heading]"
      [value]="initialBsp$ | async"
      (change)="changeBsp($event.value)"
    ></bspl-select>
    <bspl-table-selection-toolbar
      class="selection-toolbar"
      *ngIf="(enableSelection || isHosuView) && selectedRowsCount$ | async as selectedRowsCount"
      singleSelectedItemTranslationKey="SUB_USERS.LIST.TOOLBAR.USER_SELECTED"
      multipleSelectedItemsTranslationKey="SUB_USERS.LIST.TOOLBAR.USERS_SELECTED"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-button
        *ngIf="canUpdateSubuserTemplate && !isHosuView"
        (click)="onTemplateClick()"
        label="SUB_USERS.LIST.TOOLBAR.BTN.TEMPLATE"
        design="tertiary"
      >
      </bspl-button>
      <bspl-button
        *ngIf="canReadSubuserPermissions && !isHosuView"
        label="SUB_USERS.LIST.TOOLBAR.BTN.PERMISSIONS"
        design="tertiary"
        (click)="onPermissionClick()"
      >
      </bspl-button>
      <bspl-button
        *ngIf="isHosuView"
        label="SUB_USERS.LIST.TOOLBAR.BTN.PERMISSIONS"
        design="tertiary"
        (click)="onHosuPermissionClick()"
      >
      </bspl-button>
    </bspl-table-selection-toolbar>
  </ng-container>
  <form bsplListViewFilter [formGroup]="form">
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'SUB_USERS.LIST.LBL.LOGIN' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.LOGIN' | translate"
          formControlName="ilogin"
        ></bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'SUB_USERS.LIST.LBL.EMAIL' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.EMAIL' | translate"
          formControlName="portalEmail"
        ></bspl-input>
      </div>
      <div class="col-lg-3" *ngIf="!isHosuView">
        <bspl-select
          [multiple]="true"
          [label]="'SUB_USERS.LIST.LBL.LEVEL' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.LEVEL' | translate"
          [options]="listConfig.levelOptions"
          formControlName="level"
        ></bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'SUB_USERS.LIST.LBL.NAME' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.NAME' | translate"
          formControlName="name"
        ></bspl-input>
      </div>
      <div class="col-lg-3" *ngIf="!isHosuView">
        <bspl-input
          [label]="'SUB_USERS.LIST.LBL.PARENT' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.PARENT' | translate"
          formControlName="parentName"
        ></bspl-input>
      </div>
      <div class="col-lg-3" *ngIf="!isHosuView && !isIataUser && !isDpcUser">
        <bspl-select
          [label]="'SUB_USERS.LIST.LBL.TEMPLATE' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.TEMPLATE' | translate"
          [options]="listConfig.templateOptions"
          formControlName="template"
        ></bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'SUB_USERS.LIST.LBL.REGISTER_DATE' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.REGISTER_DATE' | translate"
          formControlName="registerDate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'SUB_USERS.LIST.LBL.EXPIRY_DATE' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.EXPIRY_DATE' | translate"
          formControlName="expiryDate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [label]="'SUB_USERS.LIST.LBL.STATUS' | translate"
          [placeholder]="'SUB_USERS.LIST.PLACEHOLDER.STATUS' | translate"
          [options]="listConfig.statusOptions"
          formControlName="status"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [rowDetailTemplate]="customDetailTemplate"
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="primaryActions"
    [showIconEmptyActions]="true"
    (rowLinkClick)="onRowLinkClick($event)"
    (actionClick)="onGridActionClick($event)"
    (checkboxChange)="onSelectedRows($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template For LOSU SubUsers-->
<ng-template #rowDetailLosuTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="SUB_USERS.LIST.TD.USER_TYPE" [value]="row.userType"></bspl-property>
      <bspl-property
        *ngIf="row.userType === SubUserType.Airline"
        label="SUB_USERS.LIST.TD.AIRLINE"
        [value]="row.userTypeDetails.iataCode + ' / ' + row.userTypeDetails.name"
      ></bspl-property>
      <bspl-property
        *ngIf="row.userType === SubUserType.Agent"
        label="SUB_USERS.LIST.TD.AGENT"
        [value]="row.userTypeDetails.iataCode + ' / ' + row.userTypeDetails.name"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
      <bspl-property label="SUB_USERS.LIST.TD.ORGANIZATION" [value]="row.contactInfo.organization"></bspl-property>
      <bspl-property label="SUB_USERS.LIST.TD.TELEPHONE" [value]="row.contactInfo.telephone"></bspl-property>
      <bspl-property label="SUB_USERS.LIST.TD.COUNTRY" [value]="row.contactInfo.country"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
      <bspl-property label="SUB_USERS.LIST.TD.CITY" [value]="row.contactInfo.city"></bspl-property>
      <bspl-property label="SUB_USERS.LIST.TD.ADDRESS" [value]="row.contactInfo.address"></bspl-property>
      <bspl-property label="SUB_USERS.LIST.TD.POSTCODE" [value]="row.contactInfo.postCode"></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>

<!-- Details Row Template For HOSU SubUsers-->
<ng-template #rowDetailHosuTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md col-sm property-list-align-left property-list-compact">
      <bspl-property label="SUB_USERS.LIST.TD.TELEPHONE" [value]="row.contactInfo.telephone"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md col-sm property-list-align-left property-list-compact">
      <bspl-property label="SUB_USERS.LIST.TD.ADDRESS" [value]="row.contactInfo.address"></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
