@import 'src/app/shared/scss/index';
@import 'theme/variables/index';

.title-separator {
  color: $gray-middle;
  font-size: $font-size-xxl;
  line-height: $line-height-xl;
}

.bsp-dropdown {
  margin-right: $spacing-xs;
}

.list-total-items {
  color: $gray-deep;
  margin-left: $spacing-xxs;
}

:host ::ng-deep {
  .ngx-datatable .datatable-row-detail {
    padding: 0;
  }
}
