/* stylelint-disable */
/*
 * CSS File of Material icons.
 * Obtained from:
 * https://github.com/Angelmmiguel/material_icons/blob/master/app/assets/stylesheets/material_icons_unicode.css.erb
 * CSS code based on:
 * https://google.github.io/material-design-icons/#icon-font-for-the-web
 */

/* Base class */
.material-icons,
.material-icons-outlined,
.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  user-select: none;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

/* Rules for sizing the icon. */
.mi.md-18 {
  font-size: 18px;
}

.mi.md-24 {
  font-size: 24px;
}

.mi.md-36 {
  font-size: 36px;
}

.mi.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.mi.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.mi.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.mi.md-light {
  color: rgba(255, 255, 255, 1);
}

.mi.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Rules to rotate items */
.mi.r90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mi.r180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mi.r270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.mi.flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.mi.flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* Unicode */
/* If you do not find the class you need, go to the reference file "material-icons-reference.css" and copy-paste it here below */
.mi.settings:before {
  content: '\e8b8';
}

.mi.add:before {
  content: '\e145';
}

.mi.date_range:before {
  content: '\e916';
}

.mi.arrow_drop_down:before {
  content: '\e5c5';
}

.mi.filter_list:before {
  content: '\e152';
}

.mi.get_app:before {
  content: '\e884';
}
.mi.clear:before {
  content: '\e14c';
}

.mi.delete:before {
  content: '\e872';
}

.mi.equalizer:before {
  content: '\e01d';
}

.mi.arrow_upward:before {
  content: '\e5d8';
}

.mi.publish:before {
  content: '\e255';
}

.mi.keyboard_arrow_down:before {
  content: '\e313';
}

.mi.attach_file:before {
  content: '\e226';
}

.mi.cancel:before {
  content: '\e5cd';
}

.mi.done:before {
  content: '\e876';
}

.mi.arrow_drop_down:before {
  content: '\e5c5';
}

.mi.upload:before {
  content: '\e2c6';
}

.mi.get_app:before {
  content: '\e884';
}

.mi.open_in_new:before {
  content: '\e89e';
}
/* --- */
