<div class="row align-items-center">
  <div class="col-auto">
    <p>Default</p>
    <bspl-icon-button [icon]="'close'"></bspl-icon-button>
    <bspl-icon-button [icon]="'close'" [highlighted]="true"></bspl-icon-button>
    <bspl-icon-button [icon]="'close'" [isDisabled]="true"></bspl-icon-button>
  </div>
  <div class="col-auto">
    <p>Secondary</p>
    <bspl-icon-button [icon]="'add'" [type]="'secondary'"></bspl-icon-button>
    <bspl-icon-button [icon]="'add'" [type]="'secondary'" [isDisabled]="true"></bspl-icon-button>
  </div>
  <div class="col-auto">
    <p>Tertiary</p>
    <bspl-icon-button [icon]="'more_vert'" [type]="'tertiary'"></bspl-icon-button>
    <bspl-icon-button [icon]="'more_vert'" [type]="'tertiary'" [highlighted]="true"></bspl-icon-button>
    <bspl-icon-button [icon]="'more_vert'" [type]="'tertiary'" [isDisabled]="true"></bspl-icon-button>
  </div>
</div>
<div class="row align-items-center">
  <div class="pt-5 col-auto">
    <p>Default type with color / Default, Success, Danger, Dark</p>
    <bspl-icon-button [icon]="'close'"></bspl-icon-button>
    <bspl-icon-button [icon]="'close'" color="success"></bspl-icon-button>
    <bspl-icon-button [icon]="'close'" color="danger"></bspl-icon-button>
    <bspl-icon-button [icon]="'close'" color="dark"></bspl-icon-button>
  </div>
</div>
