<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="agentCode"
          [label]="'MENU.USERS_MAINTENANCE.DEACTIVATED_AGENTS.filter.label.agentCodeName' | translate"
          [options]="agentsCodeOptions$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="deactivationDate"
          [label]="'MENU.USERS_MAINTENANCE.DEACTIVATED_AGENTS.filter.label.deactivationDate' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.DEACTIVATED_AGENTS.filter.placeholders.deactivationDate' | translate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="expiryDate"
          [label]="'MENU.USERS_MAINTENANCE.DEACTIVATED_AGENTS.filter.label.expiryDate' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.DEACTIVATED_AGENTS.filter.placeholders.expiryDate' | translate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
