<div *ngIf="isIataView" class="header-container">
  <h3 class="header-title">
    {{ 'LIST.MASTER_DATA.variableRemittance.title' + viewAs | translate }}
  </h3>
  <bspl-button
    label="LIST.MASTER_DATA.variableRemittance.buttonLabels.override"
    icon="mi md-18 add"
    [design]="btnDesign.Secondary"
    (click)="override()"
  ></bspl-button>
</div>
<bspl-list-view
  [title]="listTitle"
  [isInTab]="!isIataView"
  [customLabels]="customLabels"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasApply]="isIataView"
  [filterFormatter]="displayFormatter"
  [predefinedFilters]="predefinedFilters"
  [hasFilteringExpanded]="hasFilteringExpanded"
  [isActionButtonDisabled]="!isSearchEnabled"
  [canDownload]="hasData$ | async"
  [canApply]="hasChanges$ | async"
  [query]="query$ | async"
  (download)="onDownload()"
  (apply)="onApplyChanges()"
  (queryChange)="onQueryChanged($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" *ngIf="hasLeanPermission">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'LIST.MASTER_DATA.variableRemittance.filters.bsp.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.variableRemittance.filters.bsp.placeholder' | translate"
        [clearable]="false"
        [locked]="isBspFilterLocked"
      >
      </bspl-select>
      <span>{{ 'LIST.MASTER_DATA.variableRemittance.filters.bsp.highlightedText' | translate }}</span>
    </div>
    <div class="row">
      <div class="col-md-3" *ngIf="isAgentView">
        <bspl-select
          formControlName="airline"
          [multiple]="true"
          [virtualScroll]="true"
          [options]="airlineDropdownOptions$ | async"
          [label]="'LIST.MASTER_DATA.variableRemittance.filters.airline.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.variableRemittance.filters.airline.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="col-md-3" *ngIf="isAirlineView || isIataView">
        <bspl-select
          formControlName="agent"
          [multiple]="true"
          [virtualScroll]="true"
          [options]="agentDropdownOptions$ | async"
          [label]="'LIST.MASTER_DATA.variableRemittance.filters.agent.label' | translate"
          [placeholder]="agentDropdownPlaceholder | translate"
          [locked]="isAgentDropdownLocked"
        ></bspl-select>
      </div>
      <div class="col-md-3">
        <bspl-select
          formControlName="frequency"
          [multiple]="true"
          [options]="frequencyDropdownOptions$ | async"
          [label]="'LIST.MASTER_DATA.variableRemittance.filters.frequency.label' | translate"
          [placeholder]="frequencyDropdownPlaceholder | translate"
          [locked]="isFrequencyDropdownLocked"
        ></bspl-select>
      </div>
    </div>
  </form>

  <div [hidden]="!canShowDataQuery">
    <bspl-grid-table
      bsplListViewGrid
      columnMode="flex"
      [columns]="columns"
      [rows]="data$ | async"
      [isLoading]="loading$ | async"
      [primaryActions]="isIataView && actions"
      [showIconEmptyActions]="isIataView"
      (dropdownChange)="onRowPropertyChange($event)"
      (actionClick)="onActionClick($event)"
    ></bspl-grid-table>
  </div>
  <div [hidden]="canShowDataQuery">
    <bspl-locked-state
      [message]="'LIST.MASTER_DATA.variableRemittance.filters.bsp.lockedStateMessage' | translate"
    ></bspl-locked-state>
  </div>
</bspl-list-view>
