@import 'theme/variables/index';
@import 'theme/app/changed-dropdown';

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-xl 0 $spacing-xxs 0;

  .header-title {
    font-size: $font-size-xxl;
    color: $blue-primary;
    display: flex;
    align-items: center;
    font-weight: normal;
  }
}
