<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In accordance with IATA Resolutions, New BSPlink processes automatically Final Refund Applications.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Thanks to this process, a 60-day issuance period is applied in any Final Refund Application. If, within such
    period, the Airline has not carried out any action, it turns automatically into “AUTHORIZED”.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please find a detailed explanation of the Automatic processing below.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Non-Final RA Automatic Process
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >When Agent users issue a Refund Application which is not flagged as “Final”, the process described under this
    section does not apply.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Also, any Final RA which is marked as “Exception” by the Airline is not subject to this process.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Final RA Automatic Process
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Refund Applications may be flagged as “Final” before being issued:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="450" src="agent/images/final-refund-applications-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Flag RA as Final.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Final Refund Applications cannot be modified once issued. However, it is possible to add comments or attachments in
    the Activity Panel.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once issued and flagged as “Final”, a 60-day countdown begins. The Airline must carry out some action within that
    period of 60 days. If the Airline does nothing, the Refund Application gets automatically Authorized.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Please find a comparative view of the process affecting Refund Applications below:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-7.jpg" /></span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The countdown is reflected under the “Days Left” field:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Days left.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Also, the header of the detailed view of a Refund Application which was flagged as “Final” indicates this
    information:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-4.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Final RA detailed view.</span>
</p>
