<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Agents may flag Refund Applications as “Final”. This means that they cannot modify the information included in the
    RA, although comments and attachments may be added by them in the Activity Panel (the Activity Pane is found at the
    right-hand side of the refund).</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Final Refund Applications are subject to an Automatic Processing which consists of a countdown period of 60 days.
    If the Airline does not carry out any action in such Final Refund Application in 60 days as of being issued, it gets
    automatically authorized.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once issued and flagged as “Final”, a 60-day countdown begins. During this period, the Airline may:
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Modify the value of that RA.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Request further information to the involved Agent in the Activity Panel.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorize or Reject that RA.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Flag the RA as an Exception.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Final Refund Applications include the “Final” indication under “Final” in the main RA table. The remaining days
    until the completion of the 60-day period is available under “Days Left”:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-3.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Final RA.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It should be noted that Final RAs may include an icon showing the urgency of the 60-day period:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund Applications which were issued between 30 and 45 days ago are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-1.jpg" /> icon.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund Applications which were issued more than 45 days ago are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-2.jpg" /> icon.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Those Refund which have been automatically authorized after 60 days are accompanied by the
    <img border="0" height="22" src="agent/images/icon-RA-status-3.jpg" /> icon.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">This information is also visible in the RA detailed view:</span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent/images/final-refund-applications-4.jpg" /></span>
</p>
<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Final RA detailed view.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 12pt; color: blue; font-family: Arial; font-weight: 400">
  Management of Exceptions
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Airlines may mark Final RAs as Exceptions. This means that they are no longer subject to the Automatic Process of
    60 days. Therefore:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The RA Status turns into “Under Investigation”.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The RA Final status turns into “Exception”.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The RA shall be treated as a Standard one. </span>
</p>
