<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >If IATA users wish to query the Refund Application detailed view, it is possible to display it either by clicking
    on the Document Number of the Refund Application table, or through the
    <img border="0" width="22" height="22" id="Imagen 282" src="iata/images/image160.jpg" /> icon. A new tab is then
    displayed showing the selected RA information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="275" id="Imagen 5" src="iata/images/image161.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451448"
    ><i><span lang="EN-GB">Figure </span></i></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: RA detailed view.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The Refund Application is divided into five main parts:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refund Application Header: </span></b
  ><span lang="EN-GB">The information on this part, always visible, includes the following fields: </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Refund Number: this number is assigned once the application is issued.</span>
</p>

<p
  class="BulletLevel2"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.75in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Refund Status: it reflects if the Refund is Draft, Pending, Approved, Rejected, Sent to Airline, Under
    Investigation or Pending Supervision. The status of the Refund is accompanied by an icon showing whether it has been
    sent to the DPC (<img border="0" width="46" height="16" id="Imagen 318" src="iata/images/image162.jpg" />), not sent
    yet (<img border="0" width="46" height="15" id="Imagen 319" src="iata/images/image095.jpg" />), or will not be sent
    (<img border="0" width="46" height="16" id="Imagen 324" src="iata/images/image163.jpg" />).</span
  >
</p>

<p
  class="BulletLevel2"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.75in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">BSP the Agent belongs to. </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Airline Code.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Agent Code.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Application Date: the date in which the Agent completes the form.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Refund to Passenger: the amount of the Refund to be included in the Agent billing.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Final Refund Applications indicate this status and the days left until the RA gets automatically authorized</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Basic Information: </span></b
  ><span lang="EN-GB">It reflects the information concerning the Airline, the Agent and the Refund.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Details:</span></b
  ><span lang="EN-GB"> This section contains the reason why the Refund is to be applied and the ticket involved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment:</span></b
  ><span lang="EN-GB"> The method used to pay the ticket.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount and Tax:</span></b
  ><span lang="EN-GB"> This last part is focused on the fare and taxes of the ticket.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Activity (Panel):</span></b
  ><span lang="EN-GB">
    It shows different statuses of the RA or actions that has been taken over the RA in chronological order.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For the RA review purposes, IATA users will find, at the bottom right of the Header, the “Expand All” option to
    either collapse or expand the rest of the parts of the form. If IATA users prefer to collapse just one of the
    sections, it is possible to do so through the options after “Jump to”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="62" id="Imagen 7" src="iata/images/image164.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451449"
    ><i><span lang="EN-GB">Figure</span></i></a
  ><span lang="EN-GB">2</span><span lang="EN-GB">: Refund Application expand/collapse option.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This is also possible by clicking the
    <img border="0" width="22" height="22" id="Imagen 633" src="iata/images/image165.jpg" /> icon at the right part of
    each section:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="242" id="Imagen 54" src="iata/images/image166.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451451"
    ><i><span lang="EN-GB">Figure </span></i></a
  ><span lang="EN-GB">3</span><span lang="EN-GB">: expand icon on each Refund Application section.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Besides, the <img border="0" width="34" height="34" id="Imagen 49" src="iata/images/image167.jpg" /> button makes
    possible to download the RA in PDF format.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Basic Information
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Basic Information sections contains those data belonging to the involved Airline and Agent in the RA
    process:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="437" id="Imagen 577" src="iata/images/image168.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451452"
    ><i><span lang="EN-GB">Figure</span></i></a
  ><span lang="EN-GB">4</span><span lang="EN-GB">: RA Basic Information.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Information: </span></b
  ><span lang="EN-GB">Including the IATA Code, VAT number and contact details.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Information: </span></b><span lang="EN-GB">Same as the Airline information.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The RA Details comprise the Reasons for the Agent to request the Refund, the information of ticket to be refunded,
    and whether such ticket was a result of an Exchange or not:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="638" height="340" id="Imagen 36" src="iata/images/image169.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451453"
    ><i><span lang="EN-GB">Figure </span></i></a
  ><span lang="EN-GB">5</span><span lang="EN-GB">: RA Details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Statistical Code: </span></b
  ><span lang="EN-GB">RA can be either “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason details: </span></b
  ><span lang="EN-GB">The Agent must indicate on a free text box why the refund was requested.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related documents: </span></b
  ><span lang="EN-GB"
    >The original ticket Passenger, RTDN issue date, Waiver code (if any). Number, Coupons and Conjunction tickets (CNJ,
    if any). Used coupons are indicated with the
    <img border="0" width="23" height="22" id="Imagen 637" src="iata/images/image170.jpg" />
    icon.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Exchange (Original Issue Details): </span></b
  ><span lang="EN-GB"
    >If the ticket to be refunded was the result of an exchange (indicated by the
    <img border="0" width="23" height="22" id="Imagen 638" src="iata/images/image171.jpg" /> icon), the exchanged ticket
    information must be completed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Form of Payment
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Form of Payment section includes the payment details of the original ticket and consists of two main
    parts:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tour Code, Customer Reference, E-Ticket Authorisation Code </span></b
  ><span lang="EN-GB">and</span><b><span lang="EN-GB"> Currency.</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">The Payment Method</span></b
  ><span lang="EN-GB">: Valid methods are the following ones:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Cash</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Payment Card (CC)</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Easy pay</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Miscellaneous Cash (MSCA)</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Miscellaneous Credit (MSCC)</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The total is first offered split in Cash and Credit. At the bottom, the total amount of the original ticket is
    displayed.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="259" id="Imagen 41" src="iata/images/image172.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451454"
    ><i><span lang="EN-GB">Figure </span></i></a
  ><span lang="EN-GB">6</span><span lang="EN-GB">: RA Form of Payment.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The last section of the RA indicates in detail the amount corresponding to the original ticket and the refund.
    These coincide when the applied refund is total; but they are different when a partial refund is requested, or when
    commissions or penalties apply. The following fields are included:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Partial Refund option and Net Remit option: </span></b
  ><span lang="EN-GB"
    >When any of these apply, it is indicated by the
    <img border="0" width="23" height="22" id="Imagen 640" src="iata/images/image173.jpg" />
    icon.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Gross Fare and Less Gross Fare Used:</span></b
  ><span lang="EN-GB">
    The Gross fare corresponds to the amount paid for the original ticket excluding taxes. The Less Gross Fare Used
    indicates the amount which is not refundable when the Agent requests a partial refund.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cancellation Penalty, Miscellaneous Fee and their corresponding taxes.</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission:</span></b
  ><span lang="EN-GB"> These can be indicated by the agent either in monetary amounts or in percentage.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Taxes:</span></b
  ><span lang="EN-GB">
    The tax ISO Codes must be detailed together with each specific amount. The XT and XF specifications must be observed
    when Agents complete this part of the section. Please note that the system will notify the introduction of
    duplicated taxes, if any.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refund to Passenger:</span></b
  ><span lang="EN-GB">
    The refundable amount equals the amount of the Gross Fare – the amount of the Gross Fare Used + Taxes – the CP – the
    Tax on CP – the MF – the tax on MF.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="350" id="Imagen 43" src="iata/images/image174.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451455"
    ><i><span lang="EN-GB">Figure </span></i></a
  ><span lang="EN-GB">7</span><span lang="EN-GB">: RA Amount and Tax.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Activity
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >As previously mentioned, the Activity panel shows the different statuses of the RA and actions that were taken over
    the RA in chronological order.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For Resubmitted RAs the original document is included, and the user can click on the document number, so the system
    will take the user to that document detailed view. Here you can see an example of the Activity panel of a
    resubmitted RA:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="iata/images/ra-detailed-view-8.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 8: Activity Panel.</span>
</p>
