<p class="MsoNormal">
  <span lang="EN-GB"
    >To query the existing Refund Notices (RN) issued by the Agent, it is necessary to click on “Refund Notices” under
    the “Refund” option from the menu bar.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >A list of all existing Refund Notices in the BSP the IATA User is logged in is presented on a table are listed on a
    table corresponding to the tags “Active” or “Deleted” which contains the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="198" id="Imagen 56" src="iata/images/image175.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451456"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Refund Notice table.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">The BSP ISO Code where the Refund Notice is issued. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number:</span></b
  ><span lang="EN-GB">
    The Refund Notice number which is generated once the Refund is issued. By clicking on it, the Refund Application
    details are displayed on a new tab.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code:</span></b
  ><span lang="EN-GB"> The involved Airline IATA three-digit code.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code:</span></b
  ><span lang="EN-GB"> The issuer Agent IATA code.</span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB"> This column reflects the status of a Refund Notice. RN Status can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PENDING SUPERVISION:</span></b
  ><span lang="EN-GB">
    the Agent has issued the Refund Notice, but it must be examined by the Supervisor before being issued.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ISSUED:</span></b
  ><span lang="EN-GB"> the Refund Notice has been issued after being examined by the Supervisor.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB">The status of the RN is accompanied by an icon showing whether it has been sent to the DPC (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 47" src="iata/images/image152.jpg" /></span
  ><span lang="EN-GB">), not sent yet (</span
  ><span lang="EN-GB"><img border="0" width="46" height="15" id="Imagen 228" src="iata/images/image153.jpg" /></span
  ><span lang="EN-GB">), or will not be sent (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 230" src="iata/images/image154.jpg" /></span
  ><span lang="EN-GB">).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> The employed currency on the Refund Notice.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> The total amount requested to be refunded.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b
  ><span lang="EN-GB">The date in which the Refund Notice was issued.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b
  ><span lang="EN-GB">The date in which the Refund Notice is reported.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" width="82" height="30" id="Imagen 60" src="iata/images/image132.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"> <img border="0" width="645" src="iata/images/refund-notices-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451457"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Refund Notice filter.</span>
</p>

<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in">
  <span lang="EN-GB">It is therefore possible to filter queries based upon the following fields:</span>
</p>

<p
  class="MsoListParagraphCxSpFirst"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country / Territory: </span></b><span lang="EN-GB">Selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code / Name: </span></b><span lang="EN-GB">Selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code / Name: </span></b><span lang="EN-GB">Selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> Selectable from a drop-down list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount Range:</span></b
  ><span lang="EN-GB"> the query can be filtered by a minimum value, a maximum value or both.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Number</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger</span></b>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Latest Action Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b><span lang="EN-GB">It can be framed (“from” and “to”).</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b
  ><span lang="EN-GB">it is possible to select multiple periods within the same month.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to DPC: </span></b><span lang="EN-GB">“Sent” or “Pending”.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment</span></b
  ><span lang="EN-GB"></span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Read / Unread</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >In order to view filtered results, it is necessary to click the
    <img border="0" width="74" height="30" id="Imagen 645" src="iata/images/image179.jpg" /> button.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Besides, results, either filtered or not, can be downloaded in a CSV or TXT zipped file through the
    <img border="0" width="106" height="30" id="Imagen 97" src="iata/images/image180.jpg" /> button.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Refund Notice details
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >It is possible to query the details from an already issued Refund Notice by clicking on the “Document Number” or
    the <img border="0" width="22" height="22" id="Imagen 53" src="iata/images/image042.jpg" /> icon the on the main
    table. Since the Refund Notice Issuance form contains the same fields as that corresponding to Refund Applications,
    please refer to “</span
  ><span lang="EN-GB">6.3.1.1 RA detailed view</span><span lang="EN-GB">”. </span>
</p>
