<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows IATA users to query Refund Applications and Refund Notices issued by Agents.
  </span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="194" height="160" id="Imagen 11" src="iata/images/image139.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <i><span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Refund option.</span></i>
</p>

<p class="MsoNormal"><span lang="EN-GB">In both options, the following layout aspects must be considered:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The existing documents are displayed on tables under each option.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Some of the fields on the tables include the
    <img border="0" width="22" height="22" id="Imagen 117" src="iata/images/image140.jpg" /> icon, which allows ordering
    the document list according to that field, in a descending or ascending way.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >This information is distributed in three main tabs: <b>Active</b>, <b>Archived</b> and <b>Deleted</b>.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Documents are displayed by default under the “Active” tab. Unread (new) documents are shown in bold type, whereas
    read (old) documents are not:
  </span>
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="140" id="Imagen 133" src="iata/images/image141.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <i
    ><span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
    ><span lang="EN-GB">: Read vs. Unread document.</span></i
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to mark Unread documents as Read ones by means of the
    <img border="0" width="22" height="22" id="Imagen 121" src="iata/images/image142.jpg" /> icon on each row and then
    select “Mark as Read” and vice-versa. Additionally, it is possible to select the
    <img border="0" width="22" height="22" id="Imagen 122" src="iata/images/image143.jpg" /> of each document and, once
    it turns into <img border="0" width="22" height="22" id="Imagen 123" src="iata/images/image144.jpg" />, the
    following is displayed at the top of the table:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-indent: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" src="iata/images/refund-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <i
    ><span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: &quot;Mark as&quot; bar.</span></i
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.75in; text-indent: 0in">
  <span lang="EN-GB"
    >Then, simply click on <img border="0" width="98" height="30" id="Imagen 125" src="iata/images/image146.jpg" /> and
    select “Mark as Read” or “Mark as Unread”.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Archived documents are displayed under the “Archive” tab. It is possible to archive documents by means of the
    <img border="0" width="22" height="22" id="Imagen 126" src="iata/images/image147.jpg" /> and
    <img border="0" width="98" height="30" id="Imagen 127" src="iata/images/image148.jpg" />, same as described above.
    <a name="_Hlk53568017"
      >Archived documents may be moved back to Active by following the same steps by clicking on the “Move to Active”
      action.</a
    ></span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted documents are displayed under the “Deleted” tab.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If a RA/RN was deleted, the user can track its history (status and the user information who deleted the RA or RN)
    by clicking on <img border="0" width="22" height="22" id="Imagen 126" src="iata/images/image147.jpg" /> and then on
    "Activity”.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Then a modal window will pop up indicating the history of the Refund, the Airline Code, User and email.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 0.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Just clicking next to “Show“ the user will see the options: “All”, “Workflow Events”, “Comments” and “Attachments”
    (“All” will be the option by default).</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to download the attachments of one or several items at a time of the Refund Application or the
    Refund Notice options. Once the items are selected, click on the
    <img border="0" width="98" height="30" id="Imagen 127" src="iata/images/image148.jpg" /> button displayed and select
    “Download Attachments”. The attachments can be downloaded from the “Active” and the “Archive” tabs.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to add a comment for one or several items at a time in the ‘Active’ tab of the Refund Application
    option following the steps explained above but selecting the ‘Comment’ action.
  </span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to display the main details of a document by clicking on its details on the table (except for the
    Document Number, which displays its detailed view):</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="639" height="83" id="Imagen 135" src="iata/images/image150.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <i><span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: RA/RN main details.</span></i>
</p>
