@import 'theme/variables/index';

:host {
  .card {
    background: $gray-subtle;
    padding: $spacing-xl;

    .card-title {
      padding-bottom: $spacing-xl;
    }

    .top-info {
      display: flex;
      justify-content: space-between;

      .sections {
        .link:only-child {
          color: $gray-deep !important;
          cursor: text;
        }
      }

      h4 {
        margin-bottom: $spacing-xs;
      }

      .extra-info {
        .value {
          color: $gray-deep;
        }
      }
    }

    .dashboard {
      margin: $spacing-l 0;
    }

    ::ng-deep .link {
      &.active {
        padding-bottom: $spacing-xxxs;
        border-bottom: 1px solid;
      }

      & + .link {
        margin-left: $spacing-xl;
      }
    }
  }
}
