<div class="card">
  <h3 class="card-title" *ngIf="title">{{ title }}</h3>
  <div class="top-info">
    <div class="sections">
      <h4 class="title" *ngIf="sectionsTitle">{{ sectionsTitle }}</h4>
      <div>
        <span
          *ngFor="let section of sections; let i = index"
          [ngClass]="{ active: section.active }"
          class="link"
          (click)="onSectionClick(i)"
          >{{ section.name }}</span
        >
      </div>
    </div>
    <div class="extra-info">
      <h4 class="title" *ngIf="paramTitle">{{ paramTitle }}</h4>
      <div class="value">
        {{ paramValue | bsplEmpty }}
      </div>
    </div>
  </div>
  <div class="dashboard">
    <ng-container *ngFor="let section of sections">
      <bspl-bar-chart
        *ngIf="section.active"
        [data]="section.barChart.data"
        [title]="section.barChart.title"
        [legend]="section.barChart.legend"
        [type]="section.barChart.type"
        [stacked]="section.barChart.stacked"
      ></bspl-bar-chart>
    </ng-container>
  </div>
  <div class="footer">
    <span class="link" *ngIf="showSeeAll" (click)="onSeeAllClick()">See all</span>
    <span class="link" *ngIf="showDownload" (click)="onDownloadClick()">Download</span>
  </div>
</div>
