@import 'theme/variables/index';

:host {
  bspl-list-view ::ng-deep {
    .list-view-action-bar .list-view-action-bar-content {
      align-items: baseline;
    }
  }

  .title-items {
    color: $gray-deep;
    font-size: $font-size-l;
  }
}
