<bspl-list-view
  [title]="'MENU.files.specialFiles.title' | translate"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="userType"
          [label]="'MENU.files.specialFiles.filters.userType.title' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.userType' | translate"
          [options]="userTypesOptions"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="account"
          [label]="'MENU.files.specialFiles.filters.account.title' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.account' | translate"
          [options]="accountOptions"
          [multiple]="true"
        ></bspl-select>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="organisation"
          [label]="'MENU.files.specialFiles.filters.organisation' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.organisation' | translate"
        ></bspl-input>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="filename"
          [label]="'MENU.files.specialFiles.filters.filename' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.filename' | translate"
        ></bspl-input>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="fileUploadTime"
          [label]="'MENU.files.specialFiles.filters.fileUploadTime' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.fileUploadTime' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="emailSubmittedAddress"
          [label]="'MENU.files.specialFiles.filters.emailSubmittedAddress' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.emailSubmittedAddress' | translate"
        ></bspl-input>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="emailDateTime"
          [label]="'MENU.files.specialFiles.filters.emailDateTime' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.emailDateTime' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="fileRead"
          [label]="'MENU.files.specialFiles.filters.fileRead.title' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.fileRead' | translate"
          [options]="fileReadOptions"
        ></bspl-select>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="readTimestamp"
          [label]="'MENU.files.specialFiles.filters.readTimestamp' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.readTimestamp' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="readUser"
          [label]="'MENU.files.specialFiles.filters.readUser' | translate"
          [placeholder]="'MENU.files.specialFiles.placeholders.readUser' | translate"
        ></bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
