<bspl-alert-message
  class="message"
  [message]="'LIST.MASTER_DATA.currencyConversion.messages.infoMessage' | translate"
  type="info"
></bspl-alert-message>

<bspl-list-view
  [title]="'LIST.MASTER_DATA.currencyConversion.title' | translate"
  [filterFormatter]="displayFormatter"
  [hasFiltering]="true"
  [query]="query$ | async"
  [hasDownloading]="true"
  [canDownload]="hasData$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="airlines"
          [label]="'LIST.MASTER_DATA.currencyConversion.filters.labels.airlineCodeName' | translate"
          [placeholder]="'LIST.MASTER_DATA.currencyConversion.filters.placeholder.airline' | translate"
          [options]="airlineOptions$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="designators"
          [label]="'LIST.MASTER_DATA.currencyConversion.filters.labels.designator' | translate"
          [placeholder]="'LIST.MASTER_DATA.currencyConversion.filters.placeholder.designator' | translate"
          [options]="designatorOptions$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="status"
          [label]="'LIST.MASTER_DATA.currencyConversion.filters.labels.status.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.currencyConversion.filters.placeholder.status' | translate"
          [options]="statusOptions"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="cutpDecimalConversion"
          [label]="'LIST.MASTER_DATA.currencyConversion.filters.labels.cutpDecimalConversion.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.currencyConversion.filters.placeholder.cutpDecimalConversion' | translate"
          [options]="cutpDecimalConversionOptions"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    (checkboxChange)="onModify($event)"
  ></bspl-grid-table>
</bspl-list-view>
