<ng-container *ngIf="user$ | async as user">
  <bspl-list-view
    [title]="title$ | async"
    [query]="query$ | async"
    (queryChange)="onQueryChanged($event)"
    [filterFormatter]="creditCardDocumentsFilterFormatterService"
    [hasFiltering]="true"
    [predefinedFilters]="predefinedFilters$ | async"
    [hasDownloading]="true"
    [canDownload]="hasData$ | async"
    (download)="onDownload()"
    [hasDetailedDownloading]="true"
    (detailedDownload)="onDetailedDownload()"
  >
    <form bsplListViewFilter [formGroup]="filterFormGroup">
      <div class="row">
        <div class="col-lg-12">
          <div class="highlighted-filter">
            <bspl-select
              [options]="userBspDropdownOptions$ | async"
              formControlName="isoCountryCode"
              [label]="'bsp-credit-card-documents.filters.isoCountryCode.label' | translate"
              [placeholder]="'bsp-credit-card-documents.filters.isoCountryCode.placeholder' | translate"
              [isDisabled]="!((isUserAirline$ | async) && hasLeanPermission)"
              [locked]="!((isUserAirline$ | async) && hasLeanPermission)"
              [multiple]="true"
            >
            </bspl-select>
            <span>{{ 'bsp-credit-card-documents.filters.isoCountryCode.text' | translate }}</span>
          </div>
        </div>

        <div class="col-lg-3">
          <ng-container *ngIf="isoCountryCode?.length < 2; else monthPicker">
            <bspl-period-picker
              formControlName="periods"
              [label]="'bsp-credit-card-documents.filters.periods.label' | translate"
              [placeholder]="'bsp-credit-card-documents.filters.periods.placeholder' | translate"
              [options]="periodList$ | async"
              [yearsBack]="periodPickerYearsBack"
              [multiple]="true"
            ></bspl-period-picker>
          </ng-container>
        </div>
        <ng-template #monthPicker>
          <bspl-period-picker
            formControlName="periodYearMonth"
            [label]="'bsp-credit-card-documents.filters.periodYearMonth.label' | translate"
            [placeholder]="'bsp-credit-card-documents.filters.periodYearMonth.placeholder' | translate"
            [options]="periodList$ | async"
            [multiple]="false"
            [isMonthPicker]="true"
          ></bspl-period-picker>
        </ng-template>

        <div class="col-lg-3">
          <bspl-select
            [multiple]="true"
            [options]="documentTypeList"
            formControlName="transactionCode"
            [label]="'bsp-credit-card-documents.filters.transactionCode.label' | translate"
            [placeholder]="'bsp-credit-card-documents.filters.transactionCode.placeholder' | translate"
          >
          </bspl-select>
        </div>

        <div class="col-lg-3">
          <bspl-select
            [multiple]="true"
            [options]="currencyList$ | async"
            formControlName="currencyCode"
            [label]="'bsp-credit-card-documents.filters.currencyCode.label' | translate"
            [placeholder]="'bsp-credit-card-documents.filters.currencyCode.placeholder' | translate"
          >
          </bspl-select>
        </div>

        <div class="col-lg-3">
          <bspl-input
            [label]="'bsp-credit-card-documents.filters.formOfPaymentType.label' | translate"
            formControlName="formOfPaymentType"
            [placeholder]="'bsp-credit-card-documents.filters.formOfPaymentType.placeholder' | translate"
            [minLength]="0"
            [maxLength]="2"
          >
          </bspl-input>
        </div>

        <div class="col-lg-3">
          <bspl-input
            [label]="'bsp-credit-card-documents.filters.binRange.label' | translate"
            formControlName="binRange"
            [placeholder]="'bsp-credit-card-documents.filters.binRange.placeholder' | translate"
            [minLength]="1"
            [maxLength]="6"
          >
          </bspl-input>
        </div>

        <div class="col-lg-3">
          <bspl-datepicker
            [label]="'bsp-credit-card-documents.filters.dateOfIssue.label' | translate"
            [placeholder]="'bsp-credit-card-documents.filters.dateOfIssue.placeholder' | translate"
            [selectionMode]="'range'"
            formControlName="dateOfIssue"
          ></bspl-datepicker>
        </div>

        <div class="form-group col-lg-3">
          <bspl-select
            [locked]="user?.userType === UserType.AIRLINE"
            [multiple]="true"
            [options]="airlineCodesList$ | async"
            formControlName="airlineCode"
            [label]="'bsp-credit-card-documents.filters.airlineCode.label' | translate"
            [placeholder]="'bsp-credit-card-documents.filters.airlineCode.placeholder' | translate"
            [virtualScroll]="true"
          >
          </bspl-select>
        </div>
        <div class="form-group col-lg-3">
          <bspl-select
            [locked]="user?.userType === UserType.AGENT"
            [multiple]="true"
            [options]="agentCodesList$ | async"
            formControlName="agentCode"
            [label]="'bsp-credit-card-documents.filters.agentCode.label' | translate"
            [placeholder]="'bsp-credit-card-documents.filters.agentCode.placeholder' | translate"
            [virtualScroll]="true"
          >
          </bspl-select>
        </div>
      </div>
    </form>
    <bspl-grid-table
      bsplListViewGrid
      [columns]="columns"
      [rowDetailTemplate]="rowDetailTemplate"
      [rows]="data$ | async"
      [isLoading]="loading$ | async"
    ></bspl-grid-table>
  </bspl-list-view>
</ng-container>

<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property
        label="bsp-credit-card-documents.details.agent-name.label"
        [value]="row.agent?.name"
      ></bspl-property>
      <bspl-property
        label="bsp-credit-card-documents.details.airline-name.label"
        [value]="row.airline?.localName"
      ></bspl-property>
      <bspl-property
        label="bsp-credit-card-documents.details.formOfPayment-expiryDate.label"
        [value]="row.formOfPayment?.expiryDate"
      ></bspl-property>
      <bspl-property
        label="bsp-credit-card-documents.details.documentNumber.label"
        [value]="row.documentNumber"
      ></bspl-property>
    </bspl-property-list>

    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property
        label="bsp-credit-card-documents.details.formOfPayment-invoiceDate.label"
        [value]="formatInvoiceDate(row.formOfPayment?.invoiceDate)"
      ></bspl-property>
      <bspl-property
        label="bsp-credit-card-documents.details.formOfPayment-extendedPaymentCode.label"
        [value]="row.formOfPayment?.extendedPaymentCode"
      ></bspl-property>
      <bspl-property
        label="bsp-credit-card-documents.details.formOfPayment-approvalCode.label"
        [value]="row.formOfPayment?.approvalCode"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
