<bspl-property-list class="property-list-align-right" header="document.taxes.sectionTitle">
  <label class="no-tax-label" *ngIf="taxes.length === 0">{{ 'document.taxes.noTaxLabel' | translate }}</label>
  <ng-container *ngIf="taxes.length > 0">
    <bspl-property
      *ngFor="let tax of taxes"
      [label]="tax.type"
      [value]="tax.amount | absoluteDecimal : decimalPrecision"
    ></bspl-property>
    <bspl-property
      class="property-emphasis"
      label="document.taxes.total"
      [value]="totalTaxes | absoluteDecimal : decimalPrecision"
    ></bspl-property>
  </ng-container>
</bspl-property-list>
