<bspl-spinner [isLoading]="!(isFormReady$ | async)" relativeTo="parent">
  <div class="dialog-container" [formGroup]="form">
    <div class="form-section">
      <h3 class="subtitle">{{ 'headerUserInfo.switchAccountDialog.countrySubtitle' | translate }}</h3>
      <bspl-select
        [formControl]="bspControl"
        [options]="bspDropdownOptions$ | async"
        [appendToBody]="true"
        [clearable]="false"
        [locked]="isBspSelectorLocked$ | async"
        [label]="'headerUserInfo.switchAccountDialog.countryDropdown.label' | translate"
        [placeholder]="'headerUserInfo.switchAccountDialog.countryDropdown.placeholder' | translate"
      >
      </bspl-select>
    </div>
    <div class="form-section">
      <h3 class="subtitle">{{ 'headerUserInfo.switchAccountDialog.accountSubtitle' | translate }}</h3>
      <bspl-select
        [formControl]="accountControl"
        [options]="accountDropdownOptions$ | async"
        [appendToBody]="true"
        [clearable]="false"
        [locked]="isAccountSelectorLocked$ | async"
        [label]="'headerUserInfo.switchAccountDialog.accountDropdown.label' | translate"
        [placeholder]="'headerUserInfo.switchAccountDialog.accountDropdown.placeholder' | translate"
      >
      </bspl-select>
    </div>
    <div
      *ngIf="!(isBspSelectorLocked$ | async) || !(isAccountSelectorLocked$ | async) || (isSupplantingAccount$ | async)"
      class="warning-container"
    >
      <bspl-alert-message
        type="warning"
        [message]="'headerUserInfo.switchAccountDialog.warningMessage' | translate"
      ></bspl-alert-message>
    </div>
  </div>
</bspl-spinner>
