@import 'theme/variables/index';

.dialog-container {
  .form-section {
    margin-bottom: $spacing-l;

    h3 {
      margin-bottom: $spacing-xs;
    }
  }

  .warning-container {
    margin-bottom: $spacing-xl;
  }
}
