@import 'theme/variables/index';

:host {
  display: block;
  margin: 0 $spacing-xl;

  &::ng-deep bspl-simple-table {
    .simple-table-header-cell {
      padding-top: $spacing-s;
      padding-bottom: $spacing-xxs;
      line-height: $line-height-s;
      width: 15rem;
    }

    .simple-table-header-cell.header-title {
      font-weight: normal;
    }

    .simple-table-row,
    .simple-table-header {
      border-color: transparent;
    }

    .simple-table-cell {
      color: $blue-primary;
      padding-top: 0;
      padding-bottom: $spacing-s;
      font-size: $font-size-l;
      line-height: $line-height-l;
      font-weight: $font-weight-medium;
    }

    .simple-table-row:last-child .simple-table-cell {
      padding-bottom: $spacing-s;
    }
  }
}
