@import 'theme/variables/index';

.permissions-header {
  display: flex;
  justify-content: space-between;
  margin: $spacing-xl 0;
}

.permissions-bsp-selection {
  background-color: $gray-subtle;
  display: flex;
  height: 18rem;
  justify-content: space-between;
  margin-bottom: $spacing-m;
  padding: $spacing-xl;

  > .permissions-select-container {
    flex: 0 0 25%;
  }

  > .permissions-actions {
    margin-top: 9rem;
    display: flex;
    gap: $spacing-s;
    justify-content: flex-end;
  }
}

.permissions-bsp-selected {
  background-color: $gray-subtle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: -0.6px;
  padding: $spacing-xs $spacing-s;

  .filter-label {
    color: $gray-deep-middle;
  }

  .tags-container {
    display: inline-block;

    .filter-tag {
      cursor: pointer;
    }
  }

  .clear-filter {
    color: $blue-light;
    justify-content: flex-end;
    white-space: nowrap;
    cursor: pointer;
  }
}

.permissions-img-container {
  background-color: $gray-subtle;
  padding: $spacing-xl 20% 5% 20%;

  > .permissions-img-info {
    padding-top: 7rem;
    text-align: center;
    color: $blue-primary;
  }

  > .permissions-img-please-select {
    padding-top: $spacing-xxs;
    text-align: center;
    color: $gray-deep;
  }

  > .permissions-img {
    padding-top: $spacing-xxl;
    padding-bottom: $spacing-xxl;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.permissions-container {
  background-color: $gray-subtle;
  font-size: $font-size-m;
  margin-top: $spacing-xl;
  padding: $spacing-xl 20%;
}
