<ng-container *ngIf="isMultiCountryUser">
  <div class="permissions-header">
    <h3 class="permissions-modifyPermissionsInfo">
      {{ 'subUsers.profile.permissionsTab.headerTittle' | translate }}
    </h3>
    <bspl-button
      [label]="'subUsers.profile.permissionsTab.buttons.bspFilterBtn' | translate"
      [design]="buttonDesign.Tertiary"
      [icon]="filterIcon"
      (onClick)="toggleFilter()"
    ></bspl-button>
  </div>
  <div class="permissions-bsp-selection" *ngIf="isFilterExpanded">
    <div class="permissions-select-container" [formGroup]="form">
      <bspl-select
        [options]="bspCountriesList"
        formControlName="bsp"
        [label]="'ADM_ACM.query.filters.labels.bsp' | translate"
        [placeholder]="'ADM_ACM.query.filters.placeholders.bsp' | translate"
        [isDisabled]="!bspCountriesList?.length"
        [clearable]="false"
      >
      </bspl-select>
    </div>
    <div class="permissions-actions">
      <bspl-button
        [label]="'subUsers.profile.permissionsTab.buttons.bspSearchBtn' | translate"
        [design]="buttonDesign.Primary"
        [isDisabled]="!bspSelected"
        (onClick)="searchPermissions()"
      ></bspl-button>
      <bspl-button
        [label]="'subUsers.profile.permissionsTab.buttons.bspClearBtn' | translate"
        [design]="buttonDesign.Tertiary"
        [isDisabled]="!bspSelected"
        (onClick)="clearBspSelected()"
      ></bspl-button>
    </div>
  </div>
  <div class="permissions-bsp-selected" *ngIf="!isFilterExpanded && isPermissionsSearched">
    <div>
      <span class="filter-label">{{ 'subUsers.profile.permissionsTab.filterTagLabel' | translate }}</span>
      <div class="tags-container">
        <bspl-tag
          class="filter-tag"
          [closeable]="true"
          [value]="tagValue"
          (remove)="clearBspSelected()"
          (click)="viewFilter()"
        ></bspl-tag>
      </div>
    </div>
    <span class="clear-filter" (click)="clearBspSelected()">{{
      'subUsers.profile.permissionsTab.clearTagLink' | translate
    }}</span>
  </div>
  <bspl-locked-state
    *ngIf="!isPermissionsSearched"
    [message]="'subUsers.profile.permissionsTab.modifyPermissionsInfo' | translate"
    [secondaryMessage]="'subUsers.profile.permissionsTab.modifyPermissionsPleaseSelect' | translate"
  ></bspl-locked-state>
</ng-container>
<ng-container *ngIf="isPermissionsSearched">
  <div class="permissions-container">
    <bspl-selection-list
      [canEdit]="canEditPermissions"
      [listData]="permissions$ | async"
      (selectionChange)="onPermissionChange($event)"
    ></bspl-selection-list>
  </div>
</ng-container>
<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'"> </bspl-spinner>
