<div class="dialog-container">
  <div [formGroup]="form">
    <bspl-select
      formControlName="agent"
      [appendToBody]="true"
      [virtualScroll]="true"
      [options]="agentDropdownOptions$ | async"
      [label]="'LIST.MASTER_DATA.variableRemittance.dialog.add.fields.agent.label' | translate"
      [placeholder]="'LIST.MASTER_DATA.variableRemittance.dialog.add.fields.agent.placeholder' | translate"
    ></bspl-select>
    <bspl-select
      formControlName="frequency"
      [appendToBody]="true"
      [options]="frequencyDropdownOptions$ | async"
      [label]="'LIST.MASTER_DATA.variableRemittance.dialog.add.fields.frequency.label' | translate"
      [placeholder]="'LIST.MASTER_DATA.variableRemittance.dialog.add.fields.frequency.placeholder' | translate"
    ></bspl-select>
  </div>
</div>
