<div class="row">
  <div class="col-4">
    <bspl-period-picker
      [label]="'Basic Period'"
      [range]="false"
      [options]="periods"
      [(ngModel)]="basicPeriod"
    ></bspl-period-picker>
  </div>
  <div class="col-4">
    <bspl-period-picker
      [label]="'Disabled Period'"
      [range]="false"
      [options]="periods"
      [isDisabled]="true"
      [(ngModel)]="disabledPeriod"
    ></bspl-period-picker>
  </div>
  <div class="col-4">
    <bspl-period-picker
      [label]="'Multiple months range selection'"
      [options]="periods"
      [range]="true"
      [singleMonthSelection]="false"
      [(ngModel)]="multiMonthPeriods"
    ></bspl-period-picker>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <bspl-period-picker
      [label]="'Single month range selection'"
      [options]="periods"
      [range]="true"
      [singleMonthSelection]="true"
      [(ngModel)]="singleMonthPeriods"
    ></bspl-period-picker>
  </div>
  <div class="col-4">
    <bspl-period-picker
      [label]="'Month period picker'"
      [options]="periods"
      [isMonthPicker]="true"
      [(ngModel)]="monthPeriod"
    ></bspl-period-picker>
  </div>
</div>
