<bspl-spinner [isLoading]="areOptionsLoading()" [isTransparent]="true" [color]="'primary'">
  <div class="period-picker-overlay" [class.loading]="areOptionsLoading()">
    <div class="period-picker-header">
      <bspl-icon-button
        [icon]="'keyboard_arrow_left'"
        [isDisabled]="!canNavigateToPrevious()"
        (click)="navigateToPrevious()"
      ></bspl-icon-button>

      <bspl-select
        #monthNavigator
        *ngIf="!isMonthPicker"
        class="dropdown-date-navigator"
        [options]="monthOptions"
        [clearable]="false"
        [value]="periodPickerStrategy?.visibleDate.getMonth().toString()"
        [modes]="[selectMode.Small]"
        (change)="onDateDropdownNavigatorChange(yearNavigator.value, $event.value)"
        (click)="$event.stopPropagation()"
      ></bspl-select>
      <bspl-select
        #yearNavigator
        class="dropdown-date-navigator"
        [options]="yearOptions"
        [clearable]="false"
        [value]="periodPickerStrategy?.visibleDate.getFullYear().toString()"
        [modes]="[selectMode.Small]"
        (change)="onDateDropdownNavigatorChange($event.value, monthNavigator?.value)"
        (click)="$event.stopPropagation()"
      ></bspl-select>

      <bspl-icon-button
        [icon]="'keyboard_arrow_right'"
        [isDisabled]="!canNavigateToNext()"
        (click)="navigateToNext()"
      ></bspl-icon-button>
    </div>
    <div class="period-picker-title">
      {{ periodPickerStrategy?.title | translate }}
    </div>
    <div class="period-items-container" [class.period-months-container]="isMonthPicker">
      <ng-container *ngTemplateOutlet="isMonthPicker ? periodMonthList : periodList"></ng-container>
    </div>
    <div class="period-picker-footer">
      <span class="link" (click)="navigateToCurrentPeriod()">
        {{ periodPickerStrategy?.currentDateLinkTitle | translate }}
      </span>
    </div>
  </div>
</bspl-spinner>

<ng-template #periodList>
  <div
    #periodElement
    class="period-item"
    *ngFor="let option of visibleOptions[0]?.periods"
    [class.selected]="isOptionSelected(option)"
    [class.within-range]="isBetweenSelectedRange(option)"
    [class.within-range-hover]="isWithinHoverRange(option)"
    [class.current-period]="currentPeriod?.period === option.period"
    [class.period-item-disabled]="option.disabled"
    (mouseenter)="hoveredOption = option"
    (mouseleave)="hoveredOption = null"
    (click)="onSelectPeriod(option)"
  >
    <div class="period-value">{{ getPeriodPlaceholder(option.period) }}</div>
    <div class="period-range">
      <span>
        {{ option.dateFrom | date : dateFormat }}
        -
        {{ option.dateTo | date : dateFormat }}
      </span>
      <span class="days">
        {{ getDaysInPeriodPlaceholder(option) }}
      </span>
    </div>
  </div>
  <div class="no-periods-message" *ngIf="visibleOptions && visibleOptions[0]?.periods?.length === 0">
    {{ 'periodPicker.noDefinedPeriodsMsg' | translate }}
  </div>
</ng-template>

<ng-template #periodMonthList>
  <div
    #periodElement
    class="month-period-item"
    *ngFor="let monthOption of visibleOptions"
    [class.selected]="isMonthOptionSelected(monthOption)"
    [class.current-period]="isCurrentMonthPeriod(monthOption)"
    [class.month-period-item-disabled]="!isMonthOptionSelectable(monthOption)"
    (click)="onSelectMonth(monthOption)"
  >
    {{ monthOption.month | date : 'MMM' }}
  </div>
</ng-template>
