@import 'theme/variables/index';

:host {
  border-radius: $border-radius-large;
  background-color: $white;
  box-shadow: $shadow-z-3;
}

.period-picker-overlay {
  font-size: $font-size-m;
  width: 32.5rem;
  padding: $spacing-m $spacing-xl $spacing-xl;

  &.loading {
    opacity: 0.15;

    .period-items-container {
      min-height: 7rem;
    }
  }

  .period-picker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-xxs 0;
    margin-bottom: $spacing-xs;

    ::ng-deep bspl-select.dropdown-date-navigator {
      ng-select {
        user-select: none;

        .ng-select-container {
          height: 3rem;
        }

        .ng-select-container:hover {
          background-color: hover-color($white);
        }

        .ng-value-label {
          font-size: $font-size-l;
          line-height: $line-height-l;
          font-weight: $font-weight-medium;
        }

        &:not(.ng-select-opened) .ng-arrow {
          border-color: $blue-primary transparent transparent !important;
        }

        &.ng-select-opened .ng-arrow {
          border-color: transparent transparent $blue-primary !important;
        }

        .ng-dropdown-panel-items {
          .ng-option {
            text-overflow: clip;
          }
        }
      }
    }
  }

  .period-picker-title {
    color: $gray-deep;
    padding: $spacing-xxs;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
  }

  .period-items-container {
    border-top: 1px solid $gray-neutral;
    color: $blue-primary;
    overflow-y: auto;
    max-height: 40rem;

    .period-item {
      display: flex;
      justify-content: space-between;
      margin-top: 0.2rem;
      border-radius: $border-radius-small;
      background-color: $gray-subtle;
      padding: (2 * $spacing-xxxs) 0;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        background-color: hover-color($gray-subtle);
      }

      &.period-item-disabled {
        background-color: $gray-subtle;
        color: $gray-middle;
        border-color: transparent;
        cursor: default;

        .period-value {
          border-color: $gray-middle;
        }

        .days {
          color: $gray-middle;
        }
      }

      &.within-range,
      &.within-range-hover {
        background-color: $yellow-active;

        &:hover {
          background-color: hover-color($yellow-active);
        }
      }

      .period-value {
        padding: 0 $spacing-xs;
        font-weight: bold;
        border-right: 1px solid $gray-deep;
      }

      .period-range {
        padding: 0 $spacing-xs;
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
      }

      .days {
        color: $gray-deep;
      }
    }

    .selected {
      background-color: $yellow;

      &:hover {
        background-color: hover-color($yellow);
      }
    }

    .current-period:not(.selected) {
      border: 1px solid $blue-primary;
      border-radius: $border-radius-small;
    }

    .no-periods-message {
      padding: $spacing-xs 0;
      color: $gray-dark;
      line-height: $line-height-m;
    }
  }

  .period-months-container {
    padding-top: 1px;
    display: flex;
    flex-wrap: wrap;

    .month-period-item {
      padding: $spacing-xxs 0;
      border: 1px solid transparent;
      border-radius: $border-radius-small;
      line-height: 2.4rem;
      width: 6.4rem;
      text-align: center;
      margin: 1px;
      cursor: pointer;

      &:not(.selected):hover {
        &:not(.month-period-item-disabled) {
          background-color: hover-color($white);
        }
      }

      &.month-period-item-disabled {
        color: $gray-middle;
        cursor: default;
      }
    }
  }

  .period-picker-footer {
    margin-top: $spacing-s;
  }
}
