<div class="tip-local-airline-header">
  <h3>{{ 'menu.masterData.configuration.tipSettings.tipLocal.sectionTitle' | translate }}</h3>
</div>
<div class="tip-local-airline-container">
  <div class="section-label">
    <h4>{{ 'menu.masterData.configuration.tipSettings.tipLocal.section.sectionMainlabel' | translate }}</h4>
  </div>
  <ng-container [formGroup]="form">
    <div [formGroupName]="productCountryLevelConsentRule">
      <div class="row tip-consents">
        <div class="col-6">
          <span class="item-label">{{
            'menu.masterData.configuration.tipSettings.tipLocal.section.label' | translate
          }}</span>
        </div>
        <div class="col-6">
          <bspl-select
            formControlName="type"
            [options]="tipLocalConsentsOptions"
            [placeholder]="selectPlaceholder | translate"
            [clearable]="false"
          ></bspl-select>
        </div>
      </div>
      <div class="row recovery-params" [hidden]="isCostRecoveryParamsHidden" [formGroupName]="costRecovery">
        <div class="col-4">
          <bspl-select
            formControlName="type"
            [options]="tipLocalCostRecoveryOptions"
            [placeholder]="selectPlaceholder | translate"
            [label]="'menu.masterData.configuration.tipSettings.tipLocal.costRecovery.labels.type' | translate"
            [clearable]="false"
          ></bspl-select>
        </div>
        <div class="col-4">
          <bspl-select
            [options]="currenciesOptions$ | async"
            formControlName="currency"
            [placeholder]="selectPlaceholder | translate"
            [label]="'menu.masterData.configuration.tipSettings.tipLocal.costRecovery.labels.currency' | translate"
            [clearable]="false"
            [locked]="isCurrencyLocked"
          >
          </bspl-select>
        </div>
        <div class="col-4">
          <bspl-input
            formControlName="amount"
            [placeholder]="amountPlaceholder | translate"
            [label]="costRecoveryLabel | translate"
            [maxLength]="8"
          ></bspl-input>
        </div>
      </div>
    </div>
  </ng-container>
</div>
