@import 'theme/variables/index';

.tip-local-airline-header {
  padding-top: $spacing-m;
  padding-bottom: $spacing-xxl;
}

.tip-local-airline-container {
  background-color: $gray-subtle;
  padding: $spacing-l $spacing-xxxxl;

  .section-label {
    padding-bottom: $spacing-xl;
    padding-top: $spacing-xl;
    border-bottom: 1px solid $gray-neutral;
  }

  .tip-consents {
    padding-top: $spacing-s;
  }

  .recovery-params {
    clear: both;
    padding: $spacing-xl 0 0 0;
  }
}
