<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'">
  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item
      class="sub-user-access-section"
      [title]="'subUsers.profile.propertiesTab.labels.accordionProperties' | translate"
      [open]="true"
    >
      <ng-container *ngTemplateOutlet="propertiesTemplate"></ng-container>
    </bspl-accordion-item>
    <bspl-accordion-item
      class="sub-user-access-section"
      [title]="'subUsers.profile.propertiesTab.labels.countriesAccess' | translate"
      [open]="true"
      *ngIf="isMultiCountryUser"
    >
      <ng-container *ngTemplateOutlet="countriesAccess"></ng-container>
    </bspl-accordion-item>
  </bspl-accordion>

  <ng-template #countriesAccess>
    <h3 class="sub-user-access-title">
      {{ 'subUsers.profile.propertiesTab.labels.accordionCountry' | translate
      }}<span class="list-total-items">{{ totalItemsMessage }}</span>
    </h3>
    <p class="sub-user-access-message">
      {{ 'subUsers.profile.propertiesTab.labels.countriesAccessmessage' | translate }}
    </p>
    <bspl-checkbox
      class="sub-user-access-checkbox"
      [checked]="isAllCountriesChecked"
      [label]="'subUsers.profile.propertiesTab.checkboxAllCountriesLabel' | translate"
      [isDisabled]="isAllCountriesDisabled"
      (stateChange)="onAllCountriesCheckBoxChange($event)"
    ></bspl-checkbox>
    <bspl-grid-table
      [columns]="countriesColumns"
      [rows]="countries"
      [paging]="paging"
      [sorting]="sorting"
      [hasOwnSorting]="true"
      [isLoading]="loading$ | async"
      (checkboxChange)="onCountryCheckBoxChange($event)"
    ></bspl-grid-table>
  </ng-template>

  <ng-template #propertiesTemplate>
    <div class="sub-user-properties-container">
      <div class="row row-with-separators m-0" [formGroup]="form">
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.general' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-property
              label="subUsers.profile.propertiesTab.labels.userType"
              [value]="userTypeLabel | translate"
            ></bspl-property>
            <bspl-property *ngIf="showCodeName" [label]="codeNameLabel" [value]="codeNameValue"> </bspl-property>
            <bspl-property
              *ngIf="!isCreatingHosu"
              label="subUsers.profile.propertiesTab.labels.status"
              [value]="statusLabel | translate"
            ></bspl-property>
            <bspl-property
              *ngIf="!isCreatingHosu"
              label="subUsers.profile.propertiesTab.labels.registerDate"
              [value]="subUser?.registerDate | dateTimeFormat : 'date'"
            ></bspl-property>
            <bspl-property
              *ngIf="!isCreatingHosu"
              label="subUsers.profile.propertiesTab.labels.expiryDate"
              [value]="subUser?.expiryDate | dateTimeFormat : 'date'"
            ></bspl-property>
          </bspl-property-list>
          <div class="row details-item details-info" *ngIf="!isUserActive && !isCreatingHosu">
            <div class="col-md-12 details-link">
              <span class="link" (click)="changeUserStatus()">
                {{ 'subUsers.profile.propertiesTab.labels.reactivateUser' | translate }}
              </span>
            </div>
          </div>
          <div class="row details-item details-info" *ngIf="isUserActive && !isCreatingHosu">
            <div class="col-md-12 details-link">
              <span class="link" (click)="changeUserStatus()">
                {{ 'subUsers.profile.propertiesTab.labels.deactivateUser' | translate }}
              </span>
            </div>
          </div>
          <div *ngIf="canEditTemplate">
            <div class="row mt-4">
              <div class="col-md-12">
                <h3 class="sub-section-title">
                  {{ 'subUsers.profile.propertiesTab.labels.template' | translate }}
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <bspl-select
                  [label]="'subUsers.profile.propertiesTab.labels.template' | translate"
                  [options]="templateOptions"
                  [clearable]="false"
                  [placeholder]="templateLabel | translate"
                  formControlName="template"
                  [locked]="isTemplateLocked"
                ></bspl-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 sub-section">
          <div class="row">
            <div class="col-md-12">
              <h3 class="sub-section-title">
                {{ 'subUsers.profile.propertiesTab.labels.contactDetails' | translate }}
              </h3>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                formControlName="portalEmail"
                [maxLength]="200"
                [label]="'subUsers.profile.propertiesTab.labels.portalEmail' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                [maxLength]="49"
                formControlName="name"
                [label]="'subUsers.profile.propertiesTab.labels.name' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                [maxLength]="30"
                formControlName="organization"
                [label]="'subUsers.profile.propertiesTab.labels.organization' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                [maxLength]="15"
                formControlName="telephone"
                [label]="'subUsers.profile.propertiesTab.labels.telephone' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
        </div>
        <div class="col-md-4 sub-section">
          <div class="row">
            <div class="col-md-12">
              <h3 class="sub-section-title">
                {{ 'subUsers.profile.propertiesTab.labels.addressDetails' | translate }}
              </h3>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                [maxLength]="26"
                formControlName="country"
                [label]="'subUsers.profile.propertiesTab.labels.country' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                [maxLength]="30"
                formControlName="city"
                [label]="'subUsers.profile.propertiesTab.labels.city' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-12">
              <bspl-input
                [maxLength]="30"
                formControlName="address"
                [label]="'subUsers.profile.propertiesTab.labels.address' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
          <div class="row details-item">
            <div class="col-md-5">
              <bspl-input
                [maxLength]="10"
                formControlName="postCode"
                [label]="'subUsers.profile.propertiesTab.labels.postCode' | translate"
                [locked]="!isUserActive"
              ></bspl-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</bspl-spinner>
