<bspl-list-view
  [title]="listTitle"
  [isInTab]="true"
  [noticeMessage]="noticeMessage"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [filterFormatter]="displayFormatter"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (download)="onDownload()"
  (queryChange)="onQueryChanged($event)"
>
  <ng-container bsplListViewTitle *ngIf="!(loading$ | async) && hasUpdatePermission">
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-split-button
        [mainOption]="toolbarButtonOptions.mainOption"
        [options]="toolbarButtonOptions.options"
        [design]="btnDesign.Tertiary"
      ></bspl-split-button>
    </bspl-table-selection-toolbar>
  </ng-container>

  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="highlighted-filter" *ngIf="hasLeanPermission || isIataUser">
      <bspl-select
        formControlName="bsps"
        [options]="bspList$ | async"
        [label]="'TIP.cards.filters.bsps.label' | translate"
        [placeholder]="'TIP.cards.filters.bsps.placeholder' | translate"
        [multiple]="true"
        [virtualScroll]="true"
        (change)="loadAgentByBsp($event)"
      ></bspl-select>
      <span>{{ 'TIP.cards.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div *ngIf="isAirlineUser || isIataUser" class="form-group col-md-3">
        <bspl-select
          formControlName="agent"
          [multiple]="true"
          [virtualScroll]="true"
          [options]="agentDropdownOptions$ | async"
          [label]="'TIP.cards.filters.agent.label' | translate"
          [placeholder]="'TIP.cards.filters.agent.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="status"
          [options]="statusDropdownOptions"
          [label]="'TIP.cards.filters.status.label' | translate"
          [placeholder]="'TIP.cards.filters.status.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="fromCardNumber"
          [label]="'TIP.cards.filters.fromCardNumber.label' | translate"
          [placeholder]="'TIP.cards.filters.fromCardNumber.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div *ngIf="!isIataUser" class="form-group col-md-3">
        <bspl-input
          formControlName="toCardNumber"
          [label]="'TIP.cards.filters.toCardNumber.label' | translate"
          [placeholder]="'TIP.cards.filters.toCardNumber.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div *ngIf="!isIataUser" class="form-group col-md-3">
        <bspl-input
          formControlName="expiryDate"
          [label]="'TIP.cards.filters.expiryDate.label' | translate"
          [placeholder]="'TIP.cards.filters.expiryDate.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="issuerName"
          [label]="'TIP.cards.filters.issuerName.label' | translate"
          [placeholder]="'TIP.cards.filters.issuerName.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="paymentNetwork"
          [label]="'TIP.cards.filters.paymentNetwork.label' | translate"
          [placeholder]="'TIP.cards.filters.paymentNetwork.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div *ngIf="!isIataUser" class="form-group col-md-3">
        <bspl-select
          formControlName="cardType"
          [multiple]="true"
          [options]="cardTypeDropdownOptions"
          [label]="'TIP.cards.filters.cardType.label' | translate"
          [placeholder]="'TIP.cards.filters.cardType.placeholder' | translate"
        ></bspl-select>
      </div>
      <div *ngIf="!isIataUser" class="form-group col-md-3">
        <bspl-input
          formControlName="companyName"
          [label]="'TIP.cards.filters.companyName.label' | translate"
          [placeholder]="'TIP.cards.filters.companyName.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div *ngIf="isAirlineUser" class="form-group col-md-3">
        <bspl-select
          formControlName="cardLevelConsentType"
          [multiple]="true"
          [options]="consentTypeDropdownOptions"
          [label]="'TIP.cards.filters.cardLevelConsentType.label' | translate"
          [placeholder]="'TIP.cards.filters.cardLevelConsentType.placeholder' | translate"
        ></bspl-select>
      </div>
      <div *ngIf="!isIataUser" class="form-group col-md-3">
        <bspl-datepicker
          formControlName="effectiveFrom"
          [selectionMode]="'range'"
          [label]="'TIP.cards.filters.effectiveFrom.label' | translate"
          [placeholder]="'TIP.cards.filters.effectiveFrom.placeholder' | translate"
        ></bspl-datepicker>
      </div>
      <div *ngIf="!isIataUser" class="form-group col-md-3">
        <bspl-datepicker
          formControlName="effectiveTo"
          [selectionMode]="'range'"
          [label]="'TIP.cards.filters.effectiveTo.label' | translate"
          [placeholder]="'TIP.cards.filters.effectiveTo.placeholder' | translate"
        ></bspl-datepicker>
      </div>

      <div *ngIf="isAgentUser" class="form-group col-md-3">
        <bspl-select
          formControlName="terminationReason"
          [multiple]="false"
          [options]="terminationReasonDropdownOptions"
          [label]="'TIP.cards.filters.terminationReason.label' | translate"
          [placeholder]="'TIP.cards.filters.terminationReason.placeholder' | translate"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="data$ | async"
    [rowClassesModifier]="rowClassesModifier"
    [isLoading]="loading$ | async"
    [rowDetailTemplate]="isAirlineUser ? rowAirlineDetailTemplate : null"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionClick)="onActionClick($event)"
    (checkboxChange)="onRowsSelectionChange($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Airline Details Row Template -->
<ng-template #rowAirlineDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property label="TIP.cards.list.rowDetails.agentNameLbl" [value]="row.agent.name"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property
        label="TIP.cards.list.rowDetails.registerDateLbl"
        [value]="row.effectiveFrom | dateTimeFormat : 'date'"
      ></bspl-property>
      <bspl-property
        label="TIP.cards.list.rowDetails.terminationDateLbl"
        [value]="row.effectiveTo | dateTimeFormat : 'date'"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
