<div class="locked-state-container">
  <h2 class="locked-state-message-info">
    {{ message }}
  </h2>
  <h4 class="locked-state-secondary-message-info" *ngIf="secondaryMessage">
    {{ secondaryMessage }}
  </h4>

  <img src="assets/images/users/sub-user-permissions.svg" class="locked-state-image" alt="Sub User Permissions" />
</div>
