@import 'theme/variables/index';

:host {
  .locked-state-container {
    background-color: $gray-subtle;
    padding: $spacing-xl 20% 5% 20%;

    > .locked-state-message-info {
      padding-top: 7rem;
      text-align: center;
      color: $blue-primary;
    }

    > .locked-state-secondary-message-info {
      padding-top: $spacing-xxs;
      text-align: center;
      color: $gray-deep;
    }

    > .locked-state-image {
      padding-top: $spacing-xxl;
      padding-bottom: $spacing-xxl;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
