<header class="text-content">
  <span>{{ 'access-permissions.dialog.subheader' | translate }}</span>
</header>

<form [formGroup]="formGroup">
  <bspl-select
    [options]="options"
    formControlName="userType"
    [label]="'access-permissions.dialog.form.userType.label' | translate"
    [clearable]="false"
  ></bspl-select>
</form>
