@import 'theme/variables/index';

:host {
  .text-content {
    margin-bottom: $spacing-m;
    color: $gray-deep;
    font-size: 1.4rem;
  }

  form {
    bspl-select {
      margin-bottom: #{$spacing-xxxxl * 2};

      &.control--open {
        padding-bottom: #{$spacing-xxxxl * 4};
      }
    }
  }
}
