<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >This option displays all the ACM requests issued by Agents. The information is distributed as in </span
  ><span lang="EN-GB">6.2.2.1 ACM</span
  ><span lang="EN-GB"
    ><u>.</u> By clicking on the ACM number, it is possible to display it and approve or reject it.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-bottom: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="192" id="Imagen 80" src="iata/images/image119.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query ACM Request.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The possible status of an ACM Request are:</span></p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorized Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Rejected Request</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Similar to the </span><span lang="EN-GB">6.2.2.1 ACM</span
  ><span lang="EN-GB">
    option, this option displays the information under the “Active” and “Deleted” tabs. Besides, the information may be
    filtered or downloaded as well.
  </span>
</p>
