<p class="MsoNormal">
  <span lang="EN-GB"
    >IATA Users may query, issue and dispute Agency Credit Memos (ACMs), that is, amounts credited to Airlines in favour
    of Agents.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="383" height="274" id="Imagen 77" src="iata/images/image092.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ACM option.</span>
</p>
