<p class="BodyText" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >This option leads to the list of all the issued ACMs by the operating Airline in a given BSP. The following table
    is displayed when the IATA users click on this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="192" id="Imagen 79" src="iata/images/image093.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451430"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Query ACM.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB">ACMs are listed in a table which shows the following fields per document:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">ISO Code of the BSP Territory.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >the status of the ACM is accompanied by an icon showing whether it has been sent to the DPC (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 78" src="iata/images/image094.jpg" /></span
  ><span lang="EN-GB">), not sent yet (</span
  ><span lang="EN-GB"><img border="0" width="46" height="15" id="Imagen 149" src="iata/images/image095.jpg" /></span
  ><span lang="EN-GB">), or will not be sent (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 150" src="iata/images/image096.jpg" /></span
  ><span lang="EN-GB">). Possible statuses are:</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Disputed</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Approved</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Rejected</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deactivated</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted (displayed under the “Deleted” tab)</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Billing Disputed</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Pending Authorization: it is possible to display an ADM which has been sent for Authorization and modify any data,
    if necessary.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 151" src="iata/images/image097.jpg" /></span
  ><b><span lang="EN-GB">: </span></b
  ><span lang="EN-GB">this icon allows the IATA User to dispute the ACM and to view its details.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Some of these fields include the
    <img border="0" width="22" height="22" id="Imagen 155" src="iata/images/image098.jpg" /> icon, which allows ordering
    the ADM list according to that field, in a descending or ascending way.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Information about ACMs is displayed under three main tabs: Active Archived and Deleted (please refer to section
    6.2.1 ADM for further information about it).</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The <img border="0" width="82" height="30" id="Imagen 663" src="iata/images/image099.jpg" /> button allows
    displaying the information filtered according to different criteria. </span
  ><span lang="EN-GB">By default, no filter is applied:</span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="182" id="Imagen 179" src="iata/images/image100.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451431"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: ACM Query filter.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 665" src="iata/images/image101.jpg" /></span
  ><span lang="EN-GB">
    button allows the user to download the results in CSV or TXT format. It is possible to perform a detailed download
    by clicking on the
    <img border="0" height="30" id="Imagen 665" src="iata/images/icon-arrow-down-blue.jpg" /> icon. </span
  ><span lang="EN-GB" style="color: #172b4d"> </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  ACM detailed view
</p>

<p class="MsoNormal" style="margin-top: 6pt">
  <span lang="EN-GB"
    >In order to check a given ACM detailed view, it is necessary to click on the ADM number or the
    <img border="0" width="22" height="22" id="Imagen 666" src="iata/images/image102.jpg" /> icon on the row of that ADM
    from the Query ACM view:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img
      border="0"
      width="645"
      height="94"
      id="Imagen 224"
      src="iata/images/image103.jpg"
      alt="Captura de pantalla de un celular&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Toc26451432"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: How to check ACM details.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The number leads directly to the ACM detailed view. However, the
    <img border="0" width="22" height="22" id="Imagen 716" src="iata/images/image104.jpg" /> icon displays two options.
    It is necessary to click on “Details”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="198" height="301" id="Imagen 668" src="iata/images/image044.png" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451433"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: ACM details.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">Once clicked, the ACM detailed view gets displayed on a new tab:</span></p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="224" id="Imagen 229" src="iata/images/image105.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451434"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: ACM detailed view.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The ACM detailed view is divided into four main sections: “ACM Header”, “Basic information”, “Details” and “Amount
    and Tax”.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ACM Header
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB">The table at the top of the ACM detailed view contains its most prominent data:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="47" id="Imagen 742" src="iata/images/image106.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451435"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: ACM Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >It is possible to expand or collapse the whole form at once, or simply jump to one of the other sections (“Basic
    Information”, “Details” or “Amount and Tax”):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: 150%;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="46" id="Imagen 744" src="iata/images/image107.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451436"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Expand other ACM sections.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ACM Basic Information
</p>

<p class="MsoNormal" style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in">
  <span lang="EN-GB"
    >The ACM Basic Information contains the relevant data concerning the operating Airline and the Agent involved in the
    ACM.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="447" id="Imagen 745" src="iata/images/image108.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451437"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: ACM Basic Information.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The Basic Information is divided into the following sections:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM General Data: </span></b><span lang="EN-GB">as stated on ACM data above:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Information: </span></b
  ><span lang="EN-GB">the following information concerning the Airline issuing the ACM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline phone number and address: </span></b
  ><span lang="EN-GB"
    >these details are available once the IATA user clicks on “Show Details”. Similarly, these can be collapsed by
    clicking on “Hide Details”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Information: </span></b
  ><span lang="EN-GB">the following information concerning the Agent receiving the ACM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent phone number and address: </span></b
  ><span lang="EN-GB"
    >these details are available once the User clicks on “Show Details”. Similarly, these can be collapsed by clicking
    on “Hide Details”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Contact: </span></b
  ><span lang="EN-GB">the following details concerning the Airline contact in charge of the ACM are displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Telephone/Fax</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">E-mail address</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM Properties: </span></b
  ><span lang="EN-GB">the following ACM properties are indicated in under the ACM Basic Information:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMA for: </span></b><span lang="EN-GB">“Issue”, “Refund”, “Exchange” or “EMD”</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b><span lang="EN-GB">domestic or international.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net Reporting option</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The Details section includes the motivation for the ACM and is presented in two parts: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="638" height="185" id="Imagen 746" src="iata/images/image109.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451438"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">:  ACM Details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Details: </span></b
  ><span lang="EN-GB">the information concerning the ACM Reason is indicated in two fields:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for Issue: </span></b
  ><span lang="EN-GB"
    >it must be one of the reasons included in each BSP configuration and is limited to a maximum of 20 lines of 45
    characters each.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RMIC (Reason for memo Issuance Code)</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Documents: </span></b
  ><span lang="EN-GB">the information from the document due to which the ACM is issued is indicated as follows:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Document Number: </span></b
  ><span lang="EN-GB">there is a maximum of 490 related documents within each ACM.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, it is possible to check all the information concerning the ticket amount and the tax related to it. This
    information is indicated in two sections:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="218" id="Imagen 747" src="iata/images/image110.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451439"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: ACM Amount and Tax.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount: </span></b
  ><span lang="EN-GB"
    >the data related to Amount is presented in three columns, each of them corresponding to the Agent Input, the
    Airline Input and the Difference between them:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax, Fees and Charges</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax on Commission</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Total</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax</span></b
  ><span lang="EN-GB">: finally, there is a relation of taxes presented by their ISO codes and their amounts.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  ACM Deactivation
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >Similar to the ADMs, it is possible to deactivate ACMs which have previously been issued. Please refer to </span
  ><span lang="EN-GB">6.2.1.1 ADMA</span><span lang="EN-GB"> to review the process to deactivate an ACM.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  ACM Dispute
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is also possible to dispute an ACM from the “ACM Query option”. Once the list of ACMs is displayed, IATA users
    can dispute any of them by clicking on the
    <img border="0" width="22" height="22" id="Imagen 749" src="iata/images/image097.jpg" /> icon. This icon includes
    the following options:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="137" height="217" id="Imagen 748" src="iata/images/image111.png" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451440"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: Dispute option from ACM list.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to start a dispute, it is necessary to click on “Dispute”. Otherwise, IATA users can display the ACM
    detailed view to do so. At the top, the ACM Header of any ACM having “Pending” status includes this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="44" id="Imagen 750" src="iata/images/image112.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451441"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: Dispute ACM on ACM Header.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >At this point, it is possible to click on either “Dispute” from
    <img border="0" width="123" height="30" id="Imagen 615" src="iata/images/image113.jpg" /> button to directly get the
    Dispute modal box, or on the arrow. This arrow provides the following options, out of which it is necessary to click
    on “Dispute”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="194" height="130" id="Imagen 751" src="iata/images/image114.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451442"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: Dispute arrow options.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">All the different options to dispute an ACM lead to the following modal box:</span>
</p>

<p class="MsoNormal" align="center" style="margin-bottom: 12pt; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="380" height="402" id="Imagen 752" src="iata/images/image115.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc26451443"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">14</span
  ><span lang="EN-GB">: Dispute ACM modal box.</span>
</p>

<p class="MsoNormal" style="margin-top: 0.25in">
  <span lang="EN-GB">In order to confirm a dispute, it is necessary to complete the following fields:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Reason: </span></b
  ><span lang="EN-GB"
    >the disputing part needs to state the reason why the ADM is to be disputed<b>. </b>A predefined reason can be
    selected and edited afterwards. Otherwise, IATA users can introduce a new reason of a maximum of ten lines of 45
    characters each.
  </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact for Dispute correspondence:</span></b
  ><span lang="EN-GB">
    this contact can be an e-mail address or a phone number. The maximum length is 70 characters.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB">Both fields are mandatory. If they are not completed the system warns the user about it:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="400" id="Imagen 753" src="iata/images/image116.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451444"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: ACM Dispute modal box requirements.</span>
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >Once completed, IATA users must confirm the Dispute by clicking on
    <img border="0" width="74" height="30" id="Imagen 619" src="iata/images/image117.jpg" />. The system confirms that
    the ACM has been successfully disputed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Disputed ACM
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once an ACM has been disputed, its status changes consequently from “Pending” into “Disputed”. Also, the ACM
    detailed view includes the information concerning the dispute under “Details”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img
      border="0"
      width="646"
      height="286"
      id="Imagen 239"
      src="iata/images/image118.jpg"
      alt="Una captura de pantalla de una red social&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc26451445"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">16</span
  ><span lang="EN-GB">: Disputed ACM detailed view.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Under the ACM Issue Reason, the Dispute Reason that was indicated in the ACM Dispute modal box (Figure 66) is
    displayed. The involved Airline finds all disputed ACMs under ADM/ACM – ACMA section and must review each dispute
    details to accept or reject it.
  </span>
</p>
