<p class="MsoNormal">
  <span lang="EN-GB">Agent Credit Memo Defaults (ACMD) are amounts credited to Airlines in favour of Agents.</span>
</p>

<p class="MsoNormal" style="margin-top: 0in">
  <span lang="EN-GB"
    >This option displays the existing ACMCs on a table the same fields as under “ACM” (please refer to </span
  ><span lang="EN-GB">6.2.2.1 ACM</span><span lang="EN-GB"> for more information). </span>
</p>

<p class="MsoNormal" style="margin-top: 0in">
  <span lang="EN-GB"
    >It is possible to narrow down queries by clicking on the
    <img border="0" width="82" height="30" id="Imagen 284" src="iata/images/image134.jpg" /> button; and to download
    queries, either filtered or not, by means of the
    <img border="0" width="106" height="30" id="Imagen 285" src="iata/images/image135.jpg" />
    button.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Issue ACMD
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >IATA users with specific permissions may issue ACMDs by clicking on
    <img border="0" width="110" height="30" id="Imagen 311" src="iata/images/image136.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Similar to the issuance of ACMs, the information is divided into a Header, “ACMD Basic Information”, “Details” and
    “Amount and Tax”. Please refer to </span
  ><span lang="EN-GB">6.2.2.1 ACM</span><span lang="EN-GB"> to find out how to complete each field.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the SPCR form is completed, it is necessary to click on
    <img border="0" width="59" height="30" id="Imagen 306" src="iata/images/image137.jpg" />. The system will then
    confirm that the SPCR was successfully issued.</span
  >
</p>
