<p class="TableText">
  <span lang="EN-GB"
    >This option allows IATA users to query and manage ACNTs (non-ticket related credit memos). The information
    displayed in this option is the same as for ADMs. Please refer to </span
  ><span lang="EN-GB">6.2.2.1 ACM</span><span lang="EN-GB"> to know how to query and issue ACNTs.</span>
</p>

<p class="TableText">
  <span lang="EN-GB">Similar to the </span><span lang="EN-GB">6.2.2.1 ACM</span
  ><span lang="EN-GB">
    option, this option displays the information under the “Active” and “Deleted” tabs. Besides, the information may be
    filtered or downloaded as well.</span
  >
</p>
