<p class="MsoNormal" style="margin-bottom: 0.25in">
  <span lang="EN-GB"
    >This option displays all the ADM requests issued by Agents. The information is distributed as in </span
  ><span lang="EN-GB">6.2.1.1 ADM</span
  ><span lang="EN-GB">. By clicking on the ADM number, it is possible to display it and approve or reject it.</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="188" id="Imagen 74" src="iata/images/image091.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query ADM Request.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0in">
  <span lang="EN-GB">ADM Requests may present the following statuses:</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorized Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending Request</span>
</p>

<p class="BulletLevel2" style="margin-left: 1in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Rejected Request</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Similar to the </span><span lang="EN-GB">6.2.1.1 ADMA</span
  ><span lang="EN-GB"> option, this option allows filtering and downloading results.</span>
</p>
