<p class="BodyText">
  <span lang="EN-GB"
    >This option allows IATA Users to query, manage and issue ADMs and ACMs on behalf of any Airline and against any
    Agent belonging to the BSP the IATA User is logged in. It also includes BSP Adjustments and the option to view ADM
    Policies.</span
  >
</p>

<p class="BodyText" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="iata/images/image019.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB"><i>Figure</i></span
  ><span lang="EN-GB">1</span><span lang="EN-GB">: ADM/ACM.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In all options excepting “ADM Policies”,
    <a name="_Hlk54793523">the following layout aspects must be considered:</a></span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The existing documents are displayed on tables under each option.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Some of the fields on the tables include the
    <img border="0" width="22" height="22" id="Imagen 42" src="iata/images/image020.jpg" /> icon, which allows ordering
    the document list according to that field, in a descending or ascending way.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >This information is distributed in three main tabs: <b>Active</b>, <b>Archived</b> and <b>Deleted</b>.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Documents are displayed by default under the “Active” tab. Unread (new) documents are shown in bold type, whereas
    read (old) documents are not:
  </span>
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="iata/images/image021.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB"><i>Figure</i></span
  ><span lang="EN-GB">2</span><span lang="EN-GB">: Read vs. Unread document.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to mark Unread documents as Read ones by means of the
    <img border="0" width="22" height="22" id="Imagen 109" src="iata/images/image022.jpg" /> icon on each row and then
    select “Mark as Read” and vice-versa. Additionally, it is possible to select the
    <img border="0" width="22" height="22" id="Imagen 259" src="iata/images/image023.jpg" /> of each document and, once
    it turns into <img border="0" width="22" height="22" id="Imagen 258" src="iata/images/image024.jpg" />, the
    following is displayed at the top of the table:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-indent: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="iata/images/adm-acm-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB"><i>Figure</i></span
  ><span lang="EN-GB">3</span><span lang="EN-GB">: &quot;Options&quot; bar.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.75in; text-indent: 0in">
  <span lang="EN-GB"
    >Then, simply click on <img border="0" height="30" src="iata/images/icons-white-options.jpg" /> and select “Mark as
    Read” or “Mark as Unread”.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Archived documents are displayed under the “Archive” tab. It is possible to archive documents by means of the
    <img border="0" width="22" height="22" id="Imagen 112" src="iata/images/image027.jpg" /> and
    <img border="0" height="30" src="iata/images/icons-white-options.jpg" />, by clicking on the “Archive” action, same
    as described above.
    <a name="_Hlk53567694"
      >Archived documents may be moved back to Active by following the same steps by clicking on the “Move to Active”
      action.</a
    ></span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Deleted documents are displayed under the “Deleted” tab. Note that deleted ADMs/ACMs and other BSP adjustments
    (such as ADMDs, ACMDs, SPDRs, SPCRs, ADNTs and ACNTs) show more information, if the user clicks on it a series of
    expandable menus will show information about:</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deletion Reason</span>
</p>
<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Reason for Memo.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to download the attachments of one or several items of the ADM/ACM family at a time. Once the items
    are selected, click on the <img border="0" height="30" src="iata/images/icons-white-options.jpg" /> button displayed
    and select “Download Attachments”. Attachments can be downloaded from the “Active” and the “Archive” tabs for ADM,
    ACM and BSP Adjustments different options.</span
  >
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to display the main details of a document by clicking on its details on the table (except for the
    Document Number, which displays its detailed view):</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="iata/images/image031.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB"><i>Figure</i></span
  ><span lang="EN-GB">4</span><span lang="EN-GB">: ADM/ACM main details.</span>
</p>
