<p class="MsoNormal">
  <span lang="EN-GB"
    >IATA Users may query Agency Debit Memos (ADMs), that is, amounts debited to Agents in favour of Airlines. Three
    options are included under “ADM”: ADMA, ADNT and ADM Requests.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="383" height="272" id="Imagen 70" src="iata/images/image032.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADM option.</span>
</p>
