<p class="MsoNormal">
  <span lang="EN-GB">Agent Debit Memo Defaults (ADMD) are amounts debited to Agents in favour of the Airline. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays the existing ADMSDs on a table which contains the same fields as under “ADM” (please refer to </span
  ><span lang="EN-GB">6.2.1.1 ADM</span><span lang="EN-GB"> for more information). </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="192" id="Imagen 85" src="iata/images/image131.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center;">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query ADMD.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to narrow down queries by clicking on the
    <img border="0" width="82" height="30" id="Imagen 243" src="iata/images/image132.jpg" /> button; and to download
    queries, either filtered or not, by means of the
    <img border="0" width="106" height="30" id="Imagen 253" src="iata/images/image128.jpg" />
    button.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400;">
  Issue ADMD
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >IATA users with specific permissions can issue ADMDs by clicking on
    <img border="0" width="114" height="30" id="Imagen 309" src="iata/images/image133.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Similar to the issuance of ADMs, the information is divided into a Header, “ADMD Basic Information”, “Details” and
    “Amount and Tax”. Please refer to </span
  ><span lang="EN-GB">6.2.1.1 ADM</span><span lang="EN-GB"> to find out how to complete each field.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the ADMD form is completed, it is necessary to click on
    <img border="0" width="59" height="30" id="Imagen 283" src="iata/images/image125.jpg" />. The system will then
    confirm that the SPDR was successfully issued.</span
  >
</p>
