<p class="TableText">
  <span lang="EN-GB"
    >This option allows IATA users to query ADNTs (non-ticket related debit memos). The information displayed in this
    option is the same as for ADMs. Please refer to </span
  ><span lang="EN-GB">6.2.1.1 ADM</span
  ><span lang="EN-GB">A to know how to query and manage the information under this option.</span>
</p>

<p class="TableText" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="184" id="Imagen 71" src="iata/images/image090.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADNT List.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Similar to the </span><span lang="EN-GB">6.2.1.1 ADMA</span
  ><span lang="EN-GB"> option, this option allows filtering and downloading results.</span>
</p>
