<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows IATA Users to query any adjustments in BSP performed by IATA with concerns to a given Airline.
    These adjustments are conceived to compensate for any exception produced throughout the remittance and settlement
    process.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="383" height="426" id="Imagen 81" src="iata/images/image120.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">72</span><span lang="EN-GB">: BSP Adjustments.</span>
</p>
