<p class="MsoNormal">
  <span lang="EN-GB"
    >Settlement Plan Credit Records (SPCRs) are amounts debited to Airlines in favour of IATA (e.g. for IATA fees).
  </span>
</p>

<p class="MsoNormal" style="margin-top: 0in">
  <span lang="EN-GB"
    >This option displays the existing SPCRs on a table the same fields as under “ACM” (please refer to </span
  ><span lang="EN-GB">6.2.2.1 ACM</span><span lang="EN-GB"> for more information). </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="170" id="Imagen 83" src="iata/images/image126.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query SPCR.</span>
</p>

<p class="MsoNormal" style="margin-top: 0in">
  <span lang="EN-GB"
    >It is possible to narrow down queries by clicking on the
    <img border="0" width="82" height="30" id="Imagen 204" src="iata/images/image127.jpg" /> button; and to download
    queries, either filtered or not, by means of the
    <img border="0" width="106" height="30" id="Imagen 208" src="iata/images/image128.jpg" />
    button.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Issue SPCR
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >IATA users with specific permissions can issue SPCRs by clicking on
    <img border="0" width="109" height="30" id="Imagen 280" src="iata/images/image129.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Similar to the issuance of ACMs, the information is divided into a Header, “SPCR Basic Information”, “Details” and
    “Amount and Tax”. Please refer to </span
  ><span lang="EN-GB">6.2.2.1 ACM</span><span lang="EN-GB"> to find out how to complete each field.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the SPCR form is completed, it is necessary to click on
    <img border="0" width="59" height="30" id="Imagen 237" src="iata/images/image130.jpg" />. The system will then
    confirm that the SPCR was successfully issued.</span
  >
</p>
