<p class="MsoNormal">
  <span lang="EN-GB"
    >Settlement Plan Debit Records (SPDRs) are amounts debited to IATA in favour of the Airline (e.g. for any amount
    received by defaulted or suspended agents).
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option displays the existing SPDRs on a table which contains the same fields as under “ADM” (please refer to </span
  ><span lang="EN-GB">6.2.1.1 ADM</span><span lang="EN-GB"> for more information. </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="192" id="Imagen 82" src="iata/images/image121.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query SPDR.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to narrow down queries by clicking on the
    <img border="0" width="82" height="30" id="Imagen 186" src="iata/images/image122.jpg" /> button; and to download
    queries, either filtered or not, by means of the
    <img border="0" width="106" height="30" id="Imagen 191" src="iata/images/image123.jpg" />
    button.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Issue SPDR
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >IATA users with specific permissions can issue SPDRs by clicking on
    <img border="0" width="120" height="30" id="Imagen 278" src="iata/images/image124.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Similar to the issuance of ADMs, the information is divided into a Header, “SPDR Basic Information”, “Details” and
    “Amount and Tax”. Please refer to </span
  ><span lang="EN-GB">6.2.1.1 ADM</span><span lang="EN-GB"> to find out how to complete each field.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the SPDR form is completed, it is necessary to click on
    <img border="0" width="59" height="30" id="Imagen 279" src="iata/images/image125.jpg" />. The system will then
    confirm that the SPDR was successfully issued.</span
  >
</p>
