<bspl-list-view
  [title]="'LIST.MASTER_DATA.creditCards.viewTitle' | translate"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  [hasDownloading]="true"
  [canDownload]="hasData$ | async"
  (download)="onDownload()"
  [filterFormatter]="creditCardFilterFormatterService"
  [hasFiltering]="true"
  [hasCreating]="hasCreating"
  [customLabels]="customLabels"
  (create)="createCreditCard()"
>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.abbreviation.label' | translate"
          formControlName="abbreviation"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.abbreviation.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.name.label' | translate"
          formControlName="name"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.name.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.prefix.label' | translate"
          formControlName="prefix"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.prefix.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.longcode.label' | translate"
          formControlName="longcode"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.longcode.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.address.label' | translate"
          formControlName="address"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.address.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.locality.label' | translate"
          formControlName="locality"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.locality.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.city.label' | translate"
          formControlName="city"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.city.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.zip.label' | translate"
          formControlName="zip"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.zip.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.creditCards.filters.country.label' | translate"
          formControlName="country"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.country.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [label]="'LIST.MASTER_DATA.creditCards.filters.luhnException.label' | translate"
          formControlName="luhnException"
          [placeholder]="'LIST.MASTER_DATA.creditCards.filters.luhnException.placeholder' | translate"
          [options]="luhnExceptionOptions"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    (actionClick)="onActionClick($event)"
  ></bspl-grid-table>
</bspl-list-view>
