<label [hidden]="!label" [for]="id">{{ label }}</label>

<div class="control__wrapper">
  <div>
    <span [hidden]="!prefix">{{ prefix }}</span>
    <input
      #input
      [id]="id"
      [type]="type"
      [attr.name]="name ? name : null"
      [(ngModel)]="value"
      [ngModelOptions]="{ updateOn: updateOn }"
      [min]="min"
      [max]="max"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
      (keyup.enter)="onEnterKeyUp($event)"
      (keyup)="onKeyUp($event)"
      (keydown.space)="onSpaceKeyDown($event)"
      [attr.placeholder]="placeholder ? placeholder : null"
      [readonly]="isReadOnly || locked"
      [disabled]="isDisabled"
      [attr.tabindex]="tabindex ? tabindex : null"
      [maxlength]="maxLength"
    />
    <!-- Here there is the option to add custom icons or buttons, leaving the styling to the parent component -->
    <ng-content></ng-content>
    <i class="material-icons" [hidden]="!locked || isLoading">lock</i>
    <bspl-spinner class="loading-indicator" size="small" [isLoading]="isLoading" color="secondary"> </bspl-spinner>
  </div>
</div>

<div class="control__error">
  {{ getErrorMessage() }}
</div>
