@import 'theme/variables/index';
@import 'theme/app/custom-control';

:host {
  @include control-common();

  label {
    @include input-label();
  }

  .control__wrapper {
    > div {
      display: flex;
      align-items: center;
      gap: $spacing-xs;

      > span {
        @include input-prefix();
      }

      input {
        @include input-common();
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  &.control--locked {
    .control__wrapper {
      div {
        position: relative;

        input {
          @include input-locked();
        }

        input ~ i {
          @include input-icon();
        }
      }
    }
  }

  .loading-indicator {
    display: block;
    width: 6rem;
    position: absolute;
    right: 0;
  }

  @include control-error();
}
