<div class="wrapper row" [formGroup]="form">
  <div class="col-6">
    <ng-container *ngIf="airlineIsMulticountry">
      <h4>{{ 'TIP.productConsents.dialogs.createAgentConsent.subtitles.bsp' | translate }}</h4>
      <bspl-select
        formControlName="bsp"
        [options]="bspList"
        [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.bspId' | translate"
        [virtualScroll]="true"
      >
      </bspl-select>
    </ng-container>

    <h4>{{ 'TIP.productConsents.dialogs.createAgentConsent.subtitles.agent' | translate }}</h4>
    <bspl-select
      [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.agentCode' | translate"
      formControlName="agent"
      [options]="agentList$ | async"
      [multiple]="true"
      [virtualScroll]="true"
      [appendToBody]="true"
    >
    </bspl-select>
    <h4>{{ 'TIP.productConsents.dialogs.createAgentConsent.subtitles.provProduct' | translate }}</h4>
    <bspl-select
      [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.providerCode' | translate"
      [options]="providerList$ | async"
      [formControl]="providerControl"
      [multiple]="true"
      [virtualScroll]="true"
      [appendToBody]="true"
    >
    </bspl-select>
    <bspl-select
      [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.productCode' | translate"
      formControlName="product"
      [options]="productList$ | async"
      [multiple]="true"
      [virtualScroll]="true"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <div class="col-6">
    <h4>{{ 'TIP.productConsents.dialogs.createAgentConsent.subtitles.provProduct' | translate }}</h4>
    <bspl-select
      [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.consentType' | translate"
      formControlName="type"
      [options]="consentTypes"
      [virtualScroll]="true"
    >
    </bspl-select>
    <div [formGroup]="costRecoveryGroup">
      <bspl-radio-button-group
        formControlName="type"
        [groupName]="'costRecoveryType'"
        [options]="costRecoveryTypes"
        [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.costRecoveryType' | translate"
        [bsplTooltip]="
          (costRecoveryGroup.disabled ? 'TIP.productConsents.dialogs.createAgentConsent.tooltips.costRecoveryType' : '')
            | translate
        "
      ></bspl-radio-button-group>
      <bspl-select
        #currency
        [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.costRecoveryCurrency' | translate"
        formControlName="currency"
        [options]="currencyList$ | async"
        [virtualScroll]="true"
        [appendToBody]="true"
        [bsplTooltip]="
          (costRecoveryGroup.disabled || currency.isDisabled
            ? 'TIP.productConsents.dialogs.createAgentConsent.tooltips.currency'
            : ''
          ) | translate
        "
      >
      </bspl-select>
      <bspl-input
        formControlName="amount"
        [label]="amountLabel | translate"
        [placeholder]="amountPlaceholder | translate"
        [bsplTooltip]="
          (costRecoveryGroup.disabled ? 'TIP.productConsents.dialogs.createAgentConsent.tooltips.amount' : '')
            | translate
        "
      ></bspl-input>
    </div>
    <bspl-datepicker
      formControlName="effectiveFrom"
      [label]="'TIP.productConsents.dialogs.createAgentConsent.labels.effectiveFrom' | translate"
      [placeholder]="'TIP.productConsents.dialogs.createAgentConsent.placeholders.choose' | translate"
    ></bspl-datepicker>
  </div>
</div>
