@import 'theme/variables/index';
@import 'components/form-page/form-page';

:host {
  display: block;

  .wrapper {
    & > div:first-child {
      padding-right: calc(#{$separator-padding} / 2);
    }

    & > div:last-child {
      padding-left: calc(#{$separator-padding} / 2);
    }

    bspl-radio-button-group {
      display: block;
      margin-bottom: $spacing-s;

      ::ng-deep bspl-radio-button {
        flex: 0 0 50%;
      }
    }
  }
}
