<div class="container">
  <div class="row">
    <div class="col-md-6">
      <strong>Default toggle (without label)</strong>
      <div>
        <bspl-toggle [checked]="true" (valueChange)="onToggleChange($event)"> </bspl-toggle>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Default toggle (with label)</strong>
      <div>
        <bspl-toggle [checked]="true" [label]="'Example label'" (valueChange)="onToggleChange($event)"> </bspl-toggle>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Disabled default toggle (Checked)</strong>
      <div>
        <bspl-toggle
          [checked]="true"
          [label]="'Example label'"
          [disabled]="true"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Disabled default toggle (Unchecked)</strong>
      <div>
        <bspl-toggle
          [checked]="false"
          [label]="'Example label'"
          [disabled]="true"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Enabled toggle with default value in Label on top</strong>
      <div>
        <bspl-toggle
          [label]="'Example label'"
          [checked]="true"
          [showValueInLabel]="true"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Enabled toggle with default value in Label on right</strong>
      <div>
        <bspl-toggle
          [label]="'Example label'"
          [checked]="false"
          [showValueInLabel]="true"
          [labelPosition]="'right'"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Enabled toggle with custom value in Label on top</strong>
      <div>
        <bspl-toggle
          [label]="'Example label'"
          [checked]="true"
          [showValueInLabel]="true"
          [onLabel]="'On'"
          [offLabel]="'Off'"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Disabled toggle with custom value in Label on right</strong>
      <div>
        <bspl-toggle
          [label]="'Example label'"
          [checked]="false"
          [showValueInLabel]="true"
          [labelPosition]="'right'"
          [disabled]="true"
          [onLabel]="'On'"
          [offLabel]="'Off'"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Readonly toggle with custom value in Label on top</strong>
      <div>
        <bspl-toggle
          [label]="'Example label'"
          [checked]="true"
          [showValueInLabel]="true"
          [onLabel]="'On'"
          [offLabel]="'Off'"
          [readonly]="true"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Readonly toggle with custom value in Label on right</strong>
      <div>
        <bspl-toggle
          [label]="'Example label'"
          [checked]="false"
          [showValueInLabel]="true"
          [labelPosition]="'right'"
          [disabled]="true"
          [onLabel]="'On'"
          [offLabel]="'Off'"
          [readonly]="true"
          (valueChange)="onToggleChange($event)"
        >
        </bspl-toggle>
      </div>
    </div>
  </div>
</div>
