<div>
  <bspl-collapsable
    #contentCollapsable
    [hideHeaderIfExpanded]="true"
    [headerTemplate]="headerWithTags"
    [showCollapsableIcon]="showCollapsableIcon"
    [shouldToggleOnHeaderClick]="false"
  >
    <div class="row">
      <div class="col-md-12">
        <ng-content select="[searchPanel]"></ng-content>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="float-right action-button-container">
          <bspl-button
            class="action-button"
            [design]="buttonDesign.Tertiary"
            l10nTranslate
            [label]="canReset ? 'common.reset' : 'common.clear'"
            (onClick)="onClear()"
          >
          </bspl-button>
          <bspl-button
            [activateBubbling]="true"
            class="action-button"
            l10nTranslate
            label="common.search"
            (onClick)="onSearch()"
          ></bspl-button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showAdvancedSearchBtn">
      <button class="advanced-search-btn" (click)="toggleAdvanceSearch()">
        <span class="advanced-search-btn-text">{{ 'common.advancedSearch' | translate }}</span>
        <i class="material-icons advanced-search-btn-icon" *ngIf="!showAdvanceSearch">arrow_drop_down</i>
        <i class="material-icons advanced-search-btn-icon" *ngIf="showAdvanceSearch">arrow_drop_up</i>
      </button>
    </div>
  </bspl-collapsable>
  <ng-template #headerWithTags>
    <div class="collapsable-header">
      <div>
        <span class="filter-label">{{
          hasAppliedFilter ? ('common.filterBy' | translate) : ('common.noFiltersApplied' | translate)
        }}</span>
        <div class="tag-container" *ngFor="let filter of appliedFilters">
          <bspl-tag
            #currTag
            class="filter-tag"
            [closeable]="filter.closable"
            [value]="filter.label"
            (remove)="removeTag(filter.key)"
            (click)="onTagClick()"
          ></bspl-tag>
        </div>
      </div>
      <span class="clear-filter" *ngIf="!showCollapsableIcon" (click)="onClear()">
        {{ canReset ? ('common.resetFilters' | translate) : ('common.clearFilters' | translate) }}</span
      >
    </div>
  </ng-template>
</div>
