@import 'theme/variables/index';

.action-button {
  margin-left: $spacing-s;
}

.action-button-container {
  margin-bottom: $spacing-m;
}

.tag-container {
  display: inline-block;

  .filter-tag {
    cursor: pointer;
  }
}

.filter-label {
  font-size: $font-size-m;
  color: $gray-deep-middle;
}

.clear-filter {
  font-size: $font-size-m;
  color: $blue-light;
  justify-content: flex-end;
  white-space: nowrap;
  cursor: pointer;
}

.collapsable-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advanced-search-btn {
  background-color: $gray-deep-middle;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .advanced-search-btn-text,
  .advanced-search-btn-icon {
    height: 36px;
    line-height: 36px;
  }

  .advanced-search-btn-text {
    display: inline-block;
    vertical-align: top;
  }
}
