<div class="dialog-container" [class.dialog-container-expanded]="hasMultipleDocuments">
  <div class="text-content">
    <span>{{ 'document.enquiryDialog.textContent' | translate }}</span>
  </div>

  <div id="input-section" [formGroup]="form">
    <bspl-input
      formControlName="documentNumber"
      [label]="'document.enquiryDialog.documentNumber.label' | translate"
      [locked]="isSearching || hasMultipleDocuments"
      [value]=""
      [maxLength]="requiredLength"
      [autofocus]="true"
    >
    </bspl-input>
    <p class="input-notice" [class.invalid]="form.invalid && (form.dirty || form.touched)">
      {{ 'document.enquiryDialog.documentNumber.notice' | translate }}
    </p>
  </div>

  <bspl-alert-message
    class="inline-notification"
    *ngIf="dialogData.isDocumentNotReadable"
    [type]="inlineMessageType.info"
    [message]="messageKey.notReadableNotification"
  ></bspl-alert-message>
</div>

<bspl-selection-dialog
  (changedItem)="setSelectedDocument($event)"
  *ngIf="hasMultipleDocuments"
  [documents]="dialogData.documents"
></bspl-selection-dialog>
