@import 'theme/variables/index';

.nav-link {
  text-transform: uppercase;
}

.nav-tabs-container {
  padding-top: $spacing-m;
  background-color: $gray-light;
}

.nav-tabs {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid $gray-light;

  .nav-item {
    .close-button {
      cursor: pointer;
    }
  }
}

.parent-tab {
  display: flex;
}

.parent-tab > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  height: 3.6rem;
  margin-right: $spacing-xxs;
  border-radius: $border-radius-small $border-radius-small 0 0;
  color: $gray-deep;
  background-color: $gray-neutral;
  white-space: nowrap;

  &:hover {
    color: $white;
    background-color: $gray-deep-middle;
  }

  a {
    border: none;
    padding: 0;
    margin: 0 $spacing-s;
    font-weight: $font-weight-medium;

    &.show-badge {
      position: relative;
      padding-left: $spacing-l;

      &::before {
        content: '\25cf';
        font-size: 2rem;
        position: absolute;
        left: 0;
        top: calc(50% - 1.8rem);
      }
    }
  }

  .aspa {
    width: 2rem;
    height: 2rem;
    color: $gray-middle;
    margin-right: $spacing-xs;

    i {
      font-size: 2rem;
    }

    &:hover {
      color: $gray-dark;
    }
  }

  &.selected-tab {
    cursor: default;
    background-color: $white;
    color: $blue-light;

    .aspa {
      color: $blue-sky;

      &:hover {
        color: $blue-light;
      }
    }
  }
}
