<div class="nav-tabs-container">
  <bspl-scroll-container #scrollContainer>
    <ul class="nav nav-tabs parent-tab">
      <li
        *ngFor="let tab of items; let first = first"
        class="nav-item"
        [ngClass]="{ 'selected-tab': active?.id === tab.id }"
        [bsplScrollContainerItem]="tab.id"
        (click)="activate(tab)"
        (bsplMiddleClick)="tabMiddleBtnClicked($event, tab, first)"
        [bsplTooltip]="getTabTooltip(tab)"
      >
        <a class="nav-link" [ngClass]="{ 'show-badge': isBadgeVisible(tab) }">
          {{ getTabLabel(tab) }}
        </a>
        <span class="close-button aspa" *ngIf="!first">
          <i class="material-icons" (click)="close(tab, $event)">close</i>
        </span>
      </li>
    </ul>
  </bspl-scroll-container>
</div>
