<div class="add-gds">
  <div class="row gds-content" [formGroup]="form">
    <div *ngIf="isActionTypeAdd" class="col-lg-4">
      <bspl-input [label]="'GDS Code'" formControlName="gdsCode" [autofocus]="true"></bspl-input>
    </div>
    <div [ngClass]="isActionTypeAdd ? 'col-lg-8' : 'col-lg-12'">
      <bspl-input
        [label]="'GDS Name'"
        formControlName="name"
        [maxLength]="255"
        [autofocus]="!isActionTypeAdd"
      ></bspl-input>
    </div>
  </div>
</div>
