@import 'theme/variables/index';

::ng-deep bspl-gds-add-edit-form-dialog {
  width: 100%;
}

.add-gds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.gds-content {
  display: flex;
  justify-content: center;
}
