<div class="container" [formGroup]="form">
  <div class="row">
    <div class="col-md-12">
      <p><strong>Simple tags-input component</strong></p>
      <bspl-tags-input
        [label]="'Tags-input label'"
        [placeholder]="'Enter names'"
        [enableTagEditing]="false"
      ></bspl-tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>Tags-input component with validation</strong></p>
      <bspl-tags-input formControlName="tagInput" [enableTagEditing]="false"></bspl-tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>Disabled tags-input component</strong></p>
      <bspl-tags-input formControlName="disabledTagsInput"></bspl-tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>Editable tags-input</strong></p>
      <bspl-tags-input formControlName="editableTags"></bspl-tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>Editable tags-input with validation</strong></p>
      <bspl-tags-input formControlName="editableTagsWithValidation"></bspl-tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>Additional separators - Space, Comma, Semicolon</strong></p>
      <bspl-tags-input
        [placeholder]="'Enter separator to create a tag'"
        [enableTagEditing]="true"
        [additionalTagSeparators]="[' ', ',', ';']"
      ></bspl-tags-input>
    </div>
  </div>
</div>
