<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This option allows Agents to request a Refund on a given ticket to a given Airline. Refunds can be applied via the
    Refund Application option (all agents) or the Refund Notice option (enhanced agents).
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="33%" src="agent_group/images/image136.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Refund.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Both options allow Agent Group users to check the status of already requested Refunds as well. It is important to
    note that refunds can be performed based on the following conditions:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The ticket involved in the Refund request was once reported to New BSPlink. Otherwise, kindly proceed to contact
    the Airline. They might offer an alternative way of refunding the ticket, either through their own system or through
    the GDS.
  </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The IATA code of the Agent is not in Technical Default or Suspension. If this is the case, please contact IATA
    Customer Service to get more information on the steps to be taken.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The governing rules over the Refunds in New BSPlink are provided by the Resolution 824r.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The following layout aspects must be considered:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The existing documents are displayed on tables under each option.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Some of the fields on the tables include the
    <img border="0" width="22" height="22" id="Imagen 181" src="agent_group/images/image137.jpg" />
    icon, which allows ordering the document list according to that field, in a descending or ascending way.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >This information is distributed in three main tabs: <b>Active</b>, <b>Archived</b> and <b>Deleted</b>.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Documents are displayed by default under the “Active” tab. Unread (new) documents are shown in bold type, whereas
    read (old) documents are not.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to mark Unread documents as Read ones by means of the
    <img border="0" width="22" height="22" id="Imagen 182" src="agent_group/images/image138.jpg" />
    icon on each row and then select “Mark as Read” and vice-versa. Additionally, it is possible to select the
    <img border="0" width="22" height="22" id="Imagen 184" src="agent_group/images/image139.jpg" /> of each document
    and, once it turns into
    <img border="0" width="22" height="22" id="Imagen 188" src="agent_group/images/image140.jpg" />, the following is
    displayed at the top of the table:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="37" id="Imagen 189" src="agent_group/images/refund-2.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: &quot;Options&quot; bar.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.75in; text-indent: 0in">
  <span lang="EN-GB"
    >Then, simply click on
    <img border="0" width="98" height="30" id="Imagen 190" src="agent_group/images/image142.jpg" /> and select “Mark as
    Read” or “Mark as Unread”.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Archived documents are displayed under the “Archive” tab. It is possible to archive documents by means of the
    <img border="0" width="22" height="22" id="Imagen 191" src="agent_group/images/image143.jpg" /> and
    <img border="0" width="98" height="30" id="Imagen 192" src="agent_group/images/image144.jpg" />, same as described
    above. Archived documents may be moved back to Active by following the same steps by clicking on the “Move to
    Active” action.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted documents are displayed under the “Deleted” tab.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If a RA/RN was deleted, the user can track the activity by clicking on
    <img border="0" height="22" src="agent_group/images/3dots.jpg" /> and then on "Activity”</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Then a modal window will pop up indicating the activity of the Refund, the Airline Code, User and e-mail.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Just clicking next to ‘Show’ the user will see the options: 'All', 'Workflow Events', 'Comments' and 'Attachments'
    (‘All’ will be the option by default).</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to download the attachments of one or several items at a time of the Refund Application or the
    Refund Notice options. Once the items are selected, click on the
    <img border="0" width="98" height="30" id="Imagen 192" src="agent_group/images/image144.jpg" /> button displayed and
    select “Download Attachments”. The attachments can be downloaded from the “Active” and the “Archive” tabs.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to add a comment for one or several items at a time in the ‘Active’ tab of the Refund Application
    option following the steps explained above but selecting the ‘Comment’ action.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to delete one or several items at a time in the ‘Active’ tab of the Refund Application option
    following the steps explained above but selecting the ‘Delete’ action.
  </span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to display the main details of a document by clicking on its details on the table (except for the
    Document Number, which displays its detailed view):</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="84" id="Imagen 203" src="agent_group/images/image147.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: ADM/ACM main details.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to add an Internal Comment to Refund Applications and Refund Notices (active, archived and deleted)
    that can only be seen by the user who added it. In order to add an Internal Comment to the Refund Applications and
    Refund Notices, the user can click on the <img border="0" height="30" src="agent_group/images/image061.jpg" /> icon
    on the row of that refund from the Refund Application/Refund Notice view and select “Internal Comment”, the last
    option of the list. The Internal Comment can also be added via the Refund Application/Refund Notice Detailed View
    thanks to the <img border="0" height="30" src="agent_group/images/icon-internal-comment.jpg" /> icon. Once clicked,
    the following modal box appears:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="400" src="agent_group/images/refund-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Internal Comment modal box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Internal Comment is saved when the “Post” button is clicked. The “Delete” button is used to delete the comment
    entered. The user can modify the Internal Comment already added and save it again with the changes made. The user
    can see, in the Refund Application/Refund Notice List, if the refunds have an Internal Comment thanks to the
    <img border="0" height="30" src="agent_group/images/icon-bubbles.jpg" /> icon visible next to the Document Number.
  </span>
</p>
