<bspl-list-view
  [title]="'LIST.MASTER_DATA.fileDescriptors.title' | translate"
  [customLabels]="customLabels"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasCreating]="canCreateFileDescriptor"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  [filterFormatter]="fileDescriptorsFormatter"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
  (create)="createFileDescriptor()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.fileDescriptors.filters.descriptor.label' | translate"
          formControlName="descriptor"
          [placeholder]="'LIST.MASTER_DATA.fileDescriptors.filters.descriptor.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.MASTER_DATA.fileDescriptors.filters.description.label' | translate"
          formControlName="description"
          [placeholder]="'LIST.MASTER_DATA.fileDescriptors.filters.description.placeholder' | translate"
        >
        </bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onActionMenuClick($event)"
    (actionClick)="onActionClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
