<bspl-list-view
  [title]="'LIST.notificationsList.title' | translate"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  [noticeMessage]="'LIST.notificationsList.infoMsg'"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" [hidden]="userType === userTypes.AGENT">
      <bspl-select
        [options]="bspCountriesList"
        formControlName="bspIsoc"
        [label]="'LIST.notificationsList.filters.labels.bspisoc' | translate"
        [placeholder]="'LIST.notificationsList.filters.placeholders.bspisoc' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'LIST.notificationsList.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="typesList"
          formControlName="type"
          [label]="'LIST.notificationsList.filters.labels.type' | translate"
          [placeholder]="'LIST.notificationsList.filters.placeholders.type' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>

      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="actionsList$ | async"
          formControlName="action"
          [label]="'LIST.notificationsList.filters.labels.action' | translate"
          [placeholder]="'LIST.notificationsList.filters.placeholders.action' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>

      <div class="form-group col-md-3">
        <bspl-input
          formControlName="sourceNumber"
          [label]="'LIST.notificationsList.filters.labels.sourceSubject' | translate"
          [placeholder]="'LIST.notificationsList.filters.placeholders.sourceSubject' | translate"
        >
        </bspl-input>
      </div>

      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="createdAt"
          [label]="'LIST.notificationsList.filters.labels.createdAt' | translate"
          [placeholder]="'LIST.notificationsList.filters.placeholders.createdAt' | translate"
          [selectionMode]="'range'"
          [maxDate]="maxDate"
        ></bspl-datepicker>
      </div>

      <div class="form-group col-md-3">
        <bspl-select
          [options]="statusList"
          formControlName="status"
          [label]="'LIST.notificationsList.filters.labels.status' | translate"
          [placeholder]="'LIST.notificationsList.filters.placeholders.status' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [columnMode]="'flex'"
    [rowClassesModifier]="rowClassesModifier"
    (rowLinkClick)="onViewNotificationSource($event)"
    [isLoading]="loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
