@import 'src/app/shared/scss/data-table-dialog';

:host {
  .paragraph__text {
    color: $gray-dark;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin: $spacing-s 0 $spacing-m 0;
    padding-bottom: $spacing-s;
    border-bottom: 1px solid $gray-neutral;
  }

  .data__table {
    padding: 0 $spacing-m $spacing-m;

    div.row.line__data {
      border-bottom: 1px solid $gray-neutral;

      .material-icons {
        font-size: 2rem;
        vertical-align: middle;

        &.error {
          color: $red;
        }

        &.warning {
          color: $orange;
        }

        &.info {
          color: $blue-ocean;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
