<div>
  <div class="paragraph__text line__data">
    <p>{{ 'REFUNDS.issueDialog.refund-dialog-error.textErrorInfo' | translate }}</p>
  </div>
  <div class="data__table" *ngFor="let error of errorMessages">
    <div class="row line__data">
      <div class="col-1">
        <i class="material-icons error">error</i>
      </div>
      <div class="col-11">
        <span>{{ error.message }}</span>
      </div>
    </div>
  </div>
</div>
