@import 'theme/variables/index';

$border-color-light: $gray-neutral;
$shadow-container-height: 1rem;

@mixin tab-header-group {
  position: relative;
  z-index: $z-index-layer-1;
  background-color: $white;

  &.secondary {
    padding-left: $spacing-xl;
  }
}

@mixin bottom-shadow-container {
  position: relative;
  box-shadow: $shadow-z-2;
  height: $shadow-container-height;
  margin-top: -$shadow-container-height;
  z-index: 1;
}

@mixin tab-header {
  cursor: pointer;
  display: inline-block;

  .icon {
    height: 2rem;
    width: auto;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0.5rem;
  }

  &.primary {
    margin-right: 0.2rem;
    font-size: $font-size-l;
    padding: $spacing-m;
    border-radius: 6px 6px 0 0;
    text-align: center;
    min-width: 100px;
    position: relative;
    color: $white;
    font-weight: $font-weight-medium;
    background-color: $gray-middle;
    margin-top: 0.9rem;

    &.active {
      cursor: default;
      color: $blue-light;
      background-color: $white;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  &.secondary {
    $base-spacing: $spacing-s;

    position: relative;
    background-color: $white;
    min-width: 3 * $base-spacing;
    text-align: center;
    padding: $spacing-xs (2 * $base-spacing);
    color: $gray-dark;

    &:hover {
      color: $blue-light;
    }

    &.active {
      cursor: default;
      background-color: $white;
      border-bottom: 5px solid $blue-light;
      color: $blue-primary;
      font-weight: $font-weight-medium;
    }

    &.disabled {
      background-color: $white;
      color: $gray-middle;
      cursor: not-allowed;
    }
  }
}
