@import '~src/app/shared/scss/index';

.changes-dialog {
  padding-bottom: $spacing-l;

  .msg {
    margin-bottom: $spacing-m;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $gray-deep;
  }

  section.top-line {
    border-top: 1px solid $gray-deep;
  }

  section {
    .title {
      margin: $spacing-m 0 0;
    }

    .title-pills {
      margin: $spacing-l 0 $spacing-s;
    }

    .subtitle {
      font-size: $font-size-m;
      color: $gray-deep;
      line-height: $line-height-m;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .default-value-template {
      font-size: $font-size-s;
      color: $blue-primary;
      line-height: $line-height-s;
      overflow-wrap: break-word;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .item {
        padding: $spacing-s 0;
        border-bottom: 1px solid $gray-neutral;

        &:last-child {
          border-bottom: none;
        }
      }

      .item-pills {
        padding: $spacing-xxxs 0;

        bspl-pill-information {
          max-width: 100%;
        }
      }
    }
  }
}
