<div class="changes-dialog">
  <p class="msg">{{ config.message | translate : undefined : config.translationParams }}</p>
  <section *ngFor="let group of groupedItems" [ngClass]="{ 'top-line': !usePillsForChanges }">
    <h4 [ngClass]="{ title: !usePillsForChanges, 'title-pills': usePillsForChanges }" *ngIf="group.title">
      {{ group.title }}
    </h4>
    <ul class="list">
      <li
        [ngClass]="{ item: !usePillsForChanges, 'item-pills': usePillsForChanges }"
        *ngFor="let change of group.items"
      >
        <div
          *ngIf="!usePillsForChanges"
          class="subtitle"
          [bsplTooltip]="change.name | translate"
          [showOnEllipsis]="true"
        >
          {{ change.name }}
        </div>
        <ng-container *ngIf="!hideValues">
          <ng-container
            [ngTemplateOutlet]="getValueTemplate(change)"
            [ngTemplateOutletContext]="{ change: change }"
          ></ng-container>
        </ng-container>
      </li>
    </ul>
  </section>
  <bspl-alert-message
    *ngIf="config?.hasInvalidChanges"
    [type]="AlertMessageType.warning"
    [message]="config?.invalidChangesMessage || 'changesDialog.invalidChangesMsg'"
  ></bspl-alert-message>
</div>

<ng-template #defaultTmpl let-change="change">
  <div class="default-value-template">
    {{ change.value | join | bsplEmpty }}
  </div>
</ng-template>

<ng-template #booleanTmpl let-change="change">
  <bspl-badge-information
    [value]="change.value"
    [type]="change.originalValue ? BadgeInfoType.success : BadgeInfoType.regular"
  ></bspl-badge-information>
</ng-template>

<ng-template #pillsTmpl let-change="change">
  <bspl-pill-information [value]="change.name" [tooltip]="change.tooltip"> </bspl-pill-information>
</ng-template>
