@import 'theme/variables/index';

.overlay {
  z-index: $z-index-layer-8;
  position: fixed;
  background-color: $dark;
  width: 100vw;
  height: 100vh;

  &.target-drop-area {
    border: 1px dashed $blue-ocean;
    border-radius: $border-radius-large;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
  }
}

.drop-area {
  display: block;
  width: 15rem;
  height: 15rem;
  background: url('/assets/images/files/ico-download.svg') center center no-repeat;
}

.overlay-label {
  font-size: $font-size-xl;
  color: $blue-ocean;
  line-height: 1;
  margin: 0;
}
