<div
  *ngIf="hasOverlay"
  class="overlay"
  [ngClass]="{
    'target-drop-area': showInParent
  }"
  (bsplDragAndDropFiles)="dragAndDrop($event)"
>
  <p class="drop-area"></p>
  <p class="overlay-label">{{ 'fileUploadOverlay.title' | translate }}</p>
</div>
