<bspl-list-view
  [title]="tableTitle"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasCreating]="permissions.updateAgentGroup | hasPermission"
  [customLabels]="customLabels"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="displayFormatter"
  [isInTab]="isAgentGroupView"
  (create)="inviteMember()"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm" class="row">
    <div class="col-lg-3">
      <bspl-select
        formControlName="agents"
        [multiple]="true"
        [options]="agentOptions$ | async"
        [virtualScroll]="true"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.agentCode' | translate"
      ></bspl-select>
    </div>
    <div class="col-lg-3">
      <bspl-select
        formControlName="membership"
        [multiple]="true"
        [options]="membershipOptions"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.membership' | translate"
      ></bspl-select>
    </div>
    <div class="col-lg-3">
      <bspl-select
        formControlName="individualAccess"
        [options]="individualAccessOptions"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.individualAccess' | translate"
      ></bspl-select>
    </div>
    <div class="col-lg-3">
      <bspl-input
        formControlName="organization"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.organization' | translate"
      >
      </bspl-input>
    </div>
    <div class="col-lg-3">
      <bspl-input formControlName="name" [label]="'MASTER_DATA.agentGroupMembers.query.columns.name' | translate">
      </bspl-input>
    </div>
    <div class="col-lg-3">
      <bspl-input formControlName="email" [label]="'MASTER_DATA.agentGroupMembers.query.columns.email' | translate">
      </bspl-input>
    </div>
    <div class="col-lg-3">
      <bspl-input
        formControlName="telephone"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.telephone' | translate"
      >
      </bspl-input>
    </div>
    <div class="col-lg-3">
      <bspl-input formControlName="address" [label]="'MASTER_DATA.agentGroupMembers.query.columns.address' | translate">
      </bspl-input>
    </div>
    <div class="col-lg-3">
      <bspl-input
        formControlName="locality"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.locality' | translate"
      >
      </bspl-input>
    </div>
    <div class="col-lg-3">
      <bspl-input
        formControlName="postCode"
        [label]="'MASTER_DATA.agentGroupMembers.query.columns.postCode' | translate"
      >
      </bspl-input>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="tableActions"
    (actionClick)="executeAction($event)"
  ></bspl-grid-table>
</bspl-list-view>
