@import 'components/process/process-card';

.process-attachments-item {
  background-color: $gray-subtle;
  border-radius: $border-radius-large;
  margin-bottom: $spacing-xs;
  padding: $spacing-s $spacing-m;
  cursor: auto;

  .process-attachments-item-info {
    display: flex;
    flex-direction: column;
    flex: 6;

    .process-attachments-item-name,
    .process-attachments-item-size {
      color: $gray-deep;
      padding-left: 0;
      padding-right: 0;
    }

    .process-attachments-item-name {
      line-height: $line-height-m;
      word-break: break-word;
    }

    .process-attachments-item-size {
      line-height: $line-height-s;
      font-size: $font-size-s;
      align-self: flex-start;
    }
  }

  .process-attachments-item-action {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 3rem;
      height: 3rem;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $gray-subtle;
      }

      i {
        color: $gray-middle;
        font-size: 2rem;
      }
    }
  }
}
