<section class="process-card">
  <h4>
    <bspl-pbd-entity-link [pbdEntity]="activity.author | toPbdEntity"></bspl-pbd-entity-link>
  </h4>
  <span class="process-card-subtitle">{{ subTitle }}</span>
  <p class="process-card-text" *ngIf="!isActivityOfTypeSystem">
    {{ activity.reason }}
  </p>
  <bspl-alert-message *ngIf="isActivityOfTypeSystem" [message]="activity.reason" [type]="'info'"></bspl-alert-message>

  <section class="process-attachments">
    <a class="process-attachments-item" *ngFor="let attachment of activity.attachments">
      <div class="process-attachments-item-info">
        <div class="process-attachments-item-name">{{ attachment.name }}</div>
        <div class="process-attachments-item-size">{{ attachment.size }}</div>
      </div>
      <div class="process-attachments-item-action">
        <a (click)="downloadAttachment(attachment)"><i class="material-icons">get_app</i></a>
      </div>
    </a>
  </section>
</section>
