<bspl-floating-panel>
  <bspl-document-header class="page-section void-header" [document]="canx">
    <bspl-accordion-item-selection [accordion]="accordion"></bspl-accordion-item-selection>
    <div additional-content class="void-label">VOID</div>
  </bspl-document-header>
</bspl-floating-panel>
<bspl-accordion #accordion [multipleItemsOpen]="true">
  <bspl-accordion-item
    [title]="'document.canx.documentDetails' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-canx-details [canx]="canx"></bspl-canx-details>
  </bspl-accordion-item>
  <bspl-accordion-item
    [title]="'document.relatedDocumentsTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-spinner [isLoading]="isLoadingRelatedDocuments" relativeTo="parent"></bspl-spinner>
    <bspl-related-documents [hidden]="isLoadingRelatedDocuments" [documents]="relatedDocuments">
    </bspl-related-documents>
  </bspl-accordion-item>
</bspl-accordion>
