<div class="wrapper" [ngClass]="{ 'only-expand': !showNavSection }">
  <div *ngIf="showNavSection" class="nav-section">
    <span class="jump-label">{{ 'Jump to' | translate }}:</span>
    <a class="link section-link" (click)="goToSection(item)" *ngFor="let item of accordion?.items">
      <ng-container *ngIf="!showStatusIcons; else item.iconTemplate">
        <span>{{ item.title | translate }}</span>
      </ng-container>
    </a>
  </div>
  <a class="link" (click)="onCollapseClick()">
    {{ (collapseAll ? 'collapse' : 'expand') | translate }}
  </a>
</div>
