@import 'theme/variables/index';

$sections-border: 1px solid $gray-middle;
$icons-size: 2rem;

.wrapper {
  padding: $spacing-xs $spacing-m;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.only-expand {
    justify-content: flex-end;
  }

  .nav-section {
    .jump-label {
      color: $gray-deep;
    }

    .section-link {
      border-right: $sections-border;
      padding: 0 $spacing-xs;

      &:last-child {
        border-right: none;
      }

      ::ng-deep {
        i {
          font-size: $icons-size;
          margin-left: $spacing-xxs;
          vertical-align: middle;

          &.error {
            color: $red;
          }

          &.warning {
            color: $orange;
          }

          &.info {
            color: $blue-ocean;
          }
        }
      }
    }
  }
}
