@import 'theme/variables/index';

table {
  width: 100%;

  p {
    margin: 0;

    &.airline {
      text-transform: uppercase;
    }
  }

  .label {
    color: $gray-deep;
    font-size: $font-size-s;
    line-height: $line-height-s;
  }

  .label,
  .date,
  .country {
    text-transform: none;
  }

  td.cell-align-top {
    vertical-align: top;
  }

  tr {
    td {
      border: 1px solid $gray-neutral;
      padding: $spacing-xxs $spacing-s;
    }

    td.taxes {
      p:first-child {
        float: left;
      }

      p:last-child {
        float: right;
      }
    }

    td:first-child {
      border-left: 0;
    }

    td:last-child {
      border-right: 0;
    }
  }

  tr.flight-info {
    td {
      text-align: center;
      padding: $spacing-xxs $spacing-xs;
    }

    td.airport-name {
      text-align: left;
    }

    td.legend {
      background-color: $gray-neutral;
      border-right-color: $gray-middle;
    }
  }

  td.audit-coupon {
    vertical-align: top;

    .iata-logo {
      width: 7.5rem;
      margin-bottom: $spacing-s;
    }
  }

  p.passenger-spec-data {
    margin-top: $spacing-xs;
  }

  .remittance-area {
    p.label {
      width: 50%;
      display: inline-block;
    }

    p.word-spacing {
      display: inline;
    }
  }
}
