<table>
  <tbody>
    <tr>
      <td colspan="8">
        <p class="label">BSP Name</p>
        <p class="country">{{ ticket.bsp?.name || ticket.isoCountryCode }}</p>
      </td>
      <td colspan="6">
        <p class="label">Period</p>
        <p>{{ ticket.billingAnalysisPeriodCode }}</p>
      </td>
    </tr>

    <tr>
      <td colspan="8">
        <p class="label">Issued by</p>
        <p class="airline">{{ ticket.airline?.localName }}</p>
      </td>
      <td colspan="6">
        <h4>Passenger Ticket and Baggage Check</h4>
      </td>
    </tr>

    <tr>
      <td colspan="8">
        <p class="label">Conjunction tickets</p>
        <p>{{ ticket.conjunctionTicketNumbers?.join(' ') }} &nbsp;</p>
      </td>
      <td colspan="4">
        <p class="label">Origin/Destination</p>
        <p>{{ ticket.documentIdentification.originCityCodes }}</p>
      </td>
      <td colspan="2" rowspan="3" class="audit-coupon">
        <p class="label">Audit coupon</p>
        <p>
          <img class="iata-logo" src="./assets/images/toplogo.png" alt="iata logo" />
        </p>
        <p>{{ ticket.agent?.name }}</p>
        <p>{{ ticket.auditCouponAgentCode }}</p>
        <p>{{ ticket.documentAmounts?.fareCalculationModeIndicator }}</p>
      </td>
    </tr>

    <tr>
      <td colspan="6">
        <p class="label">Endorsement/Restrictions</p>
        <p>
          <span *ngFor="let issueInformation of ticket.issueInformationForSales">
            {{ issueInformation.endorsementsRestrictions }}</span
          >
        </p>
      </td>
      <td colspan="2">
        <p class="label">BSP</p>
        <p>{{ ticket.isoCountryCode }}</p>
      </td>
      <td colspan="4">
        <p class="label">Booking Ref.</p>
        <p>{{ ticket.documentIdentification.pnrReference }}</p>
      </td>
    </tr>

    <tr>
      <td colspan="6">
        <p class="label">Passenger Name Not Transferable</p>
        <p>{{ ticket.passengerInformation?.name }}</p>
        <p class="label passenger-spec-data">Passenger Specific Data</p>
        <p>{{ ticket.passengerInformation?.specificData }} &nbsp;</p>
      </td>
      <td colspan="2" class="date cell-align-top">
        <p class="label">Date of Issue</p>
        <p>{{ ticket.documentIdentification.dateOfIssue | date : 'ddMMMyy' }}</p>
      </td>
      <td colspan="4" class="cell-align-top">
        <p class="label">Issue in exchange for</p>
        <div *ngIf="ticket.formOfPaymentSummary?.type === formOfPaymentType.EX">
          {{ ticket.issueInformationForSales[0]?.originalIssueDocumentNumber }}
          <p>
            <span>{{ ticket.issueInformationForSales[0]?.originalIssueCityCode }}</span>
            <span>{{ ticket.issueInformationForSales[0]?.originalIssueDateString }}</span>
            <span *ngIf="!ticket.issueInformationForSales[0]?.originalIssueDateString">{{
              ticket.issueInformationForSales[0]?.originalIssueDate | date : 'ddMMMyy' | uppercase
            }}</span>
            <span>{{ ticket.issueInformationForSales[0]?.iataNumber }}</span>
          </p>
        </div>
      </td>
    </tr>

    <tr class="flight-info">
      <td class="label">X/O</td>
      <td class="label">Not Good For Passage From</td>
      <td class="label">Carrier</td>
      <td class="label">Flight</td>
      <td class="label">CL</td>
      <td class="label">Date</td>
      <td class="label">Time</td>
      <td class="label">ST</td>
      <td class="label" colspan="2">Fare Basis</td>
      <td class="label">N. Valid B</td>
      <td class="label" colspan="2">N. Valid A</td>
      <td class="label">Allow</td>
    </tr>

    <tr class="flight-info" *ngFor="let flight of flights">
      <td>
        {{ flight.stopoverCode }}
      </td>
      <td class="airport-name">
        <span *ngIf="flight.destinationAirportCode" class="label">To: </span>
        {{ flight.originAirportCode || flight.destinationAirportCode }}
      </td>
      <td>{{ flight.carrier }}</td>
      <td>{{ flight.flightNumber }}</td>
      <td>{{ flight.reservationBookingDesignator }}</td>
      <td class="date">{{ flight.flightDate }}</td>
      <td>{{ flight.flightDepartureTime }}</td>
      <td>{{ flight.flightBookingStatus }}</td>
      <td colspan="2">{{ flight.fareTicketDesignator }}</td>
      <td class="date">{{ flight.notValidBeforeDate }}</td>
      <td class="date" colspan="2">{{ flight.notValidAfterDate }}</td>
      <td>{{ flight.baggageAllowance }}</td>
    </tr>

    <tr class="flight-info">
      <td></td>
      <td></td>
      <td class="legend">PCS</td>
      <td class="legend">ST</td>
      <td class="legend">U</td>
      <td class="legend">PCS</td>
      <td class="legend">WT</td>
      <td class="legend">U</td>
      <td class="legend">PCS</td>
      <td class="legend">WT</td>
      <td class="legend">U</td>
      <td class="legend">PCS</td>
      <td class="legend">WT</td>
      <td class="legend">U</td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">Fare</p>
        <p>{{ ticket.documentAmounts?.fare?.currency }} {{ ticket.documentAmounts?.fare?.amount }}</p>
      </td>
      <td colspan="12">
        <p class="label">Fare Calculation</p>
        <p>
          {{ ticket.fareCalculationArea }}
          &nbsp;
        </p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">EQUIV</p>
        <p>
          {{ ticket.documentAmounts?.equivalentFarePaid?.currency }}
          {{ ticket.documentAmounts?.equivalentFarePaid?.amount }}
        </p>
      </td>
      <td colspan="12"></td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">Tax</p>
        <p>
          <span *ngIf="ticket.stdAmounts?.summarizedTaxes">
            {{ transformTax(ticket.stdAmounts.summarizedTaxes[0]) }}
          </span>
          &nbsp;
        </p>
      </td>
      <td colspan="12"></td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">Tax</p>
        <p>
          <span *ngIf="ticket.stdAmounts?.summarizedTaxes">
            {{ transformTax(ticket.stdAmounts.summarizedTaxes[1]) }}</span
          >
        </p>
      </td>
      <td colspan="6">
        <p class="label">Form of Payment</p>
        {{ ticket.formOfPaymentSummary?.type }}
        {{ ticket.formOfPaymentSummary?.description }}
        {{ ticket.formOfPaymentSummary?.entity }}
        {{ ticket.formOfPaymentSummary?.maskedAccountNumber }}
        {{ ticket.formOfPaymentSummary?.amount | number : numberPipePrecision }}
        {{ ticket.formOfPaymentSummary?.addInfo }}
      </td>
      <td colspan="2">
        <p class="label">App Code</p>
      </td>
      <td colspan="4">
        <p class="label">Tour Code</p>
        <p>{{ ticket.documentIdentification.tourCode }}</p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">Tax</p>
        <p>
          <span *ngIf="ticket.stdAmounts?.summarizedTaxes">
            {{ transformTax((ticket.stdAmounts?.summarizedTaxes)[2]) }}
          </span>
        </p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">CPN</p>
        <p>0</p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">Airline Code</p>
        <p>{{ ticket.transaction.airlineCode }}</p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">From & Serial No.</p>
        <p>{{ ticket.conjunctionDocumentNumber || ticket.documentIdentification.documentNumber }}</p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">CK.</p>
        <p>{{ ticket.documentIdentification.checkDigit }}</p>
      </td>
      <td colspan="4">
        <p class="label">Original Issue</p>
        <p>
          <span *ngIf="ticket.formOfPaymentSummary?.type === formOfPaymentType.EX">{{ ticket.originalIssue }}</span>
          &nbsp;
        </p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">Total</p>
        <p>{{ ticket.documentAmounts?.total?.currency }} {{ ticket.documentAmounts?.total?.amount }}</p>
      </td>
      <td [ngClass]="{ 'remittance-area': isCNJTicket, taxes: !isCNJTicket }" colspan="4">
        <p class="label">Remittance Area</p>
        <p class="word-spacing">
          {{ ticket.transaction.airlineCode }}
          <span *ngIf="!isCNJTicket">
            {{ ticket.currencyType }}
            {{ ticket.remittanceArea.sumCash | number : numberPipePrecision }}
            {{ ticket.remittanceArea.sumCredit | number : numberPipePrecision }}
            {{ ticket.remittanceArea.sumEasyPay | number : numberPipePrecision }}
            {{ ticket.remittanceArea.commissionPercent | number : numberPipePrecision }}
            {{ ticket.remittanceArea.sumTaxAmount | number : numberPipePrecision }}
          </span>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <p class="label">A/L Agent Info</p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">Cash</p>
        <p>
          <span *ngIf="ticket.cashAmount">
            {{ ticket.currencyType }} {{ ticket.cashAmount | number : numberPipePrecision }}
          </span>
          &nbsp;
        </p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">Payment Card</p>
        <p>
          <span *ngIf="ticket.creditAmount">
            {{ ticket.currencyType }} {{ ticket.creditAmount | number : numberPipePrecision }}
          </span>
          &nbsp;
        </p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">EasyPay</p>
        <p>
          <span *ngIf="ticket.easyPayAmount">
            {{ ticket.currencyType }} {{ ticket.easyPayAmount | number : numberPipePrecision }}
          </span>
          &nbsp;
        </p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">Comm %</p>
        <p>{{ ticket.commissionPercent }} &nbsp;</p>
      </td>
      <td rowspan="2">
        <p class="label">TAX</p>
        <p>
          <span *ngIf="ticket.stdAmounts?.summarizedTaxes && !isCNJTicket">{{
            transformTax(ticket.stdAmounts.summarizedTaxes[0])
          }}</span>
          &nbsp;
        </p>
      </td>
      <td colspan="2" rowspan="2">
        <p class="label">TAX</p>
        <p>
          <span *ngIf="ticket.stdAmounts?.summarizedTaxes && !isCNJTicket">{{
            transformTax(ticket.stdAmounts.summarizedTaxes[1])
          }}</span>
          &nbsp;
        </p>
      </td>
      <td rowspan="2">
        <p class="label">TAX</p>
        <p>
          <span *ngIf="ticket.stdAmounts?.summarizedTaxes && !isCNJTicket">
            {{ transformTax((ticket.stdAmounts?.summarizedTaxes)[2]) }}
          </span>
          &nbsp;
        </p>
      </td>
    </tr>

    <tr>
      <td class="taxes" colspan="2">
        <p class="label">CIF</p>
        <p>{{ ticket.airline?.vatNumber }}</p>
      </td>
    </tr>
  </tbody>
</table>
