<div class="header-container">
  <h3 class="header-title">
    {{ product.name }}
  </h3>
</div>
<div class="product-properties">
  <div class="section-container no-section-bottom-border">
    <div class="section one-third">
      <bspl-property-list header="TIP.products.detail.sectionTitle.productInfo">
        <bspl-property label="TIP.products.detail.properties.name" [value]="product.name"></bspl-property>
        <bspl-property label="TIP.products.detail.properties.issuerName" [value]="product.issuerName"></bspl-property>
        <bspl-property label="TIP.products.detail.properties.payInModel" [value]="product.payInModel"></bspl-property>
        <bspl-property label="TIP.products.detail.properties.category" [value]="product.category"></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.paymentNetwork"
          [value]="product.paymentNetwork"
        ></bspl-property>
        <bspl-property label="TIP.products.detail.properties.vanType" [value]="product.vanType"></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.formOfPayment"
          [value]="product.formOfPayment"
        ></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.settlementTerms"
          [value]="product.settlementTerms"
        ></bspl-property>
      </bspl-property-list>
    </div>
    <div class="section one-third">
      <bspl-property-list>
        <bspl-property
          label="TIP.products.detail.properties.pciDssRequired"
          [value]="product.pciDssRequired"
        ></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.maximumChargebackTimeFrame"
          [value]="product.maximumChargebackTimeFrame"
        ></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.interchangeFee"
          [value]="product.interchangeFee"
        ></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.acquiringNetworkSchemeFee"
          [value]="product.acquiringNetworkSchemeFee"
        ></bspl-property>
        <bspl-property label="TIP.products.detail.properties.license" [value]="product.license"></bspl-property>
        <bspl-property
          label="TIP.products.detail.properties.gdsIntegration"
          [value]="product.gdsIntegration"
        ></bspl-property>
        <bspl-property label="TIP.products.detail.properties.airlineUrl" [value]="product.airlineUrl"></bspl-property
      ></bspl-property-list>
    </div>
    <div class="section one-third">
      <div *ngIf="product.paymentGuarantees?.length">
        <bspl-property-list header="TIP.products.detail.sectionTitle.productPaymentGuarantee">
          <bspl-property
            *ngFor="let paymentGuarantee of product.paymentGuarantees"
            label="TIP.products.detail.properties.paymentGuarantee"
            [value]="paymentGuarantee"
          ></bspl-property>
        </bspl-property-list>
      </div>
      <div class="section" *ngIf="product.acceptedTransactions?.length">
        <bspl-property-list header="TIP.products.detail.sectionTitle.productAcceptedTransactions">
          <bspl-property
            *ngFor="let acceptedTransaction of product.acceptedTransactions"
            label="TIP.products.detail.properties.acceptedTransaction"
            [value]="acceptedTransaction"
          ></bspl-property>
        </bspl-property-list>
      </div>
    </div>
  </div>
</div>
