<div class="header-container">
  <h3 class="header-title">{{ 'TIP.products.title' | translate }}</h3>
  <bspl-button
    *ngIf="isCreateAgentConsentButtonVisible$ | async"
    [design]="btnDesign.Secondary"
    [label]="'TIP.productConsents.createAgentConsent' | translate"
    icon="mi md-18 add"
    (onClick)="onCreateAgentConsentClick()"
  ></bspl-button>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
