<div class="sub-user-permissions">
  <div class="permissions-container">
    <bspl-selection-list
      [canEdit]="canEditPermissions"
      [listData]="permissions$ | async"
      (selectionChange)="onPermissionChange($event)"
    ></bspl-selection-list>
  </div>
  <bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'viewport'"> </bspl-spinner>
</div>
