@import 'theme/variables/index';
@import 'theme/app/custom-control';

::ng-deep bspl-tags-input {
  @include control-error();

  label {
    font-size: $font-size-m;
    color: $gray-deep;
  }

  &.ng-invalid.control--showErrors {
    .control__wrapper {
      margin-bottom: 0;

      .ng-select .ng-select-container:hover,
      .ng-select-focused.ng-select-taggable,
      .ng-select .ng-select-container {
        box-shadow: none;
      }

      .ng-select-container .ng-value-container .ng-input input:not(.input--extra) {
        border: none !important;
      }
    }
  }

  .control__wrapper {
    margin-bottom: $spacing-xs;

    ng-select.tag-input-container {
      &.ng-select-focused.ng-select-taggable .ng-select-container {
        box-shadow: $shadow-z-1;
        border-color: $blue-light;
      }

      .ng-select-container {
        border-radius: $border-radius-small;
        border-color: $gray-middle;
        padding: 0 $spacing-xs;
        padding-left: $spacing-xxs;

        .ng-arrow-wrapper {
          display: none;
        }

        .ng-value-container {
          padding: 0;

          .ng-placeholder {
            padding: 0;
            margin-left: $spacing-xxs;
          }

          .ng-input {
            padding: 0;
            margin-left: $spacing-xxs;

            input {
              padding: 0;
            }
          }

          .ng-value {
            background-color: transparent;
            margin: 0;
            border: none;
            user-select: auto;

            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }

    .ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value {
      border: none;
    }
  }
}
