<label [hidden]="!label" [for]="id" (click)="focusElement()">{{ label | translate }}</label>
<div class="control__wrapper">
  <ng-select
    class="tag-input-container"
    [items]="[]"
    [addTag]="true"
    [multiple]="true"
    [placeholder]="placeholder"
    [disabled]="isDisabled || locked"
    [readonly]="isReadOnly"
    [selectOnTab]="false"
    [isOpen]="false"
    [(ngModel)]="value"
    [clearable]="false"
    [keyDownFn]="keyDownFn"
    (keydown.Tab)="handleTab($event)"
    (blur)="onBlur()"
    (keyup)="handleAutoTagCreation($event)"
  >
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      <bspl-tag
        [value]="item"
        [showTooltip]="false"
        [enableEditing]="enableTagEditing"
        [isDisabled]="isReadOnly || locked || isDisabled"
        [state]="getTagState(item)"
        (remove)="clear($event)"
        (keydown.enter)="$event.preventDefault()"
        (keyup)="$event.stopPropagation()"
        (mousedown)="$event.stopImmediatePropagation()"
        (valueChanged)="updateTagsValue(item, $event)"
      ></bspl-tag>
    </ng-template>
  </ng-select>
</div>

<div class="control__error">
  {{ getErrorMessage() }}
</div>
