@import 'theme/variables/index';

$process-title-color: $blue-primary;
$process-subtitle-color: $gray-deep;
$process-text-color: $blue-primary;
$process-attachments-bg: $gray-subtle;
$process-border-radius: $spacing-xxs;

.process-card {
  display: block;
  padding: $spacing-xl;
  background-color: $white;
  box-shadow: 0 3px 6px 0 rgba(0, 48, 91, 0.08);
  border-radius: $process-border-radius;

  &-subtitle {
    color: $process-subtitle-color;
    line-height: $line-height-m;
  }

  &-text {
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin: $spacing-m 0;
    display: block;
    color: $process-text-color;
  }
}

.process-attachments {
  &-item {
    margin-top: $spacing-xs;
    padding: $spacing-xs $spacing-m;
    display: flex;
    flex-direction: row;
    background: $process-attachments-bg;
    border-radius: $process-border-radius;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background: $white;
      box-shadow: 0 2px 4px 0 rgba(0, 47, 91, 0.06), 0 4px 8px 0 rgba(42, 51, 140, 0.12);
    }

    &-name,
    &-size {
      font-size: $font-size-m;
      line-height: 2.4rem;
      flex-grow: 1;
    }

    &-name {
      padding-right: $spacing-xxs;
      color: $process-title-color;
      display: flex;
      align-items: center;

      i,
      span {
        display: inline-block;
      }

      i {
        font-size: 20px;
        color: $process-subtitle-color;
      }

      span {
        margin-left: $spacing-xxs;
      }
    }

    &-size {
      padding-left: $spacing-xxs;
      color: $process-subtitle-color;
      text-align: right;
    }
  }
}
