<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >If Agent Group Users need to upload any file, it is necessary to click on this option. The following window is then
    displayed:
  </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; line-height: normal">
  <span lang="EN-GB">&nbsp;</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; line-height: normal">
  <span lang="EN-GB">&nbsp;</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="505" id="Imagen 69" src="agent_group/images/image232.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc51222485"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Upload files dialogue.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This dialogue does allow users to drag files in or browse files stored in the PC to upload them. In both cases, the
    following window is browsed one the file is selected:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="365" id="Imagen 70" src="agent_group/images/image233.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc51222486"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to complete the file upload, it is necessary to click on the
    <img border="0" width="70" height="30" id="Imagen 71" src="agent_group/images/image234.jpg" />
    button. Otherwise, the user may click on
    <img border="0" width="70" height="30" id="Imagen 73" src="agent_group/images/image235.jpg" />. The system will
    confirm the correct upload or will inform about the error occurred instead:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"
    ><img border="0" width="380" height="287" id="Imagen 75" src="agent_group/images/image236.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc51222487"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Completion of file upload.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Please note that all IATA Communications and Notifications will be included in the Dashboard, under the “IATA
    Messages and News” section (</span
  ><span lang="EN-GB">6.1 Dashboard</span><span lang="EN-GB">).</span>
</p>
