.custom.p-calendar {
  color: $gray-deep !important;
  background-color: transparent !important;
  border: none;
  padding: 0;

  &.error {
    .p-inputtext,
    .p-calendar-button {
      border-color: $red !important;
    }
  }

  .p-component[disabled] {
    opacity: 1 !important;
  }

  .p-inputtext {
    width: 82%;
    height: 38px;
    border-radius: 4px 0 0 4px;
    background-color: $white;
    color: $blue-primary;
    padding: 0 5px;
    border: 1px solid $gray-middle;
    border-right: 0;
    transition: all 0.15s;

    &[disabled] {
      border-color: $gray-middle !important;
      background-color: $gray-neutral;
    }

    &.error {
      border-color: $red !important;
      background-color: $gray-neutral;
    }

    &:hover {
      border-color: $gray-middle;
    }
  }

  .p-inputtext:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .p-calendar-button {
    border-radius: 0 4px 4px 0;
    background-color: $white !important;
    border: 1px solid $gray-middle !important;
    color: $gray-deep !important;
    border-left: 0 !important;
    transition: all 0.15s;

    &[disabled] {
      border-color: $gray-middle !important;
      background-color: $gray-neutral !important;
    }

    &.error {
      border-color: $red !important;
      background-color: $gray-neutral !important;
    }
  }
}

.custom.p-datepicker {
  background-color: $white !important;

  .p-datepicker-header {
    background-color: $white;
    padding-top: 18px;
    padding-bottom: 11px;
    border-bottom: 0;

    .p-datepicker-title {
      color: $blue-primary;
    }

    .p-datepicker-prev {
      color: $blue-light;
      left: 38px;
      top: 18px;

      &:hover {
        background-color: $white;
      }
    }

    .p-datepicker-next {
      color: $blue-light;
      right: 38px;
      top: 18px;

      &:hover {
        background-color: $white;
      }
    }
  }

  .p-datepicker-calendar {
    thead {
      th {
        background-color: $white !important;
        color: $blue-light;
      }
    }

    td {
      border-bottom: 0 !important;

      a {
        border-radius: 20px;
        padding: 10px !important;
      }

      a.p-state-active {
        background-color: $blue-light !important;
        color: $white;
      }
    }
  }
}
