@import 'theme/variables/index';

.custom.p-dialog {
  z-index: $z-index-layer-4;
  position: fixed;

  .p-dialog-titlebar {
    background-color: $white;
    display: flex;
  }
}

.info-card.p-dialog {
  padding: 2.6rem $spacing-xl;
  background: $white;
  color: $blue-primary;
  font-size: $font-size-l;
  line-height: 26px;

  .p-dialog-titlebar {
    background: $white;
    color: $blue-primary;
    text-align: left;
    font-size: $font-size-xxl;
    line-height: 26px;
    padding: 0 !important;
    margin-bottom: $spacing-xl;
  }

  .p-dialog-content {
    padding: 0 !important;

    table {
      width: 100%;
      margin-bottom: $spacing-xl;
    }
  }

  th {
    text-align: left;
    color: $dark;
    font-weight: bold;
  }
}

%alert.p-dialog {
  border: 1px solid transparent;
  border-radius: 6px;

  .p-dialog-titlebar {
    background: $white;
    padding: $spacing-xxs !important;
    border-radius: 6px;

    .p-dialog-titlebar-icon:hover {
      border-color: transparent;
      background: $white;
      color: $dark;
    }
  }

  .p-dialog-content {
    text-align: center;

    .title {
      font-weight: 500;
      font-size: $font-size-m;
    }

    .content-text {
      white-space: pre-line;
      font-size: $font-size-s;
    }
  }

  .p-dialog-footer {
    display: flex;
    justify-content: center;
    border: transparent;
    border-radius: 6px;

    .button-accept {
      cursor: pointer;
      padding: $spacing-xxs $spacing-s;
      border-radius: 2px;
      border: 1px solid transparent;
      font-size: $font-size-m;
    }

    .button-accept:focus {
      outline: none;
    }

    .button-cancel {
      cursor: pointer;
      padding: $spacing-xxs $spacing-s;
      border-radius: 2px;
      border: 1px solid transparent;
      font-size: $font-size-m;
    }

    .button-cancel:focus {
      outline: none;
    }
  }
}

.alert-info.p-dialog {
  @extend %alert;

  color: $green !important;
  border-color: $green;

  .p-dialog-content {
    color: $green;
  }

  .p-dialog-footer {
    .button-accept {
      background-color: $green;
      border-color: $green;
      color: $white;
    }

    .button-cancel {
      background-color: $white;
      border-color: $green;
      color: $green;
    }
  }
}

.alert-warning.p-dialog {
  @extend %alert;

  color: $orange !important;
  border-color: $orange;

  .p-dialog-content {
    color: $orange;
  }

  .p-dialog-footer {
    .button-accept {
      background-color: $orange;
      border-color: $orange;
      color: $white;
    }

    .button-cancel {
      background-color: $white;
      border-color: $orange;
      color: $orange;
    }
  }
}

.alert-confirm.p-dialog {
  @extend %alert;

  color: $orange !important;
  border-color: $orange;

  .p-dialog-content {
    color: $orange;
  }

  .p-dialog-footer {
    .button-accept {
      background-color: $orange;
      border-color: $orange;
      color: $white;
    }

    .button-cancel {
      background-color: $white;
      border-color: $orange;
      color: $orange;
    }
  }
}

.alert-error.p-dialog {
  @extend %alert;

  color: $red !important;
  border-color: $red;

  .p-dialog-content {
    color: $red;
  }

  .p-dialog-footer {
    .button-accept {
      background-color: $red;
      border-color: $red;
      color: $white;
    }

    .button-cancel {
      background-color: $white;
      border-color: $red;
      color: $red;
    }
  }
}
