@import 'theme/variables/index';

.custom.p-fileupload {
  .p-fileupload-buttonbar {
    padding: 0;
    border: none;

    .p-button {
      display: none;
    }

    .p-fileupload-choose {
      display: block;
      background-color: $blue-primary;
      border: 1px solid $blue-primary;
      border-radius: 2px;
      margin: 0;

      .p-button-icon-left {
        display: none;
      }

      .p-button-text {
        padding: 0.8rem 0;
        color: $white;
      }
    }
  }

  .p-fileupload-content {
    display: none;
  }
}

////////////////////////////////////////////////////////////
// VIEW FILE UPLOAD
.view-fileupload.p-fileupload {
  display: flex;
  flex-direction: column;

  .p-fileupload-content {
    order: 1;
    display: flex;
    flex-direction: column;
    background: none transparent;
    padding: 0;
    border: none;

    .dragdrop-section {
      order: 1;
      width: 100%;
      background-color: $white;
      padding-top: $spacing-xl;
      padding-bottom: $spacing-xl;
      border: 1px dashed $gray-middle !important;
      margin-bottom: $spacing-m;
    }

    .p-fileupload-files {
      display: none;
    }

    .files-uploaded {
      order: 2;
      min-height: 47px;
      display: block;
      border: 1px solid $gray-middle;
      border-radius: 10px;
      background-color: $gray-light;
      margin-bottom: $spacing-m;

      .check-accept {
        text-align: center;
        color: $green;
      }

      .single-file {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border: transparent;

        .file-name {
          color: $blue-light;
        }

        &:nth-child(2n) {
          background-color: $gray-light;
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        .remove-button {
          cursor: pointer;
        }
      }
    }

    .fileupload-label {
      color: $blue-light;
      cursor: pointer;

      & ~ input[type='file'] {
        display: none;
      }
    }

    .messages-bar {
      order: 3;
      margin-top: 0;
      margin-bottom: $spacing-m;
      border: 1px solid $red;
      border-radius: 10px;
      background-color: $gray-light;

      .remove-all-button {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        color: $red;
        text-align: right;
        cursor: pointer;
      }

      .single-message {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border: transparent;
        color: $red;

        &:nth-child(2n) {
          background-color: $gray-light;
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        .remove-button {
          cursor: pointer;
        }
      }
    }

    .buttons-bar {
      order: 4;
      margin-top: 0;
      margin-bottom: $spacing-m;

      button {
        margin-left: $spacing-xs;
      }
    }
  }

  .p-fileupload-buttonbar {
    display: none;
  }
}
