.custom.p-scrollpanel {
  border: none;

  .p-scrollpanel-wrapper {
    border: none;
  }

  .p-scrollpanel-bar {
    opacity: 1;
    width: 5px;
    background-color: $gray-deep;

    &:hover {
      background-color: $gray-deep-middle;
    }
  }
}
