@import 'theme/variables/index';

.custom-grid.p-table {
  margin-bottom: $spacing-m;

  .p-table-wrapper {
    overflow-x: unset;

    table {
      border-collapse: collapse;
    }
  }

  // HEADER
  .p-table-thead {
    tr:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      th:first-child {
        border-top-left-radius: 6px;
      }

      th:last-child {
        border-top-right-radius: 6px;
      }
    }

    th {
      padding: 26px 20px;
      color: $white;
      font-weight: bold;
      background-color: $blue-ocean;
      border: none;
      border-bottom: 1px solid $blue-ocean;
      transition: background-color 0.2s;

      &.header-check {
        align-content: center;
        align-items: center;
        width: 62px !important;

        .p-chkbox {
          margin: 0 !important;
        }
      }

      &.header-numberMinMax {
        width: 10%;
      }

      &.header-date {
        width: 15%;
      }

      &.filter-header {
        width: 10%;
        min-width: 90px;
      }

      &.sortable {
        cursor: pointer;

        &:hover {
          background-color: $blue-sky;
          border-bottom: 1px solid $blue-sky;
        }
      }
    }

    td {
      &.filter {
        padding: 1.1rem $spacing-xxs;
        font-weight: normal;
        background-color: $gray-light;
        border-bottom: $gray-light;

        .filter-with-tooltip {
          input {
            border-radius: 0.25rem !important;
          }

          span {
            color: $blue-ocean;
            padding: 0.7rem $spacing-xs;
          }
        }
      }
    }
  }

  // BODY
  .p-table-tbody {
    tr {
      background-color: $white;
      font-size: $font-size-m;

      &.p-state-highlight {
        background-color: $white !important;
        color: $dark !important;
      }

      &:nth-child(2n) {
        background-color: $gray-neutral;

        &.p-state-highlight {
          background-color: $gray-neutral !important;
          color: $dark !important;
        }
      }

      &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        td:first-child {
          border-bottom-left-radius: 6px;
        }

        td:last-child {
          border-bottom-right-radius: 6px;
        }
      }

      &:hover {
        background-color: $gray-deep !important;
      }

      th {
        padding: 2.6rem $spacing-m;
        vertical-align: middle;
        font-size: $font-size-m;
        line-height: 16px;
        font-weight: normal;
      }

      td {
        border: none;
        padding: 1.7rem 2.1rem;
        font-weight: normal;

        &.title {
          color: $blue-primary;
          font-size: $font-size-m;
          line-height: 16px;
        }

        &.action-buttons {
          img {
            margin-left: $spacing-xxs;
          }
        }

        &:last-child {
          img:hover {
            cursor: pointer;
            color: $gray-deep;
            border-color: $white;
          }
        }
      }
    }
  }
}
