@import 'theme/variables/index';

$arrow-border-width: 0.7rem;
$arrow-border-offset: $arrow-border-width / 2;

.bspl-tooltip {
  &.p-tooltip {
    max-width: 20rem;

    &.p-tooltip-top,
    &.p-tooltip-bottom,
    &.p-tooltip-left,
    &.p-tooltip-right {
      padding: $arrow-border-width;
    }

    .p-tooltip-text {
      line-height: 1.6rem;
      padding: $spacing-xs;
      background-color: $gray-dark;
      border-radius: 2px;
      font-size: $font-size-s;
      font-weight: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
      color: $white;
      white-space: pre-line;
    }
  }

  &.p-tooltip-right {
    .p-tooltip-arrow {
      border-right-color: $gray-dark;
      border-width: $arrow-border-width $arrow-border-width $arrow-border-width 0;
      margin-top: -$arrow-border-offset;
    }
  }

  &.p-tooltip-left {
    .p-tooltip-arrow {
      border-left-color: $gray-dark;
      border-width: $arrow-border-width 0 $arrow-border-width $arrow-border-width;
      margin-top: -$arrow-border-offset;
    }
  }

  &.p-tooltip-top {
    .p-tooltip-arrow {
      border-top-color: $gray-dark;
      border-width: $arrow-border-width $arrow-border-width 0;
      margin-left: -$arrow-border-offset;
    }
  }

  &.p-tooltip-bottom {
    .p-tooltip-arrow {
      border-bottom-color: $gray-dark;
      border-width: 0 $arrow-border-width $arrow-border-width;
      margin-left: -$arrow-border-offset;
    }
  }
}
