<p class="MsoNormal" style="line-height: normal">
  This module allows Agent users to access all the available documents (Tickets, Refunds, ADMs, etc.), including
  rejected ones. In order to view a given document, it must belong to the Agent’s BSP and be linked to the Agent’s IATA
  Code. Besides, it is possible to query and issue Post-Billing Disputes.
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="194" height="191" id="Imagen 97" src="agent/images/image219.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Hlk54768735"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">112</span
  ><span lang="EN-GB">: Documents.</span>
</p>
