<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk29366533"
    ><span lang="EN-GB"
      >It is also possible to display other facsimiles, such as for EMDA, EMDS, TASF, Refunds or Cancelations, by
      following the same steps as the Ticket facsimile. The presence of certain fields may vary according to the
      document type.</span
    ></a
  >
</p>
