<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This option allows Agent Users to query and manage Post Billing Disputes (PBD), which enable to dispute a document
    after its inclusion in the billing. When accessing this option, the details of the existing PBD are shown on a table
    which contains the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="643" height="149" id="Imagen 5" src="agent/images/image235.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451988"></a><a name="_Toc34375518"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: PBD View.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR:</span></b
  ><span lang="EN-GB"> the document number related to the PBD.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b><span lang="EN-GB">the disputed transaction type (TKTT, EMD, etc.)</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code: </span></b><span lang="EN-GB">the involved Airline’s IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name: </span></b><span lang="EN-GB">the involved Airline’s name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">the Status of the PBD can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Airline: </span></b
  ><span lang="EN-GB">when some feedback by the Airline is required.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Agent: </span></b
  ><span lang="EN-GB">when some feedback by the Agent is required.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Agent: </span></b
  ><span lang="EN-GB">when the Airline agreed with the Agent’s dispute.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Airline: </span></b
  ><span lang="EN-GB"
    >when the Agent agreed with the Airline’s reason for rejecting the PBD, or when the Agent did not reply to the
    Airline’s disagreement.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agreement not reached – to Agent: </span></b
  ><span lang="EN-GB"
    >when the Airline did not take any action during the Maximum Resolution period or when the maximum of two
    disagreement actions allowed per user was reached.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b><span lang="EN-GB">the date in which the PBD is issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">the date in which the PBD is resolved, no longer than 30 days after its issuance.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB">the currency in which the original document was issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Maximum Disputable Amount: </span></b
  ><span lang="EN-GB"
    >the maximum amount to be post billing disputed (REMT for ADMs and TDAM for Tickets and Refunds).</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b><span lang="EN-GB">Amount being disputed in the PBD.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The information contained on this table can be filtered by means of the
    <img border="0" width="82" height="30" id="Imagen 28" src="agent/images/image236.jpg" /> button. IATA Users may
    narrow the results based upon the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="646" height="147" id="Imagen 8" src="agent/images/post-billing-disputes-2.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451989"></a><a name="_Toc34375519"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: PBD Filter option.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country / Territory</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Number (TDNR</span></b
  ><span lang="EN-GB">): in case the query is to be performed based on the number of the original document. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Code (TRNC): </span></b
  ><span lang="EN-GB">to reduce the results to the type of the original transaction (TKTT, EMDS, EMDA, ADMA).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b><span lang="EN-GB">to show results by Airline.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">to display results by PBD Status.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b>
  <span lang="EN-GB">
    to frame by resolution date, or by a series of dates (“From” and “To”). Future dates may be selected up to one year.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">to frame by resolution date, or by a series of dates (“From” and “To”).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">to obtain PBDs by currency.</span>
</p>

<p
  class="MsoNormal"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk19538885"
    ><span lang="EN-GB"
      >Once the required filters have been applied, it is necessary to click the
      <img border="0" width="74" height="30" id="Imagen 186" src="agent/images/image238.jpg" /> button. Otherwise, Agent
      users may clear the filters by means of the
      <img border="0" width="62" height="30" id="Imagen 241" src="agent/images/image239.jpg" />
      button.</span
    ></a
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Besides, it is possible to download the query results, either filtered or not, by clicking the
    <img border="0" width="106" height="30" id="Imagen 109" src="agent/images/image240.jpg" /> button.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  How can I start a Post Billing Dispute?
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to start a new Post Billing Dispute, Agent users must click the
    <img border="0" width="68" height="30" id="Imagen 248" src="agent/images/image241.jpg" /> button at the top right
    side. A modal window is then displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="418" height="359" id="Imagen 129" src="agent/images/image242.png" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451990"></a><a name="_Toc34375520"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Start PBD modal box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is necessary to indicate the document number to be disputed without the Airline code: ticket number (TKTT), EMD
    or ADM. Please consider that the system searches for this document number in the billing documents available for
    each Agent. In other words, if the document number has not been processed yet in the billing, it is not possible to
    start a Post Billing Dispute against such document (please refer to </span
  ><span lang="EN-GB">section "ADMA"</span><span lang="EN-GB"> if that is the case). </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In relation to the document number, Agents should take the following cases into consideration:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the introduced number is not found, either because it has not been processed yet (see above) or because such
    number does not correspond to the Agent, this process cannot be executed.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the introduced number corresponds to a document which was previously post-billing disputed, this process cannot
    be repeated.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the introduced number corresponds to a document which excesses the maximum period of 12 months since it was
    issued, this process cannot be executed. Please contact the Airline directly if this is the case (please refer to
    section </span
  ><span lang="EN-GB">"Airlines"</span><span lang="EN-GB">).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If the introduced number corresponds to a document which is related to a suspended Airline, this process cannot be
    executed. Please check your communications (please refer to section "Dashboard") or contact IATA for more
    information.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once a valid document number is introduced, the
    <img border="0" width="61" height="30" id="Imagen 130" src="agent/images/image243.jpg" /> button displays the
    following form on a new tab:</span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="643" height="160" id="Imagen 176" src="agent/images/image244.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451991"></a><a name="_Toc34375521"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: PBD form.</span>
</p>

<p class="MsoNormal" style="line-height: normal"><span lang="EN-GB">The form contains three main parts:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Header: </span></b
  ><span lang="EN-GB"
    >this section contains different details which are populated as the Agent User completes the form.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Details and Amount: </span></b
  ><span lang="EN-GB">this section includes the different fields which need to be completed by the Agent User.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Process: </span></b
  ><span lang="EN-GB"
    >this section shows the different steps taken by both the Agent and the Airline Users once the PBD is issued.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  PBD Header
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The PBD Header displays the following PBD details:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="642" height="37" id="Imagen 395" src="agent/images/image245.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc34375522"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: PBD Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >the Status is populated as each part of the PBD (Agent and Airline) intervenes. Please note that the default status
    before issuing a PBD is “Not Issued Yet”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB"
    >the Resolution Date is calculated once the PBD is issued. As a result, the default value before its issuance is
    “Not Issued Yet”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR: </span></b
  ><span lang="EN-GB">this is the document number which was introduced to start the PBD.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b
  ><span lang="EN-GB"
    >the amount value cannot be displayed until the PBD is issued. Therefore, its value is “Not Issued Yet”.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Time Left for Agreement: </span></b
  ><span lang="EN-GB"
    >the Time Left for Agreement is calculated once the PBD is issued. Up to its issuance, the default value is
    “Closed”. Please consider that, once issued, all PBD must be resolved <b>within</b> a period of 30 days.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details and Amount
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">This section contains different data related to the PBD which is being issued:</span>
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="293" id="Imagen 538" src="agent/images/image246.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451992"></a><a name="_Toc34375523"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: PBD Details and Amount.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Details: </span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent: </span></b><span lang="EN-GB">the issuing Agent’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline:</span></b
  ><span lang="EN-GB"> the involved Airline’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Issue Date:</span></b
  ><span lang="EN-GB"> the date in which the PBD is issued. </span>
</p>

<p
  class="BulletLevel2"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.75in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> the end of the thirty-day period within which the PBD must be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Details:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b
  ><span lang="EN-GB">the type of transaction to be disputed (“TKTT”, “EMD” or “ADM”).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRND: </span></b><span lang="EN-GB">the disputed document number.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">DAIS: </span></b
  ><span lang="EN-GB"
    >the date of issuance of the disputed document. The DAIS determines the validity of the period to issue a PBD, which
    cannot exceed 12 months.</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b
  ><span lang="EN-GB"
    >the Agent User must indicate under this subsection the amount which is to be disputed. This amount cannot exceed
    that of the original document, as the system indicates. Besides, a significant message is displayed:</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="margin-top: 12pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0.25in; line-height: normal"
>
  <span lang="EN-GB">&nbsp;</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: center;
    line-height: normal;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="46" id="Imagen 178" src="agent/images/image247.jpg" /></span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: center;
    line-height: normal;
  "
>
  <span lang="EN-GB">&nbsp;</span>
</p>

<p
  class="MsoNormal"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 6pt; margin-left: 0.25in; line-height: normal"
>
  <span lang="EN-GB">Indeed, as in Refund Applications (please refer to </span
  ><span lang="EN-GB">6.4.1 Refund Applications</span
  ><span lang="EN-GB"
    >), Agents must not deduct any amount from the total shown in the billing. Failing to remit the exact amount prior
    to the remittance date defined by the calendar may result in the assignment of an irregularity.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Process
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >This subsection displays the evolution of the PBD process evolution. Agent users will find the different actions
    performed by each of the parts involved. Before the issuance of the PBD, a message explaining that the PBD has not
    been issued yet will be shown by default.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once the necessary information is completed, the
    <img border="0" width="59" height="30" id="Imagen 179" src="agent/images/image248.jpg" /> button turns available. It
    is necessary to click on it to register the PBD.  A new modal window is then displayed:</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >On this window, the Agent user must provide a reason supporting the PBD. It is precisely at this moment when it is
    also possible to include any attached files, either by dragging them into the modal window or by browsing them.
    Afterwards, the <img border="0" width="59" height="30" id="Imagen 183" src="agent/images/image249.jpg" /> button
    registers the PBD. A confirmation message is displayed, in which the status of the PBD (“Pending Airline”), its date
    of issue and resolution are included<a name="_Ref17800325">.</a></span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  How can I check the status of my Post-Billing Dispute?
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk19539095"
    ><span lang="EN-GB"
      >In order to check the status of an already issued Post-Billing Dispute (PBD), it is necessary to
    </span></a
  ><span lang="EN-GB"
    >display the table which includes all the existing PBD. Such table is available when clicking the option
    “Post-Billing Disputes” under the “Documents” option from the menu at the top, as seen above.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The information contained on this table can be filtered by means of the
    <img border="0" width="82" height="30" id="Imagen 207" src="agent/images/image251.jpg" /> button. The fields here
    displayed have already been explained above. Please refer to section "Post Billing Disputes".</span
  >
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">In order to perform a filtered query, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 532" src="agent/images/image253.jpg" /></span
  ><span lang="EN-GB">. The </span
  ><span lang="EN-GB"><img border="0" width="62" height="30" id="Imagen 534" src="agent/images/image254.jpg" /></span
  ><span lang="EN-GB"> button disregards the filters previously selected. By default, no filter is applied. </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Besides, the </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 535" src="agent/images/image255.jpg" /></span
  ><span lang="EN-GB"> button allows the user to download the results in CSV or TXT format.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >A list with all the issued PBD, either filtered or not, is then displayed. The sixth column indicates the status of
    each PBD, which can be:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Agent: </span></b
  ><span lang="EN-GB"
    >the involved Airline has expressed its disagreement, and it is the Agent’s turn to intervene.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Airline: </span></b
  ><span lang="EN-GB"
    >the Agent has either just issued the PBD or has expressed its disagreement after the Airline’s intervention.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Agent: </span></b
  ><span lang="EN-GB">the involved Airline has accepted the dispute.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Airline: </span></b
  ><span lang="EN-GB">the involved Agent agreed the Airline’s remark on the PBD.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agreement not reached – to Agent: </span></b
  ><span lang="EN-GB">no agreement has been produced within the stipulated period of thirty days. </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Each status corresponds to the different scenarios which can be produced during the PBD process. Please consider
    that the following rules apply in Post-Billing Disputes:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >PBD cannot be issued against documents with a DAIS (original date of issuance) which exceeds twelve months, which
    involve a Suspended Airline, or which were already post-billing disputed.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Each part is assigned two interventions throughout the process. As a consequence, the development of the PBD
    follows the following pattern:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The Agent issues the PBD, which turns into “Pending Airline” until the Airline intervenes.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Airline intervenes to either express its agreement with the dispute (“Agree to Agent”, the PBD process
    finishes) or its disagreement (“Pending Agent”, the PBD process goes on).</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Agent replies to the Airline by either expressing its agreement to the Airline’s remark (“Agree to Airline”,
    the PBD finishes) or its disagreement to the Airline’s observation (“Pending Airline”, the PBD process
    continues).</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Airline may then either agree with the Agent’s second intervention (“Agree to Agent”) or not (“Agreed not
    reached – to Agent”). No extra interventions are possible.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Consequently, the PBD finishes in the following cases:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">When the maximum amount of interventions (two each part) is reached.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >When the maximum period of thirty days finishes. It is calculated based on the date in which the PBD is issued,
    which is included in the period (that is, the period does not commence on the following day). The result of the PBD
    is therefore that of the latest status.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.75in; line-height: normal">
  <span lang="EN-GB">&nbsp;</span>
</p>

<p class="MsoNormal" style="margin-left: 0.75in; line-height: normal">
  <b><span lang="EN-GB">Note</span></b
  ><span lang="EN-GB"
    >: if a disagreement is expressed by any of the parts on the thirtieth day of the period, seven extra days are
    granted for the other part to reply.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to review the details of a given PBD,
    <a name="_Hlk19539186">it is necessary to click on the TDNR number or on the Airline Name:</a></span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="643" height="149" id="Imagen 195" src="agent/images/image256.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451997"></a><a name="_Toc34375527"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: View PBD details.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk19539523"
    ><span lang="EN-GB"
      >The PBD details get then displayed on a new tab which splits the information into the PBD Header, the PBD Details
      and Amount, the PBD Process and the PBD Activity Panel.
    </span></a
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">Firstly, the PBD Header summarizes the PBD essential information: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="642" height="37" id="Imagen 537" src="agent/images/image257.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451998"></a><a name="_Toc34375528"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: PBD Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >the PBD Status determines the actions to be performed. Agents should update the PBD when the status is “Pending
    Agent”.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> the end of the thirty-day period in which the PBD needs to be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR:</span></b
  ><span lang="EN-GB"> the disputed document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount (Currency):</span></b
  ><span lang="EN-GB"> the disputed amount.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Time Left for Agreement:</span></b
  ><span lang="EN-GB"> days left until the Resolution Date.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Secondly, This PBD details allows Agent users to query different information related to it. Information is divided
    into the following sections:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="642" height="304" id="Imagen 197" src="agent/images/image258.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451999"></a><a name="_Toc34375529"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: View PBD details and amount.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Details: </span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent: </span></b><span lang="EN-GB">the issuing Agent’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline:</span></b
  ><span lang="EN-GB"> the involved Airline’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Issue Date:</span></b
  ><span lang="EN-GB"> the date in which the PBD is issued. </span>
</p>

<p
  class="BulletLevel2"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.75in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> the end of the thirty-day period within which the PBD must be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Details:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b
  ><span lang="EN-GB">the type of disputed transaction (“TKTT”, “EMD” or “ADM”).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRND: </span></b><span lang="EN-GB">the disputed document number.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">DAIS: </span></b
  ><span lang="EN-GB"
    >the date of issuance of the disputed document. The DAIS determines the validity of the period to issue a PBD, which
    cannot exceed 12 months.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b
  ><span lang="EN-GB">the disputed amount on the document indicated above.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Thirdly, the Process section<b> </b>includes all the actions performed by each part. It indicates both the time
    left for agreement and the different reasons which motivated each position. Reasons may include attached
    files.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="362" id="Imagen 539" src="agent/images/image259.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452000"></a><a name="_Toc34375530"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: PBD Process.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Lastly, the right side of the screen includes the option to upload files and the Activity Panel.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Files can be uploaded at any point by dragging them into the upload box or by browsing the required file:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="145" id="Imagen 64" src="agent/images/image260.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc34375531"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >As for the Activity Panel, it displays all the comments included by each part and also reflects the workflow of the
    PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="370" height="618" id="Imagen 199" src="agent/images/image261.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452001"></a><a name="_Toc34375532"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">14</span
  ><span lang="EN-GB">: PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >The Activity Panel allows Agent and Airline Users include any comment regardless of who is expected to take the
    following action in the PBD. This panel is intended to facilitate a communication channel between both parts without
    employing the interventions granted to each of them in the PBD process. Also, the panel displays any interventions
    performed by the parts (“Workflow Events”, which also show the change of Status)
    <a name="_Hlk31870614">and the possibility to attach files and show attached ones. </a></span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB">The activities in the panel can be filtered by clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 541" src="agent/images/image262.jpg" /><span lang="EN-GB">
    icon at the top right corner:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="371" height="619" id="Imagen 200" src="agent/images/image263.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452002"></a><a name="_Toc34375533"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: Filter of PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">It is possible to add a new comment by clicking at the top box of the Activity Panel:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="370" height="619" id="Imagen 201" src="agent/images/image264.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452003"></a><a name="_Toc34375534"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">16</span
  ><span lang="EN-GB">: Comment box at Activity Panel.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once clicked, the box gives the option to type a comment addressed to the Airline User in charge of the PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="370" height="642" id="Imagen 206" src="agent/images/image265.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452004"></a><a name="_Toc34375535"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">17</span
  ><span lang="EN-GB">: Adding a comment in the PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to add the comment in the panel, it is necessary to click on
    <img border="0" width="76" height="30" id="Imagen 249" src="agent/images/image266.jpg" />. Otherwise, the comment
    can be disregarded by means of the
    <img border="0" width="89" height="30" id="Imagen 250" src="agent/images/image267.jpg" /> button. Besides, for any
    comment, it is possible to add attachments or to download them (by clicking
    <img border="0" width="22" height="22" id="Imagen 113" src="agent/images/image268.jpg" />).</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  How can I modify my Post-Billing Dispute?
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Considering the status of a PBD, Agent Users may decide to update it. Whereas the status “Pending Airline” requires
    the Agent Users to wait for the Airline’s feedback, the status “Pending Agent” requests their intervention. Any
    update must be performed from the PBD detailed view. In order to review the details of a given PBD, it is necessary
    to click on its TDNR number:</span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="145" id="Imagen 55" src="agent/images/image269.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452005"></a><a name="_Toc34375536"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">18</span
  ><span lang="EN-GB">: View PBD details.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The PBD details get then displayed on a new tab. At the top, each PBD summarizes its main information on the PBD
    Header. Any intervention must be performed by means of the
    <img border="0" width="136" height="30" id="Imagen 117" src="agent/images/image270.jpg" /> button at the right side
    of the PBD Header:</span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="644" height="45" id="Imagen 58" src="agent/images/image271.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452006"></a><a name="_Toc34375537"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">19</span
  ><span lang="EN-GB">: PBD Agreement button on PBD Header.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >From this button, Agent users may click directly on “PBD Agreement”, if that is the case. Otherwise, the arrow next
    to it deploys the possible options:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="191" height="153" id="Imagen 118" src="agent/images/image272.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452007"></a><a name="_Toc34375538"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">20</span
  ><span lang="EN-GB">: PBD Agreement options.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">If the Agent User wishes to agree with the Airline, the following modal box is displayed:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="380" height="455" id="Imagen 223" src="agent/images/image273.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452008"></a><a name="_Toc34375539"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">21</span
  ><span lang="EN-GB">: Agree with Airline box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk19603194"
    ><span lang="EN-GB"
      >The Agent User must then indicate a reason for the agreement, and then click on
      <img border="0" width="62" height="30" id="Imagen 126" src="agent/images/image274.jpg" />. Otherwise, it is
      possible to leave the process by means of the
      <img border="0" width="70" height="30" id="Imagen 224" src="agent/images/image275.jpg" /> button or by pressing
      “Esc” on the keyboard. Please note that the PBD gets closed due to the agreement between both parts.</span
    ></a
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">A similar modal box gets displayed if the Agent User wishes to disagree with the Airline:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="380" height="453" id="Imagen 228" src="agent/images/image276.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26452009"></a><a name="_Toc34375540"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">22</span
  ><span lang="EN-GB">: Disagree with Airline box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk19603638"
    ><span lang="EN-GB"
      >The Agent User must then indicate a reason for the disagreement, and then click on
      <img border="0" width="79" height="30" id="Imagen 169" src="agent/images/image277.jpg" />. Otherwise, it is
      possible to leave the process by means of the
      <img border="0" width="70" height="30" id="Imagen 237" src="agent/images/image278.jpg" /> button or by pressing
      “Esc” on the keyboard. The dispute does then go on based upon the procedure explained above, hence the PBD Status
      gets updated.</span
    ></a
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk29887886"
    ><span lang="EN-GB"
      >Please note that New BSPlink does automatically update the PBD status once the maximum period of 30 days is
      reached if parties do not achieve an agreement. This update affects the Agent’s remittance or Airline’s settlement
      accordingly. However, if any of the parts does intervene on the last day, an extra period of seven days is
      granted.</span
    ></a
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk56494907"
    ><span lang="EN-GB"
      >Lastly, if changes are produced in a PBD but these are not saved, New BSPlink warns users before leaving the
      PBD:</span
    ></a
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="380" height="239" id="Imagen 229" src="agent/images/image279.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">23</span><span lang="EN-GB">: Unsaved changes in PBD.</span>
</p>
