<div class="dialog-container">
  <div class="text-content">
    <span>{{ 'document.creditCardDialog.textContent' | translate }}</span>
  </div>

  <ng-container *ngIf="selected">
    <ng-container [ngSwitch]="selected">
      <ng-container *ngSwitchCase="EOption.SearchByPaymentCard">
        <div [formGroup]="form">
          <bspl-input
            formControlName="creditCardNumber"
            [label]="'document.creditCardDialog.creditCardNumber.label' | translate"
            [locked]="isSearching"
            [autofocus]="true"
            [maxLength]="19"
          >
          </bspl-input>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
