<bspl-list-view
  [title]="title"
  [hasFiltering]="false"
  [hasDownloading]="true"
  [hasDetailedDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [filterFormatter]="filterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (download)="onDownload()"
  (detailedDownload)="onDetailedDownload()"
>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    (rowToggle)="onRowToggle($event)"
    [rowDetailTemplate]="rowDetailTemplate"
    [isLoading]="loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <bspl-spinner [isLoading]="loadingExpandableRow$ | async">
    <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
      <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
        <bspl-property
          label="ADM_ACM.documentEnquiry.query.rowDetails.airlineLbl"
          [value]="row.airline.iataCode + ' / ' + row.airline.localName"
        ></bspl-property>
        <bspl-property
          label="ADM_ACM.documentEnquiry.query.rowDetails.agentLbl"
          [value]="row.agent.iataCode + ' / ' + row.agent.name"
        ></bspl-property>
        <bspl-property
          label="ADM_ACM.documentEnquiry.query.rowDetails.countryLbl"
          [value]="row.agent.bsp.name | titlecase"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
        <bspl-property label="ADM_ACM.query.rowDetails.trncTypeLbl" [value]="row.transactionCode"></bspl-property>
        <bspl-property
          label="ADM_ACM.documentEnquiry.query.rowDetails.rtdnLbl"
          [value]="'ADM_ACM.acdmFor.' + row.concernsIndicator | translate"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list
        *ngIf="row.acdmStatus === 'DELETED' || row.acdmStatus === 'SUPERVISION_DELETED'"
        class="col-md-4 col-sm-4 property-list-compact"
      >
        <bspl-property
          label="ADM_ACM.documentEnquiry.query.rowDetails.deletionReasonLbl"
          [value]="deletionReason$ | async"
        ></bspl-property>
      </bspl-property-list>
    </div>
  </bspl-spinner>
</ng-template>

<ng-template #multipleLinkByAcdmStatusCellTmpl let-row="row" let-value="value" let-column="column">
  <a
    *ngIf="row.acdmStatus !== 'DELETED' && row.acdmStatus !== 'SUPERVISION_DELETED'"
    [class.link]="value"
    (click)="value ? onRowLinkClick($event, row, column) : false"
    >{{ value | bsplEmpty }}</a
  >
  <ng-container *ngIf="row.acdmStatus === 'DELETED' || row.acdmStatus === 'SUPERVISION_DELETED'">
    {{ value | bsplEmpty }}
  </ng-container>
</ng-template>
