<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >When clicking the ‘Switch to another BSPlink account’ icon
    <img src="agent/images/icon-globo-terraqueo.jpg" height="35" border="0" /> at the top right corner, a modal box is
    displayed with the login information. The information related to the BSP Country/Territory and the account is
    displayed in read-only.
  </span>
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >For multi-country and/or multi-account users, a drop-down list is displayed where to select the option to log in
    with the desired BSP and/or account:</span
  >
</p>

<br />

<p class="BodyText" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img
      border="0"
      width="450"
      src="gds/images/switch-to-another-BSPlink-account-1.jpg"
      alt="Interfaz de usuario gráfica, Aplicación&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Login Information.</span>
</p>
