<p class="BodyText" style="line-height: normal">The user icon displays the following options:</p>

<p class="MsoBodyText" align="center" style="text-align: center">
  <span lang="EN-GB"><img border="0" width="350" src="gds/images/user-details-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: User icon.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Profile properties:</b> a table is then displayed, which includes all the user details divided into “General”,
  “Contact Details” (editable) and “Address details” (editable).
</p>

<p class="MsoBodyText" align="center" style="text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="gds/images/user-details-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Profile properties.</span>
</p>

<p class="BodyText" style="line-height: normal">
  When any field is edited, it is necessary to click on
  <span lang="EN-GB"><img border="0" height="33" src="gds/images/icon-apply-changes.jpg" /></span>.
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Language:</b> a modal box is displayed, in which a dropdown list with all the available languages allows Users to
  change the language after the next login.
</p>

<p class="MsoBodyText" align="center" style="text-align: center">
  <span lang="EN-GB"><img border="0" width="400" src="gds/images/user-details-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Language.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Log Out:</b> this will log out the user from the current New BSPlink session.
</p>
