<div class="dialog-container">
  <div [formGroup]="form">
    <bspl-textarea
      formControlName="internalComment"
      [autofocus]="true"
      [isReadOnly]="isReadonlyMode"
      [label]="'ADM_ACM.internalComment.dialog.commentLabel' | translate"
      [placeholder]="'ADM_ACM.internalComment.dialog.commentPlaceholder' | translate"
    ></bspl-textarea>
  </div>
</div>
