@import 'theme/variables/index';
@import 'theme/app/custom-control';

:host {
  label {
    @include input-label();
  }

  ::ng-deep bspl-input {
    .control__wrapper {
      position: relative;
    }

    input {
      cursor: pointer;

      & ~ .picker-calendar-icon {
        color: $gray-middle;
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: calc(50% - (2rem / 2));
        cursor: pointer;
      }

      &[disabled] {
        cursor: default;

        & ~ .picker-calendar-icon {
          cursor: default;
        }
      }

      &:focus {
        & ~ .picker-calendar-icon {
          color: $blue-light;
        }
      }
    }

    &.control--locked {
      input {
        & ~ .picker-calendar-icon {
          display: none;
        }
      }
    }
  }
}
