<!-- The label is separated intentionally in order to open the pop up relative to the input, without including the label. -->
<label>{{ label | translate }}</label>
<bspl-input
  #periodInput
  cdk-overlay-origin
  [isReadOnly]="true"
  [placeholder]="'periodPicker.select' | translate"
  [isDisabled]="isDisabled"
  [value]="selectedOptions | period : isMonthPicker"
  (click)="openPicker()"
  (keyup.backspace)="clearSelectedPeriod()"
>
  <i class="material-icons picker-calendar-icon">web_asset</i>
</bspl-input>

<ng-template #periodPickerPopUp>
  <bspl-period-picker-panel
    [values]="selectedOptions"
    [options]="options"
    [range]="range"
    [singleMonthSelection]="singleMonthSelection"
    [yearsBack]="yearsBack"
    [isMonthPicker]="isMonthPicker"
    [isMonthPeriodRestricted]="isMonthPeriodRestricted"
    (selectPeriod)="selectPeriod($event)"
    (navigation)="select()"
  ></bspl-period-picker-panel>
</ng-template>
