@import 'src/app/shared/scss/data-table-dialog';
@import 'components/form-page/form-page';

:host {
  width: 100%;
  display: block;
  margin-bottom: $spacing-xxxl;

  div.paragraph__text,
  div.paragraph__form {
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }

  div.paragraph__text,
  bspl-alert-message {
    display: block;
    margin: 0 0 $spacing-l 0;
  }

  div.paragraph__form {
    margin: $spacing-xl 0 $spacing-m 0;
  }

  div.data__table {
    div.row.line__data {
      &:last-child {
        border-bottom: none;
      }
    }

    border-bottom: 1px solid $gray-deep;
    padding: 0 $spacing-m $spacing-xl $spacing-m;
  }

  div.row__form {
    bspl-select::ng-deep {
      margin-bottom: $spacing-m;
    }

    bspl-textarea::ng-deep {
      margin-bottom: $spacing-s;
    }

    bspl-input::ng-deep {
      margin-bottom: $spacing-m;
    }
  }

  div.information {
    border-color: $gray-neutral;
    padding-bottom: 0;
    margin-bottom: $spacing-m;
  }

  div.reasons {
    bspl-textarea {
      margin-bottom: $spacing-xs;
    }

    &.reasons-delete {
      padding-top: $spacing-m;
    }
  }

  //TODO This is a workaround for issue described in method 'enableCloseOnScroll' of SelectComponent
  div.gdsSelect {
    bspl-select::ng-deep {
      .total-padding {
        max-height: 15rem;
      }
    }
  }

  .reason-section {
    margin: $spacing-m 0;
  }

  div.contact-section {
    margin-top: $spacing-m;
  }
}
