<div [formGroup]="dialogForm">
  <div class="paragraph__text" *ngIf="actionType !== actionTypeEnum.forwardGds">
    <p>
      {{
        getTranslationKey('description')
          | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate, docNumber: acdmNumber }
      }}
    </p>
  </div>

  <ng-container
    *ngIf="
      actionType === actionTypeEnum.issue ||
      actionType === actionTypeEnum.supervise ||
      actionType === actionTypeEnum.issuePendingSupervision
    "
  >
    <bspl-alert-message
      [hidden]="regularizedMsg.hidden | async"
      [message]="regularizedMsg.message | translate"
      [type]="regularizedMsg.type"
    ></bspl-alert-message>

    <ng-container *ngIf="isAcdmNumberEditable">
      <div class="row__form">
        <bspl-input
          formControlName="ticketDocumentNumber"
          [label]="
            getTranslationKey('information.numberLbl')
              | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate }
          "
          [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.documentNumber' | translate"
        ></bspl-input>
      </div>
    </ng-container>

    <div class="data__table">
      <div class="row line__data">
        <div class="col-6">
          {{ getTranslationKey('information.issueDateLbl') | translate }}
        </div>
        <div class="col-6">{{ issueDate }}</div>
      </div>
      <div class="row line__data">
        <div class="col-6">
          {{
            getTranslationKey('information.amountLbl') | translate : locale.language : { currencyCode: currency?.code }
          }}
        </div>
        <div class="col-6">{{ amount }}</div>
      </div>
    </div>

    <div class="row__form">
      <div class="paragraph__form">
        <p>{{ getTranslationKey('message') | translate }}</p>
      </div>

      <div [hidden]="reasonOptions?.length === 0">
        <bspl-select
          formControlName="reasonForIssue"
          [label]="'ADM_ACM.details.reasonDetails.label.reasonForIssue' | translate"
          [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.reasonForIssue' | translate"
          [options]="reasonOptions"
        ></bspl-select>
      </div>
      <div>
        <bspl-textarea
          class="reasonTextarea"
          formControlName="reasonForMemo"
          [label]="'ADM_ACM.details.reasonDetails.label.reasonForMemo'"
          [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.reasonForMemo'"
          [showNote]="false"
          [rowsLimit]="reasonRows"
          [linesLimit]="reasonLines"
        ></bspl-textarea>
      </div>
      <div class="rmicSection" *ngIf="isRMICVisible">
        <bspl-input
          class="uppercase-input"
          formControlName="reasonForMemoIssuanceCode"
          [label]="'ADM_ACM.details.reasonDetails.label.issuanceCode' | translate"
          [placeholder]="'ADM_ACM.details.reasonDetails.placeholder.issuanceCode' | translate"
        ></bspl-input>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="actionType === actionTypeEnum.dispute">
    <div class="data__table information">
      <div class="row line__data">
        <div class="col-5">
          {{
            getTranslationKey('information.numberLbl')
              | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate }
          }}
        </div>
        <div class="col-7">{{ acdmNumber }}</div>
      </div>
    </div>
    <div class="reasons">
      <bspl-select
        formControlName="disputeReason"
        [label]="'ADM_ACM.dispute.dialog.reasonConf.label' | translate"
        [placeholder]="'ADM_ACM.dispute.dialog.reasonConf.placeholder' | translate"
        [options]="reasonOptions"
      ></bspl-select>
      <bspl-textarea
        formControlName="reason"
        [placeholder]="'ADM_ACM.dispute.dialog.reasonText.placeholder'"
        [showNote]="false"
        [rowsLimit]="reasonRows"
        [linesLimit]="reasonLines"
      ></bspl-textarea>
    </div>
  </ng-container>

  <ng-container *ngIf="actionType === actionTypeEnum.authorizeRequest">
    <div class="data__table information">
      <div class="row line__data">
        <div class="col-5">
          {{
            getTranslationKey('information.numberLbl')
              | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate }
          }}
        </div>
        <div class="col-7">{{ acdmNumber }}</div>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      actionType === actionTypeEnum.deactivate ||
      actionType === actionTypeEnum.approve ||
      actionType === actionTypeEnum.reject ||
      actionType === actionTypeEnum.rejectRequest ||
      actionType === actionTypeEnum.editRejectACDM
    "
  >
    <div class="data__table information">
      <div class="row line__data">
        <div class="col-5">
          {{
            getTranslationKey('information.numberLbl')
              | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate }
          }}
        </div>
        <div class="col-7">{{ acdmNumber }}</div>
      </div>
    </div>
    <div class="reasons">
      <div class="paragraph__form">
        <p>{{ getTranslationKey('message') | translate }}</p>
      </div>

      <bspl-textarea
        formControlName="reason"
        [label]="getTranslationKey('reasonText.label')"
        [placeholder]="getTranslationKey('reasonText.placeholder')"
        [showNote]="false"
        [rowsLimit]="reasonRows"
        [linesLimit]="reasonLines"
      ></bspl-textarea>
    </div>
  </ng-container>

  <ng-container *ngIf="actionType === actionTypeEnum.forwardGds">
    <div class="data__table information">
      <div class="row line__data">
        <div class="col-5">
          {{
            getTranslationKey('information.numberLbl')
              | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate }
          }}
        </div>
        <div class="col-7">{{ acdmNumber }}</div>
      </div>
    </div>
    <div class="gdsSelect" formGroupName="gds">
      <bspl-select
        formControlName="id"
        [options]="gdsOptions"
        [label]="'ADM_ACM.forwardGds.dialog.gdsSelect.label' | translate"
        [placeholder]="'ADM_ACM.forwardGds.dialog.gdsSelect.placeholder' | translate"
        [clearable]="false"
        [locked]="gdsOptions?.length === 1"
        [virtualScroll]="true"
      ></bspl-select>
    </div>

    <div *ngIf="forwardGdsMessage" class="dialog-message">
      <bspl-alert-message
        [hidden]="forwardGdsMessage.hidden"
        [message]="forwardGdsMessage.message"
        [type]="forwardGdsMessage.type"
      ></bspl-alert-message>
    </div>
    <div class="reasons">
      <bspl-textarea
        formControlName="forwardReason"
        [label]="'ADM_ACM.forwardGds.dialog.reasonText.label'"
        [placeholder]="'ADM_ACM.forwardGds.dialog.reasonText.placeholder'"
        [showNote]="false"
        [rowsLimit]="reasonRows"
        [linesLimit]="reasonLines"
      ></bspl-textarea>
    </div>
  </ng-container>

  <ng-container *ngIf="actionType === actionTypeEnum.delete">
    <div class="data__table">
      <div class="row line__data">
        <div class="col-6">
          {{
            getTranslationKey('information.numberLbl')
              | translate : locale.language : { type: 'ADM_ACM.type.' + admAcmType | translate }
          }}
        </div>
        <div class="col-6">{{ acdmNumber }}</div>
      </div>
      <div class="row line__data">
        <div class="col-6">
          {{ getTranslationKey('information.issueDateLbl') | translate }}
        </div>
        <div class="col-6">{{ issueDate }}</div>
      </div>
      <div class="row line__data">
        <div class="col-6">
          {{
            getTranslationKey('information.amountLbl') | translate : locale.language : { currencyCode: currency?.code }
          }}
        </div>
        <div class="col-6">{{ amount }}</div>
      </div>
    </div>
    <div class="reasons reasons-delete">
      <bspl-textarea
        formControlName="reason"
        [label]="'ADM_ACM.delete.dialog.reasonText.label'"
        [placeholder]="'ADM_ACM.delete.dialog.reasonText.placeholder'"
        [showNote]="false"
        [rowsLimit]="reasonRows"
        [linesLimit]="reasonLines"
      ></bspl-textarea>
    </div>
  </ng-container>

  <ng-container *ngIf="dialogForm?.get('attachmentIds')">
    <bspl-upload
      [isDragAndDropActive]="true"
      [mode]="uploadMode"
      [resetMode]="uploadMode"
      [uploadPath]="uploadPath"
      responseFieldName="id"
      formControlName="attachmentIds"
      (uploadStarted)="onUploadIsInProgress(true)"
      (uploadFinished)="onUploadIsInProgress(false)"
    ></bspl-upload>
  </ng-container>

  <ng-container *ngIf="actionType === actionTypeEnum.dispute">
    <div class="contact-section">
      <bspl-input
        [label]="'ADM_ACM.dispute.dialog.contact.label' | translate"
        [placeholder]="'ADM_ACM.dispute.dialog.contact.placeholder' | translate"
        formControlName="disputeContact"
      ></bspl-input>
    </div>
  </ng-container>
</div>
