@import 'theme/variables/index';

.pbd-header {
  &.status-header {
    border: none;
    border-radius: initial;
  }

  header {
    box-shadow: $shadow-z-2;
    margin: 0;
    display: flex;
    align-items: center;

    .info-items,
    .button-items {
      padding: 0;
      margin: 0;

      .item-container {
        min-width: 18rem;
        height: 5.6rem;
        display: inline-block;
        border-left: 1px solid $gray-neutral;
        margin: $spacing-s 0 $spacing-xs 0;
        padding: 0 $spacing-m;

        &:first-child {
          border-left: none;
        }

        &.time-left-item {
          width: 22.5rem;

          .warning {
            color: $orange;
            font-size: $font-size-xl;
            padding-right: $spacing-xxs;
            position: relative;
            top: 0.2rem;
          }
        }

        .title,
        .value {
          display: inline-block;
          width: 100%;
        }

        .title {
          color: $gray-deep;
        }

        .value {
          color: $blue-primary;
          font-size: $font-size-xl;
          line-height: $line-height-l;
        }

        .empty {
          color: $gray-middle;
          font-size: $font-size-xl;
        }

        .watching {
          vertical-align: top;
          margin-left: $spacing-xxs;
        }
      }
    }

    .button-items {
      text-align: right;
      padding-right: $spacing-m;

      .action-menu-container {
        top: $spacing-xxxl;
      }
    }
  }
}
