<div #statusHeader class="pbd-header status-header">
  <header class="row" *ngIf="pbd">
    <div class="col-md-10 info-items">
      <div class="item-container">
        <span class="title">{{ 'postBillingDisputes.pbdDetails.headerLabels.status' | translate }}</span>
        <span [ngClass]="pbd.status ? 'value' : 'value empty'">{{ pbd.translatedPbdStatus | emptyMessage }}</span>
      </div>
      <div class="item-container">
        <span class="title">{{ 'postBillingDisputes.pbdDetails.headerLabels.resolutionDate' | translate }}</span>
        <span [ngClass]="pbd.resolutionDate ? 'value' : 'value empty'">
          {{ pbd.resolutionDate | dayMonthYear | emptyMessage }}
        </span>
      </div>
      <div class="item-container">
        <span class="title">{{ 'postBillingDisputes.pbdDetails.headerLabels.documentNumber' | translate }}</span>
        <span class="value">
          {{ pbd.documentNumber }}
          <span *ngIf="watching" class="watching material-icons-outlined" [bsplTooltip]="'watching' | translate">
            remove_red_eye
          </span>
        </span>
      </div>
      <div class="item-container">
        <span class="title">
          {{ 'postBillingDisputes.pbdDetails.headerLabels.pbdAmount' | translate }}, {{ pbd.currencyCode }}
        </span>
        <span [ngClass]="pbd.pbdAmount ? 'value' : 'value empty'">
          {{ pbd.pbdAmount | emptyMessage }}
        </span>
      </div>
      <div class="item-container time-left-item">
        <span class="title">{{ 'postBillingDisputes.pbdDetails.headerLabels.timeLeftForAgreement' | translate }}</span>
        <span class="value empty" *ngIf="!pbdInprogress && !pbd.status">
          {{ 'postBillingDisputes.pbdDetails.generalLabels.notIssuedYet' | translate }}
        </span>
        <span class="value empty" *ngIf="!pbdInprogress && !!pbd.status">
          {{ 'postBillingDisputes.pbdDetails.headerLabels.closed' | translate }}
        </span>
        <span class="value" *ngIf="pbdInprogress">
          <i *ngIf="pbd.timeLeftForAgreementInHours <= 24" class="material-icons warning">warning</i>
          {{ timeLeftForAgreement }}
        </span>
      </div>
    </div>
    <div class="col-md-2 button-items actions">
      <div *ngIf="issueButtonVisible">
        <bspl-button
          [isDisabled]="!issueButtonEnabled"
          [label]="'postBillingDisputes.pbdDetails.buttonLabels.issue' | translate"
          (onClick)="issue.emit()"
        ></bspl-button>
      </div>
      <div *ngIf="!issueButtonVisible && (Permissions.updatePbdState | hasPermission)">
        <bspl-button-menu
          label="PBD AGREEMENT"
          [options]="buttonMenuOptions"
          (select)="onAgreementButtonSelect()"
          [disabled]="!pbdInprogress"
        ></bspl-button-menu>
      </div>
      <bspl-icon-button
        (click)="toggleHeaderSecondaryActionsMenu($event)"
        [icon]="'more_vert'"
        [isDisabled]="!isWatchingAllowed"
      ></bspl-icon-button>
      <div *ngIf="showHeaderSecondaryActions" class="action-menu-container" #actionsMenuContainer>
        <ul class="actions-menu" (click)="$event.stopPropagation()">
          <li *ngFor="let action of headerSecondaryActions" (click)="onActionClick(action)">
            {{ action.label | translate }}
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div>
    <ng-content></ng-content>
  </div>
</div>
