<div class="container">
  <div class="row">
    <div class="col-md-6">
      <strong>Enabled checkbox (Checked)</strong>
      <div>
        <bspl-checkbox [checked]="true" [disabled]="false" (stateChange)="checkboxChangeDetection($event)">
        </bspl-checkbox>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Enabled checkbox (Unchecked)</strong>
      <div>
        <bspl-checkbox [checked]="false" [disabled]="false" (stateChange)="checkboxChangeDetection($event)">
        </bspl-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Disabled checkbox (Checked)</strong>
      <div>
        <bspl-checkbox [checked]="true" [disabled]="true" (stateChange)="checkboxChangeDetection($event)">
        </bspl-checkbox>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Disabled checkbox (Unchecked)</strong>
      <div>
        <bspl-checkbox [checked]="false" [disabled]="true" (stateChange)="checkboxChangeDetection($event)">
        </bspl-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Enabled checkbox with label</strong>
      <div>
        <bspl-checkbox
          [label]="'Checkbox label'"
          [checked]="true"
          [disabled]="false"
          (stateChange)="checkboxChangeDetection($event)"
        >
        </bspl-checkbox>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Disabled checkbox with label</strong>
      <div>
        <bspl-checkbox
          [label]="'Checkbox label'"
          [checked]="false"
          [disabled]="true"
          (stateChange)="checkboxChangeDetection($event)"
        >
        </bspl-checkbox>
      </div>
      <div>
        <bspl-checkbox
          [label]="'Checkbox label'"
          [checked]="true"
          [disabled]="true"
          (stateChange)="checkboxChangeDetection($event)"
        >
        </bspl-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Enabled checkbox of type minus with label</strong>
      <div>
        <bspl-checkbox
          [label]="'Checkbox label'"
          [checked]="true"
          [disabled]="false"
          [design]="checkboxDesign.Minus"
          (stateChange)="checkboxChangeDetection($event)"
        >
        </bspl-checkbox>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Disabled checkbox of type minus with label</strong>
      <div>
        <bspl-checkbox
          [label]="'Checkbox label'"
          [checked]="false"
          [disabled]="true"
          [design]="checkboxDesign.Minus"
          (stateChange)="checkboxChangeDetection($event)"
        >
        </bspl-checkbox>
      </div>
      <div>
        <bspl-checkbox
          [label]="'Checkbox label'"
          [checked]="true"
          [disabled]="true"
          [design]="checkboxDesign.Minus"
          (stateChange)="checkboxChangeDetection($event)"
        >
        </bspl-checkbox>
      </div>
    </div>
  </div>
</div>
