<bspl-list-view
  [title]="title$ | async"
  [query]="query$ | async"
  [hasDownloading]="false"
  [canDownload]="hasData$ | async"
  [filterFormatter]="monitoringGlobalTaFopFilesFilterFormatterService"
  [hasFiltering]="true"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-4">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-global-ta-fop-files.filters.gdsName.label' | translate"
          formControlName="gdsName"
          [placeholder]="'monitoring-global-ta-fop-files.filters.gdsName.placeholder' | translate"
          [options]="gdsDropdownOptions$ | async"
        >
        </bspl-select>
      </div>
      <div class="col-lg-4">
        <bspl-input
          [label]="'monitoring-global-ta-fop-files.filters.filename.label' | translate"
          formControlName="filename"
          [placeholder]="'monitoring-global-ta-fop-files.filters.filename.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-4">
        <bspl-datepicker
          [label]="'monitoring-global-ta-fop-files.filters.startDate.label' | translate"
          [placeholder]="'monitoring-global-ta-fop-files.filters.startDate.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="startDate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-4">
        <bspl-datepicker
          [label]="'monitoring-global-ta-fop-files.filters.endDate.label' | translate"
          [placeholder]="'monitoring-global-ta-fop-files.filters.endDate.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="endDate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-4">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-global-ta-fop-files.filters.status.label' | translate"
          formControlName="status"
          [placeholder]="'monitoring-global-ta-fop-files.filters.status.placeholder' | translate"
          [options]="statusOptions"
        >
        </bspl-select>
      </div>
      <div class="col-lg-4">
        <bspl-select
          [multiple]="false"
          [label]="'monitoring-global-ta-fop-files.filters.fileType.label' | translate"
          formControlName="fileType"
          [placeholder]="'monitoring-global-ta-fop-files.filters.fileType.placeholder' | translate"
          [options]="fileTypeOptions"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
