<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >This section describes several interface features that are common to most New BSPlink screens.<a
      name="_Ref4742479"
    ></a
  ></span>
</p>
