<p class="MsoNormal">
  <a name="_Hlk59086827"
    ><span lang="EN-GB"
      >To get additional help while using the application, the
      <img border="0" height="30" src="agent/images/image009.2.jpg" /> icon at the top right corner displays the New
      BSPlink Help Pages:</span
    ></a
  >
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB">The following aspects must be considered in the use of Help Pages:</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Help pages are listed in the same order under “6. Main Options” as the different options on the menu bar:</span
  >
</p>

<p class="BodyText" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img
      border="0"
      width="645"
      height="255"
      id="Imagen 108"
      src="agent/images/help-pages-1.jpg"
      alt="Interfaz de usuario gráfica, Aplicación&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: List of topics in Help Pages.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to expand and collapse the options from the Help Pages menu by means of the
    <img border="0" height="30" src="agent/images/image010.2.jpg" /> and
    <img border="0" height="30" src="agent/images/image011.2.jpg" /> icons respectively.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >When a topic is selected, this is preserved when the Airline user displays another tab and comes back to Help
    Pages.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Help Pages contain a back-to-top icon ( <img border="0" height="30" src="agent/images/image012.2.jpg" />) to make
    navigation easier.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to download the New BSPlink manual in PDF format by clicking on
    <img border="0" height="30" src="agent/images/icon-download-manual.jpg" />.</span
  >
</p>
