<p class="BodyText" style="line-height: normal">
  The <b>menu bar</b> gives access to the New BSPlink options the user has been granted.
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  When hovering the mouse over an item of the menu bar, all options that belong to it are displayed.
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="195" id="Imagen 62" src="agent/images/image012.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc8220495"></a><a name="_Toc26451905"></a><a name="_Toc34375430"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Menu bar and general search.</span>
</p>

<p class="BodyText" style="margin-bottom: 0.25in; line-height: normal">
  Whenever an option is clicked, its content is opened in a new tab.
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="86" id="Imagen 98" src="agent/images/image013.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc8220496"></a><a name="_Toc26451906"></a><a name="_Toc34375431"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">2</span><span lang="EN-GB">: Option tab.</span>
</p>

<p class="BodyText" style="line-height: normal">
  Users can switch between tabs by clicking on the tab header. Tabs can also be closed at any time by clicking on the
  exit icon. When the total number of open tabs cannot be shown, two arrows make possible to navigate among them:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="55" id="Imagen 136" src="agent/images/image014.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Navigation through tabs.</span>
</p>

<p class="BodyText" style="line-height: normal">
  Please note that the “Dashboard” is a fixed tab and cannot be closed.
</p>
