@import 'theme/variables/color';
@import 'src/app/shared/scss/index';
@import 'src/app/sales/shared/sales-query';

.user-bsp-select {
  display: flex;

  .view-title {
    color: $blue-primary;
    display: flex;
    align-items: center;
    font-size: $font-size-xxl;
    padding-left: $spacing-xs;
    cursor: pointer;
  }
}

:host ::ng-deep {
  .ngx-datatable .datatable-row-detail {
    padding: 0;
  }

  &.view-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;

    & bspl-button {
      margin-left: $spacing-m;
      vertical-align: middle;
    }
  }

  &::ng-deep {
    .alertMessage .material-icons {
      align-self: flex-start;
    }
  }

  .list-view-action-bar-content {
    flex: 15 1 auto !important;
  }
}

.arrow-icon {
  align-items: center;
}
