<bspl-list-view
  [title]="'sales.billingAnalysis.viewTitle'"
  [hasCreating]="false"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [predefinedFilters]="predefinedFilters$ | async"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  [noticeMessage]="legalNoticeMsg$ | async | translate"
  [isActionButtonDisabled]="isActionButtonDisabled"
  [maxSupportedItems]="appConfiguration.safs?.maxSupportedItems"
  (queryChange)="search($event)"
  (download)="onDownload(false)"
  [hasDetailedDownloading]="true"
  (detailedDownload)="onDownload(true)"
>
  <div class="view-header" bsplListViewTitle>
    <div class="user-bsp-select" *ngIf="!hasAgentPermissions">
      <div class="view-title" (click)="openSetupDialog()">
        {{ query.filterBy?.bsp?.name }}
        <i class="mi md-24">arrow_drop_down</i>
      </div>
    </div>

    <bspl-table-selection-toolbar
      class="selection-toolbar"
      *ngIf="(isMultipopulation$ | async) && (selectedDocumentsCount$ | async)"
      singleSelectedItemTranslationKey="sales.billingStatement.toolbar.itemSelected"
      multipleSelectedItemsTranslationKey="sales.billingStatement.toolbar.itemsSelected"
      [selectedRowsCount]="selectedDocumentsCount$ | async"
      (clearSelectedRows)="clearSelectedDocuments()"
    >
      <bspl-button
        *ngIf="hasAdmPermission"
        label="sales.billingStatement.toolbar.issueAdma"
        design="tertiary"
        (click)="issueAdmaClick()"
      >
      </bspl-button>
      <bspl-button
        *ngIf="hasAcmPermission"
        label="sales.billingStatement.toolbar.issueAcma"
        design="tertiary"
        (click)="issueAcmaClick()"
      >
      </bspl-button>
    </bspl-table-selection-toolbar>
  </div>
  <div bsplListViewButton>
    <bspl-button
      *ngIf="permissions.readBillingAnalysisTotals | hasPermission"
      [label]="'Totals'"
      [design]="buttonDesign.Tertiary"
      [icon]="floatingPanelComponent && floatingPanelComponent.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(dataSource.hasData$ | async)"
      (onClick)="toggleTotals()"
    ></bspl-button>
  </div>

  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6" *ngIf="hasAgentPermissions">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'sales.billingStatement.airlineCodeName' | translate"
          [placeholder]="'sales.billingStatement.selectAirline' | translate"
          [virtualScroll]="true"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="hasAirlinePermissions">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'sales.billingStatement.agentCodeName' | translate"
          [placeholder]="'sales.billingStatement.selectAgent' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="hasAirlinePermissions">
        <bspl-select
          [options]="agentGroupDropdownOptions$ | async"
          formControlName="agentGroup"
          [locked]="isAgentSelected"
          [label]="'sales.billingStatement.agentGroupCodeName' | translate"
          [placeholder]="'sales.billingStatement.agentGroupCodeNamePlaceHolder' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-period-picker
          formControlName="periodRange"
          [options]="periodDropdownOptions$ | async"
          [label]="'sales.billingAnalysis.period'"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="documentTypeOptions$ | async"
          formControlName="transactionCode"
          [label]="'sales.billingAnalysis.documentType' | translate"
          [placeholder]="'sales.billingStatement.selectType' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statisticalCodeDropdownOptions$ | async"
          formControlName="statisticalCode"
          [label]="'sales.billingStatement.salesType' | translate"
          [placeholder]="'sales.billingStatement.selectSalesType' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="currency"
          [options]="currencyDropdownOptions$ | async"
          [label]="'sales.billingStatement.currency' | translate"
          [placeholder]="'sales.billingStatement.allCurrencies' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="reportingSystemOptions$ | async"
          formControlName="reportingSystem"
          [label]="'sales.billingStatement.reportingSystem' | translate"
          [placeholder]="'sales.billingStatement.reportingSystemPlaceholder' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [columnMode]="'flex'"
    [rows]="(isMultipopulation$ | async) ? (data$ | async) : (dataSource.data$ | async)"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    [maxSupportedItems]="appConfiguration.safs?.maxSupportedItems"
    (rowToggle)="onRowToggle($event)"
    (checkboxChange)="onSelectedRows($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
<bspl-floating-panel [closable]="true" (opened)="onTotalPanelOpened()" (closed)="onTotalPanelClosed()">
  <bspl-spinner [isLoading]="isTotalLoading" [relativeTo]="'parent'">
    <bspl-billing-analysis-totals [items]="totals"></bspl-billing-analysis-totals>
  </bspl-spinner>
</bspl-floating-panel>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <bspl-spinner [isLoading]="isDetailsRowLoading">
    <bspl-billing-analysis-detailed-info
      [row]="rowDetails"
      [currency]="getCurrency(row) | async"
      (openDocument)="openDocument($event)"
    ></bspl-billing-analysis-detailed-info>
  </bspl-spinner>
</ng-template>

<ng-template #documentNumberLink let-document="row">
  <a class="link" (click)="$event.stopPropagation(); openDocument(document.id)">
    {{ document.documentNumber }} {{ document.checkDigit }}
  </a>
</ng-template>

<ng-template #amountTemplate let-row="row" let-value="value">
  {{ value | number : getAmountFormat((getCurrency(row) | async)?.decimals) }}
</ng-template>
