<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Agent users to query the existing invitations for Agent Groups. Once clicked, the list of
    invitations is displayed. The following information is shown for each of them:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group User ID: </span></b
  ><span lang="EN-GB">The Agent Group User ID who issued the invitation.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Individual Access: </span></b
  ><span lang="EN-GB">The individual access indicated in the invitation: “Permitted” or “Forbidden”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Creator: </span></b><span lang="EN-GB">The New BSPlink user who created the group.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Organization: </span></b
  ><span lang="EN-GB">The Organization the invitation is related to.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Email</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Phone</span></b>
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB">For any of the existing invitations, Agent users may either accept or reject them:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">To <b>accept</b> a group invitation, it is necessary to click on the </span
  ><span lang="EN-GB" style="color: black"
    ><img border="0" width="22" height="22" id="Imagen 26" src="agent/images/image036.jpg" /></span
  ><span lang="EN-GB">
    icon next to it. A modal window is then displayed, where Agent users must click on
    <img border="0" width="80" height="30" id="Imagen 83" src="agent/images/image037.jpg" />. This acceptance cannot be
    undone.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">To <b>reject</b> a group invitation, it is necessary to click on the </span
  ><span lang="EN-GB" style="color: black"
    ><img border="0" width="22" height="22" id="Imagen 100" src="agent/images/image038.jpg" /></span
  ><span lang="EN-GB">
    icon next to it. A modal window then displayed, where Agent users must click on
    <img border="0" width="69" height="30" id="Imagen 146" src="agent/images/image039.jpg" />.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Create an Agent Group
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >Agent users may also create new Agent Groups by clicking on either
    <img border="0" width="147" height="30" id="Imagen 155" src="agent/images/image040.jpg" /> at the top right corner
    or on “But you can create a new one” at the bottom:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: 150%; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="644" height="182" id="Imagen 450" src="agent/images/image041.png" /></span>
</p>

<p
  class="MsoCaption"
  align="center"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; text-align: center"
>
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Create new Agent Group.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">Once clicked, the following form is displayed:</span></p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="270" id="Imagen 230" src="agent/images/image042.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Create New Agent Group form.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >On the displayed form, Agent user must complete different fields before completing the creation of the new group.
    These fields are mainly divided into the following categories:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group ID: </span></b
  ><span lang="EN-GB"
    >it must contain from 6 to 7 6 alphanumeric characters, with at least one letter character or at least one numeric
    character. Blanks are not allowed.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact Details: </span></b
  ><span lang="EN-GB"
    >those details belonging to the Agent user creating the new group are populated by default, but these may be
    changed.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Address Details: </span></b
  ><span lang="EN-GB"
    >those details belonging to the Agent user creating the new group are populated by default, but these may be
    changed.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Once the form is complete, it is possible to click on
    <img border="0" width="162" height="34" id="Imagen 231" src="agent/images/image043.jpg" /> at the bottom right
    corner. The system does confirm the successful creation of the Agent Group:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin: 0in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="380" height="90" id="Imagen 232" src="agent/images/image044.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Confirmation of creation of new Agent Group.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The new Agent Group is then visible under the “Agent Group” table.</span></p>

<p class="MsoNormal"><span lang="EN-GB">Once the new Agent Group ahs been created, it should noted that:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >To access as the Agent Group, it is necessary to log out and access again through the IATA Customer Portal. It is
    then necessary to choose the Agent Group account that has been created there.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Once logged in, it is possible to invite It is possible to invite new Members through “My Agent Group > Member
    List”. Please see below the steps to do so.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Inviting new Group Members
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to invite new Members by means of the
    <img border="0" height="30" src="agent/images/icon-invite-member.jpg" /> button. Once clicked, the following modal
    window is displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin: 0in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="470" src="agent/images/agent-group-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Invite Member modal window.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">It is necessary to indicate the following information:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent: </span></b
  ><span lang="EN-GB"
    >it is necessary to select the Agent to which the Member to be invited belongs from a dropdown list. Only one option
    is possible.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Individual Access: </span></b
  ><span lang="EN-GB"
    >the individual access to be assigned must be also selected. Possible values are “Permitted” and “Forbidden”.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once all this information is indicated, it is necessary to click on
    <img border="0" height="30" src="agent/images/icon-invite.jpg" />. The system does then confirm the invitation to
    the Member.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For any Invited Member, it Is possible to click on the
    <img border="0" height="22" src="agent/images/image056.jpg" />icon to:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Modify the Member’s individual access: </span></b
  ><span lang="EN-GB"
    >a modal window is then displayed to change the Invited Member’s individual access to “Forbidden” or
    “Permitted”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin: 0in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="470" src="agent/images/agent-group-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: Invite Member modal window.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cancel the invitation: </span></b
  ><span lang="EN-GB">it is also possible to simply cancel the invitation: </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin: 0in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="470" src="agent/images/agent-group-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Cancel Invitation.</span>
</p>
