<p class="BodyText">
  <a name="_Hlk50968254"
    ><span lang="EN-GB"
      >This tab allows Agent Users to set different transaction parameters. You can navigate through the different
      configuration sections by clicking on each of the sections located in the left menu.</span
    ></a
  >
</p>

<p class="BodyText">
  <span lang="EN-GB"
    >Please note that, for any configuration change to be definitive, it is necessary to click on
    <img border="0" height="30" src="agent/images/icon-apply-changes.jpg" />. It consists of the following
    options:</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Email Alerts Settings
</p>

<p class="MsoNormal" style="page-break-after: avoid">
  <span lang="EN-GB"
    >This section allows users to configure email alerts that will notify them with any change/update for the available
    processes or sub-processes.
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="244" id="Imagen 9" src="agent/images/image023.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Email alerts.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Email alerts can be configured for TA, ADM/ACM, Refund, File, Variable Remittance, Comments, Post-billing dispute,
    Payment, TIP or Commission Control reasons. These alerts can be also configured for Agent Groups for other users to
    be aware of the actions performed.</span
  >
</p>
