<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Agent users to manage the contact information and the location of the agency. This information
    may be set for Generic purposes, for ADM/ACM management purposes and for Refund purposes:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="645" height="270" id="Imagen 219" src="agent/images/image045.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Management of Contact Information.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to check or manage any of these details, you may expand the correspondent section by clicking on the
    <img border="0" width="31" height="19" id="Imagen 220" src="agent/images/image046.jpg" /> icon next to each
    section.</span
  >
</p>

<h4><span lang="EN-GB" style="font-size: 12pt; line-height: 97%">Update of Contact Information</span></h4>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Each section gets expanded by means of the
    <img border="0" width="31" height="19" id="Imagen 226" src="agent/images/image047.jpg" /> section and all their
    fields get displayed. All fields may be updated except for the IATA Code and the Name of the Agency. If the same
    details should be use for each section indistinctively, it is possible to click on “Use this address for all
    categories” under the “Generic Address / Contact Person” section:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid">
  <span lang="EN-GB"
    ><img
      border="0"
      width="646"
      height="290"
      id="Imagen 227"
      src="agent/images/image048.jpg"
      alt="Interfaz de usuario gráfica, Aplicación&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Using same details for all categories.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to register changes, it is necessary to click on the
    <img border="0" width="114" height="30" id="Imagen 255" src="agent/images/image049.jpg" /> at the top right corner
    before abandoning the screen.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is important to note that any change in address or contact details must be communicated to IATA as soon as
    possible.</span
  >
</p>
