<p class="MsoNormal">
  <span lang="EN-GB"
    >A list of the GDS the Agent operates with is displayed on a table which contain the following information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="646" height="151" id="Imagen 165" src="agent/images/image050.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: GDS By Agent.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Results may be narrowed down by GDS Code by clicking on the
    <img border="0" width="82" height="30" id="Imagen 175" src="agent/images/image051.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="645" height="155" id="Imagen 209" src="agent/images/image052.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: GDS Filter.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >They may be also downloaded by means of the
    <img border="0" width="106" height="30" id="Imagen 202" src="agent/images/image053.jpg" />
    button.</span
  >
</p>
