<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <a name="_Hlk50968065"
    ><span lang="EN-GB"
      >This option displays the Agent’s Profile, where the most relevant details are stored, and different
      configurations can be performed. The Agent’s profile is divided into three tabs: Properties, Ticketing Authority
      and RA / RN Issuing Authority.</span
    ></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="23" id="Imagen 148" src="agent/images/image021.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: My Agent option.</span>
</p>
