<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >The Agent’s Properties are displayed under the following sections: General properties, Contact Details, Payment
    Information and Address Information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" height="264" id="Imagen 7" src="agent/images/image022.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc34375434"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB"> Agent Properties.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The information under this section is the information of the Agency, used to register the company in the IATA
    systems.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If you need the user profile and the email associated to it, you can click on the profile option located on the top
    right (please refer to "User details"").
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If the information above must be updated, please contact IATA through the IATA Customer Portal.
  </span>
</p>
