<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >An Agent user can view the RA (Refund Application) and RN (Refund Notice) Issuing Authorities that have been
    enabled or not to the Agent code. When this option is clicked, the following table is displayed:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="103" id="Imagen 216" src="agent/images/image031.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451910"></a><a name="_Toc34375438"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: RA / RN Issuing Authority.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >Similar to the the Ticketing Authority tab, the RA / RN Issuing Authority displays a list with the existing
    airlines in the BSP of the Agent. The information contained in this list includes the following fields:</span
  >
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code</span></b>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name</span></b>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Designator Code</span></b>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RA Authority Status: </span></b
  ><span lang="EN-GB">The Refund Application Issuing Authority can be either “Enabled” or “Disabled”.</span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RN Authority Status:</span></b
  ><span lang="EN-GB"> The Refund Notice Issuing Authority can be either “Enabled” or “Disabled”.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB">It is possible to filter the results by clicking on the </span
  ><span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 217" src="agent/images/image032.jpg" /></span
  ><span lang="EN-GB"> button. Once done, the following fields allow the user to filter the query:</span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="120" id="Imagen 105" src="agent/images/image033.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451911"></a><a name="_Toc34375439"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: RA / RN Issuing Authority Filter.</span>
</p>

<p
  class="MsoListParagraphCxSpFirst"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline IATA Code / Name: </span></b
  ><span lang="EN-GB">multiple choice is available from a dropdown list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Designator: </span></b
  ><span lang="EN-GB">multiple choice is available from a dropdown list.</span>
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RA Authority Status: </span></b
  ><span lang="EN-GB">one value from “Enabled” or “Disabled” can be selected.</span>
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RN Authority Status: </span></b
  ><span lang="EN-GB">one value from “Enabled” or “Disabled” can be selected.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB">Once the required fields have been populated, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 221" src="agent/images/image034.jpg" /></span
  ><span lang="EN-GB"> to obtain the results. To clear all the selected fields, click on </span
  ><span lang="EN-GB"><img border="0" width="62" height="30" id="Imagen 222" src="agent/images/image035.jpg" /></span
  ><span lang="EN-GB">.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Updating RA/RN Issuing Authority
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please consider that an enabled TA with an Airline does not imply an enabled Issuing Refund Application or Refund
    Notice Authority. IATA cannot intervene in updating the Issuing Authority status of a given Agent. If you are
    interested in updating your RA/RN Issuing Authority with a specific company, please contact the Airline directly
    (please refer to </span
  ><span lang="EN-GB"><i>Airlines</i></span
  ><span lang="EN-GB">).</span>
</p>
