<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >An Agent user can view the Ticketing Authorities that have been enabled or not to that Agent code. When this option
    is clicked, the following information is displayed:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="189" id="Imagen 102" src="agent/images/image024.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451907"></a><a name="_Toc34375435"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Agent TA.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >A list with the existing Airlines in the Agent’s BSP Territory is displayed, including the following details:</span
  >
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code: </span></b><span lang="EN-GB">IATA three-digit code.</span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name</span></b>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Designator Code</span></b>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-align: justify;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Ticketing Authority Status: </span></b
  ><span lang="EN-GB">either “Enabled” or “Disabled”.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >Enabled Ticketing Authorities are displayed by default, but it is possible to filter the results by clicking on the </span
  ><span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 204" src="agent/images/image025.jpg" /></span
  ><span lang="EN-GB"> button. Once done, the following fields allow the user to filter the query:</span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="118" id="Imagen 103" src="agent/images/image026.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451908"></a><a name="_Toc34375436"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Ticketing Authority Filter.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >This option gives the possibility to query the Agent’s Ticketing Authority by Airline Code or Name, by Airline
    Abbreviation or by Ticketing Authority status (Enabled/Disabled). Once the required fields have been populated, it
    is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 93" src="agent/images/image027.jpg" /></span
  ><span lang="EN-GB"> to obtain the results. To clear all the selected fields, click on </span
  ><span lang="EN-GB"><img border="0" width="60" height="30" id="Imagen 104" src="agent/images/image028.jpg" /></span
  ><span lang="EN-GB">.</span>
</p>

<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
    text-align: center;
  "
>
  <span lang="EN-GB"
    >The user can download the Ticketing Authority information, either filtered or not, by clicking on </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 211" src="agent/images/image029.jpg" /></span
  ><span lang="EN-GB"
    >. Once clicked, the following modal box is displayed, offering the possibility to download the results in a zipped
    file of TXT or CSV format:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="268" id="Imagen 214" src="agent/images/image030.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451909"></a><a name="_Toc34375437"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Download options.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Updating TA:
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please consider that being accredited with IATA does not grant an enabled Ticketing Authority with all the Airlines
    operating in the Agent’s BSP. IATA cannot intervene in updating the Ticketing Authority status of a given Agent. If
    you are interested in updating your TA with a specific company, please contact the Airline directly (please refer to </span
  ><span lang="EN-GB">6.8.1 Airlines</span><span lang="EN-GB">).</span>
</p>
