<!-- Vertical bar chart -->
<bspl-bar-chart [data]="barChartData" [title]="barChartTitle"></bspl-bar-chart>

<!-- Vertical stacked bar chart -->
<bspl-bar-chart [data]="barChartData" [title]="stackedBarChartTitle" [stacked]="true"></bspl-bar-chart>
