@import 'theme/variables/index';

:host {
  ::ng-deep {
    .doughnut-chart-legend-container {
      .doughnut-chart-legend-items-container {
        cursor: default;
        list-style: none;
        overflow-y: auto;
        padding: 0;

        .doughnut-chart-legend-item {
          padding-left: $spacing-m;
          position: relative;

          .doughnut-chart-legend-item-circle {
            border-radius: 50%;
            width: $spacing-xs;
            height: $spacing-xs;
            position: absolute;
            top: 0.7rem;
            left: 0;
          }

          .doughnut-chart-legend-item-value {
            color: $gray-deep;
            padding-right: $spacing-xxs;
          }

          &.item-filtered {
            opacity: 0.4;
          }
        }

        .doughnut-chart-legend-hidden-items-toggle {
          color: $gray-deep;
          font-size: $font-size-s;
          padding-left: 0;
        }

        .doughnut-chart-legend-item,
        .doughnut-chart-legend-hidden-items-toggle {
          &.item-hidden {
            display: none;
          }
        }
      }
    }
  }
}
