<div class="doughnut-chart-container" *ngIf="hasData(data); else noDataTemplate">
  <canvas baseChart chartType="doughnut" [data]="data" [labels]="labels" [colors]="colors" [options]="options">
  </canvas>
  <div class="doughnut-chart-legend-container" *ngIf="showCustomLegend">
    <ul #legendItemsContainer class="doughnut-chart-legend-items-container">
      <li
        *ngFor="let item of legendItems; let i = index"
        [ngClass]="{
          'doughnut-chart-legend-item': true,
          'item-hidden': item.hidden
        }"
        (click)="onLegendItemClick($event, i)"
      >
        <div class="doughnut-chart-legend-item-circle" [style.background-color]="item.color"></div>
        <div class="doughnut-chart-legend-item-label">
          <span class="doughnut-chart-legend-item-value">{{ item.value }}</span
          >{{ item.label }}
        </div>
      </li>
      <li
        *ngIf="hiddenItemsCount as count"
        class="doughnut-chart-legend-hidden-items-toggle"
        (click)="onShowHiddenItemsClick($event)"
      >
        + {{ count }} {{ getHiddenRowsTranslationKey(count) | translate }}
      </li>
    </ul>
  </div>
</div>

<ng-template #noDataTemplate>
  <div class="doughnut-chart-container">
    <canvas
      baseChart
      chartType="doughnut"
      [data]="noData"
      [labels]="[]"
      [colors]="noDataColors"
      [options]="noDataOptions"
    ></canvas>
  </div>
</ng-template>
