<div>
  <section>
    <h3>Spinner</h3>
    <hr />
    <bspl-button [label]="isSpinnerVisible ? 'Hide' : 'Show'" (onClick)="toggleSpinner()"></bspl-button>
    <bspl-spinner [isLoading]="isSpinnerVisible">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </bspl-spinner>
  </section>
  <section>
    <h3>Spinner positioned relative to parent</h3>
    <hr />
    <bspl-button [label]="'Show'" (onClick)="showSpinerWithRelativeTo()"></bspl-button>
    <bspl-spinner [isLoading]="isSpinnerWithRelativeToVisible" [relativeTo]="'parent'"> </bspl-spinner>
  </section>
  <section>
    <h3>Miscellaneous</h3>
    <hr />
    <span>Primary transparent mode</span>
    <bspl-spinner [isLoading]="true" [isTransparent]="true" [color]="'primary'"></bspl-spinner>
  </section>
</div>
