@import 'theme/variables/color';
@import 'src/app/shared/scss/index';

.file-progress-wrapper {
  background-color: $gray-subtle;
  border-radius: $border-radius-large;

  &:hover {
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 47, 91, 0.06), 0 4px 8px 0 rgba(42, 51, 140, 0.12);
  }

  .file-progress {
    display: block;
    padding: $spacing-s $spacing-m;

    .file {
      display: flex;
      margin-bottom: $spacing-xs;

      .file-info {
        flex: 6;

        .file-name,
        .file-size {
          color: $gray-deep;
        }

        .file-name {
          line-height: $line-height-m;
          word-break: break-word;
          font-size: $font-size-m;
        }

        .file-size {
          line-height: $line-height-s;
          font-size: $font-size-s;
        }
      }

      .file-action {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 3rem;
          height: 3rem;
          background: transparent;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: $gray-subtle;
          }

          i {
            color: $gray-middle;
            font-size: 2rem;
          }
        }
      }
    }

    .file-progress-bar {
      background-color: $white-subtle;
      border-radius: $border-radius-large;
      height: 0.5rem;

      .file-progress-bar-fill {
        height: 0.5rem;
        border-radius: $border-radius-large;
      }

      .uploading {
        background-color: $blue-ocean;
      }

      .completed {
        background-color: $green;
      }

      .failed {
        background-color: $red;
      }
    }

    .file-error {
      word-break: break-word;
      color: $red;
      font-size: $font-size-s;
      margin-top: $spacing-xxs;
      line-height: $line-height-s;
    }
  }
}
