<div class="file-progress-wrapper">
  <a class="file-progress">
    <div class="file">
      <div class="file-info">
        <div class="file-name">{{ file.name }}</div>
        <div class="file-size">
          {{ file.size | bytesFormat }}
        </div>
      </div>

      <div *ngIf="canRemove" class="file-action">
        <a (click)="remove.emit()"><i class="material-icons">close</i></a>
      </div>
      <div *ngIf="canRetry" class="file-action">
        <a (click)="retry.emit()"><i class="material-icons">settings_backup_restore</i></a>
      </div>
    </div>

    <div class="file-progress-bar">
      <div class="file-progress-bar-fill {{ file.status }}" [ngStyle]="{ width: file.progress + '%' }"></div>
    </div>

    <div class="file-error" [innerHTML]="file.error"></div>
  </a>
</div>
