<div class="card-page-container">
  <bspl-header [showActions]="false" [showProfile]="false"></bspl-header>
  <div class="app-loading" *ngIf="loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <div *ngIf="!loading" class="card-page-content">
    <bspl-card [title]="title | translate">
      <ng-content></ng-content>
    </bspl-card>
  </div>
  <bspl-notification></bspl-notification>
</div>
