<p class="paragraph__text">
  {{ processStatusInfo | translate }}
</p>
<p class="paragraph__text" *ngIf="showNextStepInfo">
  {{ 'postBillingDisputes.dialogs.activityConfirmation.processNextStepInfo.sendToDPC' | translate }}
</p>
<div class="data__table">
  <div class="row line__data">
    <div class="col">{{ 'postBillingDisputes.dialogs.activityConfirmation.status' | translate }}</div>
    <div class="col">{{ status }}</div>
  </div>
</div>
