@import 'components/form-list/form-list';

div.btn-right {
  text-align: right;
}

:host {
  ul.listForm {
    .listForm__header .row div:first-child .listForm__label {
      float: none;
    }

    .listForm__footer .row div:last-child .listForm__label {
      padding-right: 0.8rem;
    }

    .listForm__line {
      .taxCodeInput {
        bspl-input ::ng-deep {
          input {
            text-transform: uppercase;
            text-align: left;
          }

          input::placeholder {
            text-transform: none;
          }
        }
      }
    }

    .listForm__header,
    .listForm__line,
    .listForm__footer {
      .row > div {
        &:first-child {
          padding-right: 0;
        }

        &:not(:first-child):not(.actions) {
          padding-left: $spacing-xs;
          padding-right: 0;
        }
      }
    }
  }
}
