<div class="mt-5 row justify-content-center" *ngIf="!isAcdmd">
  <div class="col-6">
    <span class="sectionTitle">{{ 'ADM_ACM.amounts.taxAmount.title' | translate }}</span>
  </div>
  <div class="col-6 btn-right">
    <bspl-button
      label="TAX"
      icon="mi md-18 add"
      [design]="btnDesign.Secondary"
      [isDisabled]="disableAddBtn()"
      (onClick)="addTaxRow()"
    ></bspl-button>
  </div>

  <ul class="listForm" [ngClass]="{ 'col-lg-9': !isDifferenceFieldReadOnly, 'col-12': isDifferenceFieldReadOnly }">
    <li class="listForm__header">
      <div class="row">
        <div
          class="col-5"
          [ngClass]="{ 'col-5': !isDifferenceFieldReadOnly, 'col-3': isDifferenceFieldReadOnly }"
          *ngFor="let field of fields"
        >
          <span class="listForm__label">{{ 'ADM_ACM.amounts.taxAmount.section.' + field | translate }}</span>
        </div>
      </div>
    </li>

    <li class="listForm__line" *ngFor="let taxLine of form.controls; let i = index">
      <div class="row" [formGroup]="taxLine">
        <div
          [ngClass]="{ 'col-5': !isDifferenceFieldReadOnly, 'col-3': isDifferenceFieldReadOnly }"
          class="taxCodeInput"
        >
          <bspl-input
            #taxCodeType
            formControlName="type"
            [placeholder]="'ADM_ACM.amounts.taxAmount.placeholder.taxCode' | translate"
            [maxLength]="8"
          ></bspl-input>
        </div>
        <div class="col-3" [hidden]="!isDifferenceFieldReadOnly">
          <bspl-input formControlName="agentAmount" [placeholder]="amountPlaceholder"></bspl-input>
        </div>
        <div class="col-3" [hidden]="!isDifferenceFieldReadOnly">
          <bspl-input formControlName="airlineAmount" [placeholder]="amountPlaceholder"></bspl-input>
        </div>
        <div [ngClass]="{ 'col-5': !isDifferenceFieldReadOnly, 'col-2': isDifferenceFieldReadOnly }">
          <bspl-input
            formControlName="taxDifferenceAmount"
            [ngClass]="{
              'listForm__label listForm__label--numeric listForm__label--numeric--readonly': isDifferenceFieldReadOnly
            }"
            [isDisabled]="isDifferenceFieldReadOnly"
            [placeholder]="amountPlaceholder"
          ></bspl-input>
        </div>
        <div class="col align-self-end actions">
          <i class="material-icons icon-delete" title="{{ 'common.delete' | translate }}" (click)="removeTaxRows(i)">
            delete
          </i>
        </div>
      </div>
    </li>

    <li class="listForm__footer">
      <div class="row">
        <div [ngClass]="{ 'col-5': !isDifferenceFieldReadOnly, 'col-6': isDifferenceFieldReadOnly }">
          <span class="listForm__label">
            <span>{{ 'ADM_ACM.amounts.total' | translate }}<span *ngIf="currency?.code">,</span>&nbsp;</span>
            <span>{{ currency?.code }}</span>
          </span>
        </div>
        <div class="col-5 text-right">
          <span class="listForm__label listForm__label--numeric">{{ differenceTotal }}</span>
        </div>
      </div>
    </li>
    <li>
      <bspl-alert-message
        [hidden]="!showTaxRepeatedMsg"
        [message]="'ADM_ACM.amounts.taxAmount.warningRepeatMessage'"
        [type]="taxesRepeatedMessageType"
      ></bspl-alert-message>
    </li>
  </ul>
</div>
