<p
  class="BodyText"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  This module allows IATA users to manage BSP reports.
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="297" src="iata/images/files-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Files option.</span>
</p>
