<p class="MsoNormal">
  This section shows all the existing files in the selected BSP. Once clicked, the following table is displayed:
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/reports-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Reports are displayed under two tabs: “Inbox” (where they are all received by default) and “Archive” (where it is
    possible to store the required files). For each file, the following details are displayed:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File name </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File type </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload date</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Size</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB">“Downloaded” or “Non-downloaded” for the “Inbox” tab, and “Archived” for the “Archive” tab.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >By means of the <img border="0" width="22" height="22" id="Imagen 130" src="iata/images/image212.jpg" /> icon on
    each row, IATA Users may either download or archive a given file.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" width="82" height="30" id="Imagen 131" src="iata/images/image213.jpg" /> button. For the “Inbox”
    tab, the filter can be configured with the following parameters:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="iata/images/reports-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Filter File Query under &quot;Inbox&quot; tab.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name: </span></b><span lang="EN-GB">strings are accepted.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Type</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">As for the “Archive” tab, it is possible to filter the query through the following fields:</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/reports-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Filter file query under “Archive&quot; tab.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Name: </span></b><span lang="EN-GB">strings are accepted.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Type</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Download files
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In the inbox tab, files can be downloaded simply by clicking on each file name. It is also possible to click on
    <img border="0" width="22" height="22" id="Imagen 134" src="iata/images/image216.jpg" /> and select the “Download”
    option. Please note that new files present bold font in their names.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In the “Archive” tab, files can be also downloaded by clicking on each file name. Besides, the
    <img border="0" width="22" height="22" id="Imagen 141" src="iata/images/image217.jpg" /> icon on each row allows its
    download.</span
  >
</p>
