<p class="MsoNormal"><span lang="EN-GB">To upload files, the system displays the following dialog:</span></p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="380" height="533" id="Imagen 343" src="iata/images/image218.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Upload BSO Files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This dialogue does allow users to drag files in or browse files stored in the PC. The following window is browsed
    one the file is selected:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="380" height="365" id="Imagen 153" src="iata/images/image219.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to complete the file upload, it is necessary to click on the
    <img border="0" width="70" height="30" id="Imagen 156" src="iata/images/image220.jpg" /> button. Otherwise, the user
    may click on <img border="0" width="70" height="30" id="Imagen 162" src="iata/images/image221.jpg" />. The system
    will confirm the correct upload or will inform about the error occurred instead:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="380" height="287" id="Imagen 171" src="iata/images/image222.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Completion of file upload.</span>
</p>
