<p class="MsoNormal">
  This option allows IATA users to upload IATA Communications. These files must be based on the following naming
  convention<b>: &lt;ISO_Country_Code&gt;&lt;File_Descriptor&gt;&lt;Multi-Recipient&gt;</b
  ><b><span lang="ES" style="font-family: 'MS Mincho'">“</span></b
  ><b>_</b><b><span lang="ES" style="font-family: 'MS Mincho'">”</span></b
  ><b>&lt;Date&gt;</b><b><span lang="ES" style="font-family: 'MS Mincho'">“</span></b
  ><b>_</b><b><span lang="ES" style="font-family: 'MS Mincho'">”</span></b
  ><b>&lt;Free text&gt;.</b>
</p>

<p class="MsoNormal">In order to upload a new communication, please observe the following steps:</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
  >Click on the “Files” option and, then, on “Upload IATA Communications”.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>The
  following modal box will be displayed:
</p>

<p class="MsoListParagraphCxSpMiddle">&nbsp;</p>

<p class="MsoListParagraphCxSpLast" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="342" height="379" id="Imagen 45" src="iata/images/image223.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Upload IATA Communications.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>An
  expiry date must be selected in the calendar.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>You
  may drag the involved files or browse them instead.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
  >Click on “Upload” and the process will be finished.
</p>
