<bspl-list-view
  [title]="title"
  [hasCreating]="true"
  [customLabels]="customLabels"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="false"
  [canDownload]="dataSource.hasData$ | async"
  (create)="openGlobalAdmReport()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="filename"
          [label]="'MENU.ACDMS.QUERY.globalADMReport.filter.label.filename' | translate"
          [placeholder]="'MENU.ACDMS.QUERY.globalADMReport.filter.placeholders.filename' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="requestMonth"
          [label]="'MENU.ACDMS.QUERY.globalADMReport.filter.label.month' | translate"
          [placeholder]="'MENU.ACDMS.QUERY.globalADMReport.filter.placeholders.month' | translate"
          [dateFormat]="'yy/mm'"
          [showTodayButton]="false"
          [viewMode]="viewCalendarFormat"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="bspIsos"
          [label]="'MENU.ACDMS.QUERY.globalADMReport.filter.label.bsps' | translate"
          [options]="bspList$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
