<div class="workflow-item-container" *ngIf="workflowItem">
  <div class="row primary-row">
    <div class="col-md-9 main-title">{{ header }}</div>
    <div class="col-md-3 item-time text-right">{{ time }}</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ 'postBillingDisputes.activityPanel.labels.by' | translate }}
      <bspl-pbd-entity-link [pbdEntity]="workflowItem.author | toPbdEntity"></bspl-pbd-entity-link>
    </div>
  </div>
  <div class="row details-container">
    <div class="col-md-12">
      <div class="details-header">
        <span class="status-label">{{ 'postBillingDisputes.activityPanel.labels.status' | translate }}&nbsp;</span>
        <i class="material-icons arrow-icon"> arrow_forward </i>
        <span class="status-value">&nbsp;{{ status }}</span>
      </div>
      <div class="details-content">
        <span class="reason-label">{{ 'postBillingDisputes.activityPanel.labels.reason' | translate }}:</span>
        <br />
        <span class="reason-value">{{ workflowItem.reason }}</span>
      </div>
    </div>
  </div>
  <div class="row attachment-list">
    <div *ngFor="let attachment of workflowItem.attachments" class="col-md-12">
      <a class="attachment-item">
        <div class="attachment-info">
          <div class="attachment-name">{{ attachment.name }}</div>
          <div class="attachment-size">
            {{ attachment.size }}
          </div>
        </div>

        <div class="attachment-action">
          <a (click)="downloadAttachment(attachment)"><i class="material-icons">get_app</i></a>
        </div>
      </a>
    </div>
  </div>
</div>
