@import 'theme/variables/index';
@import 'theme/variables/color';

:host {
  p {
    color: blue;
    margin: $spacing-xs 0;
  }

  .radio-select {
    margin-top: 2rem;
  }

  .section-title {
    color: $gray-deep;
  }

  .feedback-radio ::ng-deep {
    .vertical-radio-buttons-wrapper {
      margin: $spacing-xxs 0;

      p-radiobutton {
        margin-bottom: $spacing-xxs;
      }
    }
  }

  .rating-selector {
    &:focus {
      outline: none;
    }

    .star {
      font-size: 3rem;
      color: $gray-middle;

      .not-filled {
        color: $gray-dark;
      }
    }

    .filled {
      color: $blue-sky;
    }
  }

  .rate-experience {
    color: $gray-middle;
  }

  .rate-experience-success {
    color: $blue-sky;
  }

  bspl-textarea {
    textarea {
      height: 135px;
    }
  }
}

::ng-deep :host {
  bspl-button {
    display: block;

    button {
      width: 100%;
    }
  }
}
