<div class="wrapper">
  <div class="header-container">
    <div class="header-title">
      <h2>{{ 'document.stockRequest.request.viewTitle' | translate }}</h2>
    </div>
    <div *ngIf="!isFormSubmitted" class="header-actions">
      <bspl-button
        [label]="'BUTTON.DEFAULT.DISCARD'"
        [design]="buttonDesign.Tertiary"
        (onClick)="discardChanges()"
      ></bspl-button>
      <bspl-button
        [label]="'document.stockRequest.request.createButton' | translate"
        (onClick)="createRequest()"
        [isLoading]="isCreateButtonLoading"
      ></bspl-button>
    </div>
  </div>

  <ng-container *ngIf="!isFormSubmitted; else submittedInfo">
    <div>{{ 'document.stockRequest.request.viewSubtitle' | translate }}</div>

    <div class="request-container" [formGroup]="form">
      <div class="row">
        <div class="col-4 separator-right">
          <h4 class="info-header">{{ 'document.stockRequest.request.requestInfo' | translate }}</h4>
          <bspl-input
            [label]="'document.stockRequest.request.labels.rmb' | translate"
            [value]="maxAvailableTickets"
            [placeholder]="availableAmountPlaceholder"
            [isDisabled]="true"
            [isLoading]="isTicketsAmountLoading"
          ></bspl-input>
          <bspl-alert-message
            *ngIf="isTicketsAmountWarningShowing"
            [message]="'document.stockRequest.request.messages.warningConnectionMessage' | translate"
            type="warning"
          ></bspl-alert-message>
        </div>
        <div class="col-4 separator-right">
          <bspl-select
            formControlName="agent"
            [label]="'document.stockRequest.request.labels.agent' | translate"
            [options]="agentOptions$ | async"
            [clearable]="true"
            [locked]="isAgentDropdownLocked$ | async"
            [virtualScroll]="true"
            [placeholder]="'document.stockRequest.request.placeholders.agent' | translate"
          >
          </bspl-select>

          <bspl-select
            formControlName="gds"
            [label]="'document.stockRequest.request.labels.gds' | translate"
            [options]="gdsOptions$ | async"
            [virtualScroll]="true"
            [placeholder]="'document.stockRequest.request.placeholders.gds' | translate"
          >
          </bspl-select>

          <bspl-radio-button-group
            formControlName="documentType"
            groupName="documentType"
            [options]="documentTypeOptions"
            [label]="'document.stockRequest.request.labels.documentType' | translate"
            [hasFlexBasis]="true"
            [mayShowError]="true"
          ></bspl-radio-button-group>
        </div>
        <div class="col-4">
          <bspl-radio-button-group
            formControlName="statisticalCode"
            groupName="statisticalCode"
            [options]="statisticalCodeOptions"
            [label]="'document.stockRequest.request.labels.statisticalCode' | translate"
            [hasFlexBasis]="true"
            [mayShowError]="true"
          ></bspl-radio-button-group>

          <p class="additional-label">
            {{ 'document.stockRequest.request.labels.additionalApplicationQuantity' | translate }}
          </p>

          <bspl-step-input
            #stepInput
            formControlName="applicationQuantity"
            [label]="'document.stockRequest.request.labels.applicationQuantity' | translate"
            [placeholder]="'document.stockRequest.request.placeholders.applicationQuantity' | translate"
            [min]="0"
            [max]="maxAvailableTickets"
            [step]="10"
          ></bspl-step-input>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #submittedInfo>
    <bspl-stock-application-request-view [data]="readonlyInfo"></bspl-stock-application-request-view>
  </ng-template>

  <bspl-alert-message
    class="message"
    [message]="'document.stockRequest.request.messages.infoMessage' | translate"
    type="info"
  ></bspl-alert-message>
</div>
