@import 'theme/variables/index';

:host {
  display: block;
  margin: 0 $spacing-xl;
}

.totals-container {
  display: flex;

  .totals-header {
    padding: $spacing-s $spacing-xl $spacing-s 0;
    border-right: 1px solid $blue-primary;

    span {
      display: block;
      color: $gray-deep;
    }
  }

  .totals-list {
    display: flex;
    list-style-type: none;
    padding: 0 $spacing-m 0 $spacing-xxxxl;
    margin: 0;

    .total {
      padding: $spacing-s $spacing-xxxxl $spacing-s 0;

      p {
        margin: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .currency {
        font-size: $font-size-s;
        line-height: $line-height-s;
        font-weight: $font-weight-bold;
        color: $gray-deep;
        margin-bottom: $spacing-xxs;
      }

      .amount {
        font-size: $font-size-l;
        line-height: $line-height-l;
      }
    }
  }
}
