<div class="totals-container">
  <div class="totals-header">
    <h3>Totals</h3>
    <span>per currency</span>
  </div>
  <ul class="totals-list">
    <li *ngFor="let total of totals" class="total">
      <p class="currency">{{ total.currency.code }}</p>
      <p class="amount">{{ total.netToPay | number : getAmountFormat(total?.currency?.decimals) }}</p>
    </li>
  </ul>
</div>
