<div class="container">
  <div class="row">
    <div class="col-md-4">
      <strong>Enabled</strong>
      <p>Empty field, enabled for entering</p>
      <bspl-input [placeholder]="'Hint text'" [label]="'Label'"></bspl-input>
      <bspl-input [placeholder]="'Hint text'"></bspl-input>
    </div>

    <div class="col-md-4">
      <strong>Focus</strong>
      <p>Clicking inside the input or selecting by "TAB"</p>
      <bspl-input [label]="'Label'" value="Focus Text" #autofocusInput></bspl-input>
      <bspl-input value="Focus Text"></bspl-input>
    </div>

    <div class="col-md-4">
      <strong>Filled</strong>
      <p>The user filled the field and the validation is not required</p>
      <bspl-input [label]="'Label'" [value]="'Filled Text'"></bspl-input>
      <bspl-input [value]="'Filled Text'"></bspl-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Disabled</strong>
      <p>The user cannot enter anything here. The field is empty</p>
      <bspl-input [label]="'Label'" [formControl]="disabledInput" [value]="'Disabled Text'"></bspl-input>
      <bspl-input [formControl]="disabledInput" [value]="'Disabled Text'"></bspl-input>
    </div>

    <div class="col-md-4">
      <strong>Locked</strong>
      <p>Used for outputting some non-editable text in the field</p>
      <bspl-input [label]="'Label'" [locked]="true" [value]="'Locked Text'"></bspl-input>
      <bspl-input [locked]="true" [value]="'Locked Text'"></bspl-input>
    </div>

    <div class="col-md-4">
      <strong>Error</strong>
      <p>The validation issued an error</p>
      <bspl-input [label]="'Label'" [formControl]="requiredInput" [placeholder]="'Hint text'" [maxLength]="8">
      </bspl-input>
      <bspl-input [formControl]="requiredInput" [placeholder]="'Hint text'"></bspl-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Number 0-10</strong>
      <p>Numeric field with limitation 0-10</p>
      <bspl-input [type]="'number'" min="0" max="10" [placeholder]="'Enter number'" [label]="'Label'"></bspl-input>
      <bspl-input [type]="'number'" min="0" max="10" [placeholder]="'Enter number'"></bspl-input>
    </div>
  </div>
</div>
