@import 'theme/variables/index';

$thin-border: 0.1rem solid #e4e5eb;
$thick-border: 0.5rem solid #c7ccd1;

.sub-user-templates {
  .header-container {
    height: 10rem;
    display: flex;
    align-content: center;

    .actions-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  .cell-border {
    border: 1px solid #1e32fa;
  }

  .content-container {
    width: 100%;
    position: relative;

    .shadow-right {
      width: 1rem;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      box-shadow: inset -0.5rem 0 0.6rem 0 rgba(0, 48, 91, 0.15);
      height: 16.5rem;
    }

    .table-container {
      overflow-x: auto;
      width: 100%;
      position: relative;

      table.templates-table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border-right: $thin-border;

        tr {
          height: 5rem;
        }

        .frozen-column {
          position: sticky;
          left: 0;
          z-index: 1;
          background-color: $white;
          min-width: 37.5rem;
          width: 37.5rem;
          height: 5.5rem;
          border-right: $thin-border;

          .text-content {
            height: 100%;
            line-height: 50px;
            margin: 0 0.2rem 0 -1rem;
            border-bottom: $thick-border;
            padding-left: $spacing-xs;
          }
        }

        thead {
          .header-row {
            .user-template-header-title {
              border-top: $thin-border;
              font-size: $font-size-s;
              color: #9a9ba6;
              padding-left: $spacing-xs;
            }

            .email-column {
              border-top: $thin-border;
              min-width: 100px;
              max-width: 200px;
              width: auto;
              text-align: center;
              font-size: $font-size-s;
              background-color: $white;
              height: 5.5rem;
              padding: 0;

              .email-text-container {
                height: 100%;
                border-bottom: $thick-border;
                margin: 0 0.2rem;
                padding-top: 1.2rem;

                .email-text {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  padding: 0 1.2rem;
                  height: 2.4rem;
                  line-height: 2.4rem;
                  border-right: $thin-border;
                  margin-right: -0.2rem;
                }
              }
            }

            th {
              &:last-child {
                .email-text-container {
                  .email-text {
                    border-right: none;
                  }
                }
              }
            }
          }
        }

        tbody {
          .template-title {
            padding-left: $spacing-xs;
            height: 100%;
            line-height: 5rem;
          }

          .template-bulk-selector {
            height: 100%;
            float: right;
            padding-right: $spacing-xxxl;
            display: flex;
            align-items: center;
          }

          .user-radio-cell {
            text-align: center;

            .user-radio-container {
              display: flex;
              justify-content: center;

              .user-radio {
                border-radius: 2px;
                height: 36px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;

                bspl-radio-button {
                  width: 19px;
                }
              }
            }
          }

          .efficient-templates-row,
          .streamlined-templates-row {
            td {
              border-bottom: $thin-border;
              background-color: $white;
            }
          }

          .template-title-cell {
            color: $gray-dark;
            font-size: $font-size-m;
          }
        }
      }
    }
  }
}
