<div class="sub-user-templates">
  <div class="row header-container">
    <div class="col-md-6">
      <h2>{{ 'subUsers.templatesScreen.pageTitle' | translate }} / {{ getCurrentUserBsp$ | async }}</h2>
    </div>
    <div class="col-md-6 actions-container">
      <bspl-button
        *ngIf="canUpdateSubuserTemplate"
        [isDisabled]="!(canApplyChanges$ | async)"
        [label]="'subUsers.templatesScreen.applyBtn' | translate"
        (onClick)="saveChanges()"
      ></bspl-button>
    </div>
  </div>
  <div class="content-container">
    <div #tableContainer class="table-container">
      <table [formGroup]="form" class="templates-table">
        <thead>
          <tr class="header-row">
            <th class="user-template-header-title frozen-column">
              <div class="text-content">
                {{ 'subUsers.templatesScreen.userTemplate' | translate }}
              </div>
            </th>
            <th class="email-column link" [bsplTooltip]="user.portalEmail" *ngFor="let user of subUsersTemplatesData">
              <div class="email-text-container">
                <div class="email-text">
                  {{ user.portalEmail }}
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="efficient-templates-row">
            <td class="template-title-cell frozen-column">
              <span class="template-title">{{ 'subUsers.templatesScreen.efficient' | translate }}</span>
              <span class="template-bulk-selector">
                <bspl-radio-button
                  [disabled]="!canUpdateSubuserTemplate"
                  (click)="onBulkSelection(SubUserTemplate.Efficient)"
                  [value]="SubUserTemplate.Efficient"
                  formControlName="bulkEfficient"
                  [name]="'bulkTemplate'"
                ></bspl-radio-button>
              </span>
            </td>
            <td *ngFor="let user of subUsersTemplatesData; let lastItem = last" class="user-radio-cell">
              <div class="user-radio-container">
                <span
                  class="user-radio"
                  [class.cell-border]="
                    form.value[user.id] !== originalTemplatesForm[user.id] &&
                    form.value[user.id] === SubUserTemplate.Efficient
                  "
                >
                  <bspl-radio-button
                    [disabled]="!canUpdateSubuserTemplate"
                    [value]="SubUserTemplate.Efficient"
                    formControlName="{{ user.id }}"
                    [name]="user.id"
                  ></bspl-radio-button>
                </span>
              </div>
            </td>
          </tr>
          <tr class="streamlined-templates-row">
            <td class="template-title-cell frozen-column">
              <span class="template-title">{{ 'subUsers.templatesScreen.streamlined' | translate }}</span>
              <span class="template-bulk-selector">
                <bspl-radio-button
                  [disabled]="!canUpdateSubuserTemplate"
                  (click)="onBulkSelection(SubUserTemplate.Streamlined)"
                  [value]="SubUserTemplate.Streamlined"
                  formControlName="bulkStreamlined"
                  [name]="'bulkTemplate'"
                ></bspl-radio-button>
              </span>
            </td>
            <td *ngFor="let user of subUsersTemplatesData; let lastItem = last" class="user-radio-cell">
              <div class="user-radio-container">
                <span
                  class="user-radio"
                  [class.cell-border]="
                    form.value[user.id] !== originalTemplatesForm[user.id] &&
                    form.value[user.id] === SubUserTemplate.Streamlined
                  "
                >
                  <bspl-radio-button
                    [disabled]="!canUpdateSubuserTemplate"
                    [name]="user.id"
                    [value]="SubUserTemplate.Streamlined"
                    formControlName="{{ user.id }}"
                  ></bspl-radio-button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div [class.shadow-right]="hasScrollbar"></div>
  </div>
</div>
