@import 'theme/variables/index';

$default-border-color: $gray-middle;
$invalid-border-color: $red;
$input-font-size: $font-size-m;
$icon-size: $font-size-l;

:host {
  display: block;
  margin-bottom: 2.1rem;

  &.ng-valid,
  &.ng-pristine {
    .textarea__error {
      display: none;
    }
  }

  &.ng-invalid.control--showErrors {
    margin-bottom: 0;

    div textarea {
      border-color: $red;
    }

    .textarea__error {
      display: block;
    }
  }

  label {
    color: $gray-deep;
    cursor: text;
    font-size: $input-font-size;
    line-height: $line-height-m;
    margin-bottom: $spacing-xxxs;
  }

  & > div {
    position: relative;

    textarea {
      width: 100%;
      resize: none;
      padding: 0.75rem 0.8rem 0.65rem;
      border: 1px solid $gray-middle;
      font-size: $font-size-m;
      min-height: calc(3 * #{$line-height-m} + 0.4rem);

      &::placeholder {
        color: $gray-middle;
      }

      &:focus {
        border: 1px solid $blue-light;
        box-shadow: 0 3px 6px 0 rgba(0, 48, 91, 0.1);
        outline: none;
      }

      &[readonly] {
        background-color: $gray-light;
        color: $gray-dark;
        padding-right: calc(2em + #{$icon-size});
        border: 1px solid $default-border-color;
        cursor: text;

        &:focus {
          box-shadow: none;
          border: 1px solid $default-border-color;
        }
      }
    }

    textarea ~ i {
      color: $gray-middle;
      font-size: $icon-size;
      position: absolute;
      right: 1em;
      top: calc(18px - 0.5em);
      cursor: default;
    }
  }

  .notification {
    color: $gray-deep-middle;
    font-size: $font-size-s;
    font-weight: normal;
    margin-bottom: 0.25rem;

    & ~ .textarea__error {
      margin-bottom: 0.35rem;
    }
  }

  .textarea__error {
    margin-bottom: 0.55rem;
    color: $red;
    font-size: $font-size-s;
  }
}
