<label [hidden]="!label" [for]="id">{{ label | translate }}</label>
<div>
  <textarea
    #textarea
    [id]="id"
    [attr.placeholder]="placeholder ? (placeholder | translate) : null"
    [rows]="rows"
    [maxlength]="textareaMaxLength"
    [(ngModel)]="value"
    (keyup)="onChange()"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    [readonly]="isReadOnly || locked"
    [disabled]="isDisabled"
  ></textarea>
  <i class="material-icons" [hidden]="!locked">lock</i>
</div>
<div class="notification" *ngIf="showNote">
  {{ 'editableDescription.notification' | translate : locale.language : { lines: rowsLimit, characters: linesLimit } }}
</div>
<div class="textarea__error">
  {{ getErrorMessage() }}
</div>
