<div class="text-content mb-5">
  <span>{{ 'MENU.ACDMS.QUERY.globalADMReport.dialog.textContent' | translate }}</span>
</div>

<div [formGroup]="form">
  <div class="row">
    <bspl-datepicker
      class="col-md-12"
      formControlName="requestMonth"
      [label]="'MENU.ACDMS.QUERY.globalADMReport.dialog.form.label.month' | translate"
      [placeholder]="'MENU.ACDMS.QUERY.globalADMReport.dialog.form.placeholders.month' | translate"
      [dateFormat]="'yy/mm'"
      [showTodayButton]="false"
      [viewMode]="viewCalendarFormat"
    ></bspl-datepicker>
  </div>

  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="bspIsos"
      [label]="'MENU.ACDMS.QUERY.globalADMReport.dialog.form.label.bsps' | translate"
      [options]="bspList$ | async"
      [multiple]="true"
      [virtualScroll]="true"
      [appendToBody]="true"
    ></bspl-select>
  </div>
</div>
