@import 'theme/variables/index';

.changes-dialog {
  padding-bottom: $spacing-l;

  .msg {
    margin-left: $spacing-m;
    margin-bottom: $spacing-m;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $dark;
  }
}
