<div class="changes-dialog">
  <form [formGroup]="form">
    <div>
      <bspl-input
        formControlName="descriptor"
        [label]="'LIST.MASTER_DATA.fileDescriptors.dialog.edit.descriptor.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.fileDescriptors.dialog.edit.descriptor.placeholder' | translate"
        [locked]="isEditMode"
      ></bspl-input>
    </div>
    <div>
      <bspl-input
        formControlName="description"
        [label]="'LIST.MASTER_DATA.fileDescriptors.dialog.edit.description.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.fileDescriptors.dialog.edit.description.placeholder' | translate"
      ></bspl-input>
    </div>
  </form>
</div>
