<div class="dialog-container">
  <div [formGroup]="form">
    <bspl-textarea
      formControlName="internalComment"
      [label]="'REFUNDS.internalCommentDialog.commentLabel' | translate"
      [placeholder]="'REFUNDS.internalCommentDialog.commentPlaceholder' | translate"
      [autofocus]="true"
      [isReadOnly]="isReadonlyMode"
    ></bspl-textarea>
  </div>
</div>
