<bspl-list-view
  [title]="'LIST.MASTER_DATA.safSeries.title' | translate"
  [customLabels]="customLabels"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasCreating]="canCreateSafSerie"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  [filterFormatter]="displayFormatter"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
  (create)="createSafSerie()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="type"
          [label]="'LIST.MASTER_DATA.safSeries.filters.type.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.safSeries.filters.type.placeholder' | translate"
          [options]="safTypesOptions"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="description"
          [label]="'LIST.MASTER_DATA.safSeries.filters.description.label' | translate"
          [placeholder]="'LIST.MASTER_DATA.safSeries.filters.description.placeholder' | translate"
          [options]="safTypeDescriptions$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-range-dropdown
          formControlName="rangeFrom"
          [label]="'LIST.MASTER_DATA.safSeries.filters.rangeFrom.label' | translate"
          [heading]="'LIST.MASTER_DATA.safSeries.filters.rangeFrom.placeholder' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-range-dropdown
          formControlName="rangeTo"
          [label]="'LIST.MASTER_DATA.safSeries.filters.rangeTo.label' | translate"
          [heading]="'LIST.MASTER_DATA.safSeries.filters.rangeTo.placeholder' | translate"
        ></bspl-range-dropdown>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onActionMenuClick()"
    (actionClick)="onActionClick($event)"
  ></bspl-grid-table>
</bspl-list-view>
