<div class="container">
  <h3>Template driven forms</h3>
  <div class="row">
    <div class="col-md-12">
      <bspl-search-panel
        (search)="updateTemplateFormSearchCriteria($event)"
        (removeFilter)="updateTemplateFormSearchCriteria($event)"
        (clear)="updateTemplateFormSearchCriteria($event)"
      >
        <form #personTemplateForm="ngForm" searchPanel>
          <div class="form-group">
            <bspl-input [(ngModel)]="person.firstName" name="firstName" [label]="'First name'"></bspl-input>
          </div>
          <div class="form-group">
            <bspl-input [(ngModel)]="person.age" name="age" [label]="'Age'"></bspl-input>
          </div>
          <div class="form-group">
            <bspl-datepicker
              label="Date of birth"
              name="dateOfBirth"
              [(ngModel)]="person.dateOfBirth"
            ></bspl-datepicker>
          </div>
        </form>
        {{ templateFormSearchCriteria }}
      </bspl-search-panel>
    </div>
  </div>

  <h3>Reactive driven forms with persisted initial filters</h3>
  <div class="row">
    <div class="col-md-12">
      <bspl-search-panel
        (search)="updateReactiveFormSearchCriteria($event)"
        (removeFilter)="updateReactiveFormSearchCriteria($event)"
        (clear)="updateReactiveFormSearchCriteria($event)"
      >
        <div searchPanel>
          <form [formGroup]="reactivePersonForm">
            <div class="form-group">
              <bspl-input formControlName="firstName" [label]="'First name'"></bspl-input>
            </div>
            <div class="form-group">
              <bspl-input formControlName="lastName" [label]="'Last name'"></bspl-input>
            </div>
            <div class="form-group">
              <bspl-input formControlName="age" [label]="'Age'"></bspl-input>
            </div>
            <div class="form-group">
              <bspl-datepicker label="Date of birth" formControlName="dateOfBirth"></bspl-datepicker>
            </div>
          </form>
          {{ reactiveFormSearchCriteria }}
        </div>
      </bspl-search-panel>
    </div>
  </div>
</div>
