<bspl-list-view
  [title]="tableTitle"
  [isInTab]="true"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasDetailedDownloading]="true"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  [filterFormatter]="displayFormatter"
  [predefinedFilters]="predefinedFilters"
  [maxSupportedItems]="maxSupportedItems"
  (download)="onDownload()"
  (detailedDownload)="onDetailedDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (queryChange)="onQueryChanged($event)"
>
  <ng-container bsplListViewTitle *ngIf="hasViewPermission">
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-button-menu
        [options]="buttonMenuOptions$ | async"
        label="ADM_ACM.query.tableSelectionToolbar.buttonMenuLabel"
        [btnDesign]="btnDesign.Tertiary"
      ></bspl-button-menu>
    </bspl-table-selection-toolbar>
  </ng-container>
  <form bsplListViewFilter [formGroup]="searchform">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" [hidden]="userType === userTypes.AGENT">
      <bspl-select
        [options]="bspCountriesList"
        formControlName="bsp"
        [label]="'ADM_ACM.query.filters.labels.bsp' | translate"
        [placeholder]="'ADM_ACM.query.filters.placeholders.bsp' | translate"
        [isDisabled]="!bspCountriesList?.length"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'ADM_ACM.query.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="ticketDocumentNumber"
          [label]="'ADM_ACM.query.filters.labels.docNumber' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.docNumber' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" [hidden]="userType === userTypes.AIRLINE">
        <bspl-select
          [multiple]="true"
          [options]="airlineCodesList$ | async"
          formControlName="airlineIataCode"
          [label]="'ADM_ACM.query.filters.labels.airlCode' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.airlCode' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="userType === userTypes.AGENT">
        <bspl-select
          [multiple]="true"
          [options]="agentCodesList$ | async"
          formControlName="agentId"
          [label]="'ADM_ACM.query.filters.labels.agentCode' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.agentCode' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="statusList"
          formControlName="acdmStatus"
          [label]="'ADM_ACM.query.filters.labels.status' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.status' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="isGdsForwardVisible">
        <bspl-select
          [multiple]="true"
          [anyOption]="anyFilteringOption"
          [options]="gdsForwardList"
          formControlName="gdsForwardCode"
          [label]="'ADM_ACM.query.filters.labels.gdsForward' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.gdsForward' | translate"
          [isDisabled]="!gdsForwardList?.length"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="currencyList"
          formControlName="currencyId"
          [label]="'ADM_ACM.query.filters.labels.currency' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.currency' | translate"
          [isDisabled]="!currencyList?.length"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-range-dropdown
          formControlName="amountRange"
          [label]="'ADM_ACM.query.filters.labels.amountRange' | translate"
          [heading]="'ADM_ACM.query.filters.misc.amountRangeHeading' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="rtdnTypeList$ | async"
          formControlName="concernsIndicator"
          [label]="'ADM_ACM.query.filters.labels.rtdnType' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.rtdnType' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          [label]="'ADM_ACM.query.filters.labels.issueDate' | translate"
          formControlName="dateOfIssue"
          [placeholder]="'ADM_ACM.query.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3" [hidden]="!isDisputeDateVisible">
        <bspl-datepicker
          [label]="'ADM_ACM.query.filters.labels.disputeDate' | translate"
          formControlName="disputeDate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-period-picker
          formControlName="period"
          [options]="periodOptions$ | async"
          [label]="'ADM_ACM.query.filters.labels.period' | translate"
          [isDisabled]="periodIsDisabled"
          [bsplTooltip]="periodIsDisabled ? ('ADM_ACM.query.filters.tooltip.period' | translate) : null"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          [label]="'ADM_ACM.query.filters.labels.repDate' | translate"
          formControlName="reportingDate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="sentToDpcList"
          formControlName="sentToDpc"
          [label]="'ADM_ACM.query.filters.labels.sentToDpc' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.sentToDpc' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="!isInternalCommentVisible">
        <bspl-select
          formControlName="hasInternalComment"
          [options]="hasInternalCommentList"
          [label]="'ADM_ACM.query.filters.labels.internalComment' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.internalComment' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="!isReasonsVisible">
        <bspl-select
          [options]="primaryReasonList$ | async"
          formControlName="primaryReason"
          [label]="'ADM_ACM.query.filters.labels.primaryReason' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.primaryReason' | translate"
          [isDisabled]="!(primaryReasonList$ | async)?.length"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="!isReasonsVisible">
        <bspl-select
          [options]="reasonList$ | async"
          formControlName="reason"
          [label]="'ADM_ACM.query.filters.labels.reason' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.reason' | translate"
          [multiple]="true"
          [isDisabled]="!(reasonList$ | async)?.length"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="isArchivedSubTab">
        <bspl-select
          [options]="markStatusList"
          formControlName="markStatus"
          [label]="'ADM_ACM.query.filters.labels.markStatus' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.markStatus' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [rowClassesModifier]="rowClassesModifier"
    [isLoading]="loading$ | async"
    [primaryActions]="listActions$ | async"
    (rowLinkClick)="onViewAdm($event)"
    [rowDetailTemplate]="rowDetailTemplate"
    (actionClick)="onActionClick($event)"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onGetActionList($event)"
    (checkboxChange)="onRowsSelectionChange($event)"
    (imageClick)="onImageClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property
        label="ADM_ACM.query.rowDetails.airlineLbl"
        [value]="row.airline.iataCode + ' / ' + row.airline.localName"
      ></bspl-property>
      <bspl-property
        label="ADM_ACM.query.rowDetails.agentLbl"
        [value]="row.agent.iataCode + ' / ' + row.agent.name"
      ></bspl-property>
      <bspl-property
        label="ADM_ACM.query.rowDetails.agentStatus"
        [value]="'ADM_ACM.query.rowDetails.agentStatusTypes.' + row.agent.active | translate"
      ></bspl-property>
      <bspl-property
        label="ADM_ACM.query.rowDetails.countryLbl"
        [value]="row.agent.bsp.name | titlecase"
      ></bspl-property>
      <ng-container *ngIf="isGdsForwardVisible && row.gdsForwards?.length">
        <bspl-property
          *ngFor="let gds of row.gdsForwards"
          label="ADM_ACM.query.rowDetails.gdsForward"
          [value]="getGdsName(gds) + ' ' + (gds.gdsForwardDate | dateTimeFormat)"
        ></bspl-property>
      </ng-container>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
      <bspl-property label="ADM_ACM.query.rowDetails.trncTypeLbl" [value]="row.transactionCode"></bspl-property>
      <bspl-property
        label="ADM_ACM.query.rowDetails.rtdnTypeLbl"
        [value]="'ADM_ACM.acdmFor.' + row.concernsIndicator | translate"
      ></bspl-property>
      <ng-container *ngIf="isDisputeDateVisible && row.disputeDate && !isADM">
        <bspl-property
          label="ADM_ACM.query.rowDetails.disputeDate"
          [value]="row.disputeDate | dateTimeFormat : 'date'"
        ></bspl-property>
      </ng-container>

      <ng-container *ngIf="row.categories?.length > 0">
        <bspl-property label="ADM_ACM.query.rowDetails.primaryReason">
          <div *ngFor="let reason of row.categories">
            {{ reason.primaryReasonName }}
          </div>
        </bspl-property>
      </ng-container>
    </bspl-property-list>
  </div>
</ng-template>
