@import 'theme/variables/index';
@import 'components/form-page/form-page-view';

.user-profile-container {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-xl 0;

    .header-title {
      font-size: $font-size-xxl;
      color: $blue-primary;
      display: flex;
      align-items: center;
      font-weight: normal;

      &.email-heading {
        img {
          padding: 0 $spacing-xs 0.3rem 0;
        }
      }
    }

    .header-actions {
      bspl-button {
        margin-left: $spacing-s;
      }
    }
  }
}

.content-container {
  div.container {
    ul.user-tab {
      &.nav-tabs {
        margin-left: -$spacing-xl;
        margin-right: -$spacing-xl;
        padding-left: $spacing-xl;
        box-shadow: 0 0.5rem 0.6rem 0 rgba(0, 48, 91, 0.1);

        li.nav-item {
          cursor: default;
          color: $blue-primary;
          font-size: $font-size-m;

          a.nav-link {
            border: none;
            background-color: $white;
            color: $gray-dark;
            font-weight: 400;
            padding: $spacing-xs $spacing-xl;
          }

          a.active {
            cursor: default;
            background-color: $white;
            border-bottom: 0.5rem solid $blue-light;
            color: $blue-primary;
            font-weight: 500;
          }
        }
      }
    }

    .wrapper {
      padding-top: $spacing-xl;
    }
  }
}
