<div class="user-profile-container">
  <div class="row header-container">
    <h2 class="header-title email-heading">
      <span><img src="/assets/images/users/user-icon.svg" alt="User Icon" /></span>
      {{ userPortalEmail$ | async }} /
      <span *ngIf="(userBsp$ | async).length === 1">{{ (userBsp$ | async)[0].name }}</span>
      <span *ngIf="(userBsp$ | async).length > 1">{{ 'headerUserInfo.heading.multiCountry' | translate }}</span>
    </h2>
    <div class="header-actions">
      <bspl-button
        [label]="'BUTTON.DEFAULT.DISCARD'"
        [design]="buttonDesign.Tertiary"
        [isDisabled]="!(isDiscardChangesEnabled$ | async)"
        (onClick)="discardChanges()"
      ></bspl-button>
      <bspl-button
        [label]="'common.applyChanges'"
        [isDisabled]="!(isApplyChangesEnabled$ | async)"
        (onClick)="applyChanges()"
      ></bspl-button>
    </div>
  </div>

  <div class="row content-container">
    <div class="col-md-12 container">
      <ul ngbNav #nav="ngbNav" class="nav-tabs user-tab">
        <li [ngbNavItem]="'user-properties'" class="nav-item">
          <a ngbNavLink class="nav-link">{{ 'headerUserInfo.properties' | translate }}</a>
          <ng-template ngbNavContent>
            <ng-container
              *ngTemplateOutlet="
                airlineIsMulticountry ? userPropertiesMulticountry : userProperties;
                context: {
                  user: user$ | async,
                  loggedUserId: (loggedUser$ | async).id
                }
              "
            ></ng-container>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>

<ng-template #userPropertiesMulticountry let-user="user" let-loggedUserId="loggedUserId">
  <div class="wrapper">
    <bspl-accordion [multipleItemsOpen]="true">
      <bspl-accordion-item [title]="'headerUserInfo.properties'" [open]="true">
        <bspl-user-properties [user]="user" [isAirlineMulticountry]="true"></bspl-user-properties>
      </bspl-accordion-item>
      <bspl-accordion-item [title]="'ADM_ACM.basicInfo.countryTitle'" [open]="true">
        <bspl-user-properties-countries [user]="user" [loggedUserId]="loggedUserId"></bspl-user-properties-countries>
      </bspl-accordion-item>
    </bspl-accordion>
  </div>
</ng-template>

<ng-template #userProperties let-user="user">
  <bspl-user-properties [user]="user" [isAirlineMulticountry]="false"></bspl-user-properties>
</ng-template>
