@import 'theme/variables/color';
@import 'src/app/shared/scss/index';
@import 'theme/app/custom-control';

:host {
  label {
    @include input-label();
  }
}

.drop-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32rem;
  border-radius: $border-radius-large;
  border: 1px dashed $gray-middle;
  background: $white;
  cursor: pointer;

  .drop-area-active-hint {
    @extend .font-size-xxxl;

    color: $blue-ocean;
  }

  &.initial-mode {
    .drop-area-icon {
      margin-bottom: $spacing-s;
    }

    .drop-area-message {
      overflow: hidden;
      text-align: center;
      color: $blue-primary;
    }

    .separator {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-xs;

      hr {
        flex: 1;
      }

      &-text {
        @extend .font-size-xl;

        margin: 0 $spacing-xs;
      }
    }
  }

  &.preview-mode {
    height: 5rem;

    .drop-area-message {
      @extend .font-size-xl;

      display: flex;
      align-items: center;
      position: relative;
      color: $gray-deep;
      text-align: center;
    }
  }

  &.dragging-over {
    border-color: $blue-ocean;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  &.disabled {
    background-color: $gray-light;
    cursor: not-allowed;

    .link,
    .drop-area-message {
      cursor: not-allowed;
      // Needed because of .link default color.
      color: $gray-middle !important;
    }

    .mi {
      color: $gray-deep;
    }
  }
}

.control__error {
  display: none;
}

.show-required-error {
  .drop-area {
    border-color: $red;
  }

  @include control-error();

  .control__error {
    display: block;
  }
}

.file-list {
  bspl-file-card {
    display: block;
    margin: 0 0 $spacing-xs 0;

    &:first-child {
      margin-top: $spacing-xs;
    }
  }
}

.file-types {
  font-size: $font-size-s;
  margin-top: $spacing-xxxs;
}

.font-size-xl {
  font-size: $font-size-m;
  line-height: $line-height-m;
}

.font-size-xxxl {
  font-size: $font-size-xl;
  line-height: $line-height-l;
}
