<div [ngClass]="{ 'show-required-error': isRequiredErrorShown() }">
  <label *ngIf="label">{{ label }}</label>
  <div
    #dropArea
    class="drop-area"
    [class.initial-mode]="mode === uploadModes.Initial"
    [class.preview-mode]="mode === uploadModes.Preview"
    [class.dragging-over]="isDraggingOver"
    [class.disabled]="isDisabled"
    [hidden]="mode === uploadModes.Upload"
    (click)="onDropAreaClick()"
  >
    <div #inputWrapper></div>
    <div class="drop-area-active-hint" [hidden]="!isDraggingOver">{{ 'fileUploadOverlay.title' | translate }}</div>
    <div [ngSwitch]="mode" [hidden]="isDraggingOver">
      <div class="drop-area-message" *ngSwitchCase="uploadModes.Initial">
        <img
          class="drop-area-icon"
          src="/assets/images/files/ico-download.svg"
          [alt]="'upload.dragFiles' | translate"
        />
        <p class="font-size-xxxl">{{ 'upload.dragFiles' | translate }}</p>
        <div class="separator">
          <hr />
          <span class="separator-text">{{ 'upload.or' | translate }}</span>
          <hr />
        </div>
        <a class="link font-size-xl">{{ 'upload.browseForFiles' | translate }}</a>
      </div>
      <div class="drop-area-message" *ngSwitchCase="uploadModes.Preview">
        <i class="mi attach-icon md-18 mr-2">attach_file</i>
        <a class="link font-size-xl">{{ 'upload.browseFiles' | translate }}</a>
        &nbsp;
        <span>{{ 'upload.orDragFiles' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="file-types" *ngIf="fileTypesAccepted?.length">
    <span>{{ 'upload.acceptedFormat' | translate }}&nbsp;</span>
    <ng-container *ngFor="let type of fileTypesAccepted; let i = index">
      <span *ngIf="i !== 0">, </span>
      <span>{{ type | uppercase }}</span>
    </ng-container>
  </div>

  <div class="control__error">
    {{ getRequiredErrorMessage() }}
  </div>

  <div class="file-list">
    <bspl-file-card
      *ngFor="let file of filesToUpload"
      [file]="file"
      [canRemove]="canRemove(file)"
      [canRetry]="canRetry(file)"
      (retry)="retryUpload(file)"
      (remove)="removeFile(file)"
    ></bspl-file-card>
  </div>
</div>
