<p class="TableText">
  <span lang="EN-GB"
    >This option allows Agent user to query all issued ACNTs (non-ticket related credit memos). The information
    displayed in this option is the same as for ADMs. Please refer to </span
  ><span lang="EN-GB">6.3.2.1 ACM </span
  ><span lang="EN-GB">to know how to query and manage the information under this option.</span>
</p>
