<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Agents may request a given Airline to issue an ADM by means of this option. Once clicked, a list of requests is
    displayed. The fields included on this table are the same as those on “ADM” (please refer to </span
  ><span lang="EN-GB">6.3.1.1. ADMA</span><span lang="EN-GB">).</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >ADM requests can be issued by clicking the
    <img border="0" width="159" height="30" id="Imagen 18" src="agent/images/image102.jpg" />, which displays an ADM
    issuance form:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="220" id="Imagen 79" src="agent/images/image103.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc30747086"></a><a name="_Toc34375458"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: ADM Issue screen.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >This screen is divided into four main parts: the ADM Header, the ADM Basic Information, the Details and the Amount
    and Tax.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Header
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The table at the very top of the screen includes the following fields, which are automatically completed as the
    Agent user fills the ADM issue form:
  </span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM Number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date (automatically indicated)</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >It is precisely on this table where the ADM request will be issued by means of the
    <img border="0" width="61" height="30" id="Imagen 279" src="agent/images/image104.jpg" /> button, once the whole
    form is complete. The Airline User may similarly disregard the ADM issuance through the
    <img border="0" width="61" height="30" id="Imagen 735" src="agent/images/image105.jpg" /> button<a
      name="_Hlk9506199"
      >. Besides, the Airline user may expand the whole form at once, or simply jump to one of the other sections
      (●Basic Information”, “Details” or “Amount and Tax”):</a
    ></span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="45" id="Imagen 730" src="agent/images/image106.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc30747087"></a><a name="_Toc34375459"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: ADM Issue header.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Basic Information
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk9506578"
    ><span lang="EN-GB"
      >The ADM Basic Information contains the relevant data concerning the operating Airline and the Agent involved in
      the ADM.
    </span></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="411" id="Imagen 731" src="agent/images/image107.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc30747088"></a><a name="_Toc34375460"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: ADM Issue Basic Information.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <a name="_Hlk9506854"
    ><span lang="EN-GB"
      >The following fields appear at the top of the ADM Basic Information, which are automatically completed as the
      Agent user fills in the rest of the form:</span
    ></a
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date: </span></b
  ><span lang="EN-GB">the date in which the ADM request is to be reported to the involved Airline.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b
  ><span lang="EN-GB"
    >for those Users who have access to just one BSP, this is completed by default; otherwise, a drop-down list allows
    selecting the corresponding BSP. Please note that it is necessary to select a BSP before being able to choose an
    Airline.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type</span></b>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB">The Airline information is populated from the database once picked from the dropdown list. </span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >Similarly, the Agent information is populated. The VAT number can be edited, accepting a maximum of 30 characters.
    Please note that both the Airline and the Agent details can be expanded or hidden.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >Once the Airline has been indicated, the system allows the Agent user to complete the ADM Properties:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for: </span></b
  ><span lang="EN-GB"
    >the Agent User must indicate if the ADM is related to an “Issue”, an “Exchange”, a “Refund”
    <a name="_Hlk23842780">(which accepts the introduction of penalties and the handling of fees) </a>or an “EMD”
    (Miscellaneous document, such as baggage allowance).</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TOCA type: </span></b
  ><span lang="EN-GB">it is necessary to indicate the Tax on Commission Amount (TOCA), if any.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB"
    >the BSP Default Currency is automatically shown, but it is possible to indicate another operating one in that BSP.
    A list with the existing Currencies in that BSP can be displayed. The selected currency affects the behaviour of all
    monetary amount fields in the ADM form, such as the decimal amount to be shown. Please note that if the Currency is
    changed after the Agent User has completed all the monetary values in the ADM form (below in the form), these get
    reset to zero.
  </span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b
  ><span lang="EN-GB"
    >the ADM can be either “Domestic” or “International”. This configuration varies according to each BSP
    features.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >Additionally, the Agent User may choose the Net-Reporting indicator if supplementary commission rates are
    reported.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Details
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The ADM Issue Details information is divided into the Reason Details and the Related Documents information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="206" id="Imagen 732" src="agent/images/image108.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc30747089"></a><a name="_Toc34375461"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: ADM Issue Details.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB">The Reason Details information includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason: </span></b
  ><span lang="EN-GB"
    >The Agent User may indicate a Reason for each ADM request-related action (Issue, Dispute, Deactivation, Forward to
    GDS) of maximum 20 lines of 45 characters each.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for Memo Issuance Code (RMIC): </span></b
  ><span lang="EN-GB"
    >the RMIC must consist of a 0-5 alphanumerical character code of uppercase from “A” to “Z” and digits from “0” to
    “9”, and may include the following special characters: full stop (.), slash (/), minus sign (-) and embedded blank (
    ). Please note that if a RMIC is entered but there is no RTDN (Related Document / Ticket Number), the system warns
    that the RMIC is not reported to the DPC (Data processing Centre).</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB">The Related Document information includes the following fields:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger: </span></b
  ><span lang="EN-GB"
    >the name of the passenger of the first related document can be indicated. This field accepts up to 49
    alphanumerical characters.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date: </span></b
  ><a name="_Hlk9508272"><span lang="EN-GB">the date of issue of the first related document can be indicated</span></a
  ><span lang="EN-GB"
    >, which must be before or equal to the ADM date of issue. Please note that if a RTDN issue date is entered but
    there is no RTDN (Related Document / Ticket Number), the system warns that the RMIC is not reported to the
    DPC.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <a name="_Hlk7174551"
    ><span lang="EN-GB" style="color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">Related Document Number: </span></b
    ><span lang="EN-GB">it is possible to insert up to 490</span></a
  ><span lang="EN-GB">
    related document number. Each number consists of a numerical code of 13 characters: the Airline IATA Code in the BSP
    in which the ADM is to be issued and 10 digits. Please note that each related document number is unique by ADM. In
    order to introduce a Related Document Number, it is necessary to click on
    <img border="0" width="46" height="30" id="Imagen 736" src="agent/images/image109.jpg" />, which turns blue once a
    valid RTDN is entered. Once done, the list of RTDN is displayed below.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB">Lastly, the Agent User must complete the Monetary Amount and Tax information:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="272" id="Imagen 733" src="agent/images/image110.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc30747090"></a><a name="_Toc34375462"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: ADM Issue Amount and Tax.</span>
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >It is possible to insert the Agent and Airline input amounts on “Fare”, “Tax, Fees and Charges”, “Commission” and
    “Tax on Commission” (this last one depends on the BSP configuration). These amounts concern those of the related
    documents as issued by the Agent and the expected ones by the Airline. The system calculates the totals for both the
    Agent and Airline input amounts as well as the differences to obtain the due amount expected to be remitted by the
    Agent. Please note that all the amounts must show the same number of decimals, as defined by the BSP Currency
    chosen.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >When no amount is inserted, the value is 0 with the corresponding currency decimals (e.g. since EUR accepts two
    decimals, the amount is “EUR 0.00”). Similarly, when a field shows an amount with less decimals than the permitted
    ones by the Currency, then 0 will be added (e.g. “EUR 1,3” turns into “EUR 1.30”).</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >Finally, the Airline User may insert an unlimited number of taxes. Once the ISO Tax Code and its corresponding
    amount have been inserted, the tax can be added to the ADM by means of the
    <img border="0" width="65" height="30" id="Imagen 737" src="agent/images/image111.jpg" /> button. Added taxes can be
    deleted by means of the
    <img border="0" width="22" height="22" id="Imagen 19" src="agent/images/image112.jpg" />
    icon.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >After completing the ADM Basic Information, the ADM Details and the ADM Amount and Tax, the information in the ADM
    header is displayed and it is possible to issue the ADM:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="45" id="Imagen 734" src="agent/images/image113.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc30747091"></a><a name="_Toc34375463"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: ADM can be issued.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is now necessary to click on
    <img border="0" width="59" height="30" id="Imagen 59" src="agent/images/image114.jpg" /> for the ADM to be
    officially issued. <a name="_Hlk17278808">The system will confirm that the ADM was successfully issued.</a> The
    involved Airline must approve or reject the ADM request to complete the process.</span
  >
</p>
