<p class="MsoNormal" style="line-height: normal">
  <a name="_Ref41900990"></a
  ><a name="_Ref37673104"
    ><span lang="EN-GB"
      >Agent Group users can query and dispute Agency Debit Memos (ADM). Airlines may issue ADMs to adjust their
      settlement based upon a series of criteria they consider.
    </span></a
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It should be noted that ADMs may alter the amount to be remitted by the Agent for a given period. Therefore, it is
    advised to carefully check your reports (please refer to </span
  ><span lang="EN-GB">6.6 Files</span
  ><span lang="EN-GB"
    >), which will indicate the final amount to remit considering ADMs. If you have any concern regarding the ADM/ACMs
    which have been issued, please check them individually.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">It is possible to query ADMAs, ADNTs and ADM Requests from this option:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="383" height="274" id="Imagen 31" src="agent/images/image066.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADM.</span>
</p>
