@import 'theme/variables/index';
@import 'src/app/sales/shared/sales-query';

:host {
  ::ng-deep .statement-header {
    justify-content: flex-end;
  }
}

.aggregationOptions {
  padding-left: $spacing-m;
  margin-bottom: $spacing-s;

  ::ng-deep .radio-button-group-label {
    overflow: auto;
    width: 100%;
  }
}
