<bspl-list-view
  [title]="'sales.billingStatement.viewTitle'"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [noticeMessage]="noticeDisclaimer$ | async | translate"
  (download)="onDownload()"
>
  <div class="view-header statement-header" bsplListViewTitle>
    <bspl-button
      [label]="'Totals'"
      [design]="buttonDesign.Tertiary"
      [icon]="totalsPanel.isOpened ? 'clear' : 'equalizer'"
      [isDisabled]="!(dataSource.hasData$ | async)"
      (onClick)="totalsPanel.toggle()"
    ></bspl-button>
  </div>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'sales.billingStatement.bsp' | translate"
        [placeholder]="'sales.billingStatement.selectBsp' | translate"
        [locked]="!isBspFilterMultiple"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'sales.billingStatement.highlightedBspText' | translate }}</span>
    </div>
    <div *ngIf="canQueryAgent && canQueryAirline">
      <div class="row">
        <bspl-radio-button-group
          class="aggregationOptions"
          formControlName="aggregateBy"
          [groupName]="'aggregationButtons'"
          [options]="aggregationOptions"
          [label]="'sales.billingStatement.aggregation.aggregateBy' | translate"
          [isVertical]="false"
          (change)="onAggregationChangeClick($event)"
        ></bspl-radio-button-group>
      </div>
      <hr />
    </div>

    <div class="row">
      <div class="form-group col-lg-3 col-md-6" *ngIf="canQueryAirline">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'sales.billingStatement.airlineCodeName' | translate"
          [placeholder]="'sales.billingStatement.selectAirline' | translate"
          [isDisabled]="searchForm?.value?.aggregateBy === AggregateStatementsBy.Agent"
          [multiple]="true"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="canQueryAgent">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'sales.billingStatement.agentCodeName' | translate"
          [placeholder]="'sales.billingStatement.selectAgent' | translate"
          [isDisabled]="searchForm?.value?.aggregateBy === AggregateStatementsBy.Airline"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isUserAirline">
        <bspl-select
          formControlName="agentGroup"
          [options]="agentGroupDropdownOptions$ | async"
          [label]="'sales.billingStatement.agentGroupCodeName' | translate"
          [placeholder]="'sales.billingStatement.agentGroupCodeNamePlaceHolder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="periodRange"
          [label]="'sales.billingStatement.period'"
          [options]="periodOptions$ | async"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="monthPeriod"
          [label]="'sales.billingStatement.monthPeriod'"
          [options]="periodOptions$ | async"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodMonthPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statisticalCodeDropdownOptions"
          formControlName="statisticalCode"
          [label]="'sales.billingStatement.salesType' | translate"
          [placeholder]="'sales.billingStatement.selectSalesType' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="currency"
          [options]="currencyOptions"
          [label]="'sales.billingStatement.currency' | translate"
          [placeholder]="'sales.billingStatement.allCurrencies' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="listActions$ | async"
    (actionClick)="onActionClick($event)"
    (actionsMenuClick)="onGetActionList($event)"
    [showIconEmptyActions]="true"
  >
  </bspl-grid-table>
</bspl-list-view>

<bspl-floating-panel
  class="billing-statement-totals"
  [fullWidth]="false"
  [closable]="true"
  (opened)="onTotalsPanelOpened()"
  (closed)="onTotalsPanelClosed()"
>
  <bspl-spinner [isLoading]="isTotalsLoading" [relativeTo]="'parent'">
    <bspl-billing-statement-totals [totals]="totalsData | async"> </bspl-billing-statement-totals>
  </bspl-spinner>
</bspl-floating-panel>

<ng-template #netToPayTemplate let-row="row" let-value="value">
  <ng-container *ngTemplateOutlet="value === '' ? maskedTemplate : amountTemplate; context: { row: row, value: value }">
  </ng-container>
</ng-template>

<ng-template #maskedTemplate> *** </ng-template>

<ng-template #amountTemplate let-row="row" let-value="value">
  {{ value | number : getAmountFormat(row?.currency?.decimals) }}
</ng-template>
