@import 'theme/variables/index';
@import 'components/form-list/form-list';
@import 'components/form-page/form-page';
@import 'components/inline-list/inline-list';

$separator: 1px solid $gray-deeper;

:host {
  .additionalData-section {
    padding-bottom: calc(3rem - 26px);
    padding-left: $spacing-xs;
  }

  .form-section {
    ul.listForm {
      .listForm__header {
        .cardType {
          padding-left: 0;
        }

        .listForm__label {
          float: left;
        }

        :last-child {
          .listForm__label {
            float: right;
            padding-right: $spacing-m;
          }
        }
      }

      .listForm__line {
        .listForm__label {
          color: $blue-primary;

          &.line--right {
            float: right;
          }
        }

        &.listForm__line--subtotal {
          text-align: right;

          &:hover {
            background-color: transparent;
          }

          .listForm__label--numeric {
            font-weight: 500;
          }

          :first-child {
            span {
              padding-right: $spacing-m;
              border-right: $separator;
            }
          }
        }

        .cardTypeInput {
          padding-left: 0;

          bspl-input {
            text-align: left;
          }
        }

        .cardNumberInput {
          bspl-input {
            ::ng-deep {
              input {
                text-align: left;
              }

              div.control__error {
                text-align: left;
              }
            }
          }
        }
      }

      .listForm__footer {
        border-top: $separator;

        &.listForm__line--total {
          span {
            font-size: $font-size-l;
          }

          & > div:last-child {
            text-align: right;
            padding-right: 0;
          }

          & > div:first-child {
            border-right: $separator;
            margin-left: -$spacing-xs;
          }
        }
      }

      .listForm__line.listForm__line--subtotal,
      .listForm__footer.listForm__line--total {
        text-align: right;

        & > div {
          padding-right: $spacing-xs;
        }

        .listForm__label {
          padding-right: 0;
        }

        .listForm__label.listForm__label--numeric {
          padding-right: 0.9rem;
          padding-left: 2em;
        }
      }
    }
  }
}
