<div [formGroup]="form">
  <!-- Tour code / Customer Ref / E-ticket-->
  <div class="row additionalData-section separator-bottom">
    <div class="col-3">
      <bspl-input
        #tourCode
        class="uppercase-input"
        formControlName="tourCode"
        [placeholder]="'REFUNDS.formOfPayment.tourCode.placeholder' | translate"
        [label]="'REFUNDS.formOfPayment.tourCode.label' | translate"
        [maxLength]="15"
      ></bspl-input>
    </div>

    <div class="col-3" *ngIf="isCustomerRefFieldVisible$ | async">
      <bspl-input
        #customerReference
        class="uppercase-input"
        formControlName="customerReference"
        [placeholder]="'REFUNDS.formOfPayment.customerRef.placeholder' | translate"
        [label]="'REFUNDS.formOfPayment.customerRef.label' | translate"
        [maxLength]="27"
      ></bspl-input>
    </div>

    <div class="col-3" *ngIf="iseTicketAuthCodeFieldVisible$ | async">
      <bspl-input
        #eTicketAuthCode
        class="uppercase-input"
        formControlName="eTicketAuthCode"
        [placeholder]="'REFUNDS.formOfPayment.eTicketAuth.placeholder' | translate"
        [label]="'REFUNDS.formOfPayment.eTicketAuth.label' | translate"
        [maxLength]="14"
      ></bspl-input>
    </div>

    <div class="col-3" formGroupName="currency">
      <bspl-select
        formControlName="id"
        [options]="currencyOptions"
        [label]="'REFUNDS.formOfPayment.currency.label' | translate"
        [isReadOnly]="currencyOptions.length === 1"
        [locked]="formConfig.isAuthorize || formConfig.isInvestigate"
        [clearable]="false"
        [placeholder]="'REFUNDS.formOfPayment.currency.placeholder' | translate"
      ></bspl-select>
    </div>
  </div>

  <!-- Payments-->
  <div class="row form-section" [hidden]="!showCash && !showMiscCash && !cardArrayControl.length">
    <div class="col-12">
      <ul class="listForm listForm--reduced">
        <li class="row listForm__header">
          <div class="col-3">
            <span class="listForm__label">{{
              'REFUNDS.formOfPayment.cardPayments.headerColumns.payment' | translate
            }}</span>
          </div>
          <div class="col-2 cardType">
            <span class="listForm__label" [hidden]="!cardArrayControl.length">{{
              'REFUNDS.formOfPayment.cardPayments.headerColumns.type' | translate
            }}</span>
          </div>
          <div class="col-3">
            <span class="listForm__label" [hidden]="!cardArrayControl.length">{{
              'REFUNDS.formOfPayment.cardPayments.headerColumns.card' | translate
            }}</span>
          </div>
          <div class="col-3">
            <span class="listForm__label">{{
              'REFUNDS.formOfPayment.cardPayments.headerColumns.amount'
                | translate : locale.language : { currencyCode: currencyCodeLabel }
            }}</span>
          </div>
        </li>

        <li class="row listForm__line" *ngFor="let item of cardArrayControl.controls; let i = index">
          <ng-container *ngIf="item.enabled">
            <ng-container *ngTemplateOutlet="cardPaymentMethods; context: { item: item, index: i }"></ng-container>
          </ng-container>
        </li>

        <li class="row listForm__line listForm__line--subtotal" *ngIf="cardArrayControl.length">
          <div class="col-lg-10 col-md-9">
            <span class="listForm__label">{{
              'REFUNDS.formOfPayment.cardPayments.total'
                | translate : locale.language : { currencyCode: currencyCodeLabel }
            }}</span>
          </div>
          <div class="col-lg-2 col-md-3">
            <span class="listForm__label listForm__label--numeric"> {{ cardTotal.value }}</span>
            <bspl-input #cardTotal [type]="'hidden'" [formControlName]="'cardTotal'"></bspl-input>
          </div>
        </li>

        <li class="row listForm__line" *ngIf="showCash">
          <div class="col-8">
            <span class="listForm__label">{{ 'REFUNDS.formOfPayment.cashPayments.cash' | translate }}</span>
          </div>
          <div class="col-3 amountInput">
            <bspl-input
              #cashPaymentAmount
              formControlName="cashPaymentAmount"
              [placeholder]="amountPlaceholder"
            ></bspl-input>
          </div>
          <div class="col actions line--centered">
            <i
              class="material-icons icon-delete"
              title="{{ 'common.delete' | translate }}"
              (click)="removeCash(paymentMethodType.cash)"
            >
              delete
            </i>
          </div>
        </li>

        <li class="row listForm__line" *ngIf="showMiscCash">
          <div class="col-8">
            <span class="listForm__label">{{ 'REFUNDS.formOfPayment.cashPayments.miscCash' | translate }}</span>
          </div>
          <div class="col-3 amountInput">
            <bspl-input
              #miscellaneousCashAmount
              formControlName="miscellaneousCashAmount"
              [placeholder]="amountPlaceholder"
            ></bspl-input>
          </div>
          <div class="col actions line--centered">
            <i
              class="material-icons icon-delete"
              title="{{ 'common.delete' | translate }}"
              (click)="removeCash(paymentMethodType.miscCash)"
            >
              delete
            </i>
          </div>
        </li>

        <li class="row listForm__line listForm__line--subtotal" *ngIf="showCash || showMiscCash">
          <div class="col-lg-10 col-md-9">
            <span class="listForm__label">{{
              'REFUNDS.formOfPayment.cashPayments.total'
                | translate : locale.language : { currencyCode: currencyCodeLabel }
            }}</span>
          </div>
          <div class="col-lg-2 col-md-3">
            <span class="listForm__label listForm__label--numeric"> {{ cashTotal.value }}</span>
            <bspl-input #cashTotal [type]="'hidden'" [formControlName]="'cashTotal'"></bspl-input>
          </div>
        </li>

        <li class="row listForm__footer listForm__line--total">
          <div class="col-lg-10 col-md-9">
            <span class="listForm__label">{{
              'REFUNDS.formOfPayment.total' | translate : locale.language : { currencyCode: currencyCodeLabel }
            }}</span>
          </div>
          <div class="col-lg-2 col-md-3">
            <span class="listForm__label listForm__label--numeric"> {{ totalAmount.value }} </span>
            <bspl-input #totalAmount [type]="'hidden'" [formControlName]="'totalAmount'"></bspl-input>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Total / Button-->
  <div>
    <div class="mt-4 pl-3">
      <bspl-button-menu
        label="REFUNDS.formOfPayment.actionsBtn.main"
        [disabled]="isBtnDisabled()"
        [btnDesign]="btnDesign.Secondary"
        [options]="paymentMethodOptions"
      >
      </bspl-button-menu>
    </div>
  </div>
</div>

<ng-template #cardPaymentMethods let-item="item" let-i="index">
  <ng-container [formGroup]="item">
    <div class="col-3 align-self-center">
      <span class="listForm__label">{{
        'REFUNDS.formOfPayment.cardPayments.' + item.controls['payment']?.value.toLowerCase() | translate
      }}</span>
    </div>
    <div class="col-2 cardTypeInput">
      <bspl-input class="uppercase-input" #type formControlName="type" [maxLength]="2"></bspl-input>
    </div>
    <div class="col-3 cardNumberInput">
      <bspl-input #cardMask formControlName="cardMask" [maxLength]="19"></bspl-input>
      <bspl-input #card [type]="'hidden'" formControlName="card"></bspl-input>
    </div>
    <div class="col-3 amountInput">
      <bspl-input #amount formControlName="amount" [placeholder]="amountPlaceholder"></bspl-input>
    </div>
    <div class="col-1 actions line--centered">
      <i class="material-icons icon-delete" title="{{ 'common.delete' | translate }}" (click)="removeCardRow(i)">
        delete
      </i>
    </div>
  </ng-container>
</ng-template>
