<!-- Fixes an issue where if the button is disabled and you click within the button (over the span), the click event propagates.
   This was happening in Chrome but not in Mozilla. -->
<div (click)="click($event)">
  <button
    [type]="type"
    class="bspl-btn"
    [ngClass]="'bspl-btn-' + design"
    [class.bspl-btn-loading]="isLoading"
    [disabled]="isDisabled"
    #buttonRef
  >
    <bspl-spinner [isLoading]="isLoading" relativeTo="parent" size="small" [isTransparent]="true">
      <i *ngIf="icon" class="mi md-18 icon-start" [ngClass]="icon"></i>
      <img *ngIf="image" class="image-start" [src]="image" alt="" />
      <span *ngIf="label">{{ label | translate }}</span>
      <i *ngIf="iconRight" class="mi md-18 icon-end" [ngClass]="iconRight"></i>
    </bspl-spinner>
  </button>
</div>
