<bspl-simple-table
  [title]="'document.sections.conjunctions.title'"
  [columns]="columns"
  [data]="data"
></bspl-simple-table>

<ng-template #conjunctionTicketTemplate let-column="column" let-dataItem="dataItem" let-table="table">
  <a
    *ngIf="currentDocumentNumber !== dataItem[column.field]"
    class="link"
    (click)="openDocument.emit(dataItem[column.field])"
  >
    {{ dataItem[column.field] }}
  </a>
  <div *ngIf="currentDocumentNumber === dataItem[column.field]">
    {{ dataItem[column.field] }} <i>({{ 'document.sections.conjunctions.currentDocument' | translate }})</i>
  </div>
</ng-template>
