<div class="confirmation-container">
  <div>
    {{
      'confirmationDialog.deleteConfirmationContent'
        | translate : locale.language : { entityName: config.data.entityName }
    }}
  </div>
  <div class="details">{{ config.data.details }}</div>
</div>
