@import 'theme/variables/index';

$padding-compact: 0.6rem;

.property-list {
  display: block;

  .property-list-header {
    font-weight: 500;
    color: $blue-primary;
    font-size: $font-size-l;
    line-height: $line-height-l;
    margin: 0 0 $spacing-m 0;
  }

  &.property-list-align-right {
    .property-value {
      flex: none;
    }
  }

  &.property-list-compact {
    .property {
      padding: $padding-compact 0;
    }
  }
}
