<bspl-list-view
  [title]="'MENU.USERS_MAINTENANCE.MAIN_USERS.TABS.LIST_OF_USERS' | translate"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="query$ | async"
  [hasDownloading]="true"
  [canDownload]="hasData$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage }}</span>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="userTemplate"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userTemplate.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.userTemplate.placeholder' | translate"
          [options]="userTemplateOptions"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="portalAccessEmail"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.portalAccessEmail.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.portalAccessEmail.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="level"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.listOfUsers.level.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.listOfUsers.level.placeholder' | translate"
          [options]="levelOptions"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="name"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.name.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.name.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="registerDate"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.registerDate.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.registerDate.placeholder' | translate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="expiryDate"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.expiryDate.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.expiryDate.placeholder' | translate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="status"
          [label]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.status.label' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.MAIN_USERS.filters.status.placeholder' | translate"
          [options]="statusOptions"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [isLoading]="loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
  ></bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-right">
      <bspl-property
        label="MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.organization"
        [value]="row.contactInfo.organization"
      ></bspl-property>
      <bspl-property
        label="MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.phone"
        [value]="row.contactInfo.telephone"
      ></bspl-property>
      <bspl-property
        label="MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.countryTerritory"
        [value]="row.contactInfo.country"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-right">
      <bspl-property
        label="MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.city"
        [value]="row.contactInfo.city"
      ></bspl-property>
      <bspl-property
        label="MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.address"
        [value]="row.contactInfo.address"
      ></bspl-property>
      <bspl-property
        label="MENU.USERS_MAINTENANCE.MAIN_USERS.rowDetails.postCode"
        [value]="row.contactInfo.postCode"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
