<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [filterFormatter]="displayFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="airlineCode"
          [label]="'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.label.airlineCode' | translate"
          [options]="airlineCodeOptions$ | async"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="suspensionDate"
          [label]="'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.label.suspensionDate' | translate"
          [placeholder]="'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.placeholders.suspensionDate' | translate"
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="deactivationDate"
          [label]="'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.label.userDeactivationDate' | translate"
          [placeholder]="
            'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.placeholders.userDeactivationDate' | translate
          "
          selectionMode="range"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="raForAgents"
          [options]="raOptionList"
          [label]="'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.label.raAgents' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          formControlName="raForAirline"
          [options]="raOptionList"
          [label]="'MENU.USERS_MAINTENANCE.SUSPENDED_AIRLINE.filter.label.raSuspendedAirline' | translate"
        ></bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
  ></bspl-grid-table>
</bspl-list-view>
