<div [formGroup]="form">
  <div class="row">
    <bspl-input
      class="col-md-12"
      formControlName="code"
      [label]="'MENU.MASTER_DATA.BSP_CURRENCY_ASSIGNATION.dialog.form.currency.label' | translate"
      [locked]="isEditMode"
    ></bspl-input>
  </div>

  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="decimals"
      [options]="decimalOptions"
      [label]="'MENU.MASTER_DATA.BSP_CURRENCY_ASSIGNATION.dialog.form.numberDecimals.label' | translate"
      [appendToBody]="true"
      [virtualScroll]="true"
    ></bspl-select>
  </div>

  <div class="row">
    <bspl-datepicker
      class="col-md-12"
      formControlName="effectiveTo"
      [label]="'MENU.MASTER_DATA.BSP_CURRENCY_ASSIGNATION.dialog.form.expiryDate.label' | translate"
      [minDate]="expiryMinDate"
    ></bspl-datepicker>
  </div>
</div>
