<div class="header-container">
  <h3 class="header-title">
    {{ 'subUsers.hosuPermissions.title' | translate }}
  </h3>
  <div class="actions">
    <bspl-button
      *ngIf="isApplyChangesVisible"
      [label]="'subUsers.hosuPermissions.buttons.grant' | translate"
      [isDisabled]="!(isApplyChangesEnabled$ | async)"
      (onClick)="applyChanges(true)"
    ></bspl-button>
    <bspl-button
      *ngIf="isApplyChangesVisible"
      [label]="'subUsers.hosuPermissions.buttons.revoke' | translate"
      [isDisabled]="!(isApplyChangesEnabled$ | async)"
      (onClick)="applyChanges(false)"
    ></bspl-button>
    <bspl-button
      *ngIf="isApplyChangesVisible"
      [label]="'subUsers.hosuPermissions.buttons.cancel' | translate"
      [design]="buttonDesignSecondary"
      (onClick)="cancel()"
    ></bspl-button>
  </div>
</div>
<div class="list-view-filter">
  <div class="list-view-filter-editable">
    <div class="tags-container">
      <bspl-tag
        class="filter-tag"
        [closeable]="false"
        [value]="selectedHosuBsps$ | async"
        (remove)="(false)"
      ></bspl-tag>
      <bspl-tag class="filter-tag" [closeable]="false" [value]="selectedHosus$ | async" (remove)="(false)"></bspl-tag>
    </div>
  </div>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
