@import 'theme/variables/index';
@import 'components/filter-template/filter-template';

:host,
.tab-content {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-xl 0;

  .header-title {
    font-size: $font-size-xxl;
    color: $blue-primary;
    font-weight: normal;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .actions {
    display: flex;
    flex: 0 0 auto;
    padding: 2rem;

    bspl-button {
      margin-right: $spacing-xs;
    }
  }
}

.profile-tabs {
  ::ng-deep {
    .tab-menu-container {
      margin-left: -$spacing-xl;
      margin-right: -$spacing-xl;
    }
  }
}
