<bspl-list-view
  [title]="title$ | async"
  [hasFiltering]="true"
  [predefinedFilters]="predefinedFilters"
  [filterFormatter]="monitoringHotDataFilterFormatterService"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="false"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-12">
        <div class="highlighted-filter">
          <bspl-select
            [options]="userBsps"
            formControlName="isoCountryCode"
            [label]="'monitoring-hot-data.filters.isoCountryCode.label' | translate"
            [placeholder]="'monitoring-hot-data.filters.isoCountryCode.placeholder' | translate"
            [isDisabled]="!userBsps?.length"
            [locked]="isBspFilterLocked"
            [multiple]="isBspFilterMultiple"
          >
          </bspl-select>
          <span>{{ 'monitoring-hot-data.filters.isoCountryCode.text' | translate }}</span>
        </div>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'monitoring-hot-data.filters.name.label' | translate"
          formControlName="name"
          [placeholder]="'monitoring-hot-data.filters.name.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-hot-data.filters.status.label' | translate"
          formControlName="status"
          [placeholder]="'monitoring-hot-data.filters.status.placeholder' | translate"
          [options]="statusOptions"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'monitoring-hot-data.filters.startProcessingTime.label' | translate"
          [placeholder]="'monitoring-hot-data.filters.startProcessingTime.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="startProcessingTime"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'monitoring-hot-data.filters.endProcessingTime.label' | translate"
          [placeholder]="'monitoring-hot-data.filters.endProcessingTime.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="endProcessingTime"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'monitoring-hot-data.filters.salesQueryProcessor.label' | translate"
          formControlName="salesQueryProcessorStatus"
          [placeholder]="'monitoring-hot-data.filters.salesQueryProcessor.placeholder' | translate"
          [options]="salesQueryProcessorOptions"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="listActions"
    [showIconEmptyActions]="true"
    (actionClick)="onActionClick($event)"
    (actionsMenuClick)="onGetActionList($event)"
  ></bspl-grid-table>
</bspl-list-view>
