<bspl-list-view
  *ngIf="[permissions.readFile, permissions.readCommunicationsFile] | hasPermission"
  id="reports-list"
  [title]="title"
  [hasFiltering]="true"
  [filterFormatter]="formatFilter"
  [predefinedFilters]="predefinedFilters"
  [isInTab]="true"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <ng-container bsplListViewTitle>
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      class="selection-toolbar"
      singleSelectedItemTranslationKey="MENU.files.reports.multipleArchive.fileSelected"
      multipleSelectedItemsTranslationKey="MENU.files.reports.multipleArchive.filesSelected"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows($event)"
    >
      <bspl-button
        design="tertiary"
        [label]="'MENU.files.reports.multipleArchive.button' | translate"
        [isLoading]="isLoading$ | async"
        (click)="onMultipleArchiveClick($event)"
      ></bspl-button>
    </bspl-table-selection-toolbar>
  </ng-container>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        formControlName="bspId"
        [options]="bspCountriesList"
        [label]="'MENU.files.reports.bsp' | translate"
        [clearable]="false"
        [locked]="isBspFilterLocked"
      >
      </bspl-select>
      <span>{{ 'MENU.files.reports.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filter -->
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="name"
          [label]="'MENU.files.reports.fileName' | translate"
          [placeholder]="'MENU.files.reports.placeholders.fileName' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="fileTypeOptions$ | async"
          formControlName="type"
          [label]="'MENU.files.reports.fileType' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          formControlName="uploadDate"
          [label]="'MENU.files.reports.uploadDate' | translate"
          [placeholder]="'MENU.files.reports.placeholders.choose' | translate"
          [selectionMode]="'range'"
          [maxDate]="maxDate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="!isArchive">
        <bspl-select
          formControlName="status"
          [options]="statusOptions"
          [label]="'MENU.files.reports.status' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="isLoading$ | async"
    [primaryActions]="tableActions"
    (actionClick)="executeAction($event)"
    (checkboxChange)="onRowsSelectionChange($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<ng-template #filesLinkCellTmpl let-file="row" let-value="value" let-expanded="expanded" let-column="column">
  <a class="link" [class.files-link]="file.status === fileType.NotDownloaded" (click)="saveFile(file)"> {{ value }}</a>
</ng-template>
