@import 'theme/variables/index';

:host {
  display: block;
  padding-bottom: $spacing-xl;

  > *:not(:last-child) {
    margin-bottom: $spacing-m;
    display: block;
  }
}

.message {
  color: $gray-deep;
}
