<p class="message" l10nTranslate>MASTER_DATA.agentGroupInvitations.accept.message</p>
<bspl-invitation-summary [invitation]="invitation"></bspl-invitation-summary>
<bspl-alert-message type="warning" message="MASTER_DATA.agentGroupInvitations.accept.warning"></bspl-alert-message>
<bspl-alert-message
  *ngIf="invitation.individualAccess === individualAccess.Forbidden"
  type="info"
  message="MASTER_DATA.agentGroupInvitations.accept.accessLossInfo"
></bspl-alert-message>
