<div class="data__table">
  <div class="row line__data">
    <p class="msg">{{ config.message }}</p>
  </div>

  <div class="row line__data" *ngFor="let change of config.changes">
    <div class="col-sm-12">{{ change.name }}</div>
    <div>{{ change.value }}</div>

    <div *ngIf="change.group === 'sendAdm'">
      <bspl-alert-message
        [hidden]="!config.messageEmailAlert"
        [message]="config.messageEmailAlert"
        [type]="warning"
      ></bspl-alert-message>
    </div>
    <div *ngIf="change.group === 'notifyAgents'">
      <bspl-alert-message
        [hidden]="!config.messageRemarkAlert"
        [message]="config.messageRemarkAlert"
        [type]="warning"
      ></bspl-alert-message>
    </div>
  </div>
</div>
