@import '~src/app/shared/scss/index';
@import 'src/app/shared/scss/data-table-dialog';

:host {
  div.data__table {
    div.row.line__data {
      p.msg {
        color: $gray-dark;
        line-height: $line-height-m;
        font-size: $font-size-m;
      }

      div:first-child {
        font-size: $font-size-m;
        color: $blue-primary;
        line-height: $line-height-m;
        padding: $spacing-xs 0 0;
      }

      div:not(:first-child) {
        font-size: $font-size-s;
        color: $gray-deep;
        line-height: $line-height-s;
        padding: 0 0 $spacing-xs;
      }
    }

    div:last-child {
      border-bottom: none;
    }
  }
}
