<p class="MsoNormal">
  <span lang="EN-GB"
    >From this option, GDS users may configure email alerts for Ticketing Authority, Files, Comments for ADMs, ACMs and
    Refunds, Payments and ADM/ACM:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 6pt; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="100%" src="gds/images/email-alerts-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Email Alerts.</span>
</p>
