<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows GDS user to configure the BSPlink environment where a copy of the Global TA and FOP file will be
    sent.</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >1.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >Select the BSP where the copy of the file will be sent.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >2.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >Then, click <img border="0" height="30" src="gds/images/icon-apply-changes.jpg" /> to save the setup.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >3.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >Finally, click <img border="0" height="30" src="gds/images/icon-darkblue-apply.jpg" /> to save it completely.
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="gds/images/global-ta-and-fop-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 1: Global TA and FOP copy file.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">Note that if no BSP is indicated, no copy of the file will be sent.</span></p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The user can then remove the copy of the Global TA and FOP files by leaving the field empty, clicking
    <img border="0" height="30" src="gds/images/icon-apply-changes.jpg" /> and finally
    <img border="0" height="30" src="gds/images/icon-darkblue-apply.jpg" /> to completely remove the BSP and, therefore,
    the copy of the file. Note that the user can only remove the BSP associated to the country the user is logged in.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Note that the removing of this copy DOES NOT imply that the file will not be generated. The file will continue
    being generated as usual; it is the copy of the file the one that won’t be sent.</span
  >
</p>
