<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >This option displays the GDS Profile, where the most relevant details are stored, and different configurations may
    be performed. The GDS profile is divided into the following tabs: Configuration and ADM/ACM Issuing Authority.
  </span>
</p>
