<div class="alertMessage">
  <div class="primary-section">
    <i class="material-icons">{{ iconTypeMapper[type] || type }}</i>
    <div class="alertMessageText" [innerHTML]="message" l10nTranslate></div>
  </div>
  <div class="secondary-section" *ngIf="errorCode">Error Code: {{ errorCode }}</div>
</div>
