@import 'theme/variables/index';

$box-shadow-color: rgba(0, 48, 91, 0.1);
$box-shadow-below: 0 3px 6px 0 $box-shadow-color;

@mixin style-content($color) {
  .alertMessage {
    border: 1px solid $color;

    .material-icons {
      color: $color;
    }
  }
}

:host {
  .alertMessage {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-large;
    padding: $spacing-s;
    background: $white;

    .alertMessageText {
      font-size: $font-size-s;
      line-height: $line-height-s;
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .material-icons {
      font-size: $font-size-m;
      margin-right: $spacing-xs;
    }

    .primary-section {
      display: flex;
      align-items: center;
    }

    .secondary-section {
      font-size: $font-size-s;
      color: $gray-deep;
      margin: $spacing-xs 0 0 $spacing-l;
    }
  }

  &.warningMessage {
    @include style-content($orange);
  }

  &.infoMessage {
    @include style-content($blue-ocean);
  }

  &.errorMessage {
    @include style-content($red);
  }

  &.successMessage {
    @include style-content($green);
  }
}
