@import 'theme/variables/index';

:host::ng-deep {
  .dashed-border {
    margin-top: $spacing-s;
    border-bottom: 1px dashed $gray-middle;
  }

  .date-border-wrapper {
    margin: 0;
    align-items: center;

    .date-border {
      border-bottom: 1px solid $gray-deep;
    }

    .date-value {
      text-align: center;
    }
  }

  a {
    color: $blue-light;

    &:hover {
      text-decoration: none;
    }
  }

  .no-activity-text {
    margin-top: $spacing-m;
    color: $gray-middle;
    font-size: $font-size-l;
    line-height: $line-height-l;
  }

  .activity-item-container {
    margin-top: $spacing-xs;

    .primary-row {
      align-items: baseline;

      .main-title {
        font-size: $font-size-l;
        line-height: $line-height-l;
        font-weight: $font-weight-medium;
      }

      .item-time {
        color: $gray-deep;
      }
    }

    .secondary-row {
      margin-bottom: $spacing-s;

      .secondary-by {
        color: $gray-deep;
      }
    }
  }
}
