<div class="activity-list-container" *ngIf="activities">
  <div *ngIf="activities.length === 0" class="no-activity-text">
    {{ 'activityPanel.labels.noActivityYet' | translate }}
  </div>
  <div *ngFor="let activityGroup of activitiesGroupedByDate">
    <div *ngFor="let activity of activityGroup; let i = index">
      <bspl-activity-item [activityItem]="activity" (downloadFile)="onDownloadFile($event)"></bspl-activity-item>
      <div class="dashed-border" [hidden]="i === activityGroup.length - 1"></div>
    </div>

    <div class="date-border-wrapper row">
      <div class="date-border col-md-4"></div>
      <div class="date-value col-md-4">{{ activityGroup[0].creationDate | date : 'dd/MM/yyyy' }}</div>
      <div class="date-border col-md-4"></div>
    </div>
  </div>
</div>
