<div class="dialog-container">
  <div class="subtitle">
    {{ 'TIP.cards.dialogs.consent.terminate.subtitle.' + level | translate }}
  </div>
  <div *ngIf="isCardLevel" class="items">
    <bspl-pill-information
      *ngFor="let pill of pills"
      [value]="pill.value"
      [tooltip]="pill.tooltip"
    ></bspl-pill-information>
  </div>
</div>
