<p class="BodyText" style="line-height: normal">
  This option allows viewing and editing the list of airlines participating in each BSP. The airline’s information is
  automatically loaded in the system.
</p>

<p class="BodyText" style="line-height: normal">
  When the “Airline” option is selected, a list of registered airlines is displayed by default.
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="645" height="131" id="Imagen 26" src="gds/images/image060.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 6pt; text-align: center">
  <a name="_Toc8220524"></a><a name="_Toc20479936"></a><a name="_Toc26451531"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Airlines.</span>
</p>

<p class="BodyText" style="line-height: normal">For each airline, the following general data are displayed:</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Code:</span></b
  ><span lang="EN-GB"> the IATA code of the Airline.</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Name</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Designator: </b>designator code <span lang="EN-GB">of the Airline.</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Register Date/Expiry Date: </b>the effective period of the Airline.
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Status: </b>whether the airline is “Active” or “Non-Active”.
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      ><img border="0" width="22" height="22" id="Imagen 218" src="gds/images/image061.jpg" /></span></b
  ><b>: </b>this icon gives the option to view the Airline detailed information and to manage its Ticketing Authority.
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >In addition to the above-mentioned general data, it is possible to query detailed information by clicking on each
    airline’s data:</span
  >
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >“Address”, “City”, “Postcode”, “Country”, “Email”, “Telephone”, “Fax”, “Contact Name”, “VAT Number”, “EasyPay
    Status”, “EasyPay Effective From”, “IATA” (3-digit airline code).</span
  >
</p>

<p class="BodyText" align="center" style="line-height: normal; text-align: center">
  <span lang="EN-GB"> <img border="0" width="642" height="146" id="Imagen 29" src="gds/images/image062.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220525"></a><a name="_Toc20479937"></a><a name="_Toc26451532"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">2</span><span lang="EN-GB">: Airline data.</span>
</p>

<p class="BodyText" style="line-height: normal">For “EasyPay Status”, possible values are:</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">OPTIN:</span></b
  ><span lang="EN-GB"> the airline accepts Easy Pay.</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">OPTOUT:</span></b
  ><span lang="EN-GB"> the airline does not accept Easy Pay.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Please note that the VAT number of the Airline is indicated in the Airline Profile, in case this is requested by
    agents.</span
  >
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >Results can be sorted in ascendant or descendant order by clicking on the header of any of the fields
    available.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt">
  The
  <span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 211" src="gds/images/image063.jpg" /></span>
  icon at the
  <span lang="EN-GB">top-right corner of the screen allows filtering the result by the following fields:</span>
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 18.7pt;
    text-indent: -18.7pt;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="86" id="Imagen 30" src="gds/images/image064.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220526"></a><a name="_Toc20479938"></a><a name="_Toc26451533"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">3</span><span lang="EN-GB">: Airline filter.</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Airline Code or Name: </span></b
  ><span style="color: windowtext">To restrict the search to a specific airline. </span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Status: </span></b><span style="color: windowtext">Active or inactive.</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Register Date: </span></b
  ><span style="color: windowtext"
    >It is possible to select just one date or a temporal frame by selecting two different dates.</span
  >
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Expiry Date From/To: </span></b
  ><span style="color: windowtext"
    >It is possible to select just one date or a temporal frame by selecting two different dates.</span
  >
</p>

<p class="BodyText" style="line-height: normal">
  It is also possible to narrow down the results by means of other data by clicking on the “Advanced Search” bar:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="17" id="Imagen 159" src="gds/images/image065.jpg" /></span>
</p>

<p
  class="MsoCaption"
  align="center"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; text-align: center"
>
  <a name="_Toc8220527"></a><a name="_Toc20479939"></a><a name="_Toc26451534"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">4</span><span lang="EN-GB">: Airline Advanced Search bar.</span>
</p>

<p class="BodyText" style="line-height: normal">
  This option allows the IATA user to query Airlines by filtering more specific data:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="202" id="Imagen 224" src="gds/images/image066.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220528"></a><a name="_Toc20479940"></a><a name="_Toc26451535"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">5</span><span lang="EN-GB">: Airline Advanced Search.</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Designator code</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>VAT number</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>EasyPay Status:</b> “OPTIN”, when EasyPay is enabled by the Airline, and “OPTOUT”, when it is disabled.
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>EsayPay Effective Date</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>City</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>State</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Country:</b> A list with the existing countries is displayed. Multiple choice is possible.
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Postal Code</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Email</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Telephone</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>First name</b>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Last name</b>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  Once the filter form has been completed, the user should click “Search” to launch the query. The result list will be
  automatically updated with the airlines that fulfill the filter conditions entered.
</p>

<p class="BodyText" style="line-height: normal">
  It is also possible to download the query results in TXT or CSV format by clicking the
  <span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 219" src="gds/images/image067.jpg" /></span>

  icon.<span style="color: #172b4d"> </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Airline Profile
</p>

<p class="MsoNormal">
  By clicking on the Airline name, a new tab with the Airline Profile is displayed. It is divided into two sections:
  Properties and Ticketing Authority:
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Airline Properties
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Airline Properties are grouped in four categories: General, Contact Details, Payment Information and Address
    Details:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB">
    <img border="0" width="645" height="288" id="Imagen 225" src="gds/images/image069.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Airline Properties.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Airline Ticketing Authority
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >GDS users can check and manage the Ticketing Authority (TA) assigned to any Agent belonging to any BSP where the
    Airline operates. When this tab is clicked, the following information is displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="gds/images/airlines-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: Ticketing Authority view.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >A list with the existing Agents in the selected BSP is displayed, including the following data:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Address</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent City</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Status: </span></b><span lang="EN-GB">Active or Inactive.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Ticketing Authority Status: </span></b><span lang="EN-GB">Enabled or Disabled.</span>
</p>

<p class="MsoNormal" style="line-height: 115%">
  <span lang="EN-GB"
    >By default, the list of Agents with Enabled Ticketing Authority is displayed. However, it is possible to narrow
    down the query by means of the
    <img border="0" width="82" height="30" id="Imagen 233" src="gds/images/image063.jpg" /> button. The following
    filters may be applied:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: 115%;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="gds/images/airlines-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: Ticketing Authority Filter.</span>
</p>
