@import 'theme/variables/index';

.editable-item.edit-mode {
  background: $gray-light;
  padding: 0;

  div {
    padding-top: $spacing-xs;
  }

  .actions {
    .read {
      display: none;
    }

    .edit {
      display: block;
    }
  }
}

.editable-item:hover {
  background-color: $gray-light;
}

.editable-item {
  background-color: transparent;
  border-bottom: 1px solid $gray-neutral;
  padding: $spacing-xs 0;
  width: 100%;
  overflow: hidden;

  .data {
    width: 90%;

    .data-cell {
      float: left;
      padding: 0 $spacing-xs;
    }

    span.readonly {
      display: block;
      width: 100%;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    span.readonly.edit-mode {
      margin-top: 0.8rem;
    }
  }

  div {
    color: $gray-dark;
    font-size: $font-size-m;
  }

  .actions {
    float: right;

    i {
      font-size: 1.7rem;
      cursor: pointer;
      color: $gray-middle;
    }

    .icon-delete,
    .icon-cancel {
      margin-left: $spacing-s;
    }

    .icon-edit:hover:not(.disabled-hover) {
      color: $green;
    }

    .icon-delete:hover:not(.disabled-hover) {
      color: $red;
    }

    .disabled-hover {
      cursor: not-allowed;
    }

    .edit {
      display: none;
      padding: 0;
      margin-top: 0.8rem;

      i {
        font-weight: bold;
      }

      i.icon-save {
        cursor: default;
      }

      i.can-save {
        color: $green;
        cursor: pointer;
      }

      i.icon-cancel {
        color: $red;
      }
    }

    .read {
      padding: 0;
      display: block;
    }
  }
}
