<div class="editable-item" [class.edit-mode]="editMode" [formGroup]="form">
  <!-- DATA -->
  <div class="data">
    <div
      *ngFor="let column of columns"
      class="data-cell"
      [ngSwitch]="column.control?.type"
      [style.width]="column.width + '%'"
    >
      <!-- SELECT control -->
      <div *ngSwitchCase="editableListColumnControlType.Select">
        <bspl-select
          *ngIf="editMode"
          [formControlName]="column.control?.name"
          [clearable]="false"
          [appendToBody]="true"
          [options]="column.control?.options | async"
          [locked]="column.control?.locked | async"
          [label]="column.control?.label | translate"
          [placeholder]="column.control?.placeholder | translate"
          [bsplTooltip]="
            column.control?.name && form.controls[column.control.name]?.disabled
              ? (column.control.tooltip | translate)
              : ''
          "
          (ngModelChange)="onNgModelChange()"
        ></bspl-select>
        <span
          *ngIf="!editMode"
          class="readonly"
          [ngClass]="{ 'edit-mode': editMode }"
          [bsplTooltip]="item | access : column.prop | bsplEmpty"
          [showOnEllipsis]="true"
        >
          {{ item | access : column.prop | bsplEmpty }}
        </span>
      </div>

      <!-- Input text control -->
      <div *ngSwitchCase="editableListColumnControlType.Text">
        <bspl-input
          *ngIf="editMode"
          [formControlName]="column.control?.name"
          [clearable]="false"
          [appendToBody]="true"
          [locked]="column.control?.locked | async"
          [label]="column.control?.label | translate"
          [placeholder]="column.control?.placeholder | translate"
          [bsplTooltip]="
            column.control?.name && form.controls[column.control.name]?.disabled
              ? (column.control.tooltip | translate)
              : ''
          "
          (ngModelChange)="onNgModelChange()"
        >
        </bspl-input>
        <span
          *ngIf="!editMode"
          class="readonly"
          [ngClass]="{ 'edit-mode': editMode }"
          [bsplTooltip]="item | access : column.prop | bsplEmpty"
          [showOnEllipsis]="true"
        >
          {{ item | access : column.prop | bsplEmpty }}
        </span>
      </div>

      <div *ngSwitchDefault>
        <span
          *ngIf="!editMode"
          class="readonly"
          [ngClass]="{ 'edit-mode': editMode }"
          [bsplTooltip]="item | access : column.prop | bsplEmpty"
          [showOnEllipsis]="true"
        >
          {{ item | access : column.prop | bsplEmpty }}
        </span>
      </div>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="actions">
    <!-- READ mode -->
    <div class="read">
      <i
        *ngIf="hasEdit"
        class="material-icons icon-edit"
        [ngClass]="{ 'disabled-hover': hasDisabledActions }"
        title="{{ 'common.edit' | translate }}"
        data-title="edit"
        (click)="onEdit()"
      >
        edit
      </i>

      <i
        *ngIf="hasDelete"
        class="material-icons icon-delete"
        [ngClass]="{ 'disabled-hover': hasDisabledActions }"
        title="{{ 'common.delete' | translate }}"
        data-title="delete"
        (click)="onDelete()"
      >
        delete
      </i>
    </div>

    <!-- EDIT mode -->
    <div class="edit">
      <i
        class="material-icons icon-save"
        [class.can-save]="canSave"
        title="{{ 'common.save' | translate }}"
        data-title="save"
        (click)="onSave()"
      >
        done
      </i>

      <i
        class="material-icons icon-cancel"
        title="{{ 'common.cancel' | translate }}"
        data-title="cancel"
        (click)="onCancel()"
      >
        clear
      </i>
    </div>
  </div>
</div>
