<ng-container *ngIf="!displayTriggerAsText">
  <bspl-button
    class="menu-trigger"
    *ngIf="!displaySingleOptionAsButton"
    cdk-overlay-origin
    (onClick)="openMenu()"
    [label]="label"
    [iconRight]="btnIcon"
    [design]="btnDesign"
    [isDisabled]="disabled"
    [class.rotated-arrow]="isOverlayOpened"
  ></bspl-button>

  <bspl-button
    class="menu-trigger"
    *ngIf="displaySingleOptionAsButton"
    (onClick)="options[0].command()"
    [label]="options[0].label"
    [design]="btnDesign"
    [isDisabled]="disabled"
  ></bspl-button>
</ng-container>
<ng-container *ngIf="displayTriggerAsText">
  <span
    cdk-overlay-origin
    class="menu-trigger menu-trigger-text"
    [class.rotated-arrow]="isOverlayOpened"
    (click)="openMenu()"
  >
    {{ label }}
    <i class="material-icons"> arrow_drop_down </i>
  </span>
</ng-container>

<ng-template #buttonMenu>
  <div class="button-menu-container">
    <div *ngFor="let group of groupedOptionKeys; last as isLast">
      <div
        *ngFor="let option of groupedOptions[group]"
        class="button-menu-option"
        (click)="selectOption(option)"
        [class.disabled]="option.isDisabled"
      >
        {{ option.label | translate }}
      </div>
      <hr *ngIf="!isLast" />
    </div>
  </div>
</ng-template>
