@import 'theme/variables/index';

:host {
  ::ng-deep {
    .menu-trigger {
      i {
        transition: transform 0.5s;
      }

      &.rotated-arrow {
        i {
          transform: rotate(180deg);
        }
      }

      &.menu-trigger-text {
        cursor: pointer;

        i {
          vertical-align: top;
          margin-left: -$spacing-xxs;
        }
      }
    }
  }
}

.button-menu-container {
  box-shadow: $shadow-z-3;
  border-radius: $border-radius-small;
  padding: $spacing-xs 0;
  max-height: 36rem;
  overflow-y: auto;
  background-color: $white;

  .button-menu-option {
    padding: 0.8rem $spacing-xxl 0.8rem $spacing-s;
    cursor: pointer;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $gray-dark;
    white-space: nowrap;

    &:hover {
      background-color: $gray-neutral;
    }

    &.disabled {
      background-color: transparent;
      color: $gray-middle;
      cursor: default;
    }
  }
}
