<div #overlay class="overlay">
  <div
    class="dialog"
    [ngClass]="{ 'wide-mode': isInWideMode }"
    [@animation]="{
      value: 'visible',
      params: { transitionParams: undefined || '400ms cubic-bezier(0.25, 0.8, 0.25, 1)' }
    }"
    (@animation.start)="onAnimationStart($event)"
    (@animation.done)="onAnimationEnd($event)"
    (click)="onDialogClicked($event)"
  >
    <div class="header">
      <h2>{{ dialogConfig.title | translate }}</h2>
      <bspl-icon-button
        [icon]="'close'"
        [hidden]="!isClosable"
        (click)="onButtonClick(CancelOperation)"
      ></bspl-icon-button>
    </div>
    <div class="content">
      <div class="content-wrapper">
        <ng-template bsplInsertion></ng-template>
      </div>
    </div>
    <div class="footer">
      <div class="footer-buttons">
        <bspl-button
          *ngFor="let btn of dialogConfig.buttons"
          bsplThrottleClick
          (throttleClick)="onButtonClick(btn.type)"
          class="modal-action-btn"
          [label]="btn.title | uppercase"
          [design]="btn.buttonDesign"
          [isDisabled]="btn.isDisabled"
          [isLoading]="btn.isLoading"
          [bsplTooltip]="btn.tooltipText | translate"
        >
        </bspl-button>
      </div>
    </div>
  </div>
</div>
