@import 'theme/variables/index';

:host {
  display: block;
  position: relative;

  .dialog {
    border-radius: 5px;
    box-shadow: $shadow-z-4;
    background-color: $white;
    display: flex;
    flex-direction: column;
    z-index: $z-index-layer-7;
    max-height: 95vh;
    width: 450px;
    position: relative;

    &.wide-mode {
      width: 850px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: $spacing-xxxl $spacing-xxxxl $spacing-xl;

      > i {
        cursor: pointer;
        margin-left: $spacing-m;
        color: $gray-middle;
      }
    }

    .content {
      overflow-y: auto;
      display: flex;
      align-items: center;
      margin: 0 $spacing-l;
      padding: 0 $spacing-l;
      min-height: 10rem;

      .content-wrapper {
        width: 100%;
        // Fix for scroll not working when combined with flex and align items center
        // https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container
        margin: auto;
        margin-top: 0;
        margin-left: 0;
      }
    }

    .footer {
      background-color: $gray-light;
      width: 100%;
      min-height: 76px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: inset $shadow-z-2;
      padding: $spacing-m $spacing-xxxxl;

      .footer-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: $spacing-s;
      }
    }
  }
}
