<p class="BodyText" style="line-height: normal">
  This option displays the total amount accumulated per year in the selected BSP on a monthly basis. The following
  fields are facilitated for analysis purposes:
</p>

<p class="BodyText" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="194" id="Imagen 12" src="airline/images/image333.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254175"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Annual Accumulated.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Month and Year</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">International sales</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Domestic sales</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sum of All Types of Sales</span></b>
</p>

<p class="MsoNormal" style="margin-top: 0in; line-height: 150%">
  <span lang="EN-GB"
    >In order to delimit the query to a specific month or currency (if more than one is available in the BSP the user
    operated in), it is possible to click the
    <img border="0" width="82" height="30" id="Imagen 28" src="airline/images/image334.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="644" height="110" id="Imagen 25" src="airline/images/image335.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254176"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Annual Accumulated Filter.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Besides, it is possible to obtain a comparison of the Airline’s Annual Accumulated and the total figures of the
    industry by clicking the
    <img border="0" width="86" height="30" id="Imagen 29" src="airline/images/image312.jpg" />
    button. This dialog does also indicate the percentage of industry participation which corresponds to the
    Airline:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="380" height="98" id="Imagen 32" src="airline/images/image336.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254177"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Annual Accumulates Totals.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is important to bear in mind that the system will only display information back to 24 months, for users without
    multi-country access.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For users who enjoy multi-country access permissions, the query result is for an extended period up to 5 years old.
    For further information about how to get this type of BSPlink access, please reach us through the
    <a href="https://portal.iata.org/" target="_blank">IATA Customer Portal</a>.
  </span>
</p>
