<p class="MsoNormal">
  <span lang="EN-GB"
    >The Billing Analysis option allows users to query specific sales details regarding a particular Agent in a given
    billing period.  It displays the information from each of the rows in Billing Statement option. In order to view
    such specific sales details, it is necessary to set up the filter in the modal box which gets displayed:</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is important to bear in mind that the system will only display information back to <b>24 months</b>, for users
    without multi-country access</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For users who enjoy multi-country access permissions, the query result is for an extended period up to
    <b>5 years</b> old. For further information about how to get this type of BSPlink access, please reach us through
    the IATA Customer Portal.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to view such specific sales details, it is necessary to set up the filter in the modal box which gets
    displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="airline/images/billibg-analysis-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 1: Global Airlines filter.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">It is necessary to complete the following fields:</span></p>

<p
  class="MsoListParagraphCxSpFirst"
  style="margin-top: 12pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >1.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Agent Group Code/Name:</b> It is necessary to select the involved Agent Group from a drop-down list. To facilitate
  this query, it is possible to write down the Agent Group code or agent group name for the system to filter the query,
  OR,
</p>

<p
  class="MsoListParagraphCxSpFirst"
  style="margin-top: 12pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >2.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Default Agent Code/Name: </span></b
  ><span lang="EN-GB"
    >It is necessary to select the involved Agent from a drop-down list. To facilitate this query, it is possible to
    write down the Agent Code or Agent Name for the system to discriminate results:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in"><span lang="EN-GB">&nbsp;</span></p>

<p
  class="MsoListParagraphCxSpLast"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="383" height="166" id="Imagen 148" src="airline/images/image315.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Toc40254166"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: dropdown list.</span>
</p>

<p class="MsoNormal">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If the user has selected an Agent Group, the agents available in this field
  will be those within the group.
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >3.<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB">
    The Billing Analysis must be performed with concerns to a specific billing period. It is possible to combine more
    than one period on the query as long as both periods belong to the same month.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >After completing the modal box, the results will be displayed once the
    <img border="0" width="74" height="30" id="Imagen 163" src="airline/images/image316.jpg" />
    button. </span
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 152" src="airline/images/image317.jpg" /></span>
  or to press “Esc” from the keyboard<span lang="EN-GB">. </span>
</p>

<p class="MsoNormal" style="margin: 0in"><span lang="EN-GB">The queried results are listed as follows:</span></p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="645" height="136" id="Imagen 154" src="airline/images/billing-analysis-3.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254167"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Billing Analysis view.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type: </span></b><span lang="EN-GB">“TKTT”, “ACDM” or “EMD”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number:</span></b
  ><span lang="EN-GB">
    It is possible to click on the Document Number to display its full details (please refer to </span
  ><span lang="EN-GB">6.5.1.1 Ticket facsimile</span><span lang="EN-GB"> for more information).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> Either “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date:</span></b
  ><span lang="EN-GB">
    The exact date in which the transaction was issued, which must be within the period(s) selected before.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="familyont-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB"> billing period of each transaction.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cash</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Payment Card</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Easy Pay</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be Paid</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Besides, the ticket details are summarized on a table which gets displayed by simply clicking on the document row
    (except the Document Number):</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/billing-analysis-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254168"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Ticket details summarized.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This summarized view of the ticket data includes the following parameters:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Basic Details: </span></b
  ><span lang="EN-GB"
    >The BSP in which the ticket was acquired, the Void Coupons (“V”, if any), the flight Destination and other possible
    Comments.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Additional Information: </span></b
  ><span lang="EN-GB"
    >The Form of Payment (Cash, Credit or EasyPay) and its corresponding amount, the listed information on taxes grouped
    on form of payment (“CA”, Cash; “CR”, Credit; “EP”, EasyPay), Commission, Fare Adjustment and Cancellation
    fees.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to hide this summarized information, it is necessary to simply click again on the transaction row.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >At the top right view of the Billing Analysis, the
    <img border="0" width="86" height="30" id="Imagen 156" src="airline/images/image320.jpg" />
    button displays the total figures of the Billing Analysis according to the filter applied on the Set-up modal
    box:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/billing-analysis-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254169"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Total figures in Billing Analysis.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">This option shows the following figures: </span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount:</span></b
  ><span lang="EN-GB"> The sum of all fares minus the total amount of taxes and cancellations.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Taxes</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare Adjustment:</span></b
  ><span lang="EN-GB"> Only applicable for Cash.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">VAT</span></b
  ><span lang="EN-GB">/<b>Commission</b>: Tax on commission amounts, only applicable for Cash.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Cancellation Fees</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net Fare Amount</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be Paid:</span></b
  ><span lang="EN-GB">
    The sum of all the Amounts minus the sum of the amount reflected on the “Commissions” and “VAT/Commission” fields.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If more than one currency exists in the BSP Users operate in, Totals can be explored in a given currency by
    clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 447" src="airline/images/image280.jpg" /> icon next to the
  Currency.
  <span lang="EN-GB">As a result, each row is reserved to each Form of Payment (Cash, Credit and EasyPay):</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/image322.jpg" /></span>
</p>

<p class="MsoNormal" align="center" style="text-align: center">
  <a name="_Toc40254170"
    ><i><span lang="EN-GB">Figure </span></i></a
  ><i><span lang="EN-GB">6</span></i
  ><i><span lang="EN-GB">: Form of Payment deployed in Billing Analysis.</span></i>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If users require a refinement of the query, it is possible to click on the
    <img border="0" width="82" height="30" id="Imagen 168" src="airline/images/image323.jpg" /> at the top right corner.
    Results can be narrowed based on the following parameters:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/billing-analysis-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254171"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: Billing Analysis filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name: </span></b
  ><span lang="EN-GB"
    >accredited agents in the selected BSP are included in a drop-down list. It is possible to select just one.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group Code/Name:</span></b
  ><span lang="EN-GB">
    to filter the query by Agent Groups. When selecting one, the Agent Code/Name field will only include the agents
    belonging to that group.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB"> if more than one period is selected, they must belong to the same month.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Type:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACM: </span></b><span lang="EN-GB">Agent Credit Memo.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACMD: </span></b><span lang="EN-GB">Agency Credit Memo Default.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ACNT: </span></b><span lang="EN-GB">Agent Credit Non-Document.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM: </span></b><span lang="EN-GB">Agent Debit Memo.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMD: </span></b><span lang="EN-GB">Agent Debit Memo Default.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">CANX: </span></b><span lang="EN-GB">Cancelled Document.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EMDA: </span></b><span lang="EN-GB">Electronic Miscellaneous Document Associated.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">EMDS: </span></b><span lang="EN-GB">Electronic Miscellaneous Document Standard.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RFNC: </span></b><span lang="EN-GB">Refund of Cancellation with reversal.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RFND: </span></b><span lang="EN-GB">Refund.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SPCR: </span></b><span lang="EN-GB">Settlement Plan Credit.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SPDR: </span></b><span lang="EN-GB">Settlement Plan Debit.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SSAC: </span></b
  ><span lang="EN-GB">Sales Summary Adjustment Credit Note (Minor Adjustment Notice – due to Agent).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SSAD: </span></b
  ><span lang="EN-GB">Sales Summary Adjustment Debit Note (Minor Adjustment Notice – due to Airline).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TASF: </span></b><span lang="EN-GB">Travel Agent Service Fees.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TKTT: </span></b><span lang="EN-GB">Electronic Ticket Sale.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> “Domestic” or “International”.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB"> The available currencies in the selected BSP.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To perform the query according to the applied filter, it is necessary to click on
    <img border="0" width="74" height="30" id="Imagen 196" src="airline/images/image325.jpg" />. To clear all the
    selected fields, click on
    <img border="0" width="60" height="30" id="Imagen 176" src="airline/images/image326.jpg" />.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It should be noted that these filter options are applied to the BSP which was selected on the Set-up modal box. If
    Users wish to perform a new query related to a different BSP to which access is granted, it is necessary to display
    the Set-up modal box again by clicking on “Billing Analysis” under the “Sales” option from the menu bar.
  </span>
</p>
