<p class="MsoNormal">
  <span lang="EN-GB"
    >The Billing Statement option provides the summarized information of sales for each BSP. Once selected, the
    summarized information concerning sales in such BSP is displayed under the following fields:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group Code: </span></b> the Agent Group Code the Agent belongs to. If there is no Agent
  Group involved, the field will show a hyphen (-).
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group Name: </span></b>the Agent Group Name the Agent belongs to. If there is no Agent
  Group involved, the field will show a hyphen (-).
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type: </span></b><span lang="EN-GB">Domestic or International, in different rows.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net to be paid: </span></b
  ><span lang="EN-GB">The net amount the Agent must pay to the Airline.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0in; line-height: 150%">
  <span lang="EN-GB"
    >Please note that sales are displayed separated by Type. To find out how to check the total amount per period,
    please refer to the filtering options herein below.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0in; line-height: 150%">
  <span lang="EN-GB"
    >In order to delimit the query to a specific period or Agent, it is possible to click the
    <img border="0" width="82" height="30" id="Imagen 112" src="airline/images/image309.jpg" />
    button. Once clicked, the following filters can be applied:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="airline/images/billing-statement-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254163"
    ><span lang="EN-GB"><i>Figure</i></span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Billing Statement Filter.</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP:</span></b
  ><span lang="EN-GB"> depends on the user access to one or several BSP.</span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;One BSP: this is the country/territory
    shown and it cannot be changed.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;For multi-country users, by default, this
    dropdown includes data of all BSPs the user has permission to. However, this drop-down always allows multi-country
    users to select amongst the BSPs for which the user has permission to run the query.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/ Name</span></b>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Group Code/ Name</span></b>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period:</span></b
  ><span lang="EN-GB"> depends on the user access to one or several BSPs. </span>
</p>

<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;One BSP: by default, the current sales
    period for that BSP and the user is able to select the periods in that BSP country/territory.</span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.55in;
    text-indent: -0.55in;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&nbsp;&nbsp;Several BSPs (multi-country): the current
    sales period of the default BSP (the one the user is logged in). The user is able to select Sales Month of the
    periods in the picked BSPs from the above BSP dropdown list.
  </span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sales Type:</span></b
  ><span lang="EN-GB"> Domestic, International or All Types.</span>
</p>

<p class="MsoNormal" style="margin-top: 0pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency:</span></b
  ><span lang="EN-GB">
    for multi-country users, this option shows the list of currencies in the BSPs of the BSP dropdown list above.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >To confirm the filter, click on
    <img border="0" width="74" height="30" id="Imagen 215" src="airline/images/image311.jpg" />.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For users that do not have multi-country access, this filter allows to query sales separated by type (Domestic or
    International) of a maximum of <b>24 months</b> back from the date of query.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users who enjoy multi-country access permissions, the query result of this sales data is for an extended period up
    to <b>5 years</b> old. For further information about how to get this type of BSPlink access, please reach us through
    the IATA Customer Portal.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Each line corresponds to one Agent and Sales Type. However, it is also possible to query the total sales amount by
    means of the “All Types” option: the result shown corresponds to that of Domestic sales and International sales
    together per Agent.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Again, this information is offered within the scope of the transactions between the Airline and a specific Agent.
    This option does not provide with global settlement amounts per period. In order to check total amounts, please
    click the
    <img border="0" width="86" height="30" id="Imagen 226" src="airline/images/image312.jpg" />
    button at the top right. This option presents a table showing the amount resulting from the sum of all “Net to be
    paid” values according to the filter previously applied (if any). If different currencies are used in the BSP in
    which users are performing the query, all of them are offered in this table:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="72" id="Imagen 229" src="airline/images/image313.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254164"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Billing Statement Total Amount.</span><a name="_Ref13490753"></a>
</p>
