<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >This module includes the information concerning the transactions performed by the Airline in each BSP. </span
  >The different options integrated under this module ease the comparison and contrast of the information related to
  these transactions according to users’ needs.
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="271" height="388" id="Imagen 131" src="airline/images/image308.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Sales.</span>
</p>
