<form [formGroup]="form" (submit)="onFormSubmit($event)">
  <div class="row">
    <div class="col-md-12" *ngIf="warningMessage">
      <bspl-alert-message [message]="warningMessage" type="warning"></bspl-alert-message>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.login.username.lbl' | translate"
        [placeholder]="'trainingSite.login.username.placeholder' | translate"
        formControlName="userName"
        [maxLength]="255"
      ></bspl-input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.login.password.lbl' | translate"
        [placeholder]="'trainingSite.login.password.placeholder' | translate"
        formControlName="password"
        [type]="'password'"
      ></bspl-input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-button [label]="buttonLabel | translate" [type]="'submit'" [isDisabled]="!this.form.valid"></bspl-button>
    </div>
  </div>
</form>
