@import '~src/app/shared/scss/index';

:host .changes-dialog {
  padding-bottom: $spacing-l;

  .msg {
    margin-bottom: $spacing-m;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $gray-deep;
  }

  section {
    .title {
      margin: $spacing-l 0 $spacing-s;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .item {
        padding: $spacing-xxxs 0;

        bspl-pill-information {
          max-width: 100%;
        }
      }
    }
  }

  .confirm-wrapper {
    padding-top: $spacing-s;
    margin-top: $spacing-s;
    border-top: 0.1rem solid $gray-neutral;

    .confirm-msg {
      margin-bottom: $spacing-s;
    }

    bspl-checkbox ::ng-deep {
      label.checkbox-container {
        justify-content: start;
        flex-flow: row-reverse;
        column-gap: $spacing-xs;

        .checkbox-label {
          margin-left: 0;
        }
      }
    }
  }
}
