<div class="changes-dialog">
  <p class="msg">{{ config.message | translate }}</p>
  <section>
    <ul class="list">
      <li class="item" *ngFor="let change of items">
        <bspl-pill-information [value]="change"> </bspl-pill-information>
      </li>
    </ul>
  </section>

  <bspl-alert-message
    *ngIf="config?.hasInvalidChanges; else confirmationBlock"
    [type]="AlertMessageType.warning"
    [message]="config?.invalidChangesMessage || 'changesDialog.invalidChangesMsg'"
  ></bspl-alert-message>
</div>

<ng-template #confirmationBlock>
  <div *ngIf="hasConfirmation" class="confirm-wrapper">
    <p class="confirm-msg">
      {{ config?.confirmationMessage | translate }}
    </p>
    <div>
      <bspl-checkbox
        [formControl]="confirmControl"
        [label]="'menu.masterData.configuration.ipSettings.changesDialog.template.labels.confirm' | translate"
      ></bspl-checkbox>
    </div>
  </div>
</ng-template>
