<div class="text-content" [formGroup]="form">
  <div class="row">
    <bspl-input
      class="col-12"
      formControlName="primaryReason"
      [label]="'ADM_ACM.categorizationReasons.dialog.primaryReason.inputLabelDeactivateReactivate' | translate"
      [placeholder]="'ADM_ACM.categorizationReasons.dialog.primaryReason.inputPlaceholder' | translate"
      [locked]="true"
    ></bspl-input>
    <bspl-input
      class="col-12"
      formControlName="subReason"
      [label]="'ADM_ACM.categorizationReasons.dialog.subReason.label' | translate"
      [placeholder]="'ADM_ACM.categorizationReasons.dialog.subReason.placeholder' | translate"
      [locked]="true"
    ></bspl-input>
  </div>
  <div class="type-selection" *ngIf="isDeactivateMode">
    <bspl-radio-button-group
      class="vertical-selection"
      formControlName="deactivationType"
      [isVertical]="true"
      [groupName]="'radioButtons'"
      [options]="radioButtonOptions"
      [label]="'ADM_ACM.categorizationReasons.dialog.deactivateRadioButtonsMessage' | translate"
    ></bspl-radio-button-group>
  </div>
</div>
