<div *ngIf="pbd && pbd.workflowActivities" class="process-section-container">
  <bspl-vertical-stepper-item
    *ngFor="let activity of pbd.workflowActivities; let i = index"
    [title]="getActivityTitle(activity)"
    [date]="activity.pbdDate | dateTimeFormat"
    [isActive]="!hasTimeLeftForAgreement && i === pbd.workflowActivities.length - 1"
    [isDashedLine]="hasTimeLeftForAgreement && i === pbd.workflowActivities.length - 1"
  >
    <bspl-process-card [activity]="activity" (download)="onDownload($event)"></bspl-process-card>
  </bspl-vertical-stepper-item>

  <bspl-vertical-stepper-item [isActive]="true" class="last-step" *ngIf="hasTimeLeftForAgreement">
    <bspl-alert-message [message]="timeLeftForAgreement" [type]="alertMessageType"></bspl-alert-message>
  </bspl-vertical-stepper-item>
</div>
