<div class="bsp-dialog">
  <div class="row bsp-content" [formGroup]="form">
    <div class="col-lg-5">
      <bspl-input
        [label]="'Country Code'"
        formControlName="isoCountryCode"
        [locked]="config.data.lockedCountryCode"
      ></bspl-input>
    </div>
    <div class="col-lg-7">
      <bspl-input [label]="'Name'" formControlName="name" [maxLength]="1255"></bspl-input>
    </div>
    <div class="col-lg-12">
      <bspl-datepicker
        formControlName="effectiveFrom"
        label="Register Date"
        [minDate]="effectiveFromMinDate"
        [locked]="isDisabledEffectiveFromBtn()"
        [clearable]="false"
      ></bspl-datepicker>
    </div>
    <div class="col-lg-12" [hidden]="!isEditForm">
      <bspl-datepicker
        formControlName="effectiveTo"
        label="Expiry Date"
        [minDate]="effectiveToMinDate"
      ></bspl-datepicker>
    </div>
  </div>
</div>
