<bspl-simple-table
  class="totals-table"
  [class.collapsed]="showsSingleEntry"
  [class.expanded]="!showsSingleEntry"
  [columns]="columns"
  [data]="data"
  [isRowClickable]="!showsSingleEntry"
  (rowClick)="selectEntry($event)"
></bspl-simple-table>

<ng-template #actionHeaderTemplate>
  <label>{{ 'sales.scuSummary.totals.breakdownBy' | translate }}&nbsp;</label>
  <bspl-select
    class="action-dropdown"
    [options]="breakdownOptions"
    [clearable]="false"
    [appendToBody]="true"
    [value]="breakdownType"
    [modes]="[SelectMode.Small]"
    (change)="selectBreakdown($event.value)"
  ></bspl-select>
</ng-template>

<ng-template #actionCellTemplate let-column="column" let-dataItem="dataItem">
  <span class="expand-toggle" *ngIf="showsSingleEntry && dataItem[column.field]" (click)="showAll($event)">
    <i class="material-icons active-icon">expand_more</i>
    {{ dataItem[column.field] | scuTotalsType }}
  </span>
  <span class="expand-toggle" *ngIf="!showsSingleEntry">
    <i class="material-icons" [class.active-icon]="isSelectedScu(dataItem[column.field])">expand_less</i>
    {{ dataItem[column.field] | scuTotalsType }}
  </span>
</ng-template>

<ng-template #emptyCellTemplate></ng-template>
