@import 'theme/variables/index';

.not-found-container {
  .not-found-description {
    font-size: $font-size-m;
    color: $gray-dark;
  }

  .not-found-image {
    display: flex;
    justify-content: center;
    height: 11.3rem;
    margin: $spacing-xl 0 $spacing-xxxl 0;
  }
}
