<div [formGroup]="form">
  <div class="row">
    <bspl-input
      class="col-md-12"
      formControlName="reportDescription"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.reportDescription' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.reportDescription' | translate"
    >
    </bspl-input>
  </div>
  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="fileType"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.fileType' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.fileType' | translate"
      [options]="fileTypeOptionList"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="format"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.format' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.format' | translate"
      [options]="formatFilterOptionList"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="userType"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.userType' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.userType' | translate"
      [options]="userTypeOptionList"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="frequency"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.frequency' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.frequency' | translate"
      [options]="frequencyOptionList"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="channel"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.channel' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.channel' | translate"
      [options]="channelOptionList"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <div class="row">
    <bspl-select
      class="col-md-12"
      formControlName="threshold"
      [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.threshold' | translate"
      [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.threshold' | translate"
      [options]="thresholdOptionList"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
  <ng-container *ngIf="isUserTypeSelectAirline">
    <div class="row">
      <bspl-select
        class="col-md-12"
        formControlName="subscribeLomus"
        [label]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.labels.subscribeLomus' | translate"
        [placeholder]="'LIST.MASTER_DATA.globalReportsSettings.createDialog.placeholders.subscribeLomus' | translate"
        [options]="subscribeLomusOptionList"
        [appendToBody]="true"
      >
      </bspl-select>
    </div>
  </ng-container>
</div>
