<footer>
  <div class="footer-brand">
    <img class="footer-logo" src="../assets/images/ico_IATA-neg.svg" alt="IATA logo" />
    <span>BSP<i>link</i></span>
  </div>
  <ul class="footer-links" *ngIf="showLinks">
    <li class="footer-link">
      <a [href]="appConfiguration.privacyLink" target="_blank">{{ 'privacy' | translate }}</a>
    </li>
    <li class="footer-link">
      <a [routerLink]="[termsRouteUrl]">{{ 'terms' | translate }}</a>
    </li>
    <li class="footer-link secondary" *ngIf="showStyleGuideLink">
      <a [routerLink]="['/style-guide']">Style Guide</a>
    </li>
  </ul>
  <div class="footer-brand-secondary">
    <span class="app-version" *ngIf="appVersion">
      {{ 'version' | translate }}
      {{ appVersion.version }}
    </span>
    <div class="brand-secondary-art"></div>
  </div>
</footer>
