@import 'theme/variables/index';

$gradient-breakpoint: 1.75rem;

footer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  background-color: $blue-primary;
  color: $white;

  .footer-brand,
  .footer-links,
  .footer-brand-secondary {
    align-items: center;
    height: 5rem;
  }

  .footer-brand {
    display: flex;
    font-size: $font-size-xxl;
    line-height: $line-height-l;
    font-weight: $font-weight-medium;
    padding: 0 10rem 0 3rem;
    // Set the same start points of consecutive colors to get solid color transition.
    background: linear-gradient(
      135deg,
      $red $gradient-breakpoint,
      $blue-light $gradient-breakpoint,
      $blue-light 82%,
      transparent 82%
    );

    .footer-logo {
      height: 3rem;
      margin-right: $spacing-xs;
    }
  }

  .footer-links {
    display: flex;
    flex: 1 1 auto;

    // Reset ul default styles
    margin: 0;
    list-style: none;
    padding: 0;

    .footer-link {
      display: flex;
      align-items: center;
      padding: 0 $spacing-xl;
      border-right: 1px solid transparentize($color: $white, $amount: 0.7);

      a {
        display: inline-block;
        color: $yellow;
        overflow: hidden;

        &::after {
          // Represents the link underline.
          // Initially, a transformation translates it out of view.
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          background-color: $yellow;
          // Add 1% to account for rounding errors.
          transform: translateX(-101%);
          transition: 0.2s ease-in transform;
        }

        &:hover {
          text-decoration: none;

          &::after {
            // Bring the link underline into view.
            transform: translateX(0);
          }
        }
      }

      &.secondary a {
        opacity: 0.5;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .footer-brand-secondary {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;

    .app-version {
      margin-right: $spacing-m;
    }
  }

  .brand-secondary-art {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 100%;
    // Set the same start points of consecutive colors to get solid color transition.
    background: linear-gradient(
      -45deg,
      $red $gradient-breakpoint,
      $blue-light $gradient-breakpoint,
      $blue-light 50%,
      transparent 50%
    );

    &::after {
      display: block;
      content: '';
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $yellow;
    }
  }
}
