@import 'theme/variables/index';
@import 'components/form-page/form-page';
@import 'components/inline-list/inline-list';

$sections-border: 1px solid $gray-neutral;

h4.section-title {
  color: $blue-secondary;
  font-size: $font-size-m;
}

div.section.basic-data {
  border-bottom: $sections-border;
  margin-bottom: $spacing-xl;
  padding-bottom: $spacing-s;

  & > div:not(:first-child) {
    padding-left: 0;
  }

  .details-container {
    margin-top: $spacing-xxs;
  }
}

.checkbox-container {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

a.link {
  color: $blue-light;
  font-size: $font-size-m;
  cursor: pointer;
}
