<bspl-floating-panel>
  <bspl-document-header class="page-section" [hasIssueBtn]="true" [document]="refund" [issueActions]="issueActions">
    <bspl-accordion-item-selection [accordion]="accordion"></bspl-accordion-item-selection>
  </bspl-document-header>
</bspl-floating-panel>
<bspl-accordion #accordion [multipleItemsOpen]="true">
  <bspl-accordion-item
    [title]="'document.refund.documentDetails' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-refund-details [refund]="refund" (documentOpened)="open.emit($event)"></bspl-refund-details>
  </bspl-accordion-item>
  <bspl-accordion-item
    [title]="'document.relatedDocumentsTitle' | translate"
    class="page-section pdf-page-break-inside-avoid"
  >
    <bspl-spinner [isLoading]="isLoadingRelatedDocuments" relativeTo="parent"></bspl-spinner>
    <bspl-related-documents [hidden]="isLoadingRelatedDocuments" [documents]="relatedDocuments">
    </bspl-related-documents>
  </bspl-accordion-item>
</bspl-accordion>
