@import 'components/section/section';

:host {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-xl 0;

    .header-title {
      font-size: $font-size-xxl;
      color: $blue-primary;
      display: flex;
      align-items: center;
      font-weight: normal;
    }
  }

  .provider-properties {
    margin-top: $spacing-xl;
    padding: $spacing-xl $spacing-xxxxl 0 $spacing-xxxxl;
    background-color: $gray-subtle;
  }

  .contact-container:not(:last-child) {
    border-bottom: 1px solid $gray-deep;
  }
}
