<div class="header-container">
  <h3 class="header-title">
    {{ provider.name }}
  </h3>
</div>
<div class="provider-properties">
  <div class="section-container no-section-bottom-border">
    <div class="section one-third">
      <bspl-property-list header="TIP.providers.detail.sectionTitle.providerInfo">
        <bspl-property label="TIP.providers.detail.properties.name" [value]="provider.name"></bspl-property>
        <bspl-property label="TIP.providers.detail.properties.location" [value]="provider.location"></bspl-property>
        <bspl-property
          label="TIP.providers.detail.properties.effectiveFrom"
          [value]="provider.effectiveFrom"
        ></bspl-property>
        <bspl-property
          label="TIP.providers.detail.properties.effectiveTo"
          [value]="provider.effectiveTo"
        ></bspl-property>
      </bspl-property-list>
    </div>
    <div class="section stretch">
      <bspl-property-list header="TIP.providers.detail.sectionTitle.providerContacts"> </bspl-property-list>
      <div *ngIf="!provider.contacts?.length">
        {{ '' | bsplEmpty }}
      </div>
      <div
        class="section-container no-section-bottom-border contact-container"
        *ngFor="let contact of provider.contacts"
      >
        <div class="section half">
          <bspl-property-list>
            <bspl-property label="TIP.providers.detail.properties.primary" [value]="contact.primary"></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.title" [value]="contact.title"></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.position" [value]="contact.position"></bspl-property>
            <bspl-property
              label="TIP.providers.detail.properties.contactName"
              [value]="getContactName(contact)"
            ></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.address" [value]="contact.address"></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.city" [value]="contact.city"></bspl-property>
          </bspl-property-list>
        </div>
        <div class="section half">
          <bspl-property-list>
            <bspl-property label="TIP.providers.detail.properties.state" [value]="contact.state"></bspl-property>
            <bspl-property
              label="TIP.providers.detail.properties.postalCode"
              [value]="contact.postalCode"
            ></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.bsp" [value]="contact.country"></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.email" [value]="contact.email"></bspl-property>
            <bspl-property label="TIP.providers.detail.properties.phone" [value]="contact.phone"></bspl-property>
          </bspl-property-list>
        </div>
      </div>
    </div>
  </div>
</div>
