<div class="agent-properties" *ngIf="agent">
  <div class="section-container no-section-bottom-border">
    <bspl-property-list class="section one-third" header="menu.masterData.properties.general.sectionTitle">
      <bspl-property label="menu.masterData.properties.general.agentName" [value]="agent.name"></bspl-property>
      <bspl-property label="menu.masterData.properties.general.iataCode" [value]="agent.iataCode"></bspl-property>
      <bspl-property
        label="menu.masterData.properties.general.parentIataCode"
        [value]="agent.parentIataCode"
      ></bspl-property>
      <bspl-property
        label="menu.masterData.properties.general.currentStatus"
        [value]="agent.active ? 'Active' : 'Inactive'"
      ></bspl-property>
      <bspl-property
        label="menu.masterData.properties.general.locationType"
        [value]="agent.locationType"
      ></bspl-property>
      <bspl-property
        label="menu.masterData.properties.general.locationClass"
        [value]="agent.locationClass"
      ></bspl-property>
      <bspl-property
        label="menu.masterData.properties.general.registerDate"
        [value]="agent.effectiveFrom | date : 'dd/MM/yyyy'"
      ></bspl-property>
      <bspl-property
        label="menu.masterData.properties.general.expiryDate"
        [value]="agent.effectiveTo | date : 'dd/MM/yyyy'"
      ></bspl-property>
    </bspl-property-list>
    <section class="section stretch">
      <div class="section-container">
        <bspl-property-list class="section half" header="menu.masterData.properties.contactDetails.sectionTitle">
          <bspl-property
            label="menu.masterData.properties.contactDetails.contactEmail"
            [value]="agent.contact?.email"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.contactDetails.contactPhone"
            [value]="agent.contact?.telephone"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.contactDetails.contactFax"
            [value]="agent.contact?.fax"
          ></bspl-property>
        </bspl-property-list>
        <bspl-property-list class="section half" header="menu.masterData.properties.addressDetails.sectionTitle">
          <bspl-property
            label="menu.masterData.properties.addressDetails.country"
            [value]="agent.address?.country"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.addressDetails.city"
            [value]="agent.address?.city"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.addressDetails.locality"
            [value]="agent.address?.locality"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.addressDetails.address"
            [value]="agent.address?.street"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.addressDetails.postCode"
            [value]="agent.address?.postalCode"
          ></bspl-property>
        </bspl-property-list>
      </div>

      <div class="section-container">
        <bspl-property-list class="section half" header="menu.masterData.properties.paymentInformation.sectionTitle">
          <bspl-property label="menu.masterData.properties.paymentInformation.vatNumber" [value]="agent.vatNumber">
          </bspl-property>
          <bspl-property
            label="menu.masterData.properties.paymentInformation.remittanceFrequency"
            [value]="agent.remittanceFrequency"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.paymentInformation.cash"
            [value]="agent.cash | paymentStatus"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.paymentInformation.easyPay"
            [value]="agent.easyPay | paymentStatus"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.properties.paymentInformation.paymentCard"
            [value]="agent.paymentCard | paymentStatus"
          ></bspl-property>
        </bspl-property-list>

        <ng-container *ngIf="agent.localAgentInformation">
          <bspl-property-list
            class="section half"
            header="menu.masterData.airlineProfile.properties.agentInformation.sectionTitle"
          >
            <bspl-property
              label="menu.masterData.airlineProfile.properties.agentInformation.agentLocalName"
              [value]="agent.localAgentInformation?.agentLocalName"
            >
            </bspl-property>
            <bspl-property
              label="menu.masterData.airlineProfile.properties.agentInformation.billingLocalAddress"
              [value]="billingLocalAddress"
            ></bspl-property>
            <bspl-property
              label="menu.masterData.airlineProfile.properties.agentInformation.registrationLocalAddress"
              [value]="registrationLocalAddress"
            ></bspl-property>
            <bspl-property
              label="menu.masterData.airlineProfile.properties.agentInformation.enterpriseLegalPerson"
              [value]="agent.localAgentInformation?.enterpriseLegalPerson"
            ></bspl-property>
          </bspl-property-list>
        </ng-container>
      </div>
    </section>
  </div>
</div>
