<bspl-header
  [environmentLabel]="(activeItem$ | async)?.title"
  [showProfile]="false"
  [showActions]="false"
></bspl-header>
<div class="style-guide-content">
  <bspl-side-menu
    class="navigation"
    [activatedItem]="activeItem$ | async"
    [items]="menuItems"
    (select)="selectDemoItem($event)"
  ></bspl-side-menu>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<bspl-back-to-top-btn></bspl-back-to-top-btn>

<bspl-footer></bspl-footer>
