@import 'theme/variables/index';

bspl-style-guide {
  display: flex;
  flex-direction: column;
  height: 100%;

  bspl-header {
    display: block;
    position: relative;
    z-index: $z-index-layer-1;
    border-bottom: 1px solid $white-subtle;
    box-shadow: $shadow-z-2;
  }

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .notification {
    border: 1px solid $blue-ocean;
    border-radius: 5px;
    padding: 1.5rem;
  }

  bspl-accordion-item {
    display: block;
    margin-bottom: 2rem;
  }
}

.style-guide-content {
  display: flex;
  flex: 1;
  flex-direction: row;

  .navigation {
    width: 25rem;
    min-width: 25rem;
    border-right: 1px solid $white-subtle;

    .side-menu-section {
      position: relative;
    }
  }

  .main-content {
    flex: 3 3 auto;
    padding: $spacing-xl;
    // Use relative positioning to display ngx-spinner over the main content
    position: relative;
    background-color: $gray-subtle;
  }
}
