@import 'theme/variables/index';

.dialog-container {
  margin-bottom: $spacing-xxl;

  .subtitle {
    font-size: $font-size-m;
    color: $gray-deep;
    line-height: $line-height-m;
  }

  .items {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-s;
  }
}
