<div class="dialog-container">
  <div class="subtitle">
    {{ 'TIP.cards.dialogs.card.terminate.subtitle' | translate }}
  </div>

  <div class="items">
    <bspl-pill-information
      *ngFor="let pill of pills"
      [value]="pill.value"
      [tooltip]="pill.tooltip"
    ></bspl-pill-information>
  </div>

  <div [formGroup]="form">
    <bspl-select
      formControlName="terminationReason"
      [label]="'TIP.cards.dialogs.card.terminate.fields.terminationReason.label'"
      [placeholder]="'TIP.cards.dialogs.card.terminate.fields.terminationReason.placeholder' | translate"
      [options]="terminationReasons"
      [appendToBody]="true"
    >
    </bspl-select>
  </div>
</div>
