@import 'theme/variables/index';

:host ::ng-deep {
  .ngx-datatable .datatable-row-detail {
    padding: 0;
  }
}

.level-consent-select {
  &::before {
    content: '/';
    font-size: $font-size-xl;
    color: $gray-middle;
  }

  bspl-select {
    display: inline-flex;
  }
}

bspl-table-selection-toolbar {
  margin: 0 $spacing-xl;
}

.alert-message {
  padding-bottom: $spacing-xl;
}
