<bspl-list-view
  [title]="titleLabel"
  [isInTab]="true"
  [noticeMessage]="noticeMessage"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [predefinedFilters]="predefinedFilters"
  [filterFormatter]="displayFormatter"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (download)="onDownload()"
  (queryChange)="onQueryChanged($event)"
>
  <div class="level-consent-select" bsplListViewTitle *ngIf="isAirlineUser">
    <bspl-select
      [modes]="[selectMode.SubHeading]"
      [options]="levelConsentOptions"
      [locked]="levelConsentOptions?.length === 1"
      [clearable]="false"
      [value]="selectedLevelConsent"
      (change)="onLevelConsentSelected($event.value)"
    ></bspl-select>
  </div>

  <ng-container bsplListViewTitle *ngIf="!(loading$ | async) && isCardLevel && isConsentUpdateAvailable">
    <bspl-table-selection-toolbar
      *ngIf="selectedRowsCount$ | async as selectedRowsCount"
      [selectedRowsCount]="selectedRowsCount"
      (clearSelectedRows)="clearSelectedRows()"
    >
      <bspl-split-button
        [mainOption]="toolbarButtonOptions.mainOption"
        [options]="toolbarButtonOptions.options"
        [design]="btnDesign.Tertiary"
      ></bspl-split-button>
    </bspl-table-selection-toolbar>
  </ng-container>

  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" *ngIf="hasLeanPermission">
      <bspl-select
        formControlName="bsps"
        [options]="bspList$ | async"
        [label]="'TIP.cards.filters.bsps.label' | translate"
        [placeholder]="'TIP.cards.filters.bsps.placeholder' | translate"
        [multiple]="true"
      >
      </bspl-select>
      <span>{{ 'TIP.productConsents.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          *ngIf="isAirlineUser"
          formControlName="agent"
          [bsplTooltip]="(isCountryLevel ? 'TIP.cards.filters.agent.tooltip' : '') | translate"
          [locked]="isCountryLevel"
          [multiple]="true"
          [virtualScroll]="true"
          [options]="agentDropdownOptions$ | async"
          [label]="'TIP.cards.filters.agent.label' | translate"
          [placeholder]="'TIP.cards.filters.agent.placeholder' | translate"
        ></bspl-select>
        <bspl-select
          *ngIf="isAgentUser"
          formControlName="airline"
          [multiple]="true"
          [virtualScroll]="true"
          [options]="airlineDropdownOptions$ | async"
          [label]="'TIP.cards.filters.airline.label' | translate"
          [placeholder]="'TIP.cards.filters.airline.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="status"
          [options]="statusDropdownOptions"
          [label]="'TIP.cards.filters.status.label' | translate"
          [placeholder]="'TIP.cards.filters.status.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="fromCardNumber"
          [label]="'TIP.cards.filters.fromCardNumber.label' | translate"
          [placeholder]="'TIP.cards.filters.fromCardNumber.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="toCardNumber"
          [label]="'TIP.cards.filters.toCardNumber.label' | translate"
          [placeholder]="'TIP.cards.filters.toCardNumber.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="expiryDate"
          [label]="'TIP.cards.filters.expiryDate.label' | translate"
          [placeholder]="'TIP.cards.filters.expiryDate.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="issuerName"
          [label]="'TIP.cards.filters.issuerName.label' | translate"
          [placeholder]="'TIP.cards.filters.issuerName.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="paymentNetwork"
          [label]="'TIP.cards.filters.paymentNetwork.label' | translate"
          [placeholder]="'TIP.cards.filters.paymentNetwork.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="cardType"
          [multiple]="true"
          [options]="cardTypeDropdownOptions"
          [label]="'TIP.cards.filters.cardType.label' | translate"
          [placeholder]="'TIP.cards.filters.cardType.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="companyName"
          [label]="'TIP.cards.filters.companyName.label' | translate"
          [placeholder]="'TIP.cards.filters.companyName.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="type"
          [multiple]="true"
          [options]="consentTypeDropdownOptions"
          [label]="'TIP.cards.filters.cardLevelConsentType.label' | translate"
          [placeholder]="'TIP.cards.filters.cardLevelConsentType.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="effectiveFrom"
          [selectionMode]="'range'"
          [label]="'TIP.cards.filters.effectiveFrom.label' | translate"
          [placeholder]="'TIP.cards.filters.effectiveFrom.placeholder' | translate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="effectiveTo"
          [selectionMode]="'range'"
          [label]="'TIP.cards.filters.effectiveTo.label' | translate"
          [placeholder]="'TIP.cards.filters.effectiveTo.placeholder' | translate"
        ></bspl-datepicker>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="data$ | async"
    [rowClassesModifier]="rowClassesModifier"
    [isLoading]="loading$ | async"
    [rowDetailTemplate]="rowDetailsByUserType"
    [primaryActions]="isConsentUpdateAvailable ? actions : null"
    [showIconEmptyActions]="isConsentUpdateAvailable"
    (actionClick)="onActionClick($event)"
    (checkboxChange)="onRowsSelectionChange($event)"
    (rowLinkClick)="onRowLinkClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template Airlines -->
<ng-template #rowAirlineDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md col-sm property-list-compact">
      <bspl-property label="TIP.cards.consent.rowDetails.agentNameLbl" [value]="row.card.agent.name"></bspl-property>
      <bspl-property label="TIP.cards.consent.rowDetails.cardTypeLbl" [value]="row.card.cardType"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="TIP.cards.consent.rowDetails.issuerNameLbl" [value]="row.card.issuerName"></bspl-property>
      <bspl-property label="TIP.cards.consent.rowDetails.companyNameLbl" [value]="row.card.companyName"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md col-sm property-list-compact">
      <bspl-property
        label="TIP.cards.consent.rowDetails.effectiveFromLbl"
        [value]="row.effectiveFrom | dateTimeFormat : 'date'"
      ></bspl-property>
      <bspl-property
        label="TIP.cards.consent.rowDetails.effectiveToLbl"
        [value]="row.effectiveTo | dateTimeFormat : 'date'"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>

<!-- Details Row Template Agents -->
<ng-template #rowAgentDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md col-sm property-list-compact">
      <bspl-property label="TIP.cards.consent.rowDetails.airlineNameLbl">
        <span class="link" (click)="navigateToAirlineDetail(row.airline.id)">
          {{ row.airline.name | bsplEmpty }}
        </span>
      </bspl-property>
      <bspl-property label="TIP.cards.consent.rowDetails.cardTypeLbl" [value]="row.card.cardType"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md col-sm property-list-compact">
      <bspl-property
        label="TIP.cards.consent.rowDetails.effectiveFromLbl"
        [value]="row.effectiveFrom | dateTimeFormat : 'date'"
      ></bspl-property>
      <bspl-property
        label="TIP.cards.consent.rowDetails.effectiveToLbl"
        [value]="row.effectiveTo | dateTimeFormat : 'date'"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
