<div class="container file-upload-demo">
  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item title="File Upload" [open]="true">
      <div class="row">
        <div class="col-md-6">
          <bspl-upload
            #uploadRef
            uploadPath="mocks/upload/fail"
            [isDragAndDropActive]="enableDragAndDrop"
            [isDisabled]="isDisabled"
            [mode]="filePickerMode"
            [resetMode]="filePickerMode"
            (filesChange)="onFilesChanged($event)"
            (uploadStarted)="onUploadStarted($event)"
            (uploadFinished)="onUploadFinished($event)"
            (resetInitialMode)="onResetInitialMode()"
            (modeChange)="onModeChange($event)"
          ></bspl-upload>
          <div class="row justify-content-between">
            <bspl-button
              class="col-auto"
              label="Reset"
              [isDisabled]="isUploading"
              [design]="buttonDesign.Tertiary"
              (onClick)="reset()"
            ></bspl-button>
            <bspl-button class="col-auto" label="Upload" [isLoading]="isUploading" (onClick)="upload()"></bspl-button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <bspl-select
                label="Starting Mode"
                [clearable]="false"
                [(ngModel)]="filePickerMode"
                [options]="modeOptions"
              ></bspl-select>
              <bspl-checkbox label="Enable Drag&Drop" [(ngModel)]="enableDragAndDrop"></bspl-checkbox>
              <bspl-checkbox label="Disable" [(ngModel)]="isDisabled"></bspl-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <pre #logMessageContainer class="log-messages">
            <p *ngFor="let message of logMessages">{{message}}</p>
          </pre>
        </div>
      </div>
    </bspl-accordion-item>

    <bspl-accordion-item title="Multiple file upload component">
      <div class="row">
        <div class="col-md-6 mb-5">
          <bspl-upload
            [isDragAndDropActive]="true"
            [mode]="filePickerMode"
            [resetMode]="filePickerMode"
            [files]="multipleFiles1"
            uploadPath="mocks/upload/success"
          ></bspl-upload>
        </div>
        <div class="col-md-6 mb-5">
          <bspl-upload
            [isDragAndDropActive]="true"
            [mode]="filePickerMode"
            [resetMode]="filePickerMode"
            [files]="multipleFiles2"
            uploadPath="mocks/upload/success"
          ></bspl-upload>
        </div>
        <div class="col-md-12 mb-5">
          <bspl-upload [isDragAndDropActive]="true" uploadPath="mocks/upload/success"></bspl-upload>
        </div>
      </div>
    </bspl-accordion-item>

    <bspl-accordion-item title="File upload component with a specific drop area">
      <div class="row">
        <div class="col-md-6">
          <div style="position: relative; min-height: 320px">
            <bspl-file-upload-overlay
              [showInParent]="true"
              (droppedFilesEvent)="addFilesToTargetDropArea1($event)"
            ></bspl-file-upload-overlay>
            <bspl-upload
              [mode]="filePickerMode"
              [resetMode]="filePickerMode"
              [files]="targetDropAreaFiles1"
              uploadPath="mocks/upload/success"
            ></bspl-upload>
          </div>
        </div>
      </div>
    </bspl-accordion-item>

    <bspl-accordion-item title="File upload component with the window drop area">
      <div class="row">
        <div class="col-md-6">
          <bspl-file-upload-overlay (droppedFilesEvent)="addFilesToWindowDropArea($event)"></bspl-file-upload-overlay>
          <bspl-upload
            (filesChange)="onFilesChange($event)"
            [files]="windowDropAreaFiles"
            uploadPath="mocks/upload/success"
          ></bspl-upload>
        </div>
      </div>
    </bspl-accordion-item>
  </bspl-accordion>
</div>
