@import 'theme/variables/index';

:host {
  .file-upload-demo {
    .log-messages {
      background-color: $dark;
      color: $white;
      padding: 1.5rem;
      height: 40rem;

      p {
        padding: 1rem 0;
        margin: 0;
        border-bottom: 1px solid $gray-dark;
      }
    }

    bspl-button {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    ::ng-deep {
      .accordionItem {
        background-color: $white;
      }
    }
  }
}
