<!-- Filter section -->
<bspl-filter-template
  *ngIf="isFilterEnabled"
  [filters]="filterForm.value"
  [filterFormatter]="displayFormatter"
  [filterTitle]="subtabTitle | translate"
  [isFilterValid]="isFilterValid$ | async"
  [isResetEnabled]="false"
  [predefinedFilters]="predefinedFilters"
  (searchEvent)="saveFilters()"
>
  <form filterSearchForm [formGroup]="filterForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="bsp"
          [options]="bspCountriesList$ | async"
          [clearable]="false"
          [label]="'menu.masterData.airlineProfile.properties.filters.bsp.label' | translate"
          [placeholder]="'menu.masterData.airlineProfile.properties.filters.bsp.placeholder' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>
</bspl-filter-template>

<!-- Properties section -->
<bspl-spinner [isLoading]="loadingProperties$ | async" relativeTo="content">
  <div class="properties-content" *ngIf="selectedAirline$ | async; let airline">
    <div class="section-container no-section-bottom-border">
      <div class="section one-third">
        <bspl-property-list header="menu.masterData.airlineProfile.properties.general.sectionTitle">
          <div *ngIf="logoUrl$ | async; let logoUrl" class="airline-logo-container">
            <img [src]="logoUrl" alt="" />
          </div>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.general.airlineName"
            [value]="airline.localName"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.general.iataCode"
            [value]="airline.globalAirline.iataCode"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.general.designator"
            [value]="airline.designator"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.general.currentStatus"
            [value]="airline.active ? 'Active' : 'Inactive'"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.general.registerDate"
            [value]="airline.effectiveFrom | date : 'dd/MM/yyyy'"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.general.expiryDate"
            [value]="airline.effectiveTo | date : 'dd/MM/yyyy'"
          ></bspl-property>
        </bspl-property-list>
      </div>
      <div class="section stretch">
        <div class="section-container">
          <div class="section half">
            <bspl-property-list header="menu.masterData.airlineProfile.properties.contactDetails.sectionTitle">
              <bspl-property
                label="menu.masterData.airlineProfile.properties.contactDetails.contactName"
                value="{{ airline.contact?.firstName }} {{ airline.contact?.lastName }}"
              ></bspl-property>
              <bspl-property
                label="menu.masterData.airlineProfile.properties.contactDetails.contactEmail"
                [value]="airline.contact?.email"
              ></bspl-property>
              <bspl-property
                label="menu.masterData.airlineProfile.properties.contactDetails.contactPhone"
                [value]="airline.contact?.telephone"
              ></bspl-property>
            </bspl-property-list>
          </div>
          <div class="section half">
            <bspl-property-list header="menu.masterData.airlineProfile.properties.addressDetails.sectionTitle">
              <bspl-property
                label="menu.masterData.airlineProfile.properties.addressDetails.country"
                [value]="airline.address?.country"
              ></bspl-property>
              <bspl-property
                label="menu.masterData.airlineProfile.properties.addressDetails.city"
                [value]="airline.address?.city"
              ></bspl-property>
              <bspl-property
                label="menu.masterData.airlineProfile.properties.addressDetails.locality"
                [value]="airline.address?.address2"
              ></bspl-property>
              <bspl-property
                label="menu.masterData.airlineProfile.properties.addressDetails.address"
                [value]="airline.address?.address1"
              ></bspl-property>
              <bspl-property
                label="menu.masterData.airlineProfile.properties.addressDetails.postCode"
                [value]="airline.address?.postalCode"
              ></bspl-property>
            </bspl-property-list>
          </div>
        </div>
        <bspl-property-list
          class="section half"
          header="menu.masterData.airlineProfile.properties.paymentInformation.sectionTitle"
        >
          <bspl-property
            label="menu.masterData.airlineProfile.properties.paymentInformation.vatNumber"
            [value]="airline.vatNumber"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.paymentInformation.easyPayStatus"
            [value]="airline.easyPayStatus"
          ></bspl-property>
          <bspl-property
            label="menu.masterData.airlineProfile.properties.paymentInformation.easyPayEffectiveFrom"
            [value]="airline.easyPayEffectiveFrom | date : 'dd/MM/yyyy'"
          ></bspl-property>
        </bspl-property-list>
      </div>
    </div>
  </div>
</bspl-spinner>
