@import 'components/section/section';

:host {
  .properties-content {
    margin-top: $spacing-xl;
    padding: $spacing-xl $spacing-xxxxl 0 $spacing-xxxxl;
    background-color: $gray-subtle;

    .airline-logo-container {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacing-m;
      border: 1px solid $gray-middle;

      img {
        max-height: 6rem;
        margin: $spacing-m 0;
      }
    }
  }
}
