<bspl-list-view
  [title]="'WECHAT.viewTitle'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  [hasDownloading]="false"
  [hasCreating]="false"
  (queryChange)="loadData($event)"
>
  <span class="list-total-items" bsplListViewTitle>{{ totalItemsMessage$ | async }}</span>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="registrationRequestNumber"
          [label]="'WECHAT.filters.weChatId' | translate"
          [placeholder]="'WECHAT.filters.placeholders.weChatId' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statusOptions"
          formControlName="status"
          [label]="'WECHAT.filters.status' | translate"
          [placeholder]="'WECHAT.filters.placeholders.status' | translate"
          [multiple]="false"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="dataSource.loading$ | async"
    (rowLinkClick)="onRowLinkClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
