<div class="bsp-gds-assignation-dialog">
  <bspl-spinner [isLoading]="isLoading" [relativeTo]="'parent'"></bspl-spinner>
  <div [formGroup]="form">
    <div class="row">
      <bspl-select
        #gdsSelect
        class="col-md-12"
        formControlName="gdsId"
        [label]="'MASTER_DATA.bspGdsAssignation.edit.gds.lbl' | translate"
        [options]="gdsOptions$ | async"
        [clearable]="false"
        [appendToBody]="true"
        [autofocus]="true"
      ></bspl-select>
    </div>

    <div class="row">
      <bspl-select
        class="col-md-12"
        formControlName="bspId"
        [label]="'MASTER_DATA.bspGdsAssignation.edit.country.lbl' | translate"
        [options]="bspOptions$ | async"
        [clearable]="false"
        [appendToBody]="true"
        #bspSelect
      ></bspl-select>
    </div>

    <div class="row">
      <bspl-datepicker
        class="col-md-12"
        formControlName="effectiveFrom"
        [label]="'MASTER_DATA.bspGdsAssignation.edit.registerDate.lbl' | translate"
        placeholder="YYYY-MM-DD"
        [minDate]="effectiveFromMinDate"
        [clearable]="false"
      ></bspl-datepicker>
    </div>

    <div class="row">
      <bspl-datepicker
        class="col-md-12"
        formControlName="effectiveTo"
        [label]="'MASTER_DATA.bspGdsAssignation.edit.expiryDate.lbl' | translate"
        placeholder="YYYY-MM-DD"
        [minDate]="effectiveToMinDate"
      ></bspl-datepicker>
    </div>
    <hr class="form-row-separator" />
    <bspl-checkbox
      formControlName="refundsEnabled"
      [label]="'MASTER_DATA.bspGdsAssignation.edit.refundsEnabled.lbl' | translate"
    >
    </bspl-checkbox>
  </div>
</div>
