@import 'theme/variables/index';

::ng-deep bspl-bsp-gds-assignation-dialog {
  width: 100%;
}

.bsp-gds-assignation-dialog {
  margin-bottom: $spacing-xl;

  .default-text {
    color: $gray-deep;
    font-size: $font-size-m;
  }

  .form-row-separator {
    margin-top: -$spacing-xxs;
    margin-bottom: $spacing-s;
  }
}
