@import 'theme/variables/index';

.actions {
  display: flex;

  bspl-button {
    margin: 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.custom-view-title {
  display: flex;

  h3 {
    font-size: $font-size-xxl;
    font-weight: normal;
    line-height: 30px;
    color: $blue-primary;
    margin: 0;
  }
}

.code {
  padding: $spacing-m;
  background-color: $dark;
  color: $gray-light;
}
