<hr />
<section>
  <bspl-list-view
    [title]="'People / '"
    [hasCreating]="true"
    [hasFiltering]="true"
    [hasDownloading]="true"
    [canDownload]="dataSource.hasData$ | async"
    [predefinedFilters]="predefinedFilters"
    [filterFormatter]="peopleFilterFormatter"
    [query]="dataSource.appliedQuery$ | async"
    (queryChange)="search($event)"
    (download)="download()"
    (create)="create()"
  >
    <div bsplListViewTitle>
      <bspl-select
        class="bspl-breadcrumb-item -selectable"
        placeholder="Select Country"
        [options]="countries"
        [clearable]="false"
        [modes]="[selectMode.Heading]"
        [value]="selectedCountry"
        (change)="selectCountry($event)"
      ></bspl-select>
    </div>

    <form bsplListViewFilter [formGroup]="reactiveForm">
      <div class="row">
        <div class="col-md-4 form-group">
          <bspl-input formControlName="firstName" [label]="'First name'"></bspl-input>
        </div>
        <div class="col-md-4 form-group">
          <bspl-input formControlName="lastName" [label]="'Last name'"></bspl-input>
        </div>
        <div class="col-md-4 form-group">
          <bspl-input formControlName="age" [label]="'Age'"></bspl-input>
        </div>
        <div class="col-md-4 form-group">
          <bspl-datepicker label="Date of birth" formControlName="dateOfBirth"></bspl-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <bspl-datepicker label="Valid From" formControlName="validFrom"></bspl-datepicker>
        </div>
        <div class="col-md-4 form-group">
          <bspl-datepicker label="Valid To" formControlName="validTo"></bspl-datepicker>
        </div>
      </div>
    </form>
    <bspl-grid-table
      bsplListViewGrid
      [columns]="columns"
      [rows]="dataSource.data$ | async"
      [isLoading]="dataSource.loading$ | async"
      (checkboxChange)="onModify($event)"
    >
    </bspl-grid-table>
  </bspl-list-view>
</section>
<hr />
<section>
  <h3>Table Rows</h3>
  <pre class="code">{{ tableRows | json }}</pre>
</section>

<hr />
<section>
  <h3>Query Value</h3>
  <pre class="code">{{ dataSource.appliedQuery$ | async | json }}</pre>
</section>
