<bspl-list-view
  [title]="title$ | async"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  [hasDownloading]="true"
  [canDownload]="hasData$ | async"
  (download)="onDownload()"
  [filterFormatter]="headOfficeSubUsersFilterFormatterService"
  [hasFiltering]="true"
  [hasCreating]="canCreateHeadOfficeSubUser"
  (create)="createHeadOfficeSubUser()"
  [customLabels]="customLabels"
>
  <form bsplListViewFilter [formGroup]="filterFormGroup">
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'head-office-sub-users.filters.portalEmail.label' | translate"
          formControlName="portalEmail"
          [placeholder]="'head-office-sub-users.filters.portalEmail.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'head-office-sub-users.filters.name.label' | translate"
          formControlName="name"
          [placeholder]="'head-office-sub-users.filters.name.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-input
          [label]="'head-office-sub-users.filters.parentName.label' | translate"
          formControlName="parentName"
          [placeholder]="'head-office-sub-users.filters.parentName.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'head-office-sub-users.filters.registerDate.label' | translate"
          [placeholder]="'head-office-sub-users.filters.registerDate.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="registerDate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [label]="'head-office-sub-users.filters.expiryDate.label' | translate"
          [placeholder]="'head-office-sub-users.filters.expiryDate.placeholder' | translate"
          [selectionMode]="'range'"
          formControlName="expiryDate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [label]="'head-office-sub-users.filters.status.label' | translate"
          formControlName="status"
          [placeholder]="'head-office-sub-users.filters.status.placeholder' | translate"
          [options]="statusOptions"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [label]="'head-office-sub-users.filters.access.label' | translate"
          formControlName="access"
          [placeholder]="'head-office-sub-users.filters.access.placeholder' | translate"
          [options]="accessOptions"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onActionMenuClick($event)"
    (actionClick)="onActionClick($event)"
    (rowLinkClick)="onRowLinkClick($event)"
  ></bspl-grid-table>
</bspl-list-view>

<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property
        label="head-office-sub-users.details.organization.label"
        [value]="row.contactInfo?.organization"
      ></bspl-property>
      <bspl-property
        label="head-office-sub-users.details.telephone.label"
        [value]="row.contactInfo?.telephone"
      ></bspl-property>
      <bspl-property
        label="head-office-sub-users.details.country.label"
        [value]="row.contactInfo?.country"
      ></bspl-property>
    </bspl-property-list>

    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact">
      <bspl-property label="head-office-sub-users.details.city.label" [value]="row.contactInfo?.city"></bspl-property>
      <bspl-property
        label="head-office-sub-users.details.address.label"
        [value]="row.contactInfo?.address"
      ></bspl-property>
      <bspl-property
        label="head-office-sub-users.details.postCode.label"
        [value]="row.contactInfo?.postCode"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
