<nav class="main-nav-container">
  <ul class="main-nav-menu">
    <ng-container *ngFor="let menuItem of menuItemsCloned">
      <li
        class="main-nav-item"
        [class.active]="menuItem.active"
        [class.highlighted]="menuItem.isClassicMenuItem"
        [class.hover]="menu === openedMenu"
        [class.has-children]="menuItem.children?.length"
        *ngIf="menuItem.enabled && menuItem.showMenu && menuItem.label"
      >
        <a
          [id]="menuItem.label"
          #menu="bsplMenuTrigger"
          bsplMenuTrigger
          [menuItem]="menuItem"
          [menuIsRoot]="true"
          [menuTriggerEvent]="menuItem.isClassicMenuItem ? 'click' : 'hover'"
          [menuTemplate]="subMenuTemplate"
          [menuEnabled]="menuItem.children?.length > 0"
          [menuPosition]="menuItem.isClassicMenuItem ? 'bottomRight' : 'bottomLeft'"
          (menuOpened)="openedMenu = menu"
          (menuClosed)="openedMenu = null"
          (click)="navigateTo(menuItem)"
          class="main-nav-link"
          l10nTranslate
        >
          <span [class.invisible]="menuItem.loading">{{ menuItem.label }}</span>
          <bspl-spinner relativeTo="parent" [isLoading]="menuItem.loading" [isTransparent]="true"></bspl-spinner>
        </a>
        <ng-template #subMenuTemplate>
          <bspl-sub-menu
            [menuItems]="menuItem.children"
            [menuPosition]="menuItem.isClassicMenuItem ? MenuPosition.Left : MenuPosition.Right"
          ></bspl-sub-menu>
        </ng-template>
      </li>
    </ng-container>
  </ul>
</nav>
