@import '~node_modules/@angular/cdk/overlay';
@import 'theme/variables/index';

$main-nav-border-color: $blue-light;
$main-nav-border-width: 5px;
$main-nav-bg-color: $blue-primary;
$main-nav-item-active-color: $yellow;
$main-nav-item-hover-color: $yellow;
$main-nav-item-separator-height: 48%;
$main-nav-item-separator-width: 1px;
$main-nav-link-active-color: $blue-primary;
$main-nav-link-border-color: $gray-deep;
$main-nav-height: 5rem;

@mixin item-bottom-border($color) {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: $main-nav-border-width solid $color;
  }
}

:host {
  .main-nav {
    &-container {
      height: $main-nav-height;
      position: relative;
      background-color: $main-nav-bg-color;

      @include item-bottom-border($main-nav-border-color);
    }

    &-menu {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    &-item {
      position: relative;
      display: flex;
      align-items: stretch;
      margin: 0;
      padding: 0;
      cursor: pointer;

      &::after {
        // Defines separators between menu items
        content: '';
        position: relative;
        right: 100%;
        border-left: $main-nav-item-separator-width solid $main-nav-link-border-color;
        height: $main-nav-item-separator-height;
        margin: auto 0;
      }

      &:first-child::after {
        border-left: none;
      }

      &.active {
        background-color: $main-nav-item-active-color;

        &::after,
        & + li::after {
          border: none;
        }

        a {
          color: $main-nav-link-active-color;
        }
      }

      &.hover,
      &:hover {
        a {
          @include item-bottom-border($main-nav-item-hover-color);
        }
      }

      &.has-children {
        &.hover,
        &:hover {
          // The trigger should appear above the overlay backdrop
          z-index: $cdk-z-index-overlay-backdrop + 1;
        }
      }

      &.highlighted {
        margin-left: auto;
        background-color: $blue-light;

        a {
          text-transform: none;
          @include item-bottom-border($main-nav-item-hover-color);
        }

        &::after {
          border: none;
        }

        &:hover {
          background-color: $main-nav-item-hover-color;

          a {
            color: $main-nav-link-active-color;
          }
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      color: $white;
      padding: 0 $spacing-xl;
      text-transform: uppercase;
      font-weight: $font-weight-medium;
      text-align: center;

      &:hover {
        color: $white;
      }
    }
  }
}
