<p class="MsoNormal">
  <span lang="EN-GB"
    >This module allows Agent Group users to query documents paid by credit card or an EasyPay number for a given
    period. Once clicked, the following dialog appears:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="500" src="agent_group/images/credit-card-documents-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query Credit Card Documents.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to introduce a valid Credit Card number. The information resulting from the query is displayed with
    the following data:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Ticket Document Amount</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment Type</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Form of Payment Amount</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Approval Code</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Invoice date</span></b>
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Invoice Number</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users may also filter their queries by clicking on the
    <img border="0" width="82" height="30" id="Imagen 151" src="agent_group/images/image223.jpg" /> button.</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="agent_group/credit-card-documents-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Credit Card Documents Query.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It must be noted that the Credit Card number is automatically populated. In addition, it is possible to apply
    filters based on the following fields:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b>when more than one period is selected, they must belong to the same month,
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b>multiple choice is possible from a dropdown list.
</p>
<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code / Name: </span></b>multiple choice is possible from a dropdown list.
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Queries may be downloaded, either filtered or not, by clicking on
    <img border="0" height="30" rc="agent_group/images/image272.jpg" />.</span
  >
</p>
