<p class="MsoNormal" style="line-height: normal">
  This module allows Agent Group Users to access all the available documents (Tickets, Refunds, ADMs, etc.) which have
  been received in a HOT file. Please note that the availability of this option is subject to the permissions for each
  Agent Group User.
</p>

<p class="MsoNormal" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB"
    ><img border="0" width="194" height="134" id="Imagen 113" src="agent_group/images/image209.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Documents.</span>
</p>
