<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Agent Group users to view all documents which have been rejected by the DPC (Data Processing
    Centre, collecting all the transactions by the Agent). Once this option is selected, a table showing all rejected
    documents is displayed.</span
  >
</p>

<p class="MsoNormal"><span lang="EN-GB">The following fields are indicated per rejected document:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related document number: </span></b
  ><span lang="EN-GB">if the rejected document is a conjunction ticket, and ADM, Refund Application, etc.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type: </span></b><span lang="EN-GB">TKTT, ACDM, RFND, etc.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline: </span></b><span lang="EN-GB">the IATA code and name of the involved Airline.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS: </span></b
  ><span lang="EN-GB">the code of the GDS in which the document was originally issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Error Level: </span></b><span lang="EN-GB">there are three possible error levels:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Warning: </span></b
  ><span lang="EN-GB"
    >the document has not been rejected; it will be available as soon as it has been processed by the DPC.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Modify: </span></b
  ><span lang="EN-GB"
    >the document has not been rejected, but it has been modified at a DPC level. It will be available as soon as it has
    been processed.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection: </span></b
  ><span lang="EN-GB"
    >it is confirmed that the document has been rejected and, thus, it is not available in the system.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Error Code</span></b
  ><span lang="EN-GB">: the error code which is assigned to each error type leading to Rejection.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for Rejection: </span></b
  ><span lang="EN-GB">the explanation of why the document has been rejected.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Period</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to filter the query of rejected documents by clicking on
    <img border="0" width="82" height="30" id="Imagen 151" src="agent_group/images/image223.jpg" />. Queries can be
    narrowed by means of the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="agent_group/images/rejected-documents-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Filter of rejected documents.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type: </span></b><span lang="EN-GB">TKTT, ACDM, RFND, etc.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code / Name:</span></b
  ><span lang="EN-GB">
    a dropdown list of the existing Agents in the BSP the IATA User has access to is deployed. Multiple choice is
    possible.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS: </span></b><span lang="EN-GB">a dropdown list of the operating GDSs is deployed.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Error Level: </span></b><span lang="EN-GB">Warning, Modify or Rejection.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Date: </span></b
  ><span lang="EN-GB">a calendar is deployed to select one date. Only single selection is possible.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Rejection Period: </span></b
  ><span lang="EN-GB">if more than one billing period is selected, they must belong to the same month.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Results get then listed as follows:</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="agent_group/images/rejected-documents-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: List of Rejected Documents.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please note that the original document will get displayed in a new tab by clicking on the blue document number.
    Besides, it is possible to download the data concerning rejected documents, either filtered or not, by clicking the
    <img border="0" width="106" height="30" id="Imagen 78" src="agent_group/images/image225.jpg" />
    button.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Facsimiles of rejected documents
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to display the facsimile of the rejected document by clicking on the document type. The facsimile
    may provide Agent Group users with a detailed view of the rejected document. Please note that rejected documents are
    not available in the system, and then not included in the Agent’s billing.</span
  >
</p>
