<div class="dialog-container">
  <div *ngIf="isCardLevel">
    <div class="subtitle">
      {{ 'TIP.cards.dialogs.consent.modify.subtitle.' + level | translate }}
    </div>

    <div class="items">
      <bspl-pill-information
        *ngFor="let pill of pills"
        [value]="pill.value"
        [tooltip]="pill.tooltip"
      ></bspl-pill-information>
    </div>
  </div>

  <div *ngIf="isCountryLevel" class="alert-message">
    <bspl-alert-message [type]="alertMessage.type" [message]="alertMessage.message"></bspl-alert-message>
  </div>

  <div class="form" [formGroup]="form">
    <bspl-select
      formControlName="type"
      [clearable]="false"
      [appendToBody]="true"
      [options]="consentTypeDropdownOptions"
      [label]="'TIP.cards.dialogs.consent.modify.fields.consentType.label' | translate"
      [placeholder]="'TIP.cards.dialogs.consent.modify.fields.consentType.placeholder' | translate"
    ></bspl-select>
    <div [formGroupName]="costRecovery">
      <bspl-radio-button-group
        formControlName="type"
        [groupName]="'costRecoveryTypes'"
        [options]="costRecoveryTypeRadioButtons"
        [isDisabled]="isCostRecoveryDisabled"
        [label]="'TIP.cards.dialogs.consent.modify.fields.costRecoveryType.label' | translate"
        [bsplTooltip]="
          (isCostRecoveryDisabled ? 'TIP.cards.dialogs.consent.modify.fields.costRecoveryType.tooltip' : '') | translate
        "
      ></bspl-radio-button-group>
      <bspl-select
        formControlName="currency"
        [clearable]="false"
        [appendToBody]="true"
        [options]="currencyDropdownOptions$ | async"
        [locked]="isCurrencyLocked"
        [label]="'TIP.cards.dialogs.consent.modify.fields.currency.label' | translate"
        [placeholder]="'TIP.cards.dialogs.consent.modify.fields.currency.placeholder' | translate"
        [bsplTooltip]="
          (isCostRecoveryDisabled || isCurrencyLocked ? 'TIP.cards.dialogs.consent.modify.fields.currency.tooltip' : '')
            | translate
        "
      >
      </bspl-select>
      <bspl-input
        formControlName="amount"
        [label]="amountLabel | translate"
        [placeholder]="amountPlaceholder | translate"
        [bsplTooltip]="(isAmountDisabled ? 'TIP.cards.dialogs.consent.modify.fields.amount.tooltip' : '') | translate"
      ></bspl-input>
    </div>
  </div>
</div>
