<div class="container">
  <div class="row">
    <div class="col-md-4">
      <strong>Default Button</strong>
      <br />
      <bspl-button [label]="btnLabel" [bsplTooltip]="tooltipText" (click)="click()"></bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Label and icons</strong>
      <br />
      <bspl-button
        [label]="btnLabel"
        [design]="btnDesign.Primary"
        [iconRight]="btnIcon.Gearwheel"
        [icon]="btnIcon.Gearwheel"
        (click)="click()"
      >
      </bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Label and icons with loading</strong>
      <br />
      <bspl-button
        [label]="btnLabel"
        [design]="btnDesign.Primary"
        [iconRight]="btnIcon.Gearwheel"
        [icon]="btnIcon.Gearwheel"
        [isLoading]="true"
        (click)="click()"
      >
      </bspl-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Primary Enabled</strong>
      <br />
      <bspl-button [label]="btnLabel" [design]="btnDesign.Primary" (click)="click()"></bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Primary Disabled</strong>
      <br />
      <bspl-button [label]="btnLabel" [design]="btnDesign.Primary" [isDisabled]="true" (click)="click()"></bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Primary Loading</strong>
      <br />
      <bspl-button [label]="btnLabel" [design]="btnDesign.Primary" [isLoading]="true" (click)="click()"></bspl-button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Secondary Enabled</strong>
      <br />
      <bspl-button [label]="btnLabel" [design]="btnDesign.Secondary" (click)="click()"></bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Secondary Disabled</strong>
      <br />
      <bspl-button
        [label]="btnLabel"
        [design]="btnDesign.Secondary"
        [isDisabled]="true"
        (click)="click()"
      ></bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Secondary Loading</strong>
      <br />
      <bspl-button [label]="btnLabel" [design]="btnDesign.Secondary" [isLoading]="true" (click)="click()"></bspl-button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong>Tertiary Enabled</strong>
      <br />
      <bspl-button [label]="'Done'" [design]="btnDesign.Tertiary" (click)="click()"></bspl-button>
    </div>

    <div class="col-md-4">
      <strong>Tertiary Disabled</strong>
      <br />
      <bspl-button [label]="'Done'" [design]="btnDesign.Tertiary" [isDisabled]="true" (click)="click()"></bspl-button>
    </div>
    <div class="col-md-4">
      <strong>Tertiary Loading</strong>
      <br />
      <bspl-button [label]="'Done'" [design]="btnDesign.Tertiary" [isLoading]="true" (click)="click()"></bspl-button>
    </div>
  </div>
</div>
