<bspl-list-view
  [title]="title"
  [hasFiltering]="true"
  [filterFormatter]="filterFormatter"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  [hasCreating]="canCreateReason"
  [customLabels]="customLabels"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (download)="onDownload()"
  (queryChange)="loadData($event)"
  (create)="createReason()"
>
  <span class="list-total-items" bsplListViewTitle>{{
    'MENU.files.totalItemMessage' | translate : locale.language : { total: totalItems$ | async }
  }}</span>

  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          #primaryReason
          formControlName="primaryReason"
          [options]="primaryReasonOptions$ | async"
          [label]="'ADM_ACM.categorizationReasons.filters.primaryReason.label' | translate"
          [placeholder]="'ADM_ACM.categorizationReasons.filters.primaryReason.placeholder' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="subReason"
          [label]="'ADM_ACM.categorizationReasons.filters.subReason.label' | translate"
          [placeholder]="'ADM_ACM.categorizationReasons.filters.subReason.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="active"
          [options]="statusOptions"
          [label]="'ADM_ACM.categorizationReasons.filters.status.label' | translate"
          [placeholder]="'ADM_ACM.categorizationReasons.filters.status.placeholder' | translate"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onActionMenuClick($event)"
    (actionClick)="onActionClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
