@import 'theme/variables/index';
@import 'components/form-page/form-page';

.dialog-container {
  margin-bottom: $spacing-xxl;

  .subtitle {
    font-size: $font-size-m;
    color: $gray-deep;
    line-height: $line-height-m;
  }

  .items {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-s;
  }

  .form {
    bspl-radio-button-group {
      display: block;
      margin-bottom: $spacing-s;

      ::ng-deep bspl-radio-button {
        flex: 0 0 50%;
      }
    }
  }
}
