<div class="dialog-container">
  <div class="subtitle">
    {{ 'TIP.cards.dialogs.card.modify.subtitle' | translate }}
  </div>

  <div class="items">
    <bspl-pill-information
      *ngFor="let pill of pills"
      [value]="pill.value"
      [tooltip]="pill.tooltip"
    ></bspl-pill-information>
  </div>

  <div class="form" [formGroup]="form">
    <bspl-input
      formControlName="expiryDate"
      [label]="'TIP.cards.dialogs.card.modify.fields.expiryDate.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.modify.fields.expiryDate.placeholder' | translate"
    ></bspl-input>
    <bspl-input
      class="uppercase-input"
      formControlName="issuerName"
      [maxLength]="50"
      [label]="'TIP.cards.dialogs.card.modify.fields.issuerName.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.modify.fields.issuerName.placeholder' | translate"
    ></bspl-input>
    <bspl-radio-button-group
      formControlName="cardType"
      [groupName]="'cardTypes'"
      [options]="cardTypeRadioButtons"
      [label]="'TIP.cards.dialogs.card.modify.fields.cardType.label' | translate"
    ></bspl-radio-button-group>
    <bspl-input
      formControlName="companyName"
      [maxLength]="20"
      [label]="'TIP.cards.dialogs.card.modify.fields.companyName.label' | translate"
      [placeholder]="'TIP.cards.dialogs.card.modify.fields.companyName.placeholder' | translate"
      [bsplTooltip]="
        (isCompanyNameDisabled ? 'TIP.cards.dialogs.card.modify.fields.companyName.tooltip' : '') | translate
      "
    ></bspl-input>
  </div>
</div>
