@import 'theme/variables/index';
@import 'theme/app/scroll-bar';

bspl-autocomplete {
  .ng-select {
    .ng-select-container,
    .ng-dropdown-panel {
      border-radius: 0;
      border: 1px solid $gray-middle;
    }
  }

  .error-state-border {
    &.ng-select.ng-select-single {
      .ng-select-container {
        border: 1px solid $red;
      }

      .ng-dropdown-panel {
        border: 1px solid $red;
        border-top-color: $gray-light;
      }

      &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
        border-color: $red;
      }

      &.ng-select-opened > .ng-select-container {
        border-color: $red;
      }

      &.ng-select-opened .ng-dropdown-panel {
        border: 1px solid $red;

        &.ng-select-top {
          border-bottom-color: $gray-light;
        }

        &.ng-select-bottom {
          border-top-color: $gray-light;
        }
      }
    }
  }

  .ng-select.ng-select-single {
    .ng-arrow-wrapper {
      .ng-arrow {
        border-top-color: rgb(153, 153, 153) !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        border-left-color: transparent !important;
      }
    }

    &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
      border-color: $blue-light;
      box-shadow: none;
    }

    &.ng-select-disabled {
      background-color: $gray-light;
    }

    &.ng-select-opened {
      .ng-arrow-wrapper {
        .ng-arrow {
          border-top-color: transparent !important;
          border-right-color: transparent !important;
          border-bottom-color: rgb(153, 153, 153) !important;
          border-left-color: transparent !important;
        }
      }

      .ng-select-container {
        border: 1px solid $blue-light;
      }

      .ng-dropdown-panel {
        border: 1px solid $blue-light;

        &.ng-select-top {
          border-bottom-color: $gray-light;
        }

        &.ng-select-bottom {
          border-top-color: $gray-light;
        }
      }
    }

    .ng-dropdown-panel-items {
      &.scroll-host {
        @include custom-scrollbar();
      }

      .ng-option.ng-option-marked {
        background-color: $gray-neutral;
      }

      .ng-option.ng-option-selected {
        background-color: $blue-sky;
      }
    }
  }
}

.autocomplete-label {
  margin-bottom: $spacing-xxs;
  font-size: $font-size-m;
  color: $gray-deep;
  display: block;
}
