<label class="autocomplete-label">{{ label }}</label>
<ng-select
  [items]="items"
  [virtualScroll]="virtualScroll"
  [bindLabel]="bindLabel"
  [bindValue]="bindValue"
  [loading]="loading"
  [typeahead]="typeahead$"
  (scrollToEnd)="scrollToEnd.emit()"
  (change)="autocompleteChangeHandler($event)"
  (focus)="focus.emit($event)"
  (blur)="autocompleteBlurHandler($event)"
></ng-select>
<bspl-error-field [errors]="errors" [message]="errorFieldMessage"></bspl-error-field>
