<div class="header-container">
  <h3 class="header-title">
    <img class="entity-logo" src="../assets/entity-logos/Agent.svg" alt="Agent Logo" />
    {{ agent?.name }}
  </h3>
  <div class="header-actions">
    <bspl-button
      *ngIf="isApplyChangesVisible"
      [label]="'common.applyChanges'"
      [isDisabled]="!(isApplyChangesEnabled$ | async)"
      (onClick)="applyChanges()"
    ></bspl-button>
  </div>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
