<p class="MsoNormal">
  <a name="_Hlk9517355"
    >This module allows Users to access all the available Documents in BSP, Rejected Documents and Post-Billing
    Disputes.
  </a>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="254" height="242" id="Imagen 79" src="airline/images/image255.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Document.</span>
</p>
