<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Airline users to query Net Remit issues for a particular Agent and for a given period, along
    with the deal through which the ticket was settled. Documents are listed on a table which contains the following
    fields:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Code</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tour Code</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commercial Agreement Reference</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare Basis / Ticket Designator</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Origin Airport</span></b>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Destination Airport</span></b>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users may also filter their queries by clicking on the
    <img border="0" height="30" src="airline/images/image083.jpg" /> button:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" src="airline/images/net-remit-documents-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254131"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Filter Net Remit Documents.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Take into consideration the following about the <b>BSP</b> field:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If the user has access to one single BSP: </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB">by default, the selected BSP will be the one the user has permission for;</span>
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB">the user won’t be able to pick any other BSP operation.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">A multi-country user: </span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB"
    >doesn’t have any BSP selected by default, so the user can see the information for all BSPs he has access to.</span
  >
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB">can pick multiple BSPs from the drop-down menu amongst those the user has permission to.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The following aspects must also be considered for the <b>Period</b> field:</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >When a user filters by period, only billing periods belonging to the same month may be selected. If the whole month
    must be queried, it is necessary to click on the first and last billing periods to include them all:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="333" src="airline/images/net-remit-documents-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254131"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Filter Net Remit Documents by Period.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >To filter by Agent Code or Name, Net-Remit Method indicator, Net-Remit Calculation Type or Transaction Code, items
    must be selected from a dropdown list.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The remaining filter options accept free text.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If a user has permission for one single BSP, then only periods for the selected BSP can be picked.</span
  >
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">If a user has a multi-country access permission:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB">If no BSP is selected, the user can select sales from the current period.</span>
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB">If one BSP is selected, the user can pick periods for the selected BSPs.</span>
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span lang="EN-GB">If more than one BSP is selected, the user can pick the current period month.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Queries, either filtered or not, may be downloaded by clicking on
    <img border="0" height="30" src="airline/images/image064.jpg" />.</span
  >
</p>
