<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows users to query and manage the existing Post Billing Disputes (PBD) in the BSP where access is
    granted. PBD are issued by Agents which are granted TA with the Airline to dispute an already billed document (TKTT,
    AMDA or EMD). The PBD details are shown on a table which contains the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="113" id="Imagen 222" src="airline/images/image271.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254142"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: PBD View.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP:</span></b
  ><span lang="EN-GB"> multi-country users are able to sort PBDs by BSP Country/Territory.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR:</span></b
  ><span lang="EN-GB"> The document number related to the PBD.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b><span lang="EN-GB">The</span
  ><span lang="EN-GB"> disputed transaction type (TKTT, EMD, etc.)</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country/Territory: </span></b><span lang="EN-GB">The BSP in which the PBD is produced.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code: </span></b><span lang="EN-GB">The involved Agent IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name: </span></b><span lang="EN-GB">The involved Agent name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">The Status of the PBD can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Airline: </span></b
  ><span lang="EN-GB">When some feedback by the Airline is required.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Agent: </span></b
  ><span lang="EN-GB">When some feedback by the Agent is required.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Agent: </span></b
  ><span lang="EN-GB">When the Airline agreed with the Agent’s dispute.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Airline: </span></b
  ><span lang="EN-GB"
    >When the Agent agreed with the Airline’s reason for rejecting the PBD, or when the Agent did not reply to the
    Airline’s disagreement.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agreement not reached – to Agent: </span></b
  ><span lang="EN-GB"
    >When the Airline did not take any action during the Maximum Resolution period or when the maximum of two
    disagreement actions allowed per user was reached.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b><span lang="EN-GB">the date in which the PBD is issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">The date in which the PBD is resolved, no longer than 30 days after its issuance.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB">The currency in which the original document was issued.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Maximum Disputable Amount: </span></b
  ><span lang="EN-GB"
    >The maximum amount to be post billing disputed, REMT for ADMs and TDAM for Tickets and Refunds.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b><span lang="EN-GB">Amount being disputed in the PBD.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The information contained on this table can be filtered by means of the
    <img border="0" width="82" height="30" id="Imagen 223" src="airline/images/image272.jpg" />
    button. IATA Users may narrow the results based upon the following fields:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="136" id="Imagen 224" src="airline/images/post-billing-disputes-2.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254143"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: PBD Filter option.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP:</span></b
  ><span lang="EN-GB">
    On the one hand, for those users that only have permission for one single BSP, that BSP will be the one shown by
    default and the user cannot change it. On the other hand, multi-country users are able to choose amongst the
    multiple BSPs they have access to (those users may pick the BSP operation/s of choice, otherwise all of them are
    shown by default). If a multi-country user changes the selection of BSP(s) the rest of data of filter values below
    (Agent code, Name, Currency…) will change accordingly. Multi-country users are able to sort the query result by BSP
    column.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Number (TDNR): </span></b
  ><span lang="EN-GB">In case the query is to be performed based on the number of the original document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Code (TRNC): </span></b
  ><span lang="EN-GB">To reduce the results to the type of the original transaction (TKTT, EMDS, EMDA, ADMA).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name: </span></b><span lang="EN-GB">To show results by Agent.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">To display results by PBD Status.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b>
  <span lang="EN-GB">
    To frame by resolution date, or by a series of dates (“From” and “To”). Future dates may be selected up to one year.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">To frame by resolution date, or by a series of dates (“From” and “To”).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b
  ><span lang="EN-GB"
    >To obtain PBDs by currency. Multi-country users are able to see the list of currencies in the selected BSPs.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >Once the required filters have been applied, it is necessary to click the
    <img border="0" width="74" height="30" id="Imagen 84" src="airline/images/image274.jpg" />
    button.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >Besides, it is possible to download the query results, either filtered or not, by clicking the
    <img border="0" width="106" height="30" id="Imagen 248" src="airline/images/image251.jpg" />
    button.
  </span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >Users, who enjoy multi-country access permissions, are able to query PBDs for an extended period up to
    <b>5 years</b> back. For further information about how to get this type of BSPlink access, please reach us through
    the <a href="https://portal.iata.org/" target="_blank">IATA Customer Portal</a>.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  PBD Details
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to check the status of an already issued Post-Billing Dispute (PBD), is necessary to click on the TDNR
    number.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The PBD details get then displayed on a new tab which splits the information into the PBD Header and the PBD
    details.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Firstly, the PBD Header summarizes the PBD essential information: </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="37" id="Imagen 537" src="airline/images/image275.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254145"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: PBD Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >The PBD Status determines the actions to be performed. Airlines should update the PBD when the status is “Pending
    Airline”.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> The end of the thirty-day period in which the PBD needs to be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR:</span></b
  ><span lang="EN-GB"> The disputed document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount (Currency):</span></b
  ><span lang="EN-GB"> The disputed amount.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Time Left for Agreement:</span></b
  ><span lang="EN-GB"> Days left until the Resolution Date.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Secondly, the PBD details offers its information divided into the following sections: “Details and Amount” and
    “Process”.</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="642" height="304" id="Imagen 261" src="airline/images/image276.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254146"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: View PBD details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Details: </span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent: </span></b><span lang="EN-GB">The issuing Agent’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline:</span></b
  ><span lang="EN-GB"> The involved Airline’s IATA code and name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Issue Date:</span></b
  ><span lang="EN-GB"> The date in which the PBD is issued. </span>
</p>

<p
  class="BulletLevel2"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.75in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date:</span></b
  ><span lang="EN-GB"> The end of the thirty-day period within which the PBD must be resolved.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Details:</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b
  ><span lang="EN-GB">The type of disputed transaction (“TKTT”, “EMD” or “ADM”).</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRND: </span></b><span lang="EN-GB">The disputed document number.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">DAIS: </span></b
  ><span lang="EN-GB"
    >The date of issuance of the disputed document. The DAIS determines the validity of the period to issue a PBD, which
    cannot exceed 12 months.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b
  ><span lang="EN-GB">The disputed amount on the document indicated above.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >Thirdly, the Process section<b> </b>includes all the actions performed by each part. It indicates both the time
    left for agreement and the different reasons which motivated each position. Reasons may include attached
    files.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: 115%;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="362" id="Imagen 270" src="airline/images/image277.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254147"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: PBD Process.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Lastly, the right side of the screen includes the option to upload files and the Activity Panel.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >Files can be uploaded at any point by dragging them into the upload box or by browsing the required file:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="145" id="Imagen 54" src="airline/images/image278.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254148"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >As for the Activity Panel, it displays all the comments included by each part and reflects the workflow of the
    PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="627" id="Imagen 262" src="airline/images/image279.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254149"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: PBD Activity Panel.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB"
    >The Activity Panel allows Agent and Airline users to include any comment regardless of who is expected to take the
    following action in the PBD. This panel is intended to facilitate a communication channel between both parts without
    employing the interventions granted to each of them in the PBD process. Also, the panel displays any interventions
    performed by the parts (“Workflow Events”, which also show the change of Status) and the possibility to attach files
    and show attached ones.
  </span>
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: 115%">
  <span lang="EN-GB">The activities in the panel can be filtered by clicking the </span
  ><img border="0" width="22" height="22" id="Imagen 541" src="airline/images/image280.jpg" /><span lang="EN-GB">
    icon at the top right corner:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="627" id="Imagen 263" src="airline/images/image281.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc40254150"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: Filter of PBD Activity Panel.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It is possible to add a new comment by clicking at the top box of the Activity Panel:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="627" id="Imagen 264" src="airline/images/image282.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254151"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: Comment box at Activity Panel.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once clicked, the box gives the option to type a comment addressed to users in charge of the PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="650" id="Imagen 266" src="airline/images/image283.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254152"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: Adding a comment in the PBD Activity Panel.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to add the comment in the panel, it is necessary to click on
    <img border="0" width="76" height="30" id="Imagen 267" src="airline/images/image284.jpg" />. To disregard the
    comment, it is necessary to click on the
    <img border="0" width="89" height="30" id="Imagen 269" src="airline/images/image285.jpg" />
    button. <a name="_Hlk29886364">Besides, for any comment, it is possible to add attachments </a
    ><a name="_Hlk31873953"
      >or to download them (by clicking
      <img border="0" width="22" height="22" id="Imagen 113" src="airline/images/image286.jpg" />).</a
    ></span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: 115%;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img border="0" width="642" height="362" id="Imagen 539" src="airline/images/image287.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254153"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: PBD Process.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  PBD Update
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The PBD detailed view facilitates the update of a PBD. Any PBD issued by an Agent requires the intervention from
    the Airline to express either Agreement or Disagreement, as per its status (“Pending Airline”). The PBD Header
    includes the
    <img border="0" width="136" height="30" id="Imagen 211" src="airline/images/image288.jpg" />
    button for this purpose. From this button, users may click directly on “PBD Agreement”, if that is the case.
    Otherwise, the arrow next to it deploys the possible options: “Agree with Agent” or “Disagree with Agent”.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">If users wish to agree with the Agent, the following modal box is displayed:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="476" id="Imagen 268" src="airline/images/image289.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254154"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: Agree with Agent modal box.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Users must then indicate a reason for the agreement, and then click on
    <img border="0" width="62" height="30" id="Imagen 217" src="airline/images/image290.jpg" />.. Please note that the
    PBD gets closed due to the agreement between both parts and the Agent will receive the amount by means of an
    ACM.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB">A similar modal box gets displayed if users wish to disagree with the Agent:</span>
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="380" height="471" id="Imagen 272" src="airline/images/image291.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc40254155"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: Disagree with Agent modal box.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Also, Users must then indicate a reason for the disagreement, and then click on
    <img border="0" width="79" height="30" id="Imagen 228" src="airline/images/image292.jpg" />. Otherwise, it is
    possible to leave the process by means of the
    <img border="0" width="70" height="30" id="Imagen 98" src="airline/images/image293.jpg" /> button or by pressing
    “Esc” on the keyboard. The dispute procedure does therefore continue and requires the intervention by the
    Agent.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Please note that New BSPlink does automatically update the PBD status once the maximum period of 30 days is reached
    if parties do not achieve an agreement. This update affects the Agent’s remittance or Airline’s settlement
    accordingly.
    <a name="_Hlk29889891"
      >However, if any of the parts does intervene on the last day, an extra period of seven days is granted.</a
    ></span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, if changes are produced in a PBD but these are not saved, New BSPlink warns users before leaving the
    PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="570" src="airline/images/image291.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">14</span><span lang="EN-GB">: Unsaved changes in PBD.</span>
</p>
