@import 'src/app/shared/scss/data-table-dialog';

:host {
  .paragraph__text {
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin: $spacing-s 0;
  }

  .data__table {
    div.row.line__data {
      &:last-child {
        border-bottom: none;
      }
    }

    border-bottom: 1px solid $gray-deeper;
    padding: 0 $spacing-m $spacing-xl $spacing-m;
  }

  .row__form {
    padding: $spacing-s 0 $spacing-xxxl 0;
  }

  div.redirect__line {
    margin: $spacing-s 0;
    padding: $spacing-s 0;

    a.link {
      font-size: $font-size-m;
      line-height: $line-height-m;

      .material-icons {
        font-size: $font-size-m;
      }
    }
  }

  div.final-container {
    border-top: 1px solid $gray-deeper;
    margin-top: $spacing-xl;
    padding-top: $spacing-xl;

    bspl-checkbox ::ng-deep {
      label.checkbox-container {
        display: inline-block;

        .custom-checkbox {
          float: right;
          margin: $spacing-xxxs $spacing-xs;
        }

        .checkbox-label {
          float: left;
          margin-left: 0;
        }
      }
    }

    bspl-alert-message {
      display: block;
      margin-top: $spacing-m;
    }
  }

  .investigate {
    bspl-alert-message {
      display: block;
      margin-top: $spacing-xl;
    }
  }
}
