<div [ngClass]="actionType">
  <div class="paragraph__text">
    <p>{{ getTranslationKey(refundType + '.text1') | translate }}</p>
  </div>
  <div class="data__table">
    <div class="row line__data" *ngIf="ticketNumber">
      <div class="col-6">{{ getTranslationKey(refundType + '.ticketNumberLbl') | translate }}</div>
      <div class="col-6">{{ ticketNumber }}</div>
    </div>

    <div class="row line__data">
      <div class="col-6">{{ getTranslationKey(refundType + '.numberLbl') | translate }}</div>
      <div class="col-6">{{ refundNumber }}</div>
    </div>
    <div class="row line__data">
      <div class="col-6">{{ getTranslationKey(refundType + '.dateLbl') | translate }}</div>
      <div class="col-6">{{ appDate }}</div>
    </div>
    <div class="row line__data">
      <div class="col-6">
        {{ getTranslationKey('amountLbl') | translate : locale.language : { currencyCode: currency?.code } }}
      </div>
      <div class="col-6">{{ amount }}</div>
    </div>
  </div>
  <div class="row__form" [formGroup]="dialogForm">
    <div class="paragraph__text">
      <p>{{ getTranslationKey('text2') | translate }}</p>
    </div>
    <div *ngIf="hasPredefinedReason && (reasonRefundOptions$ | async)?.length">
      <bspl-select
        [options]="reasonRefundOptions$ | async"
        [label]="'REFUNDS.details.detailsSection.reasonIssue' | translate"
        formControlName="predefinedReason"
      >
      </bspl-select>
    </div>
    <div>
      <bspl-textarea
        [formControl]="reasonControl"
        [label]="getTranslationKey('reasonLbl') | translate"
        [placeholder]="getTranslationKey('reasonPlaceholder') | translate"
        [rowsLimit]="reasonRows"
        [linesLimit]="reasonLines"
        [autofocus]="true"
      ></bspl-textarea>
    </div>
    <ng-container *ngIf="dialogForm?.get('attachmentIds')">
      <bspl-upload
        [isDragAndDropActive]="true"
        [mode]="uploadMode"
        [resetMode]="uploadMode"
        [uploadPath]="uploadPath"
        responseFieldName="id"
        formControlName="attachmentIds"
        (uploadStarted)="onUploadIsInProgress(true)"
        (uploadFinished)="onUploadIsInProgress(false)"
      ></bspl-upload>
    </ng-container>
    <ng-container *ngIf="showConfirmationAlertMessage">
      <bspl-alert-message
        [message]="keysRoot + '.alertMessage'"
        [type]="confirmationAlertMessageType"
      ></bspl-alert-message>
    </ng-container>
    <div class="final-container" *ngIf="finalCheckboxControl && (isFlagFinalVisible$ | async)">
      <bspl-checkbox
        [formControl]="finalCheckboxControl"
        [label]="getTranslationKey('finalFlag') | translate"
      ></bspl-checkbox>
      <bspl-alert-message
        *ngIf="finalCheckboxControl.value"
        [message]="keysRoot + '.finalFlagMessage'"
        [type]="confirmationAlertMessageType"
      ></bspl-alert-message>
    </div>
  </div>
</div>
