@import 'theme/variables/index';

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: (-$spacing-xl); // Override main layout paddings
}

.side-menu {
  flex: 1 1 auto;
  min-width: 25rem;
  max-width: 40rem;
  background-color: $gray-subtle;
  border-right: 1px solid $white-subtle;

  .side-menu-section {
    position: relative;
  }
}

.main-content {
  flex: 3 3 auto;
  padding: $spacing-xl;
  // Use relative positioning to display ngx-spinner over the main content
  position: relative;

  h4 {
    color: $blue-primary;
    font-family: inherit;
    font-size: $font-size-l;
    margin: 0 0 1.2rem $spacing-xs;
  }
}

.permissions-not-available {
  height: 300px;
  width: 100%;

  h3 {
    color: $blue-primary;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
}
