<aside class="side-menu" *ngIf="permissionsAvailable">
  <section class="side-menu-section">
    <bspl-side-menu
      [title]="sideMenuTitle"
      [items]="menuItems"
      [activatedItem]="activeMenuItem"
      (select)="selectMenuItem($event)"
    ></bspl-side-menu>
  </section>
</aside>
<main class="main-content" *ngIf="permissionsAvailable">
  <h4>{{ activeMenuItem.title | translate }}</h4>
  <bspl-options-list [optionsListData]="permissionsTabOptions" (valueChange)="toggleOption($event)"></bspl-options-list>
</main>
<div *ngIf="!permissionsAvailable" class="permissions-not-available">
  <h3>{{ permissionsNotAvailableMessage }}</h3>
</div>
