<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >Once inside the New BSPlink website, at the top of the page users can see the following items:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&mdash;<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">the IATA logo.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&mdash;<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">the name of BSPlink.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&mdash;<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">the user’s template: Efficient, Streamlined or Lean.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&mdash;<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">the BSPlink operation or country.</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB">
    <img border="0" width="646" src="airline/images/header.jpg" />
  </span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: New BSPlink header.</span>
</p>
