<form class="setting-lists-container" [formGroup]="form">
  <div class="setting-list">
    <div class="setting-alerts" *ngIf="settingAlertMessages?.length">
      <ng-container *ngFor="let settingAlertMessage of settingAlertMessages; let i = index">
        <bspl-alert-message
          [hidden]="!settingAlertMessage.isVisible"
          [message]="settingAlertMessage.message | translate"
          [type]="settingAlertMessage.type"
        ></bspl-alert-message>
      </ng-container>
    </div>
    <ng-container *ngFor="let category of categoryDescriptors; trackBy: trackByCategories">
      <ng-container *ngIf="!areAllCategorySettingsInReadonlyState(category)">
        <h4>{{ category.displayName | bsplEmpty }}</h4>

        <ng-container *ngFor="let parameter of category.parameters; trackBy: trackBySettings">
          <div class="list-item" *ngIf="isParamSupported(parameter) && !getParameterReadonlyState(parameter.id)">
            <div [ngSwitch]="parameter.type">
              <!-- Boolean -->
              <div *ngSwitchCase="parameterType.Boolean">
                <label class="item-container">
                  <span class="item-label" [bsplTooltip]="parameter.description">{{ parameter.displayName }}</span>
                  <bspl-checkbox
                    [isDisabled]="disableAllActions"
                    [formControlName]="parameter.id"
                    (ngModelChange)="changeSettingValue($event, parameter.id)"
                  ></bspl-checkbox>
                </label>
              </div>
              <!-- Integer -->
              <div *ngSwitchCase="parameterType.Integer" class="item-container input-number-container">
                <span class="item-label" [bsplTooltip]="parameter.description">{{ parameter.displayName }}</span>
                <bspl-input
                  [formControlName]="parameter.id"
                  [locked]="disableAllActions"
                  type="number"
                  [min]="parameter | validNumber : validatorType.Min"
                  [max]="parameter | validNumber : validatorType.Max"
                  (ngModelChange)="changeSettingValue($event, parameter.id)"
                ></bspl-input>
              </div>
              <!-- Enum -->
              <div *ngSwitchCase="parameterType.Enum" class="item-container dropdown-container">
                <span class="item-label" [bsplTooltip]="parameter.description">{{ parameter.displayName }}</span>
                <bspl-select
                  [formControlName]="parameter.id"
                  [options]="parameter.possibleValues"
                  [clearable]="false"
                  [locked]="disableAllActions"
                  (ngModelChange)="changeSettingValue($event, parameter.id)"
                ></bspl-select>
              </div>
              <!-- String -->
              <div *ngSwitchCase="parameterType.String" class="input-text-container">
                <span class="item-label" [bsplTooltip]="parameter.description">{{ parameter.displayName }}</span>
                <bspl-input
                  [formControlName]="parameter.id"
                  [locked]="disableAllActions"
                  (ngModelChange)="changeSettingValue($event, parameter.id)"
                ></bspl-input>
              </div>
              <!-- String list -->
              <div *ngSwitchCase="parameterType.StringList" class="input-tags-container">
                <span class="item-label" [bsplTooltip]="parameter.description">{{ parameter.displayName }}</span>
                <bspl-tags-input
                  [customErrorMessages]="{ pattern: 'menu.masterData.configuration.errors.multipleValue' }"
                  [formControlName]="parameter.id"
                  [enableTagEditing]="true"
                  [additionalTagSeparators]="stringListSeparators"
                  [locked]="disableAllActions"
                  (ngModelChange)="changeSettingValue($event, parameter.id)"
                ></bspl-tags-input>
              </div>
              <!-- Date -->
              <div *ngSwitchCase="parameterType.Date" class="item-container input-date-container">
                <span class="item-label" [bsplTooltip]="parameter.description">{{ parameter.displayName }}</span>
                <bspl-datepicker
                  class="datepicker"
                  [formControlName]="parameter.id"
                  [locked]="disableAllActions"
                  [minDate]="parameter | validDate : validatorType.Min"
                  [maxDate]="parameter | validDate : validatorType.Max"
                  (ngModelChange)="changeDateSettingValue($event, parameter.id)"
                ></bspl-datepicker>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</form>
