@import 'theme/variables/index';

.setting-lists-container {
  background-color: $gray-subtle;

  h4 {
    color: $blue-primary;
    font-family: inherit;
    font-size: $font-size-l;
    margin: 0 0 1.2rem $spacing-xs;
  }

  .setting-alerts {
    margin-bottom: $spacing-s;
  }

  .setting-list {
    padding: 0 19rem;
    margin-bottom: $spacing-xl;

    &:first-child {
      padding-top: 4.1rem;
    }

    &:last-child {
      padding-bottom: $spacing-xxxxl;
      margin-bottom: 0;
    }

    .list-item {
      border-top: 1px solid $gray-neutral;

      &:last-child {
        border-bottom: 1px solid $gray-neutral;
      }
    }

    .input-tags-container,
    .input-text-container {
      padding: 0.7rem $spacing-xs;

      .item-label {
        font-size: $font-size-m;
        line-height: $line-height-m;
        margin-bottom: $spacing-xxxs;
        color: $gray-dark;
        padding-right: $spacing-xl;
      }
    }

    .item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: $spacing-s $spacing-xs;

      .item-label {
        font-size: $font-size-m;
        line-height: 20px;
        color: $gray-dark;
        padding-right: $spacing-xl;
      }
    }

    .dropdown-container,
    .input-number-container,
    .input-date-container {
      padding: 0.7rem $spacing-xs;

      bspl-select,
      bspl-datepicker {
        margin-bottom: 0;
        width: 20rem;
        min-width: 20rem;
      }
    }

    .input-number-container {
      bspl-input {
        margin-bottom: 0;
        width: 10rem;
        min-width: 3.6rem;

        ::ng-deep input {
          padding-left: 0;
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }
}
