<bspl-list-view
  [title]="'document.stockRequest.viewTitle'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [hasCreating]="canRequestStock"
  [canCreating]="!isIataUser"
  [customLabels]="customLabels"
  (download)="onDownload()"
  (queryChange)="loadData($event)"
  (create)="createStockRequest()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <ng-container *ngIf="!isAgentUser">
        <div class="form-group col-lg-3 col-md-6">
          <bspl-select
            [options]="agentOptions$ | async"
            formControlName="agentCode"
            [label]="'document.stockRequest.filters.agentCode.label' | translate"
            [placeholder]="'document.stockRequest.filters.agentCode.placeholder' | translate"
            [virtualScroll]="true"
            [multiple]="false"
          ></bspl-select>
        </div>
      </ng-container>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="documentTypeOptions"
          formControlName="documentType"
          [label]="'document.stockRequest.filters.documentType.label' | translate"
          [placeholder]="'document.stockRequest.filters.documentType.placeholder' | translate"
          [multiple]="false"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="statisticalCodeOptions"
          formControlName="statisticalCode"
          [label]="'document.stockRequest.filters.statisticalCode.label' | translate"
          [placeholder]="'document.stockRequest.filters.statisticalCode.placeholder' | translate"
          [multiple]="false"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          [label]="'document.stockRequest.filters.applicationDate.label' | translate"
          formControlName="applicationDateRange"
          [placeholder]="'document.stockRequest.filters.applicationDate.placeholder' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-range-dropdown
          formControlName="applicationQuantityRange"
          [label]="'document.stockRequest.filters.applicationQuantity.label' | translate"
          [heading]="'document.stockRequest.filters.applicationQuantity.misc' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          [label]="'document.stockRequest.filters.reviewDate.label' | translate"
          formControlName="reviewDateRange"
          [placeholder]="'document.stockRequest.filters.reviewDate.placeholder' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-range-dropdown
          formControlName="approvedQuantityRange"
          [label]="'document.stockRequest.filters.approvedQuantity.label' | translate"
          [heading]="'document.stockRequest.filters.approvedQuantity.misc' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="reviewComment"
          [label]="'document.stockRequest.filters.reviewComment.label' | translate"
          [placeholder]="'document.stockRequest.filters.reviewComment.placeholder' | translate"
        >
        </bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [columnMode]="'flex'"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
  >
  </bspl-grid-table>
</bspl-list-view>
<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-right">
      <bspl-property
        label="document.stockRequest.rowDetails.agentCodeName"
        [value]="row.agent.iataCode + ' / ' + row.agent.name"
      >
      </bspl-property>
      <bspl-property label="document.stockRequest.rowDetails.channel" [value]="row.channel"></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-6 col-sm-6 property-list-compact property-list-align-right">
      <bspl-property
        label="document.stockRequest.rowDetails.gds"
        [value]="row.gds.gdsCode + ' / ' + row.gds.name"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
