@import 'theme/variables/index';

@mixin large-screen() {
  @media screen and (min-width: 80rem) {
    @content;
  }
}

$border-width: 1px;
$border-gray: $border-width solid $gray-neutral;

.section-container {
  display: block;
  border-bottom: $border-gray;
  padding-bottom: $spacing-xl;
  margin-bottom: $spacing-xl;

  &.no-section-bottom-border {
    border-bottom: none;
  }

  & ~ .section:last-child {
    padding-right: $spacing-xxxxl;
  }

  @include large-screen() {
    display: flex;
    flex-wrap: wrap;
  }
}

.section {
  display: block;
  border-right: 0;
  padding: $spacing-xl 0;

  @include large-screen() {
    &.full {
      width: 100%;
      padding: $spacing-xl 0;
    }

    &.half,
    &.one-third,
    &.stretch {
      padding: 0 $spacing-xxxxl $spacing-xl $spacing-xxxxl;
      border-right: $border-gray;
    }

    &.half {
      width: 50%;
      padding-bottom: 0;
    }

    &.one-third {
      width: 33.33%;
    }

    &.stretch {
      flex: 1;
      padding-bottom: 0;
    }

    &.half:first-of-type,
    &.one-third:first-child,
    &.stretch:first-child {
      padding-left: 0;
    }

    &.half:last-child,
    &.one-third:last-child,
    &.stretch:last-child {
      padding-right: 0;
      border-right: 0;
    }
  }
}
