<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'">
  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item
      [title]="'subUsers.profile.propertiesTab.labels.accordionProperties' | translate"
      [open]="true"
    >
      <ng-container *ngTemplateOutlet="propertiesTemplate"></ng-container>
    </bspl-accordion-item>
  </bspl-accordion>

  <ng-template #propertiesTemplate>
    <div class="sub-user-properties-container" *ngIf="subUserHomc$ | async as subUserHomc">
      <div class="row row-with-separators m-0" [formGroup]="form">
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.general' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-select
              formControlName="access"
              [label]="'head-office-sub-users.filters.access.label' | translate"
              [placeholder]="'head-office-sub-users.filters.access.placeholder' | translate"
              [options]="accessOptions"
            >
            </bspl-select>
            <bspl-property
              label="head-office-sub-users.filters.status.label"
              [value]="statusLabel | translate"
            ></bspl-property>
            <bspl-property
              label="head-office-sub-users.filters.registerDate.label"
              [value]="subUserHomc?.registerDate | dateTimeFormat : 'date'"
            ></bspl-property>
            <bspl-property
              label="head-office-sub-users.filters.expiryDate.label"
              [value]="subUserHomc?.expiryDate | dateTimeFormat : 'date'"
            ></bspl-property>
          </bspl-property-list>
          <div class="row details-item details-info pt-4" *ngIf="!isUserActive">
            <div class="col-md-12 details-link">
              <span class="link" (click)="changeUserStatus()">
                {{ 'subUsers.profile.propertiesTab.labels.reactivateUser' | translate }}
              </span>
            </div>
          </div>
          <div class="row details-item details-info pt-4" *ngIf="isUserActive">
            <div class="col-md-12 details-link">
              <span class="link" (click)="changeUserStatus()">
                {{ 'subUsers.profile.propertiesTab.labels.deactivateUser' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.contactDetails' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-input
              formControlName="portalEmail"
              [maxLength]="200"
              [label]="'subUsers.profile.propertiesTab.labels.portalEmail' | translate"
            ></bspl-input>
            <bspl-input
              formControlName="name"
              [maxLength]="49"
              [label]="'subUsers.profile.propertiesTab.labels.name' | translate"
            ></bspl-input>
            <bspl-input
              [maxLength]="30"
              formControlName="organization"
              [label]="'subUsers.profile.propertiesTab.labels.organization' | translate"
            ></bspl-input>
            <bspl-input
              formControlName="telephone"
              [maxLength]="30"
              [label]="'subUsers.profile.propertiesTab.labels.telephone' | translate"
            ></bspl-input>
          </bspl-property-list>
        </div>
        <div class="col-md-4 sub-section">
          <h3 class="sub-section-title">{{ 'subUsers.profile.propertiesTab.labels.addressDetails' | translate }}</h3>
          <bspl-property-list class="border-bottom">
            <bspl-input
              formControlName="country"
              [maxLength]="30"
              [label]="'subUsers.profile.propertiesTab.labels.country' | translate"
            ></bspl-input>
            <bspl-input
              formControlName="city"
              [maxLength]="30"
              [label]="'subUsers.profile.propertiesTab.labels.city' | translate"
            ></bspl-input>
            <bspl-input
              formControlName="address"
              [maxLength]="30"
              [label]="'subUsers.profile.propertiesTab.labels.address' | translate"
            ></bspl-input>
            <bspl-input
              formControlName="postCode"
              [maxLength]="30"
              [label]="'subUsers.profile.propertiesTab.labels.postCode' | translate"
            ></bspl-input>
          </bspl-property-list>
        </div>
      </div>
    </div>
    <bspl-locked-state
      *ngIf="!subUserHomc"
      [message]="'subUsers.profile.propertiesTab.bspNotPermissionPropertiesInfo' | translate"
    ></bspl-locked-state>
  </ng-template>
</bspl-spinner>
