<div>
  <bspl-floating-panel [closable]="false" [fullWidth]="false">
    <h1 class="m-3">Here is some important sticky info for you.</h1>
  </bspl-floating-panel>
  <bspl-button [label]="'Toggle floating panel'" (onClick)="toggleFloatingPanel()"></bspl-button>
  <br />
  <div class="spacer"></div>
  <bspl-floating-panel #closablePanel [closable]="true">
    <div class="m-3">
      <div *ngIf="closablePanel?.isFloating">
        <h1>I am floating</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      <div *ngIf="!closablePanel?.isFloating">
        <h1>I am pinned</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>
      </div>
    </div>
  </bspl-floating-panel>
</div>
