<div class="accordion" [id]="id">
  <div class="card-collapse">
    <div class="header-collapse" [class.show]="!collapsed">
      <div
        class="header"
        *ngIf="!hideHeaderIfExpanded || collapsed"
        (click)="shouldToggleOnHeaderClick ? toggle() : ''"
        [class.cursor-pointer]="shouldToggleOnHeaderClick"
      >
        <div class="header-template">
          <div *ngIf="showDefaultHeader">
            {{ title | translate }}
          </div>
          <div *ngIf="showHeaderTemplate">
            <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
          </div>
        </div>
      </div>
      <img
        class="collapse-icon cursor-pointer"
        [src]="getCollapseImgSrc()"
        *ngIf="showCollapsableIcon"
        alt="Expand/Collapse"
        (click)="toggle()"
      />
    </div>
    <div class="collapse" [class.show]="!collapsed">
      <div class="body-collapse" *ngIf="!collapsed">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
