@import 'theme/variables/index';

.header {
  color: $blue-primary;
  padding: $spacing-xs $spacing-s;
  display: flex;
  justify-content: space-between;
  font-size: $font-size-xl;

  .header-template {
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.header-collapse {
  border-radius: 10px;
  letter-spacing: -0.6px;
  background-color: $gray-subtle;
  border: $gray-subtle;
  position: relative;

  .collapse-icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &.show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.body-collapse {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: $gray-subtle;
  background-color: $gray-subtle;
  padding: $spacing-m $spacing-m 0;
}

.card-collapse {
  display: block;
  margin-bottom: $spacing-m;
}
