@import 'theme/variables/index';

.text-content {
  margin-bottom: $spacing-m;
  color: $gray-deep;
  font-size: 1.4rem;
}

.dialog-container {
  padding-bottom: $spacing-xxl;

  &-expanded {
    padding-bottom: $spacing-s;
  }
}
