<div class="change-language-container">
  <div class="row">
    <div class="col-md-12">
      <p class="description">{{ 'headerUserInfo.languageDialog.description' | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <bspl-select
        [options]="languagesDropdown"
        [(ngModel)]="selectedLanguage"
        [appendToBody]="true"
        [clearable]="false"
        [label]="'headerUserInfo.languageDialog.dropdownLabel' | translate"
        [autofocus]="true"
      >
      </bspl-select>
    </div>
  </div>
  <div class="row warning-container">
    <div class="col-md-12">
      <bspl-alert-message
        [message]="'headerUserInfo.languageDialog.warningMessage' | translate"
        type="warning"
      ></bspl-alert-message>
    </div>
  </div>
</div>
