<bspl-simple-table
  class="totals-table"
  [class.collapsed]="selectedEntry || !totalsByCurrency"
  [class.expanded]="!selectedEntry"
  [columns]="columns"
  [data]="data"
  [isRowClickable]="!selectedEntry"
  (rowClick)="selectEntry($event)"
></bspl-simple-table>

<ng-template #actionHeaderTemplate>
  <label>{{ 'sales.annualAccumulated.currency' | translate }}:&nbsp;</label>
  <span *ngIf="currencyOptions.length <= 1">{{ currency?.code }}</span>
  <bspl-select
    *ngIf="currencyOptions.length > 1"
    class="action-dropdown"
    [options]="currencyOptions"
    [clearable]="false"
    [appendToBody]="true"
    [value]="currency"
    [modes]="[selectMode.Small]"
    (change)="selectCurrency($event.value)"
  ></bspl-select>
</ng-template>

<ng-template #actionCellTemplate let-type="value" let-dataItem="dataItem">
  <span class="expand-toggle" *ngIf="selectedEntry && type" (click)="showAllEntries($event)">
    <i class="material-icons active-icon">expand_more</i>
    {{ 'sales.annualAccumulated.totalTypes.' + type | translate }}
  </span>
  <span class="expand-toggle" *ngIf="!selectedEntry && type">
    <i class="material-icons" [class.active-icon]="selectedEntry === dataItem">expand_less</i>
    {{ 'sales.annualAccumulated.totalTypes.' + type | translate }}
  </span>
</ng-template>

<ng-template #amountTemplate let-row="row" let-value="value">
  {{ value | number : getAmountFormat(currency?.decimals) }}
</ng-template>
