<p class="MsoNormal">
  A Training Portal is available for new New BSPlink users. They will be assigned a temporary username and password for
  training purposes. These credentials can be used simultaneously by other users from the GDS. They will facilitate the
  access to the Training Portal.
</p>

<p class="MsoNormal">
  To get the full details on how to Access and use the Training Portal please follow the instructions below:
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Training Portal access - User guide
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  New BSPlink training portal
</p>

<p class="MsoNormal">Summary of Steps (More details on each step in the sections)</p>

<p class="MsoNormal">
  1. Request Access to the new BSPlink training portal through the IATA Customer Portal (create a case mentioning New
  BSPlink Training Portal Access in Y1 environment)<br />
  2. Access to New BSPlink training portal<br />
  3. Change Password<br />
  4. New BSPlink Beta version Access<br />
  5. Start training<br />
  6. Download Simulation data Inventory (Document numbers to support your training)
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Important information
</p>

<p class="MsoNormal">
  This portal is a simulation environment. All data loaded in this training portal is simulated. While practising, you
  might not find some features, this is because these functionalities are being developed now and will be added soon to
  this environment.
</p>

<p class="MsoNormal">If you encounter any issue while practising, inform us through the IATA CS Portal.</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  1. Request access to New BSPlink – Training portal
</p>

<p class="MsoNormal">
  Please request access to the training portal through the IATA Customer Portal as described in previous page. In the
  next days, you will receive a separated email with your user credentials for the training portal. The email will have
  the following appearance:
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 12pt; line-height: normal; text-align: center"
>
  <span lang="EN-GB"><img width="642" src="gds/images/new-bsplink-training-portal-1.jpg" /></span>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; line-height: normal; text-align: center">
  <span lang="EN-GB"> <a name="_Toc40254027">Figure </a></span><span lang="EN-GB">1</span
  ><span lang="EN-GB">: New BSPlink credentials</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  2. Access to New BSPlink -Training portal
</p>

<p class="MsoNormal">
  Once you received the previous email just by clicking on the link you will find on the top or here, you will land into
  the log in page of New BSPlink – Training Portal. Please make sure you chose ‘Y1’ as a Country/Territory.
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 12pt; line-height: normal; text-align: center"
>
  <span lang="EN-GB"><img width="642" src="gds/images/new-bsplink-training-portal-2.jpg" /></span>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; line-height: normal; text-align: center">
  <span lang="EN-GB"> <a name="_Toc40254027">Figure </a></span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: BSPlink login page</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  3. Change password
</p>

<p class="MsoNormal">
  After logging in, you need to change the password. Once you complete all the required fields, click on ‘Continue’.
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 12pt; line-height: normal; text-align: center"
>
  <span lang="EN-GB"><img width="642" src="gds/images/new-bsplink-training-portal-3.jpg" /></span>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; line-height: normal; text-align: center">
  <span lang="EN-GB"> <a name="_Toc40254027">Figure </a></span><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Change of password</span>
</p>

<p class="MsoNormal">
  A new screen will pop-up, please click on ‘Go back to the beginning of session’. You will be automatically redirected
  to the previous step where you need to introduce the new log in and password details.
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 12pt; line-height: normal; text-align: center"
>
  <span lang="EN-GB"><img width="572" src="gds/images/new-bsplink-training-portal-4.jpg" /></span>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; line-height: normal; text-align: center">
  <span lang="EN-GB"> <a name="_Toc40254027">Figure </a></span><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Confirmation message</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  4. New BSPlink – Beta version
</p>

<p class="MsoNormal">
  If the login process is completed successfully, you will land in the Classic BSPlink. To access to New BSPlink and
  start practising there you need to click on the top left button called ‘New BSPlink beta version’.
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 12pt; line-height: normal; text-align: center"
>
  <span lang="EN-GB"><img width="540" src="gds/images/new-bsplink-training-portal-5.jpg" /></span>
</p>

<p class="MsoCaption" style="margin-bottom: 0.25in; line-height: normal; text-align: center">
  <span lang="EN-GB"> <a name="_Toc40254027">Figure </a></span><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Access to New BSPlink beta version</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  5. Start training
</p>

<p class="MsoNormal">
  The first time you login into the ‘New BSPlink beta version’, you need to complete an entry form. The form may differ
  depending on the user type. Please fill out the form and click on ‘Start training’.
</p>

<p
  class="BodyText"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 12pt; line-height: normal; text-align: center"
>
  <span lang="EN-GB"><img width="350" src="gds/images/new-bsplink-training-portal-6.jpg" /></span
  ><span lang="EN-GB"><img width="350" src="gds/images/new-bsplink-training-portal-7.jpg" /></span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  6. Download the ‘Simulation Data Inventory’ and start practising
</p>

<p class="MsoNormal">
  Once you completed the entry form, you will land in the ‘New BSPlink - Training portal’. Download the ‘Simulation Data
  Inventory’ here and start practising in this portal.
</p>

<p class="MsoNormal">
  The Training Portal offers the possibility to explore the different modules and options in New BSPlink. In order to
  ensure the comprehension of its functions, this manual can be utilized in combination with the portal.
</p>
