<p class="BodyText" style="line-height: normal">
  This option allows IATA users to query the list of Agents participating in each BSP.
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/agents-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc8220529"></a><a name="_Toc20479941"></a><a name="_Toc26451536"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Agent index.</span>
</p>

<p class="BodyText" style="line-height: normal">For each agent, the following general data are displayed:</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>BSP</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Code:</b> The IATA code assigned to each Agent.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Name:</b> The Agent’s name.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Register Date: </b>The beginning of the Airline’s effective period.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Location Type: </b>Two-letter agent location type, according to IATA definition. Possible values are:
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">HE - &quot;Head Entity&quot;.</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">AE - &quot;Associate Entity&quot;.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Status:</b> Whether the agent is “Active” or “Non-Active”.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Cash, EasyPay and Payment Card:</b> For each of these payment options, agents can be “Active”, “Non Active” or
  “Not Authorized”.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Parent IATA Code</b>
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >In addition to the above-mentioned general data, it is possible to obtain detailed information displayed by
    clicking on each agent’s data:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" src="iata/images/agents-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220530"></a><a name="_Toc20479942"></a><a name="_Toc26451537"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">2</span><span lang="EN-GB">: Agent Data.</span>
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >“Address”, "Locality", “City”, “State”, “Country/Territory”, “Postcode”, “Email”, “Phone”, “Fax”, “Contact Name”,
    “VAT Number”, “Remittance Frequency” and "Location Class". It should be noted that the following values apply for
    “Remittance Frequency"</span
  >:
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> W - &quot;Weekly&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> T - &quot;Twice a Week&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> S - &quot;Super Weekly&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> F - &quot;Fortnightly&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> D - &quot;Daily&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> M - &quot;Monthly&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> R - &quot;Every 10 days&quot; </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> X - &quot;TIDS agents&quot; </span>
</p>

<p class="BodyText" style="line-height: normal">
  Regarding the “Location Class”, it is a 1-tetter code indicating the agent’s location class, according to the
  following classification: <b>A </b>(AIRLINE POINTS OF SALE), <b>C</b> (CARGO), <b>D</b> (Domestic), <b>F</b> (ERSP -
  Elec.Rsvtn.Srv.Provider), <b>G</b> (GSA), <b>I </b>(import agents), <b>K</b> (CATO), <b>L</b> (non-IATA locations),
  <b>M</b> (MSO), <b>N</b> (NISI), <b>O</b> (SATO), <b>P</b> (Passenger), <b>Q</b> (couriers), <b>R</b> (CASS
  associates), <b>S</b> (SSI), <b>T</b> (TIDS), <b>U</b> (Puerto Rico and US Virgin IS), <b>X</b> (Handling AGTS &amp;
  Shipping Lines), <b>Y</b> (associations), <b>Z</b> (Travel Ind Suppliers).
</p>

<p class="BodyText" style="line-height: normal">
  By default, no filter is applied when the IATA user queries Agents in each BSP. It is possible to narrow down results
  by clicking on the
  <span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 89" src="iata/images/image286.jpg" /></span>
  button at the top right:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="88" id="Imagen 35" src="iata/images/agents-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220531"></a><a name="_Toc20479943"></a><a name="_Toc26451538"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">3</span><span lang="EN-GB">: Agent filter.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Country / Territory</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Agent Code or Name: </b>To restrict the search to a specific agent.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Parent IATA Code</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Status: </b>Either Active or not.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Register Date: </b>To query agents by registration date.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Expiry Date From/To: </b>To query agents by expiry date.
</p>

<p class="BodyText" style="line-height: normal">
  It is also possible to narrow down the results using other filters by clicking on the “Advanced Search” bar:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" src="iata/images/agents-4.jpg.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220532"></a><a name="_Toc20479944"></a><a name="_Toc26451539"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">4</span><span lang="EN-GB">: Agent Advanced Search bar.</span>
</p>

<p class="BodyText" style="line-height: normal">
  This option allows the IATA user to query Airlines in a given BSP by filtering the following data:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="645" src="iata/images/agents-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220533"></a><a name="_Toc20479945"></a><a name="_Toc26451540"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">5</span><span lang="EN-GB">: Agent Advanced Search.</span>
</p>

<p class="BodyText" style="line-height: normal">Agents in a given BSP can be filtered by:</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Location class:</b> A list with the following values is deployed: “A – Airline Points of Sale”, “C – Cargo”, “D –
  Domestic”, “F – ERSP (<span lang="EN-GB" style="color: #545454; background: white"
    >Electronic Reservation Services Provider</span
  >)”, “G – GSA”, “I – Important Agents”, “K – CATO”, “L – Non-IATA Location”, “M – MSO”, “N – NISI”, “O – SATO”, “P –
  Passenger”, “R – CASS Associate”, “S, SSI”, “T – TIDS”, “U – Puerto Rico and US Virgin Islands”, “X – Handling Agents
  and Shipping Lines”, “Y – Associations”, “Z – Travel Industry Suppliers”.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Location type:</b> A list with the following values is displayed: “HE – Head Entity”, “AE – Associate Entity”
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Remittance Frequency:</b> A list with the following values is displayed: “W – Weekly”, “T – Twice a Week”, “S –
  Super Weekly”, “F – Fortnightly”, “D – Every 10 Days (Dual)”, “M – Monthly”, “R – Every 10 Days”, “X – TIDS Agents”.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>VAT Number</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Locality</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>City</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>State</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Country / Territory:</b> a list with the existing countries is displayed. Multiple choice is possible.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Postal Code</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Email</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Phone</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Fax</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Cash, EasyPay and Payment Cards forms of payment:</b> It is possible to choose one value from the following ones:
  “Active”, “Not Authorized”, “Not Active”.
</p>

<p class="BodyText" style="line-height: normal">
  Once the filter fields have been selected, the user should click “Search” to launch the query. A list of agents that
  fulfill the filter conditions will be displayed.
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  The
  <span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 105" src="iata/images/image290.jpg" /></span
  ><span lang="EN-GB"> </span>button at the top right makes possible to download the complete list of agents or the
  filtered query.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Agent Profile
</p>

<p class="MsoNormal">
  It is possible to display the profile of a specific Agent by clicking on its name from the Agent index:
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/agents-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Accessing Agent Profile.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once clicked, the Agent Profile is shown. It includes three main tabs: Properties, Ticketing Authority and GDS by
    Agent.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Properties
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The Agent Properties contain the General, Contact, Address and Payment details:</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="307" id="Imagen 136" src="iata/images/image292.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: Agent Properties.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Ticketing Authority
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This tab displays the enabled Ticketing Authority by default. The information is stored on a table which includes
    the following data:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Address</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent City</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Designator</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Ticketing Authority Management:</span></b
  ><span lang="EN-GB"> Enabled / Disabled.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to narrow the query down by means of the
    <img border="0" width="82" height="30" id="Imagen 138" src="iata/images/image293.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="iata/images/agents-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: Agent Ticketing Authority.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The following parameters may apply:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline IATA Code / Name:</span></b
  ><span lang="EN-GB"> multiple choice is possible from a dropdown list.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Designator:</span></b
  ><span lang="EN-GB"> multiple choice is possible from a dropdown list.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Ticketing Authority Status:</span></b
  ><span lang="EN-GB"> Enabled or Disabled.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Address</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent City</span></b
  ><span lang="EN-GB"></span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  GDS By Agent
</p>

<p class="MsoNormal"><span lang="EN-GB">This tab displays the list of GDSs the Agent operates with:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Code</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS Name</span></b>
</p>

<p class="MsoNormal" style="line-height: 150%">
  <span lang="EN-GB"
    >It is possible to narrow down this query by means of the
    <img border="0" width="82" height="30" id="Imagen 140" src="iata/images/image286.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"> <img border="0" width="645" height="147" id="Imagen 63" src="iata/images/image295.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">9</span><span lang="EN-GB">: Filter GDS by Agent.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The following parameters may be applied:</span></p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS Code: </span></b
  ><span lang="EN-GB">GDS Code, multiple choice is possible from a dropdown list.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 150%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB"> “Assigned” (if the Agent operates with a given GDS) / “Unassigned” (if not).</span>
</p>
