<p class="BodyText" style="line-height: normal">
  <a name="_Hlk54794606"
    >This option allows viewing and editing the list of airlines participating in each BSP. The airline’s information is
    automatically loaded in the system.</a
  >
</p>

<p class="BodyText" style="line-height: normal">
  When the “Airline” option is selected, a list of registered airlines is displayed by default.
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="645" height="131" id="Imagen 10" src="iata/images/image257.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 6pt; text-align: center">
  <a name="_Toc8220524"></a><a name="_Toc20479936"></a><a name="_Toc26451531"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Airlines.</span>
</p>

<p class="BodyText" style="line-height: normal">For each airline, the following general data are displayed:</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Code:</span></b
  ><span lang="EN-GB"> the IATA code of the Airline.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Name</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Designator: </b>designator code <span lang="EN-GB">of the Airline.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Register Date/Expiry Date: </b>the effective period of the Airline.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Status: </b>whether the airline is “Active” or “Non-Active”.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      ><img border="0" width="22" height="22" id="Imagen 218" src="iata/images/image258.jpg" /></span></b
  ><b>: </b>this icon gives the option to view the Airline detailed information and to manage its Ticketing Authority.
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >In addition to the above-mentioned general data, it is possible to query detailed information by clicking on each
    airline’s data:</span
  >
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >“Address”, “City”, “Postcode”, “Country”, “Email”, “Telephone”, “Fax”, “Contact Name”, “VAT Number”, “EasyPay
    Status”, “EasyPay Effective From”, “IATA” (3-digit airline code).</span
  >
</p>

<p class="BodyText" align="center" style="line-height: normal; text-align: center">
  <span lang="EN-GB"> <img border="0" width="642" height="146" id="Imagen 12" src="iata/images/image259.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220525"></a><a name="_Toc20479937"></a><a name="_Toc26451532"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">2</span><span lang="EN-GB">: Airline data.</span>
</p>

<p class="BodyText" style="line-height: normal">For “EasyPay Status”, possible values are:</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">OPTIN:</span></b
  ><span lang="EN-GB"> the airline accepts Easy Pay.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">OPTOUT:</span></b
  ><span lang="EN-GB"> the airline does not accept Easy Pay.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB"
    >Please note that the VAT number of the Airline is indicated in the Airline Profile, in case this is requested by
    agents.</span
  >
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >Results can be sorted in ascendant or descendant order by clicking on the header of any of the fields
    available.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt">
  The
  <span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 211" src="iata/images/image260.jpg" /></span>
  icon at the
  <span lang="EN-GB">top-right corner of the screen allows filtering the result by the following fields:</span>
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 18.7pt;
    text-indent: -18.7pt;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="86" id="Imagen 13" src="iata/images/image261.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220526"></a><a name="_Toc20479938"></a><a name="_Toc26451533"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">3</span><span lang="EN-GB">: Airline filter.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Airline Code or Name: </span></b
  ><span style="color: windowtext">To restrict the search to a specific airline. </span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Status: </span></b><span style="color: windowtext">Active or inactive.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Register Date: </span></b
  ><span style="color: windowtext"
    >It is possible to select just one date or a temporal frame by selecting two different dates.</span
  >
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span style="color: windowtext">Expiry Date From/To: </span></b
  ><span style="color: windowtext"
    >It is possible to select just one date or a temporal frame by selecting two different dates.</span
  >
</p>

<p class="BodyText" style="line-height: normal">
  It is also possible to narrow down the results by means of other data by clicking on the “Advanced Search” bar:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="642" src="iata/images/image262.jpg" /></span>
</p>

<p
  class="MsoCaption"
  align="center"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; text-align: center"
>
  <a name="_Toc8220527"></a><a name="_Toc20479939"></a><a name="_Toc26451534"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">4</span><span lang="EN-GB">: Airline Advanced Search bar.</span>
</p>

<p class="BodyText" style="line-height: normal">
  This option allows the IATA user to query Airlines by filtering more specific data:
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="202" id="Imagen 14" src="iata/images/image263.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220528"></a><a name="_Toc20479940"></a><a name="_Toc26451535"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">5</span><span lang="EN-GB">: Airline Advanced Search.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Designator code</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>VAT number</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>EasyPay Status:</b> “OPTIN”, when EasyPay is enabled by the Airline, and “OPTOUT”, when it is disabled.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>EsayPay Effective Date</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>City</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>State</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Country:</b> A list with the existing countries is displayed. Multiple choice is possible.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Postal Code</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Email</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Telephone</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>First name</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Last name</b>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  Once the filter form has been completed, the user should click “Search” to launch the query. The result list will be
  automatically updated with the airlines that fulfill the filter conditions entered.
</p>

<p class="BodyText" style="line-height: normal">
  It is also possible to download the query results in TXT or CSV format by clicking the
  <span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 219" src="iata/images/image264.jpg" /></span>

  icon.<span style="color: #172b4d"> </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Airline Profile
</p>

<p class="MsoNormal">
  By clicking on the Airline name, a new tab with the Airline Profile is displayed. It is divided into two sections:
  Properties and Ticketing Authority:
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Airline Properties
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Airline Properties are grouped in four categories: General, Contact Details, Payment Information and Address
    Details:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="288" id="Imagen 21" src="iata/images/image265.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Airline Properties.</span>
</p>

<h5>
  <a name="_Hlk54794644"><span style="font-size: 12pt; line-height: 97%"></span></a>
</h5>
<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Airline Ticketing Authority
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >IATA users can check and manage the Ticketing Authority (TA) assigned to any Agent belonging to any BSP where the
    Airline operates. When this tab is clicked, the following information is displayed:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="194" id="Imagen 22" src="iata/images/airlines-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: Airline's TA.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk54795083"
    ><span lang="EN-GB"
      >A list with the existing Agents in the selected BSP is displayed, including the Agent’s Code, Name, Address,
      City, Status and Ticketing Authority Status.
    </span></a
  ><span lang="EN-GB">For those Agents with enabled Ticketing Authority, the </span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 231" src="iata/images/image267.jpg" /></span
  ><span lang="EN-GB">
    icon appears under “Ticketing Authority Management”. On the contrary, if the Ticketing Authority is disabled, it is
    marked with the </span
  ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 232" src="iata/images/image268.jpg" /></span
  ><span lang="EN-GB"> icon. </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">Similarly, it is possible to filter the results by clicking on the </span
  ><span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 233" src="iata/images/image269.jpg" /></span
  ><span lang="EN-GB"> button. Once done, the following fields allow the Airline user to filter the query:</span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/airlines-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: TA Filter.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >This option allows querying the Ticketing Authority information by Agent Code or Name (from a drop-down list or by
    writing down any of them), by Ticketing Authority Status (Enabled/Disabled), Agent Status, Group, Address or City.
    Once the selected fields have been populated, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 236" src="iata/images/image271.jpg" /></span
  ><span lang="EN-GB"> to obtain the results.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The Airline user can download the TA information, either filtered or not, by clicking on </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 244" src="iata/images/image272.jpg" /></span
  ><span lang="EN-GB">. </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Modify Ticketing Authority
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >IATA Users
    <a name="_Hlk19021808"
      >may modify an Agent’s Ticketing Authority simply by clicking the icon under “Ticketing Authority Management”:</a
    ></span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"
    ><img
      border="0"
      width="645"
      height="198"
      id="Imagen 29"
      src="iata/images/airlines-9.jpg"
      alt="Captura de pantalla de un celular&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc34375479"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: Individual Edition of Ticketing Authority Status.</span>
</p>

<p class="MsoNormal">
  <a name="_Hlk19022047"
    ><span lang="EN-GB">Once clicked, the status gets changed and highlighted before being confirmed:</span></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="141" height="52" id="Imagen 246" src="iata/images/image274.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc34375480"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: Highlighted changed TA status.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The <img border="0" width="117" height="30" id="Imagen 248" src="iata/images/image275.jpg" /> button gets
    automatically available once the icon gets clicked and hence the TA status is changed.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >However, it is possible to modify the Ticketing Authority for all existing Agents in the selected BSP by clicking
    on the <img border="0" width="22" height="22" id="Imagen 249" src="iata/images/image276.jpg" /> icon next to the
    field name:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="121" id="Imagen 250" src="iata/images/image277.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc34375481"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: Massive Edition of Ticketing Authority.</span>
</p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Please note that changes are not saved unless the Airline user clicks the
    <img border="0" width="117" height="30" id="Imagen 277" src="iata/images/image278.jpg" /> button at the top left. A
    new modal box which requests the confirmation by the Airline user is then displayed:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-align: center;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="378" id="Imagen 281" src="iata/images/image279.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc34375482"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: Confirmation to modify Ticketing Authority.</span>
</p>

<p class="MsoNormal" style="margin: 0in"><span lang="EN-GB">The Airline user may then:</span></p>

<p
  class="MsoListParagraphCxSpFirst"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Confirm changes by means of the
    <img border="0" width="61" height="30" id="Imagen 286" src="iata/images/image280.jpg" />
    button.</span
  >
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Disregard changes by means of the
    <img border="0" width="75" height="30" id="Imagen 287" src="iata/images/image281.jpg" />
    button.</span
  >
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="margin-top: 0in; margin-right: 0in; margin-bottom: 0in; margin-left: 0.25in; text-indent: -0.25in"
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Get back to the “Ticketing Authority” tab by means of the
    <img border="0" width="70" height="30" id="Imagen 296" src="iata/images/image282.jpg" />
    button.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in"><span lang="EN-GB">&nbsp;</span></p>

<p class="MsoNormal" style="margin: 0in">
  <span lang="EN-GB"
    >Lastly, the <img border="0" width="218" height="30" id="Imagen 32" src="iata/images/image283.jpg" /> button allows
    disabling the Ticketing Authority for all the displayed Agents, either filtered or not.</span
  >
</p>
