<p class="MsoNormal">
  This option allows the IATA user to assign currencies to a BSP so that they can be used for document issuances in that
  BSP.
</p>

<p class="MsoNormal" align="center" style="text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="130" id="Imagen 38" src="iata/images/image300.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220513"></a><a name="_Toc20479925"></a><a name="_Toc26451520"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: Currency BSP Assignments.</span>
</p>

<p class="MsoNormal">
  When this option is selected, a list of Currency BSP Assignations already registered in the system is displayed. For
  each assignation, the following information is provided:
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">Currency ISO code.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Number of Decimals: </span></b
  ><span lang="EN-GB">The number of decimals that each currency accepts.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Default Currency: </span></b
  ><span lang="EN-GB">If the currency has been assigned as the default currency in the BSP or not.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Register Date / Expire Date: </span></b
  ><span lang="EN-GB">The dates of the currency registration and expiry.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >Whether the currency is Active (“true”) or not (“false”), depending on the Register and Expire Dates.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in">
  <span lang="EN-GB">It is possible to create or update Currency BSP Assignations.</span>
</p>
