<p class="BodyText" style="margin-top: 0in; line-height: normal">
  This option allows the IATA user to maintain the GDSs available in the New BSPlink system.
</p>

<p class="BodyText" style="margin: 0in; line-height: normal">
  When selecting the option, a list of<span lang="EN-GB">
    GDSs already registered in the system is displayed. For each GDS, the following information is provided:
  </span>
</p>

<p class="BodyText" align="center" style="margin: 0in; line-height: normal; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="131" id="Imagen 40" src="iata/images/image301.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <a name="_Toc8220520"></a><a name="_Toc20479932"></a><a name="_Toc26451527"><span lang="EN-GB">Figure </span></a
  ><span lang="EN-GB">1</span><span lang="EN-GB">: GDS view.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS Name: </span></b><span lang="EN-GB">Name of the GDS.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Regiter Date:</span></b
  ><span lang="EN-GB"> The date in which the GDS was included.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date:</span></b
  ><span lang="EN-GB"> The date in which the GDS is to be removed.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refunds Enabled:</span></b
  ><span lang="EN-GB"> Yes / No.</span>
</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB"> Active / Inactive.</span>
</p>
