<p class="BodyText" style="line-height: normal">
  This option allows the user the assignation of templates for airline organizations globally. Like so, the users of the
  same airline organization have the same template level across all BSPs they participate in. The information of the
  templates assigned to the global airlines is automatically loaded in the system.
</p>

<p class="BodyText" style="line-height: normal">
  When the “Global Airlines” option is selected, a list of registered airlines is displayed by default.
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="iata/images/global-airlines-1.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 1: Global Airlines.</span>
</p>

<p class="BodyText" style="line-height: normal">For each airline, the following general data are displayed:</p>

<p class="BulletLevel1">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Code:</span></b
  ><span lang="EN-GB"> the IATA code of the Airline.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Name</b>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Designator: </b>designator code <span lang="EN-GB">of the Airline.</span>
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Template: </b>template assigned to the Global Airline.
</p>

<p class="BulletLevel1">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      ><img border="0" width="22" height="22" id="Imagen 218" src="iata/images/image258.jpg" /></span></b
  ><b>: </b>this icon gives the option to assign the templates to Global Airlines or modify the one already assigned.
  When the ‘Template’ action is clicked, the following ‘Template Assignment’ pop-up is displayed:
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="50%" src="iata/images/global-airlines-2.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 2: Template Assignment for Global Airlines.</span>
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >Thanks to this ‘Template Assignment’ pop-up, the user can select the template to be assigned to the Global Airline
    among the following options:</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span style="font: 7pt 'Times New Roman'"> </span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;Efficient template (formerly named as ‘Basic’): The basic configuration module, ADM/ACM
    module (except for the ADM/ACM per reporting period query, Issue ADM/ACM pending Authorization and Supervise ADM/ACM
    options, which belong to the enhanced template), Refund Application/ Authority query, the complete Ticketing
    Authority module, Download, Upload ADM/ACM files, Mass Loaded Files Download, Change Login and Password, Change Mail
    and Virtual MPD. Only for Maestro DPC and if applicable, it also includes the Net Remit module.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span style="font: 7pt 'Times New Roman'"> </span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;Streamlined (formerly named as ‘Enhanced’): It includes access to all the options in
    Airline's main menu.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span style="font: 7pt 'Times New Roman'"> </span
  ><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;Lean: for multi-country users.</span>
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >Note that when the global template is changed to Streamline or Lean, the related local users will be automatically
    updated to Streamline, thus avoiding manual intervention by the IATA user. Likewise, when the global template is set
    back from Lean to Streamline or Efficient, the local users will automatically recover those permissions that may
    have been previously revoked.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt">
  The
  <span lang="EN-GB"><img border="0" width="82" height="30" id="Imagen 211" src="iata/images/image260.jpg" /></span>
  icon at the
  <span lang="EN-GB">top-right corner of the screen allows filtering the result by the following fields:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="100%" src="iata/images/global-airlines-3.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB">Figure 3: Global Airlines filter.</span>
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span style="font: 7pt 'Times New Roman'"> </span
  ><span lang="EN-GB"
    >&nbsp;&nbsp;&nbsp;&nbsp;<b>Global Airline Code / Name:</b> To restrict the search to one or more global
    airlines.</span
  >
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span style="font: 7pt 'Times New Roman'"> </span><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Designator</b></span>
</p>

<p
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.3in;
    text-indent: -0.3in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa">●</span
  ><span style="font: 7pt 'Times New Roman'"> </span><span lang="EN-GB">&nbsp;&nbsp;&nbsp;&nbsp;<b>Template</b></span>
</p>

<p class="BodyText" style="line-height: normal">
  Once the filter form has been completed, the user should click “Search” to launch the query. The result list will be
  automatically updated with the airlines that fulfill the filter conditions entered.
</p>

<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >It is also possible to download the query results in TXT or CSV format by clicking the
    <img border="0" height="30" src="iata/images/image041.jpg" /> icon.
  </span>
</p>
