<p class="MsoNormal">
  The Periods option displays the configured billing periods in the BSP the IATA User is logged in.
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" height="161" id="Imagen 44" src="iata/images/image302.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc20479960"></a><a name="_Toc26451555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: GDS BSP Assignment.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b
  ><span lang="EN-GB"
    >the period follows a YYYYMMP format, where “YYYY” corresponds to the year, “MM” corresponds to the month and “P”
    corresponds to the period (1, 2, 3 or 4).</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Date From: </span></b
  ><span lang="EN-GB">the first date in which transactions are included in the period.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Date To:</span></b
  ><span lang="EN-GB"> the date until which transactions are included in the period.</span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: 115%">
  <span lang="EN-GB"
    >The list of Periods can be filtered by clicking the
    <img border="0" width="82" height="30" id="Imagen 300" src="iata/images/image303.jpg" />
    button:</span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: 115%; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" height="89" id="Imagen 46" src="iata/images/image304.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: GDS Assignment Filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Date from:</span></b
  ><span lang="EN-GB"> this date can be delimited to two given dates.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Date To:</span></b
  ><span lang="EN-GB"> as the “Date From”, this date can be delimited to two given dates.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Besides, it is possible to download the results, either filtered or not, though the
    <img border="0" width="106" height="30" id="Imagen 242" src="iata/images/image305.jpg" /> button. It is possible to
    obtain a zipped file under the CSV or XSL formats.</span
  >
</p>
