<p class="MsoNormal">
  When variable remittance is available in a BSP territory, this option allows IATA users to override it. Once clicked,
  the following screen is displayed:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/variable-remittance-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc20479960"></a><a name="_Toc26451555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Override Variable Remittance view.</span>
</p>

<p class="MsoNormal">Overridden variable remittances are indicated on a table which includes the following data:</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Name</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Frequency</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">1 (monthly)</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">2 (fortnightly)</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">3 (weekly)</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">4 (daily)</span>
</p>

<p class="MsoNormal">
  It is possible to narrow down queries by clicking on <img border="0" height="30" src="iata/images/image037.jpg" />.
  The following filters may be applied:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/variable-remittance-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc20479960"></a><a name="_Toc26451555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Variable remittances filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code / Name</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Frequency</span></b>
</p>

<p class="MsoNormal">
  Besides, it is possible to download the results, either filtered or not, though the
  <img border="0" height="30" src="iata/images/image041.jpg" /> button.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Override variable remittance
</p>

<p class="MsoNormal">
  It is possible to override new variable remittances by clicking on
  <img border="0" height="30" src="iata/images/icon+override.jpg" />. The following dialogue is shown:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="500" src="iata/images/variable-remittance-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc20479960"></a><a name="_Toc26451555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: New overridden frequency.</span>
</p>

<p class="MsoNormal">It is necessary to select one value from the following dropdown lists:</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">1 (monthly)</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">2 (fortnightly)</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">3 (weekly)</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><span lang="EN-GB">4 (daily)</span>
</p>

<p class="MsoNormal">
  To add the new variable remittance, click on <img border="0" height="30" src="iata/images/icon-add-blue.jpg" />. The
  system will confirm that it has been successfully added.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Modify variable remittance
</p>

<p class="MsoNormal">
  To modify the variable remittance of an agent, it is necessary to select it from a dropdown list deployed under
  ”Frequency”:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="646" src="iata/images/variable-remittance-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc20479960"></a><a name="_Toc26451555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Change of variable remittance.</span>
</p>

<p class="MsoNormal">
  Once the wished frequency is selected, the
  <img border="0" height="30" src="iata/images/icon-override-frequency.jpg" />. turns available. It is necessary to
  click on it, and the following confirmation message indicating the Agent Code and the selected Frequency appears:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="500" src="iata/images/variable-remittance-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc20479960"></a><a name="_Toc26451555"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Confirmation message.</span>
</p>

<p class="MsoNormal">
  Users may click on <img border="0" height="30" src="iata/images/image280.jpg" />to confirm the change or on
  <img border="0" height="30" src="iata/images/image281.jpg" /> not to change the frequency. To get back to the main
  view of Variable Remittances, click on <img border="0" height="30" src="iata/images/image221.jpg" />.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Remove variable remittance
</p>

<p class="MsoNormal">
  To remove the variable remittance of an agent, it is necessary to click on
  <img border="0" height="30" src="iata/images/image212.jpg" />. The following confirmation dialogue is displayed:
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="500" src="iata/images/variable-remittance-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Remove variable frequency.</span>
</p>

<p class="MsoNormal">
  It is necessary to confirm the removal by clicking on
  <img border="0" height="30" src="iata/images/icon-blue-remove.jpg" />. The system confirms then that the variable
  remittance has been successfully removed.
</p>
