<div class="view-list">
  <div class="view-list-header">
    <div class="view-list-header-content">
      <h3 class="view-title" l10nTranslate>{{ title }}</h3>
      <ng-content select="[headerContent]"></ng-content>
    </div>
    <div class="view-actions">
      <bspl-button
        *ngIf="hasFiltering"
        l10nTranslate
        label="common.filter"
        [design]="btnDesign.Tertiary"
        [icon]="filterIcon"
        (onClick)="filterBtnClick()"
      ></bspl-button>
      <bspl-button
        *ngIf="hasDownloading"
        l10nTranslate
        label="common.download"
        [design]="btnDesign.Tertiary"
        [isDisabled]="!gridTable?.hasData"
        icon="mi md-18 get_app"
        (onClick)="downloadItems()"
      ></bspl-button>
      <bspl-button
        *ngIf="hasCreating"
        l10nTranslate
        [label]="createBtnLabel || 'common.create'"
        [design]="btnDesign.Secondary"
        icon="mi md-18 add"
        (onClick)="onCreate()"
      ></bspl-button>
    </div>
  </div>
  <bspl-search-panel
    [hidden]="!(hasFiltering && isSearchPanelVisible)"
    [form]="searchForm"
    [filters]="filter"
    [showCollapsableIcon]="false"
    [showAdvancedSearchBtn]="showAdvancedSearchBtn"
    [predefinedFilters]="predefinedFilters"
    [searchCriteriaKeyMappers]="searchCriteriaKeyMappers"
    [searchCriteriaValueMappers]="searchCriteriaValueMappers"
    [beforeFilterApply$]="beforeDataLoad$"
    (search)="applyFilters($event)"
    (removeFilter)="removeFilter()"
    (clear)="applyFilters($event)"
    (toggleAdvanceSearchPanel)="toggleAdvanceSearchPanel($event)"
  >
    <ng-content select="[searchPanelContent]" searchPanel></ng-content>
  </bspl-search-panel>
  <bspl-grid-table
    [paging]="paging"
    [sorting]="sorting"
    [sortOrder]="sortOrder"
    [sortedColumn]="sortedColumn"
    [dataSource]="dataSource"
    [columns]="columns"
    [primaryFilter]="filter"
    [primaryActions]="primaryActions"
    [showIconEmptyActions]="showIconEmptyActions"
    [rowDetailTemplate]="rowDetailTemplate"
    [beforeQueryChange$]="beforeDataLoad$"
    (sortChange)="onTableSortChange($event)"
    (pageChange)="onTablePageChange($event)"
    (actionClick)="onActionClick($event)"
    (rowLinkClick)="tableRowLinkClick.emit($event)"
    (checkboxChange)="onCheckboxChange($event)"
    (actionsMenuClick)="onGetServiceActions($event)"
  >
  </bspl-grid-table>
</div>
