@import 'theme/variables/index';

.view-list {
  .view-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-xl 0;

    .view-list-header-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .view-title {
        font-size: $font-size-xxl;
        font-weight: normal;
        line-height: 30px;
        color: $blue-primary;
        margin: 0;
      }
    }

    .view-actions {
      bspl-button {
        margin-left: $spacing-s;
      }
    }
  }
}
