<div class="hide-bottom-border">
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="!hasRelatedDocumentInformation"
  >
    <bspl-property-list class="section one-third" header="document.acdm.transactionInformation.sectionTitle">
      <bspl-property
        label="document.acdm.transactionInformation.bspName"
        [value]="acdm.bsp?.name || acdm.isoCountryCode"
      ></bspl-property>
      <bspl-property
        label="document.acdm.transactionInformation.gdsSystem"
        [value]="acdm.gds.name || acdm.gds.gdsCode"
      ></bspl-property>
      <bspl-property label="document.acdm.transactionInformation.agent" [value]="acdm.agent.iataCode"> </bspl-property>
      <bspl-property label="document.acdm.transactionInformation.formOfPayment">
        {{ acdm.formOfPaymentSummary?.type }} {{ acdm.formOfPaymentSummary?.description }}
      </bspl-property>
      <bspl-property label="document.acdm.transactionInformation.currency" [value]="acdm.currencyType"> </bspl-property>
      <bspl-property
        label="document.acdm.transactionInformation.issueDate"
        [value]="acdm.documentIdentification.dateOfIssue | date : 'dd/MM/yyyy'"
      ></bspl-property>
      <bspl-property
        label="document.acdm.transactionInformation.captureDate"
        [value]="acdm.captureDate | date : 'dd/MM/yyyy'"
      ></bspl-property>
      <bspl-property
        label="document.acdm.transactionInformation.settlementPeriod"
        [value]="acdm.settlementPeriod"
      ></bspl-property>
      <bspl-property label="document.acdm.transactionInformation.netRemit" [value]="netRemit"> </bspl-property>
      <bspl-property
        label="document.acdm.transactionInformation.tourCode"
        [value]="acdm.documentIdentification.tourCode"
      ></bspl-property>
    </bspl-property-list>
    <section class="section one-third">
      <bspl-property-list class="property-list-align-right" header="document.acdm.transactionAmount.sectionTitle">
        <bspl-property
          label="document.acdm.transactionAmount.cashAmount"
          [value]="acdm.cashAmount | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.acdm.transactionAmount.paymentCardAmount"
          [value]="acdm.creditAmount | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.acdm.transactionAmount.easyPayAmount"
          [value]="acdm.easyPayAmount | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list
        header="document.acdm.accountInformation.sectionTitle"
        class="property-list-align-right right mt-5"
      >
        <bspl-property
          label="document.acdm.accountInformation.vatGstAmount"
          [value]="acdm.accountInformation.vatGstAmount | number : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property label="document.acdm.accountInformation.agentCommission">
          ( {{ acdm.accountInformation.agentCommissionPercent }}% )
          {{ acdm.accountInformation.agentCommissionAmount | absoluteDecimal : acdm.decimalPrecision }}
        </bspl-property>
        <bspl-property
          label="document.acdm.accountInformation.fareAdjustmentAmount"
          [value]="acdm.accountInformation.fareAdjustmentAmount | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.acdm.accountInformation.cancellationFees"
          [value]="acdm.accountInformation.cancellationFees | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property
          label="document.acdm.accountInformation.cancellationFeesCommission"
          [value]="acdm.accountInformation.cancellationFeesCommission | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property
          class="property-emphasis"
          label="document.acdm.accountInformation.onlineBillingStatementAgent"
          [value]="acdm.accountInformation.onlineBillingStatementForAgent | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
        <bspl-property
          class="property-emphasis"
          [label]="
            isAcm
              ? 'document.acdm.accountInformation.balancePayableByAirline'
              : 'document.acdm.accountInformation.balancePayableToAirline'
          "
          [value]="acdm.accountInformation.balancePayableAirline | absoluteDecimal : acdm.decimalPrecision"
        ></bspl-property>
      </bspl-property-list>
    </section>
    <section class="section one-third">
      <bspl-tax
        [taxes]="acdm.stdAmounts.taxes"
        [decimalPrecision]="acdm.decimalPrecision"
        [totalTaxes]="acdm.stdAmounts.totalTaxes"
      ></bspl-tax>
    </section>
  </div>
  <div class="section-container no-section-bottom-border pdf-page-break-inside-avoid">
    <section *ngIf="hasRelatedDocumentInformation" class="section half">
      <bspl-simple-table
        [title]="'document.acdm.transactionRelatedDocumentNumbers.sectionTitle'"
        [columns]="transactionRelatedDocuments"
        [data]="acdm.relatedDocumentInformation"
      ></bspl-simple-table>
    </section>
  </div>
</div>

<ng-template #relatedDocumentsTemplate let-column="column" let-dataItem="dataItem" let-table="table">
  <a class="link" (click)="documentOpened.emit(dataItem[column.field])"> {{ dataItem[column.field] }}</a>
</ng-template>
