<bspl-spinner [isLoading]="isLoading" relativeTo="parent"></bspl-spinner>

<!-- HEADER -->
<div class="editable-list-header">
  <h3>{{ title | translate }}</h3>
  <div class="editable-list-header-buttons">
    <ng-content select="[bsplEditableListButtons]"></ng-content>
    <bspl-button
      *ngIf="hasCreate"
      icon="mi md-18 add"
      [label]="createButtonLabel || 'BUTTON.DEFAULT.ADD'"
      [design]="btnDesign.Secondary"
      [isDisabled]="hasItemInEditMode"
      [bsplTooltip]="hasItemInEditMode ? (createButtonTooltip | translate) : ''"
      (onClick)="onCreate()"
    ></bspl-button>
  </div>
</div>

<!-- LIST -->
<div class="editable-list">
  <div class="header">
    <div class="data">
      <p *ngFor="let column of columns" [style.width]="column.width + '%'">
        {{ column.name | translate }}
      </p>
    </div>
  </div>
  <div class="items">
    <ul>
      <li *ngFor="let item of items">
        <bspl-editable-item
          [item]="item"
          [columns]="columns"
          [form]="itemForm"
          [formMapper]="itemFormMapper"
          [hasDisabledActions]="hasItemInEditMode"
          [hasEdit]="hasEdit"
          [hasDelete]="hasDelete"
          (delete)="deleteItem.emit($event)"
          (save)="onSaveItem($event)"
          (cancel)="onCancelItem($event)"
          (editModeChange)="onEditModeChange($event)"
        ></bspl-editable-item>
      </li>
    </ul>
    <p class="msg-no-items" [hidden]="items?.length">{{ 'editableList.noItems' | translate }}</p>
  </div>
</div>
