@import 'theme/variables/index';

.editable-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-xl;

  .editable-list-header-buttons {
    bspl-button,
    bspl-split-button {
      margin-left: $spacing-s;
    }
  }
}

.editable-list {
  line-height: 20px;
  color: $gray-deep;
  background-color: $gray-subtle;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0;
  padding: $spacing-xl $spacing-xxxl;

  .header {
    font-size: $font-size-m;
    padding: 0;
    border-bottom: 1px solid $gray-neutral;
    width: 100%;
    overflow: hidden;

    .data {
      width: 90%;
    }

    p {
      margin: 0;
      padding: 0.8rem;
      font-size: $font-size-s;
      font-weight: bold;
      float: left;
    }
  }

  .items ul {
    list-style-type: none;
    padding: 0;

    li {
      line-height: auto;
    }
  }

  p.msg-no-items {
    margin-top: $spacing-m;
    font-weight: normal;
    text-align: center;
  }
}
