<div class="changes-dialog">
  <p class="msg">{{ config.data.description | translate }}</p>
  <section *ngFor="let user of config.data.modifiedUsers" class="user-group">
    <h4 class="title">{{ user.portalEmail }}</h4>
    <div class="template-label">
      {{ 'subUsers.templatesScreen.applyDialogTemplateTitle' | translate }}
    </div>
    <div class="template-value">{{ user.template | titlecase }}</div>
  </section>
</div>
