@import '~src/app/shared/scss/index';

.changes-dialog {
  padding-bottom: $spacing-l;

  .msg {
    margin-bottom: $spacing-m;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $gray-deep;
  }

  .user-group {
    border-top: 1px solid $gray-deep;

    .title {
      margin: $spacing-xl 0 0;
    }

    .template-label {
      font-size: $font-size-m;
      margin: $spacing-xl 0 0;
      font-weight: 500;
    }

    .template-value {
      font-size: $font-size-m;
      color: $gray-deep;
      line-height: $line-height-m;
      padding-bottom: $spacing-xl;
    }
  }
}
