<div class="tableTitle">
  <h3>{{ 'ADM_ACM.basicInfo.countries.title' | translate }}</h3>
  <span class="subtitle">{{
    'ADM_ACM.basicInfo.countries.totalItemsMessage' | translate : locale.language : { total: bspData?.length }
  }}</span>
</div>

<bspl-simple-table [columns]="columns" [data]="bspData"></bspl-simple-table>
