@import 'theme/variables/index';

.tableTitle {
  padding-bottom: $spacing-m;
  display: flex;
  align-items: baseline;

  .subtitle {
    color: $gray-deep;
    font-size: $font-size-m;
    margin-left: $spacing-s;
  }
}
