<header>
  <h3>
    {{ title }}
  </h3>
  <div>
    <bspl-button
      [label]="'access-permissions.list.filters.buttons.apply-changes' | translate"
      design="primary"
      (click)="onApplyChanges()"
      [isDisabled]="!hasChanges"
    ></bspl-button>
    <bspl-button
      [label]="'access-permissions.list.header.buttons.filter' | translate"
      design="tertiary"
      [icon]="isFilterExpanded ? 'mi md-18 clear' : 'mi md-18 filter_list'"
      (click)="toggleFilter()"
    ></bspl-button>
  </div>
</header>

<section *ngIf="isFilterExpanded">
  <form [formGroup]="filterFormGroup">
    <bspl-select
      [options]="userTypeOptions"
      formControlName="userType"
      [label]="'access-permissions.list.filters.user-type.label' | translate"
      [placeholder]="'access-permissions.list.filters.user-type.placeholder' | translate"
      [multiple]="false"
    >
    </bspl-select>
  </form>

  <div>
    <bspl-button
      [label]="'access-permissions.list.filters.buttons.search' | translate"
      design="primary"
      (click)="onFilter()"
    ></bspl-button>
    <bspl-button
      [label]="'access-permissions.list.filters.buttons.clear' | translate"
      design="tertiary"
      (click)="onResetFilter()"
    ></bspl-button>
  </div>
</section>

<bspl-spinner [isLoading]="searchPermissionsLoading$ | async" [relativeTo]="'viewport'"></bspl-spinner>

<ng-container
  *ngIf="((userType$ | async) && (accessPermissions$ | async)) || (searchPermissionsLoading$ | async); else noUserType"
>
  <aside *ngIf="!isFilterExpanded">
    <div>
      <span class="filter-label">{{ 'access-permissions.list.filters.tag.label' | translate }}</span>
      <div class="tags-container">
        <bspl-tag
          (click)="toggleFilter()"
          class="filter-tag"
          [closeable]="true"
          [value]="makeFilterTag(userType$ | async)"
        ></bspl-tag>
      </div>
    </div>
    <span class="clear-filter" (click)="onResetFilter()">{{
      'access-permissions.list.filters.tag.clear' | translate
    }}</span>
  </aside>

  <ng-container *ngIf="accessPermissionsList$ | async as accessPermissions">
    <div class="permissions-container" [class.permissions-container-detailed]="hasDetailedUpdate$ | async">
      <bspl-selection-list
        [canEdit]="canEdit"
        [listData]="accessPermissions"
        (selectionChange)="onPermissionChange($event)"
        [editItemTemplate]="(hasDetailedUpdate$ | async) ? editItemTemplate : undefined"
        [editCategoryTemplate]="(hasDetailedUpdate$ | async) ? editCategoryTemplate : undefined"
      ></bspl-selection-list>
    </div>

    <ng-template #editCategoryTemplate let-permission="selection">
      <div class="permission-status-container">
        <ng-container *ngFor="let option of permissionStatusOptions">
          <input
            [disabled]="!canEdit"
            [key]="option.value + permission.name"
            type="radio"
            [id]="option.value + permission.name"
            [name]="option.value + permission.name"
            [value]="option.value"
            [(ngModel)]="permissionsStatus[permission.name]"
            (click)="handleCategoryClick(permission, option.value)"
          />
          <label [for]="option.value + permission.name" (click)="handleCategoryClick(permission, option.value)">{{
            option.label
          }}</label>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #editItemTemplate let-permission="selection">
      <div class="permission-status-container">
        <ng-container *ngFor="let option of permissionStatusOptions">
          <input
            [disabled]="!canEdit"
            [key]="permission.id"
            type="radio"
            [id]="permission.id + option.value"
            [name]="permission.id"
            [value]="option.value"
            [(ngModel)]="permissionsStatus[permission.id]"
            (click)="handleClick(permission, option.value)"
          />
          <label [for]="permission.id + option.value" (click)="handleClick(permission, option.value)">{{
            option.label
          }}</label>
        </ng-container>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
<ng-template #noUserType>
  <bspl-locked-state [message]="'access-permissions.list.locked' | translate"></bspl-locked-state>
</ng-template>
