@import 'theme/variables/index';

:host {
  ::ng-deep {
    .permissions-container-detailed {
      bspl-selection-list {
        .main-container {
          .category-container {
            display: grid !important;
            grid-template-columns: 5% 60% 35%;

            .category-selection-container {
              width: auto !important;
            }
          }
        }

        .item-container {
          display: grid !important;
          grid-template-columns: 65% 35%;

          .item-selection-container {
            width: auto !important;
          }
        }
      }
    }
  }
}

.permission-status-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  input,
  label {
    cursor: pointer;
  }

  label {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin: $spacing-xl 0;

  div {
    display: flex;
    gap: 10px;
  }
}

section {
  background-color: $gray-subtle;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  margin-bottom: $spacing-m;
  padding: $spacing-xl;

  div {
    grid-column: 3;
    display: flex;
    gap: $spacing-s;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

aside {
  background-color: $gray-subtle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-xs $spacing-s;
  margin-bottom: $spacing-xl;

  .filter-label {
    color: $gray-deep-middle;
  }

  .tags-container {
    display: inline-block;

    .filter-tag {
      cursor: pointer;
    }
  }

  .clear-filter {
    color: $blue-light;
    justify-content: flex-end;
    white-space: nowrap;
    cursor: pointer;
  }
}

.permissions-container {
  background-color: $gray-subtle;
  font-size: $font-size-m;
  margin-top: $spacing-xl;
  padding: $spacing-xl 20%;
}
