<bspl-spinner [isLoading]="isLoading$ | async" relativeTo="parent"></bspl-spinner>
<div class="wrapper">
  <div class="configuration-header">
    <h3>{{ 'menu.masterData.configuration.tipSettings.tipGlobal.sectionTitle' | translate }}</h3>
  </div>

  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item [title]="'menu.masterData.configuration.tipSettings.tipGlobal.enrolledProducts'" [open]="true">
      <ng-container *ngTemplateOutlet="enrolledProductsTmpl"> </ng-container>
    </bspl-accordion-item>
    <bspl-accordion-item [title]="'menu.masterData.configuration.tipSettings.tipGlobal.agentOwnCards'" [open]="true">
      <ng-container *ngTemplateOutlet="agentOwnCardsTmpl"> </ng-container>
    </bspl-accordion-item>
  </bspl-accordion>
</div>

<ng-template #enrolledProductsTmpl>
  <ng-container [formGroup]="form">
    <h4 class="separator-bottom">
      {{ 'menu.masterData.configuration.tipSettings.tipGlobal.bspLevel' | translate }}
    </h4>
    <ul class="listFields">
      <li class="listLine">
        <div class="row listText">
          <div class="col-7 listLabelText">
            <span>{{
              'menu.masterData.configuration.tipSettings.tipGlobal.globalProductCountryLevelConsentManagement'
                | translate
            }}</span>
          </div>
          <div class="col-5">
            <bspl-select
              [options]="productCountryOptions"
              [clearable]="false"
              formControlName="globalProductCountryLevelConsentManagement"
            ></bspl-select>
          </div>
        </div>
      </li>
      <ng-container *ngIf="isConsentManagementProduct">
        <div formGroupName="globalProductCountryLevelConsentRule">
          <li class="listLine">
            <div class="row listText">
              <div class="col-7 listLabelText">
                <span>{{
                  'menu.masterData.configuration.tipSettings.tipGlobal.globalProductCountryLevelConsentRule' | translate
                }}</span>
              </div>
              <div class="col-5">
                <bspl-select
                  [options]="productCountryConsentOptions"
                  [clearable]="false"
                  formControlName="type"
                  (blur)="showProductTypeControlError()"
                ></bspl-select>
              </div>
            </div>
          </li>

          <!-- Cost Recovery -->
          <ng-container *ngIf="isProductCountryRuleType">
            <ng-container *ngTemplateOutlet="costRecoveryTmpl; context: { $implicit: productCostRecoveries }">
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ul>
    <h4 class="separator-bottom">
      {{ 'menu.masterData.configuration.tipSettings.tipGlobal.agentLevel' | translate }}
    </h4>
    <ul class="listFields">
      <li class="listLine">
        <div class="row listText">
          <div class="col-7 listLabelText">
            <span>{{
              'menu.masterData.configuration.tipSettings.tipGlobal.globalProductAgentLevelConsentManagement' | translate
            }}</span>
          </div>
          <div class="col-5">
            <bspl-select
              [options]="cardOptions"
              [clearable]="false"
              formControlName="globalProductAgentLevelConsentManagement"
            ></bspl-select>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
</ng-template>

<ng-template #agentOwnCardsTmpl>
  <ng-container [formGroup]="form">
    <ul class="listFields">
      <li class="listLine">
        <div class="row listText">
          <div class="col-7 listLabelText">
            <span>{{
              'menu.masterData.configuration.tipSettings.tipGlobal.globalCardConsentManagement' | translate
            }}</span>
          </div>
          <div class="col-5">
            <bspl-select
              [options]="productCountryOptions"
              [clearable]="false"
              formControlName="globalCardConsentManagement"
            ></bspl-select>
          </div>
        </div>
      </li>
      <ng-container *ngIf="isConsentManagementCard">
        <div formGroupName="globalCardCountryLevelConsentRule">
          <li class="listLine">
            <div class="row listText">
              <div class="col-7 listLabelText">
                <span>{{
                  'menu.masterData.configuration.tipSettings.tipGlobal.globalCardCountryLevelConsentRule' | translate
                }}</span>
              </div>
              <div class="col-5">
                <bspl-select
                  [options]="productAgentConsentOptions"
                  formControlName="type"
                  [clearable]="false"
                  (blur)="showCardTypeControlError()"
                ></bspl-select>
              </div>
            </div>
          </li>

          <!-- Cost Recovery -->
          <ng-container *ngIf="isCardCountryRuleType">
            <ng-container *ngTemplateOutlet="costRecoveryTmpl; context: { $implicit: cardCostRecoveries }">
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #costRecoveryTmpl let-recoveries>
  <li class="listLine noLine">
    <div class="row listText">
      <div class="col-12 listLabelText">
        <span class="listTitle">{{
          'menu.masterData.configuration.tipSettings.tipGlobal.costRecoveriesByBsp' | translate
        }}</span>
      </div>
    </div>
    <div class="col-12 form-align">
      <ul class="listForm listForm--reduced">
        <li class="listForm__header row">
          <div class="col-2">
            <span class="listForm__label">
              {{ 'menu.masterData.configuration.tipSettings.tipGlobal.headers.bsp' | translate }}
            </span>
          </div>
          <div class="col-3">
            <span class="listForm__label">
              {{ 'menu.masterData.configuration.tipSettings.tipGlobal.headers.recoveryType' | translate }}
            </span>
          </div>
          <div class="col-3">
            <span class="listForm__label">
              {{ 'menu.masterData.configuration.tipSettings.tipGlobal.headers.recoveryCurrency' | translate }}
            </span>
          </div>
          <div class="col-3">
            <span class="listForm__label">
              {{ 'menu.masterData.configuration.tipSettings.tipGlobal.headers.recoveryAmount' | translate }}
            </span>
          </div>
        </li>

        <li class="row listForm__line" *ngFor="let line of recoveries.controls; let i = index">
          <ng-container
            *ngTemplateOutlet="costRecoveryLineTmpl; context: { line: line, collection: recoveries, index: i }"
          ></ng-container>
        </li>
        <li class="row form-btn">
          <bspl-button
            [design]="btnDesign.Tertiary"
            [label]="'+   Cost Recovery'"
            [type]="'button'"
            (onClick)="addCostRecovery(recoveries)"
            [isDisabled]="recoveries?.length >= bspOptions?.length"
          ></bspl-button>
        </li>
      </ul>
    </div>
  </li>
</ng-template>

<ng-template #costRecoveryLineTmpl let-line="line" let-collection="collection" let-index="index">
  <ng-container [formGroup]="line">
    <div class="col-2">
      <bspl-select
        #bsp
        [options]="bspOptions"
        [clearable]="false"
        formControlName="bsp"
        (blur)="showCostRecoveryBspControlError(collection, index)"
        (change)="onChangeBsp($event.value, collection, costRecoveryType.value, index)"
      ></bspl-select>
    </div>
    <ng-container formGroupName="costRecovery">
      <div class="col-3">
        <bspl-select
          #costRecoveryType
          [options]="costRecoveryTypeOptions"
          [clearable]="false"
          formControlName="type"
          [locked]="!bsp.value"
          (blur)="showCostRecoveryTypeControlError(collection, index)"
        ></bspl-select>
      </div>
      <div class="col-3">
        <bspl-select
          #currency
          formControlName="currency"
          [options]="currencyOptions$[bsp.value?.id] | async"
          [clearable]="false"
          [locked]="!bsp.value || (bsp.value && !isFixedTypeCostRecoveryAmount(line))"
          (blur)="showCostRecoveryCurrencyControlError(collection, index)"
        ></bspl-select>
      </div>
      <div class="col-3">
        <bspl-input
          formControlName="amount"
          [locked]="isAvaliableToAmount(currency.value, costRecoveryType.value)"
        ></bspl-input>
      </div>
    </ng-container>
    <div class="col-1 actions line--centered">
      <i
        class="material-icons icon-delete"
        title="{{ 'common.delete' | translate }}"
        (click)="removeItemRow(collection, index)"
      >
        delete
      </i>
    </div>
  </ng-container>
</ng-template>
