@import 'theme/variables/index';
@import 'components/form-page/form-page';
@import 'components/inline-list/inline-list';

.wrapper {
  .configuration-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-l;
  }

  h4 {
    color: $blue-primary;
    font-family: inherit;
    font-size: $font-size-l;
    margin: $spacing-xl 0 0 0;
  }

  bspl-accordion-item {
    & ::ng-deep .accordionItem {
      background-color: $gray-subtle;
      margin-bottom: $spacing-xl;
    }
  }

  bspl-select,
  bspl-input {
    margin-bottom: $spacing-xs;
  }

  bspl-input {
    text-align: right;
  }

  ul.listFields {
    .listLine {
      margin-bottom: $spacing-xs;
      margin-top: $spacing-xs;

      .listLabelText {
        margin: auto;
        padding-left: $spacing-xl;
      }
    }

    .noLine {
      border-bottom: none;
    }
  }

  .separator-bottom {
    padding-bottom: $spacing-m;
  }

  .form-align {
    padding: 0 0 0 $spacing-xs;
  }

  ul.listForm {
    list-style: none;
    margin: 0;
    padding: 0;

    &.listForm--reduced {
      .listForm__header.row,
      .listForm__line.row,
      .listForm__footer.row {
        margin-left: 0;
        margin-right: 0;

        & > div {
          padding-left: 0;
        }
      }
    }

    .listForm__header {
      &:first-child {
        padding-top: 0;
      }

      .listForm__label {
        font-size: $font-size-s;
        font-weight: bold;
        float: left;
        color: $gray-deep;
        padding-bottom: $spacing-xxs;
      }
    }

    .listForm__header,
    .listForm__line {
      border-bottom: $sections-border;
      margin-top: $spacing-xs;
      padding-left: 0;

      .line--centered {
        line-height: 36px;

        i {
          vertical-align: middle;
        }
      }

      div.actions {
        text-align: center;
        padding: 0;

        i {
          font-size: 1.7rem;
          color: $gray-middle;
        }

        .icon-delete {
          cursor: default;
          color: $gray-middle;
        }

        .icon-delete:hover:not(.icon-disabled) {
          cursor: pointer;
          color: $red;
        }
      }
    }
  }

  li.form-btn {
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
    padding: $spacing-m $spacing-m 0 0;
  }
}
