<bspl-list-view
  [title]="header + ' / ' + (userBsps$ | async)"
  hasFiltering="true"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="bspGdsAssignationDisplayFilterFormatter"
  (queryChange)="search($event)"
  [hasDownloading]="true"
  (download)="onDownload()"
  [canDownload]="hasData$ | async"
  [hasCreating]="hasCreateGdsAssignationPermission"
  [customLabels]="customLabels"
  (create)="onCreate()"
>
  <form bsplListViewFilter [formGroup]="filterForm">
    <div class="row">
      <div class="col-lg-3">
        <bspl-select
          [multiple]="true"
          [label]="'MASTER_DATA.bspGdsAssignation.list.gdsCodeName' | translate"
          [options]="gdsFilterOptions$ | async"
          formControlName="gdsNames"
        ></bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-select
          [label]="'MASTER_DATA.bspGdsAssignation.list.refundsEnabled' | translate"
          [options]="refundsEnabledFilterOptions"
          formControlName="refundsEnabled"
        ></bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [columns]="columns"
    [primaryActions]="actions"
    (actionClick)="onActionClick($event)"
    (rowLinkClick)="onViewGds($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
