<div class="pbd-issue-confirmation-dialog">
  <p class="text-content">
    {{ 'postBillingDisputes.dialogs.pbdIssueConfirmation.info' | translate }}
  </p>
  <bspl-property-list class="property-list-compact" *ngIf="pbd">
    <bspl-property
      label="postBillingDisputes.dialogs.pbdIssueConfirmation.status"
      [value]="'postBillingDisputes.statuses.' + pbd.status | translate"
    ></bspl-property>
    <bspl-property
      label="postBillingDisputes.dialogs.pbdIssueConfirmation.pbdIssueDate"
      [value]="pbd.pbdDate | dayMonthYear"
    ></bspl-property>
    <bspl-property
      label="postBillingDisputes.dialogs.pbdIssueConfirmation.resolutionDate"
      [value]="pbd.resolutionDate | dayMonthYear"
    ></bspl-property>
  </bspl-property-list>
</div>
