<bspl-list-view
  [title]="header"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (download)="download()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="iataCode"
          [options]="globalAirlineCodeOptions$ | async"
          [virtualScroll]="true"
          [label]="'MASTER_DATA.globalAirline.iataCode' | translate"
          [placeholder]="'MASTER_DATA.globalAirline.placeholders.choose' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="designator"
          [options]="designatorOptions$ | async"
          [virtualScroll]="true"
          [label]="'MASTER_DATA.globalAirline.designator' | translate"
          [placeholder]="'MASTER_DATA.globalAirline.placeholders.choose' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="template"
          [options]="templateOptions"
          [virtualScroll]="true"
          [label]="'MASTER_DATA.globalAirline.template' | translate"
          [placeholder]="'MASTER_DATA.globalAirline.placeholders.choose' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="actions"
    [showIconEmptyActions]="true"
    (actionClick)="onActionClick($event)"
  ></bspl-grid-table>
</bspl-list-view>
