<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="description">{{ 'headerUserInfo.loginAsAnyGroupMemberDialog.description' | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [formGroup]="form">
        <bspl-select
          formControlName="selectedAgentGroupMember"
          [options]="agentGroupMembersDropdown$ | async"
          [appendToBody]="true"
          [label]="'headerUserInfo.loginAsAnyGroupMemberDialog.agentCodeDropdownLabel' | translate"
          [autofocus]="true"
          [clearable]="false"
        >
        </bspl-select>
      </div>
    </div>
  </div>
</div>
