@import 'theme/variables/index';

$box-shadow-color: rgba(0, 47, 91, 0.1);
$box-shadow-below: 0 2px 8px 0 $box-shadow-color;
$sections-border: 1px solid $gray-neutral;

:host {
  .wrapper {
    .admAcm__content {
      .admAcm__content__nav {
        font-size: $font-size-m;
        padding: $spacing-m 0;
      }

      /* CUSTOM ACCORDION STYLES */
      bspl-accordion-item {
        &.admAcm__content__details {
          & ::ng-deep .accordionItem .accordionItem__content {
            padding-top: 0;
            padding-bottom: 0;
          }
        }

        &.admAcm__content__amounts {
          bspl-adm-acm-amount {
            display: block;
            border-bottom: $sections-border;
          }
        }

        & ::ng-deep .accordionItem {
          background-color: $gray-subtle;
          margin-bottom: $spacing-xl;

          .accordionItem__title {
            box-shadow: $box-shadow-below;
          }

          .accordionItem__content {
            h4.section-title {
              color: $blue-primary;
              font-size: $font-size-l;
              font-weight: 500;
              margin-bottom: $spacing-xs;
            }
          }
        }
      }
    }

    .admAcm__sideMenu {
      padding-left: $spacing-xs;
    }
  }
}
