<bspl-spinner [isLoading]="isFormLoading" [relativeTo]="'viewport'"></bspl-spinner>

<div class="wrapper">
  <!-- HEADER STATUS AND ACTION BUTTONS -->
  <bspl-adm-acm-header-status
    id="statusHeader"
    [currency]="currency"
    [accordion]="accordion"
    [admAcmService]="admAcmService"
    [formData]="formData"
    [formConfig]="formConfig"
    (issueClick)="onIssueClick($event)"
    (heightChange)="onHeaderHeightChange($event)"
  ></bspl-adm-acm-header-status>

  <div class="row">
    <!-- MAIN CONTENT -->
    <div class="col-9 admAcm__content">
      <bspl-accordion [multipleItemsOpen]="true" [scrollOffset]="headerHeight">
        <bspl-accordion-item
          [id]="sectionsMapper.basicInformation"
          [title]="'ADM_ACM.basicInfo.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.basicInformation) && showSectionsError"
        >
          <bspl-adm-acm-basic-info
            [admAcmService]="admAcmService"
            [formData]="formData"
            [formConfig]="formConfig"
            [formTicket]="formTicket"
            (netReportingChange)="onChange($event, admAcmActionEmitterType.netReporting)"
            (currencyChange)="onCurrencyChange($event)"
            (agentChange)="onChange($event, admAcmActionEmitterType.agent)"
            (admaForChange)="onChange($event, admAcmActionEmitterType.acdmaFor)"
            (tocaTypeChange)="onChange($event, admAcmActionEmitterType.tocaType)"
            (bspChange)="onChange($event, admAcmActionEmitterType.bsp)"
          ></bspl-adm-acm-basic-info>
        </bspl-accordion-item>
        <bspl-accordion-item
          [id]="sectionsMapper.details"
          class="admAcm__content__details"
          [title]="'ADM_ACM.details.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.details) && showSectionsError"
          [showWarningIcon]="showDocWarning"
        >
          <bspl-adm-acm-details
            (showDocsWarning)="onShowDocsWarning($event)"
            [admAcmService]="admAcmService"
            [formData]="formData"
            [formConfig]="formConfig"
            [formTicket]="formTicket"
          ></bspl-adm-acm-details>
        </bspl-accordion-item>
        <bspl-accordion-item
          [id]="sectionsMapper.amounts"
          class="admAcm__content__amounts"
          [title]="'ADM_ACM.amounts.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.amounts) && showSectionsError"
          [showInfoIcon]="isAcdmRegularized || (showAcdmSpam$ | async)"
          [showWarningIcon]="isAmountSectionWarning"
        >
          <bspl-adm-acm-amount
            [currency]="currency"
            [formData]="formData"
            [formConfig]="formConfig"
            [formTicket]="formTicket"
            (totalAmountChange)="onChange($event, admAcmActionEmitterType.totalAmount)"
            (tocaAmountChange)="onChange($event, admAcmActionEmitterType.tocaAmount)"
          ></bspl-adm-acm-amount>
          <bspl-adm-acm-amount-tax
            [currency]="currency"
            [formData]="formData"
            [formConfig]="formConfig"
            (totalTaxAmountChange)="onChange($event, admAcmActionEmitterType.totalTaxAmount)"
            (showTaxRepeatedWarning)="onShowTaxWarning($event)"
          ></bspl-adm-acm-amount-tax>
        </bspl-accordion-item>
      </bspl-accordion>
    </div>

    <!-- LISTS VIEW -->
    <div class="col-3 admAcm__sideMenu">
      <bspl-activity-panel
        [activities]="activities"
        [isCommentingVisible]="isActivityCommentVisible"
        [commentAdded$]="commentAdded$"
        [fileUploadPath]="fileUploadPath"
        (downloadFile)="onDownloadFile($event)"
        (sendComment)="onSendComment($event)"
      ></bspl-activity-panel>
    </div>
  </div>
</div>
