@import 'theme/variables/index';

p-radiobutton {
  display: flex;
  align-items: center;
}

.p-radiobutton-box {
  &.p-state-default {
    border: 1px solid $gray-deep;
  }

  &.p-state-active {
    border: 1px solid $blue-light;
    background: $white;
    color: $blue-light;
  }

  &.p-state-focus {
    box-shadow: none;
  }
}

.p-radiobutton-label {
  color: $gray-deep;
  cursor: pointer;
  margin: 0;
}
