<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB">This option allows GDS users to query and manage ADMs (Agency Debit Memos) and ADM Policies:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: 115%;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="194" height="191" id="Imagen 7" src="gds/images/image019.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADM/ACM option.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >GDS users can query Agency Debit Memos (ADM). Airlines may issue ADMs to adjust their settlement based upon a
    series of criteria they consider.
  </span>
</p>
