@import 'theme/variables/index';

$scroll-button-radius: 2px;
$scroll-button-width: 30px;
$shadow-color: rgba(42, 51, 140, 0.12);
$shadow-width: 16px;

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;

  &-viewport {
    flex: 1;
    overflow: hidden;
    margin-left: -$scroll-button-radius;
    margin-right: -$scroll-button-radius;
  }
}

.scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  width: $scroll-button-width;
  cursor: pointer;
  visibility: hidden;
  color: $gray-middle;

  @extend %shadow;

  &:hover {
    color: hover-color($gray-middle);
  }

  &.scroll-right {
    border-radius: $scroll-button-radius 0 0 0;

    @extend %shadow-right;
  }

  &.scroll-left {
    border-radius: 0 $scroll-button-radius 0 0;

    @extend %shadow-left;
  }

  &.scroll-button-visible {
    visibility: visible;
  }
}

// We need to create a directional shadow
// The regular box-shadow causes visual defects
%shadow {
  position: relative;
  transform-style: preserve-3d;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: $shadow-width;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, transparent 0%, $shadow-color 80%, $shadow-color 100%);
    // make sure that the shadow is rendered below the element
    transform: translateZ(-1px);
  }

  &-right {
    &::before {
      right: $scroll-button-width - $scroll-button-radius;
    }
  }

  &-left {
    &::before {
      left: $scroll-button-width - $scroll-button-radius;
      transform: rotate(180deg) translateZ(-1px);
    }
  }
}
