<div class="scroll-container">
  <button class="scroll-button scroll-left" [class.scroll-button-visible]="scrollLeftEnabled" (click)="scrollLeft()">
    <i class="material-icons">chevron_left</i>
  </button>
  <div #viewport class="scroll-container-viewport" (wheel)="onWheel($event)">
    <ng-content></ng-content>
  </div>
  <button class="scroll-button scroll-right" [class.scroll-button-visible]="scrollRightEnabled" (click)="scrollRight()">
    <i class="material-icons">chevron_right</i>
  </button>
</div>
