<div class="change-user-type-container">
  <div class="row">
    <div class="col-md-12">
      <p class="description">{{ 'headerUserInfo.loginAsAnyUserDialog.description' | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [formGroup]="form">
        <bspl-select
          formControlName="selectedUserType"
          [options]="userTypesDropdown"
          [appendToBody]="true"
          [label]="'headerUserInfo.loginAsAnyUserDialog.userTypeDropdownLabel' | translate"
          [autofocus]="true"
          [clearable]="false"
        >
        </bspl-select>
        <bspl-select
          *ngIf="showMainUsersDropdown"
          formControlName="selectedMainUser"
          [options]="mainUsersDropdown$ | async"
          [appendToBody]="true"
          [label]="'headerUserInfo.loginAsAnyUserDialog.iataCodeDropdownLabel' | translate"
          [autofocus]="false"
          [clearable]="false"
        >
        </bspl-select>
      </div>
    </div>
  </div>
</div>
