<bspl-list-view
  [title]="'LIST.MASTER_DATA.ticketingAuthorityHistory.title' | translate"
  [query]="dataSource.appliedQuery$ | async"
  [predefinedFilters]="predefinedFilters"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" *ngIf="!isGdsView">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.bsp'"
        [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.placeholders.bsp' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="false"
        [clearable]="false"
      >
      </bspl-select>
      <span>{{ 'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.highlightedBspText' | translate }}</span>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-6" *ngIf="isGdsView">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.airlines'"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.placeholders.airlines' | translate"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.agents'"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.placeholders.agents' | translate"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-datepicker
          [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.periodRange' | translate"
          formControlName="periodRange"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.periodRange' | translate"
          [selectionMode]="'range'"
          [minDate]="minDate"
          [maxDate]="maxDate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="actionOptions"
          formControlName="action"
          [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.action'"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.placeholders.action' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-select
          [options]="performedByOptions"
          formControlName="performedBy"
          [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.performedBy'"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.placeholders.performedBy' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <bspl-input
          formControlName="email"
          [label]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.labels.email' | translate"
          [placeholder]="'LIST.MASTER_DATA.ticketingAuthorityHistory.filters.placeholders.email' | translate"
          [locked]="emailControlLock"
        ></bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [columnMode]="'flex'"
    [isLoading]="dataSource.loading$ | async"
    (rowLinkClick)="onViewAgent($event)"
  ></bspl-grid-table>
</bspl-list-view>
