<p class="MsoNormal">
  <span lang="EN-GB"
    >Considering the status of a PBD, Agent Group Users may decide to update it. Whereas the status “Pending Airline”
    requires the Agent Group Users to wait for the Airline’s feedback, the status “Pending Agent” requests their
    intervention. Any update must be performed from the PBD detailed view. In order to review the details of a given
    PBD, it is necessary to click on its TDNR number:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent_group/images/modify-PBD-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: View PBD details.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The PBD details get then displayed on a new tab. At the top, each PBD summarizes its main information on the PBD
    Header. Any intervention must be performed by means of the
    <img border="0" height="30" src="agent_group/images/icon-pbd-agreement.jpg" /> button at the right side of the PBD
    Header:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent_group/images/modify-PBD-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span
  ><span lang="EN-GB">: PBD Agreement button on PBD Header.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >From this button, Agent Group Users may click directly on “PBD Agreement”, if that is the case. Otherwise, the
    arrow next to it deploys the possible options:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="286" src="agent_group/images/modify-PBD-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: PBD Agreement options.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >If the Agent Group User wishes to agree with the Airline, the following modal box is displayed:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="450" src="agent_group/images/modify-PBD-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Agree with Airline box.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Agent Group User must then indicate a reason for the agreement, and then click on
    <img border="0" height="30" src="agent_group/images/icon-blue-agree.jpg" />. Otherwise, it is possible to leave the
    process by means of the <img border="0" height="30" src="agent_group/images/image081.jpg" /> button or by pressing
    “Esc” on the keyboard. Please note that the PBD gets closed due to the agreement between both parts.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >A similar modal box gets displayed if the Agent Group User wishes to disagree with the Airline:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="450" src="agent_group/images/modify-PBD-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: Disagree with Airline box..</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Agent Group User must then indicate a reason for the disagreement, and then click on
    <img border="0" height="30" src="agent_group/images/icon-blue-disagree.jpg" />. Otherwise, it is possible to leave
    the process by means of the <img border="0" height="30" src="agent_group/images/image131.jpg" /> button or by
    pressing “Esc” on the keyboard. The dispute does then go on based upon the procedure explained above, hence the PBD
    Status gets updated.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >IPlease note that New BSPlink does automatically update the PBD status once the maximum period of 30 days is
    reached if parties do not achieve an agreement. This update affects the Agent’s remittance or Airline’s settlement
    accordingly. However, if any of the parts does intervene on the last day, an extra period of seven days is granted.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, if changes are produced in a PBD but these are not saved, New BSPlink warns users before leaving the PBD:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="450" src="agent_group/images/modify-PBD-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: Unsaved changes in PBD.</span>
</p>
