<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Agent Group Users to query and manage Post Billing Disputes (PBD), which enable to dispute a
    document after its inclusion in the billing. When accessing this option, the details of the existing PBD are shown
    on a table which contains the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="agent_group/images/post-billing-disputes-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: PBD View.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR: </span></b><span lang="EN-GB">the document number related to the PBD.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TRNC: </span></b><span lang="EN-GB">the disputed transaction type (TKTT, EMD, etc.)</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code: </span></b><span lang="EN-GB">the involved Airline’s IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Name: </span></b><span lang="EN-GB">the involved Airline’s name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code: </span></b><span lang="EN-GB">the involved Agent’s IATA Code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">the Status of the PBD can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Warning: </span></b
  ><span lang="EN-GB"
    >the document has not been rejected; it will be available as soon as it has been processed by the DPC.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Airline: </span></b
  ><span lang="EN-GB">when some feedback by the Airline is required.</span>
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Agent: </span></b
  ><span lang="EN-GB">when some feedback by the Agent is required.</span>
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Agent: </span></b
  ><span lang="EN-GB">when the Airline agreed with the Agent’s dispute.</span>
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Airline: </span></b
  ><span lang="EN-GB"
    >when the Agent agreed with the Airline’s reason for rejecting the PBD, or when the Agent did not reply to the
    Airline’s disagreement</span
  >
</p>
<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agreement not reached – to Agent: </span></b
  ><span lang="EN-GB"
    >when the Airline did not take any action during the Maximum Resolution period or when the maximum of two
    disagreement actions allowed per user was reached.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b><span lang="EN-GB"> the date in which the PBD is issued. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">the date in which the PBD is resolved, no longer than 30 days after its issuance.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b>the currency in which the original document was issued.
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Maximum Disputable Amount: </span></b>the maximum amount to be post billing disputed (REMT for
  ADMs and TDAM for Tickets and Refunds).
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PDB Amount: </span></b>the amount of the PBD.
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The information contained on this table can be filtered by means of the
    <img border="0" width="82" height="30" id="Imagen 151" src="agent_group/images/image223.jpg" /> button:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="645" src="agent_group/images/post-billing-disputes-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: PBD Filter option.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country / Territory</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Number (TDNR): </span></b
  ><span lang="EN-GB"> in case the query is to be performed based on the number of the original document.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Transaction Code (TRNC):</span></b
  ><span lang="EN-GB"> to reduce the results to the type of the original transaction (TKTT, EMDS, EMDA, ADMA)</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b><span lang="EN-GB">to show results by Airline.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">to display results by PBD Status,</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Date: </span></b
  ><span lang="EN-GB"> to frame by resolution date, or by a series of dates (“From” and “To”).</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB"
    >to frame by resolution date, or by a series of dates (“From” and “To”). Future dates may be selected up to one
    year.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b><span lang="EN-GB">to obtain PBDs by currency.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the required filters have been applied, it is necessary to click the
    <img border="0" height="30" src="agent_group/images/image065.jpg" /> button. Otherwise, Agent Group Users may clear
    the filters by means of the <img border="0" height="30" src="agent_group/images/image066.jpg" /> button.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the required filters have been applied, it is necessary to click the button. Otherwise, Agent Group Users may
    clear the filters by means of the <img border="0" height="30" src="agent_group/images/image027.jpg" /> button.
  </span>
</p>

Besides, it is possible to download the query results, either filtered or not, by clicking the button.
