<p class="MsoNormal">
  <span lang="EN-GB"
    >To start a new Post Billing Dispute, Agent Group Users must click the
    <img border="0" height="30" src="agent_group/images/icon+pbd.jpg" /> button at the top right side. A modal window is
    then displayed:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="50%" src="agent_group/images/start-post-billing-dispute-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Start PBD modal box.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to indicate the document number to be disputed without the Airline code: ticket number (TKTT), EMD
    or ADM. Please consider that the system searches for this document number in the billing documents available for
    each Agent. In other words, if the document number has not been processed yet in the billing, it is not possible to
    start a Post Billing Dispute against such document (please refer to 6.3.1.1. ADMA if that is the case).
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In relation to the document number, Agents should take the following cases into consideration:</span
  >
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >If the introduced number is not found, either because it has not been processed yet (see above) or because such
  number does not correspond to the Agent, this process cannot be executed.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >If the introduced number corresponds to a document which was previously post-billing disputed, this process cannot be
  repeated.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >If the introduced number corresponds to a document which excesses the maximum period of 12 months since it was
  issued, this process cannot be executed. Please contact the Airline directly if this is the case (please refer to
  6.8.1 Airlines).
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >If the introduced number corresponds to a document which is related to a suspended Airline, this process cannot be
  executed. Please check your communications (please refer to 6.1 Dashboard ) or contact IATA for more information.
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once a valid document number is introduced, the
    <img border="0" height="30" src="agent_group/images/icon-start.jpg" /> button displays the following form on a new
    tab:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="agent_group/images/start-post-billing-dispute-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: PBD form.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The form contains three main parts: </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Header: </span></b
  ><span lang="EN-GB"
    >this section contains different details which are populated as the Agent Group User completes the form.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Details and Amount: </span></b>this section includes the different fields which need to be
  completed by the Agent Group User.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Process: </span></b
  ><span lang="EN-GB"
    >this section includes the different fields which need to be completed by the Agent Group User.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  PBD Header
</p>

<p class="MsoNormal">
  <span lang="EN-GB">The PBD Header displays the following PBD details: </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="agent_group/images/start-post-billing-dispute-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: PBD Header.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB"
    >the Status is populated as each part of the PBD (Agent and Airline) intervenes. Please note that the default status
    before issuing a PBD is “Not Issued Yet”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB"
    >the Resolution Date is calculated once the PBD is issued. As a result, the default value before its issuance is
    “Not Issued Yet”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR: </span></b
  ><span lang="EN-GB">this is the document number which was introduced to start the PBD.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b
  ><span lang="EN-GB"
    >the amount value cannot be displayed until the PBD is issued. Therefore, its value is “Not Issued Yet”.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Time Left for Agreement: </span></b
  ><span lang="EN-GB"
    >the Time Left for Agreement is calculated once the PBD is issued. Up to its issuance, the default value is
    “Closed”. Please consider that, once issued, all PBD must be resolved within a period of 30 days.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details and Amount
</p>

<p class="MsoNormal">
  <span lang="EN-GB">This section contains different data related to the PBD which is being issued: </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="100%" src="agent_group/images/start-post-billing-dispute-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: PBD Details and Amount.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Details: </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">Agent: </span></b><span lang="EN-GB">the issuing Agent’s IATA code and name.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">Airline: </span></b><span lang="EN-GB">the involved Airline’s IATA code and name.</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">PBD Issue Date: </span></b><span lang="EN-GB">the date in which the PBD is issued. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB">the end of the thirty-day period within which the PBD must be resolved</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Details: </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">TRNC: </span></b
  ><span lang="EN-GB">t the type of transaction to be disputed (“TKTT”, “EMD” or “ADM”).</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">TRND: </span></b><span lang="EN-GB">the disputed document number</span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span
  ><b><span lang="EN-GB">DAIS: </span></b
  ><span lang="EN-GB"
    >the date of issuance of the disputed document. The DAIS determines the validity of the period to issue a PBD, which
    cannot exceed 12 months.</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b>the Agent Group User must indicate under this subsection the amount
  which is to be disputed. This amount cannot exceed that of the original document, as the system indicates. Besides, a
  significant message is displayed: <br /><br />
  <img border="0" width="582" src="agent_group/images/start-post-billing-dispute-a.jpg" />
  <br /><br />
  Indeed, as in Refund Applications (please refer to 6.4.1 Refund Applications), Agents must not deduct any amount from
  the total shown in the billing. Failing to remit the exact amount prior to the remittance date defined by the calendar
  may result in the assignment of an irregularity.
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Process
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This subsection displays the evolution of the PBD process evolution. Agent Group Users will find the different
    actions performed by each of the parts involved. Before the issuance of the PBD, a message explaining that the PBD
    has not been issued yet will be shown by default.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once the necessary information is completed, the
    <img border="0" height="30" src="agent_group/images/image181.jpg" /> button turns available. It is necessary to
    click on it to register the PBD. A new modal window is then displayed:</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >On this window, the Agent Group User must provide a reason supporting the PBD. It is precisely at this moment when
    it is also possible to include any attached files, either by dragging them into the modal window or by browsing
    them.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Afterwards, the <img border="0" height="30" src="agent_group/images/image181.jpg" /> button registers the PBD. A
    confirmation message is displayed, in which the status of the PBD (“Pending Airline”), its date of issue and
    resolution are included.</span
  >
</p>
