<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to check the status of an already issued Post-Billing Dispute (PBD), it is necessary to display the table
    which includes all the existing PBD. Such table is available when clicking the option “Post-Billing Disputes” under
    the “Documents” option from the menu at the top, as seen above.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The information contained on this table can be filtered by means of the
    <img border="0" height="30" src="agent_group/images/icon-filter.jpg" /> button. The fields here displayed have
    already been explained above. Please refer to section 6.5.5 Post Billing Disputes.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to perform a filtered query, it is necessary to click on
    <img border="0" height="30" src="agent_group/images/image187.jpg" />. The
    <img border="0" height="30" src="agent_group/images/image188.jpg" /> button disregards the filters previously
    selected. By default, no filter is applied.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Besides, the <img border="0" height="30" src="agent_group/images/image189.jpg" />button allows the user to download
    the results in CSV or TXT format.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >A list with all the issued PBD, either filtered or not, is then displayed. The sixth column indicates the status of
    each PBD, which can be:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Agent: </span></b
  ><span lang="EN-GB"
    >the involved Airline has expressed its disagreement, and it is the Agent’s turn to intervene.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Pending Airline: </span></b
  ><span lang="EN-GB"
    >he Agent has either just issued the PBD or has expressed its disagreement after the Airline’s intervention.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Agent: </span></b
  ><span lang="EN-GB">the involved Airline has accepted the dispute. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agree to Airline: </span></b
  ><span lang="EN-GB"> the involved Agent agreed the Airline’s remark on the PBD. </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agreement not reached – to Agent: </span></b
  ><span lang="EN-GB">no agreement has been produced within the stipulated period of thirty days. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Each status corresponds to the different scenarios which can be produced during the PBD process. Please consider
    that the following rules apply in Post-Billing Disputes:</span
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>PBD cannot be issued
    against documents with a DAIS (original date of issuance) which exceeds twelve months, which involve a Suspended
    Airline, or which were already post-billing disputed.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Each part is assigned
    two interventions throughout the process. As a consequence, the development of the PBD follows the following
    pattern:
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    >The Agent issues the PBD, which turns into “Pending Airline” until the Airline intervenes.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    >The Airline intervenes to either express its agreement with the dispute (“Agree to Agent”, the PBD process
    finishes) or its disagreement (“Pending Agent”, the PBD process goes on).
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    >The Agent replies to the Airline by either expressing its agreement to the Airline’s remark (“Agree to Airline”,
    the PBD finishes) or its disagreement to the Airline’s observation (“Pending Airline”, the PBD process continues).
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    >The Airline may then either agree with the Agent’s second intervention (“Agree to Agent”) or not (“Agreed not
    reached – to Agent”). No extra interventions are possible.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol" ¨ b
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Consequently, the PBD
    finishes in the following cases:
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    >When the maximum amount of interventions (two each part) is reached.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    >When the maximum period of thirty days finishes. It is calculated based on the date in which the PBD is issued,
    which is included in the period (that is, the period does not commence on the following day). The result of the PBD
    is therefore that of the latest status.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Note: </b
    ><span style="font: 7pt 'Times New Roman'"> </span> if a disagreement is expressed by any of the parts on the
    thirtieth day of the period, seven extra days are granted for the other part to reply.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to review the details of a given PBD, it is necessary to click on the TDNR number or on the Airline
    Name:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent_group/images/status-PBD-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: View PBD details.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The PBD details get then displayed on a new tab which splits the information into the PBD Header, the PBD Details
    and Amount, the PBD Process and the PBD Activity Panel.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">Firstly, the PBD Header summarizes the PBD essential information: </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent_group/images/status-PBD-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: PBD Header.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB">
    the PBD Status determines the actions to be performed. Agents should update the PBD when the status is “Pending
    Agent”.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Resolution Date: </span></b
  ><span lang="EN-GB"> the end of the thirty-day period in which the PBD needs to be resolved. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TDNR: </span></b><span lang="EN-GB"> the disputed document. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount (Currency): </span></b><span lang="EN-GB"> the disputed amount. </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Time Left for Agreement: </span></b
  ><span lang="EN-GB"> days left until the Resolution Date. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Secondly, This PBD details allows Agent Group Users to query different information related to it. Information is
    divided into the following sections:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent_group/images/status-PBD-5.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: PBD details and amount.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Details:: </span></b><span lang="EN-GB"> </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>Agent: </b>the issuing Agent’s IATA code and name.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>Airline: </b>the involved Airline’s IATA code and name.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>PBD Issue Date: </b>the involved Airline’s IATA code and name
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>Resolution Date: </b>the end of the thirty-day period within which the PBD must be resolved.
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Details: </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>TRNC: </b>the type of disputed transaction (“TKTT”, “EMD” or “ADM”).
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>TRND: </b>the disputed document number.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-<span style="font: 7pt 'Times New Roman'"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span
    ><b>DAIS: </b>the date of issuance of the disputed document. The DAIS determines the validity of the period to issue
    a PBD, which cannot exceed 12 months
  </span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">PBD Amount: </span></b>the disputed amount on the document indicated above.
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Thirdly, the Process section includes all the actions performed by each part. It indicates both the time left for
    agreement and the different reasons which motivated each position. Reasons may include attached files.</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" src="agent_group/images/status-PBD-6.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">6</span><span lang="EN-GB">: PBD Process.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Lastly, the right side of the screen includes the option to upload files and the Activity Panel.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Files can be uploaded at any point by dragging them into the upload box or by browsing the required file:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="570" src="agent_group/images/status-PBD-7.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">7</span><span lang="EN-GB">: Upload files.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >As for the Activity Panel, it displays all the comments included by each part and also reflects the workflow of the
    PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="500" src="agent_group/images/status-PBD-8.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">8</span><span lang="EN-GB">: PBD Activity Panel.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The Activity Panel allows Agent and Airline Users include any comment regardless of who is expected to take the
    following action in the PBD. This panel is intended to facilitate a communication channel between both parts without
    employing the interventions granted to each of them in the PBD process. Also, the panel displays any interventions
    performed by the parts (“Workflow Events”, which also show the change of Status) and the possibility to attach files
    and show attached ones.
  </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The activities in the panel can be filtered by clicking the
    <img border="0" height="30" src="agent_group/images/image191.jpg" /> icon at the top right corner:
  </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="500" src="agent_group/images/status-PBD-9.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">9</span><span lang="EN-GB">: Filter of PBD Activity Panel. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">It is possible to add a new comment by clicking at the top box of the Activity Panel: </span>
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="500" src="agent_group/images/status-PBD-10.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">10</span
  ><span lang="EN-GB">: Comment box at Activity Panel. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Once clicked, the box gives the option to type a comment addressed to the Airline User in charge of the PBD:</span
  >
</p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="500" src="agent_group/images/status-PBD-11.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">11</span
  ><span lang="EN-GB">: Adding a comment in the PBD Activity Panel. </span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >In order to add the comment in the panel, it is necessary to click on
    <img border="0" height="30" src="agent_group/images/image195.jpg" />. Otherwise, the comment can be disregarded by
    means of the <img border="0" height="30" src="agent_group/images/image196.jpg" /> button. Besides, for any comment,
    it is possible to add attachments or to download them (by clicking
    <img border="0" height="30" src="agent_group/images/image197.jpg" />).</span
  >
</p>
