@import 'theme/variables/index';

$default-line-height: 3.6rem;

:host::ng-deep {
  .no-activity-text {
    margin-top: $spacing-m;
    color: $gray-middle;
    font-size: $font-size-l;
    line-height: $line-height-l;
  }

  .comment-item-container,
  .workflow-item-container {
    margin-top: $spacing-m;

    .primary-row {
      height: 2.6rem;
      line-height: $line-height-l;

      .main-title {
        font-size: $font-size-l;
        line-height: $line-height-l;
        font-weight: $font-weight-medium;
      }

      .item-time {
        color: $gray-deep;
      }
    }

    .attachments-container {
      margin-top: 1rem;

      .attachment-item {
        background-color: $gray-subtle;
        margin-bottom: 1rem;
        padding: 0 2rem;
        height: $default-line-height;
        line-height: $default-line-height;

        .attachment-title {
          .attach-icon {
            position: relative;
            top: 5px;
            font-size: 1.8rem;
          }
        }

        .attachment-size {
          line-height: $default-line-height;
          color: $gray-deep;
        }
      }
    }

    .details-container {
      margin-top: 1rem;

      .details-content {
        background-color: $gray-subtle;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem 2rem;
        line-height: 2.4rem;

        .reason-label {
          color: $gray-deep;
        }

        .reason-value {
          color: $blue-primary;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
