<div class="activity-list-container" *ngIf="activities">
  <div *ngIf="activities.length === 0" class="no-activity-text">
    {{ 'postBillingDisputes.activityPanel.labels.noActivityYet' | translate }}
  </div>
  <div *ngFor="let activity of activities; let i = index">
    <bspl-pbd-activity-workflow-item
      *ngIf="isWorkflowItem(activity)"
      [workflowItem]="activity"
      (download)="onDownload($event)"
    ></bspl-pbd-activity-workflow-item>
    <bspl-pbd-activity-comment-item
      *ngIf="!isWorkflowItem(activity)"
      [commentItem]="activity"
      (download)="onDownload($event)"
    ></bspl-pbd-activity-comment-item>

    <bspl-pbd-activity-dashed-border *ngIf="!isNewActivityDay(activity, i)"></bspl-pbd-activity-dashed-border>
    <bspl-pbd-activity-date-border
      *ngIf="isNewActivityDay(activity, i)"
      [date]="getDate(activity)"
    ></bspl-pbd-activity-date-border>
  </div>
</div>
