<div class="container">
  <div class="row">
    <div class="col-md-6">
      <strong>Autocomplete with Virtual Scroll and Dynamic Data</strong>
      <bspl-autocomplete
        label="Github Users"
        [loading]="loading"
        [items]="users"
        bindLabel="login"
        (typeahead)="searchUsers($event)"
        (scrollToEnd)="getMoreUsers()"
      ></bspl-autocomplete>
    </div>
    <div class="col-md-6">
      <strong>Autocomplete with validation</strong>
      <bspl-autocomplete
        label="Github Users"
        [loading]="loading"
        [items]="users"
        bindLabel="login"
        (typeahead)="searchUsers($event)"
        (scrollToEnd)="getMoreUsers()"
        [validate]="true"
        [formControl]="requiredAutocomplete"
      ></bspl-autocomplete>
    </div>
  </div>
</div>
