@import 'theme/variables/index';
@import 'theme/app/custom-control';

bspl-step-input {
  @include control-common();

  label {
    @include input-label();
  }

  &.ng-invalid.control--showErrors p-inputNumber .p-inputnumber .p-inputnumber-button {
    color: $invalid-border-color !important;
  }

  .control__wrapper {
    display: flex;
    align-items: center;
  }

  &.control--locked {
    .control__wrapper {
      position: relative;

      .p-inputnumber-input {
        @include input-locked();
      }
    }
  }

  p-inputNumber {
    height: 3.6rem;
    width: 100%;

    .p-inputnumber {
      width: 100%;
    }

    .p-inputnumber-input {
      margin: 0 -0.2rem;
      @include input-common();
    }

    .p-inputtext:enabled:hover {
      border-color: $default-border-color;
    }

    .p-inputnumber .p-inputnumber-button,
    .p-inputnumber .p-inputnumber-button:enabled:hover,
    .p-inputnumber .p-inputnumber-button:focus,
    .p-inputnumber .p-inputnumber-button:enabled:active {
      background-color: $white;
      border-color: $blue-light;
      color: $blue-light;
    }

    .p-inputnumber .p-inputnumber-button {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: $border-radius-small;

      &[disabled] {
        color: $gray-middle;
      }
    }

    .p-inputnumber-input[disabled],
    .p-inputnumber .p-inputnumber-button[disabled] {
      background-color: $gray-light;
      border-color: $gray-middle;
      box-shadow: none;
    }

    .p-component:disabled {
      opacity: 1 !important;
    }
  }

  p-inputNumber + i.material-icons {
    @include input-icon();

    right: 4.6rem;
  }

  @include control-error();
}
