<label [hidden]="!label" [for]="id">{{ label }}</label>

<div class="control__wrapper">
  <p-inputNumber
    #input
    [(ngModel)]="value"
    (onBlur)="onBlur($event)"
    (onFocus)="onFocus($event)"
    (keyup.enter)="onEnterKeyUp($event)"
    [inputId]="id"
    mode="decimal"
    [showButtons]="!isReadOnly"
    buttonLayout="horizontal"
    [min]="min"
    [max]="max"
    [step]="step"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus"
    [placeholder]="placeholder || null"
    [name]="name || null"
    [disabled]="isDisabled || isReadonly"
    [tabindex]="tabindex || null"
  >
  </p-inputNumber>
  <i class="material-icons" [hidden]="!locked">lock</i>
</div>

<div class="control__error">
  {{ getErrorMessage() }}
</div>
