<div class="header-container">
  <h3 class="header-title">
    {{ title | translate }}
  </h3>
  <div class="header-actions">
    <ng-container *ngIf="!issueOptionActions">
      <bspl-button
        *ngIf="showIssueBtn"
        [label]="issueBtnLbl | translate"
        [design]="btnDesign.Secondary"
        icon="mi md-18 add"
        (onClick)="navigateToIssue()"
      ></bspl-button>
      <bspl-button
        *ngIf="showIssuePendingBtn"
        [label]="issueSupervisionBtnLbl | translate"
        [design]="btnDesign.Secondary"
        icon="mi md-18 add"
        (onClick)="navigateToIssueUnderSupervision()"
      ></bspl-button>
    </ng-container>

    <ng-container *ngIf="issueOptionActions">
      <bspl-split-button
        class="ml-4"
        [mainOption]="issueOptionActions.mainOption"
        [options]="issueOptionActions.options"
        [design]="btnDesign.Secondary"
      ></bspl-split-button>
    </ng-container>
  </div>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
