<div class="side-menu-container">
  <div
    *ngFor="let group of groupedOptions | keyvalue"
    class="side-menu-section"
    [class.collapsed-menu]="getCollapsedStateOfGroup(group.key)"
  >
    <div class="side-menu" [class.collapsed-menu]="getCollapsedStateOfGroup(group.key)">
      <div class="side-menu-label" (click)="changeCollapsedState(group.key)">
        {{ group.key | translate }}
        <i class="material-icons">{{ getCollapsedStateOfGroup(group.key) ? expandIcon : collapsedIcon }}</i>
      </div>
      <div *ngIf="!getCollapsedStateOfGroup(group.key)">
        <div
          *ngFor="let item of group.value"
          [ngClass]="{ active: item.title === activatedItem.title }"
          class="side-menu-item"
        >
          <div
            class="side-menu-item-label"
            (click)="selectItem(item)"
            [bsplTooltip]="item.title | translate"
            [showOnEllipsis]="true"
          >
            {{ item.title | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
