@import 'theme/variables/index';

.side-menu-container {
  display: flex;
  flex-direction: column;

  .side-menu-section {
    background-color: $white;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      box-shadow: 0 2px 4px 0 rgba($blue-primary, 0.06), -1px 5px 5px 0 rgba($blue-primary, 0.12);
      height: 1rem;
      margin-top: -$spacing-s;
      z-index: $z-index-layer-1;
      background: $white;
    }
  }

  .collapsed-menu {
    padding-bottom: 0;

    &.side-menu-section {
      border-bottom: none;

      &::after {
        background-color: $gray-subtle;
      }

      &:hover {
        &::after {
          background-color: hover-color($gray-subtle);
        }

        .side-menu {
          background-color: hover-color($gray-subtle);
        }
      }
    }

    &.side-menu-section:not(:last-of-type) {
      border-bottom: 1px solid $gray-neutral;

      &::after {
        box-shadow: none;
      }
    }

    .side-menu {
      background-color: $gray-subtle;
      padding-bottom: 0;
    }
  }

  .side-menu {
    background-color: $white;
    padding: $spacing-l 0 $spacing-xl 0;

    .side-menu-label {
      padding: 0 $spacing-xl $spacing-l;
      color: $blue-primary;
      font-size: $font-size-l;
      line-height: $line-height-l;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      i {
        cursor: pointer;
      }
    }

    .side-menu-item {
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;

      &:hover {
        background-color: hover-color($white);

        &::after {
          background-color: transparent;
        }
      }

      &.active {
        cursor: default;
        background-color: $yellow;

        &::after {
          background-color: transparent;
        }
      }

      &::after {
        display: block;
        content: '';
        height: 1px;
        background-color: $gray-light;
        margin: 0 $spacing-xl;
      }
    }

    .side-menu-item-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $gray-dark;
      font-size: $font-size-m;
      padding: 1.3rem $spacing-xl;
    }
  }
}
