<div class="sftp-account-edit-form-container" [formGroup]="form">
  <bspl-property-list class="property-list-compact info__section">
    <bspl-property
      label="menu.masterData.configuration.sftpConfigurations.labels.sftpAccountType"
      [value]="sftpAccount?.sftpAccountTypeText"
    ></bspl-property>
    <bspl-property
      class="property-with-separator"
      label="menu.masterData.configuration.sftpConfigurations.labels.login"
      [value]="sftpAccount?.login"
    ></bspl-property>
    <bspl-property
      label="menu.masterData.configuration.sftpConfigurations.labels.status"
      [value]="sftpAccount?.stateText"
    ></bspl-property>
  </bspl-property-list>
  <div class="form__section">
    <bspl-input
      type="password"
      [label]="'menu.masterData.configuration.sftpConfigurations.editDialog.labels.password' | translate"
      formControlName="password"
      [autofocus]="true"
    ></bspl-input>
    <bspl-input
      type="password"
      [label]="'menu.masterData.configuration.sftpConfigurations.editDialog.labels.confirmPassword' | translate"
      formControlName="confirmPassword"
    ></bspl-input>
  </div>
</div>
