<div class="floating-panel-container" *ngIf="isOpened" [class.floating]="isFloating" [class.full-width]="fullWidth">
  <i class="close-btn material-icons" *ngIf="closable" (click)="close()">close</i>
  <div class="floating-panel-content">
    <ng-content></ng-content>
  </div>
</div>
