@import 'theme/variables/index';

:host {
  display: flex;
  justify-content: flex-end;
  z-index: $z-index-layer-2;
  position: sticky;
  top: $spacing-m;
  bottom: $spacing-m;
}

.floating-panel-container {
  background-color: $white;
  border: 1px solid $blue-primary;
  border-radius: $border-radius-large;
  z-index: $z-index-layer-1;
  box-shadow: none;
  transition: box-shadow 0.5s linear;
  position: relative;

  &.floating {
    box-shadow: $shadow-z-3;
  }

  &.full-width {
    width: 100%;
  }

  .close-btn {
    background-color: $blue-primary;
    color: $white;
    font-size: $font-size-m;
    padding: $spacing-xxxs;
    border-radius: 50%;
    position: absolute;
    right: -$spacing-xs;
    top: -$spacing-xs;
    cursor: pointer;
  }

  .floating-panel-content {
    min-height: 2rem;
    max-height: 40vh;
    overflow: auto;
  }
}

@media print {
  :host {
    position: static;
  }
}
