<div class="subtabs-header-container">
  <div class="subtabs-header-title">
    <h3 class="subtabs-title">
      <img class="entity-logo" src="../assets/entity-logos/Airline.svg" alt="Airline Logo" />
      {{ (loggedUser$ | async)?.globalAirline?.globalName || 'Unknown Airline' }}
    </h3>
  </div>
</div>
<bspl-tab-navbar class="nav-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
