@import 'theme/variables/index';

:host {
  .subtabs-header-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 35px;
    flex: 1 1 auto;

    .subtabs-header-title {
      display: flex;
      align-items: center;

      .subtabs-title {
        font-size: $font-size-xxl;
        font-weight: normal;
        line-height: 30px;
        color: $blue-primary;
        margin: 0;

        .entity-logo {
          width: 2rem;
          margin-right: $spacing-xs;
          vertical-align: none;
        }
      }
    }
  }

  .nav-tabs {
    ::ng-deep {
      .tab-menu-container {
        margin-left: -$spacing-xl;
        margin-right: -$spacing-xl;
      }
    }
  }
}
