<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >The dashboard page contains charts that represent the most relevant data concerning the BSP the IATA User has
    logged in.
  </span>
</p>

<p class="BodyText" align="center" style="line-height: normal; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="645" height="295" id="Imagen 96" src="iata/images/image015.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Dashboard.</span>
</p>

<p class="MsoNormal"><span lang="EN-GB">The dashboard includes different sections, namely:</span></p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dashboard insights
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This dashboard section shows different charts which allow IATA users to compare different details affecting ADMs,
    Refund Applications and Files:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid">
  <span lang="EN-GB"><img border="0" width="642" height="273" id="Imagen 182" src="iata/images/image016.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <a name="_Toc34375457"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Dashboard insights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Quick Links
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The quick links available on the dashboard area will provide quick access to the related queries. Filter options
    are prepopulated and showing the associated data for the selected quick link.</span
  >
  <span lang="EN-GB" style="font-size: 9pt; line-height: 97%; color: windowtext"> </span>
</p>

<p class="MsoNormal" align="center">
  <a name="_Toc54851501"></a
  ><a name="_Toc57364934"
    ><span lang="EN-GB"><img border="0" width="646" height="282" id="Imagen 183" src="iata/images/image017.jpg" /></span
  ></a>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Quick Links.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  IATA Messages and News
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Finally, the right side of the dashboard includes an overview of the most recent news and messages from IATA.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <a name="_Hlk52348725"
    ><span lang="EN-GB"><img border="0" width="383" height="639" id="Imagen 95" src="iata/images/image018.jpg" /></span
  ></a>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: IATA Messages and News.</span>
</p>
