@import 'theme/variables/index';
@import 'theme/app/custom-control';

bspl-input-select {
  @include control-common();

  label {
    @include input-label();
  }

  &:not(.control--empty) bspl-select ng-select {
    &:not(.ng-select-focused):not(.ng-select-opened) {
      .ng-select-container {
        border-right: none !important;
      }
    }

    &.ng-select-focused,
    &.ng-select-opened {
      margin-right: -1px;
    }

    .ng-select-container {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  bspl-select {
    width: 30%;
    min-width: 4.5em;
    max-width: 10em;
    float: left;

    ng-select {
      .ng-select-container {
        .ng-arrow-wrapper {
          margin-left: 0.5em;
        }
      }

      ng-dropdown-panel {
        width: auto !important;
        min-width: 100%;
        max-width: 20em;
      }
    }
  }

  bspl-input {
    overflow: auto;

    input {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
