<div class="control__wrapper">
  <label [hidden]="!label" [for]="id" (click)="openSelect()">{{ label }}</label>
  <div>
    <bspl-select
      [id]="id"
      (click)="dropdownClick.emit($event)"
      [formControl]="dropdownControl"
      [options]="dropdownOptions"
      [clearable]="false"
      [isDisabled]="isDisabled || locked"
      [isReadOnly]="isReadOnly"
    ></bspl-select>
    <ng-container *ngFor="let option of options">
      <bspl-input
        [hidden]="!isInputOptionShown(option)"
        [formControl]="option.input"
        [placeholder]="option.placeholder"
        [isDisabled]="isDisabled"
        [locked]="locked"
        [isReadOnly]="isReadOnly"
      ></bspl-input>
    </ng-container>
  </div>
</div>
