<div class="header-container">
  <h3 class="header-title">
    {{ 'DASHBOARD.dashboards.tabTitle' | translate }}
  </h3>
</div>

<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link *ngFor="let tab of tabs" [label]="tab.title" [routerLink]="tab.route"></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
