<p class="MsoNormal">
  <span lang="EN-GB">The following hardware and software requirements should be considered:</span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
  </span>
  <span> The system can be run on common operation systems such as Linux and Windows. </span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  >
  <span> The system can be accessed from any geographical location via the public internet. </span>
</p>

<p class="BulletLevel1">
  <span style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
  </span>
  <span>
    The New BSPlink is accessible through a web browser and supports the latest stable version of Safari, Edge, Chrome
    and Firefox browsers as a minimum.
  </span>
</p>
