@import 'theme/variables/index';

.help-page-content {
  color: $gray-dark;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $spacing-xs 0;
  }

  table {
    margin: $spacing-xxs 0;
  }

  p {
    margin-bottom: $spacing-l;

    &:last-child {
      margin-bottom: 0;
    }

    &.BulletLevel1,
    &.OrgChartBullet,
    &.MsoListParagraphCxSpFirst,
    &.MsoListParagraphCxSpMiddle,
    &.MsoListParagraphCxSpLast {
      margin: 0;

      & + .MsoCaption {
        margin-top: $spacing-xs;
      }
    }

    &.BulletLevel2 {
      margin-bottom: 0;
      margin-left: 3.6rem;
    }

    &.MsoCaption {
      font-size: $font-size-s;
      line-height: $line-height-s;
      color: $gray-deep;
      margin-top: -$spacing-s;
      margin-bottom: $spacing-m;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.MsoBodyText {
      margin: $spacing-xxs 0;

      & > span {
        &:first-child {
          font-size: $font-size-l;
          line-height: $line-height-m;
          font-weight: $font-weight-medium;
          color: $blue-primary;
        }
      }

      & + .MsoCaption {
        margin-top: $spacing-xs;
      }
    }
  }

  a[href] {
    color: $blue-light;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
