<bspl-spinner [isLoading]="isLoading" [isTransparent]="true" [color]="'primary'"></bspl-spinner>

<ng-container *ngIf="!isLoading">
  <bspl-empty-help-page *ngIf="!item?.path"></bspl-empty-help-page>
  <div class="help-page-content" [innerHTML]="page"></div>
</ng-container>

<bspl-back-to-top-btn></bspl-back-to-top-btn>
