<div>
  <div class="paragraph__text">
    <p>{{ 'sales.download.description' | translate }}</p>
  </div>
  <div [formGroup]="form">
    <div class="data__table">
      <div class="row line__data">
        <label class="item__container">
          <span class="item__label">{{ 'sales.download.queryLbl' | translate }}</span>
          <bspl-checkbox [formControlName]="'details'" [autofocus]="true"></bspl-checkbox>
        </label>
      </div>
      <div class="row line__data">
        <label class="item__container">
          <span class="item__label">{{ 'sales.download.totalsLbl' | translate }}</span>
          <bspl-checkbox [formControlName]="'totals'"></bspl-checkbox>
        </label>
      </div>
    </div>
    <div class="type__selection">
      <span>{{ 'sales.download.formatLbl' | translate }}</span>

      <bspl-radio-button-group
        [groupName]="'radioButtons'"
        [options]="radioButtonOptions"
        [formControlName]="'export'"
      ></bspl-radio-button-group>
    </div>
  </div>
</div>
