@import 'src/app/shared/scss/data-table-dialog';

:host {
  div.paragraph__text {
    color: $gray-deep;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin-bottom: $spacing-m;
  }

  div.data__table {
    div.row.line__data {
      display: block;
      padding: $spacing-xs $spacing-xs;
      color: $gray-deep;

      &:first-child {
        border-top: solid 1px $gray-neutral;
      }

      .item__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item__label {
          font-size: $font-size-m;
          line-height: $line-height-m;
        }
      }
    }

    padding: 0 $spacing-m $spacing-m;
  }

  div.type__selection {
    margin-bottom: $spacing-xxxl;
    font-size: $font-size-m;
    color: $gray-deep;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
