<bspl-list-view
  id="acdm-authority-list"
  [filterFormatter]="displayFormatter"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasFilteringExpanded]="hasFilteringExpanded"
  [isActionButtonDisabled]="!isSearchEnabled"
  [canDownload]="hasData$ | async"
  [title]="'LIST.MASTER_DATA.admAcmAuthority.title' + viewAs"
  [isInTab]="true"
  [query]="query$ | async"
  (queryChange)="onQueryChanged($event)"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" *ngIf="hasLeanPermission">
      <bspl-select
        formControlName="bsp"
        [options]="userBspOptions"
        [label]="'LIST.MASTER_DATA.admAcmAuthority.bsp.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.admAcmAuthority.bsp.placeholder' | translate"
        [locked]="isBspFilterLocked"
        [clearable]="false"
      >
      </bspl-select>
      <span>{{ 'LIST.MASTER_DATA.admAcmAuthority.bsp.highlightedText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="col-3" *ngIf="isAirlineView">
        <bspl-select
          [multiple]="true"
          [options]="thirdPartyOptions$ | async"
          [virtualScroll]="true"
          [locked]="isThirdPartyFilterLocked"
          formControlName="thirdParties"
          [label]="'LIST.MASTER_DATA.admAcmAuthority.thirdPartyFilterLabel' | translate"
          [placeholder]="'LIST.MASTER_DATA.admAcmAuthority.thirdPartyFilterPlaceholder' | translate"
        ></bspl-select>
      </div>
      <div class="col-3" *ngIf="!isAirlineView">
        <bspl-select
          [multiple]="true"
          [options]="airlines$ | async"
          formControlName="airlines"
          [label]="'LIST.MASTER_DATA.admAcmAuthority.airlineFilterLabel' | translate"
          [placeholder]="'LIST.MASTER_DATA.admAcmAuthority.airlineFilterPlaceholder' | translate"
        ></bspl-select>
      </div>
      <div class="col-3" *ngIf="isAirlineView">
        <bspl-select
          formControlName="active"
          [options]="statusOptions"
          [label]="'LIST.MASTER_DATA.admAcmAuthority.active' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-3">
        <bspl-select
          formControlName="hasADM"
          [options]="statusOptions"
          [label]="'LIST.MASTER_DATA.admAcmAuthority.admAuthorityStatus' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-3">
        <bspl-select
          formControlName="hasACM"
          [options]="statusOptions"
          [label]="'LIST.MASTER_DATA.admAcmAuthority.acmAuthorityStatus' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <div [hidden]="!canShowDataQuery">
    <bspl-grid-table
      bsplListViewGrid
      [columns]="columns"
      [rows]="data$ | async"
      columnMode="flex"
      [isLoading]="loading$ | async"
      (checkboxChange)="onModify($event)"
    ></bspl-grid-table>
  </div>
  <div [hidden]="canShowDataQuery">
    <bspl-locked-state
      [message]="'LIST.MASTER_DATA.admAcmAuthority.bsp.lockedStateMessage' | translate"
    ></bspl-locked-state>
  </div>
</bspl-list-view>
