<div class="change-user-type-container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="config.data.dialogType === 'Iata'; else agentGroup">
        <p class="description">
          {{
            'headerUserInfo.returnToOriginalProfileDialog.description'
              | translate
                : locale.language
                : { userCode: (loggedUser$ | async).iataCode || (loggedUser$ | async).userType | uppercase }
          }}
        </p>
      </div>
      <ng-template #agentGroup>
        <p class="description">
          {{
            'headerUserInfo.returnToAgentGroupProfileDialog.description'
              | translate
                : locale.language
                : { agentCode: (loggedUser$ | async).iataCode || (loggedUser$ | async).userType | uppercase }
          }}
        </p>
      </ng-template>
    </div>
  </div>
</div>
