// BLUE SCALE
$blue-primary: #0f154d;
$blue-secondary: #2a338c;
$blue-tertiary: #2d3ace;
$blue-light: #1e32fa;
$blue-ocean: #7884fc;
$blue-sky: #d2d6fe;
$blue-grayish: #edefff;

// GRAY SCALE
$dark: #1b2126;
$gray-dark: #5b5c66;
$gray-deeper: #6c7680;
$gray-deep: #747580;
$gray-deep-middle: #9a9ba6;
$gray-middle: #c7c8d1;
$gray-neutral: #e4e5eb;
$gray-light: #f2f2f5;
$gray-subtle: #f7f7fa;
$white-subtle: #e4e7eb;
$white: #fff;

// ACCENT COLORS
$red: #f04632;
$orange: #fa0;
$yellow: #fac832;
$yellow-active: #fcde84;
$green: #289632;
$pink: #f050c8;
$purple: #5a14a0;
