// FONT-SIZE
$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-l: 1.6rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2.4rem;
$font-size-xxxl: 3.6rem;

// LINE-HEIGHT
$line-height-s: 1.6rem;
$line-height-m: 2.4rem;
$line-height-l: 2.6rem;
$line-height-xl: 3rem;
$line-height-xxl: 4.2rem;

// FONT-WEIGHT
$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-italic: italic;

$font-family: 'Roboto', sans-serif;
