@import 'theme/variables/index';

:host {
  display: inline-block;
  margin: $spacing-xxs;
  border-radius: 50%;

  .tag-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    font-size: $font-size-s;
    border-radius: 12px;
    position: relative;

    &.accent {
      background-color: $yellow;

      &:hover {
        background-color: hover-color($yellow);
      }
    }

    &.default {
      background-color: $gray-neutral;

      &:hover {
        background-color: hover-color($gray-neutral);
      }
    }

    &.disabled {
      background-color: $gray-light;

      &:hover {
        background-color: $gray-light;
      }
    }

    &.invalid {
      background-color: $red;

      .tag-text {
        color: $white;
      }

      &:hover {
        background-color: hover-color($red);
      }

      .remove-tag-container:hover {
        .remove-tag-icon {
          color: $white;
        }
      }
    }

    &.content-editable-container {
      background-color: $white;

      .tag-text {
        color: $blue-primary;
      }

      .remove-tag-container {
        display: none;
      }

      &:hover {
        background-color: $white;
      }
    }

    &.tag-closeable {
      padding-right: 2.4rem;
    }

    .tag-text {
      display: inline-block;
      padding: 0 $spacing-xxs;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
      line-height: $line-height-s;
      color: $blue-primary;
      outline: 0;
    }

    .remove-tag-container {
      position: absolute;
      right: 0;
      padding: 0.6rem;
      line-height: 1.2rem;
      cursor: pointer;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;

      &:hover {
        .remove-tag-icon {
          color: $blue-primary;
        }
      }

      .remove-tag-icon {
        font-size: $font-size-s;
        color: rgba($blue-primary, 0.3);
        border-radius: 50%;
        vertical-align: middle;
      }
    }
  }
}
