<div
  [ngClass]="'tag-container ' + state"
  [bsplTooltip]="getTooltipValue()"
  [class.disabled]="isDisabled"
  [class.tag-closeable]="closeable && !isDisabled"
>
  <div
    class="tag-text"
    (mousedown)="preventSelection($event)"
    (dblclick)="onDoubleClick($event)"
    (keyup.enter)="onChange($event)"
    (blur)="onChange($event)"
    [attr.contentEditable]="contentEditableEnabled"
  >
    {{ value }}
  </div>
  <div class="remove-tag-container" *ngIf="closeable && !isDisabled" (click)="onRemove($event)">
    <i class="material-icons remove-tag-icon">cancel</i>
  </div>
</div>
