<p
  class="BodyText"
  style="margin-top: 0.25in; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <a name="_Hlk50977935"
    >This module allows Agent users to query and manage those files related to the activity of the agency. All
    communications and files can be found under this section.</a
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="194" height="212" id="Imagen 160" src="agent/images/files-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Files.</span>
</p>
