<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk50978099"
    >This section facilitates all the existing reports belonging to the Agency (such as the billing report). Once
    clicked, the following table is displayed:</a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" height="228" id="Imagen 153" src="agent/images/image281.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc34375541"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Query reports.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk50978276"
    ><span lang="EN-GB"
      >In each BSP, reports are displayed under two tabs: “Inbox” (where they are all received by default) and “Archive”
      (where it is possible to store the required files).
    </span></a
  ><a name="_Hlk50978243"><span lang="EN-GB">For each report, the following details are displayed:</span></a>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Country / Territory </span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File type </span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload date</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Size</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB">“Downloaded” or “Non-downloaded” for the “Inbox” tab, and “Archived” for the “Archive” tab.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >By means of the <img border="0" width="22" height="22" id="Imagen 48" src="agent/images/image282.jpg" /> icon on
    each row, Agent Users may either download or archive the given file.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is possible to refine the query by means of the
    <img border="0" width="82" height="30" id="Imagen 60" src="agent/images/image283.jpg" /> button. For the “Inbox”
    tab, the filter can be configured with the following parameters:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; line-height: normal; page-break-after: avoid; text-align: center"
>
  <span lang="EN-GB"><img border="0" width="646" height="169" id="Imagen 213" src="agent/images/reports-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc34375542"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: Filter File Query under &quot;Inbox&quot; tab.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <a name="_Hlk50978509"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">File Name: </span></b><span lang="EN-GB">strings are accepted.</span></a
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Type</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk50978529"
    ><span lang="EN-GB"
      >As for the “Archive” tab, it is possible to filter the query through the following fields:</span
    ></a
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="170" id="Imagen 46" src="agent/images/reports-3.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc34375543"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Filter file query under “Archive&quot; tab.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP</span></b>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <a name="_Hlk50978579"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">File Name: </span></b><span lang="EN-GB">strings are accepted.</span></a
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">File Type</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Upload Date</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  How can I download reports?
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In the inbox tab, files can be downloaded simply by clicking on each file name. It is also possible to click on
    <img border="0" width="22" height="22" id="Imagen 63" src="agent/images/image286.jpg" /> and select the “Download”
    option. Please note that new files present bold font in their names.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">In the “Archive” tab, files can be also downloaded by clicking on each file name. </span>
</p>
