<p class="BodyText" style="line-height: normal">
  <span lang="EN-GB"
    >The dashboard page contains different sections which are intended to facilitate Agent users the management of its
    activity. It contains four major sections: Dashboard highlights, Dashboard Insights, Quick Links and IATA Messages
    and Reports.</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="295" id="Imagen 143" src="agent/images/image016.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Dashboard.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dashboard highlights
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >The top part of the dashboard displays the most relevant actions performed in the previous 7 days: issued Refund
    Applications, disputed ADMs, issued PBDs and rejected of modified RET files. It is possible to display each of these
    options by clicking on “See all”.</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img
      border="0"
      width="507"
      height="143"
      id="Imagen 15"
      src="agent/images/image017.jpg"
      alt="Captura de pantalla de un celular&#10;&#10;Descripción generada automáticamente"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: Dashboard highlights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dashboard insights
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This dashboard section shows different charts which allow Airline users compare different details affecting ADMs,
    Refund Applications and Files:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="642" height="273" id="Imagen 85" src="agent/images/image018.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: Dashboard insights.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Quick Links
</p>

<p class="MsoNormal" style="margin-top: 0.25in; page-break-after: avoid">
  <span lang="EN-GB"
    >The quick links available on the dashboard area will provide quick access to the related queries.  Filter options
    are prepopulated and showing the associated data for the selected quick link.
  </span>
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="247" id="Imagen 101" src="agent/images/image019.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Quick Links.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  IATA Messages and News
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Finally, the right side of the dashboard includes an overview of the most recent news and messages from IATA.</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="383" height="631" id="Imagen 145" src="agent/images/image020.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">5</span><span lang="EN-GB">: IATA Messages and News.</span>
</p>
