<bspl-list-view
  [title]="tableTitle"
  [isInTab]="true"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="hasData$ | async"
  [query]="query$ | async"
  [filterFormatter]="displayFormatter"
  [maxSupportedItems]="maxSupportedItems"
  [predefinedFilters]="predefinedFilters"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (queryChange)="onQueryChanged($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter" [hidden]="userType === userTypes.AGENT">
      <bspl-select
        [options]="bspCountriesList"
        formControlName="bsp"
        [label]="'ADM_ACM.query.filters.labels.bsp' | translate"
        [placeholder]="'ADM_ACM.query.filters.placeholders.bsp' | translate"
        [isDisabled]="!bspCountriesList?.length"
        [locked]="isBspFilterLocked"
        [multiple]="isBspFilterMultiple"
        [clearable]="isBspFilterMultiple"
      >
      </bspl-select>
      <span>{{ 'ADM_ACM.query.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="ticketDocumentNumber"
          [label]="'ADM_ACM.query.filters.labels.docNumber' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.docNumber' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" [hidden]="userType === userTypes.AIRLINE">
        <bspl-select
          [multiple]="true"
          [options]="airlineCodesList$ | async"
          formControlName="airlineIataCode"
          [label]="'ADM_ACM.query.filters.labels.airlCode' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.airlCode' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" [hidden]="userType === userTypes.AGENT">
        <bspl-select
          [multiple]="true"
          [options]="agentCodesList$ | async"
          formControlName="agentId"
          [label]="'ADM_ACM.query.filters.labels.agentCode' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.agentCode' | translate"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="currencyList"
          formControlName="currencyId"
          [label]="'ADM_ACM.query.filters.labels.currency' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.currency' | translate"
          [isDisabled]="!currencyList?.length"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-range-dropdown
          formControlName="amountRange"
          [label]="'ADM_ACM.query.filters.labels.amountRange' | translate"
          [heading]="'ADM_ACM.query.filters.misc.amountRangeHeading' | translate"
        ></bspl-range-dropdown>
      </div>
      <div class="form-group col-md-3" *ngIf="!isAcdmd">
        <bspl-select
          [multiple]="true"
          [options]="rtdnTypeList$ | async"
          formControlName="concernsIndicator"
          [label]="'ADM_ACM.query.filters.labels.rtdnType' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.rtdnType' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          [label]="'ADM_ACM.query.filters.labels.issueDate' | translate"
          formControlName="dateOfIssue"
          [placeholder]="'ADM_ACM.query.filters.placeholders.dateRange' | translate"
          [selectionMode]="'range'"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-period-picker
          formControlName="period"
          [options]="periodOptions$ | async"
          [label]="'ADM_ACM.query.filters.labels.period' | translate"
          [isDisabled]="periodIsDisabled"
          [bsplTooltip]="periodIsDisabled ? ('ADM_ACM.query.filters.tooltip.period' | translate) : null"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-md-3" [hidden]="!isInternalCommentVisible">
        <bspl-select
          formControlName="hasInternalComment"
          [options]="hasInternalCommentList"
          [label]="'ADM_ACM.query.filters.labels.internalComment' | translate"
          [placeholder]="'ADM_ACM.query.filters.placeholders.internalComment' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="data$ | async"
    [primaryActions]="isActionListVisible && (listActions$ | async)"
    [showIconEmptyActions]="isActionListVisible"
    [isLoading]="loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
    (rowToggle)="onRowToggle($event)"
    (imageClick)="onImageClick($event)"
    (actionsMenuClick)="onGetActionList($event)"
    (actionClick)="onActionClick($event)"
  >
  </bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <bspl-spinner [isLoading]="loadingItem$ | async">
    <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
      <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
        <bspl-property
          label="ADM_ACM.query.rowDetails.airlineLbl"
          [value]="row.airline.iataCode + ' / ' + row.airline.localName"
        ></bspl-property>
        <bspl-property
          label="ADM_ACM.query.rowDetails.agentLbl"
          [value]="row.agent.iataCode + ' / ' + row.agent.name"
        ></bspl-property>
        <bspl-property
          label="ADM_ACM.query.rowDetails.agentStatus"
          [value]="'ADM_ACM.query.rowDetails.agentStatusTypes.' + row.agent.active | translate"
        ></bspl-property>
        <bspl-property
          label="ADM_ACM.query.rowDetails.countryLbl"
          [value]="row.agent.bsp.name | titlecase"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
        <bspl-property label="ADM_ACM.query.rowDetails.trncTypeLbl" [value]="row.transactionCode"></bspl-property>
        <bspl-property
          label="ADM_ACM.query.rowDetails.rtdnTypeLbl"
          [value]="'ADM_ACM.acdmFor.' + row.concernsIndicator | translate"
        ></bspl-property>
      </bspl-property-list>
      <bspl-property-list class="col-md-4 col-sm-4 property-list-align-left property-list-compact">
        <bspl-property
          label="ADM_ACM.query.rowDetails.deletionReasonLbl"
          [value]="deletionReason$ | async"
        ></bspl-property>
        <bspl-property label="ADM_ACM.query.rowDetails.memoReasonLbl" [value]="memoReason$ | async"></bspl-property>
      </bspl-property-list>
    </div>
  </bspl-spinner>
</ng-template>
