<label [hidden]="!label" [for]="id">{{ label }}</label>

<div class="control__wrapper">
  <div
    class="summary-input"
    #targetElement
    [ngClass]="{ isFocused: overlayPanel.overlayVisible }"
    (click)="overlayPanel.toggle($event)"
  >
    <span *ngIf="!value">{{ placeholder | translate }}</span>
    <span *ngIf="value">
      <span *ngIf="value[0] != null">
        {{ value[0] }}
      </span>
      <span *ngIf="value[0] != null && value[1] != null"> - </span>
      <span *ngIf="value[1] != null">
        {{ value[1] }}
        <ng-container *ngIf="unit"> {{ value[1] | i18nPlural : unitPluralMapping[unit] | translate }} </ng-container>
      </span>
    </span>
    <span class="icons-wrapper">
      <span *ngIf="value" class="clear-wrapper" title="Clear all" (click)="clear()">
        <span aria-hidden="true" class="clear"> × </span>
      </span>
    </span>
  </div>
</div>

<div class="control__error">
  {{ getErrorMessage() }}
</div>

<p-overlayPanel #overlayPanel>
  <div class="heading">{{ heading }}</div>

  <ng-container *ngIf="isSliderVisible">
    <div class="units">
      <span>
        {{ min }}
        <ng-container *ngIf="unit"> {{ min | i18nPlural : unitPluralMapping[unit] | translate }} </ng-container>
      </span>
      <span>
        {{ max }}
        <ng-container *ngIf="unit"> {{ max | i18nPlural : unitPluralMapping[unit] | translate }} </ng-container>
      </span>
    </div>
    <p-slider
      [(ngModel)]="value"
      [ngClass]="{ focussed: isRangeInputFocussed }"
      [range]="true"
      [min]="min"
      [max]="max"
    ></p-slider>
  </ng-container>

  <div class="row">
    <div class="col-6">
      <bspl-input
        [formControl]="fromControl"
        [label]="'rangeDropdown.min' | translate"
        [placeholder]="fromPlaceholder"
        [maxLength]="10"
        (focus)="onRangeInputFocus()"
        (blur)="onRangeInputBlur()"
      ></bspl-input>
    </div>
    <div class="col-6">
      <bspl-input
        [formControl]="toControl"
        [label]="'rangeDropdown.max' | translate"
        [placeholder]="toPlaceholder"
        [maxLength]="10"
        (focus)="onRangeInputFocus()"
        (blur)="onRangeInputBlur()"
      ></bspl-input>
    </div>
  </div>
</p-overlayPanel>
