@import 'theme/variables/index';
@import 'theme/app/custom-control';

:host {
  @include control-common();

  display: block;
  position: relative;

  label {
    @include input-label();
  }

  .control__wrapper {
    .summary-input {
      @include input-common();

      background-color: white;
      cursor: pointer;

      &.isFocused {
        @include input-focus();
      }

      .icons-wrapper {
        float: right;

        .clear-wrapper {
          color: $gray-middle;
          cursor: pointer;
          font-size: 2rem;
          line-height: 2.5rem;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  &.control--locked {
    .control__wrapper {
      div {
        position: relative;

        input {
          @include input-locked();
        }

        input ~ i {
          @include input-icon();
        }
      }
    }
  }

  &.control--empty {
    .control__wrapper {
      .summary-input {
        color: $gray-middle;
      }
    }
  }

  .heading {
    color: $gray-deep;
    font-weight: 600;
    margin-bottom: $spacing-xs;
  }

  .units {
    color: #b8b8b8;
    overflow: auto;

    span:first-child {
      float: left;
    }

    span:last-child {
      float: right;
    }
  }

  .row {
    div {
      &:first-child {
        padding-right: $spacing-xs;
      }

      &:last-child {
        padding-left: $spacing-xs;
      }

      bspl-input {
        margin-bottom: 0;
      }
    }
  }

  @include control-error();

  p-overlayPanel ::ng-deep {
    & > div.p-overlaypanel {
      border: 1px solid #d5d5d5;
      background-color: #fff;
      color: #222;
      top: 100% !important;
      left: 0 !important;
      margin-top: $spacing-xxs;

      .p-overlaypanel-content {
        padding: $spacing-s $spacing-m;
      }
    }
  }
}
