@import 'theme/variables/index';

.content {
  color: $gray-deep;
  margin-bottom: $spacing-xxxl;

  .separator {
    margin: $spacing-m 0 $spacing-s 0;
  }

  .message {
    color: $blue-primary;
  }
}
