<div class="content">
  <p>{{ 'MASTER_DATA.agentGroupMembers.inviteMemberDialog.agentSelectionText' | translate }}</p>
  <p>{{ 'MASTER_DATA.agentGroupMembers.inviteMemberDialog.accessText' | translate }}</p>

  <hr class="separator" />

  <form [formGroup]="formGroup">
    <bspl-select
      formControlName="agents"
      [label]="'MASTER_DATA.agentGroupMembers.agent' | translate"
      [appendToBody]="true"
      [virtualScroll]="true"
      [options]="agentOptions | async"
      [clearable]="false"
      [autofocus]="true"
      [isDisabled]="inviteButton.isLoading"
    ></bspl-select>
    <bspl-select
      formControlName="individualAccess"
      [label]="'MASTER_DATA.agentGroupMembers.query.columns.individualAccess' | translate"
      [appendToBody]="true"
      [options]="individualAccessOptions"
      [clearable]="false"
      [isDisabled]="inviteButton.isLoading"
    ></bspl-select>
  </form>

  <bspl-alert-message
    class="message"
    *ngIf="message"
    [message]="message"
    [type]="AlertMessageType.error"
  ></bspl-alert-message>
</div>
