<bspl-list-view
  [title]="'LIST.postBillingDispute.title'"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [hasCreating]="Permissions.pbdStart | hasPermission"
  [customLabels]="customLabels"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="pbdListTagFilterFormatter"
  [predefinedFilters]="predefinedFilters"
  (queryChange)="loadData($event)"
  (download)="download()"
  (create)="create()"
>
  <form bsplListViewFilter [formGroup]="filterForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="bspCountriesList"
        formControlName="bsp"
        [label]="'LIST.postBillingDispute.filters.labels.bsp' | translate"
        [placeholder]="'LIST.postBillingDispute.filters.placeholders.bsp' | translate"
        [locked]="isBspFilterLocked"
        [clearable]="false"
        [multiple]="true"
        [clearable]="true"
      >
      </bspl-select>
      <span>{{ 'LIST.postBillingDispute.filters.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="col-lg-3">
        <bspl-input
          [label]="'LIST.postBillingDispute.filters.labels.documentNumber' | translate"
          formControlName="documentNumber"
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.documentNumber' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="trncOptions"
          formControlName="transactionCode"
          [label]="'LIST.postBillingDispute.filters.labels.transactionCode' | translate"
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.transactionCode' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="!userIsOfType('airline')">
        <bspl-select
          [multiple]="true"
          [options]="airlineOptions$ | async"
          [virtualScroll]="true"
          formControlName="airlineCodes"
          [label]="'LIST.postBillingDispute.filters.labels.airlineCodeName' | translate"
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.airline' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="!userIsOfType('agent')">
        <bspl-select
          [multiple]="true"
          [options]="agentOptions$ | async"
          [virtualScroll]="true"
          formControlName="agentCodes"
          [label]="'LIST.postBillingDispute.filters.labels.agentCodeName' | translate"
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.agent' | translate"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="statusOptions"
          formControlName="status"
          [label]="'LIST.postBillingDispute.filters.labels.status' | translate"
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.status' | translate"
        >
        </bspl-select>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.choose' | translate"
          formControlName="pbdCreationDate"
          [selectionMode]="'range'"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [label]="'LIST.postBillingDispute.filters.labels.pbdDate' | translate"
        ></bspl-datepicker>
      </div>
      <div class="col-lg-3">
        <bspl-datepicker
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.choose' | translate"
          formControlName="pbdResolutionDate"
          [selectionMode]="'range'"
          [minDate]="minDate"
          [maxDate]="maxResolutionDate"
          [label]="'LIST.postBillingDispute.filters.labels.resolutionDate' | translate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [multiple]="true"
          [options]="currenciesOptions$ | async"
          formControlName="currencyCode"
          [label]="'LIST.postBillingDispute.filters.labels.currency' | translate"
          [placeholder]="'LIST.postBillingDispute.filters.placeholders.currency' | translate"
        >
        </bspl-select>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="listActions"
    [showIconEmptyActions]="true"
    (rowLinkClick)="onRowLinkClick($event)"
    (actionClick)="onActionClick($event)"
    (actionsMenuClick)="onGetActionList($event)"
  >
  </bspl-grid-table>
</bspl-list-view>
