@import 'theme/variables/index';
@import 'components/section/section';

.header-container {
  margin: $spacing-xxl 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .back-btn::after {
    content: '';
    margin: 0 $spacing-xs;
    border-right: 1px solid $gray-neutral;
    font-size: $font-size-xxl;
    line-height: normal;
  }
}

.content {
  padding: $spacing-xl $spacing-xxxxl;
  background-color: $gray-subtle;

  .section-container {
    margin: 0;

    .one-third {
      padding-bottom: 0;
    }

    bspl-input:last-child {
      margin-bottom: 0;
    }
  }

  .section-title {
    margin-bottom: $spacing-m;
  }

  p {
    color: $gray-deep;
    margin-bottom: $spacing-s;
  }

  .footer-container {
    display: flex;
    justify-content: flex-end;
  }
}
