<div class="header-container">
  <bspl-icon-button
    class="back-btn"
    [icon]="'arrow_back'"
    [highlighted]="true"
    (click)="cancelCreation()"
  ></bspl-icon-button>
  <h3>{{ 'MASTER_DATA.createAgentGroup.title' | translate }}</h3>
</div>
<div class="content">
  <div class="section-container no-section-bottom-border" [formGroup]="agentGroupForm">
    <div class="section one-third">
      <h3 class="section-title">{{ 'MASTER_DATA.createAgentGroup.agentGroupIdTitle' | translate }}</h3>
      <p>{{ 'MASTER_DATA.createAgentGroup.agentGroupIdDescription' | translate }}</p>
      <bspl-input
        formControlName="iataCode"
        [label]="'MASTER_DATA.createAgentGroup.agentGroupUserId' | translate"
        [autofocus]="true"
        [maxLength]="iataCodeMaxLength"
        (blur)="capitalizeIataCode()"
      ></bspl-input>
    </div>
    <div class="section one-third">
      <h3 class="section-title">{{ 'MASTER_DATA.createAgentGroup.contactDetailsTitle' | translate }}</h3>
      <p>{{ 'MASTER_DATA.createAgentGroup.contactDetailsDescription' | translate }}</p>
      <bspl-input
        formControlName="portalEmail"
        [label]="'MASTER_DATA.createAgentGroup.portalAccessEmail' | translate"
      ></bspl-input>
      <bspl-input formControlName="name" [label]="'MASTER_DATA.createAgentGroup.name' | translate"></bspl-input>
      <bspl-input
        formControlName="organization"
        [label]="'MASTER_DATA.createAgentGroup.organization' | translate"
      ></bspl-input>
      <bspl-input
        formControlName="telephone"
        [label]="'MASTER_DATA.createAgentGroup.telephone' | translate"
      ></bspl-input>
    </div>
    <div class="section one-third">
      <h3 class="section-title">{{ 'MASTER_DATA.createAgentGroup.addressDetailsTitle' | translate }}</h3>
      <bspl-input formControlName="address" [label]="'MASTER_DATA.createAgentGroup.address' | translate"></bspl-input>
      <bspl-input formControlName="postCode" [label]="'MASTER_DATA.createAgentGroup.postcode' | translate"></bspl-input>
      <bspl-input formControlName="city" [label]="'MASTER_DATA.createAgentGroup.locality' | translate"></bspl-input>
      <bspl-input formControlName="country" [label]="'MASTER_DATA.createAgentGroup.country' | translate"></bspl-input>
    </div>
  </div>
  <div class="footer-container">
    <bspl-button
      [label]="'MASTER_DATA.createAgentGroup.createBtn'"
      [isDisabled]="agentGroupForm.invalid || agentGroupForm.pristine"
      [isLoading]="isCreating"
      (click)="createAgentGroup(agentGroupForm.value)"
    ></bspl-button>
  </div>
</div>
