<div class="changes-dialog">
  <form [formGroup]="form">
    <div>
      <bspl-select
        formControlName="type"
        [label]="'LIST.MASTER_DATA.safTypes.dialog.edit.type.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safTypes.dialog.edit.type.placeholder' | translate"
        [options]="safTypesOptions"
        [virtualScroll]="true"
        [appendToBody]="true"
        [locked]="isEditMode"
      ></bspl-select>
    </div>
    <div>
      <bspl-input
        formControlName="description"
        [label]="'LIST.MASTER_DATA.safTypes.dialog.edit.description.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safTypes.dialog.edit.description.placeholder' | translate"
      ></bspl-input>
    </div>
    <div>
      <bspl-select
        formControlName="statisticalCode"
        [label]="'LIST.MASTER_DATA.safTypes.dialog.edit.statisticalCode.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safTypes.dialog.edit.statisticalCode.placeholder' | translate"
        [options]="statisticalCodeOptions"
        [virtualScroll]="true"
        [appendToBody]="true"
      ></bspl-select>
    </div>
  </form>
</div>
