@import 'theme/variables/index';

.list-total-items {
  color: $gray-deep;
  font-size: $font-size-l;
  margin-left: $spacing-xxs;
}

bspl-button[bsplListViewButton] {
  margin-left: $spacing-s;
  vertical-align: middle;
}

::ng-deep {
  .editable-list-header {
    margin-top: $spacing-xl;

    h3 {
      font-size: $font-size-xxl;
      line-height: $line-height-xl;
    }
  }
}
