@import 'theme/variables/index';

$box-shadow-color: rgba(0, 47, 91, 0.1);
$box-shadow-below: 0 2px 8px 0 $box-shadow-color;
$sections-border: 1px solid $gray-neutral;

:host {
  .wrapper {
    .refund__content {
      .refund__content__nav {
        font-size: $font-size-m;
        padding: $spacing-m 0;
      }

      bspl-refund-basic-info,
      bspl-refund-details {
        ::ng-deep .listFields {
          & + div .link {
            margin-top: 1.5rem;
            display: block;
          }

          .listLine {
            margin-bottom: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;

            &:not(:first-child):last-child {
              border-bottom: none;
            }

            div {
              line-height: 36px;
            }
          }
        }
      }
    }

    bspl-accordion-item {
      & ::ng-deep .accordionItem {
        background-color: $gray-subtle;
        margin-bottom: $spacing-xl;

        .accordionItem__title {
          box-shadow: $box-shadow-below;
        }

        .accordionItem__content {
          h4.section-title {
            color: $blue-primary;
            font-size: $font-size-l;
            font-weight: 500;
            margin-bottom: $spacing-xs;
          }
        }
      }
    }

    .refund__sideMenu {
      padding-left: $spacing-xs;
    }
  }
}
