<div class="wrapper">
  <!-- HEADER STATUS AND ACTIONS BUTTONS-->
  <bspl-refund-header-status
    [formData]="formData"
    [formConfig]="formConfig"
    [refundService]="refundService"
    [accordion]="accordion"
    (actionClick)="onActionClick($event)"
    (actionDiscardClick)="onActionDiscardClick()"
    (heightChange)="onHeaderHeightChange($event)"
  ></bspl-refund-header-status>
  <div class="row">
    <!-- MAIN FORM CONTENT-->
    <div class="col-9 refund__content">
      <bspl-accordion [multipleItemsOpen]="true" [scrollOffset]="headerHeight">
        <bspl-accordion-item
          [id]="sectionsMapper.basicInformation"
          [title]="'REFUNDS.basicInfo.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.basicInformation) && showSectionsError"
        >
          <!-- BASIC INFORMATION -->
          <bspl-refund-basic-info
            [formData]="formData"
            [formConfig]="formConfig"
            [refundService]="refundService"
            [selectedBspId]="selectedBspId"
          ></bspl-refund-basic-info>
        </bspl-accordion-item>

        <bspl-accordion-item
          [id]="sectionsMapper.details"
          [title]="'REFUNDS.details.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.details) && showSectionsError"
        >
          <!-- DETAILS -->
          <bspl-refund-details
            [formData]="formData"
            [formConfig]="formConfig"
            [refundTicket]="refundTicket"
            [refundService]="refundService"
          ></bspl-refund-details>
        </bspl-accordion-item>

        <bspl-accordion-item
          [id]="sectionsMapper.formPayment"
          [title]="'REFUNDS.formOfPayment.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.formPayment) && showSectionsError"
        >
          <!-- FORM OF PAYMENT -->
          <bspl-refund-form-payment
            [formData]="formData"
            [formConfig]="formConfig"
            [refundTicket]="refundTicket"
            [refundService]="refundService"
            (totalAmountChange)="onPaymentTotalAmountChange($event)"
          ></bspl-refund-form-payment>
        </bspl-accordion-item>

        <bspl-accordion-item
          [id]="sectionsMapper.amounts"
          [title]="'REFUNDS.amountAndTax.title'"
          [open]="true"
          [showErrorIcon]="isSectionInvalid(sectionsMapper.amounts) && showSectionsError"
          [showWarningIcon]="showTaxRepeatWarning"
        >
          <!-- AMOUNT AND TAX -->
          <bspl-refund-amount-tax
            (showTaxRepeatedWarning)="onShowTaxWarning($event)"
            [formData]="formData"
            [formConfig]="formConfig"
            [refundTicket]="refundTicket"
            [paymentTotalAmount]="paymentTotalAmount"
          ></bspl-refund-amount-tax>
        </bspl-accordion-item>
      </bspl-accordion>
    </div>
    <div class="col-3 refund__sideMenu">
      <bspl-activity-panel
        [activities]="activities"
        [isCommentingVisible]="isActivityCommentVisible"
        [commentAdded$]="commentAdded$"
        [fileUploadPath]="fileUploadPath"
        (sendComment)="onSendCommentRefund($event)"
        (downloadFile)="onDownloadFile($event)"
      >
      </bspl-activity-panel>
    </div>
  </div>
</div>
