<div class="container">
  <div class="row">
    <strong>Tags with accent state /yellow/</strong>
    <div class="col-md-12">
      <bspl-tag *ngFor="let item of tags" [value]="item" (remove)="onTagDelete($event)"></bspl-tag>
    </div>
  </div>

  <div class="row">
    <strong>Tags with default state /gray/</strong>
    <div class="col-md-12">
      <bspl-tag *ngFor="let item of tags" [value]="item" [state]="'default'" (remove)="onTagDelete($event)"></bspl-tag>
    </div>
  </div>

  <div class="row">
    <strong>Disable tags</strong>
    <div class="col-md-12">
      <bspl-tag *ngFor="let item of tags" [value]="item" [isDisabled]="true" (remove)="onTagDelete($event)"></bspl-tag>
    </div>
  </div>

  <div class="row">
    <strong>Invalid tags</strong>
    <div class="col-md-12">
      <bspl-tag *ngFor="let item of tags" [value]="item" [state]="'invalid'" (remove)="onTagDelete($event)"></bspl-tag>
    </div>
  </div>
</div>
