<div class="changes-dialog">
  <form [formGroup]="form">
    <div>
      <bspl-select
        formControlName="type"
        [label]="'LIST.MASTER_DATA.safSeries.dialog.edit.type.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safSeries.dialog.edit.type.placeholder' | translate"
        [options]="safTypesOptions"
        [virtualScroll]="true"
        [appendToBody]="true"
      ></bspl-select>
    </div>
    <div>
      <bspl-select
        formControlName="description"
        [label]="'LIST.MASTER_DATA.safSeries.dialog.edit.description.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safSeries.dialog.edit.description.placeholder' | translate"
        [options]="safTypeDescriptions$ | async"
        [multiple]="false"
        [virtualScroll]="true"
        [appendToBody]="true"
        [locked]="typeControl.value === null"
      ></bspl-select>
    </div>
    <div>
      <bspl-input
        formControlName="rangeFrom"
        [label]="'LIST.MASTER_DATA.safSeries.filters.rangeFrom.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safSeries.filters.rangeFrom.placeholder' | translate"
      ></bspl-input>
    </div>
    <div>
      <bspl-input
        formControlName="rangeTo"
        [label]="'LIST.MASTER_DATA.safSeries.filters.rangeTo.label' | translate"
        [placeholder]="'LIST.MASTER_DATA.safSeries.filters.rangeTo.placeholder' | translate"
      ></bspl-input>
    </div>
  </form>
</div>
