<div class="side-menu-container">
  <div class="side-menu-actions-container">
    <span class="link" *ngIf="!areItemsExpanded()" (click)="toggleAll(true)">
      {{ 'helpSideMenu.expandAll' | translate }}
    </span>
    <span class="link" *ngIf="areItemsExpanded()" (click)="toggleAll(false)">
      {{ 'helpSideMenu.collapseAll' | translate }}
    </span>
  </div>
  <div class="side-menu-items-container">
    <div *ngFor="let item of items" (click)="onItemClick(item, $event)">
      <div class="main-menu-item menu-item" [class.active-item]="containsActiveItem(item)">
        <img
          alt="Document"
          class="icon-start"
          [src]="containsActiveItem(item) ? 'assets/images/shared/doc_blue.svg' : 'assets/images/shared/doc_grey.svg'"
        />
        <span class="item-title">{{ item.title }}</span>
        <bspl-icon-button
          class="icon-end"
          *ngIf="item.children?.length"
          [icon]="item.isOpened ? 'expand_less' : 'expand_more'"
          [color]="'dark'"
          (click)="toggleItem(item, $event)"
        ></bspl-icon-button>
      </div>

      <ng-container
        *ngIf="item.isOpened && item.children?.length"
        [ngTemplateOutlet]="subItem"
        [ngTemplateOutletContext]="{ items: item.children }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #subItem let-items="items">
  <div class="sub-section-items-container" *ngFor="let item of items" (click)="onItemClick(item, $event)">
    <div class="sub-menu-item menu-item" [class.active-item]="containsActiveItem(item)">
      <span class="item-title">{{ item.title }}</span>
      <bspl-icon-button
        class="icon-end"
        *ngIf="item.children?.length"
        [icon]="item.isOpened ? 'expand_less' : 'expand_more'"
        [color]="'dark'"
        (click)="toggleItem(item, $event)"
      ></bspl-icon-button>
    </div>

    <ng-container
      *ngIf="item.isOpened && item.children?.length"
      [ngTemplateOutlet]="subItem"
      [ngTemplateOutletContext]="{ items: item.children }"
    ></ng-container>
  </div>
</ng-template>
