@import 'theme/variables/index';

$first-level-item-bg-color: $white;
$second-level-item-bg-color: $gray-light;
$third-level-item-bg-color: $gray-neutral;

:host {
  display: block;
}

.side-menu-container {
  border-bottom: 1px solid $gray-neutral;
  padding-bottom: $spacing-xs;

  .side-menu-actions-container {
    font-size: $font-size-s;
    line-height: $line-height-s;
    border-top: 1px solid $gray-neutral;
    border-bottom: 1px solid $gray-neutral;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-m;
    padding: $spacing-s;
    display: flex;
    justify-content: flex-end;
  }
}

.main-menu-item {
  font-weight: $font-weight-medium;
}

.menu-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 $spacing-s 0 $spacing-xxxxl;
  height: 5rem;
  color: $gray-dark;
  font-size: $font-size-l;
  line-height: $line-height-m;
  background-color: $first-level-item-bg-color;
  cursor: pointer;

  &:hover {
    background-color: hover-color($first-level-item-bg-color);
  }

  &.active-item {
    .item-title {
      color: $blue-primary;
    }
  }

  .item-title {
    width: 100%;
  }

  .icon-start {
    margin-right: $spacing-xs;
  }

  .icon-end {
    margin-left: $spacing-xs;
  }
}

.sub-menu-item {
  &.active-item {
    background-color: $second-level-item-bg-color;

    &:hover {
      background-color: hover-color($second-level-item-bg-color);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      border-right: 0.5rem solid $blue-light;
    }
  }

  .item-title {
    margin-left: $spacing-xxl;
  }

  // Third level nesting
  ~ .sub-section-items-container {
    .menu-item {
      font-size: $font-size-m;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        border-right: 0.5rem solid $gray-deep-middle;
      }

      &.active-item {
        background-color: $third-level-item-bg-color;

        &:hover {
          background-color: hover-color($third-level-item-bg-color);
        }

        &::before {
          border-color: $blue-light;
        }
      }
    }
  }
}
