<div class="header-container">
  <h2>
    Terms and Conditions &nbsp;
    <span class="header-title">International Air Transport Association (IATA)</span>
  </h2>
  <span class="header-sub-title">IATA BSP<em>link</em> website</span>
  <div class="bottom-shadow-container"></div>
</div>

<div class="tab-content">
  <aside class="side-menu">
    <section class="side-menu-section">
      <ul *ngIf="links">
        <li *ngFor="let link of links; last as isLast">
          <h4 class="main-link">
            <a class="link" (click)="scrollToSection(link.id)">{{ link.title }}</a>
          </h4>
          <ul *ngIf="link.children?.length">
            <li *ngFor="let subLink of link.children">
              <a
                class="link"
                [class.title-highlight]="!isScrolledToTop() && currentSubTitle?.id === subLink.id"
                (click)="scrollToSection(subLink.id)"
              >
                {{ subLink.title }}
              </a>
            </li>
          </ul>
          <hr *ngIf="!isLast" />
        </li>
      </ul>
    </section>
  </aside>
  <main class="main-content" #mainContent>
    <div #section>
      <h2 id="termsOfUse">Terms of Use</h2>
      <div class="main-section">
        <div class="sub-section">
          <p>Welcome to the IATA BSPlink website, powered by Accelya.</p>
          <p>
            PLEASE READ CAREFULLY THESE TERMS OF USE. THEY CONTAIN IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND
            OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS THAT APPLY TO YOU AS USER OF THE IATA BSPlink website.
          </p>
          <p>
            These Terms of Use govern the delivery by IATA, and your use of, the IATA BSPlink website. By accessing or
            using the IATA BSPlink website, and upon each access or use, you shall be deemed to have confirmed your
            agreement to these Terms of Use.
          </p>
          <strong>IATA </strong>, <strong>we</strong> and <strong>us</strong> refer to the International Air Transport
          Association, and <strong>you</strong> refer to the IATA BSPlink website user.
        </div>

        <div class="sub-section">
          <h3 class="sub-section-title" id="userLicense">User License</h3>
          As a user of IATA BSPlink website, you are granted a single user, non-exclusive, non-transferrable,
          non-assignable, non-sublicensable, revocable, limited license to access and use the IATA BSPlink website, in
          accordance with these Terms of Use and the terms and conditions governing your access to the IATA Billing and
          Settlement Plan (BSP) services. You may not modify, disassemble, create derivative works, distribute,
          reproduce, copy, publicly display, perform, transmit, re-transmit, sell or otherwise use any materials or
          content originating from IATA BSPlink website, for commercial or non-commercial uses, directly or indirectly,
          without IATA’s prior written consent.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="duration">Duration</h3>
          These Terms of Use shall govern your access and use of the IATA BSPlink website for the entire duration of
          use. We reserve the right to interrupt, suspend or terminate the IATA BSPlink website at any time upon simple
          notice.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="accessCodeAndPassword">Access Code and Password</h3>
          You undertake not to access the IATA BSPlink website by any other means than through you user account, by
          applying valid log-in username and password. You are responsible for maintaining the confidentiality and
          security of all information relating to your user account and log-in information, username and password. It is
          your responsibility to ensure that all your designated authorized users maintain and abide by the same level
          of confidentiality and these Terms of Use apply to designated authorized users to the same extent as they
          apply to the registered user. Should you become aware or suspect any unauthorized use or attempted use of your
          user account, you undertake to immediately inform us in order for us to take appropriate action.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="additionalAgreements">Additional Agreements</h3>
          These Terms of Use concern the use of the IATA BSPlink website and do not replace the terms and conditions of
          the Passenger Sales Agency Agreement and the IATA Passenger Agency Program, as applicable. In the event of an
          inconsistency between the provisions of these Terms of Use and the provisions of the Passenger Sales Agency
          Agreement, the provisions of the Passenger Sales Agency Agreement will prevail. Certain products and services
          may only be available to users by way of subscription. Confidential access codes may be provided to enable
          access with full or partial permitted exposition of particular data files or permitted downloading of content.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="userDataAndContent">User Data and Content</h3>
          You represent and warrant that you are duly authorized to place data and content through the IATA BSPlink
          website. You represent and warrant that no part of the data and content infringes on the rights of third
          parties, including Intellectual Property rights. You grant us the authority to retain, store, copy, treat,
          disassemble and reassemble the data placed by you through the IATA BSPlink website, and you hereby grant us a
          worldwide, perpetual, irrevocable, transferable, sublicensable, royalty-free, fully paid-up license to copy,
          disclose, distribute, incorporate and otherwise make use of such data and content for the purposes of IATA
          providing the IATA BSPlink website services and as set out under these Terms of Use. You undertake to comply
          with all requirements of the IATA BSPlink website, including the designated mode and format of data
          transmission and authorized payment methods. You are solely responsible for the data and content placed by you
          through the IATA BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="pciCompliance">Payment Card Industry Compliance</h3>
          You undertake to, and cause your subcontractors to, be and remain at all times fully compliant with the
          Payment Card Industry Data Security Standard requirements, as amended and supplemented from time to time
          (PCI/DSS), available at https://www.pcisecuritystandards.org, to the extent applicable and prior to accessing
          any payment cardholder data or credit card information. You shall provide upon request the relevant
          documentation, including without limitation a certificate or attestation of compliance by an independent
          recognized authority, and such other documentation as may be reasonably requested demonstrating and attesting
          PCI/DSS compliance.
        </div>

        <div class="sub-section">
          <h3 class="sub-section-title" id="rulesOfConduct">Rules of Conduct</h3>
          You undertake to comply with the rules of conduct prescribed below, and to ensure that these are complied with
          by your designated authorized users:
          <div>
            (i) Reverse Engineering. You shall not disassemble decompile, produce derivative works or reverse engineer
            any software or component of the IATA BSPlink website, and shall not directly or indirectly attempt to
            derive any source code or industrial secrets comprising or relating to the IATA BSPlink website;
          </div>
          <div>
            (ii) Systems Abuse. You shall not commit systems abuse, including without limitation, excessive intense
            processor use, excessive use of disk space, excessive use of data storage space, computer hacking, error
            handling, masking, use of unauthorized domain name service, installation of permanently running programs,
            robots, resale of scripts or databases;
          </div>
          <div>
            (iii) Disruption. You shall not attempt to interfere with, or otherwise disrupt the IATA BSPlink website or
            the networks and servers of IATA, by any means whatsoever;
          </div>
          <div>
            (iv) Malware. You shall not upload unto the IATA servers any form of destructive software, such as data
            mining tools, gathering and extraction tools, viruses, worms, trojan horses, time bombs, cancelbots, or any
            other harmful components, computer files, programs or codes designed to interrupt, destroy or limit the
            functionality of the service or of any other software or equipment.
          </div>
          <div>
            (v) Identification. You shall not use name, identity, business concern or purpose that may be incomplete,
            confusing or misleading;
          </div>
          <div>
            (vi) Illegal and Reprehensible Activities. You shall not use the IATA BSPlink website to partake in any
            illegal, criminal or reprehensible activities, including without limitation, any breach of applicable
            legislation, copyright, trademark and Intellectual Property infringement, market manipulation, price fixing
            and any other practice breaching antitrust laws and fair competition principles, money laundering
            activities, terrorism financing, bribery and collusion;
          </div>
          <div>
            (vii) Sanctions. You shall refrain from using the IATA BSPlink website in relation to funds originating from
            or sourced through nationals or jurisdictions placed under United Nations and United States of America
            sanctions. You understand and acknowledge that any breach of these rules of conduct may result in the
            immediate suspension and withdrawal of your user privileges. These rules of conduct may be supplemented by
            policies, protocols, procedures and guidelines communicated by IATA from time to time. In order to prevent
            unlawful or illicit use of the IATA BSPlink website, we reserve the right, without being obliged to do so,
            in our entire discretion and at any time, to ask you to substantiate your compliance with these Terms of
            Use.
          </div>
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="confidentiality">Confidentiality</h3>
          You undertake to keep all information relating to the IATA BSPlink website strictly confidential. As between
          you and IATA, all information, including technical data and know-how and concept, pertaining to the IATA
          BSPlink website is proprietary and confidential information owned by IATA. Confidential information for the
          purpose of this provision shall mean information, documents, details and data, which are marked as such or are
          to be confidential by nature. The above does not apply to data and information contributed by you pursuant to
          the terms of you subscription, to information that becomes publicly known through no fault of yours or is
          within the public domain, to information approved for release by written authorization by IATA or to
          disclosure required by law. This undertaking shall survive the termination of your access and use of the IATA
          BSPlink website. For the purposes of these Terms of Use, the term Confidential Information shall mean any
          information or material proprietary to, or treated as confidential by the disclosing party, whether in
          written, oral or other tangible or intangible form, including, but not limited to, information concerning the
          business, operations, projects, technologies and affairs of the disclosing party that has been or may be
          disclosed to the receiving party or its agents and representatives, but shall not include information which
          (a) becomes publicly known or within the public domain in the absence of breach by the receiving party; (b)
          was known to the receiving party prior to its receipt thereof from the disclosing party; (c) has been or is
          lawfully obtained by the receiving party from a third party without an expressed duty of confidentiality; (d)
          is independently conceived or discovered by the receiving party; (e) is approved for release by written
          authorization of the disclosing party; or (f) is required to be disclosed by law in which event the receiving
          party will give prompt notice to the disclosing party of such requirement, unless prevented to do so by law.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="thirdPartyContent">Third Party Content</h3>
          You acknowledge and agree that the IATA BSPlink website serves to carry third-party data and information. You
          acknowledge and agree that IATA shall not be responsible for the availability and reliability of third-party
          data and information. IATA does not endorse and specifically disclaims any form of liability for any
          third-party content, and shall not be liable, directly or indirectly, for any damage or loss caused or alleged
          to be caused by or in connection with your use of or reliance on any such third-party content.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="privacyAndPersonalInformation">
            Privacy and Personal Information and Data
          </h3>
          You acknowledge and agree that we may collect and use personal information in the context of the use of the
          IATA BSPlink website in compliance with
          <a class="link" [href]="appConfiguration.privacyLink" target="_blank">IATA’s Privacy Policy</a> published on
          the IATA website. You and IATA agree to use, process and retain Personal Data hereunder and in relation to the
          IATA BSPlink website only in compliance with the data privacy requirements set forth in the IATA Privacy
          Policy and the attached Personal Information, Privacy Protection and Data Security Schedule.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="intellectualProperty">Intellectual Property</h3>
          As between you and IATA, the IATA BSPlink website and its contents, including without limitation, all written
          or printed materials, text, data, information, including all changes, derivations, modifications and
          enhancements, graphics, icons, images, products, trademarks, service marks, trade names and all other
          Intellectual Property, are the property of IATA and protected under copyright, made available to you by
          permission, and may not be used, reproduced, copied, published, shared, recast, reformatted, disassembled,
          reassembled or transmitted in any form, in whole or in part, by any means, electronic or mechanical, including
          photocopying, recording or any information storage and retrieval system or quoted without the prior written
          permission of IATA. The name and corporate identification of IATA are registered trademarks of IATA and all
          names, marks, brands, unique record locators (URL), addresses, service names, logos, designs, trade dress and
          other designations IATA uses in connection with the IATA BSPlink website are protected under copyright, all
          rights reserved.
          <div>
            For the purposes of these Terms of Use, the term <strong>Intellectual Property</strong> shall refer to
            patents, rights to inventions, copyright and related rights, moral rights, database rights, semiconductor
            topography rights, utility models, rights in designs, trademarks, service marks, trade names, domain names,
            rights in goodwill, rights in undisclosed or confidential information, know-how, trade secrets and
            inventions, whether patentable or not, and other similar rights or forms of protection, and all
            applications, renewals and extensions thereof, as may now or in the future exist anywhere in the world,
            whether registered or not.
          </div>
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="derivedAndAccessoryUses">Derived and Accessory Uses</h3>
          IATA is authorized to incorporate and otherwise use the IATA BSPlink website data and contents, in whole or in
          part, in an aggregated and anonymized form for various derived and accessory purposes such as, without
          limitation, research, publications, analyses, industry reports and guidelines, advocacy, analytics, trends, or
          as a basis for developing guidelines, best practices and standards, and additional products and services,
          commercial and non-commercial.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="disclaimerOfWarranty">Disclaimer of Warranty</h3>
          The data and information lodged on the IATA BSPlink website are to the best of our ability reliable, accurate
          and trustworthy. We however do not warrant or express any opinions whatsoever as to the accuracy, origin,
          tracing, completeness and timeliness of such data and information. Although every effort has been made to
          ensure accuracy in processing and handling data, IATA shall not be held responsible for any loss or damage
          caused by errors, omissions, delays, interruption, corruption of data. We make no representations, warranties
          or other assurances, express or implied, about the accuracy, sufficiency, relevance and validity of the data
          and information captured and reported. Our data collection and reporting are intended to be factual and
          neutral. THE IATA BSPLINK WEBSITE AND ITS CONTENTS ARE PROVIDED TO YOU ON AN “AS IS, WHERE IS” BASIS, AND WE
          DISCLAIM ANY WARRANTY OF MERCHANTABILITY, QUALITY OR FITNESS FOR A PARTICULAR PURPOSE. We expressly disclaim
          any liability, direct or indirect, to you or any person, for any losses or damages, including without
          limitation incidental losses, loss of opportunity and damages to reputation, resulting from your access to and
          use of said contents. The warranties and remedies set forth in these Terms of Use are your sole and exclusive
          warranties and remedies in connection with the IATA BSPlink website. These provisions shall survive the
          termination of your access and use of the IATA BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="limitationOfLiability">Limitation of Liability</h3>
          To the maximum extent permitted under Applicable Laws, under no circumstances shall IATA, its affiliates and
          agents, and their respective directors, officers and employees, be liable to you or any other party for any
          losses and damages , whether direct, indirect, incidental, punitive, special or consequential, including
          without limitation damages for loss of business profits, business interruption, loss of business information
          or data, arising out of the use or inability to use the data, services and information accessed through the
          IATA BSPlink website, even if we have been advised of the possibility of such damages. For clarification,
          without limiting the generality of the foregoing, we shall not be responsible for and shall incur no liability
          to you, your customers or any other third party for the content, correctness and validation of data
          transmitted and submitted through the IATA BSPlink website by you, any of your customers or any third party
          through the IATA BSPlink website, nor from any failure on your part or on the part of any of your customers or
          any third party to comply with applicable Privacy Laws. Without limiting the foregoing, in no event shall our
          total cumulative liability to you, whether in contract, tort, including negligence, or otherwise, exceed in
          aggregate the total amount of fees paid by you for the services made available to you by way of the IATA
          BSPlink website during the current calendar year of the circumstances giving rise to the claim. This
          undertaking shall survive the termination of your access and use of the IATA BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="indemnification">Indemnification</h3>
          You agree and undertake to fully indemnify and hold harmless IATA, its representatives, agents and licensors,
          as well as their respective directors, shareholders, parent companies, employees, agents and representatives,
          successors and assigns from and against any action, claim, loss and any damages, penalties and fines,
          assessments, orders and judgements, all reasonable legal fees (including fees for outside legal counsel) and
          disbursements and any other liability or expense that they may incur, directly or indirectly, in relation to:
          (i) the accuracy, correctness and validation of the data and content communicated by you or any party acting
          on your behalf through the IATA BSPlink website; (ii) a breach of the rules of conduct or other breach of the
          warranties, representations, undertakings, duties or obligations set out in these Terms of Use; (iii) an
          alleged infringement of a patent, trade secret, copyright, trademark or third-party Intellectual Property;
          (iv) any breach of and non-compliance with the applicable Privacy Laws; or (v) any activity related to your
          account carried out by you or any other person having accessed IATA BSPlink website using log-in credentials
          associated with your account. This undertaking shall survive the termination of your access and use of IATA
          BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="availabilityAndReliabilityOfSystems">
            Availability and Reliability of Systems
          </h3>
          The reliability of access to the IATA BSPlink website is a priority for IATA. However, we cannot fully
          guarantee at all times access to the IATA BSPlink website, in particular in the event of: (a) Heavy Internet
          traffic; (b) Automated maintenance and upgrades of the IATA BSPlink website and IATA servers and those of
          IATA’s technology suppliers; and (c) Events constituting force majeure or inability to act resulting from
          unforeseen and uncontrollable circumstances. You acknowledge and agree that we shall undertake no liability
          for any damages, direct and indirect, resulting from any downtime experienced for any reason.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="equipmentAndDataProtection">Equipment and Data Protection</h3>
          You are responsible for procuring at your own cost and expense the computer equipment, physical facilities and
          appropriate secure Internet connection required to access and use the IATA BSPlink website. You are
          responsible for protecting your computer equipment, mobile devices, software, electrical equipment and any
          other equipment against viruses, and to ensure that same are free from any viruses. We maintain our own
          protection against viruses on our servers but undertake no liability for direct and indirect damages resulting
          from viruses that may affect your systems. You are responsible for the adequate protection and backup of data
          used in connection with the IATA BSPlink website and we will not be liable for lost data, re-run time,
          inaccurate output, work delays or lost profits resulting therefrom. We are not responsible for exposed data in
          case of theft or loss of your computer equipment used to access the IATA BSPlink website. Any material
          downloaded or otherwise obtained through the IATA BSPlink website is at your own discretion and risk, and you
          are solely responsible for any damage to your computer system or other equipment, or corruption of data
          resulting from the download of any such material. You are solely responsible for protecting your computer
          equipment, mobile devices, software, electrical equipment and any other equipment against viruses, and to
          ensure that same are free from any viruses. IATA maintains its own protection against viruses on its servers,
          but shall undertake no liability, including without limitation, for direct and indirect damages, for viruses
          that may affect your systems and viruses resulting from access to, and/or use of the IATA BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="locationOfRecords">Location of Records</h3>
          You acknowledge and agree that the IATA BSPlink website contents may be held through a third-party provider
          and may be stored and located in a jurisdiction other than the jurisdiction applicable to your business and/or
          the jurisdiction applicable to these Terms of Use. We reserve the right to extract, move and copy all data
          from the IATA BSPlink website into an IATA hosted and controlled storage at any time, on a periodic or
          continuous basis.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="customerSupport">Customer and Technical Support</h3>
          We will use commercially reasonable efforts to respond to requests for technical support, but do not guarantee
          any specific response time to resolve technical issues as such response time may vary depending on the nature
          and extent of any given technical issue.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="representations">Representations</h3>
          You represent and warrant that: (1) you are duly organized and validly existing under the laws of your
          jurisdiction of incorporation and organization; (2) you have the full power, capacity and authority to enter
          into the contract governing your use of the IATA BSPlink website and to perform your obligations thereunder
          and that said contract constitutes a legal, valid and binding obligation upon you, enforceable in accordance
          with its terms; (3) you hold and shall at times maintain all licences, permits and approvals necessary to
          discharge your obligations hereunder and necessary to provide your services to your customers; (4) you are not
          subject to bankruptcy, insolvency, moratorium, reorganization or other laws affecting creditors’ rights
          generally; (5) you are not, by reason of you entering into the IATA BSPlink website contract, in violation of
          any laws, judgment, order, decree, or in breach of contract or license to which you are a party to; (6) you
          are acting in full compliance with your organizational documents, material contracts and all Applicable Laws
          including laws relating to economic sanctions, money laundering and financing of illegal or reprehensive
          activities, and that you have the necessary controls and alerts in pace to ensure full compliance with same.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="nonSolicitation">Non-Solicitation</h3>
          You undertake not to act, directly or indirectly, in a manner that may divert activities away from the IATA
          BSPlink website or to solicit or incite IATA BSPlink website customers towards competing services, for the
          duration of your access and use of the IATA BSPlink website and an additional period of two (2) years
          thereafter.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="noExclusivity">No Exclusivity</h3>
          You acknowledge and agree that the access to the IATA BSPlink website is provided to you on a non-exclusive
          basis, and that we will allow other parties offering similar services to yours to integrate the IATA BSPlink
          website and receive access to the IATA BSPlink website and various related services.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="terminationOrSuspension">Termination or Suspension</h3>
          We may limit or suspend your access to the IATA BSPlink website and suspend or terminate your user license at
          any time without prior notice in the event of your breach or disregard of these Terms of Use, including
          infringement of Intellectual Property rights or a scope of usage outside the permitted use.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="noWaiver">No Waiver</h3>
          No delay, or failure to take action, or to require the strict performance of any provisions of these Terms of
          Use will constitute a waiver unless expressly waived in writing by IATA and no single waiver will constitute a
          continuing or subsequent waiver. Neither the conduct of relations between you and us, nor business practices,
          shall act to waive or amend any provision of these Terms of Use.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="cumulativeRemedies">Cumulative Remedies</h3>
          Except as otherwise expressly provided, all remedies provided hereunder shall be cumulative and in addition to
          and not in lieu of any other remedies available to either Party under the law, in equity or otherwise.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="relationshipOfTheParties">Relationship of the Parties</h3>
          You acknowledge that you and IATA are independent contractors that entertain no business relationship of the
          nature of a partnership, joint venture, franchise, master/servant, principal/agent, reseller, wholesaler, and
          that neither has the right to bind or obligate the other.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="subcontracting">Subcontracting</h3>
          We may use third-party service providers to provide any or all part of the IATA BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="amendedAndSupplementalTerms">Amended and Supplemental Terms of Use</h3>
          These Terms of Use may be amended by IATA at any time by simple notice. Any modification, supplement or
          amendment to these Terms of Use are null and void. IATA's employees, representatives and agents are not
          authorized to vary these Terms of Use.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="assignment">Assignment</h3>
          The rights granted to you under the terms of service may not be assigned, sublicensed or otherwise transferred
          by you, by operation of law or otherwise, without our prior written consent.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="complianceWithLaws">
            Compliance with Laws; Economic Sanctions; Money Laundering
          </h3>
          You represent and agree to comply with and observe at all times all Applicable Laws, including without
          limitation, the laws and regulations relating to economic sanctions, unlawful inducements, money laundering
          and terrorism financing. You acknowledge that it is your sole and exclusive responsibility to comply with the
          laws and regulations relating to economic sanctions, money laundering or terrorism financing in regard to the
          delivery of services to your customers and that you shall not rely on IATA in any manner whatsoever to that
          end.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="applicableLaws">Applicable Laws</h3>
          For the purposes of these Terms of Use, the term <strong>Applicable Laws</strong> shall include all regional,
          municipal, provincial, state, national and international laws, statutes, by-laws, rules, regulations, orders,
          judgements, guidelines and standards issued by a Regulatory Authority in the relevant jurisdiction.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="exceptionalCircumstances">Exceptional Circumstances and Force Majeure</h3>
          Neither you or IATA will be liable for any failure, interruption or delay in the performance of our respective
          duties and obligations where same results or is attributable to an event of Force Majeure or the inability to
          act resulting from unforeseen and uncontrollable circumstances, including without limitation, unforeseen
          business interruption, acts of war or terrorism, civil unrest and armed conflicts, fortuitous events, acts of
          God, disease and epidemics, floods, droughts, severe weather, fires, explosions, earthquakes and natural
          catastrophes, national or state emergencies, regulatory or government actions, computer and communications
          failure, software viruses, hacking, worms, service attacks and other causes reasonably beyond reasonable
          control. The time for performance shall be extended by a period equivalent to that during which performance
          shall be prevented. The Parties shall expand all reasonable efforts to mitigate the impact of such unforeseen
          events.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="termination">Termination</h3>
          Either you or IATA may terminate your access to the IATA BSPlink website for convenience upon a thirty (30)
          days prior written notice to the other. Either you or IATA may terminate your access and use of the IATA
          BSPlink website in each of the circumstances set out below:
          <div>
            (1) if a Party is in material breach of its obligations hereunder and fails to cure such breach within
            fifteen (15) days of receipt of a notice to that effect; or
          </div>
          <div>
            (2) if a Party commits repeated breaches of same obligation, including without limitation the late payment
            of fees, which cumulatively shall be deemed to constitute a material breach hereunder, and fails to cure
            such breaches within fifteen (15) days of receipt of a final notice to that effect; or
          </div>
          <div>
            (3) if a Party undergoes a material change of effective control, a corporate restructuring, a material
            change in its business model, a suspension of its activities, insolvency or bankruptcy proceedings or
            experiences a material change of circumstances.
          </div>
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="notices">Notices</h3>
          Unless otherwise specified, any notice required to be given by one Party to the other hereunder shall be in
          writing and may be delivered in physical form or by electronic mail. Any such notice shall be deemed to have
          been given (1) if delivered in person or by registered mail, on the day it is received; (2) if sent by regular
          mail, five (5) business days following the date of stamp by the postal carrier; or (3) if sent by electronic
          mail, provided that no delivery failure message is issued, at the moment of receipt during the business hours,
          or upon the opening of business on the next business day.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="consentsAndApprovals">Consents and Approvals</h3>
          Except where expressly provided as being in the discretion of a Party, where an approval, consent or similar
          action is required hereunder, such action shall not be unreasonably delayed or withheld. Such approval or
          consent shall not relieve the other Party from its duties and obligations hereunder, nor shall it be construed
          as a waiver of any rights hereunder, except as and to the extent otherwise expressly provided in such approval
          or consent.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="advertisingAndPublicAnnouncements">Advertising and Public Announcements</h3>
          All advertising, promotional or marketing material, media releases and public announcements which you intend
          to make relating to our business relationship shall be submitted to our approval prior to release. For
          clarification, this does not apply to announcements for internal distribution only or for purposes of
          complying with legal or regulatory requirements.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="jurisdiction">Jurisdiction and Dispute Resolution</h3>
          The terms of service and these Terms of Use shall be governed by and construed in accordance with the laws of
          the Province of Quebec, Canada, without regard to its conflict of law provisions, and any and all dispute or
          controversy arising under or relating thereto shall be referred to the exclusive jurisdiction of the courts of
          the province of Quebec, Canada.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="survivalAndSeverability">Survival and Severability</h3>
          Any rights existing or arising upon termination or expiration of the terms of service, including but not
          limited to disclaimers of warranty, disclaimers of liability, and confidentiality provisions, shall survive
          such termination or expiration, as shall any other provision of these Terms of Use which, expressly or by
          implication from its nature, is intended to survive such termination or expiration. If for any reason a court
          of competent jurisdiction finds any provision of these Terms of Use to be unenforceable, that provision shall
          be enforced to the maximum extent permissible so as to affect the intent of the parties, and the remainder of
          these Terms of Use shall continue in full force and effect.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="successorsAndAssigns">Successors and Assigns</h3>
          The terms of service and these Terms of Use shall be binding on the Parties and their respective successors
          and assigns, including without limitation a trustee in bankruptcy or a Court appointed monitor under
          insolvency proceedings. You acknowledge and agree that you shall not transfer, assign or novate your duties
          and obligations hereunder without our prior written consent, which consent shall not be unreasonably withheld
          or delayed. Notwithstanding the foregoing, each Party shall have the right to subcontract their activities, in
          whole or in part, to reputable technology providers.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="thirdPartyBeneficiaries">Third Party Beneficiaries</h3>
          Nothing contained herein shall not be deemed to create any rights in regard to third parties, including our
          respective customers, service providers, suppliers, or to create any obligations in favour of any such third
          parties.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="costsAndExpenses">Costs and Expenses</h3>
          Except where explicitly stated otherwise, you will bear your own costs and expenses in relation to the
          preparation and integration of services, including, without limitation, costs and expenses associated with
          information technology services, professional fees, project management and advisers as well as all charges
          relating to your transmission of data, customization of software, systems integration, implementation, audit
          certification, system enhancements and requirements. You are responsible to procure at your own cost and
          expense the computer equipment, physical facilities and appropriate secure Internet connection required to
          access and use the IATA BSPlink website.
        </div>
        <div class="sub-section">
          <h3 class="sub-section-title" id="entireAgreementAndAmendments">Entire Agreement and Amendments</h3>
          The terms of service and these Terms of Use constitute the entire agreement between us with respect to its
          subject matter and supersedes all prior or contemporaneous understandings or agreements, written or oral,
          regarding such subject matter. Any amendment, variation, change order, addition or modification to the terms
          of our Agreement will only be effective if agreed to by you and us by way of a written amendment hereto. For
          purposes of clarification, the foregoing shall not prevent either Party from updating, upgrading, modifying
          and enhancing their services to their respective customers, including without limitation the scope of the
          services made available through the IATA BSPlink website.
        </div>
        <div class="rights">©2020 International Air Transport Association. All Rights Reserved.</div>
      </div>
    </div>
    <div #section>
      <h2 id="personalInformation">Personal Information, Privacy Protection and Data Security Schedule</h2>
      <div class="main-section">
        <ol>
          <li>
            <div>
              <p><strong>Definitions</strong>. For purposes of the BSPlink website Terms of Use and this Schedule:</p>
              <p><strong>Industry Data</strong> means airline or air transport related data and information.</p>
              <strong>Personal Information</strong> or <strong>Personal Data</strong> means information about an
              identified or identifiable natural Person subject to Privacy Laws that may be transferred to and from IATA
              and its technology service provider, and includes data relating to legal entities where such data are
              protected by Privacy Laws.
              <p>
                <strong>Privacy Laws</strong> means all privacy legislation applicable to either Party in any
                jurisdiction with respect to the Processing of any Personal Information in connection with the services
                made available to you by IATA or the services made available by you to your customers, including without
                limitation, the Personal Information Protection and Electronic Documents Act (Canada) and the European
                Union Directive 95/46/EC and the General Data Protection Regulations (GDPR) EU 2016/679 (collectively,
                the <strong>EU Privacy Laws</strong>), as these may be amended or supplemented from time to time.
              </p>
              <p>
                <strong>Processing</strong> or <strong>Process</strong> means the collection, use, modification,
                retrieval, disclosure, storage, anonymization, deletion, and/or management of Industry Data or Personal
                Information.
              </p>
            </div>
          </li>
          <li>
            <div>
              The Parties shall not provide to each other or otherwise use or Process any Personal Data hereunder unless
              such Personal Data is required for the purpose of the access and use of the BSPlink website and related
              services made available to you by IATA or the services made available by you to your customers, as
              applicable; and even in such instances, each Party shall use its commercially reasonable efforts to
              minimize the Personal Data provided to that which is necessary for such purposes.
            </div>
          </li>
          <li>
            <div>
              Where a Party receives Personal Data from the other Party, it may Process such Personal Data solely as
              needed for the performance of its duties and obligations relating to your access and use of the BSPlink
              website and related services made available to you by IATA or the services made available by you to your
              customers, or as otherwise expressly permitted and for no other purpose.
            </div>
          </li>
          <li>
            <div>
              The Parties agree and acknowledge that they may have access to Personal Data that is governed by the EU
              Privacy Laws. The Parties agree that under the EU Privacy Laws, they may be required to execute the
              applicable EU Standard Data Protection Contractual Clauses or an equivalent version thereof (the Model
              Clauses) pursuant to which they may transfer Personal Data to each other or their suppliers or
              subcontractors. The Parties shall extend their best efforts to execute the Model Clauses (and have their
              subcontractors execute the Model Clauses, as applicable) as soon as reasonably practicable upon request.
              In all cases, it is each Party’s exclusive responsibility to ensure and take all required steps and
              measures such that it has obtained, at all relevant times, all required rights, consents and waivers from
              any and all relevant individuals in respect of any and all Personal Data it provided to the other Party
              for purposes of Processing as may be contemplated or permitted hereunder. As applicable, the Party
              providing access to such Data to the other Party shall inform the relevant individuals of any existing
              rights of access or rectification or rights to object to the Processing; it is each such Party’s exclusive
              responsibility to inform the relevant individuals according to the information duties provided for under
              the applicable Privacy Laws.
            </div>
          </li>
          <li>
            <div>
              For the purposes of this Agreement and the services offered to you by IATA by way of the IATA BSPlink
              website and related services, IATA shall be deemed to be a processor, and not a controller of, Personal
              Data. For the purposes of this Agreement, IATA undertakes to:
              <div>
                a) implement appropriate technical and organizational measures to ensure compliance with the
                requirements of the EU Privacy Laws;
              </div>
              <div>
                b) inform the relevant controller of any intended changes concerning the addition or replacement of
                processors;
              </div>
              <div>
                c) process Personal Data on documented instructions from the controller responsible for the Personal
                Data;
              </div>
              <div>
                d) ensure that persons authorized to process the Personal Data are committed to confidentiality or are
                under a statutory obligation of confidentiality;
              </div>
              <div>
                e) implement the necessary measures for ensuring the security of processing in accordance with the
                standards prescribed by the EU Privacy Laws;
              </div>
              <div>
                f) implement appropriate technical and organizational measures, insofar as possible, to assist the
                controller responsible for the Personal Data to respond to requests in respect of data subject rights;
              </div>
              <div>
                g) assist the controller responsible for the Personal Data in respect of its obligations under the EU
                Privacy Laws and Article 32 to 36 of the GDPR, taking into account the nature of the processing and the
                information available to IATA;
              </div>
              <div>
                h) upon request from the controller responsible for the Personal Data, delete or return Personal Data to
                the controller after the end of the provision of services;
              </div>
              <div>
                i) make available to the controller responsible for the Personal Data all information to demonstrate
                compliance with the EU Privacy Laws and Article 28 of the GDPR, and allow for and contribute to audits,
                including inspections, conducted by the controller or another auditor mandated by the controller; and
              </div>
              <div>
                j) observe, where applicable, any other requirement imposed by the EU Privacy Laws and Article 28 of the
                GDPR.
              </div>
            </div>
          </li>
          <li>
            <div>
              Each Party agrees to use and retain Personal Data received from the other Party hereunder, as may be
              applicable, pursuant to and in compliance with the requirements of any applicable Privacy Laws. As part of
              these requirements, each Party agrees, and agrees to ensure that its suppliers or subcontractors involved
              in Processing the Personal Data agree to: (a) provide protection from loss, destruction, alteration,
              unauthorized access and unauthorized disclosure as well as ensuring that Personal Data is kept only as
              long as it is needed to fulfil the purposes for which it was provided, (b) maintain policies and
              procedures including proper security safeguards, in accordance with standard industry practices; (c) to
              the extent applicable under Privacy Laws, implementing, keeping and maintaining in security logs and
              records (in accordance with any prescribed regulations) the details of every loss or theft of,
              unauthorized access, or disclosure of Personal Data; and (d) immediately notify the other Party of any
              actual, alleged, suspected or threatened breach of security safeguards, or of any loss, theft,
              destruction, alteration, unauthorized access to or unauthorized disclosure of any Personal Data hereunder.
              Upon request, such Personal Data shall be returned, erased or destroyed (in each case as directed by the
              other Party), together with any copies thereof, within thirty (30) days of having received a written
              notice to that effect, and at its sole cost and expense. In the case of destruction of the Personal Data,
              each Party shall supervise any destruction and the Personal Data in its possession and shall provide, if
              and when requested by the other Party, reasonably sufficient evidence of such destruction within five (5)
              days thereof.
            </div>
          </li>
          <li>
            <div>
              Each Party agrees that its transfer of Personal Data to a third party shall comply with the requirements
              of applicable Privacy Laws, and the agreement between such Party and the third party shall include
              provisions substantially similar to the provisions hereof related to data privacy.
            </div>
          </li>
          <li>
            <div>
              If a Party is required to provide information to an individual regarding Personal Data processed
              hereunder, such Party will promptly and reasonably cooperate with the other Party in providing such
              information and in responding to any other inquiries, responses, audits or investigations required or
              permitted by applicable Laws. Upon a Party's reasonable written request, the other Party will provide the
              requesting Party with such information that it has regarding Personal Data and its Processing hereunder to
              the extent necessary to enable the requesting Party to comply with its obligations hereunder and the
              applicable Privacy Laws.
            </div>
          </li>
          <li>
            <div>
              Each Party shall ensure that it takes all reasonable steps necessary to implement physical, technical,
              administrative and other organizational measures, including such measures required under applicable
              Privacy Laws, to safeguard the Personal Data against loss, theft, damage or unauthorized or unlawful
              access or Processing, including in the event of a disruption, disaster or failure of its primary systems
              or operational controls.
            </div>
          </li>
          <li>
            <div>
              Each Party shall establish, maintain and fully comply with written security (including security breach
              incident) policies and procedures, and risk management, monitoring, back-up, disaster recovery and audit
              processes as is necessary to comply with its obligations hereunder. As part of this obligation, each Party
              shall have a security incident response plan in place that includes procedures to be followed in the event
              of any actual, suspected, or threatened security breach, including unauthorized use, access, disclosure,
              theft, manipulation, or reproduction of Personal Data, or any actual, suspected or threatened security
              breach of any application or system associated with the accessing, processing, storage, communication or
              transmission of Personal Data. This security incident response plan includes a documented escalation
              procedure and process for internal escalation of an event and notification of an actual, suspected or
              threatened security incident affecting Personal Data as required hereunder;
            </div>
          </li>
          <li>
            <div>
              Each Party shall ensure that all Personal Data Processed in the course of performing the services made
              available to you by IATA or the services made available by you to your customers, is securely and
              physically segregated from any other information owned or managed by it or other third parties, including
              implementing any necessary access barriers and password authorization procedures in connection therewith.
            </div>
          </li>
          <li>
            <div>
              Without limiting the foregoing, each Party shall use commercially reasonable efforts, including through
              the use of rigorous systems security measures in accordance with industry standards, to guard against,
              identify and promptly terminate the unauthorized access, alteration or destruction of Personal Data.
            </div>
          </li>
        </ol>
        <div class="rights">©2020 International Air Transport Association. All Rights Reserved.</div>
      </div>
    </div>
  </main>
</div>

<bspl-back-to-top-btn></bspl-back-to-top-btn>
