@import 'theme/variables/index';

.header-container {
  margin-top: $spacing-l;
  background-color: $white;
  width: 100%;
  padding: $spacing-xxs;
  position: relative;
  z-index: $z-index-layer-1;

  .header-sub-title {
    color: $gray-dark;
  }

  .header-title {
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
}

.bottom-shadow-container {
  position: relative;
  box-shadow: 0 9px 7px 0 rgba(15, 21, 77, 0.06), 0 4px 4px 0 rgba(42, 51, 140, 0.12);
  height: 1rem;
  z-index: 1;
  margin: $spacing-m (-$spacing-xxl) 0;
}

.tab-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 0 (-$spacing-xl) (-$spacing-l) (-$spacing-xl);
}

.side-menu {
  flex: 1 1 auto;
  max-width: 40rem;
  min-width: 40rem;
  background-color: $white;
  border-right: 1px solid $white-subtle;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;

  .side-menu-section {
    position: relative;
    padding: $spacing-l $spacing-xxl $spacing-l $spacing-xxxxl;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding-bottom: $spacing-xs;

        ul {
          padding: $spacing-xs 0 0 $spacing-m;
        }

        hr {
          margin: 0;
        }
      }
    }
  }
}

.main-content {
  flex: 3 3 auto;
  padding: $spacing-l $spacing-xl;
  position: relative;

  .main-section {
    background-color: #f7f9fa;
    padding: $spacing-xl;
    margin: $spacing-m 0 $spacing-xl 0;
    color: $gray-dark;

    ol {
      color: $blue-primary;
      font-size: $font-size-l;
      font-weight: $font-weight-medium;

      li div {
        font-size: $font-size-m;
        color: $gray-dark;
        font-weight: $font-weight-normal;
        margin-bottom: $spacing-m;

        p {
          margin-bottom: 0;
        }
      }
    }

    .sub-section {
      margin: $spacing-xs 0 $spacing-xs 0;

      &:first-of-type {
        margin-top: 0;
      }

      .sub-section-title {
        padding: $spacing-xs 0;
      }
    }
  }

  .rights {
    float: right;
    line-height: $line-height-s;
    color: $blue-primary;
    font-size: $font-size-s;
  }
}

.title-highlight {
  position: relative;

  &::before {
    content: '\25CF';
    color: $blue-light;
    position: absolute;
    right: calc(100% + 0.5rem);
  }
}
