<bspl-list-view
  [title]="'document.rejected.title'"
  [predefinedFilters]="predefinedFilters"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  (download)="onDownload()"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBspOptions"
        formControlName="bsp"
        [label]="'document.rejected.filters.bsp.label' | translate"
        [placeholder]="'document.rejected.filters.bsp.placeholder' | translate"
        [locked]="isBspFilterLocked"
        [multiple]="hasLeanPermission"
        [clearable]="hasLeanPermission"
      >
      </bspl-select>
      <span>{{ 'document.rejected.filters.highlightedBspText' | translate }}</span>
    </div>
    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-select
          [options]="typeOptions"
          formControlName="type"
          [label]="'document.rejected.filters.type.label' | translate"
          [placeholder]="'document.rejected.filters.type.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="errorLevelOptions"
          formControlName="errorLevel"
          [label]="'document.rejected.filters.errorLevel.label' | translate"
          [placeholder]="'document.rejected.filters.errorLevel.placeholder' | translate"
          [multiple]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="errorCode"
          [label]="'document.rejected.filters.errorCode.label' | translate"
          [placeholder]="'document.rejected.filters.errorCode.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3" *ngIf="canQueryAirline">
        <bspl-select
          [options]="airlineDropdownOptions$ | async"
          formControlName="airline"
          [label]="'document.rejected.filters.airline.label' | translate"
          [placeholder]="'document.rejected.filters.airline.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3" *ngIf="canQueryAgent">
        <bspl-select
          [options]="agentDropdownOptions$ | async"
          formControlName="agent"
          [label]="'document.rejected.filters.agent.label' | translate"
          [placeholder]="'document.rejected.filters.agent.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="gdsOptions"
          formControlName="gds"
          [label]="'document.rejected.filters.gds.label' | translate"
          [placeholder]="'document.rejected.filters.gds.placeholder' | translate"
          [multiple]="true"
          [virtualScroll]="true"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="documentNumber"
          [label]="'document.rejected.filters.documentNumber.label' | translate"
          [placeholder]="'document.rejected.filters.documentNumber.placeholder' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="rejectionDateRange"
          [label]="'document.rejected.filters.rejectionDateRange.label' | translate"
          [placeholder]="'document.rejected.filters.rejectionDateRange.placeholder' | translate"
          [selectionMode]="'range'"
          [maxDate]="maxDate"
          [minDate]="minDate"
        ></bspl-datepicker>
      </div>
      <div class="form-group col-md-3" *ngIf="!isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="rejectionPeriodRange"
          [label]="'document.rejected.filters.rejectionPeriod.label'"
          [options]="periodDropdownOptions"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="isMonthPeriodPicker">
        <bspl-period-picker
          formControlName="rejectionMonthPeriod"
          [label]="'document.rejected.filters.rejectionMonth.label'"
          [options]="periodDropdownOptions"
          [isMonthPicker]="true"
          [isMonthPeriodRestricted]="false"
          [yearsBack]="periodPickerYearsBack"
        ></bspl-period-picker>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="dataSource.loading$ | async"
    [rowDetailTemplate]="rowDetailTemplate"
  >
  </bspl-grid-table>
</bspl-list-view>

<ng-template #documentLinkTemplate let-documentNumber="value">
  <a class="link" *ngIf="canReadDocuments" (click)="onOpenDocument(documentNumber)">{{ documentNumber }}</a>
  <ng-container *ngIf="!canReadDocuments">{{ documentNumber }}</ng-container>
</ng-template>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="document.rejected.columns.errorValue" [value]="row.errorValue"></bspl-property>
      <bspl-property label="document.rejected.columns.dishElement" [value]="row.dishElement"></bspl-property>
      <bspl-property
        label="document.rejected.columns.relatedDocumentNumber"
        [value]="row.relatedDocumentNumber"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property label="document.rejected.columns.airlineName" [value]="row.airline?.localName"></bspl-property>
      <bspl-property label="document.rejected.columns.agentName" [value]="row.agent?.name"></bspl-property>
      <bspl-property
        label="document.rejected.columns.rejectionPeriod"
        [value]="getPeriod(row.rejectionPeriod)"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
