@import 'theme/variables/index';

$sections-border: 1px solid $gray-neutral;

.sectionTitle {
  color: $blue-primary;
  font-weight: bold;
  font-size: $font-size-l;
}

ul.listForm {
  list-style: none;
  margin: 0;
  padding: 0;

  &.listForm--reduced {
    .listForm__header.row,
    .listForm__line.row,
    .listForm__footer.row {
      margin-left: 0;
      margin-right: 0;

      & > div {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .listForm__header {
    &:first-child {
      padding-top: 0;
    }

    .listForm__label {
      font-size: $font-size-s;
      font-weight: bold;
      float: right;
      color: $gray-deep;
      padding-bottom: $spacing-xxs;
    }
  }

  .listForm__header,
  .listForm__line {
    border-bottom: $sections-border;
  }

  .listForm__line {
    font-size: $font-size-m;

    &:hover {
      background-color: $gray-light;
    }

    .line--centered {
      line-height: 36px;

      i {
        vertical-align: middle;
      }
    }

    div.actions {
      text-align: center;
      padding: 0;

      i {
        font-size: 1.7rem;
        color: $gray-middle;
      }

      .icon-delete {
        cursor: default;
        color: $gray-middle;
      }

      .icon-delete:hover:not(.icon-disabled) {
        cursor: pointer;
        color: $red;
      }
    }

    &.row > div,
    div.row > div {
      &:last-child {
        bspl-input.listForm__label.listForm__label--numeric {
          & ::ng-deep input {
            padding: 0;
          }
        }
      }

      bspl-input {
        text-align: right;
      }
    }
  }

  .listForm__footer {
    .listForm__label__text,
    .listForm__label {
      font-size: $font-size-m;
      font-weight: bold;
      color: $blue-primary;
    }
  }

  .listForm__label:not(bspl-input),
  .listForm__label__text {
    font-size: $font-size-m;
  }

  .listForm__label__text,
  .listForm__label {
    color: $gray-deep;
    line-height: 36px;

    &.listForm__label--numeric {
      color: $gray-dark;
    }
  }

  .listFieldTextEmpty {
    color: $gray-middle !important;
  }

  bspl-input,
  bspl-input-select,
  bspl-input-select ::ng-deep bspl-select,
  bspl-input-select ::ng-deep bspl-input {
    margin-bottom: 0;
  }

  bspl-input {
    &.listForm__label.listForm__label--numeric.listForm__label--numeric--readonly ::ng-deep input {
      border: 0 !important;
      background-color: transparent;
      display: inline;
      text-align: right;

      &:focus {
        border: none !important;
        box-shadow: none;
      }
    }
  }

  /* Cell paddings */
  .listForm__header,
  .listForm__line,
  .listForm__footer {
    padding: 0.6rem $spacing-xs;

    &.listForm__header {
      padding-bottom: 0;
    }
  }

  /* Specific paddings for some labels */
  .listForm__header,
  .listForm__footer {
    .listForm__label {
      &,
      & ~ bspl-input {
        padding-right: 0.8rem;

        ::ng-deep .control__wrapper .control__error {
          margin-top: 0;
        }
      }
    }

    .listForm__label__text {
      padding-left: 0;
    }

    &.row,
    & .row {
      & div:last-child .listForm__label {
        &,
        & ~ bspl-input {
          padding-right: 0;
        }
      }
    }

    & .row div:last-child .listForm__label__text {
      padding-left: 0.8rem;
    }
  }
}

.listHorizontal {
  display: flex;

  .listHorizontal__item {
    border-right: 1px solid $gray-neutral;
    flex-grow: 1;
    min-width: 0;
    padding: 0 $spacing-m;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }

    .listHorizontal__label {
      color: $gray-deep;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .listHorizontal__value {
      word-break: break-word;

      .listFieldTextEmpty {
        color: $gray-middle;
      }
    }
  }
}
