@import 'theme/variables/index';

:host {
  .paragraph__text {
    color: $gray-dark;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin-bottom: $spacing-m;
  }

  div.data__table {
    padding: 0 $spacing-m;

    div.row.line__data {
      border-bottom: 1px solid $gray-neutral;
      font-size: $font-size-m;

      div:first-child {
        color: $gray-deep;
        padding: $spacing-xxs 0;
        line-height: $line-height-m;
      }

      div:not(:first-child) {
        color: $blue-primary;
        line-height: $line-height-m;
        padding: $spacing-xxs 0;
      }

      &:last-child {
        border-bottom: 0 solid transparent;
        margin-bottom: $spacing-m;
      }
    }
  }

  .row:last-child {
    margin-bottom: $spacing-m;
  }
}
