<form [formGroup]="form" (submit)="onFormSubmit($event)">
  <div class="row">
    <div class="col-md-12" *ngIf="showAutoLogoutMessage">
      <bspl-alert-message [message]="autoLogoutMessage" type="info"></bspl-alert-message>
    </div>
  </div>
  <div class="row radio-select">
    <div class="col-md-12">
      <bspl-radio-button-group
        [groupName]="'radioButtons'"
        [options]="radioButtonOptions"
        formControlName="reason"
        [label]="'trainingSite.logout.chooseReason' | translate"
        [isVertical]="true"
        class="feedback-radio"
      ></bspl-radio-button-group>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <p class="section-title">{{ 'trainingSite.logout.starRatingQuestion' | translate }}</p>
      <ngb-rating [max]="5" class="rating-selector" (rateChange)="onRateChange()" formControlName="rating">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100">
            <i class="material-icons not-filled" *ngIf="fill !== 100"> star_border </i>
            <i class="material-icons" *ngIf="fill === 100"> star </i></span
          >
        </ng-template>
      </ngb-rating>
      <p class="rate-experience" *ngIf="!ratingWasChanged">
        {{ 'trainingSite.logout.rateExperience' | translate }}
      </p>
      <p class="rate-experience-success" *ngIf="ratingWasChanged">
        {{ 'trainingSite.logout.thankYou' | translate }}
      </p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <p class="section-title">{{ 'trainingSite.logout.feedbackTitle' | translate }}</p>
      <bspl-textarea
        [placeholder]="'trainingSite.logout.feedbackQuestion' | translate"
        [textareaMaxLength]="10000"
        formControlName="textualFeedback"
      ></bspl-textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-button [label]="'trainingSite.logout.button.lbl' | translate" [type]="'submit'"></bspl-button>
    </div>
  </div>
</form>
