@import 'theme/variables/index';
@import 'components/form-page/form-page';

.upload-wrapper {
  padding-bottom: 4.5rem;

  .upload-info {
    padding: $spacing-m 0 $spacing-xs 0;
  }

  .upload-secondary-info {
    padding-top: $spacing-s;
    font-size: $font-size-s;
  }

  .upload-second-title {
    font-size: $font-size-l;
  }
}
