<div class="upload-wrapper row">
  <div class="col-6 separator-right">
    <h4>{{ config.data.secondaryTittleMass }}</h4>
    <p class="upload-info">
      {{ 'REFUNDS.files.massload.uploadMassFile.uploadMassFileDialog.infoMassload' | translate }}
    </p>
    <p class="upload-second-title">{{ config.data.secondaryTittleMass }}</p>
    <bspl-upload
      [mode]="uploadMassMode"
      [resetMode]="uploadMassMode"
      [isDragAndDropActive]="true"
      [uploadPath]="config.data.uploadPath"
      [files]="filesToMass"
      [validationRules]="validationMassRules"
      (uploadFinishedResult)="onUploadMassFinishedResult($event)"
      (filesChange)="onFilesMassChange($event)"
      (resetInitialMode)="onResetInitialMode()"
      (uploadStarted)="onUploadStarted()"
      (uploadFinished)="onUploadFinished()"
    ></bspl-upload>
    <p class="upload-secondary-info">
      {{ 'REFUNDS.files.massload.uploadMassFile.uploadMassFileDialog.infoSecondaryMassload' | translate }}
    </p>
  </div>
  <div class="col-6">
    <h4>{{ config.data.secondaryTittleAttach }}</h4>
    <p class="upload-info">
      {{ 'REFUNDS.files.massload.uploadMassFile.uploadMassFileDialog.infoAttachments' | translate }}
    </p>
    <p class="upload-second-title">{{ config.data.secondaryTittleAttach }}</p>
    <bspl-upload
      [mode]="uploadAttachMode"
      [resetMode]="uploadAttachMode"
      [isDragAndDropActive]="true"
      [isDisabled]="isAttachDisabled"
      [uploadPath]="config.data.uploadPath"
      [files]="filesToAttach"
      [validationRules]="validationAttachRules"
      (uploadFinishedResult)="onUploadAttachFinishedResult($event)"
      (filesChange)="onFilesAttachChange($event)"
      (resetInitialMode)="onResetInitialMode()"
      (uploadStarted)="onUploadStarted()"
      (uploadFinished)="onUploadFinished()"
    ></bspl-upload>
  </div>
</div>
