@import 'theme/variables/index';

:host {
  .files-link {
    font-weight: bold;
  }

  .subtitle {
    color: $gray-deep;
    font-size: $font-size-l;
    margin-left: $spacing-xxs;

    &.text {
      font-size: $font-size-m;
    }
  }

  & ::ng-deep .view-actions {
    display: flex;

    & bspl-button,
    bspl-split-button {
      margin-left: $spacing-m;
      vertical-align: middle;
    }

    & bspl-split-button {
      .p-menu {
        width: auto;
        right: 0 !important;
        left: auto !important;
      }

      .p-menuitem-text {
        width: max-content;
      }
    }
  }

  & ::ng-deep .list-view-action-bar .list-view-action-bar-content {
    align-items: baseline !important;
  }
}
