<bspl-list-view
  [title]="title"
  [filterFormatter]="filterFormatter"
  [hasFiltering]="true"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
  (filterButtonClicked)="onFilterButtonClicked($event)"
>
  <div bsplListViewTitle>
    <span class="subtitle text" *ngIf="readLastGlobalTicketingAuthority && lastImageRequest; else totalItems">
      {{ 'MENU.files.globalTa.subtitle.text' | translate }}
      <strong>{{
        lastImageRequestText | translate : locale.language : { date: lastImageRequest?.requestDate | dateTimeFormat }
      }}</strong>
    </span>

    <ng-template #totalItems>
      <span class="subtitle">{{
        'MENU.files.totalItemMessage' | translate : locale.language : { total: totalItems$ | async }
      }}</span>
    </ng-template>
  </div>

  <div bsplListViewButton *ngIf="isButtonTaImageAvailable">
    <ng-container *ngIf="!isGdsUserType">
      <bspl-button
        [label]="'MENU.files.globalTa.button.addTaImage' | translate"
        [design]="ButtonDesign.Secondary"
        [icon]="'add'"
        (onClick)="onGlobalImageRequest()"
      >
      </bspl-button>
    </ng-container>
    <ng-container *ngIf="isGdsUserType && buttonOptionActions">
      <bspl-split-button
        [mainOption]="buttonOptionActions.mainOption"
        [options]="buttonOptionActions.options"
        [design]="ButtonDesign.Secondary"
      ></bspl-split-button>
    </ng-container>
  </div>

  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="name"
          [label]="'MENU.files.reports.fileName' | translate"
          [placeholder]="'MENU.files.reports.placeholders.fileName' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          [options]="fileTypeOptions | async"
          formControlName="type"
          [label]="'MENU.files.reports.fileType' | translate"
          [multiple]="true"
        >
        </bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-datepicker
          formControlName="uploadDate"
          [label]="'MENU.files.reports.uploadDate' | translate"
          [placeholder]="'MENU.files.reports.placeholders.choose' | translate"
          [selectionMode]="'range'"
          [maxDate]="maxDate"
        ></bspl-datepicker>
      </div>
    </div>
  </form>

  <bspl-grid-table
    bsplListViewGrid
    columnMode="flex"
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="isLoading$ | async"
    [primaryActions]="tableActions"
    (actionClick)="onActionClick($event)"
    (rowLinkClick)="onRowLinkClick($event)"
    [showIconEmptyActions]="true"
  >
  </bspl-grid-table>
</bspl-list-view>
