<div class="header-container">
  <h2>
    <span><img class="user-icon" src="./../../../assets/images/users/user-icon.svg" alt="User Icon" /></span>
    {{ userPortalEmail$ | async }}
  </h2>
  <bspl-button
    *ngIf="isApplyChangesVisible"
    [label]="'common.applyChanges' | translate"
    [isDisabled]="!(isApplyChangesEnabled$ | async)"
    (onClick)="applyChanges()"
  ></bspl-button>
</div>
<bspl-tab-navbar class="profile-tabs">
  <bspl-tab-link
    *ngFor="let tab of tabs; trackBy: trackByIndex"
    [label]="tab.title"
    [routerLink]="tab.route"
  ></bspl-tab-link>
</bspl-tab-navbar>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
