@import 'theme/variables/index';

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.section {
  display: flex;
  padding: 0 $spacing-xl;
  flex: 1 1 auto; // flex: 1 behaves differently in this case in IE 11. https://makandracards.com/makandra/54644-do-not-use-flex-1-or-flex-basis-0-inside-flex-direction-column-when-you-need-to-support-ie11
}

.section-tabs {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: $white;
}

bspl-footer {
  margin-top: $spacing-xl;
}
