<div class="content" *ngIf="user$ | async; else splashScreen">
  <bspl-header
    class="header"
    [user]="user$ | async"
    [environmentLabel]="environmentLabel"
    [bsp]="bsp$ | async"
    [isMultiCountryUser]="isMultiCountryUser$ | async"
    (logout)="logout()"
    [isTrainingSite]="isTrainingSite"
  ></bspl-header>

  <bspl-menu [menuItems]="menuItems$ | async" (menuItemClick)="onMenuItemClick($event)"></bspl-menu>

  <bspl-menu-tabs
    [items]="tabs$ | async"
    [active]="activeTab$ | async"
    (closed)="closeTab($event)"
    (activated)="openTab($event)"
  ></bspl-menu-tabs>

  <div class="section">
    <div class="section-tabs">
      <router-outlet></router-outlet>
    </div>
  </div>

  <bspl-footer></bspl-footer>
</div>

<ng-template #splashScreen>
  <div class="app-loading">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</ng-template>
