@import 'theme/variables/index';

.editable-description-list {
  line-height: 20px;
  color: $gray-deep;
  background-color: $gray-subtle;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0;
  padding: $spacing-xl $spacing-xxxl;

  .header {
    font-size: $font-size-m;
    padding: 0;
    width: 100%;
    overflow: hidden;

    p {
      margin: 0;
      padding: 0.8rem;
      font-size: $font-size-s;
      border-bottom: 1px solid $gray-neutral;
      font-weight: bold;
    }

    p.label-name {
      float: left;
      width: 38%;
    }

    p.label-name.big {
      width: 38%;
    }

    p.description-name {
      float: left;
      width: 62%;
    }

    p.description-name.small {
      width: 62%;
    }
  }

  p.msg-no-items {
    margin-top: $spacing-m;
    font-weight: normal;
    text-align: center;
  }
}

.editable-description-list ul {
  list-style-type: none;
  padding: 0;

  li {
    line-height: auto;
  }
}
