<div class="editable-description-list">
  <div class="header">
    <p class="label-name">{{ labelName | translate }}</p>
    <p class="description-name">{{ descriptionName | translate }}</p>
  </div>
  <div class="items">
    <ul>
      <li *ngFor="let descriptionItem of descriptionItems">
        <bspl-editable-description
          [labelMaxLenght]="labelMaxLenght"
          [descriptionItem]="descriptionItem"
          [descriptionRowsLimit]="descriptionRowsLimit"
          [descriptionMaxLength]="descriptionMaxLength"
          [descriptionLineLimit]="descriptionLineLimit"
          [mandatoryDescription]="mandatoryDescription"
          [labelRegexValidation]="labelRegexValidation"
          [descriptionRegexValidation]="descriptionRegexValidation"
          [hasDisabledActions]="hasItemInEditMode"
          [labelAllCaps]="labelAllCaps"
          [canEdit]="canEdit"
          [canDelete]="canDelete"
          [canValidateDescription]="canValidateDescription"
          (saveRequest)="onActionRequest('change', $event)"
          (deleteRequest)="onActionRequest('delete', $event)"
          (editModeChange)="onEditModeChange($event)"
          (itemChange)="itemChange.emit($event)"
        ></bspl-editable-description>
      </li>
    </ul>
    <p class="msg-no-items" [hidden]="descriptionItems.length">{{ 'editableDescription.noItems' | translate }}</p>
  </div>
</div>
