<bspl-spinner [isLoading]="dataSource.isLoading$ | async" relativeTo="parent"></bspl-spinner>
<div class="description-view-header">
  <h3>{{ configuration.title | translate }}</h3>
  <bspl-button
    *ngIf="canCreate"
    [isDisabled]="invalidCreationRule != null"
    [label]="configuration.createButtonLabel"
    icon="mi md-18 add"
    [bsplTooltip]="invalidCreationRule?.message"
    (onClick)="addItem()"
  ></bspl-button>
</div>

<bspl-editable-description-list
  [dataSource]="dataSource"
  [parentId]="parentId$ | async"
  [labelName]="configuration.label.header | translate"
  [labelMaxLenght]="configuration.label.maxLength"
  [labelRegexValidation]="configuration.label.restrictToPattern"
  [descriptionRegexValidation]="configuration.description.restrictToPattern"
  [labelAllCaps]="configuration.label.allCaps"
  [descriptionName]="configuration.description.header | translate"
  [descriptionRowsLimit]="configuration.description.rowsLimit"
  [descriptionLineLimit]="configuration.description.lineLimit"
  [descriptionMaxLength]="configuration.description.maxLength"
  [mandatoryDescription]="configuration.description.isRequired"
  [entityName]="configuration.entityName | translate"
  [canValidateDescription]="configuration.description.canValidate"
  [canDelete]="canDelete"
  [canEdit]="canEdit"
  (editModeChange)="inEditMode = $event"
  (itemChange)="itemToSave = $event"
>
</bspl-editable-description-list>
