<div [formGroup]="form">
  <div class="text-content">
    <p>{{ infoText }}</p>
  </div>
  <section class="default-filters">
    <bspl-select
      formControlName="bsp"
      [options]="userBspOptions$ | async"
      [label]="'ADM_ACM.categorizationReasons.filters.bsp.label' | translate"
      [placeholder]="'ADM_ACM.categorizationReasons.filters.bsp.placeholder' | translate"
      [anyOption]="allBspFilteringOption"
      [appendToBody]="true"
      [autofocus]="true"
      [multiple]="true"
    >
    </bspl-select>
    <bspl-select
      formControlName="airline"
      [options]="airlineDropdownOptions"
      [label]="'ADM_ACM.categorizationReasons.filters.airline.label' | translate"
      [placeholder]="'sales.billingAnalysisDialog.airlineCode.placeholder' | translate"
      [appendToBody]="true"
      [autofocus]="true"
    >
    </bspl-select>
    <bspl-datepicker
      [label]="'ADM_ACM.query.filters.labels.issueDate' | translate"
      formControlName="issueDate"
      [placeholder]="'ADM_ACM.query.filters.placeholders.dateRange' | translate"
      [selectionMode]="'range'"
      [viewMode]="'month'"
      [showTodayButton]="false"
      [dateFormat]="'yy/mm'"
    ></bspl-datepicker>
  </section>
</div>
