@import 'theme/variables/index';

::ng-deep div.p-datepicker.p-component:not(.p-datepicker-touch-p) {
  width: 35rem;
}

::ng-deep bspl-select.dropdown-date-navigator:first-of-type {
  display: none;
}

.default-filters {
  margin: $spacing-m 0 $spacing-m 0;
}

.text-content p {
  color: $gray-deep;
  font-size: $font-size-m;
  margin-bottom: $spacing-xs;
}
