@import 'theme/variables/index';

$separator-padding: 50px;

.separator- {
  &right {
    border-right: 1px solid $gray-neutral;
    padding-right: $separator-padding;

    & + div {
      padding-left: calc(#{$separator-padding} - 1px);
    }
  }

  &top {
    border-top: 1px solid $gray-neutral;
    padding-top: $spacing-xl;
    margin-top: $spacing-xl;
  }

  &bottom {
    border-bottom: 1px solid $gray-neutral;
    padding-bottom: $spacing-xl;
    margin-bottom: $spacing-xl;
  }
}

.uppercase-input ::ng-deep {
  input {
    text-transform: uppercase;

    &::placeholder {
      text-transform: none;
    }
  }
}
