@import 'theme/variables/index';

$box-shadow-color: rgba(0, 47, 91, 0.1);
$box-shadow-below: 0 2px 8px 0 $box-shadow-color;

bspl-accordion-item {
  & ::ng-deep .accordionItem {
    background-color: $gray-subtle;
    margin-bottom: $spacing-xl;

    .accordionItem__title {
      box-shadow: $box-shadow-below;
    }

    .accordionItem__content {
      h4.section-title {
        color: $blue-primary;
        font-size: $font-size-l;
        font-weight: 500;
        margin-bottom: $spacing-m;
      }
    }
  }
}

bspl-accordion-item:last-of-type {
  & ::ng-deep .accordionItem {
    margin-bottom: $spacing-xs;
  }
}

.details-link {
  font-size: $font-size-m;
  margin-top: $spacing-s;
}

ul.listFields {
  li.listLine {
    margin-bottom: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    &:not(:first-child):last-child {
      border-bottom: none;
    }

    div {
      line-height: 36px;
    }
  }
}

ul.listForm {
  li.listForm__line,
  li.listForm__header,
  li.listForm__footer {
    padding-left: 0;
    padding-right: 0;
  }

  li > div {
    padding-right: 0.8rem;
    padding-left: 0.8rem;

    &:first-child {
      padding-left: $spacing-m;
    }

    &:last-child {
      padding-right: $spacing-m;
      text-align: right;
    }
  }

  .listForm__line {
    .listForm__label--text,
    .listForm__label--numeric {
      line-height: 36px;
      color: $blue-primary;
    }
  }
}
