@import 'components/form-list/form-list';

.alert-messages-wrapper {
  bspl-alert-message {
    display: block;
    margin-bottom: $spacing-xs;

    &:last-child {
      margin-bottom: $spacing-m;
    }
  }
}

.listForm {
  .listForm__header {
    .row > div {
      &:nth-child(1) {
        padding-left: 0;
        padding-right: 0;
      }

      &:nth-child(2) {
        padding-left: $spacing-xs;
        padding-right: $spacing-xs;
      }
    }
  }

  .listForm__line,
  .listForm__footer {
    .row > div {
      &:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
      }

      &:nth-child(3) {
        padding-left: $spacing-xs;
        padding-right: $spacing-xs;
      }
    }
  }
}
