<div [formGroup]="form">
  <div class="alert-messages-wrapper" *ngFor="let msg of amountAlertMessages">
    <bspl-alert-message [hidden]="msg.hidden | async" [message]="msg.message" [type]="msg.type"></bspl-alert-message>
  </div>
  <ng-container *ngIf="!isAcdmd">
    <span class="sectionTitle">{{ 'ADM_ACM.amounts.amount.title' | translate }}</span>
    <ul class="listForm">
      <li class="listForm__header">
        <div class="row">
          <div class="col-3 offset-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.header.agentInput' | translate }}</span>
          </div>
          <div class="col-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.header.airlineInput' | translate }}</span>
          </div>
          <div class="col-3">
            <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.header.difference' | translate }}</span>
          </div>
        </div>
      </li>

      <ng-container *ngFor="let field of calculationFields">
        <ng-container
          *ngTemplateOutlet="amountLine; context: { field: field, visible: calculationFieldsVisibility[field] | async }"
        ></ng-container>
      </ng-container>

      <li class="listForm__footer mb-3">
        <div class="row">
          <div class="col-3">
            <span class="listForm__label">
              <span class="listForm__label">
                <span>{{ 'ADM_ACM.amounts.total' | translate }}<span *ngIf="currency?.code">,</span>&nbsp;</span>
                <span>{{ currency?.code }}</span>
              </span>
            </span>
          </div>
          <div class="col-3 text-right">
            <span class="listForm__label listForm__label--numeric"> {{ agentTotal.value }} </span>

            <bspl-input #agentTotal [type]="'hidden'" [formControlName]="'agentTotal'"></bspl-input>
          </div>
          <div class="col-3 text-right">
            <span class="listForm__label listForm__label--numeric">
              {{ airlineTotal.value }}
            </span>

            <bspl-input #airlineTotal [type]="'hidden'" [formControlName]="'airlineTotal'"></bspl-input>
          </div>
          <div class="col-3 text-right">
            <span class="listForm__label listForm__label--numeric"> {{ totalAmount.value }} </span>

            <bspl-input #totalAmount [type]="'hidden'" [formControlName]="'totalAmount'"></bspl-input>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="isAcdmd">
    <div class="row">
      <div class="col-3" formGroupName="{{ getAcdmcFareGroupName() }}">
        <bspl-input
          [label]="'ADM_ACM.amounts.amount.section.fare' | translate"
          [formControlName]="'fare'"
          [placeholder]="amountPlaceholder"
        ></bspl-input>
      </div>
    </div>
  </ng-container>

  <ng-template #amountLine let-property="field" let-visible="visible">
    <li class="listForm__line" [hidden]="!visible">
      <div class="row">
        <div class="col-3">
          <span class="listForm__label">{{ 'ADM_ACM.amounts.amount.section.' + property | translate }}</span>
        </div>
        <div class="col-3" formGroupName="agentCalculations">
          <bspl-input
            [formControlName]="property"
            [isDisabled]="!visible"
            [placeholder]="amountPlaceholder"
          ></bspl-input>
        </div>
        <div class="col-3" formGroupName="airlineCalculations">
          <bspl-input
            [formControlName]="property"
            [isDisabled]="!visible"
            [placeholder]="amountPlaceholder"
          ></bspl-input>
        </div>
        <div class="col-3" formGroupName="differenceCalculations">
          <bspl-input
            class="listForm__label listForm__label--numeric listForm__label--numeric--readonly"
            [formControlName]="property"
            [isDisabled]="!visible"
            [isReadOnly]="true"
            [tabindex]="'-1'"
          ></bspl-input>
        </div>
      </div>
    </li>
  </ng-template>
</div>
