<div class="row">
  <div class="col-6">
    <bspl-chart-card
      [title]="'Card Title'"
      [sectionsTitle]="'Sections Title'"
      [paramTitle]="'Currency'"
      [paramValue]="'USD'"
      [sections]="sections"
    >
    </bspl-chart-card>
  </div>
</div>
