<bspl-spinner [isLoading]="isLoading" relativeTo="parent">
  <div [formGroup]="form">
    <div class="configuration-header">
      <h3>{{ 'menu.masterData.configuration.tipConsents.pageTitle' | translate }}</h3>
    </div>

    <div class="settings-container">
      <div class="settings-subcontainer">
        <bspl-input
          formControlName="minimumOfDaysToActivateAConsent"
          [label]="'menu.masterData.configuration.tipConsents.controls.minimum.label' | translate"
          [placeholder]="'menu.masterData.configuration.tipConsents.controls.minimum.placeholder' | translate"
          [type]="'number'"
        ></bspl-input>
        <bspl-input
          formControlName="maximumOfDaysToActivateAConsent"
          [label]="'menu.masterData.configuration.tipConsents.controls.maximum.label' | translate"
          [placeholder]="'menu.masterData.configuration.tipConsents.controls.maximum.placeholder' | translate"
          [type]="'number'"
        ></bspl-input>

        <bspl-select
          formControlName="bspIsoCountryCodesToShowAgentLevelConsents"
          [label]="'menu.masterData.configuration.tipConsents.controls.bsps.label' | translate"
          [placeholder]="'menu.masterData.configuration.tipConsents.controls.bsps.placeholder' | translate"
          [multiple]="true"
          [options]="bspOptions"
        ></bspl-select>
      </div>
    </div></div
></bspl-spinner>
