@import 'theme/variables/index';

:host {
  .configuration-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-xl;
  }

  .settings-container {
    background-color: $gray-subtle;
    padding: 4.1rem;
  }

  .settings-subcontainer {
    width: 40rem;
    margin: 0 auto;
  }
}
