<bspl-list-view
  [title]="'menu.masterData.settingsChanges.title'"
  [hasFiltering]="true"
  [filterFormatter]="displayFilterFormatter"
  [query]="dataSource.appliedQuery$ | async"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="userName"
          [label]="'menu.masterData.settingsChanges.filters.labels.userName' | translate"
          [placeholder]="'menu.masterData.settingsChanges.filters.placeholders.userName' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="module"
          [label]="'menu.masterData.settingsChanges.filters.labels.module' | translate"
          [placeholder]="'menu.masterData.settingsChanges.filters.placeholders.module' | translate"
        ></bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="parameter"
          [label]="'menu.masterData.settingsChanges.filters.labels.parameter' | translate"
          [placeholder]="'menu.masterData.settingsChanges.filters.placeholders.parameter' | translate"
        ></bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [rows]="dataSource.data$ | async"
    [columns]="columns"
    [isLoading]="dataSource.loading$ | async"
  >
  </bspl-grid-table>
</bspl-list-view>
