<div [formGroup]="form">
  <section class="bsp-filter">
    <bspl-select
      #bspDropdown
      formControlName="bsp"
      [options]="userBspOptions$ | async"
      [locked]="(userBspOptions$ | async).length === oneElement"
      [label]="'sales.billingAnalysisDialog.bsp.label' | translate"
      [placeholder]="'sales.billingAnalysisDialog.bsp.placeholder' | translate"
      [appendToBody]="true"
      [autofocus]="true"
    >
    </bspl-select>
  </section>
  <section class="default-filters">
    <div class="text-content">
      <p>{{ 'sales.billingAnalysisDialog.selectFilterText' | translate }}</p>
    </div>
    <bspl-select
      *ngIf="canQueryAirline"
      formControlName="airline"
      [options]="airlineDropdownOptions$ | async"
      [locked]="!hasValidBsp"
      [label]="'sales.billingAnalysisDialog.airlineCode.label' | translate"
      [placeholder]="'sales.billingAnalysisDialog.airlineCode.placeholder' | translate"
      [appendToBody]="true"
      [autofocus]="bspDropdown.locked"
    >
    </bspl-select>
    <bspl-select
      *ngIf="isAirlineUser"
      formControlName="agentGroup"
      [options]="agentGroupDropdownOptions$ | async"
      [locked]="!hasValidBsp"
      [label]="'sales.billingAnalysisDialog.agentGroupCode.label' | translate"
      [placeholder]="'sales.billingAnalysisDialog.agentGroupCode.placeholder' | translate"
      [appendToBody]="true"
      [virtualScroll]="true"
      [autofocus]="bspDropdown.locked && !canQueryAirline"
    >
    </bspl-select>
    <bspl-select
      *ngIf="canQueryAgent"
      formControlName="agent"
      [options]="agentDropdownOptions$ | async"
      [locked]="!hasValidBsp"
      [label]="'sales.billingAnalysisDialog.agentCode.label' | translate"
      [placeholder]="'sales.billingAnalysisDialog.agentCode.placeholder' | translate"
      [appendToBody]="true"
      [virtualScroll]="true"
      [autofocus]="bspDropdown.locked && !canQueryAirline"
    >
    </bspl-select>
    <bspl-period-picker
      formControlName="periodRange"
      [options]="periodDropdownOptions$ | async"
      [label]="'sales.billingAnalysis.period'"
      [yearsBack]="periodPickerYearsBack"
    ></bspl-period-picker>

    <bspl-checkbox
      *ngIf="hasAdmOrAcmPermission()"
      formControlName="isMultipopulation"
      [label]="'sales.billingAnalysisDialog.multipopulationText' | translate"
    ></bspl-checkbox>
  </section>
</div>
