<div class="container">
  <div><strong>Selected Option: </strong> {{ buttonMenuSelectedOption }}</div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <bspl-button-menu label="Issue" [options]="buttonMenuOptions"></bspl-button-menu>
    </div>
    <div class="col-md-4">
      <bspl-button-menu label="Issue" [options]="buttonMenuOptions" [btnDesign]="'secondary'"></bspl-button-menu>
    </div>
    <div class="col-md-4">
      <bspl-button-menu label="Issue" [options]="buttonMenuOptions" [disabled]="true"></bspl-button-menu>
    </div>
  </div>
</div>
