<div class="container-fluid custom-container">
  <div class="title h3">{{ 'DASHBOARD.tabs.general.subtabTitle' | translate }}</div>

  <div class="status-header dashboard-header">
    <div class="status-header-main">
      <ng-container *ngTemplateOutlet="dashboardHeaderTmpl"></ng-container>
    </div>
  </div>

  <div class="dashboard-sections-main">
    <div class="dashboard-left-section">
      <div class="status-header dashboard-insights-section" [hidden]="!dashboardChartData?.length">
        <h3 class="section-title">{{ 'DASHBOARD.sections.insights.title' | translate }}</h3>
        <div>
          <ng-container *ngTemplateOutlet="insightsTmpl"></ng-container>
        </div>
      </div>
      <!-- <div class="dashboard-searches-section"> -->
      <!--   <h3 class="section-title">{{ 'DASHBOARD.sections.searches.title' | translate }}</h3> -->
      <!--   <div class="search-item" *ngFor="let item of searchItems"> -->
      <!--     <ng-container *ngTemplateOutlet="searchesTmpl; context: { $implicit: item }"></ng-container> -->
      <!--   </div> -->
      <!-- </div> -->
      <div class="dashboard-quick-links-section">
        <h3 class="section-title">{{ 'DASHBOARD.sections.quickLinks.title' | translate }}</h3>
        <div class="quick-link-container">
          <div *ngFor="let item of quickLinks">
            <ng-container *ngTemplateOutlet="quickLinksTmpl; context: { $implicit: item }"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-right-section">
      <div class="dashboard-messages-section" *ngIf="externalLinks.length">
        <h3 class="section-title">{{ 'DASHBOARD.sections.externalLinks.title' | translate }}</h3>
        <div *ngFor="let link of externalLinks">
          <div class="news-item" *ngIf="link.url">
            <ng-container *ngTemplateOutlet="externalLinksTmpl; context: { $implicit: link }"></ng-container>
          </div>
        </div>
        <div class="news-item" *ngIf="isDefaultAdmInsightTmplVisible">
          <ng-container *ngTemplateOutlet="defaultAdmInsightTmpl"></ng-container>
        </div>
      </div>
      <div class="dashboard-messages-section">
        <h3 class="section-title">{{ 'DASHBOARD.sections.messages.title' | translate }}</h3>
        <div>
          <ng-container *ngTemplateOutlet="newsTmpl"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #searchesTmpl let-item>
  <div>
    <span class="link">{{ item.title }}</span>
    <span class="date">{{
      'DASHBOARD.sections.searches.date' | translate : locale.language : { value: item.date | date : 'dd/MM/yyyy' }
    }}</span>
  </div>
  <bspl-tag [value]="tag" [closeable]="false" *ngFor="let tag of item.tags"></bspl-tag>
</ng-template>

<ng-template #quickLinksTmpl let-item>
  <div>
    <a class="link" (click)="onQuickLinkClick($event, item)">{{ item.title | translate }}</a>
  </div>
</ng-template>

<ng-template #externalLinksTmpl let-link>
  <div>
    <a class="external-link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer"
      >{{ link.linkText }}
      <em class="material-icons icon-open_in_new"> open_in_new </em>
    </a>
    <div [innerHtml]="link.message"></div>
  </div>
</ng-template>

<ng-template #defaultAdmInsightTmpl>
  <div>
    <p class="external-link" (click)="openAdmInsightDialog()">
      {{ 'DASHBOARD.admInsight.title' | translate }}
      <em class="material-icons icon-open_in_new"> open_in_new </em>
    </p>
    <p>{{ 'DASHBOARD.admInsight.description' | translate }}</p>
  </div>
</ng-template>

<ng-template #dashboardHeaderTmpl>
  <div class="status-figures">
    <div class="figure airline-logo" *ngIf="airlineLogo$ | async as logo">
      <div class="dashboard-figure-brand">
        <img [src]="logo" alt="Airline Logo" class="logo-images" />
      </div>
    </div>
    <div class="figure" *ngFor="let kpi of kpis">
      <div class="figure-value">
        <ng-container *ngTemplateOutlet="fieldsDetails; context: { value: kpi.value?.toString() }"></ng-container>
      </div>
      <h4 class="section-figure-title">{{ kpi.name }}</h4>
      <div class="figure-description">
        <span>{{ kpi.description }}</span>
      </div>
      <div class="figure-expand link" *ngIf="kpi.permission | hasPermission">
        <a (click)="onKpiSeeAllClick($event, kpi)">{{ 'DASHBOARD.sections.link' | translate }}</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fieldsDetails let-value="value" let-image="image">
  <span>
    {{ value ? value : 'N/A' }}
  </span>
</ng-template>

<ng-template #insightsTmpl>
  <div class="status-figures charts-area">
    <div class="figure" *ngFor="let item of dashboardChartData">
      <div class="figure-content">
        <h4 class="section-figure-title mt-0">{{ item.title }}</h4>
        <div class="figure-subtitle">
          <span>{{
            'DASHBOARD.sections.insights.subtitle' | translate : locale.language : { value: item.agregator }
          }}</span>
        </div>
        <div class="figure-total">
          {{ 'DASHBOARD.sections.insights.total' | translate }}
          {{ item.total }}
        </div>
        <bspl-doughnut [doughnutChartData]="item.data" [showCustomLegend]="true"></bspl-doughnut>
        <a class="link mt-auto" (click)="onInsightSeeAllClick($event, item)">
          {{ 'DASHBOARD.sections.link' | translate }}
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #newsTmpl>
  <div class="news-item" *ngFor="let item of userNews?.data">
    <div [innerHtml]="item.message"></div>
    <!-- <bspl-text-collapsable [data]="item"></bspl-text-collapsable> -->
  </div>
</ng-template>
