@import 'theme/variables/index';

%base-section-design {
  background: $gray-subtle;
  border-radius: 4px;
  padding: $spacing-xl;
}

:host {
  .title {
    padding: $spacing-xl 0;
  }

  @import 'components/dashboard/dashboard-status-header';

  .custom-container {
    .dashboard-sections-main {
      margin-top: $spacing-xl;

      .dashboard-left-section {
        width: calc(100% - 30% - 30px);
        float: left;

        .status-header.dashboard-insights-section {
          @extend %base-section-design;

          margin-bottom: $spacing-xl;

          .status-figures {
            flex-wrap: nowrap;
            align-items: normal;

            .figure {
              padding: 0 $spacing-xl;
              margin-top: 0;

              .figure-subtitle {
                font-size: $font-size-s;
                font-weight: normal;
                line-height: $line-height-s;
                color: $gray-dark;
              }

              .figure-total {
                font-size: $font-size-l;
                line-height: $line-height-l;
                margin-top: $spacing-s;
              }

              .figure-value {
                margin-bottom: $spacing-m;
              }

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0;
              }
            }
          }
        }

        .dashboard-searches-section {
          @extend %base-section-design;

          .search-item {
            padding-top: $spacing-m;
            padding-bottom: $spacing-m;

            @extend %base-card-design;

            & > div {
              padding-bottom: $spacing-xs;
              margin-bottom: $spacing-xs;
              border-bottom: 1px solid $gray-neutral;

              .date {
                color: $blue-primary;
                float: right;
                font-size: $font-size-m;
              }
            }
          }
        }

        .dashboard-quick-links-section {
          @extend %base-section-design;

          .quick-link-container {
            padding-top: $spacing-m;
            padding-bottom: $spacing-xxs;

            @extend %base-card-design;

            & > div {
              padding-bottom: $spacing-xs;
              margin-bottom: $spacing-xs;
              border-bottom: 1px solid $gray-neutral;
            }

            & > div:last-child {
              border-bottom: 0 solid transparent;
            }
          }
        }
      }

      .dashboard-right-section {
        width: 30%;
        float: right;

        .dashboard-messages-section {
          @extend %base-section-design;

          margin-bottom: $spacing-xl;

          .news-item {
            @extend %base-card-design;

            .external-link {
              color: $blue-light;
              font-size: $font-size-l;
              cursor: pointer;

              em {
                font-size: $font-size-l;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .section-title {
        padding-bottom: $spacing-xl;
      }
    }
  }
}
