<ng-container *ngIf="!isCreatingAgentGroup">
  <bspl-agent-group-member-list *ngIf="agentGroup"></bspl-agent-group-member-list>
  <bspl-agent-group-invitations
    *ngIf="!agentGroup"
    (createGroup)="isCreatingAgentGroup = true"
  ></bspl-agent-group-invitations>
</ng-container>

<bspl-create-agent-group *ngIf="isCreatingAgentGroup" (cancel)="isCreatingAgentGroup = false"></bspl-create-agent-group>
