<p class="BodyText">
  <span lang="EN-GB"
    >This tab allows Agent Group Users to set different transaction parameters. You can navigate through the different
    configuration sections by clicking on each of the sections located in the left menu.</span
  >
</p>

<p class="BodyText">
  <span lang="EN-GB"
    >Please note that, for any configuration change to be definitive, it is necessary to click on
    <img border="0" height="30" src="agent_group/images/image282.jpg" />. It comprises the following options:</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  Email Alerts Settings
</p>

<p class="MsoNormal"><span lang="EN-GB">From this option, Agent Group users may configure email alerts:</span></p>

<p class="MsoNormal" align="center" style="page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="645" height="222" id="Imagen 7" src="agent_group/images/image019.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222472"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: Email alerts.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >Email alerts may be configured for Files and Agent Groups, for other users to be aware of the actions
    performed.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 18pt; color: blue; font-family: Arial; font-weight: 400">
  SFTP Settings
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  SFTP Configurations
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >This option allows Agent Group Users to configure and manage any SFTP accounts. The information concerning SFTP
    accounts is displayed on a table which indicates the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="margin-top: 0.25in; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"
    ><img border="0" width="645" height="237" id="Imagen 51" src="agent_group/images/image020.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222473"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: SFTP Configurations.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">SFTP Account Type: </span></b
  ><span lang="EN-GB">SFTP Accounts may be intended for “Download” or “Upload” purposes.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Login:</span></b
  ><span lang="EN-GB"> Login details.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status:</span></b
  ><span lang="EN-GB"> “Pending”, “Active”, “Non-existent” or “Existent”</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Action:</span></b
  ><span lang="EN-GB"></span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      >&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;When the status is “Pending” or “Active”, the available action is
      “Modify”.</span
    ></b
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      >&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;When the status is “Expired”, the available action is “Reactive”</span
    ></b
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"
      >&nbsp;&nbsp;&nbsp;&nbsp;&#9702;&nbsp;&nbsp;When the status is “Non-existent”, the available action is
      “Create”</span
    ></b
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Public Keys:</span></b
  ><span lang="EN-GB"> public keys will be displayed under this field, if any.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is possible to create new SFTP Accounts by clicking on “Create” under the “Action” column. A modal box will be
    then displayed:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="318" height="380" id="Imagen 115" src="agent_group/images/image021.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222474"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">: Create SFTP Account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is necessary to create a password which meets the standard criteria (lower case, upper case and alphanumerical
    characters). Once done, it is necessary to click on “Create”, and the account will be available.</span
  >
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is likewise possible to modify any created SFTP account by clicking on “Modify” under the “Action” column. In
    this case, a new modal box is displayed to modify the account, where it is necessary to follow the same steps as in
    the creation of a new account:</span
  >
</p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="316" height="380" id="Imagen 116" src="agent_group/images/image022.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222475"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: Modification of a SFTP account.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >For any existing SFTP account, Agent Group Users may organize Public Keys by clicking on “Manage” under “Public
    Keys”.</span
  >
</p>

<p class="MsoNormal"><span lang="EN-GB">Once clicked, a new modal box is displayed:</span></p>

<p class="MsoNormal" align="center" style="text-align: center; page-break-after: avoid">
  <span lang="EN-GB"
    ><img border="0" width="380" height="403" id="Imagen 50" src="agent_group/images/image023.jpg"
  /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <a name="_Toc51222476"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: Manage Public Keys.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB"
    >It is then possible to upload public keys by either browsing files or dragging them into the modal box. These files
    must be in “.pub” extension. Once done, it is necessary to click on “Upload”.</span
  >
</p>
