<p class="BodyText">
  <span lang="EN-GB">This tab allows to query, edit and create Agent Group Sub-users.</span>
</p>

<p class="BodyText">
  <span lang="EN-GB"
    >If the main user would like to look for sub-users, it should click on
    <img border="0" height="30" src="agent_group/images/icon-filter.jpg" />. Once the wished fields have been filled in,
    it is necessary to click on <img border="0" height="30" src="agent_group/images/icon-blue-search.jpg" /> to obtain
    the results. Otherwise, it is possible to click on
    <img border="0" height="30" src="agent_group/images/image044.jpg" />.</span
  >
</p>

<p class="BodyText">
  <span lang="EN-GB"
    >To create any sub-users for the Agent Group, click on
    <img border="0" height="30" src="agent_group/images/+user-icon.jpg" />. A modal window is then displayed. Once all
    the fields are duly filled in, the
    <img border="0" height="30" src="agent_group/images/icon-darkblue-create.jpg" /> button turns available. To create
    the new user, click on <img border="0" height="30" src="agent_group/images/icon-darkblue-create.jpg" />To create the
    new user, click on <img border="0" height="30" src="agent_group/images/icon-create.jpg" /> and to leave this option,
    click on <img border="0" height="30" src="agent_group/images/icon-white-cancel.jpg"
  /></span>
</p>
