<div class="sub-user-permissions">
  <ng-container>
    <div class="permissions-container" *ngIf="canReadHosuPermissions">
      <bspl-selection-list
        [canEdit]="canEditPermissions"
        [listData]="permissions$ | async"
        (selectionChange)="onPermissionChange($event)"
      ></bspl-selection-list>
    </div>
    <bspl-locked-state
      *ngIf="!canReadHosuPermissions"
      [message]="'subUsers.profile.propertiesTab.bspNotPermissionPropertiesInfo' | translate"
    ></bspl-locked-state>
  </ng-container>
  <bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'viewport'"> </bspl-spinner>
</div>
