<div class="text-content" [formGroup]="form">
  <div class="type-selection">
    <bspl-radio-button-group
      formControlName="reasonType"
      [groupName]="'radioButtons'"
      [options]="radioButtonOptions"
      [label]="'ADM_ACM.categorizationReasons.dialog.radioButtonsMessage' | translate"
    ></bspl-radio-button-group>
  </div>

  <div class="reasons-form">
    <div>
      <bspl-input
        formControlName="newPrimaryReason"
        [label]="'ADM_ACM.categorizationReasons.dialog.primaryReason.inputLabel' | translate"
        [placeholder]="'ADM_ACM.categorizationReasons.dialog.primaryReason.inputPlaceholder' | translate"
        [locked]="!createNewReason"
      >
      </bspl-input>
    </div>
    <div>
      <bspl-select
        formControlName="existingPrimaryReason"
        [options]="primaryReasonOptions$ | async"
        [label]="'ADM_ACM.categorizationReasons.dialog.primaryReason.selectLabel' | translate"
        [placeholder]="'ADM_ACM.categorizationReasons.filters.primaryReason.placeholder' | translate"
        [locked]="createNewReason"
        [appendToBody]="true"
      ></bspl-select>
    </div>
    <div>
      <bspl-input
        formControlName="subReason"
        [label]="'ADM_ACM.categorizationReasons.dialog.subReason.label' | translate"
        [placeholder]="'ADM_ACM.categorizationReasons.dialog.subReason.placeholder' | translate"
      ></bspl-input>
    </div>
  </div>
</div>
