@import 'theme/variables/index';

.text-content {
  color: $gray-dark;
  padding-bottom: $spacing-s;

  span {
    font-family: inherit;
    line-height: $line-height-l;
  }
}

.type-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-m;

  ::ng-deep bspl-radio-button {
    label {
      padding-left: $spacing-xs;
    }
  }
}

.reasons-form {
  margin-bottom: $spacing-xl;
}
