<div [formGroup]="form">
  <p class="text-content">{{ 'MENU.files.agentReports.parameters.info' | translate }}</p>
  <bspl-select
    [options]="fileTypes$ | async"
    formControlName="type"
    [label]="'MENU.files.reports.fileType' | translate"
    [placeholder]="'MENU.files.reports.placeholders.choose' | translate"
    [clearable]="false"
    [appendToBody]="true"
    [autofocus]="true"
  >
  </bspl-select>
</div>
