@import 'theme/variables/index';

.text-content {
  color: $gray-dark;
  font-family: inherit;
  font-size: $font-size-m;
  line-height: $line-height-m;
}

bspl-select:last-child {
  margin-bottom: $spacing-xxxl;
}
