<div class="page-container">
  <img src="assets/images/help/noDoc.svg" alt="No document" />
  <div>
    <h2 class="help-title">{{ 'help.emptyPage.title' | translate }}</h2>
    <span class="help-sub-title">
      {{ 'help.emptyPage.subTitleFirstPart' | translate }}
      <a class="link" [href]="customerServicesLink" target="_blank">
        {{ 'help.emptyPage.subTitleSecondPart' | translate }}
      </a>
      {{ 'help.emptyPage.subTitleThirdPart' | translate }}
    </span>
  </div>
</div>
