@import 'theme/variables/index';

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xxxxl 0;

  .help-title {
    margin-top: $spacing-xxxl;
    margin-bottom: $spacing-xs;
  }

  .help-sub-title {
    color: $gray-dark;
    font-size: $font-size-l;
    line-height: $line-height-m;
  }
}
