<form [formGroup]="form" (submit)="onFormSubmit($event)">
  <div class="row">
    <div class="col-md-12">
      <bspl-alert-message [message]="notificationMessage" type="info"></bspl-alert-message>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.user-data.email.lbl' | translate"
        [placeholder]="'trainingSite.user-data.email.placeholder' | translate"
        [customErrorMessages]="emailCustomErrorMessages"
        formControlName="email"
        [maxLength]="255"
      ></bspl-input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-select
        [options]="bspOptions"
        [label]="'trainingSite.user-data.bsp.lbl' | translate"
        [placeholder]="'trainingSite.user-data.bsp.placeholder' | translate"
        formControlName="bspNames"
        [customErrorMessages]="bspNamesCustomErrorMessages"
        [multiple]="true"
      ></bspl-select>
    </div>
  </div>
  <div class="row" *ngIf="showAirlineCode">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.user-data.airlineCode.lbl' | translate"
        [placeholder]="'trainingSite.user-data.airlineCode.placeholder' | translate"
        formControlName="code"
        [customErrorMessages]="airlineCodeCustomErrorMessages"
        [maxLength]="3"
      ></bspl-input>
    </div>
  </div>
  <div class="row" *ngIf="showAgentCode">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.user-data.agentCode.lbl' | translate"
        [placeholder]="'trainingSite.user-data.agentCode.placeholder' | translate"
        formControlName="code"
        [customErrorMessages]="agentCodeCustomErrorMessages"
        [maxLength]="7"
      ></bspl-input>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.user-data.firstname.lbl' | translate"
        [placeholder]="'trainingSite.user-data.firstname.placeholder' | translate"
        formControlName="firstName"
        [maxLength]="255"
      ></bspl-input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-input
        [label]="'trainingSite.user-data.lastname.lbl' | translate"
        [placeholder]="'trainingSite.user-data.lastname.placeholder' | translate"
        formControlName="lastName"
        [maxLength]="255"
      ></bspl-input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <bspl-button
        [isDisabled]="!this.form.valid"
        [label]="'trainingSite.user-data.button.lbl' | translate"
        [type]="'submit'"
      ></bspl-button>
    </div>
  </div>
</form>
