<bspl-list-view
  [title]="tableTitle"
  [hasFiltering]="true"
  [hasDownloading]="true"
  [canDownload]="dataSource.hasData$ | async"
  [query]="dataSource.appliedQuery$ | async"
  [filterFormatter]="displayFormatter"
  (download)="onDownload()"
  (filterButtonClicked)="onFilterButtonClicked($event)"
  (queryChange)="loadData($event)"
>
  <form bsplListViewFilter [formGroup]="searchForm">
    <!-- Highlighted filter -->
    <div class="highlighted-filter">
      <bspl-select
        [options]="userBsps"
        formControlName="bspId"
        [label]="'MASTER_DATA.agentGroup.query.filters.bsp' | translate"
        [placeholder]="'MASTER_DATA.agentGroup.query.placeholders.choose' | translate"
        [isDisabled]="!userBsps?.length"
        [locked]="isBspFilterLocked"
        [clearable]="false"
      >
      </bspl-select>
      <span>{{ 'MASTER_DATA.agentGroup.query.highlightedBspText' | translate }}</span>
    </div>

    <!-- Other filters -->
    <div class="row">
      <div class="form-group col-md-3">
        <bspl-input formControlName="iataCode" [label]="'MASTER_DATA.agentGroup.query.columns.userID' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input formControlName="creator" [label]="'MASTER_DATA.agentGroup.query.columns.creator' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="organization"
          [label]="'MASTER_DATA.agentGroup.query.columns.organization' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input formControlName="name" [label]="'MASTER_DATA.agentGroup.query.columns.name' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input formControlName="email" [label]="'MASTER_DATA.agentGroup.query.columns.email' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-select
          formControlName="status"
          [options]="statusOptions"
          [label]="'MASTER_DATA.agentGroup.query.columns.status' | translate"
        ></bspl-select>
      </div>
      <div class="form-group col-md-3">
        <bspl-input formControlName="address" [label]="'MASTER_DATA.agentGroup.query.rowDetails.address' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input formControlName="locality" [label]="'MASTER_DATA.agentGroup.query.rowDetails.locality' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input formControlName="postCode" [label]="'MASTER_DATA.agentGroup.query.rowDetails.postCode' | translate">
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="telephone"
          [label]="'MASTER_DATA.agentGroup.query.rowDetails.telephone' | translate"
        >
        </bspl-input>
      </div>
      <div class="form-group col-md-3">
        <bspl-input
          formControlName="members"
          [label]="'MASTER_DATA.agentGroup.query.columns.numberMembers' | translate"
        >
        </bspl-input>
      </div>
    </div>
  </form>
  <bspl-grid-table
    bsplListViewGrid
    [columns]="columns"
    [rows]="dataSource.data$ | async"
    [isLoading]="dataSource.loading$ | async"
    [primaryActions]="primaryActions | async"
    [rowDetailTemplate]="rowDetailTemplate"
    [showIconEmptyActions]="true"
    (actionsMenuClick)="onGetActionList()"
    (actionClick)="onActionClick($event)"
  ></bspl-grid-table>
</bspl-list-view>

<!-- Details Row Template -->
<ng-template #rowDetailTemplate let-row="row" let-column="column">
  <div class="row row-with-separators row-with-large-gutters m-0 pt-5 pb-5">
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property
        label="MASTER_DATA.agentGroup.query.rowDetails.address"
        [value]="row.user.contactInfo.address"
      ></bspl-property>
      <bspl-property
        label="MASTER_DATA.agentGroup.query.rowDetails.locality"
        [value]="row.user.contactInfo.city"
      ></bspl-property>
    </bspl-property-list>
    <bspl-property-list class="col-md-4 col-sm-4 property-list-compact">
      <bspl-property
        label="MASTER_DATA.agentGroup.query.rowDetails.telephone"
        [value]="row.user.contactInfo.telephone"
      ></bspl-property>
      <bspl-property
        label="MASTER_DATA.agentGroup.query.rowDetails.postCode"
        [value]="row.user.contactInfo.postCode"
      ></bspl-property>
    </bspl-property-list>
  </div>
</ng-template>
