<bspl-activity-comment
  class="pdf-hide-in"
  *ngIf="isCommentingVisible"
  [disabled]="isCommentingDisabled"
  [fileUploadPath]="fileUploadPath"
  [commentAdded$]="commentAdded$"
  (sendComment)="onCommentClick($event)"
>
</bspl-activity-comment>
<bspl-activity-header (filterSelect)="onFilterChange($event)" class="pdf-hide-in"></bspl-activity-header>
<bspl-activity-list
  class="pdf-page-break-inside-avoid"
  [activities]="filteredActivities"
  (downloadFile)="onDownloadFile($event)"
></bspl-activity-list>
