<div *ngIf="pbd$ | async as pbd">
  <bspl-floating-panel>
    <bspl-pbd-header
      [pbd]="pbd"
      [issueButtonEnabled]="isFormValid"
      [issueButtonVisible]="isIssueRoute"
      [loggedUserType]="loggedUserType$ | async"
      (issue)="onIssue()"
      (agreementChange)="onAgreementChange($event)"
      (heightChange)="onHeaderHeightChange($event)"
    >
      <bspl-accordion-item-selection [accordion]="accordion"></bspl-accordion-item-selection>
    </bspl-pbd-header>
  </bspl-floating-panel>
  <div class="main-container">
    <div class="row">
      <section class="col-md-9 pbd-details">
        <div class="details-container">
          <bspl-accordion #accordion [multipleItemsOpen]="true" [scrollOffset]="headerHeight">
            <bspl-accordion-item
              [id]="'1'"
              [title]="'postBillingDisputes.pbdDetails.sections.details' | translate"
              [open]="true"
              class="pdf-page-break-inside-avoid"
            >
              <bspl-pbd-form
                [pbd]="pbd"
                (amountChange)="onAmountChange($event)"
                (formValid)="setFormValidity($event)"
              ></bspl-pbd-form>
            </bspl-accordion-item>
            <bspl-accordion-item
              [id]="'2'"
              [title]="'postBillingDisputes.pbdDetails.sections.process' | translate"
              [open]="true"
              class="pbd-process-section pdf-page-break-inside-avoid"
            >
              <bspl-process-section
                *ngIf="!isIssueRoute"
                [pbd]="pbd"
                (download)="onDownload($event)"
              ></bspl-process-section>

              <bspl-vertical-stepper-item [isActive]="false" class="not-issued-notification" *ngIf="isIssueRoute">
                <bspl-alert-message
                  class="notification-bubble"
                  [message]="'postBillingDisputes.pbdDetails.messages.notIssuedNotification' | translate"
                  type="info"
                ></bspl-alert-message>
              </bspl-vertical-stepper-item>
            </bspl-accordion-item>
          </bspl-accordion>
        </div>
      </section>
      <aside class="col-md-3">
        <bspl-pbd-activity-comment-form
          *ngIf="(Permissions.updatePbdState | hasPermission) && isCommentingEnabled(pbd)"
          [pbd]="pbd"
          [isLoading]="loading$ | async"
          (send)="onCommentSend($event)"
          #commentForm
        >
        </bspl-pbd-activity-comment-form>
        <bspl-pbd-activity-header (filterSelect)="onFilterChange($event)"></bspl-pbd-activity-header>
        <bspl-pbd-activity-list
          [activities]="getFilteredActivities(pbd)"
          [pbd]="pbd"
          (download)="onDownload($event)"
        ></bspl-pbd-activity-list>
      </aside>
    </div>
  </div>
</div>
