@import 'theme/variables/index';

:host {
  margin-top: $spacing-m;

  bspl-floating-panel ::ng-deep .floating-panel-content {
    // Fixes issue with actions panel
    overflow: visible !important;
  }

  .main-container {
    margin: $spacing-xl 0;

    .row {
      margin: $spacing-xl 0;
    }

    .pbd-details {
      padding-left: 0;
    }

    .pbd-process-section::ng-deep {
      .accordionItem {
        margin-top: $spacing-xl;
      }
    }

    .not-issued-notification::ng-deep {
      margin: $spacing-xl auto;
      display: block;
      width: 56.8rem;

      div.stepperItem--main {
        div.stepperItem--content {
          margin-top: -5.5rem;
        }
      }
    }
  }
}
