<div class="wrapper">
  <div class="header-container">
    <div class="header-title">
      <h3>{{ 'sales.advancedPayment.request.viewTitle' | translate }}</h3>
    </div>
    <div class="header-actions">
      <bspl-button
        [label]="'BUTTON.DEFAULT.DISCARD'"
        [design]="buttonDesign.Tertiary"
        (onClick)="discardChanges()"
      ></bspl-button>
      <bspl-button
        [label]="'sales.advancedPayment.request.createButton'"
        (onClick)="createRequest()"
        [isLoading]="isCreateButtonLoading"
      ></bspl-button>
    </div>
  </div>
  <div>{{ 'sales.advancedPayment.request.viewSubtitle' | translate }}</div>

  <div class="request-container" [formGroup]="form">
    <div class="row">
      <div class="col-4 separator-right">
        <h4 class="info-header">{{ 'sales.advancedPayment.request.formInfo' | translate }}</h4>
        <bspl-input
          [label]="'sales.advancedPayment.request.labels.requestNumber' | translate"
          [value]="'sales.advancedPayment.request.placeholders.requestNumberLocked' | translate"
          [isDisabled]="true"
        ></bspl-input>
        <bspl-input
          [label]="'sales.advancedPayment.request.labels.requestDate' | translate"
          [value]="'sales.advancedPayment.request.placeholders.requestDateLocked' | translate"
          [isDisabled]="true"
        ></bspl-input>
        <bspl-input
          [label]="'sales.advancedPayment.request.labels.type' | translate"
          [value]="'sales.advancedPayment.request.placeholders.typeLocked' | translate"
          [isDisabled]="true"
        ></bspl-input>
      </div>
      <div class="col-4 separator-right">
        <bspl-select
          [formControl]="agentControl"
          [label]="'sales.advancedPayment.request.labels.agentCode' | translate"
          [placeholder]="'sales.advancedPayment.request.placeholders.agentCode' | translate"
          [options]="agentOptions$ | async"
          [clearable]="true"
          [locked]="isAgentDropdownLocked"
          [virtualScroll]="true"
        ></bspl-select>
        <bspl-input
          formControlName="amount"
          type="number"
          [label]="'sales.advancedPayment.request.labels.amount' | translate"
          [placeholder]="'sales.advancedPayment.request.placeholders.amount' | translate"
        ></bspl-input>
        <bspl-input
          formControlName="subject"
          [label]="'sales.advancedPayment.request.labels.subject' | translate"
          [placeholder]="'sales.advancedPayment.request.placeholders.subject' | translate"
        ></bspl-input>
        <bspl-textarea
          formControlName="description"
          [label]="'sales.advancedPayment.request.labels.description' | translate"
          [placeholder]="'sales.advancedPayment.request.placeholders.description' | translate"
        ></bspl-textarea>
      </div>
      <div class="col-4">
        <bspl-upload
          [label]="'sales.advancedPayment.request.labels.uploadFiles' | translate"
          [isDragAndDropActive]="true"
          [mode]="uploadMode"
          [resetMode]="uploadMode"
          [uploadPath]="uploadPath"
          [fileTypesAccepted]="uploadFileTypes"
          [validationRules]="uploadValidationRules"
          [isRequired]="uploadRequired"
          responseFieldName="id"
          formControlName="attachments"
        ></bspl-upload>
      </div>
    </div>
  </div>
</div>
