@import 'theme/variables/index';
@import 'components/form-page/form-page';

.wrapper {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-xl 0;

    .header-title {
      font-size: $font-size-xxl;
      color: $blue-primary;
      display: flex;
      align-items: center;
      font-weight: normal;
    }

    .header-actions {
      bspl-button {
        margin-left: $spacing-s;
      }
    }
  }

  .request-container {
    margin-top: $spacing-xl;
    padding: $spacing-xl $spacing-xxxxl;
    background-color: $gray-subtle;

    .info-header {
      margin-bottom: $spacing-xs;
    }
  }
}
