<div class="container">
  <div class="row">
    <div class="col-4">
      <bspl-range-dropdown
        #range
        [formControl]="rangeControl"
        [label]="'Range with Slider (0-100)'"
        [heading]="'Time Range:'"
        [unit]="'day'"
        [min]="0"
        [max]="100"
      ></bspl-range-dropdown>
    </div>
    <div class="col-4">
      <bspl-range-dropdown
        #range
        [formControl]="rangeControl2"
        [label]="'No slider'"
        [heading]="'Amount Range:'"
      ></bspl-range-dropdown>
    </div>
  </div>
</div>
