<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Agent users with granted permissions may request Airlines to issue an ACM. This option displays the relation of all
    the already requests done by the Agent.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The <img border="0" width="161" height="30" id="Imagen 20" src="agent/images/image142.jpg" /> button leads Agent
    users to the ACM issuance screen. To get more information on the steps to follow, please refer to section </span
  ><u><span lang="EN-GB">"ADM Request"</span></u
  ><span lang="EN-GB">.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Please note that the involved Airline must approve or reject the ACM request to complete the process. If approved,
    the billing will comprise the deduction approved by the Airline. Agents must not deduct this amount from the
    remittance indicated in ICE; otherwise, irregularities can be assigned to the whole Agent IATA code.</span
  >
</p>
