<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Agent users may query and dispute Agency Credit Memos (ACM). Airlines may issue ACMs to compensate for any amount
    in the Agent’s remittance based upon a series of criteria they consider.
  </span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It should be noted that ACMs may alter the amount to be remitted by the Agent in a given period. Therefore, it is
    highly advisable to carefully check your reports (please refer to section </span
  ><u
    ><span lang="EN-GB"><i>Files</i></span></u
  ><span lang="EN-GB"
    >), which will indicate the total amount to be remitted considering ACMs. If you have any concern regarding the ACMs
    which have been issued, please check them individually.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">It is possible to query ACMAs, ACNTs and ACM Requests from this option:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="383" height="274" id="Imagen 36" src="agent/images/image115.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ACM.</span>
</p>
