<p class="MsoNormal" style="margin-top: 6pt; line-height: normal">
  <span lang="EN-GB"
    >This option allows Agent users to query and manage ADMs (Agency Debit Memos), ACMs (Agency Credit Memos), BSP
    Adjustment and ADM Policies:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="33%" src="agent/images/adm-acm-1.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: ADM/ACM option.</span>
</p>

<p class="MsoNormal">
  <span lang="EN-GB">In all options excepting “ADM Policies”, the following layout aspects must be considered:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">The existing documents are displayed on tables under each option.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Some of the fields on the tables include the
    <img border="0" width="22" height="22" id="Imagen 164" src="agent/images/image055.jpg" /> icon, which allows
    ordering the document list according to that field, in a descending or ascending way.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >This information is distributed in three main tabs: <b>Active</b>, <b>Archived</b> and <b>Deleted</b>.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Documents are displayed by default under the “Active” tab. Unread (new) documents are shown in bold type, whereas
    read (old) documents are not.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to mark Unread documents as Read ones by means of the
    <img border="0" width="22" height="22" id="Imagen 166" src="agent/images/image056.jpg" /> icon on each row and then
    select “Mark as Read” and vice-versa. Additionally, it is possible to select the
    <img border="0" width="22" height="22" id="Imagen 259" src="agent/images/image057.jpg" /> of each document and, once
    it turns into <img border="0" width="22" height="22" id="Imagen 258" src="agent/images/image058.jpg" />, the
    following is displayed at the top of the table:</span
  >
</p>

<p
  class="BulletLevel1"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-indent: 0in;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/adm-acm-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">2</span><span lang="EN-GB">: &quot;Options&quot; bar.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0.75in; text-indent: 0in">
  <span lang="EN-GB"
    >Then, simply click on <img border="0" width="98" height="30" id="Imagen 168" src="agent/images/image060.jpg" /> and
    select “Mark as Read” or “Mark as Unread”.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Archived documents are displayed under the “Archive” tab. It is possible to archive documents by means of the
    <img border="0" width="22" height="22" id="Imagen 170" src="agent/images/image061.jpg" /> and
    <img border="0" width="98" height="30" id="Imagen 171" src="agent/images/image062.jpg" /> by clicking on the
    “Archive” action, same as described above. Archived documents may be moved back to Active by following the same
    steps by clicking on the “Move to Active” action.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 0.75in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted documents are displayed under the “Deleted” tab.</span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >If an ADM or any other BSP adjustment (such as ACMs, ADMDs, ACMDs, SPDRs, SPCRs, ADNTs and ACNTs) was deleted, the
    user can track the activity by clicking on <img border="0" height="22" src="agent/images/3dots.jpg" /> and then on
    "Activity”.</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; margin-bottom: 10pt; text-align: center; page-break-after: avoid; text-align: center"
>
  <img border="0" width="25%" src="agent/images/adm-acm-3.jpg" />
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 25pt; text-align: center; font-style: oblique">
  <span lang="EN-GB"><i>Figure 3: Deleted ADM Activity.</i></span>
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Then a modal window will show the history of the document and the BSP adjustment relevant details.</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Just clicking next to ‘Show’ the user will see the options: ‘All’, ‘Workflow Events’, ‘Comments’ and ‘Attachments’
    (‘All’ will be the option by default).</span
  >
</p>

<p
  class="MsoNormal"
  style="
    margin-top: 0pt;
    margin-right: 0in;
    margin-bottom: 3pt;
    margin-left: 0in;
    text-indent: -0.25in;
    padding-left: 1.25in;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Reason for Memo of deleted adjustments will show once the user goes to the ‘Deleted’ tab, searches for the
    document and clicks on it. An expandable information row would show all relevant document information (including the
    Deletion Reason and Reason for Memo).</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0.25in; text-indent: -0.25in">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to download the attachments of one or several items at a time of the ADM/ACM family. Once the items
    are selected, click on the
    <img border="0" width="98" height="30" id="Imagen 171" src="agent/images/image062.jpg" /> button displayed and
    select “Download Attachments”. The attachments can be downloaded from the “Active” and the “Archive” tabs for ADM,
    ACM and BSP Adjustments different options.
  </span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to display the main details of a document by clicking on its details on the table (except for the
    Document Number, which displays its detailed view):</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="642" height="102" id="Imagen 177" src="agent/images/image065.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">3</span><span lang="EN-GB">: ADM/ACM main details.</span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >It is possible to add an Internal Comment to ADM/ACM family items (active, archived and deleted) that can only be
    seen by the user who added it. In order to add an Internal Comment to the ADM/ACM family items, the user can click
    on the <img border="0" width="22" height="22" id="Imagen 170" src="agent/images/image061.jpg" /> icon on the row of
    that item from the query and select “Internal Comment”, the last option of the list. The Internal Comment can also
    be added via the item Detailed View thanks to the
    <img border="0" height="22" src="agent/images/icon-internal-comment.jpg" /> icon. Once clicked, the following modal
    box appears:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="450" src="agent/images/adm-acm-4.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">4</span><span lang="EN-GB">: Internal Comment modal box.</span>
</p>

<p
  class="BulletLevel1"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: normal;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    ><span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >The Internal Comment is saved when the “Post” button is clicked. The “Delete” button is used to delete the comment
    entered. The user can modify the Internal Comment already added and save it again with the changes made. The user
    can see, in the Query List, if the items have an Internal Comment thanks to the
    <img border="0" height="32" src="agent/images/icon-bubbles.jpg" /> icon visible next to the item Number.</span
  >
</p>
