<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Agent Users will find the different policies applied by each Airline for ADM purposes under this subsection. In
    case of doubt for any ADM, policies comprise the necessary information to understand why the ADM was issued. The
    displayed table includes a list of the ADM policies by the Airlines the Agent is granted Ticketing Authority with.
    The information on this table is offered by means of the following fields:</span
  >
</p>

<p class="MsoNormal" align="center" style="line-height: normal; page-break-after: avoid; text-align: center">
  <span lang="EN-GB"><img border="0" width="646" height="123" id="Imagen 84" src="agent/images/image146.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: View of ADM policies.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Code: </span></b><span lang="EN-GB">Airline IATA code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name: </span></b><span lang="EN-GB">Airline name.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Designator: </span></b><span lang="EN-GB">Airline designator code.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Link</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Remarks: </span></b
  ><span lang="EN-GB">any possible remarks on the ADM policy made by the Airline.</span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Last Update: </span></b
  ><span lang="EN-GB">the date in which the policy was last updated.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >These policies are applicable to the Agent’s BSP, hence why the ADM policy by one airline may differ from one BSP
    to another. Likewise, each Airline counts with its own ADM Policy. Please note that the ADM Policy document provides
    an explanation on the reasons found by the Airline to issue an ADM. Any doubts related to an ADM must be clarified
    with the airline directly. Kindly note that IATA cannot interfere in any transaction between Agents and
    Airlines.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is likewise possible to filter results by the same fields as above. Multiple choice is possible.</span
  >
</p>
