<p
  class="BodyText"
  style="
    margin-top: 6pt;
    margin-right: 0in;
    margin-bottom: 0.25in;
    margin-left: 0in;
    text-align: justify;
    line-height: normal;
  "
>
  <span lang="EN-GB"
    >This option leads to the list of all the issued ADMs by the operating Airline in the accessed BSP. ADMs are stored
    under three tabs:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Active</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Archive</span>
</p>
<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deleted</span>
</p>

<p class="BodyText" style="text-align: justify">
  <span lang="EN-GB">In each tab, ADMs are listed in a table which shows the following fields per document:</span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <a name="_Hlk54767383"
    ><span lang="EN-GB"><img border="0" width="100%" src="agent/images/adma-1.jpg" /></span
  ></a>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 12pt; text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Query ADM.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <a name="_Hlk54767415"
    ><span lang="EN-GB" style="color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">country or territory where the ADM is issued.</span></a
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number: </span></b
  ><span lang="EN-GB"
    >The document number can be accompanied by an icon which indicates that there is an Internal Comment (<img
      border="0"
      height="35"
      src="agent/images/icon-bubbles.jpg"
    />) added by the user as personal note. The comment is only visible for the user who added it.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">ADM status can be:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending: ADMs which have not been billed yet.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Disputed: ADMs which have been disputed by the Agent. Please note that the amount disputed must not be deducted
    from the period remittance indicated in your billings and ICE.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Dispute Approved: ADMs in which the dispute is accepted by the Airline. The system will automatically calculate the
    remittance amount, no deduction must be performed by the Agent.</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Dispute Rejected: ADMs in which the dispute is rejected by the Airline.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Deactivated: ADMs which have been deactivated by the Airline.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB"
    >Deleted: ADMs which have been deleted from the system (any data are deleted 13 months after issuance).</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Pending Request:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Authorized:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><span lang="EN-GB">Rejected: ADMs which have been rejected in the Data Processing Centre (DPC).</span>
</p>

<p class="BulletLevel1" style="margin-left: 21.25pt; text-indent: 0in; line-height: normal">
  <span lang="EN-GB">the status of the ADM is accompanied by an icon showing whether it has been sent to the DPC </span>
</p>

<p class="BulletLevel1" style="margin-left: 21.25pt; text-indent: 0in; line-height: normal">
  <span lang="EN-GB">(</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 40" src="agent/images/image068.jpg" /></span
  ><span lang="EN-GB">), not sent yet (</span
  ><span lang="EN-GB"><img border="0" width="46" height="15" id="Imagen 47" src="agent/images/image069.jpg" /></span
  ><span lang="EN-GB">), or will not be sent (</span
  ><span lang="EN-GB"><img border="0" width="46" height="16" id="Imagen 49" src="agent/images/image070.jpg" /></span
  ><span lang="EN-GB">).</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b><span lang="EN-GB">the date in which the ADM is issued.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Date: </span></b
  ><span lang="EN-GB">date of dispute (if applicable, otherwise a dash would show this field is not applicable).</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b
  ><span lang="EN-GB">the date of the ADM being reported to the DPC.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b
    ><span lang="EN-GB"><img border="0" width="22" height="22" id="Imagen 251" src="agent/images/image071.jpg" /></span
    ><span lang="EN-GB">: </span></b
  ><span lang="EN-GB">this icon allows the Agent user to dispute the ADM, view its details or forward it to GDS.</span>
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in; line-height: normal">
  <span lang="EN-GB"
    >Some of these fields include the
    <img border="0" width="22" height="22" id="Imagen 275" src="agent/images/image072.jpg" /> icon, which allows
    ordering the ADM list according to that field, in a descending or ascending way.</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 0in; text-indent: 0in; line-height: normal">
  <span lang="EN-GB">&nbsp;</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The <img border="0" width="82" height="30" id="Imagen 322" src="agent/images/image073.jpg" /> button allows to
    display the information filtered according to the following criteria:</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/adma-2.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451913"></a><a name="_Toc34375441"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: ADM Filter.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document Number: </span></b>it must be manually introduced.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name: </span></b>options must be selected from a dropdown list. Multiple selection
  is possible.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b
  ><span lang="EN-GB">options must be selected from a dropdown list. Multiple selection is possible</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Forward to GDS</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency: </span></b>options must be selected from a dropdown list. Multiple selection is
  possible.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount Range: </span></b>the query can be filtered by a minimum value, a maximum value or both.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN Type:</span></b
  ><span lang="EN-GB"> Issue, Refund, Exchange or EMD. Multiple selection is possible.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date: </span></b>dates must be selected from the displayed calendar.
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Date</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Period: </span></b>the involved billing period.
</p>

<p
  class="MsoListParagraphCxSpMiddle"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting Date: </span></b>dates must be selected from the displayed calendar.
</p>

<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sent to DPC: </span></b
  ><span lang="EN-GB"
    >possible values are “Sent”, when the ADM was already sent to the Data Processing Centre; “Pending”, if the ADM has
    not been sent yet; or “N/A”.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Internal Comment: </span></b>"Yes"/"No".
</p>
<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Primary Reasons: </span></b
  ><span lang="EN-GB">options must be selected from a dropdown list. Multiple selection is possible.. </span>
</p>
<p
  class="MsoListParagraphCxSpLast"
  style="
    margin-top: 12pt;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0.25in;
    text-indent: -0.25in;
    line-height: 115%;
  "
>
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Sub-reasons: </span></b
  ><span lang="EN-GB"
    >options are populated on a dropdown list depending on the value introduced under “Primary Reasons”. Multiple
    selection is possible.
  </span>
</p>
<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: 115%">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Read/Unread: </span></b>"Read"/"Unread".
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">In order to perform a filtered query, it is necessary to click on </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 66" src="agent/images/image075.jpg" /></span
  ><span lang="EN-GB">. The </span
  ><span lang="EN-GB"><img border="0" width="62" height="30" id="Imagen 324" src="agent/images/image076.jpg" /></span
  ><span lang="EN-GB"> button disregards the filters previously selected. By default, no filter is applied. </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 325" src="agent/images/image077.jpg" /></span
  ><span lang="EN-GB">
    button allows the user to download the results in CSV or TXT format. Downloaded files include the “issue reason”
    field. It is possible to perform a detailed download by clicking on the
    <img border="0" height="30" src="agent/images/image166.jpg" /> icon.</span
  ><span lang="EN-GB" style="color: #172b4d"> </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM detailed view
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >In order to check the information of an ADM in detail, it is necessary to click on the Document Number or the
    <b><img border="0" width="22" height="22" id="Imagen 254" src="agent/images/image078.jpg" /></b>
    icon on the row of that ADM from the Query ADM table.</span
  >
</p>

<p class="MsoNormal" style="margin-top: 0.25in; line-height: normal">
  <span lang="EN-GB"
    >The ADM number leads directly to its detailed view. However, the
    <b><img border="0" width="22" height="22" id="Imagen 252" src="agent/images/image071.jpg" /></b>

    icon may display different options. It is necessary to click on “Details”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-bottom: 12pt; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="33%" src="agent/images/image079.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451915"></a><a name="_Toc34375443"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">3</span
  ><span lang="EN-GB">; ADM details.</span>
</p>

<p class="MsoNormal" style="margin-bottom: 12pt; line-height: normal">
  <span lang="EN-GB">Once clicked, the ADM detailed view is shown on a new tab:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image080.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451916"></a><a name="_Toc34375444"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">4</span
  ><span lang="EN-GB">: ADM detailed view.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <a name="_Hlk9432524"
    ><span lang="EN-GB"
      >The ADM detailed view is divided into four main sections: “ADM Header”, “Basic information”, “Details” and
      “Amount and Tax”.</span
    ></a
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Header
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">The ADM Header, which is always visible, contains its most prominent data:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image081.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451917"></a><a name="_Toc34375445"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">5</span
  ><span lang="EN-GB">: ADM Header.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <a name="_Hlk9432575"
    ><span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
      >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
    ><b><span lang="EN-GB">ADM Number</span></b></a
  >
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP Name</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Issue Date</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount</span></b>
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <a name="_Toc4751393"></a><a name="_Toc9347597"></a
  ><a name="_Ref9418004"
    ><span lang="EN-GB"
      >Besides, the Agent user may expand the whole form at once, or simply jump to one of the other sections (Basic
      Information”, “Details” or “Amount and Tax”):</span
    ></a
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image082.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451918"></a><a name="_Toc34375446"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">6</span
  ><span lang="EN-GB">: Collapse or expand ADM detailed view.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  ADM Basic Information
</p>

<p
  class="MsoNormal"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 0.25in; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >The ADM Basic Information contains the relevant data concerning the operating Airline and the Agent involved in the
    ADM.
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image083.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451919"></a><a name="_Toc34375447"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">7</span
  ><span lang="EN-GB">: ADM Basic Information</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">The Basic Information is divided into the following sections:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM General Data: </span></b><span lang="EN-GB">as stated on ADM data above:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Document number: </span></b><span lang="EN-GB">same as indicated above.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reporting date: </span></b
  ><span lang="EN-GB"
    >the date when the ADM was reported to the Data Processing Centre (DPC, the system which collects all transactions
    and elaborates the Agent’s reports).</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">BSP: </span></b><span lang="EN-GB">the BSP ISO code in which the ADM is performed.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Type: </span></b><span style="font-family: 'MS Mincho'">“</span><span lang="EN-GB">ADMA</span
  ><span style="font-family: 'MS Mincho'">”</span><span lang="EN-GB"> (for ADMs).</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Information: </span></b
  ><span lang="EN-GB">the following information concerning the Airline issuing the ADM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline phone number and address</span></b
  ><span lang="EN-GB"> available or hidden by clicking “Show Details” or “Hide Details”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Information: </span></b
  ><span lang="EN-GB">the following information concerning the Agent receiving the ADM is displayed:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent Code/Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent VAT number</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Agent phone number and address: </span></b
  ><span lang="EN-GB">available or hidden by clicking “Show Details” or “Hide Details”.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Airline Contact: </span></b
  ><span lang="EN-GB"
    >the following contact details concerning the Airline User in charge of the ADM are displayed:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Name</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Telephone/Fax</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">E-mail address</span></b>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADM Properties: </span></b
  ><span lang="EN-GB">the following ADM properties are indicated in under the ADM Basic Information:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">ADMA for: </span></b><span lang="EN-GB">“Issue”, “Refund”, “Exchange” or “EMD”</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">TOCA Type: </span></b><span lang="EN-GB">The Tax on Commission Amount type.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Currency</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Stat: </span></b><span lang="EN-GB">domestic or international.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Net Reporting option</span></b>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Details
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >The Details section contains the relevant information which motivates the ADM and is presented in two parts:
  </span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image084.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451920"></a><a name="_Toc34375448"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">8</span
  ><span lang="EN-GB">: ADM Details.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason Details: </span></b
  ><span lang="EN-GB">the information concerning the ADM Reason is indicated in two fields:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason: </span></b
  ><span lang="EN-GB"
    >the information concerning the different ADM actions are indicated under this subsection. These include “Reason for
    Issue”, “Reason for Dispute”, “Reason for Deactivation” or “Forward to GDS”.
  </span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RMIC (Reason for memo Issuance Code): </span></b
  ><span lang="EN-GB">the alphanumerical code assigned to the Reason stated above.</span>
</p>

<p class="MsoListParagraphCxSpMiddle" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Documents: </span></b
  ><span lang="EN-GB">the information from the document due to which the ADM is issued is indicated as follows:</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Passenger: </span></b><span lang="EN-GB">passenger’s full name.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">RTDN (Related Ticket / Document Number) Issue Date: </span></b
  ><span lang="EN-GB">the date of issue of the first related document can be indicated.</span>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Related Document Number: </span></b
  ><span lang="EN-GB"
    >the Airline indicates on this field the document or series of documents due to which the ADM is issued.</span
  >
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Amount and Tax
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Lastly, it is possible to check all the information concerning the ticket amount and the taxes related to it. This
    information is indicated in two sections:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image085.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451921"></a><a name="_Toc34375449"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">9</span
  ><span lang="EN-GB">: ADM Amount and Tax</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Amount: </span></b
  ><span lang="EN-GB"
    >the data related to Amount is presented in three columns, each of them corresponding to the Agent Input, the
    Airline Input and the Difference between them:</span
  >
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Fare</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax, Fees and Charges</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Commission</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax on Commission</span></b>
</p>

<p class="BulletLevel2" style="margin-left: 39.25pt; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: 'Arial Black', sans-serif; color: #1e32fa"
    >–<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Total</span></b>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Tax</span></b
  ><span lang="EN-GB">: finally, there is a relation of taxes presented by their tax codes and their amounts.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Forward ADM to GDS
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >When an ADM is received, Agent Users may forward it to the GDS through which the original ticket had been issued
    for verification purposes. This option is available in certain BSPs and subject to the ADM status: if it is
    “Deactivated”, “Deleted” or “Dispute Accepted” it is not possible to forward to GDS. In order to do so, it is
    necessary to click on the Document Number for the system to display the ADM details on a new tab. The top part of
    ADM detailed view will include the ADM Header as follows:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="100%" src="agent/images/image086.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451922"></a><a name="_Toc34375450"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">10</span
  ><span lang="EN-GB">: ADM Header: Forward ADM to GDS.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >It is therefore necessary to click on the
    <img border="0" width="172" height="30" id="Imagen 225" src="agent/images/image087.jpg" /> button. The following
    modal box is then displayed, in which the Agent User must provide the following information:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"> <img border="0" width="60%" src="agent/images/image088.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451923"></a><a name="_Toc34375451"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">11</span
  ><span lang="EN-GB">: Forward ADM to GDS modal box.</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Target GDS:</span></b
  ><span lang="EN-GB">
    the GDS which was used to issue the original document must be selected from a drop-down list.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Reason for forwarding ADM: </span></b
  ><span lang="EN-GB"
    >the Agent User must indicate a reason why the selected ADM is going to be forwarded to the GDS. Please note that
    this reason accepts a maximum of ten lines of 45 characters each.</span
  >
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Browse files, </span></b><span lang="EN-GB">if any.</span>
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >In order to confirm the forwarding, it is necessary to click on
    <img border="0" width="124" height="30" id="Imagen 144" src="agent/images/image089.jpg" />. Otherwise, it is
    possible to click the
    <img border="0" width="70" height="30" id="Imagen 29" src="agent/images/image090.jpg" /> button or to press the
    “Esc” key from the keyboard.</span
  >
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >Alternatively, ADMs can be forwarded from the ADM table. After clicking the
    <b><img border="0" width="22" height="22" id="Imagen 147" src="agent/images/image091.jpg" /></b>

    icon correspondent to the ADM to be forwarded, different options will be pulled down. Afterwards, the “Forward to
    GDS” option must be clicked:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="25%" src="agent/images/image092.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451924"></a><a name="_Toc34375452"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">12</span
  ><span lang="EN-GB">: Forward ADM to GDS from ADM Query.</span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Dispute ADM
</p>

<p class="MsoNormal" style="margin: 0in; line-height: normal">
  <span lang="EN-GB"
    >It is also possible to dispute an ADM from the “ADM Query option”. Once the list of ADMs is displayed, the Agent
    user may dispute any of them by clicking on the
    <b><img border="0" width="22" height="22" id="Imagen 6" src="agent/images/image093.jpg" /></b>

    icon. Once clicked, the following options are given:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="25%" src="agent/images/image094.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451925"></a><a name="_Toc34375453"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">13</span
  ><span lang="EN-GB">: Dispute option from ADM list.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >In order to start a dispute, it is necessary to click on “Dispute”. Otherwise, the Agent user may display the ADM
    detailed view to do so. At the top, the ADM Header, any ADM having “Pending” status includes this option:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="643" height="45" id="Imagen 334" src="agent/images/image095.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451926"></a><a name="_Toc34375454"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">14</span
  ><span lang="EN-GB">: Dispute option from ADM Header.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >At this point, it is possible to click on either “Dispute” from
    <img border="0" width="123" height="30" id="Imagen 1" src="agent/images/image096.jpg" /> button to directly get the
    Dispute modal box, or on the arrow. This arrow provides the following options, out of which it is necessary to click
    on “Dispute”:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="margin-top: 0.25in; text-align: center; line-height: normal; page-break-after: avoid"
>
  <span lang="EN-GB"><img border="0" width="145" height="114" id="Imagen 332" src="agent/images/image097.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center; line-height: normal">
  <a name="_Toc26451927"></a><a name="_Toc34375455"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">15</span
  ><span lang="EN-GB">: Dispute arrow options.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">All the different options to dispute an ADM lead to the following modal box:</span>
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="407" id="Imagen 330" src="agent/images/image098.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451928"></a><a name="_Toc34375456"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">16</span
  ><span lang="EN-GB">: ADM dispute modal box.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB">In order to confirm a dispute, it is necessary to complete the following fields:</span>
</p>

<p class="MsoListParagraphCxSpFirst" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Dispute Reason: </span></b
  ><span lang="EN-GB"
    >The Agent user may introduce a Dispute Reason of a maximum of ten lines of 45 characters each.
  </span>
</p>

<p class="MsoListParagraphCxSpLast" style="margin-left: 0.25in; text-indent: -0.25in; line-height: normal">
  <span lang="EN-GB" style="font-family: Symbol; color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Contact for Dispute correspondence:</span></b
  ><span lang="EN-GB">
    This contact can be an e-mail address or a phone number. The maximum length is 70 characters.</span
  >
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Since both fields are mandatory, the system warns the user about the necessity of completing them:</span
  >
</p>

<p
  class="MsoNormal"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="380" height="405" id="Imagen 335" src="agent/images/image099.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26451929"></a><a name="_Toc34375457"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">17</span
  ><span lang="EN-GB">: ADM Dispute modal box requirements.</span>
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once completed, the User may confirm the Dispute by clicking on
    <img border="0" width="74" height="30" id="Imagen 2" src="agent/images/image100.jpg" />. </span
  >To clear all the selected fields, click on
  <span lang="EN-GB"><img border="0" width="70" height="30" id="Imagen 336" src="agent/images/image101.jpg" /></span>

  or to press “Esc” from the keyboard<span lang="EN-GB"
    >. The system confirms that the ADM has been successfully disputed.
  </span>
</p>

<p style="margin-top: 0.35in; margin-bottom: 12pt; font-size: 15pt; color: blue; font-family: Arial; font-weight: 400">
  Disputed ADM
</p>

<p class="MsoNormal" style="line-height: normal">
  <span lang="EN-GB"
    >Once an ADM has been disputed, its status changes consequently from “Pending” into “Disputed”. Furthermore, the ADM
    detailed view includes the information concerning the dispute under “Details”.</span
  >
</p>

<p class="MsoNormal" style="margin-bottom: 0.25in; line-height: normal">
  <a name="_Hlk10556042"
    ><span lang="EN-GB"
      >Under the ADM Issue Reason, both the Dispute Reason and the Contact Information that were indicated in the ADM
      Dispute modal box are displayed. The involved Airline finds all disputed ADMs under ADM/ACM –ADM section, and must
      review each dispute details to accept or reject it. The ADM status changes consequently into “Dispute Rejected” or
      “Dispute Approved”.</span
    ></a
  >
</p>
