<p class="TableText">
  <span lang="EN-GB"
    >This option allows Agent user to query all issued ADNTs (non-ticket related debit memos). The information displayed
    in this option is the same as for ADMs. Please refer to section </span
  ><span lang="EN-GB"><i>ADM/ACM</i></span
  ><span lang="EN-GB">in order to know how to query and manage the information under this option.</span>
</p>
