<div class="activity-item-container" *ngIf="activityItem">
  <div class="row primary-row">
    <div class="col-md-9 main-title" [innerHtml]="activityItem.type" bsplInnerRouteLink></div>
    <div class="col-md-3 item-time text-right">{{ time }}</div>
  </div>
  <div class="row secondary-row">
    <div class="col-md-12">
      <span class="secondary-by">{{ 'activityPanel.labels.by' | translate }}</span>
      <a href="javascript:;">
        <span *ngIf="activityItem.author.code"> {{ activityItem.author.code + ',' }} </span>
        <span *ngIf="activityItem.author.contact?.name"> {{ activityItem.author.contact.name + ',' }} </span>
        <span *ngIf="activityItem.author.contact?.email"> {{ activityItem.author.contact.email }} </span>
      </a>
    </div>
  </div>
  <div class="row status-container" [ngClass]="{ 'status-has-reason': activityItem.reason }" *ngIf="isWorkflowItem">
    <div class="col-md-12">
      <div class="status-content">
        <span class="status-label"> {{ 'activityPanel.labels.status' | translate }}&nbsp;</span>
        <i class="material-icons arrow-icon pdf-hide-in"> arrow_forward </i>
        <span class="status-value">&nbsp;{{ activityItem.status }} </span>
      </div>
    </div>
  </div>
  <div class="row details-container" *ngIf="activityItem.reason">
    <div class="col-md-12">
      <div class="details-content">
        <div class="massload-file-value" *ngIf="activityItem.massloadFile">
          {{ activityItem.massloadFile }}
        </div>
        <div class="reason-label" *ngIf="isWorkflowItem">{{ 'activityPanel.labels.reason' | translate }}:</div>
        <div class="reason-value">{{ activityItem.reason }}</div>
      </div>
    </div>
  </div>
  <div class="row attachments-container">
    <div *ngFor="let item of activityItem.attachments" class="col-md-12">
      <div class="attachment-item" [ngClass]="{ 'attachment-item-disabled': !item.resourceUrl }">
        <div class="attachment-info">
          <div class="attachment-name">{{ item.name }}</div>
          <div class="attachment-size">
            {{ item.size | bytesFormat }}
          </div>
        </div>
        <div
          class="attachment-action pdf-hide-in"
          [bsplTooltip]="'activityPanel.fileExpired' | translate"
          [tooltipDisabled]="item.resourceUrl"
        >
          <a (click)="onDownloadFile(item.resourceUrl)"><i class="material-icons">get_app</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
