@import 'theme/variables/index';

$contents-padding: (2 * $spacing-xxxs) $spacing-m;

:host {
  .status-container {
    &.status-has-reason {
      margin-bottom: -1rem;

      .status-content {
        border-radius: 5px 5px 0 0;
      }
    }

    .status-content {
      background-color: $gray-deeper;
      color: $white;
      padding: $contents-padding;
      border-radius: $border-radius-large;
    }

    .status-label {
      color: $gray-middle;
    }

    .arrow-icon {
      color: $gray-middle;
      font-size: $font-size-m;
      vertical-align: middle;
    }
  }

  .details-container {
    margin-top: 1rem;

    .details-content {
      background-color: $gray-subtle;
      border-radius: 0 0 5px 5px;
      padding: $contents-padding;

      .massload-file-value {
        margin-bottom: $spacing-m;
      }

      .reason-label {
        color: $gray-deep;
        margin-bottom: $spacing-s;
      }

      .reason-value {
        color: $blue-primary;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
  }

  .attachments-container {
    margin-top: 1rem;

    .attachment-item {
      background-color: $gray-subtle;
      border-radius: $border-radius-large;
      margin-bottom: $spacing-xs;
      padding: $spacing-s $spacing-m;
      display: flex;

      &:hover {
        background: $white;
        box-shadow: 0 2px 4px 0 rgba(0, 47, 91, 0.06), 0 4px 8px 0 rgba(42, 51, 140, 0.12);
      }

      &.attachment-item-disabled {
        background: $gray-subtle;
        box-shadow: none;
      }

      .attachment-info {
        flex: 6;

        .attachment-name,
        .attachment-size {
          color: $gray-deep;
        }

        .attachment-name {
          line-height: $line-height-m;
          word-break: break-word;
        }

        .attachment-size {
          line-height: $line-height-s;
          font-size: $font-size-s;
        }
      }

      .attachment-action {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 3rem;
          height: 3rem;
          background: transparent;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: $gray-subtle;
          }

          i {
            color: $gray-middle;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
