<div class="hide-bottom-border">
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="!hasPaymentCardInformation && !hasAdditionalPaymentInformation"
  >
    <bspl-property-list
      class="section one-third"
      header="document.emd.additionalInformation.transactionDetails.sectionTitle"
    >
      <bspl-property
        label="document.emd.additionalInformation.transactionDetails.bspName"
        [value]="emd.bsp.name || emd.isoCountryCode"
      >
      </bspl-property>
      <bspl-property
        label="document.emd.additionalInformation.transactionDetails.gdsSystem"
        [value]="emd.gds.name || emd.transaction.reportingSystemIdentifier"
      >
      </bspl-property>
      <bspl-property
        label="document.emd.additionalInformation.transactionDetails.transactionCode"
        [value]="emd.documentIdentification.transactionCode"
      >
      </bspl-property>
      <bspl-property
        label="document.emd.additionalInformation.transactionDetails.reasonForIssuanceCode"
        [value]="emd.documentIdentification.reasonIssuanceCode"
      >
      </bspl-property>
    </bspl-property-list>
    <bspl-property-list
      class="property-list-align-right section one-third"
      header="document.emd.additionalInformation.accountInformation.sectionTitle"
    >
      <bspl-property
        label="document.emd.additionalInformation.accountInformation.vatGstAmount"
        [value]="emd.accountInformation.vatGstAmount | number : emd.decimalPrecision"
      >
      </bspl-property>
      <bspl-property label="document.emd.additionalInformation.accountInformation.agentCommission">
        ( {{ emd.accountInformation.agentCommissionPercent }}% )
        {{ emd.accountInformation.agentCommissionAmount | absoluteDecimal : emd.decimalPrecision }}
      </bspl-property>
      <bspl-property
        label="document.emd.additionalInformation.accountInformation.cancellationFees"
        [value]="emd.accountInformation.cancellationFees | absoluteDecimal : emd.decimalPrecision"
      >
      </bspl-property>
      <bspl-property
        label="document.emd.additionalInformation.accountInformation.cancellationFeesCommission"
        [value]="emd.accountInformation.cancellationFeesCommission | absoluteDecimal : emd.decimalPrecision"
      >
      </bspl-property>
      <bspl-property label="document.emd.additionalInformation.accountInformation.commissionControlAdjustment">
      </bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.emd.additionalInformation.accountInformation.onlineBillingStatementAgent"
        [value]="emd.accountInformation.onlineBillingStatementForAgent | absoluteDecimal : emd.decimalPrecision"
      >
      </bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.emd.additionalInformation.accountInformation.balancePayableToAirline"
        [value]="emd.accountInformation.balancePayableAirline | absoluteDecimal : emd.decimalPrecision"
      >
      </bspl-property>
      <bspl-property
        class="property-emphasis"
        label="document.emd.additionalInformation.accountInformation.netFareAmount"
        [value]="emd.accountInformation.netFareAmount | absoluteDecimal : emd.decimalPrecision"
      >
      </bspl-property>
    </bspl-property-list>
    <section class="section one-third">
      <bspl-tax
        [taxes]="emd.stdAmounts.taxes"
        [decimalPrecision]="emd.decimalPrecision"
        [totalTaxes]="emd.stdAmounts.totalTaxes"
      ></bspl-tax>
    </section>
  </div>
  <div
    class="section-container pdf-page-break-inside-avoid"
    [class.no-section-bottom-border]="hasNoPaymentCardSectionBorder"
  >
    <section *ngIf="emd?.paymentCardInformation?.length > 0" class="section full">
      <bspl-payment-card-info
        [data]="emd.paymentCardInformation"
        [decimalPrecision]="emd.decimalPrecision"
      ></bspl-payment-card-info>
    </section>
  </div>
  <div class="section-container no-section-bottom-border pdf-page-break-inside-avoid">
    <section *ngIf="emd?.easyPayInformation?.length > 0" class="section half">
      <bspl-easy-pay-info
        [data]="emd.easyPayInformation"
        [decimalPrecision]="emd.decimalPrecision"
      ></bspl-easy-pay-info>
    </section>
    <section *ngIf="emd?.netRemitInformation?.length > 0" class="section half">
      <bspl-net-remit-info
        [data]="emd?.netRemitInformation"
        [decimalPrecision]="emd.decimalPrecision"
      ></bspl-net-remit-info>
    </section>
    <section *ngIf="emd?.exchangeInformation?.length > 0" class="section half">
      <bspl-exchange-info [data]="emd.exchangeInformation" (openDocument)="openDocument($event)"></bspl-exchange-info>
    </section>
    <section *ngIf="conjunctions?.length > 0" class="section half">
      <bspl-conjunctions
        [data]="conjunctions"
        (openDocument)="openDocument($event)"
        [currentDocumentNumber]="emd.documentIdentification.documentNumber"
      ></bspl-conjunctions>
    </section>
  </div>
</div>
