<div #statusHeader class="status-header admAcm__header pdf-no-margin pdf-expand pdf-margin-top-l">
  <div [class.sticky]="!isHeaderOverlapped">
    <div class="status-header-main">
      <ng-container *ngTemplateOutlet="statusHeaderTmpl"></ng-container>
      <div class="actions pdf-hide-in">
        <bspl-button
          *ngIf="showIssueBtn"
          class="action"
          [label]="'issue' | translate"
          (onClick)="onIssueClick()"
        ></bspl-button>
        <bspl-button
          *ngIf="showIssuePendingBtn"
          class="action"
          [label]="'issue_pending_supervision' | translate"
          (onClick)="onIssuePendingClick()"
        ></bspl-button>
        <bspl-split-button class="ml-4" [options]="headerOptionActions" *ngIf="showDropdownBtn()"></bspl-split-button>
        <bspl-icon-button
          (click)="toggleHeaderSecondaryActionsMenu($event)"
          [icon]="'more_vert'"
          [isDisabled]="isSecondaryActionsMenuDisabled"
          [isLoading]="isPdfLoading"
        ></bspl-icon-button>
        <div *ngIf="showHeaderSecondaryActions" class="action-menu-container" #actionsMenuContainer>
          <ul class="actions-menu" (click)="$event.stopPropagation()">
            <li *ngFor="let action of headerSecondaryActions" (click)="onActionClick(action)">
              {{ action.label | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <bspl-accordion-item-selection
      [accordion]="accordion"
      [showStatusIcons]="true"
      class="pdf-hide-in"
    ></bspl-accordion-item-selection>
  </div>
</div>

<ng-template #statusHeaderTmpl>
  <div class="status-figures">
    <img class="pdf-img" src="./assets/images/toplogo.png" alt="iata logo" [hidden]="true" />
    <div
      class="figure pdf-header-figure"
      *ngFor="let field of statusHeaderFields"
      [class.inactive]="isFieldInactive(field)"
    >
      <div class="figure-title">
        <span>{{
          'ADM_ACM.statusHeader.' + field
            | translate
              : locale.language
              : {
                  admAcmType: 'ADM_ACM.type.' + admAcmType | translate,
                  transactionCode: transactionCode?.toUpperCase()
                }
        }}</span>
        <span *ngIf="field === amountField && currency?.code">,&nbsp; {{ currency?.code }}</span>
        <bspl-badge-information
          *ngIf="field === badgeInfoField"
          [value]="'REFUNDS.badgeInfo.label' | translate"
          [type]="badgeInfoType"
          [tooltipLabel]="badgeInfoLeyend"
        ></bspl-badge-information>
      </div>
      <div class="figure-value">
        <ng-container
          *ngTemplateOutlet="fieldsDetails; context: { $implicit: getFormattedField(field) }"
        ></ng-container>
        <span
          *ngIf="field === docNumberField && watching"
          class="watching material-icons-outlined"
          [bsplTooltip]="'watching' | translate"
          >remove_red_eye</span
        >
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fieldsDetails let-value>
  <span>
    {{ value ? value : 'N/A' }}
  </span>
</ng-template>
