<div class="container">
  <div class="row">
    <div class="col-md-12">
      <bspl-pagination
        [currentPage]="paginationConfig.currentPage"
        [itemsPerPage]="paginationConfig.itemsPerPage"
        [showOptions]="true"
        [totalItems]="paginationConfig.totalItems"
        [itemsPerPageOptions]="paginationConfig.itemsPerPageOptions"
      >
      </bspl-pagination>
    </div>
  </div>
</div>
