@import 'theme/variables/index';
@import 'theme/app/changed-checkbox';

$border: 1px solid $gray-neutral;

bspl-accordion-item {
  &.homu-user-access-section {
    & ::ng-deep .accordionItem {
      margin-top: $spacing-xl;

      .homu-user-access-checkbox {
        ::ng-deep .checkbox-container {
          margin-bottom: $spacing-m;
        }
      }

      .homu-user-access-title {
        margin-bottom: $spacing-s;

        .list-total-items {
          color: $gray-deep;
          font-size: $font-size-m;
          margin-left: $spacing-xxs;
        }
      }

      .homu-user-access-message {
        color: $gray-deep;
        margin-bottom: $spacing-s;
      }
    }
  }
}

.homu-user-properties-container {
  background-color: $gray-subtle;
  padding: $spacing-xl 0;
  font-size: $font-size-m;
  margin-top: $spacing-xl;

  .main-section {
    padding: 0 $spacing-xxxxl;

    .main-section-title {
      margin-bottom: $spacing-s;
    }

    .details-item {
      display: flex;
      align-content: center;
    }

    .details-info {
      height: 5rem;
      margin: 0 $spacing-xl 0 0;

      .details-link {
        padding: 0;
      }
    }
  }

  .border-bottom {
    border-bottom: $border;
  }
}
