<bspl-spinner [isLoading]="loading$ | async" [relativeTo]="'parent'">
  <bspl-accordion [multipleItemsOpen]="true">
    <bspl-accordion-item
      class="homu-user-access-section"
      [title]="'MENU.USERS_MAINTENANCE.HOMU_USERS.profile.tabNames.properties' | translate"
      [open]="true"
    >
      <div class="homu-user-properties-container">
        <div class="row row-with-separators m-0" [formGroup]="form">
          <div class="col-md-4 main-section">
            <h3 class="main-section-title">
              {{ 'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.general' | translate }}
            </h3>
            <bspl-property-list class="border-bottom">
              <bspl-property
                label="MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.userCode"
                [value]="user?.userCode"
              ></bspl-property>
              <bspl-property
                label="MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.status"
                [value]="'common.' + user?.status | translate"
              ></bspl-property>
              <bspl-property
                label="MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.registerDate"
                [value]="user?.registerDate | dateTimeFormat : 'date'"
              ></bspl-property>
              <bspl-property
                label="MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.expiryDate"
                [value]="user?.expiryDate | dateTimeFormat : 'date'"
              ></bspl-property>
            </bspl-property-list>
          </div>
          <div class="col-md-4 main-section">
            <div class="row">
              <div class="col-md-12">
                <h3 class="main-section-title">
                  {{ 'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.contactDetails' | translate }}
                </h3>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="portalEmail"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.portalEmail' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="name"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.name' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="organization"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.organization' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="telephone"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.telephone' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
          </div>
          <div class="col-md-4 main-section">
            <div class="row">
              <div class="col-md-12">
                <h3 class="main-section-title">
                  {{ 'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.addressDetails' | translate }}
                </h3>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="country"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.country' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="city"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.city' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="address"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.address' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
            <div class="row details-item">
              <div class="col-md-12">
                <bspl-input
                  formControlName="postCode"
                  [label]="'MENU.USERS_MAINTENANCE.HOMU_USERS.properties.labels.postCode' | translate"
                  [locked]="true"
                ></bspl-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </bspl-accordion-item>
  </bspl-accordion>
</bspl-spinner>
