<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">This option allows Agent Users to query all the GDS Assignments in that BSP.</span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    line-height: normal;
    page-break-after: avoid;
    text-align: center;
  "
>
  <span lang="EN-GB"><img border="0" width="645" height="130" id="Imagen 141" src="agent/images/image320.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26452039"></a><a name="_Toc34375569"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">1</span
  ><span lang="EN-GB">: GDS BSP Assignments.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB">For each GDS, the </span
  ><span lang="EN-GB" style="color: windowtext">following basic information is provided:</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB" style="color: windowtext">GDS Name</span></b>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Register Date</span></b>
</p>

<p class="BulletLevel1" style="line-height: normal">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Expiry Date</span></b>
</p>

<p class="BulletLevel1" style="line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refunds Enabled: </span></b><span lang="EN-GB">“Yes” or “No”.</span>
</p>

<p class="BulletLevel1" style="line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">“Active” or “Inactive”</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >At the top right corner, the
    <img border="0" width="82" height="30" id="Imagen 297" src="agent/images/image321.jpg" /> button allows displaying
    the information filtered according to different criteria. </span
  ><span lang="EN-GB">By default, no filter is applied. </span>
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 6pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"> <img border="0" width="645" height="146" id="Imagen 142" src="agent/images/image322.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="margin-bottom: 0.25in; text-align: center; line-height: normal">
  <a name="_Toc26452041"></a><a name="_Toc34375571"><span lang="EN-GB">Figure </span></a><span lang="EN-GB">2</span
  ><span lang="EN-GB">: GDS BSP Assignments Filter.</span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 12pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >In order to filter the results, the Agent User should select any of the following filter criteria:</span
  >
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">GDS Code / Name: </span></b
  ><span lang="EN-GB">multiple choice is possible from a drop-down list.</span>
</p>

<p class="BulletLevel1" style="line-height: normal">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Refunds Enabled: </span></b><span lang="EN-GB">“Yes” or “No”.</span>
</p>

<p class="BulletLevel1" style="margin-left: 18.7pt; text-indent: -18.7pt; line-height: normal">
  <span lang="EN-GB" style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b><span lang="EN-GB">Status: </span></b><span lang="EN-GB">“Active” or “Inactive”</span>
</p>

<p class="BulletLevel1" style="line-height: normal">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Register Date</b>
</p>

<p class="BulletLevel1" style="line-height: normal">
  <span style="color: #1e32fa"
    >●<span style="font: 7pt 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span
  ><b>Expiry Date</b>
</p>

<p class="BodyText" style="margin-bottom: 6pt; line-height: normal">
  <span lang="EN-GB">Once the filter fields have been selected, the user should click </span
  ><span lang="EN-GB"><img border="0" width="74" height="30" id="Imagen 14" src="agent/images/image311.jpg" /></span
  ><span lang="EN-GB">
    to launch the query. A list of Group Users that fulfil the filter conditions will be displayed.
  </span>
</p>

<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >Furthermore, it is possible to download the search results, either by default or filtered, by clicking on the </span
  ><span lang="EN-GB"><img border="0" width="106" height="30" id="Imagen 302" src="agent/images/image323.jpg" /></span
  ><span lang="EN-GB"> button. </span>
</p>
