<p
  class="BodyText"
  style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; margin-left: 0in; line-height: normal"
>
  <span lang="EN-GB"
    >This module allows Agent Users to query all the pertinent information concerning Airlines and Agent Groups.</span
  >
</p>

<p
  class="BodyText"
  align="center"
  style="
    margin-top: 0.25in;
    margin-right: 0in;
    margin-bottom: 12pt;
    margin-left: 0in;
    text-align: center;
    line-height: normal;
    page-break-after: avoid;
  "
>
  <span lang="EN-GB"><img border="0" width="194" height="195" id="Imagen 162" src="agent/images/image313.jpg" /></span>
</p>

<p class="MsoCaption" align="center" style="text-align: center">
  <span lang="EN-GB">Figure </span><span lang="EN-GB">1</span><span lang="EN-GB">: Master Data.</span>
</p>
