@import 'theme/variables/index';

.list-title {
  margin-bottom: $spacing-xl;
}

.accounts-container {
  background-color: $gray-subtle;
  padding: $spacing-xl 20rem;

  ::ng-deep .simple-table-cell {
    color: $gray-dark;
  }

  .account {
    &-action {
      color: $blue-light;
      cursor: pointer;
    }

    &-action-disabled {
      color: $gray-middle;
      cursor: auto;
    }

    &-action-separator {
      font-size: $font-size-l;
      color: $gray-dark;
      padding: 0 $spacing-xxxs;
    }
  }
}
