<bspl-spinner [isLoading]="loading$ | async" relativeTo="parent">
  <h3 class="list-title">
    {{ 'menu.masterData.configuration.publicApi.sectionTitle' | translate }}
  </h3>

  <div class="accounts-container">
    <bspl-simple-table class="accounts-table" [columns]="columns" [data]="data$ | async"></bspl-simple-table>
  </div>
</bspl-spinner>

<ng-template #actionsTemplate let-dataItem="dataItem">
  <ng-container *ngFor="let action of dataItem.actions; last as isLast">
    <a
      class="account-action"
      [class.account-action-disabled]="!hasUpdatePermission"
      (click)="onActionClick($event, action, dataItem)"
    >
      {{ 'menu.masterData.configuration.publicApi.action.' + action | translate }}
    </a>
    <span *ngIf="!isLast" class="account-action-separator">/</span>
  </ng-container>
</ng-template>
